<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>66850</key>
	<array>
	  <string>http://video.nen.com.cn/74595271169802240/20070807/434301.jpg</string>
	</array>
	<key>66849</key>
	<array>
	  <string>http://www.cnwnews.com/uploads/allimg/100112/0807271.jpg</string>
	</array>
	<key>66848</key>
	<array>
	  <string>http://img.ttbz8.com/%E6%98%8E%E6%98%9F%E5%A3%81%E7%BA%B8/%E9%A6%99%E6%B8%AF%E5%A5%B3%E6%98%8E%E6%98%9F/%E5%82%85%E9%A2%96/%E7%BC%A9%E7%95%A5%E5%9B%BEB/%E5%82%85%E9%A2%96_061.jpg</string>
	</array>
	<key>66846</key>
	<array>
	  <string>http://www.gznet.com/ent/xxbx/cjhrg/200905/W020090525291055031472.jpg</string>
	</array>
	<key>66847</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20091013/131G23V3Q_small.jpg</string>
	</array>
	<key>66845</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/s/h/2007-11-15/U2231P28T3D1792836F328DT20071115095405.jpg</string>
	</array>
	<key>66844</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/7/13/wanghaiping/1247470849450_33698.jpg</string>
	</array>
	<key>66843</key>
	<array>
	  <string>http://fs.zhenjiang365.cn/bbsatt/day_090310/63_vxUWPjA8E7Bz.jpg</string>
	</array>
	<key>66841</key>
	<array>
	  <string>http://p1.v.iask.com/351/263/15555766_1.jpg</string>
	</array>
	<key>66842</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/h/2005-09-20/U1326P28T3D845816F328DT20050920144014.jpg</string>
	</array>
	<key>66839</key>
	<array>
	  <string>http://img2.woopie.jp/getdata.php?pid=1a01657q438d</string>
	</array>
	<key>66840</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090416/161P63091D_small.jpg</string>
	</array>
	<key>66837</key>
	<array>
	  <string>http://img1.chinagba.com/medias/allimg/090804/1513321.jpg</string>
	</array>
	<key>66838</key>
	<array>
	  <string>http://image.yystr.com/yyimg/08/07/182c_b.jpg</string>
	</array>
	<key>66836</key>
	<array>
	  <string>http://www.zjol.com.cn/pic/0/02/95/01/2950162_662356.jpg</string>
	</array>
	<key>66835</key>
	<array>
	  <string>http://yule.tom.com/uimg/2008/10/30/liuyanling/1225333892544_139678.jpg</string>
	</array>
	<key>66834</key>
	<array>
	  <string>http://ent.cqnews.net/mx/gt/200808/W020080813507899712901.jpg</string>
	</array>
	<key>66833</key>
	<array>
	  <string>http://www.hongkongfans.cn/hiphotos.baidu/com/%E5%9C%A8%E6%B2%B5%E9%81%A5%E9%81%A5%E7%9A%84%E9%99%84%E8%BF%91/pic/item/7c69baf3b97f62c40b46e048.jpg</string>
	</array>
	<key>66832</key>
	<array>
	  <string>http://www.gznet.com/ent/xxbx/cjhrg/200909/W020090923433138078801.jpg</string>
	</array>
	<key>66831</key>
	<array>
	  <string>http://pp.a.5d6d.com/userdirs/0/f/loveyi/attachments/month_0905/0905271906b4d5950a71d26669.jpg</string>
	</array>
	<key>66830</key>
	<array>
	  <string>http://gzdaily.dayoo.com/res/1/1/2009-03/09/B1/res11_attpic_brief.jpg</string>
	</array>
	<key>66829</key>
	<array>
	  <string>http://www.fjsen.com/images/attachement/jpg/site42/20090318/xin_1103061808386563187816.jpg</string>
	</array>
	<key>66828</key>
	<array>
	  <string>http://images.hsw.cn/webimages/attachement/jpg/site2/20080813/000bcddce9e20a0c835b37.jpg</string>
	</array>
	<key>66827</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/06/35/89/6358948_999015.jpg</string>
	</array>
	<key>66826</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/y/p/2009-03-18/U1817P28T3D2425276F328DT20090318075818.jpg</string>
	</array>
	<key>66825</key>
	<array>
	  <string>http://img4.woopie.jp/getdata.php?pid=1e03e7fq241bb</string>
	</array>
	<key>66824</key>
	<array>
	  <string>http://nn.a.5d6d.com/userdirs/d/7/theresafucn/attachments/forumid_22/1007311136295dd20e72e99d14.jpg</string>
	</array>
	<key>66823</key>
	<array>
	  <string>http://www.13520.org/img/new/ent/2008/1/26/20080126161337579a4.jpg</string>
	</array>
	<key>66822</key>
	<array>
	  <string>http://img3.bbs.163.com/tvb/zh/zhangs_wh/426x640_83679.jpg</string>
	</array>
	<key>66821</key>
	<array>
	  <string>http://www.xhlft.com/article/UploadPic/2010-7/20107271410055793.jpg</string>
	</array>
	<key>66819</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090921/2120031R531_small.jpg</string>
	</array>
	<key>66820</key>
	<array>
	  <string>http://www.pc6.com/uploadimages/2009821525363848.jpg</string>
	</array>
	<key>66818</key>
	<array>
	  <string>http://ent.cqnews.net/ylove/200905/W020090523554152796112.jpg</string>
	</array>
	<key>66817</key>
	<array>
	  <string>http://images.sjspy.com/6/127363410560556.jpg</string>
	</array>
	<key>66815</key>
	<array>
	  <string>http://www.gg88.com/a001/Wallpapers/F001W/G0185/6_GG88_COM.jpg</string>
	</array>
	<key>66816</key>
	<array>
	  <string>http://top.mxddp.com/uploadfiles/2007-10/1013739565.jpg</string>
	</array>
	<key>66814</key>
	<array>
	  <string>http://pub.chinaunix.net/uploadfile/200910/20091031022248360.jpg</string>
	</array>
	<key>66812</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200906/23/43/16055708565567669107.jpg</string>
	</array>
	<key>66813</key>
	<array>
	  <string>http://book.ce.cn/whfk/200711/28/W020071128610153770264.jpg</string>
	</array>
	<key>66811</key>
	<array>
	  <string>http://img4.woopie.jp/getdata.php?pid=1d02d24q2649f</string>
	</array>
	<key>66810</key>
	<array>
	  <string>http://img3.woopie.jp/getdata.php?pid=1e02f3q446e</string>
	</array>
	<key>66809</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/6/21/wangfang01/1245555079981_50177.jpg</string>
	</array>
	<key>66808</key>
	<array>
	  <string>http://3.bp.blogspot.com/_LuO_b1sNRVw/TFMcI57u1rI/AAAAAAAACNQ/wUZalqgbKVs/s1600/%E5%82%85%E9%A2%96_062.jpg</string>
	</array>
	<key>66807</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/y/p/2008-04-01/U1978P28T3D1969622F329DT20080401093344.jpg</string>
	</array>
	<key>66806</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2007/11/22/eo071122941.jpg</string>
	</array>
	<key>66805</key>
	<array>
	  <string>http://images.star.mop.com/starnews/hk_tw/2008-10-06/16_3_113005_103_45_20081006145553.jpg</string>
	</array>
	<key>66804</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/c/p/2006-05-25/U1737P28T3D1096392F328DT20060525101704.jpg</string>
	</array>
	<key>66801</key>
	<array>
	  <string>http://photocdn.sohu.com/20081210/Img261134010.jpg</string>
	</array>
	<key>66802</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200808/20080821080710850.jpg</string>
	</array>
	<key>66803</key>
	<array>
	  <string>http://images.sjspy.com/6/127363410522880.jpg</string>
	</array>
	<key>66798</key>
	<array>
	  <string>http://image1.y321.com/2008/2009-7-15/10942_4p263.jpg</string>
	</array>
	<key>66799</key>
	<array>
	  <string>http://ent.cctv.com/20070706/images/1183712225390_1577333_1.jpg</string>
	</array>
	<key>66800</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200902/17/75/15333691020465600579.jpg</string>
	</array>
	<key>66797</key>
	<array>
	  <string>http://www.ningde8.com/uploadfile/2009/1108/20091108022222219.jpg</string>
	</array>
	<key>66796</key>
	<array>
	  <string>http://bizhi.zhuoku.com/bizhi/200712/20071205/Theresa_Fu/Theresa_Fu005.jpg</string>
	</array>
	<key>66795</key>
	<array>
	  <string>http://photocdn.sohu.com/20090303/Img262571330.jpg</string>
	</array>
	<key>66794</key>
	<array>
	  <string>http://image7.kugou.com/yulepic/20090224/20090224095817352.jpg?314</string>
	</array>
	<key>66792</key>
	<array>
	  <string>http://pic.dbw.cn/0/02/40/34/2403454_862037.jpg</string>
	</array>
	<key>66793</key>
	<array>
	  <string>http://news.bandao.cn/news_upload/200904/20090424085044_2J91HS5O.jpg</string>
	</array>
	<key>66791</key>
	<array>
	  <string>http://www.deskoo.net/upimg/allimg/2009-05/11103300-1-KE2.jpg</string>
	</array>
	<key>66789</key>
	<array>
	  <string>http://www.eymv.com/upfile/200902/09021411306031.jpg</string>
	</array>
	<key>66790</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/5/8/U1978P28T3D2017736F326DT20080508093519.jpg</string>
	</array>
	<key>66788</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/s/h/2010-02-25/1267082384_c5W97Q.jpg</string>
	</array>
	<key>66787</key>
	<array>
	  <string>http://nn.a.5d6d.com/userdirs/d/7/theresafucn/attachments/forumid_22/1007311317889b2abfe0aeb6f9.jpg</string>
	</array>
	<key>66785</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/s/p/2009-04-09/U3587P28T3D2463056F346DT20090409111848.jpg</string>
	</array>
	<key>66786</key>
	<array>
	  <string>http://img7.pplive.cn/sp96/2008/07/22/13563102991.jpg</string>
	</array>
	<key>66783</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1000/20080826/0019b91ec6f70a1de6a347.jpg</string>
	</array>
	<key>66784</key>
	<array>
	  <string>http://www.stnn.cc/ent_focus/200902/W020090219054674697830.jpg</string>
	</array>
	<key>66781</key>
	<array>
	  <string>http://pic.wenwen.soso.com/p/20090812/20090812165018-2123059913.jpg</string>
	</array>
	<key>66782</key>
	<array>
	  <string>http://www.sinaimg.cn/ent/s/h/2007-10-05/U1358P28T3D1738944F326DT20071005225650.jpg</string>
	</array>
	<key>66780</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090327/o/EFB84432FFCA7E2EAC0196DF3D0691CD.jpg</string>
	</array>
	<key>66779</key>
	<array>
	  <string>http://piaoliang.blog.so-net.ne.jp/_images/blog/_16e/piaoliang/5d9d159ct6112fb373c10.jpg</string>
	</array>
	<key>66778</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20080321/images/02885200.JPG</string>
	</array>
	<key>66777</key>
	<array>
	  <string>http://bizhi.zhuoku.com/bizhi/200712/20071205/Theresa_Fu/Theresa_Fu003.jpg</string>
	</array>
	<key>66776</key>
	<array>
	  <string>http://attach.hunantv.com/uploads/images/large/20090204/0411244N395_small.jpg</string>
	</array>
	<key>66774</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/y/p/2008-04-01/U1978P28T3D1969622F326DT20080401093344.jpg</string>
	</array>
	<key>66775</key>
	<array>
	  <string>http://cxnews.zjol.com.cn/pic/0/10/72/74/10727401_792762.jpg</string>
	</array>
	<key>66773</key>
	<array>
	  <string>http://pic.hsw.cn/0/10/08/61/10086148_373705.jpg</string>
	</array>
	<key>66771</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/bagua4/2/12/43.jpg</string>
	</array>
	<key>66772</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200903/05/40/2968579464621397372.jpg</string>
	</array>
	<key>66769</key>
	<array>
	  <string>http://pica.nipic.com/2008-05-15/2008515185740511_2.jpg</string>
	</array>
	<key>66770</key>
	<array>
	  <string>http://image.wenweipo.com/2007/09/01/en0901j.jpg</string>
	</array>
	<key>66768</key>
	<array>
	  <string>http://www.chinasigns.cn/Article/UploadFiles/200611/20061129114129238.jpg</string>
	</array>
	<key>66767</key>
	<array>
	  <string>http://images.star.mop.com/starnews/hk_tw/2006-10-11/16_3_6320_101_46_20061011084341.jpg</string>
	</array>
	<key>66766</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2009/02/12/eo090212967.jpg</string>
	</array>
	<key>66765</key>
	<array>
	  <string>http://images.hsw.cn/webimages/attachement/jpg/site2/20080822/000bcddce9e20a187c5e02.jpg</string>
	</array>
	<key>66763</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200902/17/62/12728892794247616054.jpg</string>
	</array>
	<key>66764</key>
	<array>
	  <string>http://ent.tom.com/uimg/2009/6/29/chenchao/1246241413373_38593.jpg</string>
	</array>
	<key>66762</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200610/28/89/d0007589_8352286.jpg</string>
	</array>
	<key>66761</key>
	<array>
	  <string>http://photocdn.sohu.com/20070911/Img252084759.jpg</string>
	</array>
	<key>66760</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/y/p/2007-11-25/U1817P28T3D1806963F328DT20071125234244.jpg</string>
	</array>
	<key>66759</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/s/h/2008-02-28/U2223P28T3D1929442F326DT20080228085841.jpg</string>
	</array>
	<key>66758</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20091010/o/63CD9FBE2D7D0EAB99E334BA86169B7A.jpg</string>
	</array>
	<key>66757</key>
	<array>
	  <string>http://www.gscn.com.cn/200709_Pic/BeyondPic/2007-11/5/U2398P28T3D1778584F326DT20071105123000.jpg</string>
	</array>
	<key>66756</key>
	<array>
	  <string>http://oepic.oeeee.com/200812/17/94/6153786885152937650.jpg</string>
	</array>
	<key>66755</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/37/5154448_m_5154450_498.jpg</string>
	</array>
	<key>66753</key>
	<array>
	  <string>http://photocdn.sohu.com/20090225/Img262446183.jpg</string>
	</array>
	<key>66754</key>
	<array>
	  <string>http://clipp.jp/assets/a2/a2997a0e253452b0d454652fa24d926f_500.jpg</string>
	</array>
	<key>66752</key>
	<array>
	  <string>http://www.91now.com/down/upload/2008-7-25/20087258353425820.jpg</string>
	</array>
	<key>66750</key>
	<array>
	  <string>http://www.shcaoan.com/wy/UploadFiles_5679/201007/20100716081024976.jpg</string>
	</array>
	<key>66751</key>
	<array>
	  <string>http://www.chuanwen.com.cn/data/rumour/userfiles/1000015/4512/20071016082530935.gif</string>
	</array>
	<key>66749</key>
	<array>
	  <string>http://pic.wenwen.soso.com/p/20080603/20080603223759-586909019.jpg</string>
	</array>
	<key>66747</key>
	<array>
	  <string>http://enjoy.eastday.com/eastday/enjoy/node58771/node58900/node58902/node167407/images/00788444.jpg</string>
	</array>
	<key>66748</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/s/h/2007-11-15/U2231P28T3D1792836F329DT20071115095405.jpg</string>
	</array>
	<key>66745</key>
	<array>
	  <string>http://www.tagd.com.cn/ent/UploadFiles_9903/200906/200963105046681.jpg</string>
	</array>
	<key>66746</key>
	<array>
	  <string>http://www.cnnb.com.cn/pic/0/00/45/81/458125_629177.jpg</string>
	</array>
	<key>66744</key>
	<array>
	  <string>http://www.51y.com/cdpic/cdpic1/20092221794.jpg</string>
	</array>
	<key>66743</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090623/o/1B97EF88B8FE297CA03FCE18351AEDC3.jpg</string>
	</array>
	<key>66742</key>
	<array>
	  <string>http://img.article.onlylady.com/00/13/24/99/01.jpg</string>
	</array>
	<key>66741</key>
	<array>
	  <string>http://images.hsw.cn/webimages/attachement/jpg/site2/20090218/000d9d4ed6040b05b13a2b.jpg</string>
	</array>
	<key>66740</key>
	<array>
	  <string>http://piaoliang.blog.so-net.ne.jp/_images/blog/_16e/piaoliang/82e59052-f241-43f1-8543-b1f789892b72.jpg</string>
	</array>
	<key>66739</key>
	<array>
	  <string>http://pic.wenwen.soso.com/p/20090402/20090402033532-326243736.jpg</string>
	</array>
	<key>66736</key>
	<array>
	  <string>http://old.jfdaily.com/life/movie/200812/W020081225424126510905.jpg</string>
	</array>
	<key>66737</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/s/p/2008-07-29/U2184P28T3D2118824F326DT20080729141327.jpg</string>
	</array>
	<key>66738</key>
	<array>
	  <string>http://pic.wenwen.soso.com/p/20090302/20090302092503-1154859277.jpg</string>
	</array>
	<key>66734</key>
	<array>
	  <string>http://img.article.pchome.net/00/29/41/56/a14.jpg</string>
	</array>
	<key>66735</key>
	<array>
	  <string>http://news.cn6154.com/disport/music/200711/W020071126426424446831.jpg</string>
	</array>
	<key>66732</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/s/h/p/2008-09-30/U2956P28T3D2189560F328DT20080930165404.jpg</string>
	</array>
	<key>66733</key>
	<array>
	  <string>http://www.huanbohainews.com.cn/pic/0/10/33/02/10330256_343490.jpg</string>
	</array>
	<key>66731</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2007/07/18/eo070718958.jpg</string>
	</array>
	<key>66730</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/04/99/11/4991177_998539.jpg</string>
	</array>
	<key>66729</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/s/h/p/2008-04-05/U2223P28T3D1975020F326DT20080405093312.jpg</string>
	</array>
	<key>66728</key>
	<array>
	  <string>http://www.huaxia.com/zk/ylzk/wz/images/2009/04/16/393874.jpg</string>
	</array>
	<key>66726</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2007/10/19/sql071019n26.jpg</string>
	</array>
	<key>66727</key>
	<array>
	  <string>http://www.yyjy.com/yyzz/UploadFiles_4797/200901/20090105151141781.jpg</string>
	</array>
	<key>66725</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20091125/o/D4FFC12465D57EA6C0E6928FFF311DFE.jpg</string>
	</array>
	<key>66723</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200809/20080906154021574.jpg</string>
	</array>
	<key>66724</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/s/h/p/2008-02-23/U1982P28T3D1922544F326DT20080223142551.jpg</string>
	</array>
	<key>66722</key>
	<array>
	  <string>http://ent.cqnews.net/mx/gt/200907/W020090714568174652637.jpg</string>
	</array>
	<key>66721</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2009/02/12/eo090212966.jpg</string>
	</array>
	<key>66719</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/7/23/liuyanling/1248305884035_44421.jpg</string>
	</array>
	<key>66720</key>
	<array>
	  <string>http://www.13520.org/img/new/ent/2008/6/17/200806171143142efa6.jpg</string>
	</array>
	<key>66718</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/4/5/U2223P28T3D1975020F328DT20080405093312.jpg</string>
	</array>
	<key>66717</key>
	<array>
	  <string>http://img3.pclady.com.cn/pclady/0907/22/419310_FUYING.jpg</string>
	</array>
	<key>66716</key>
	<array>
	  <string>http://www.51docs.com/UploadPic//2457866/kcbJZzGRvxmFLvSMbSrBQQXI.jpg</string>
	</array>
	<key>66714</key>
	<array>
	  <string>http://theresa.g.ifensi.com/img/2/2772/head.jpg</string>
	</array>
	<key>66715</key>
	<array>
	  <string>http://data.yule.sohu.com/star/pic/star/1/1628/default.jpg</string>
	</array>
	<key>66713</key>
	<array>
	  <string>http://i02.c.aliimg.com/img/offer/51/79/50/71/9/517950719</string>
	</array>
	<key>66712</key>
	<array>
	  <string>http://file.iqilu.com/upimg/allimg/080619/1052351.jpg</string>
	</array>
	<key>66710</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/s/p/2009-04-09/U3587P28T3D2463054F346DT20090409111843.jpg</string>
	</array>
	<key>66711</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/2009upimg/2009325103257454.jpg</string>
	</array>
	<key>66709</key>
	<array>
	  <string>http://www.sznews.com/ent/images/attachement/jpg/site3/20090802/001558d8be910bdf323329.jpg</string>
	</array>
	<key>66708</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/4/5/U2223P28T3D1975020F329DT20080405093312.jpg</string>
	</array>
	<key>66707</key>
	<array>
	  <string>http://www.nem365.com/UploadFiles/200909031609501734.jpg</string>
	</array>
	<key>66706</key>
	<array>
	  <string>http://pic.xdnice.com/uploads/2007_09/070914144656731.jpg</string>
	</array>
	<key>66704</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1902411qbedd0</string>
	</array>
	<key>66705</key>
	<array>
	  <string>http://images.xooob.com/20081223/1230400986890.jpg</string>
	</array>
	<key>66703</key>
	<array>
	  <string>http://a0.att.hudong.com/08/66/01300000356220128023662281754_s.jpg</string>
	</array>
	<key>66701</key>
	<array>
	  <string>http://www.zgfznews.com/fznews/yule/yinyue/images/200921485491.jpg</string>
	</array>
	<key>66702</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20091106/o/433CD17CE75187B19D6C0C3234B14E1A.jpg</string>
	</array>
	<key>66700</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/s/p/2009-04-09/U3587P28T3D2463055F346DT20090409111846.jpg</string>
	</array>
	<key>66699</key>
	<array>
	  <string>http://www.inkui.com/p/ov1/2049082.jpg</string>
	</array>
	<key>66698</key>
	<array>
	  <string>http://photocdn.sohu.com/20080620/Img257624278.jpg</string>
	</array>
	<key>66696</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/3/20/U996P28T3D1954660F329DT20080320091342.jpg</string>
	</array>
	<key>66697</key>
	<array>
	  <string>http://www.lady8844.com/h001/h48/img200804080942060.jpg</string>
	</array>
	<key>66695</key>
	<array>
	  <string>http://pic.jxnews.com.cn/0/02/21/62/2216243_983961.jpg</string>
	</array>
	<key>66694</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/m/p/2007-03-30/U1935P28T3D1499134F329DT20070330103000.jpg</string>
	</array>
	<key>66693</key>
	<array>
	  <string>http://i.baidu.com/yule/r/image/2009-04-22/afdd6e32a71c9f5c534f91fcc028c0af.jpg</string>
	</array>
	<key>66692</key>
	<array>
	  <string>http://file.iqilu.com/upimg/allimg/080321/1004240.jpg</string>
	</array>
	<key>66691</key>
	<array>
	  <string>http://www.citygf.com/Snews/se_008006/SE_008006003/200903/W020090323596848319610.jpg</string>
	</array>
	<key>66690</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1e03429qb195e</string>
	</array>
	<key>66688</key>
	<array>
	  <string>http://photocdn.sohu.com/20090219/Img262334366.jpg</string>
	</array>
	<key>66689</key>
	<array>
	  <string>http://bizhi.zhuoku.com/bizhi/200712/20071205/Theresa_Fu/Theresa_Fu001.jpg</string>
	</array>
	<key>66686</key>
	<array>
	  <string>http://cimg2.163.com/ent/2006/6/27/2006062708091405aa1.jpg</string>
	</array>
	<key>66687</key>
	<array>
	  <string>http://images.gd.sina.com.cn/u/200805/1210908799_48_1.jpg</string>
	</array>
	<key>66682</key>
	<array>
	  <string>http://ent.beelink.com.cn/20081210/beelink_ent_xiao-08121020.jpg</string>
	</array>
	<key>66683</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1703422qd907d</string>
	</array>
	<key>66684</key>
	<array>
	  <string>http://pic.newssc.org/0/10/24/75/10247548_872561.jpg</string>
	</array>
	<key>66685</key>
	<array>
	  <string>http://baike.soso.com/p/20090704/20090704155326-491798215.jpg</string>
	</array>
	<key>66680</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200904/16/36/6756206411608014588.jpg</string>
	</array>
	<key>66681</key>
	<array>
	  <string>http://ent.y321.com/pic/2007-9-19/200791917222_7.jpg</string>
	</array>
	<key>66679</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/3/20/U996P28T3D1954660F326DT20080320091342.jpg</string>
	</array>
	<key>66677</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/h/2007-06-04/U2184P28T3D1581660F326DT20070604090848.jpg</string>
	</array>
	<key>66678</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2007/08/07/eo070807924.jpg</string>
	</array>
	<key>66676</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/03/09/ylhj0803090043.jpg</string>
	</array>
	<key>66674</key>
	<array>
	  <string>http://www.gxtv.cn/wzpd/UploadFiles_5959/200905/2009052916241652.jpg</string>
	</array>
	<key>66675</key>
	<array>
	  <string>http://ent.cctv.com/20071105/images/1194240736305_600294523_2.jpg</string>
	</array>
	<key>66673</key>
	<array>
	  <string>http://www.gscn.com.cn/200709_Pic/BeyondPic/2007-11/22/7252394.jpg</string>
	</array>
	<key>66671</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/s/p/2008-09-26/U2398P28T3D2184512F326DT20080926101756.jpg</string>
	</array>
	<key>66672</key>
	<array>
	  <string>http://img3.pclady.com.cn/pclady/0903/25/380290_19.jpg</string>
	</array>
	<key>66670</key>
	<array>
	  <string>http://img9.9sky.com/picture/cpfm/_V2/3/39962/39962_a.jpg</string>
	</array>
	<key>66669</key>
	<array>
	  <string>http://www.tagd.com.cn/ent/UploadFiles_9903/200709/2007917111122821.jpg</string>
	</array>
	<key>66668</key>
	<array>
	  <string>http://www.xhlft.com/article/UploadPic/2010-7/201072714102345378.jpg</string>
	</array>
	<key>66666</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/04/92/91/4929121_984835.jpg</string>
	</array>
	<key>66667</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2007/09/12/el070912163.jpg</string>
	</array>
	<key>66664</key>
	<array>
	  <string>http://www.tagd.com.cn/ent/UploadFiles_9903/200906/200963105047435.jpg</string>
	</array>
	<key>66665</key>
	<array>
	  <string>http://attach.hunantv.com/uploads/images/large/20090216/16140HUE4_small.jpg</string>
	</array>
	<key>66663</key>
	<array>
	  <string>http://photocdn.sohu.com/20090709/Img265091899.jpg</string>
	</array>
	<key>66661</key>
	<array>
	  <string>http://www.chuanwen.com.cn/data/rumour/userfiles/1000015/4512/20071016082530855.gif</string>
	</array>
	<key>66662</key>
	<array>
	  <string>http://ent.gz163.cn/images_ent/2009/5/27/2009527EEB3C8D1B4584151A4B4420A8B63BE7B.jpg</string>
	</array>
	<key>66660</key>
	<array>
	  <string>http://bf-1.com/BF1ENews/wp-content/uploads/2009/05/144728ylslx3j1pxsw05nezmes9nzelvsuivyudqvfi2kq.jpg</string>
	</array>
	<key>66657</key>
	<array>
	  <string>http://lh5.ggpht.com/liangbw/SFYoUXWV4HI/AAAAAAAABz8/y05Hc2pWSE0/8d0eaaf468e5c461ddc47431.jpg</string>
	</array>
	<key>66658</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/s/h/p/2008-02-23/U1982P28T3D1922544F328DT20080223142551.jpg</string>
	</array>
	<key>66659</key>
	<array>
	  <string>http://piaoliang.blog.so-net.ne.jp/_images/blog/_16e/piaoliang/m_5d9d159ct6112fb373c10.jpg</string>
	</array>
	<key>66656</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/h/p/2006-04-23/U996P28T3D1061782F329DT20060423124329.jpg</string>
	</array>
	<key>66654</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/s/h/p/2008-02-23/U1982P28T3D1922544F358DT20080223142551.jpg</string>
	</array>
	<key>66655</key>
	<array>
	  <string>http://www.zouxiu.org.cn/showpic.php?pic=images.zoshow.com/image2/fckeditor/2009/04/16/12398726161167453.jpg</string>
	</array>
	<key>66651</key>
	<array>
	  <string>http://data.yule.baidu.com/images/10/102927.jpg</string>
	</array>
	<key>66652</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2009/02/12/eo090212965.jpg</string>
	</array>
	<key>66653</key>
	<array>
	  <string>http://pic.weamea.com/picture/20090219/16/f9779386f9324a088c4e7142e978e2a5.jpg</string>
	</array>
</array>
</plist>
