<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>13557</key>
	<array>
	  <string>http://dl.zhishi.sina.com.cn/upload/10/98/34/1074109834.8962997.jpg</string>
	</array>
	<key>13556</key>
	<array>
	  <string>http://www.smgbb.cn/d/file/zixun/yule/2009-10-28/7a52e151a2b227a8af911e33bef5cbb6.jpg</string>
	</array>
	<key>13555</key>
	<array>
	  <string>http://www.tianshui.com.cn/Files208/BeyondPic/2009-3/21/2009031914465348ba1.jpg</string>
	</array>
	<key>13554</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200712/20071225085913303.jpg</string>
	</array>
	<key>13553</key>
	<array>
	  <string>http://a3.att.hudong.com/68/29/01300000180919121329296428611_s.jpg</string>
	</array>
	<key>13552</key>
	<array>
	  <string>http://www.sd.xinhuanet.com/sdsq/2004-11/17/xinsrc_191101171538984104509.jpg</string>
	</array>
	<key>13551</key>
	<array>
	  <string>http://www.chnxw.com/uploads/allimg/100806/1524102231-1.jpg</string>
	</array>
	<key>13550</key>
	<array>
	  <string>http://i141.photobucket.com/albums/r67/blindshowgirl1/b41e.jpg</string>
	</array>
	<key>13549</key>
	<array>
	  <string>http://www.freewebs.com/brigittelinch/Brigitte%2015.jpg</string>
	</array>
	<key>13548</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1000/20090107/0019b91ec6f70ace4b464b.jpg</string>
	</array>
	<key>13547</key>
	<array>
	  <string>http://i141.photobucket.com/albums/r67/blindshowgirl1/bridgettelin006.jpg</string>
	</array>
	<key>13546</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200903/27/P200903270825391622910903.jpg</string>
	</array>
	<key>13545</key>
	<array>
	  <string>http://www.cnnb.com.cn/pic/0/00/92/71/927165_781653.jpg</string>
	</array>
	<key>13544</key>
	<array>
	  <string>http://tw.people.com.cn/mediafile/200812/08/F200812081011322522415424.jpg</string>
	</array>
	<key>13543</key>
	<array>
	  <string>http://img2.mtime.com/mg/2008/31/a7d14331-3622-4cc6-8c29-bf170b49a38f.jpg</string>
	</array>
	<key>13542</key>
	<array>
	  <string>http://big5.eastday.com:82/gate/big5/61.129.89.199:8088/img/200905/20/81/14980965602345708829.jpg</string>
	</array>
	<key>13541</key>
	<array>
	  <string>http://d.hatena.ne.jp/images/diary/h/hkcl/2007-04-02.jpg</string>
	</array>
	<key>13540</key>
	<array>
	  <string>http://nancix.up.seesaa.net/image/CED3C0C4B2E2A4CBB4F3A4EBA5C8A5CBA1BC_.jpg</string>
	</array>
	<key>13539</key>
	<array>
	  <string>http://www.hi.chinanews.com/hnnew/2009-03-26/U58P16T1D13911F8DT20090326091058.jpg</string>
	</array>
	<key>13538</key>
	<array>
	  <string>http://www.smgbb.cn/d/file/zixun/yule/2009-08-13/40409641e732e5f3845ec721537ee07a.jpg</string>
	</array>
	<key>13537</key>
	<array>
	  <string>http://i.yai.bz/assets/35/247/s_p1001824735.jpg</string>
	</array>
	<key>13536</key>
	<array>
	  <string>http://www.f-actress.com/hu/BrigitteLin.jpg</string>
	</array>
	<key>13535</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/04/91/34/4913469_724994.jpg</string>
	</array>
	<key>13534</key>
	<array>
	  <string>http://www.bjreview.com.cn/movies/images/attachement/jpg/site23/20090520/00219b46f0320b7d98d202.jpg</string>
	</array>
	<key>13533</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/09/2221715_8200.jpg</string>
	</array>
	<key>13532</key>
	<array>
	  <string>http://thedailies.grimfandango.org/index-easia/brigittelin.png</string>
	</array>
	<key>13531</key>
	<array>
	  <string>http://news.xinhuanet.com/book/2005-04/14/xin_40204021414399682784635.jpg</string>
	</array>
	<key>13530</key>
	<array>
	  <string>http://photo.store.qq.com/http_imgload.cgi?/rurl2=64b71075745e4088bd62b76a90d3590edbeb8a0bc2826a6e8bd072b59a2f3771f7c38a4805c7db40a3aba56337de71896b5c5588943f2c2e2f9fd7ddf14b757b9accc5e6878db7696322af4615fff850d939e613</string>
	</array>
	<key>13529</key>
	<array>
	  <string>http://images.xooob.com/20090328/1239075393883.jpg</string>
	</array>
	<key>13528</key>
	<array>
	  <string>http://yaplog.jp/cv/hxmvickimg/img/31/bzr0001_p.jpg</string>
	</array>
	<key>13527</key>
	<array>
	  <string>http://www.zjol.com.cn/pic/0/02/83/46/2834668_888783.jpg</string>
	</array>
	<key>13526</key>
	<array>
	  <string>http://ent.cqnews.net/mx/gt/200810/W020081010353843756190.jpg</string>
	</array>
	<key>13525</key>
	<array>
	  <string>http://www.chinadaily.com.cn/showbiz/images/attachement/jpg/site1/20080729/00123fc5bdb709f8d66c2e.jpg</string>
	</array>
	<key>13524</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200903/22/32/10725394918057772324.jpg</string>
	</array>
	<key>13523</key>
	<array>
	  <string>http://3.bp.blogspot.com/_rEiCpvBdwDI/Sm-tmNAx7wI/AAAAAAAAAgk/AVQ8WiNwVts/s400/Brigette+Lin+Swordsman+2.jpg</string>
	</array>
	<key>13522</key>
	<array>
	  <string>http://farm2.static.flickr.com/1078/1170809505_da5dbf4fc0.jpg</string>
	</array>
	<key>13521</key>
	<array>
	  <string>http://farm4.static.flickr.com/3045/3115503762_2e8817656d.jpg</string>
	</array>
	<key>13520</key>
	<array>
	  <string>http://image.jmrb.com/UploadImages/2007/12/05/images_20071205_164938_88671.jpg</string>
	</array>
	<key>13519</key>
	<array>
	  <string>http://www.china7.jp/data/file/1_7/1986912078_d812077f_e2c.jpg</string>
	</array>
	<key>13518</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1903b3qdc961</string>
	</array>
	<key>13517</key>
	<array>
	  <string>http://i141.photobucket.com/albums/r67/blindshowgirl1/de72.jpg</string>
	</array>
	<key>13516</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1003/20070831/00105cadc02d084224282b.JPG</string>
	</array>
	<key>13515</key>
	<array>
	  <string>http://a2.att.hudong.com/80/50/01300000199483121705503103545_s.jpg</string>
	</array>
	<key>13514</key>
	<array>
	  <string>http://www.cq.xinhuanet.com/photonews/2007-09/05/xin_19309041711279062445528.jpg</string>
	</array>
	<key>13513</key>
	<array>
	  <string>http://space.hunantv.com/attachments/2008/10/07/810474_200810070935431U4xO.jpg</string>
	</array>
	<key>13512</key>
	<array>
	  <string>http://www.chinakb.jp/library/file/9-1/dmd001.jpg</string>
	</array>
	<key>13511</key>
	<array>
	  <string>http://ent.1ting.com/up_files/pic/2009/2/S8860057_20090210103234_1.jpg</string>
	</array>
	<key>13510</key>
	<array>
	  <string>http://i3.ce.cn/ce/kjwh/ylmb/ylysj/201004/19/W020100419382868386298.jpg</string>
	</array>
	<key>13509</key>
	<array>
	  <string>http://photocdn.sohu.com/20070524/Img250209223.jpg</string>
	</array>
	<key>13508</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/94/32/asmakooo/folder/126229/img_126229_2900978_0?1246368983</string>
	</array>
	<key>13506</key>
	<array>
	  <string>http://img1.qq.com/ent/pics/7508/7508457.jpg</string>
	</array>
	<key>13507</key>
	<array>
	  <string>http://star.1ting.com/Picture/183/11700/184220_2.jpg</string>
	</array>
	<key>13505</key>
	<array>
	  <string>http://www.long-net.com/topics/0904/20193326.jpg</string>
	</array>
	<key>13504</key>
	<array>
	  <string>http://x.bbs.sina.com.cn/forum/show_fpic.php?apid=forum&amp;amp;uid=1174487495&amp;amp;fpid=2845535&amp;amp;postfix=0&amp;amp;ptp=0</string>
	</array>
	<key>13503</key>
	<array>
	  <string>http://ent.gz163.cn/images_ent/2009/3/23/2009323B4FD9DE5872E4572BB69E3E226796AB4.jpg</string>
	</array>
	<key>13502</key>
	<array>
	  <string>http://imgs.soufun.com/news/2009_12/15/news/1260869420113_000.jpg</string>
	</array>
	<key>13501</key>
	<array>
	  <string>http://msn.ent.ynet.com/img.db?44978862+s(400)</string>
	</array>
	<key>13500</key>
	<array>
	  <string>http://i2.sinaimg.cn/book/cr/2008/0415/4228191876.jpg</string>
	</array>
	<key>13499</key>
	<array>
	  <string>http://big5.china.com/gate/big5/culture.china.com/zh_cn/reading/shuzhai/11022789/20070515/images/14095659_374640.jpg</string>
	</array>
	<key>13498</key>
	<array>
	  <string>http://attach.hunantv.com/uploads/images/large/20081211/1122213393V_small.jpg</string>
	</array>
	<key>13497</key>
	<array>
	  <string>http://www.wudashi.net/uploadpic/2006060116061668148.jpg</string>
	</array>
	<key>13496</key>
	<array>
	  <string>http://cache.mars.sina.com.cn/nd/infodichan/dichanpic/59/c0/5c904dbbacca3ed0c4b1cddfd4234d34.jpg</string>
	</array>
	<key>13495</key>
	<array>
	  <string>http://www.chinakb.jp/library/file/9-1/polic11.jpg</string>
	</array>
	<key>13494</key>
	<array>
	  <string>http://image.jmrb.com/UploadImages/2007/05/20/images_20070520_104149_17669.jpg</string>
	</array>
	<key>13493</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/09/2221703_4628.jpg</string>
	</array>
	<key>13492</key>
	<array>
	  <string>http://art7.photozou.jp/pub/272/144272/photo/18168813.jpg</string>
	</array>
	<key>13491</key>
	<array>
	  <string>http://www1.ce.cn/xwzx/xwrwzhk/peoplemore/200805/30/W020080530259603385718.jpg</string>
	</array>
	<key>13490</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1902820qdbd37</string>
	</array>
	<key>13489</key>
	<array>
	  <string>http://cn.ppzw.com/UploadFiles/2009417174126743.jpg</string>
	</array>
	<key>13488</key>
	<array>
	  <string>http://image.toutlecine.com/photos/j/i/a/jiang-hu-entre-ii-1993-02-g.jpg</string>
	</array>
	<key>13487</key>
	<array>
	  <string>http://pic.sdnews.com.cn/NewsImg/2005-11-3/Img227382802.jpg</string>
	</array>
	<key>13486</key>
	<array>
	  <string>http://idoimg.3mt.com.cn/Article/upload/200706/070619051238260.jpg</string>
	</array>
	<key>13485</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2008-12/08/xin_13212050809533433161169.jpg</string>
	</array>
	<key>13484</key>
	<array>
	  <string>http://d.hatena.ne.jp/images/diary/h/hkcl/2008-06-20.jpg</string>
	</array>
	<key>13483</key>
	<array>
	  <string>http://images.xooob.com/20090914/1256218779734.jpg</string>
	</array>
	<key>13482</key>
	<array>
	  <string>http://www.star52.cn/starpics/newimages/1194275187.jpg</string>
	</array>
	<key>13481</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1f03420qf898c</string>
	</array>
	<key>13480</key>
	<array>
	  <string>http://img.cncsj.net/upfile/20090630/200906300300626.jpg</string>
	</array>
	<key>13479</key>
	<array>
	  <string>http://www.hkcinemagic.com/en/images/people/large/the-black-panther-warriors-brigitte-lin6_dbbaaeb38f5f49c24db7cf591d9d519e.jpg</string>
	</array>
	<key>13478</key>
	<array>
	  <string>http://www.gg88.com/a001/Wallpapers/F001W/G0415/2_GG88_COM.jpg</string>
	</array>
	<key>13477</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200806/04/P200806040944182848330181.jpg</string>
	</array>
	<key>13476</key>
	<array>
	  <string>http://www.yf66.com/Image/20091115193815677803.jpg</string>
	</array>
	<key>13475</key>
	<array>
	  <string>http://pic09.sdnews.com.cn/NewsImg/2009/4/2/U2423P8T1D847847F921DT20090401174756.jpg</string>
	</array>
	<key>13474</key>
	<array>
	  <string>http://blog.jxwmw.cn/UploadFiles/2008-10/132136480837.jpg</string>
	</array>
	<key>13473</key>
	<array>
	  <string>http://www.epochtimes.com/i6/802272341181813.jpg</string>
	</array>
	<key>13472</key>
	<array>
	  <string>http://images.xooob.com/20081024/2008102415121887.jpg</string>
	</array>
	<key>13471</key>
	<array>
	  <string>http://gb.chinabroadcast.cn/mmsource/images/2005/09/02/el050902031.jpg</string>
	</array>
	<key>13470</key>
	<array>
	  <string>http://www.shm.com.cn/YANTAI/attachement/jpg/site1/20041026/xin_95bfb1602d72483696e3208877ac2ef5_3.jpg</string>
	</array>
	<key>13469</key>
	<array>
	  <string>http://www.hkcinemagic.com/en/images/people/large/the-bride-with-white-hair-2-brigitte-lin2_fdeeae7595bc28b2a61b24b2dcf24dd2.jpg</string>
	</array>
	<key>13468</key>
	<array>
	  <string>http://www.screen-power.com/wp-content/uploads/2009/08/brigittelin.jpg</string>
	</array>
	<key>13467</key>
	<array>
	  <string>http://img3.pclady.com.cn/pclady/0906/03/403722_eo090603922.jpg</string>
	</array>
	<key>13466</key>
	<array>
	  <string>http://www.gg88.com/a001/Wallpapers/F001W/G0415/4_GG88_COM.jpg</string>
	</array>
	<key>13465</key>
	<array>
	  <string>http://msn.ent.ynet.com/img.db?23254269+s(400)</string>
	</array>
	<key>13464</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/10/52/10100573070_s.jpg</string>
	</array>
	<key>13463</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/05/90/54/5905496_728148.jpg</string>
	</array>
	<key>13462</key>
	<array>
	  <string>http://i2.ce.cn/ce/kjwh/ylmb/ylysj/201004/19/W020100419382865967923.jpg</string>
	</array>
	<key>13461</key>
	<array>
	  <string>http://pic.yesky.com/imagelist/07/43/5770512_7927.jpg</string>
	</array>
	<key>13460</key>
	<array>
	  <string>http://image2.sina.com.cn/lx/x/p/2007/0328/U1798P8T1D420557F913DT20070328140604.jpg</string>
	</array>
	<key>13459</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/09/064341709038.jpg</string>
	</array>
	<key>13458</key>
	<array>
	  <string>http://tw.people.com.cn/mediafile/200902/09/F200902091018311750212242.jpg</string>
	</array>
	<key>13457</key>
	<array>
	  <string>http://www.zhiyin.cn/uploadfile/2011/0428/20110428095552236.jpg</string>
	</array>
	<key>13456</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200803/20080320083053150.jpg</string>
	</array>
	<key>13455</key>
	<array>
	  <string>http://news.yule.com.cn/html/UploadPic/2009-6/2009619272479312.jpg</string>
	</array>
	<key>13454</key>
	<array>
	  <string>http://www.hkcinemagic.com/en/images/people/large/brigitte-lin_b9be1fcfa951ce9f5638cff3c212f9d9.jpg</string>
	</array>
	<key>13453</key>
	<array>
	  <string>http://www.screen-power.com/wp-content/uploads/2010/01/brigitte-lin-and-husband-michael-ying-lee-yuen.jpg</string>
	</array>
	<key>13452</key>
	<array>
	  <string>http://www.sooxue.com/xiaoyuan/UploadFiles_8816/200904/20090410085528526.jpg</string>
	</array>
	<key>13451</key>
	<array>
	  <string>http://img1.toocle.com/news//2010/02/02/62/5085762_1.jpg</string>
	</array>
	<key>13450</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/2004-11-03/U825P28T3D553752F329DT20041103121206.jpg</string>
	</array>
	<key>13449</key>
	<array>
	  <string>http://thumbs.filmstarts.de/wallpaper/BrigitteLin_01.jpg</string>
	</array>
	<key>13448</key>
	<array>
	  <string>http://news.xinhuanet.com/book/2008-09/18/xinsrc_412090518093639081592.jpg</string>
	</array>
	<key>13447</key>
	<array>
	  <string>http://cimg2.163.com/lady/2007/11/6/2007110609415335062.jpg</string>
	</array>
	<key>13446</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2004/04/16/cj040416026.jpg</string>
	</array>
	<key>13445</key>
	<array>
	  <string>http://farm2.static.flickr.com/1135/1170810323_7d105f8178.jpg</string>
	</array>
	<key>13444</key>
	<array>
	  <string>http://data.yule.sohu.com/star/pic/star/1/1769/default.jpg</string>
	</array>
	<key>13443</key>
	<array>
	  <string>http://photocdn.sohu.com/20090323/Img262950878.jpg</string>
	</array>
	<key>13442</key>
	<array>
	  <string>http://image.wangchao.net.cn/lady/1240714910523.jpg</string>
	</array>
	<key>13441</key>
	<array>
	  <string>http://images.xooob.com/20090217/1236265476901.jpg</string>
	</array>
	<key>13440</key>
	<array>
	  <string>http://image2.sina.com.cn/book/longbook/ent/1110444951_linqingxiahuazhuan/U1000P112T3D173564F48DT20050310181016.jpg</string>
	</array>
	<key>13439</key>
	<array>
	  <string>http://www.cctv268.com/gglianjie9/mig9/26.jpg</string>
	</array>
	<key>13438</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2005-04/05/xinsrc_49204020513514063038141.jpg</string>
	</array>
	<key>13437</key>
	<array>
	  <string>http://photocdn.sohu.com/20090210/Img262145635.jpg</string>
	</array>
	<key>13436</key>
	<array>
	  <string>http://img.bimg.126.net/photo/YTqxKJYSynJURa3hDYXd0w==/3397684443874762977.jpg</string>
	</array>
	<key>13435</key>
	<array>
	  <string>http://blog.duzhe.com/attachment/200907/31/116441_12490131499x72.jpg</string>
	</array>
	<key>13434</key>
	<array>
	  <string>http://pic.anhuinews.com/0/01/40/74/1407453_801117.jpg</string>
	</array>
	<key>13433</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/h/k/a/hkaddict/20090520122832aa5.jpg</string>
	</array>
	<key>13432</key>
	<array>
	  <string>http://images.xooob.com/20086122/2008612202511476.jpg</string>
	</array>
	<key>13431</key>
	<array>
	  <string>http://blog-imgs-31.fc2.com/m/u/g/mugenspace/20091025004332df6.jpg</string>
	</array>
	<key>13430</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/m/c/2009-04-30/1241054360_MlDtVo.jpg</string>
	</array>
	<key>13429</key>
	<array>
	  <string>http://ent.cctv.com/20090429/images/1240960715933_xin_2904062111320001114512.jpg</string>
	</array>
	<key>13428</key>
	<array>
	  <string>http://news.xinhuanet.com/book/2008-07/14/xinsrc_102070514105209354822.jpg</string>
	</array>
	<key>13427</key>
	<array>
	  <string>http://finance.people.com.cn/mediafile/200604/12/F200604121327313014024083.jpg</string>
	</array>
	<key>13426</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/2009upimg/200932611302382.jpg</string>
	</array>
	<key>13425</key>
	<array>
	  <string>http://stock.591hx.com/images/hnimg/201104/25/66/717373868116536690.jpg</string>
	</array>
	<key>13424</key>
	<array>
	  <string>http://farm2.static.flickr.com/1282/1170812365_e5b06d38b5.jpg</string>
	</array>
	<key>13423</key>
	<array>
	  <string>http://news.xinhuanet.com/book/2005-04/14/xin_5220402141404593014925.jpg</string>
	</array>
	<key>13422</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1007/20081216/000cf1a487730ab1939503.jpg</string>
	</array>
	<key>13421</key>
	<array>
	  <string>http://pic.sdnews.com.cn/NewsImg/2005-11-4/xinsrc_18211020409174212560414.jpg</string>
	</array>
	<key>13420</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1007/20081216/000cf1a487730ab1934202.jpg</string>
	</array>
	<key>13419</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2008-07/21/xin_0530705211451453984413.jpg</string>
	</array>
	<key>13418</key>
	<array>
	  <string>http://www.whatsonxiamen.com/ent_images/1108804.jpg</string>
	</array>
	<key>13417</key>
	<array>
	  <string>http://image.zwsky.com/back/uploads/post/200805/10163918052.jpg</string>
	</array>
	<key>13416</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2007-11-7/1194226849523_106496.jpg</string>
	</array>
	<key>13415</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200903/23/F200903230901385845993241.jpg</string>
	</array>
	<key>13414</key>
	<array>
	  <string>http://www.chinadaily.com.cn/english/doc/2005-03/29/xin_45030229094807831755.jpg</string>
	</array>
	<key>13413</key>
	<array>
	  <string>http://imgn.vv8.com/editupload/20090210012927628.jpg</string>
	</array>
	<key>13412</key>
	<array>
	  <string>http://i3.sinaimg.cn/book/dyzgjh/excerpt/sz/2008-09-11/U1592P112T3D244178F48DT20080912124831.jpg</string>
	</array>
	<key>13411</key>
	<array>
	  <string>http://www.peacehall.com/news/gb/sport_ent/2005/04/2005040306336.jpg</string>
	</array>
	<key>13410</key>
	<array>
	  <string>http://cimg2.163.com/ent/2006/2/26/2006022612364941b23.jpg</string>
	</array>
	<key>13409</key>
	<array>
	  <string>http://www.chinanews.com/yl/yrfc/news/2008/06-04/U120P4T8D1271635F107DT20080604092131.jpg</string>
	</array>
	<key>13408</key>
	<array>
	  <string>http://blogfile.ifeng.com/uploadfiles/blog_attachment/0806/08/1321508_64b8439301456910ff6d7630cdb65259.jpg</string>
	</array>
	<key>13407</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/m/c/2009-03-23/U2389P28T3D2432604F326DT20090323100638.jpg</string>
	</array>
	<key>13406</key>
	<array>
	  <string>http://www.chinanews.com.cn/yl/kong/news/2008/10-06/U120P4T8D1402006F107DT20081006153518.jpg</string>
	</array>
	<key>13405</key>
	<array>
	  <string>http://image.zwsky.com/back/uploads/post/200805/10164346736.jpg</string>
	</array>
	<key>13404</key>
	<array>
	  <string>http://video.sznews.com/images/attachement/jpg/site3/20090303/0030487db87b0b173cd30d.jpg</string>
	</array>
	<key>13403</key>
	<array>
	  <string>http://www.ppzw.com/UploadFiles/2008516121514997.jpg</string>
	</array>
	<key>13402</key>
	<array>
	  <string>http://newspaper.jfdaily.com/gb/jfxww/xj/node25218/images/00075933.jpg</string>
	</array>
	<key>13401</key>
	<array>
	  <string>http://image2.sina.com.cn/lx/news/p/2007/0303/U2066P8T1D404254F913DT20070303112413.jpg</string>
	</array>
	<key>13558</key>
	<array>
	  <string>http://news.xinhuanet.com/gangao/2008-03/22/xin_0820305221521953619719.jpg</string>
	</array>
	<key>13559</key>
	<array>
	  <string>http://img3.pclady.com.cn/pclady/0803/23/263266_9422238.jpg</string>
	</array>
	<key>13560</key>
	<array>
	  <string>http://new.aliyiyao.com/upfiles/Image/2009/11/06/b5ae888a-b19e-42a7-a2da-0143f614102e.jpg</string>
	</array>
	<key>13561</key>
	<array>
	  <string>http://photocdn.sohu.com/20080317/Img255745009.jpg</string>
	</array>
	<key>13562</key>
	<array>
	  <string>http://gbpic.chinareviewnews.com/upload/200904/5/100934201.jpg</string>
	</array>
	<key>13563</key>
	<array>
	  <string>http://farm3.static.flickr.com/2083/2041568675_1970dc64dd_o.jpg</string>
	</array>
	<key>13564</key>
	<array>
	  <string>http://kungfu.hp2.jp/blog/wp-content/uploads/act/1982-FantasyMissionForce-a02.jpg</string>
	</array>
	<key>13565</key>
	<array>
	  <string>http://hkmdb.com/news/wp-content/uploads/2009/04/brigitte-lin.jpg</string>
	</array>
	<key>13566</key>
	<array>
	  <string>http://blog-imgs-10.fc2.com/m/u/g/mugenspace/20060813224139s.jpg</string>
	</array>
	<key>13567</key>
	<array>
	  <string>http://www.pengzhiguo.com/uploadfile/200806/11/1328411969.jpg</string>
	</array>
	<key>13568</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2007/11/12/U1513P28T3D1777266F326DT20071104151451.jpg</string>
	</array>
	<key>13569</key>
	<array>
	  <string>http://www.022net.com/upimages/200903/2009030214534753627.jpg</string>
	</array>
	<key>13570</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/h/p/2005-10-28/U1345P28T3D878933F328DT20051028112838.jpg</string>
	</array>
	<key>13571</key>
	<array>
	  <string>http://images.ent.xunlei.com/660x1500/40/132043mfzuv1t6vvbypxgnx8n5mfkmuqvxpavvsuw8ewvy.jpg</string>
	</array>
	<key>13572</key>
	<array>
	  <string>http://photocdn.sohu.com/20060531/Img243489288.jpg</string>
	</array>
	<key>13573</key>
	<array>
	  <string>http://3w26.ewang.com/photo/20/001/897/20001897593026_l.jpg</string>
	</array>
	<key>13574</key>
	<array>
	  <string>http://img.epochtimes.com/i6/903211036511616.jpg</string>
	</array>
	<key>13575</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100617/09/uuchina/3c/5d/j/t02200282_0400051210595214091.jpg</string>
	</array>
	<key>13576</key>
	<array>
	  <string>http://i.ytimg.com/vi/GATD9q6Got0/0.jpg</string>
	</array>
	<key>13577</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/h/p/2006-03-16/2c7b8c6bbfffe6fceda11c6c953dbb77.jpg</string>
	</array>
	<key>13578</key>
	<array>
	  <string>http://shoppingimg.jchere.com/showimage.asp?imgpath=2006619105727/20067181654199155047.jpg&amp;amp;cl=1</string>
	</array>
	<key>13579</key>
	<array>
	  <string>http://bitex-cn.com/photo/160/authorphotos160.jpg</string>
	</array>
	<key>13580</key>
	<array>
	  <string>http://photo.icxo.com/200910/20091027363417.jpg</string>
	</array>
	<key>13581</key>
	<array>
	  <string>http://www.51sdj.com/phpcms/uploadfile/picture/uploadpics/200907/20090720100131189.jpg</string>
	</array>
	<key>13582</key>
	<array>
	  <string>http://bunkakorea.com/blog/cache/thumbnail/98/i_6e2c70b35d927a99ef5c8f24a52b4afd.jpg</string>
	</array>
	<key>13583</key>
	<array>
	  <string>http://cimg21.163.com/lady/2008/6/11/20080611161403592af.jpg</string>
	</array>
	<key>13584</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110619/01/lcing/c1/95/j/t02200155_0600042211299049801.jpg</string>
	</array>
	<key>13585</key>
	<array>
	  <string>http://i.yai.bz/assets/83/079/s_p0000007983.jpg</string>
	</array>
	<key>13586</key>
	<array>
	  <string>http://official.interush.net/_interush/i_1MpmQn3PCAwwXQyD2fGgTH3Gv3Uutc_150</string>
	</array>
	<key>13587</key>
	<array>
	  <string>http://news.kunming.cn/entertainment/image/attachement/jpg/site22/20090101/0016ec346cef0ac685220a.jpg</string>
	</array>
	<key>13588</key>
	<array>
	  <string>http://homepage3.nifty.com/fulflava/brigittelin.jpg</string>
	</array>
	<key>13589</key>
	<array>
	  <string>http://img.epochtimes.com/i6/80823220658391.jpg</string>
	</array>
	<key>13590</key>
	<array>
	  <string>http://www.subaonet.com/Files3/2010/News/yaolimeng/HI1JICH3H344520/img269901316.jpg</string>
	</array>
	<key>13591</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/m/p/2009-03-22/U1978P28T3D2431558F346DT20090322095607.jpg</string>
	</array>
	<key>13592</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2007/05/09/wc070509062.jpg</string>
	</array>
	<key>13593</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/75/e1/10100564957_s.jpg</string>
	</array>
	<key>13594</key>
	<array>
	  <string>http://3w13.netandtv.com/photo/20/002/998/20002998033013_l.jpg</string>
	</array>
	<key>13595</key>
	<array>
	  <string>http://www.eymv.com/upfile/200903/090324092747141.jpg</string>
	</array>
	<key>13596</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2009-08/13/xin_07208061308188751504517.jpg</string>
	</array>
	<key>13597</key>
	<array>
	  <string>http://www.dahe.cn/xwzx/yl/yldxw/W020071210314742651192.jpg</string>
	</array>
	<key>13598</key>
	<array>
	  <string>http://japanese.cri.cn/mmsource/images/2009/02/06/zhangjunlei.jpg</string>
	</array>
	<key>13599</key>
	<array>
	  <string>http://www.smgbb.cn/d/file/zixun/yule/2009-07-05/31bf85028c829d688beb378d811ea2d7.jpg</string>
	</array>
	<key>13600</key>
	<array>
	  <string>http://i.yai.bz/assets/78/005/s_p1000000578.jpg</string>
	</array>
</array>
</plist>
