<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>120163</key>
	<array>
	  <string>http://yougakutengoku.up.seesaa.net/image/Taylor2BSwift2B2B333-24710.jpg</string>
	</array>
	<key>120164</key>
	<array>
	  <string>http://blog-imgs-32-origin.fc2.com/a/v/r/avrilcom/20090128000711.jpg</string>
	</array>
	<key>120165</key>
	<array>
	  <string>http://www.tatsuzine.com/wp-content/uploads/2010/02/taylorswift.jpg</string>
	</array>
	<key>120166</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/taylar016.jpg</string>
	</array>
	<key>120167</key>
	<array>
	  <string>http://blog-imgs-32-origin.fc2.com/a/v/r/avrilcom/20090128000311.jpg</string>
	</array>
	<key>120168</key>
	<array>
	  <string>http://fmvs.jp/news/music/img/img2105_et-20101110-05.jpg</string>
	</array>
	<key>120169</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/14/69/956ff339df59e6a126169d124116830d.jpg</string>
	</array>
	<key>120170</key>
	<array>
	  <string>http://blog-imgs-32-origin.fc2.com/a/v/r/avrilcom/20090128000647.jpg</string>
	</array>
	<key>120171</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000048975/001.jpg</string>
	</array>
	<key>120172</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090625/18/fiore8/a2/ca/j/o0499069210202720481.jpg</string>
	</array>
	<key>120173</key>
	<array>
	  <string>http://fake316.com/wp-content/uploads/2009/03/taylor-swift-1024x768-33590.jpg</string>
	</array>
	<key>120174</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/60/88/6142c012cf94ecd7e0b60222b3959255.jpg</string>
	</array>
	<key>120175</key>
	<array>
	  <string>http://image.eiga.k-img.com/images/buzz/24375/reuters_ts_large.jpg</string>
	</array>
	<key>120176</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/26/ec/e7d2e638cfbede2e44daa753a849bdd0.jpg</string>
	</array>
	<key>120177</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/0d/61/10086250388.jpg</string>
	</array>
	<key>120178</key>
	<array>
	  <string>http://www.elle.co.jp/var/ellejp/storage/images/beauty/celeb/10_0611/3262526-1-jpn-JP/_1_reference.jpg</string>
	</array>
	<key>120179</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/taylar002.jpg</string>
	</array>
	<key>120180</key>
	<array>
	  <string>http://www.elle.co.jp/var/ellejp/storage/images/ellegirl/celeb/snap/10_1026/3632617-1-jpn-JP/10-26_reference.jpg</string>
	</array>
	<key>120181</key>
	<array>
	  <string>http://fake316.com/wp-content/uploads/2009/03/taylor-swift-1024x768-34185.jpg</string>
	</array>
	<key>120182</key>
	<array>
	  <string>http://yougakutengoku.up.seesaa.net/image/0701-taylor-swift-cover_at-101d7.jpg</string>
	</array>
	<key>120183</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/taylar006.jpg</string>
	</array>
	<key>120184</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/48/3b/a99689e34c9f4a190a395052e1d0381d.jpg</string>
	</array>
	<key>120185</key>
	<array>
	  <string>http://www.cdjournal.com/image/jacket/100/Z3/Z322002818.jpg</string>
	</array>
	<key>120186</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/taylar013.jpg</string>
	</array>
	<key>120187</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/taylar017.jpg</string>
	</array>
	<key>120188</key>
	<array>
	  <string>http://image.blog.livedoor.jp/jemhiro/imgs/b/9/b95754d5.jpg</string>
	</array>
	<key>120189</key>
	<array>
	  <string>http://celeb77.net/Taylor-Swift0902192102-02.jpg</string>
	</array>
	<key>120190</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/62/57/17fd012dd9631ca77eab15c859caf78a.jpg</string>
	</array>
	<key>120191</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/01/f2/905d83cbcf82de06d210626ec11c8a45.jpg</string>
	</array>
	<key>120192</key>
	<array>
	  <string>http://www.timewarp.jp/images/upload/2010/07/bpg178223.jpg</string>
	</array>
	<key>120193</key>
	<array>
	  <string>http://yougakutengoku.up.seesaa.net/image/taylor-swift-5af31.jpg</string>
	</array>
	<key>120194</key>
	<array>
	  <string>http://jp.reuters.com/resources/r/?m=02&amp;amp;d=20100805&amp;amp;t=2&amp;amp;i=172322905</string>
	</array>
	<key>120195</key>
	<array>
	  <string>http://farm2.static.flickr.com/1281/4609673099_f2b17cea9a_z.jpg</string>
	</array>
	<key>120196</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000062871/600.jpg</string>
	</array>
	<key>120197</key>
	<array>
	  <string>http://www.cdjournal.com/image/jacket/100/Z3/Z322003572.jpg</string>
	</array>
	<key>120198</key>
	<array>
	  <string>http://blog-imgs-43-origin.fc2.com/i/m/g/imgs/100519-taylor-swift.jpg</string>
	</array>
	<key>120199</key>
	<array>
	  <string>http://alohadesign.blog.so-net.ne.jp/_images/blog/_0db/alohadesign/taylor-3-taylor-swift-6741916-377-506_p.jpg</string>
	</array>
	<key>120200</key>
	<array>
	  <string>http://www.elle.co.jp/var/ellejp/storage/images/beauty/celeb/09_0903/2442229-1-jpn-JP/_1_reference.jpg</string>
	</array>
	<key>120201</key>
	<array>
	  <string>http://farm3.static.flickr.com/2718/4383601332_e1afa5ed6e.jpg</string>
	</array>
	<key>120202</key>
	<array>
	  <string>http://celebstyle.weblogs.jp/photos/uncategorized/2009/06/20/taylorswiftjun022009.jpg</string>
	</array>
	<key>120203</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/taylar008.jpg</string>
	</array>
	<key>120204</key>
	<array>
	  <string>http://www.elle.co.jp/var/ellejp/storage/images/beauty/celeb/09_0918/2466613-1-jpn-JP/_1_reference.jpg</string>
	</array>
	<key>120205</key>
	<array>
	  <string>http://www.elle.co.jp/var/ellejp/storage/images/beauty/celeb/10_0118/2751127-1-jpn-JP/_1_reference.jpg</string>
	</array>
	<key>120206</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/7e/a8/96f341116db5a34d9edb33c907d0653c.jpg</string>
	</array>
	<key>120207</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/30/83/1ad2e0d1b119921a272235f677c41408.jpg</string>
	</array>
	<key>120208</key>
	<array>
	  <string>http://celebstyle.weblogs.jp/photos/uncategorized/2009/12/13/taylorswiftdec032009.jpg</string>
	</array>
	<key>120209</key>
	<array>
	  <string>http://www.veritacafe.com/contents/image/201011/news101109_6main.jpg</string>
	</array>
	<key>120210</key>
	<array>
	  <string>http://yougakutengoku.up.seesaa.net/image/taylor-swift-08-f-b4cc9.jpg</string>
	</array>
	<key>120211</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/23/20/8976f758e5ab78bc87694b02f83f1abd.jpg</string>
	</array>
	<key>120212</key>
	<array>
	  <string>http://celebstyle.weblogs.jp/photos/uncategorized/2009/07/25/taylorswiftjul012009.jpg</string>
	</array>
	<key>120213</key>
	<array>
	  <string>http://celebstyle.weblogs.jp/photos/uncategorized/2009/07/25/taylorswiftjul022009.jpg</string>
	</array>
	<key>120214</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20091209/23/celebee/84/a3/j/o0500035010335604038.jpg</string>
	</array>
	<key>120215</key>
	<array>
	  <string>http://celebstyle.weblogs.jp/photos/uncategorized/2009/12/13/taylorswiftdec022009.jpg</string>
	</array>
	<key>120216</key>
	<array>
	  <string>http://www.hollywood-ch.com/images/upfile/news/u/3952.jpg</string>
	</array>
	<key>120217</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000064059/350.jpg</string>
	</array>
	<key>120218</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000064362/pic.jpg</string>
	</array>
	<key>120219</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/201002/05/08/e0181908_8543874.jpg</string>
	</array>
	<key>120220</key>
	<array>
	  <string>http://a.oops-music.com/images/taylorswift.jpg</string>
	</array>
	<key>120221</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/201102/24/17/e0046117_13514986.jpg</string>
	</array>
	<key>120222</key>
	<array>
	  <string>http://cdn2.iofferphoto.com/img/item/124/081/359/taylor-swift-dvd-cmt-fifteen-swiftly-made-15-videos-hd-7eb4c.jpg</string>
	</array>
	<key>120223</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/61McsadO1OL._SL500_AA300_.jpg</string>
	</array>
	<key>120224</key>
	<array>
	  <string>http://cdn1.iofferphoto.com/img/item/124/081/359/taylor-swift-dvd-cmt-fifteen-swiftly-made-15-videos-hd-bb9fc.jpg</string>
	</array>
	<key>120225</key>
	<array>
	  <string>http://yougakutengoku.up.seesaa.net/image/taylor-swift-08-f-b4cc9.jpg</string>
	</array>
	<key>120226</key>
	<array>
	  <string>http://file.jenos.blog.shinobi.jp/TaylorSwift-FearlessUKEdition2009.jpg</string>
	</array>
	<key>120227</key>
	<array>
	  <string>http://blog-imgs-36.fc2.com/n/e/u/neuroses/taylor-swift-fearless.jpg</string>
	</array>
	<key>120228</key>
	<array>
	  <string>http://blog-imgs-43.fc2.com/m/a/m/mami348/tera.jpg</string>
	</array>
	<key>120229</key>
	<array>
	  <string>http://blog.oricon.co.jp/_images/mariemaron/2010_0331_222834-taylor-swift-pregnant-b.jpg</string>
	</array>
	<key>120230</key>
	<array>
	  <string>http://images.pictureshunt.com/pics/t/taylor_swift-3542.jpg</string>
	</array>
	<key>120231</key>
	<array>
	  <string>http://4.bp.blogspot.com/_vCSIyT3cQxY/SSGIbggqmUI/AAAAAAAACYQ/3vEzoPfHxQs/s320/Taylor_Swift_White_Horse_Mp3_N_Lyrics.jpg</string>
	</array>
	<key>120232</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/61McsadO1OL._SS500_.jpg</string>
	</array>
	<key>120233</key>
	<array>
	  <string>http://niuse.files.wordpress.com/2008/08/the-beautiful-country-music-singer-songwriter-taylor-swift-on-the-red-carpet-at-the-2008-cmt-music-award.jpg</string>
	</array>
	<key>120234</key>
	<array>
	  <string>http://brilliant-girl.info/wp-content/uploads/2010/12/taylor-swift-01.jpg</string>
	</array>
	<key>120235</key>
	<array>
	  <string>http://fujitaiju.com/blog/wp-content/uploads/2011/06/Taylor_Swift_101.jpg</string>
	</array>
	<key>120236</key>
	<array>
	  <string>http://www.millionlooks.com/images/taylor-swift2.jpg</string>
	</array>
	<key>120237</key>
	<array>
	  <string>http://blog-imgs-36.fc2.com/n/e/u/neuroses/taylor-swift-photos-3.jpg</string>
	</array>
	<key>120238</key>
	<array>
	  <string>http://www.celebritiesworld.tk/img/taylor-swift-4.jpg</string>
	</array>
	<key>120239</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/56/54/rosela_mse/folder/162594/img_162594_2873197_0?1272583271</string>
	</array>
	<key>120240</key>
	<array>
	  <string>http://1.bp.blogspot.com/_wM8mgLK6gGY/TQdIMSOEEjI/AAAAAAAAAJY/MloavIKEmPo/s1600/taylor_swift-2.jpg</string>
	</array>
	<key>120241</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jjr//2009/05/swift-skirt/taylor-swift-floral-skirt-02.jpg</string>
	</array>
	<key>120242</key>
	<array>
	  <string>http://blog-imgs-30-origin.fc2.com/m/i/c/mick0106/Taylor-Swift-1273872-small.jpg</string>
	</array>
	<key>120243</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/49/ed/miyuakimoto/folder/380149/img_380149_3894973_0?1308554040</string>
	</array>
	<key>120244</key>
	<array>
	  <string>http://www.disneydreaming.com/wp-content/uploads/2009/04/taylor-swift-straight-hair1.jpg</string>
	</array>
	<key>120245</key>
	<array>
	  <string>http://blog-imgs-12.fc2.com/m/i/k/mikazukisanpo/Taylor_Swift_Love_Story.jpg</string>
	</array>
	<key>120246</key>
	<array>
	  <string>http://nd02.jxs.cz/380/191/a2e4512da5_52380100_o2.jpg</string>
	</array>
	<key>120247</key>
	<array>
	  <string>http://blog-imgs-30-origin.fc2.com/m/i/c/mick0106/taylar002.jpg</string>
	</array>
	<key>120248</key>
	<array>
	  <string>http://fujitaiju.com/blog/wp-content/uploads/2011/06/taylorswift_bio.jpg</string>
	</array>
	<key>120249</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/11273545/Taylor+Swift.png</string>
	</array>
	<key>120250</key>
	<array>
	  <string>http://beautycontestupdate.com/wp-content/uploads/2011/06/Taylor_Swift_11.jpg</string>
	</array>
	<key>120251</key>
	<array>
	  <string>http://blog-imgs-36.fc2.com/p/h/i/philki/taylor_swift4.jpg</string>
	</array>
	<key>120252</key>
	<array>
	  <string>http://yougakutengoku.up.seesaa.net/image/Taylor2BSwift2B2B333-24710.jpg</string>
	</array>
	<key>120253</key>
	<array>
	  <string>http://x117img.peps.jp/uimg/j/jamacotlp/2/d7t6zin6azA.jpg</string>
	</array>
	<key>120254</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/c2/37/aloha801mahalo/folder/1339688/img_1339688_58103347_0?1265524211</string>
	</array>
	<key>120255</key>
	<array>
	  <string>http://images.paraorkut.com/img/artists/images/t/taylor_swift-436.jpg</string>
	</array>
	<key>120256</key>
	<array>
	  <string>http://blog-imgs-43.fc2.com/m/a/m/mami348/taylor-3-taylor-swift-6741916-377-506_p.jpg</string>
	</array>
	<key>120257</key>
	<array>
	  <string>http://blog-imgs-18.fc2.com/y/o/u/youngcelebrity/taylorswift_20090312163753.jpg</string>
	</array>
	<key>120258</key>
	<array>
	  <string>http://fujitaiju.com/blog/wp-content/uploads/2011/06/2010-07-23-taylor-swift.jpg</string>
	</array>
	<key>120259</key>
	<array>
	  <string>http://rockmusic.jp/taylorswift/wp-content/uploads/2010/06/TaylorSwiftMARIECLAIRE_1-220x300.png</string>
	</array>
	<key>120260</key>
	<array>
	  <string>http://www.mp3lyrics.org/t/taylor-swift/taylor-swift_12.Jpg</string>
	</array>
	<key>120261</key>
	<array>
	  <string>http://celeb-face.com/albums/celebrities/u/6/Taylor-Swift/Taylor-Swift-960.jpg</string>
	</array>
	<key>120262</key>
	<array>
	  <string>http://images.askmen.com/photos/taylor-swift/84020.jpg</string>
	</array>
	<key>120263</key>
	<array>
	  <string>http://anyblog.org/gossip/wp-content/uploads/2008/12/taylor-swift.jpg</string>
	</array>
	<key>120264</key>
	<array>
	  <string>http://www.topnews.in/files/Taylor-Swift101.jpg</string>
	</array>
	<key>120265</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/taylar008.jpg</string>
	</array>
	<key>120266</key>
	<array>
	  <string>http://toppayingideas.com/blog/wp-content/uploads/2009/08/taylor-swift-tickets.jpg</string>
	</array>
	<key>120267</key>
	<array>
	  <string>http://teenchive.none18.netdna-cdn.com/wp-content/uploads/2011/02/taylor-swift-curly-blond-hair-hot-teen.jpg</string>
	</array>
	<key>120268</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/56/54/rosela_mse/folder/162594/img_162594_3085093_0?1274186266</string>
	</array>
	<key>120269</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/61hbVkKy%2BIL._SL500_AA300_.jpg</string>
	</array>
	<key>120270</key>
	<array>
	  <string>http://4.bp.blogspot.com/_R39lDuisW5Y/TKedcMaRb8I/AAAAAAAAAOY/GGKXj5OP450/s1600/Taylor-Swift-Fearless-Tour.jpg</string>
	</array>
	<key>120271</key>
	<array>
	  <string>http://mjsbigidolblog.com/wp-content/uploads/2009/01/kellie-pickler-taylor-swift-acm-awards-nc.jpg</string>
	</array>
	<key>120272</key>
	<array>
	  <string>http://www.celebrityshoesize.com/images/s/taylor_swift.jpg</string>
	</array>
	<key>120273</key>
	<array>
	  <string>http://kidsetnews.files.wordpress.com/2009/07/taylor_swift-002-1280x1024-hollywoo.jpg</string>
	</array>
	<key>120274</key>
	<array>
	  <string>http://peaceandpolkadots.com/images/taylor-swift-15.jpg</string>
	</array>
	<key>120275</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/37/a1/b98edce3131af76f31bbf2a70f2fca6d.jpg</string>
	</array>
	<key>120276</key>
	<array>
	  <string>http://www.nnhit.com/vdo/uploads/picture2/32.jpg</string>
	</array>
	<key>120277</key>
	<array>
	  <string>http://images.paraorkut.com/img/pics/images/t/taylor_swift-14075.jpg</string>
	</array>
	<key>120278</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/16465171/Taylor+Swift+TAYLOR.jpg</string>
	</array>
	<key>120279</key>
	<array>
	  <string>http://blog-imgs-24.fc2.com/f/e/n/fenix01/Taylor+Swift+taylor.jpg</string>
	</array>
	<key>120280</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100214/20/roseevan/1d/df/j/o0396059410414449894.jpg</string>
	</array>
	<key>120281</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100407/00/lovelikemusik2/7c/af/j/o0300034210485437015.jpg</string>
	</array>
	<key>120282</key>
	<array>
	  <string>http://a3.mzstatic.com/us/r2000/013/Music/3f/22/38/mzi.zdrhapka.170x170-75.jpg</string>
	</array>
	<key>120283</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/b/i/z/bizyogazou08/Taylor+Swift.jpg</string>
	</array>
	<key>120284</key>
	<array>
	  <string>http://www.hecklerspray.com/wp-content/uploads/2008/11/taylor-swift1.jpg</string>
	</array>
	<key>120285</key>
	<array>
	  <string>http://3.bp.blogspot.com/_R39lDuisW5Y/TK-vddEPxGI/AAAAAAAAAPI/3Jeuku8YKiE/s1600/taylor-swift-speak-now.jpg</string>
	</array>
	<key>120286</key>
	<array>
	  <string>http://www.lyricsreg.com/fw_images/artists/taylor-swift-picture-1.jpg</string>
	</array>
	<key>120287</key>
	<array>
	  <string>http://images.paraorkut.com/img/pics/images/t/taylor_swift_with_guitar-14072.jpg</string>
	</array>
	<key>120288</key>
	<array>
	  <string>http://www.gamersdailynews.com/userfiles/taylor-swift.jpg</string>
	</array>
	<key>120289</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/20904009/Taylor+Swift+SwiftTaylor.jpg</string>
	</array>
	<key>120290</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090507/05/ohnohollywood/ca/a8/j/o0500078810176979189.jpg</string>
	</array>
	<key>120291</key>
	<array>
	  <string>http://www.celebrity-pictures.ca/Celebrities/Taylor-Swift/Taylor-Swift-1156701.jpg</string>
	</array>
	<key>120292</key>
	<array>
	  <string>http://www.celebritypicnic.com/celebrities/taylor-swift/mainimage.jpg</string>
	</array>
	<key>120293</key>
	<array>
	  <string>http://4.bp.blogspot.com/_M82K0ZYg5-4/TDlExhJ2LlI/AAAAAAAAAQE/dWG_EtzKmRg/s1600/taylor-swift-got-milk-ad.jpg</string>
	</array>
	<key>120294</key>
	<array>
	  <string>http://blog-imgs-12-origin.fc2.com/h/o/l/hollywoodcelebnews/taylor-swift-snl-afterparty-110709-1.jpg</string>
	</array>
	<key>120295</key>
	<array>
	  <string>http://www.xlyrics.de/images/up/000/017/009/Taylor_Swift_ffff_original.jpg</string>
	</array>
	<key>120296</key>
	<array>
	  <string>http://www.celebritiesworld.tk/img/taylor-swift-30.jpg</string>
	</array>
	<key>120297</key>
	<array>
	  <string>http://kisebeauty.up.seesaa.net/image/1taylor-swift1.jpg</string>
	</array>
	<key>120298</key>
	<array>
	  <string>http://www.nknet.biz/images/taylor-swift3.jpg</string>
	</array>
	<key>120299</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/9773627/Taylor+Swift+Taylor++Flowers.jpg</string>
	</array>
	<key>120300</key>
	<array>
	  <string>http://img38.imageshack.us/img38/151/taylorswift08.jpg</string>
	</array>
	<key>120301</key>
	<array>
	  <string>http://4.bp.blogspot.com/_R39lDuisW5Y/TKjXGkBHaWI/AAAAAAAAAOg/XX4v-TUAoZI/s1600/Taylor-Swift-guitar-22628.jpeg</string>
	</array>
	<key>120302</key>
	<array>
	  <string>http://www.sponkit.com/wp-content/uploads/2009/04/taylor-swift.jpg</string>
	</array>
	<key>120303</key>
	<array>
	  <string>http://frappelattes.com/wp-content/uploads/2009/09/taylor-swift-makeup.jpg</string>
	</array>
	<key>120304</key>
	<array>
	  <string>http://cache.daylife.com/imageserve/0dLC9XS7t94kS/340x.jpg</string>
	</array>
	<key>120305</key>
	<array>
	  <string>http://www.tsp21.com/music/jpgif/taylor-swift.jpg</string>
	</array>
	<key>120306</key>
	<array>
	  <string>http://4.bp.blogspot.com/_hMFeRUfIs3U/S9-OS5RTV1I/AAAAAAAABs4/3yuDBWTbrpE/s640/TaylorSwift.jpg</string>
	</array>
	<key>120307</key>
	<array>
	  <string>http://www.ooho.co/oohostar/staradmin/cateImage/Taylor%20swift%20smile-18-07-005.jpg</string>
	</array>
	<key>120308</key>
	<array>
	  <string>http://kisebijin69.up.seesaa.net/image/1TaylorSwiftGrammys.jpg</string>
	</array>
	<key>120309</key>
	<array>
	  <string>http://yougakutengoku.up.seesaa.net/image/taylor-swift-5af31.jpg</string>
	</array>
	<key>120310</key>
	<array>
	  <string>http://jollypeople.com/files/2010/04/Taylor+Swift.jpg</string>
	</array>
	<key>120311</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/01/7a/hms_zac_vanessa/folder/1073167/img_1073167_30748246_4?1254034734</string>
	</array>
	<key>120312</key>
	<array>
	  <string>http://www.entertainmentwallpaper.com/images/desktops/celebrity/taylor_swift02.jpg</string>
	</array>
	<key>120313</key>
	<array>
	  <string>http://www.webanswers.com/post-images/0/0B/4FB94441-8230-4E3D-9F879D10F75D024A.jpg</string>
	</array>
	<key>120314</key>
	<array>
	  <string>http://blog.musicskins.com/wp-content/uploads/2011/04/singer-taylor-swift.jpg</string>
	</array>
	<key>120315</key>
	<array>
	  <string>http://taylorswiftbiography.net/wp-content/uploads/2010/03/taylor-swift-biography.jpg</string>
	</array>
	<key>120316</key>
	<array>
	  <string>http://4.bp.blogspot.com/_IeYZJSlTsHM/TBIktBVTRbI/AAAAAAAAF8k/6H93OyTv6nQ/s400/taylor-swift-blouse_l.jpg</string>
	</array>
	<key>120317</key>
	<array>
	  <string>http://rockmusic.jp/taylorswift/wp-content/uploads/2010/06/TaylorSwiftMARIECLAIRE_2-220x300.png</string>
	</array>
	<key>120318</key>
	<array>
	  <string>http://www.celebritiesworld.tk/img/taylor-swift-39.jpg</string>
	</array>
	<key>120319</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/016/696/23/N000/000/000/126399676300616221469.jpg</string>
	</array>
	<key>120320</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/9a/65/pooh_212_5/folder/256893/img_256893_9513880_0?1266414603</string>
	</array>
	<key>120321</key>
	<array>
	  <string>http://www.artistesdefrance.com/wp-content/uploads/2010/10/taylor-swift-20081026-466459.jpg</string>
	</array>
	<key>120322</key>
	<array>
	  <string>http://www.absolutely.net/Taylor_Swift/index.jpg</string>
	</array>
	<key>120323</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/b/i/z/bizyogazou08/taylor-swift-featured.jpg</string>
	</array>
	<key>120324</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/c2/37/aloha801mahalo/folder/1339688/img_1339688_58103347_1?1265524211</string>
	</array>
	<key>120325</key>
	<array>
	  <string>http://www.picpiggy.com/bank/taylor_swift_prom_pictures-1297862828.jpg</string>
	</array>
	<key>120326</key>
	<array>
	  <string>http://flash.gamezassi.com/dressup/images/taylor_swift.jpg</string>
	</array>
	<key>120327</key>
	<array>
	  <string>http://rockmusic.jp/taylorswift/wp-content/uploads/2010/03/taylorswift-elle-2-215x300.jpg</string>
	</array>
	<key>120328</key>
	<array>
	  <string>http://sarasotasings.com/uploads/Taylor_Swift.jpg</string>
	</array>
	<key>120329</key>
	<array>
	  <string>http://cdn.crushable.com/files/2008/12/24931pcn-another10-taylor-swift.jpg</string>
	</array>
	<key>120330</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/c/e/l/celebprofile/Swift2.jpg</string>
	</array>
	<key>120331</key>
	<array>
	  <string>http://www.wowmusicvideos.com/wp-content/uploads/2010/08/Taylor-Swift1.jpg</string>
	</array>
	<key>120332</key>
	<array>
	  <string>http://www.flash-screen.com/free-wallpaper/uploads/200811/imgs/1227490187_1024x768_taylor-swift-white-horse-lyrics.jpg</string>
	</array>
	<key>120333</key>
	<array>
	  <string>http://blog-imgs-18.fc2.com/y/o/u/youngcelebrity/taylorswift_20090406162100.jpg</string>
	</array>
	<key>120334</key>
	<array>
	  <string>http://1.bp.blogspot.com/-54XqEB-jXT4/TWcNoDA7xoI/AAAAAAAAAQA/Gr8FX7Qv5Zc/s1600/Taylor%252BSwift%252Bphotoshoots_david110.jpg</string>
	</array>
	<key>120335</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000057052/300.jpg</string>
	</array>
	<key>120336</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/4c/fd/d25b263d78543932a9252bf030f533a6.jpg</string>
	</array>
	<key>120337</key>
	<array>
	  <string>http://images2.fanpop.com/images/photos/3700000/Taylor-Swift-on-Set-of-CSI-csi-3745391-606-455.jpg</string>
	</array>
	<key>120338</key>
	<array>
	  <string>http://rockin.jpn.org/wp-content/uploads/2010/06/taylorswift_01.jpg</string>
	</array>
	<key>120339</key>
	<array>
	  <string>http://www.shegame.com/flash_games/images/taylor_swift_makeover180.gif</string>
	</array>
	<key>120340</key>
	<array>
	  <string>http://www.ads-news.com/wp-content/uploads/2010/10/Taylor-Swift.jpg</string>
	</array>
	<key>120341</key>
	<array>
	  <string>http://picimages.net/photo/taylor-swift-hairstyles/taylor-swift-hairstyles_1308525003.jpg</string>
	</array>
	<key>120342</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/4b/68/ceaa12d31e4482b1319b9085a06aa3e3.jpg</string>
	</array>
	<key>120343</key>
	<array>
	  <string>http://www.usmagazine.com/uploads/assets/celebrities/21844-taylor-swift/1251125967_taylor_swift_290x402.jpg</string>
	</array>
	<key>120344</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/k/a/w/kawaeuta/091108110000taylor_swift.jpg</string>
	</array>
	<key>120345</key>
	<array>
	  <string>http://images.zap2it.com/images/celeb-516020/taylor-swift-2.jpg</string>
	</array>
	<key>120346</key>
	<array>
	  <string>http://www.xlyrics.de/images/up/000/017/005/Taylor_Swift_Taylor_original.jpg</string>
	</array>
	<key>120347</key>
	<array>
	  <string>http://i.listen.jp/img/news/20100117/28840_2.jpg</string>
	</array>
	<key>120348</key>
	<array>
	  <string>http://demilove.img.jugem.jp/20090718_863019.jpg</string>
	</array>
	<key>120349</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/5151802/Taylor+Swift.jpg</string>
	</array>
	<key>120350</key>
	<array>
	  <string>http://www.sugarslam.com/wp-content/uploads/2009/02/taylor-swift-shoot5.jpg</string>
	</array>
	<key>120351</key>
	<array>
	  <string>http://rockmusic.jp/taylorswift/wp-content/uploads/2010/03/taylorswift-elle-1-214x300.jpg</string>
	</array>
	<key>120352</key>
	<array>
	  <string>http://2.bp.blogspot.com/_yHFrOtUsKOo/SbCwXLlfi3I/AAAAAAAABdo/0SgnaryicE4/s1600/Taylor%2525252BSwift%2525252B-%2525252BYou%25255Cx27re%2525252BNot%2525252BSorry%2525252B(CSI%2525252BMix)%2525252B(Official%2525252BSingle%2525252BCover).jpg</string>
	</array>
	<key>120353</key>
	<array>
	  <string>http://kisebeauty.up.seesaa.net/image/1TaylorSwift2.jpg</string>
	</array>
	<key>120354</key>
	<array>
	  <string>http://184.172.245.32/medias/img-1/ht83com-image-disorder-taylor-swift.gif</string>
	</array>
	<key>120355</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090617/21/fiore8/e5/a9/j/o0500079710198500468.jpg</string>
	</array>
	<key>120356</key>
	<array>
	  <string>http://images2.fanpop.com/images/photos/5400000/Taylor-Swift-taylor-swift-5477708-1024-768.jpg</string>
	</array>
	<key>120357</key>
	<array>
	  <string>http://www.pricescope.com/idealbb/files/taylor-swift-updo%201.jpg</string>
	</array>
	<key>120358</key>
	<array>
	  <string>http://allrealbeauty.files.wordpress.com/2009/07/taylor-swift-glamour-magazine-august-2009-01.jpg</string>
	</array>
	<key>120359</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jjr//2009/10/taylor-julianne/taylor-swift-julianne-hough-paint-04.jpg</string>
	</array>
	<key>120360</key>
	<array>
	  <string>http://images.apple.com/itunesaffiliates/US/2008/11/02/TaylorSwift_300x300.jpg</string>
	</array>
	<key>120361</key>
	<array>
	  <string>http://blog-imgs-43-origin.fc2.com/i/m/g/imgs/100519-taylor-swift.jpg</string>
	</array>
	<key>120362</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/017/245/75/N000/000/000/126857282079016209799_Taylor.jpg</string>
	</array>
</dict>
</plist>
