<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>80660</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100216/21/svycgbu/23/27/j/o0240032010417153353.jpg</string>
	</array>
	<key>80659</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/47105475/ykrn.png</string>
	</array>
	<key>80658</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/mb/20091007_141800_1254891211.jpg</string>
	</array>
	<key>80657</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/091012/gnj0910120504009-p1.jpg</string>
	</array>
	<key>80656</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100217/06/a-kind-book/3d/23/j/o0240032010417643517.jpg</string>
	</array>
	<key>80655</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100217/06/a-kind-book/82/89/j/o0240032010417643515.jpg</string>
	</array>
	<key>80794</key>
	<array>
	  <string>http://blog.oricon.co.jp/_images/fgjadfgasd/2406332086_381cb5ba1d.jpg</string>
	</array>
	<key>80793</key>
	<array>
	  <string>http://www1.e-hon.ne.jp/images/syoseki/ac_r/63/07235563.jpg</string>
	</array>
	<key>80792</key>
	<array>
	  <string>http://static.flickr.com/5104/5622268312_a504fd6cd1.jpg</string>
	</array>
	<key>80791</key>
	<array>
	  <string>http://art26.photozou.jp/pub/705/603705/photo/53095660.jpg</string>
	</array>
	<key>80790</key>
	<array>
	  <string>http://stat.group.ameba.jp/group_images/20101225/20/8c/57/j/o01050140reds-kashiwagi-81293275439167.jpg</string>
	</array>
	<key>80789</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/f/u/k/fukukofukuko/img_228828_1052537_2.jpeg</string>
	</array>
	<key>80788</key>
	<array>
	  <string>http://www.soccer-king.jp/files/topics/7941_ext_03_0.jpg</string>
	</array>
	<key>80787</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100630/23/kashiwagi-misato/14/d7/j/t02200391_0480085410617413224.jpg</string>
	</array>
	<key>80786</key>
	<array>
	  <string>http://popup777.net/wordpress/wp-content/uploads/2011/03/20110313_2.jpg</string>
	</array>
	<key>80785</key>
	<array>
	  <string>http://gazo.micore.jp/img/0004w_317/%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80_l.jpeg</string>
	</array>
	<key>80784</key>
	<array>
	  <string>http://syoizumidoga.cocolog-nifty.com/blog/images/2010/07/18/photo.jpg</string>
	</array>
	<key>80783</key>
	<array>
	  <string>http://akb48picture.sitemix.jp/wp-content/uploads/2011/03/20091007_141800_12548912111.jpg</string>
	</array>
	<key>80782</key>
	<array>
	  <string>http://24.media.tumblr.com/tumblr_lk247grgEf1qgji13o1_500.jpg</string>
	</array>
	<key>80781</key>
	<array>
	  <string>http://nigaoe-sagaso.com/img/special/003130-34.jpg</string>
	</array>
	<key>80780</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1f03a6q102e79</string>
	</array>
	<key>80779</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/4/8/a/48akblog/blog_import_4d75d1ecb0f55.jpg</string>
	</array>
	<key>80778</key>
	<array>
	  <string>http://j-cutie.com/wp-content/uploads/2011/02/e283eb98a2c503971c584a8746307498.jpg</string>
	</array>
	<key>80777</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100221/23/kashiwagi-misato/ca/45/j/o0480085410423989113.jpg</string>
	</array>
	<key>80776</key>
	<array>
	  <string>http://livedoor.blogimg.jp/geinow2/imgs/0/4/04b3ff85-s.jpg</string>
	</array>
	<key>80774</key>
	<array>
	  <string>http://cqahnf.cocolog-nifty.com/photos/uncategorized/2011/01/26/1.jpg</string>
	</array>
	<key>80775</key>
	<array>
	  <string>http://kashiwagi0cup.blog.so-net.ne.jp/_images/blog/_8b0/kashiwagi0cup/E38090AKB48E383BBE69F8FE69CA8E794B1E7B480E381AEE382ABE38383E38397E58B95E794BBE3818CE280A6E3809101-d96c3.jpg</string>
	</array>
	<key>80773</key>
	<array>
	  <string>http://popspace5.com/img/idol/akb48/kashiwagiyuki_img/004.jpg</string>
	</array>
	<key>80772</key>
	<array>
	  <string>http://28.media.tumblr.com/tumblr_lje4g6cOXu1qgji13o1_400.jpg</string>
	</array>
	<key>80771</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/et-100301-06-ns.jpg</string>
	</array>
	<key>80770</key>
	<array>
	  <string>http://akbyonhachi.up.seesaa.net/image/100819-0054380495.jpg</string>
	</array>
	<key>80769</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110617/12/kashiwagi-misato/a8/e7/j/t02200330_0320048011295626380.jpg</string>
	</array>
	<key>80768</key>
	<array>
	  <string>http://entamax.blog.so-net.ne.jp/_images/blog/_b52/entamax/E69F8FE69CA8E794B1E7B480g.jpg</string>
	</array>
	<key>80767</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100719/20/kashiwagi-misato/87/d3/j/t02200391_0480085410647969101.jpg</string>
	</array>
	<key>80766</key>
	<array>
	  <string>http://fdtstwetweew.cocolog-nifty.com/blog/images/2010/12/10/20101210081940ceb.jpg</string>
	</array>
	<key>80765</key>
	<array>
	  <string>http://www.muse-sava.com/model/%E6%9F%8F%E6%9C%A8%E7%BE%8E%E5%BD%A6%20002.jpg</string>
	</array>
	<key>80764</key>
	<array>
	  <string>http://www.daily.co.jp/gossip/article/02437389.jpg</string>
	</array>
	<key>80763</key>
	<array>
	  <string>http://img.segmee.com/193139.jpeg</string>
	</array>
	<key>80762</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/f-et-0411-0001-ns.jpg</string>
	</array>
	<key>80761</key>
	<array>
	  <string>http://akb.48lover.com/img/Topic/167/image.jpg</string>
	</array>
	<key>80760</key>
	<array>
	  <string>http://aidorutarenntogazou.up.seesaa.net/image/o0800115810990365157.jpg</string>
	</array>
	<key>80759</key>
	<array>
	  <string>http://kashiwagitoru.jp/images/common/top.jpg</string>
	</array>
	<key>80758</key>
	<array>
	  <string>http://dg.galman.jp/img/001de_6496/%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80_l.gif</string>
	</array>
	<key>80757</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100222/23/kashiwagi-misato/5b/b0/j/t02200391_0480085410425325536.jpg</string>
	</array>
	<key>80755</key>
	<array>
	  <string>http://gazousuteesyonn.up.seesaa.net/image/21_031_09.jpg</string>
	</array>
	<key>80756</key>
	<array>
	  <string>http://blog-imgs-26-origin.fc2.com/i/c/e/icenet/20110717151023ec8.jpg</string>
	</array>
	<key>80754</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/4/8/a/48akblog/yuki005.jpg</string>
	</array>
	<key>80753</key>
	<array>
	  <string>http://rtawtbw6.cocolog-nifty.com/blog/images/2011/03/24/o0500037510369253979.jpg</string>
	</array>
	<key>80752</key>
	<array>
	  <string>http://www.kurumaerabi.com/images/racequeen/racequeen.a.kurumaerabi.com:10080/wp-content/uploads/2010/09/%E3%82%B9%E3%83%BC%E3%83%91%E3%83%BCGT-DUNLOP-%E3%83%AC%E3%83%BC%E3%82%B9%E3%82%AF%E3%82%A4%E3%83%BC%E3%83%B3-%E6%9F%8F%E6%9C%A8%E7%BE%8E%E9%87%8C-12.</string>
	</array>
	<key>80750</key>
	<array>
	  <string>http://img.segmee.com/232528.jpeg</string>
	</array>
	<key>80751</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_lo2rvbP6XP1qgjhl0o1_500.jpg</string>
	</array>
	<key>80749</key>
	<array>
	  <string>http://okuni.blog.so-net.ne.jp/_images/blog/_e73/okuni/091204-cea75.jpg</string>
	</array>
	<key>80748</key>
	<array>
	  <string>http://dg.galman.jp/img/0029g_6598/%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80_l.gif</string>
	</array>
	<key>80747</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100130/11/kashiwagi-misato/10/00/j/t02200391_0480085410394047922.jpg</string>
	</array>
	<key>80746</key>
	<array>
	  <string>http://akb48idol.web.fc2.com/akb48/kasiwagi_yuki/005.jpg</string>
	</array>
	<key>80745</key>
	<array>
	  <string>http://gazousuteesyonn.up.seesaa.net/image/21_032_04.jpg</string>
	</array>
	<key>80744</key>
	<array>
	  <string>http://www.mira1.jp/staff_blog/%E3%80%90%E4%BC%BC%E9%A1%94%E7%B5%B5%E3%80%91%E6%9F%8F%E6%9C%A8%E5%92%8C%E4%BA%BA.JPG</string>
	</array>
	<key>80743</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100403/06/kashiwagi-misato/e9/b7/j/t02200391_0480085410479477060.jpg</string>
	</array>
	<key>80742</key>
	<array>
	  <string>http://www.kurumaerabi.com/images/racequeen/racequeen.a.kurumaerabi.com:10080/wp-content/uploads/2010/09/%E3%82%B9%E3%83%BC%E3%83%91%E3%83%BCGT-DUNLOP-%E3%83%AC%E3%83%BC%E3%82%B9%E3%82%AF%E3%82%A4%E3%83%BC%E3%83%B3-%E6%9F%8F%E6%9C%A8%E7%BE%8E%E9%87%8C-09.</string>
	</array>
	<key>80741</key>
	<array>
	  <string>http://file.yukikasiwagi.mamagoto.com/Img/1310869708/</string>
	</array>
	<key>80740</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_lkohsmInAb1qcopqzo1_500.png</string>
	</array>
	<key>80739</key>
	<array>
	  <string>http://blog.ap.teacup.com/kashiwagi-puri/timg/middle_1295505888.jpg</string>
	</array>
	<key>80738</key>
	<array>
	  <string>http://image161.poco.cn/mypoco/myphoto/20100302/18/54611736201003021811041707617055443_040.jpg</string>
	</array>
	<key>80737</key>
	<array>
	  <string>http://3nomiya.net/blogs/SP0116/%E6%9F%8F%E6%9C%A8%E7%94%B1%E8%A8%98.jpg</string>
	</array>
	<key>80735</key>
	<array>
	  <string>http://long.2chan.tv/jlab-long/s/long1293123561529.jpg</string>
	</array>
	<key>80736</key>
	<array>
	  <string>http://kashiwagi0cup.blog.so-net.ne.jp/_images/blog/_8b0/kashiwagi0cup/E38090AKB48E383BBE69F8FE69CA8E794B1E7B480E381AEE382ABE38383E38397E58B95E794BBE3818CE280A6E38091.jpg</string>
	</array>
	<key>80734</key>
	<array>
	  <string>http://losjfg.up.seesaa.net/image/032.jpg</string>
	</array>
	<key>80733</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/52/kimiyo-kashiwagi/1248964873322.jpg</string>
	</array>
	<key>80732</key>
	<array>
	  <string>http://auction.thumbnail.image.rakuten.co.jp/@0_auc/image58/9b/42/00011214958/5a/cb/img00287052585.jpg?_ex=700x700&amp;amp;s=2&amp;amp;r=1</string>
	</array>
	<key>80731</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_ljr4wlqNiI1qcopqzo1_500.png</string>
	</array>
	<key>80730</key>
	<array>
	  <string>http://isearch.c.yimg.jp/image?id=874960ae037d12bb2256d4231a4b0540</string>
	</array>
	<key>80728</key>
	<array>
	  <string>http://img.segmee.com/239745.jpeg</string>
	</array>
	<key>80729</key>
	<array>
	  <string>http://aidorutarenntogazou.up.seesaa.net/image/o0800113510990365666.jpg</string>
	</array>
	<key>80726</key>
	<array>
	  <string>http://dg.galman.jp/img/0029g_6597/%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80_l.gif</string>
	</array>
	<key>80727</key>
	<array>
	  <string>http://gazousuteesyonn.up.seesaa.net/image/21_031_05.jpg</string>
	</array>
	<key>80725</key>
	<array>
	  <string>http://www.kurumaerabi.com/images/racequeen/racequeen.a.kurumaerabi.com:10080/wp-content/uploads/2010/09/%E3%82%B9%E3%83%BC%E3%83%91%E3%83%BCGT-DUNLOP-%E3%83%AC%E3%83%BC%E3%82%B9%E3%82%AF%E3%82%A4%E3%83%BC%E3%83%B3-%E6%9F%8F%E6%9C%A8%E7%BE%8E%E9%87%8C-01.</string>
	</array>
	<key>80724</key>
	<array>
	  <string>http://29.media.tumblr.com/tumblr_lmfflfS3fP1qc1p2do1_500.jpg</string>
	</array>
	<key>80723</key>
	<array>
	  <string>http://dg.galman.jp/img/0029g_6600/%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80_l.gif</string>
	</array>
	<key>80722</key>
	<array>
	  <string>http://mpwalker.up.seesaa.net/image/E69F8FE69CA8E794B1E7B4804.jpg</string>
	</array>
	<key>80721</key>
	<array>
	  <string>http://blog.livedoor.jp/send_a_little_love/image/20091006_09.jpg</string>
	</array>
	<key>80720</key>
	<array>
	  <string>http://ygdfgevfer.cocolog-nifty.com/blog/images/2011/01/26/f9a6b692d483f6e01124198d83a144fd.jpg</string>
	</array>
	<key>80719</key>
	<array>
	  <string>http://d2i6c6y1xqgf7t.cloudfront.net/media/queen/as2010_kashiwagi-misato_13.jpg</string>
	</array>
	<key>80718</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101123/21/mebaru2500/bc/6d/j/o0390059210877159758.jpg</string>
	</array>
	<key>80717</key>
	<array>
	  <string>http://livedoor.blogimg.jp/aidle_images2/imgs/f/b/fb43df2a.jpg</string>
	</array>
	<key>80716</key>
	<array>
	  <string>http://mpwalker.up.seesaa.net/image/E69F8FE69CA8E794B1E7B4803.jpg</string>
	</array>
	<key>80715</key>
	<array>
	  <string>http://www.watanabepro.co.jp/mypage/artist/yuki_photo.jpg</string>
	</array>
	<key>80714</key>
	<array>
	  <string>http://news.kanaloco.jp/common/user/news/photo/1/091023/7_233913.jpeg</string>
	</array>
	<key>80713</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/f7/82/january_twenty_nine_ryo/folder/228828/img_228828_1052537_1?1278239995</string>
	</array>
	<key>80712</key>
	<array>
	  <string>http://rtawtbw6.cocolog-nifty.com/blog/images/2011/03/22/gnj0910120504009p1.jpg</string>
	</array>
	<key>80711</key>
	<array>
	  <string>http://wox.cc/user/rterdfasdf/o/20110419-153720.jpg</string>
	</array>
	<key>80710</key>
	<array>
	  <string>http://i.ytimg.com/vi/bWLb7TtmFe8/0.jpg</string>
	</array>
	<key>80709</key>
	<array>
	  <string>http://japaneseidols1.up.seesaa.net/image/1.jpg</string>
	</array>
	<key>80708</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/4A/5ozQC9.jpeg</string>
	</array>
	<key>80707</key>
	<array>
	  <string>http://www.circleksunkus.jp/__image__/other/image/entertainment/media/akb48_kasiwagi_090915.jpg</string>
	</array>
	<key>80706</key>
	<array>
	  <string>http://www2.jfn.co.jp/blog/js/px_%E6%9F%8F%E6%9C%A8%E9%99%BD%E4%BB%8B_JFN%20(2).jpg</string>
	</array>
	<key>80705</key>
	<array>
	  <string>http://img121.imageshack.us/img121/127/gnj0909230504014p11.jpg</string>
	</array>
	<key>80704</key>
	<array>
	  <string>http://s448.photobucket.com/albums/qq205/Afro_Stud/AKB48/Verbatim/Kashiwagi%20Yuki/21_055_06.jpg</string>
	</array>
	<key>80702</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/dd/17/tuyosibs/folder/328669/img_328669_4003934_1?1284960183</string>
	</array>
	<key>80703</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/05/20110530_kashiwagiyuki_12.jpg</string>
	</array>
	<key>80701</key>
	<array>
	  <string>http://img.pics.livedoor.com/005/a/a/aa722a5f37f1da4102a3-LL.jpg</string>
	</array>
	<key>80700</key>
	<array>
	  <string>http://gamer.vc/img/sm/aidol/01.jpg</string>
	</array>
	<key>80699</key>
	<array>
	  <string>http://cdn.autos.goo.ne.jp/-/autos/rq_gallery/misato_kashiwagi2/kashiwagi2_05.jpg</string>
	</array>
	<key>80698</key>
	<array>
	  <string>http://kashiwagiyukigazou48.up.seesaa.net/E69F8FE69CA8E794B1E7B480100E38080E9AB98E794BBE8B3AAE794BBE5838FE383BBE58699E79C9FE383BBE5A381E7B499.jpg</string>
	</array>
	<key>80697</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100404/16/yamabiko141/1f/fa/j/o0450030010481532073.jpg</string>
	</array>
	<key>80696</key>
	<array>
	  <string>http://blog-imgs-45-origin.fc2.com/a/k/i/akiba70/18.jpg</string>
	</array>
	<key>80695</key>
	<array>
	  <string>http://blog-imgs-17-origin.fc2.com/t/s/u/tsukishimahana/9kashiwagiyuki04.jpg</string>
	</array>
	<key>80693</key>
	<array>
	  <string>http://www.yakunitatsu.jp/images/%E6%9F%8F%E6%9C%A8.jpg</string>
	</array>
	<key>80694</key>
	<array>
	  <string>http://frameblog.com/blog/%E6%9F%8F%E6%9C%A8.jpg</string>
	</array>
	<key>80692</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/39/fe/akblove0326/folder/466911/img_466911_7891911_2?1297083787</string>
	</array>
	<key>80691</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20100907/20100907025247_original.jpg</string>
	</array>
	<key>80690</key>
	<array>
	  <string>http://www.jsgoal.jp/photo/00026100/00026108-B.jpg</string>
	</array>
	<key>80689</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/6G/0o8Mxf.jpeg</string>
	</array>
	<key>80688</key>
	<array>
	  <string>http://kashiwagiyukigazou48.up.seesaa.net/image/E69F8FE69CA8E794B1E7B480201E38080E9AB98E794BBE8B3AAE794BBE5838FE383BBE58699E79C9FE383BBE5A381E7B499.jpg</string>
	</array>
	<key>80687</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/5129vDFSLAL._SL500_AA300_.jpg</string>
	</array>
	<key>80686</key>
	<array>
	  <string>http://curly-rudy.com/images/akb48/201011213.jpg</string>
	</array>
	<key>80685</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/32/0001193732/76/img117d0b46zik3zj.jpeg</string>
	</array>
	<key>80683</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/akakb/imgs/b/6/b69d8af6.jpg</string>
	</array>
	<key>80684</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/s/y/u/syukyuman/500647.jpg</string>
	</array>
	<key>80682</key>
	<array>
	  <string>http://file.tomodachi.game-ss.com/gnj0909230504014-p10.jpg</string>
	</array>
	<key>80681</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/47/0001130147/69/imga5481067zik3zj.jpeg</string>
	</array>
	<key>80679</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000041546/001.jpg</string>
	</array>
	<key>80680</key>
	<array>
	  <string>http://blog.so-net.ne.jp/_images/blog/_539/kame_kame_kame/c0201117_0585687.jpg</string>
	</array>
	<key>80678</key>
	<array>
	  <string>http://kashiwagiyukigazou48.up.seesaa.net/E69F8FE69CA8E794B1E7B48065E38080E9AB98E794BBE8B3AAE794BBE5838FE383BBE58699E79C9FE383BBE5A381E7B499.jpg</string>
	</array>
	<key>80677</key>
	<array>
	  <string>http://curly-rudy.com/images/akb48/201011212.jpg</string>
	</array>
	<key>80675</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_1b8/inamotomiho/E69F8FE69CA8E794B1E7B480.jpg</string>
	</array>
	<key>80676</key>
	<array>
	  <string>http://kashiwagiyukigazou48.up.seesaa.net/E69F8FE69CA8E794B1E7B48095E38080E9AB98E794BBE8B3AAE794BBE5838FE383BBE58699E79C9FE383BBE5A381E7B499.jpg</string>
	</array>
	<key>80674</key>
	<array>
	  <string>http://blog-imgs-46.fc2.com/c/a/i/cairnsk/KASHIWAGI.jpg</string>
	</array>
	<key>80673</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/4/8/a/48akblog/yuki003.jpg</string>
	</array>
	<key>80672</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/sports/soccer/101030/scr1010301957024-p1.jpg</string>
	</array>
	<key>80671</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100831/tnr1008310939006-p2.jpg</string>
	</array>
	<key>80670</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/sports/baseball/100519/bbl1005192049010-p1.jpg</string>
	</array>
	<key>80669</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/sports/other/100410/oth1004101815007-p1.jpg</string>
	</array>
	<key>80667</key>
	<array>
	  <string>http://www.sanspo.com/soccer/images/100808/sca1008082149009-p1.jpg</string>
	</array>
	<key>80668</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/sports/soccer/100912/scr1009122311013-p1.jpg</string>
	</array>
	<key>80666</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/201009/100908_FK_main.jpg</string>
	</array>
	<key>80665</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/201006/100629_akb_main.jpg</string>
	</array>
	<key>80664</key>
	<array>
	  <string>http://www.nikkansports.com/soccer/japan/asiancup/2011/news/img/sc-110118-06-ns-big.jpg</string>
	</array>
	<key>80661</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100216/21/svycgbu/5a/58/j/o0240032010417152962.jpg</string>
	</array>
	<key>80662</key>
	<array>
	  <string>http://img0.photo6.ameba.jp/a/akb-minami-atsuko/org/0706q7228Swf13NSo6RoPw.jpg</string>
	</array>
	<key>80663</key>
	<array>
	  <string>http://www.nikkansports.com/soccer/japan/asiancup/2011/news/img/P2011011703721_kashiwagi-ns-big.jpg</string>
	</array>
	<key>80854</key>
	<array>
	  <string>http://www.videoarasana.info/img/5439754f307a637a745551.jpg</string>
	</array>
	<key>80853</key>
	<array>
	  <string>http://lark.top.lc/go/d71c8668900ac722596c1ab941b8e8dc.jpg</string>
	</array>
	<key>80852</key>
	<array>
	  <string>http://akbgazo2.up.seesaa.net/image/f9da5c8a-s.jpg</string>
	</array>
	<key>80851</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/akb48_matome/imgs/2/c/2c0d173d.jpg</string>
	</array>
	<key>80850</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/entnews/images/20100413_02_000.jpg</string>
	</array>
	<key>80848</key>
	<array>
	  <string>http://ubuchan.img.jugem.jp/20110214_1971952.jpg</string>
	</array>
	<key>80849</key>
	<array>
	  <string>http://ubuchan.img.jugem.jp/20110508_2110362.jpg</string>
	</array>
	<key>80847</key>
	<array>
	  <string>http://www.moviecollection.jp/_pimg.php/23021/sket01.jpg</string>
	</array>
	<key>80845</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=160166dqed835</string>
	</array>
	<key>80846</key>
	<array>
	  <string>http://www.hk2046.com/uploads/allimg/110628/0A921D23_0.jpg</string>
	</array>
	<key>80844</key>
	<array>
	  <string>http://x22img.peps.jp/uimg/r/river0710/10/1/d6b8or22mjA.jpg</string>
	</array>
	<key>80843</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/kashiwagi001.jpg</string>
	</array>
	<key>80842</key>
	<array>
	  <string>http://akbgazo2.up.seesaa.net/image/058e47fa-s.jpg</string>
	</array>
	<key>80840</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_lj9j9rz4641qz8cp6o1_500.jpg</string>
	</array>
	<key>80841</key>
	<array>
	  <string>http://i.listen.jp/img/news/20110307/32308_1.jpg</string>
	</array>
	<key>80839</key>
	<array>
	  <string>http://www.safetv.me/image/KVwJ4gUEIwo/default.jpg</string>
	</array>
	<key>80837</key>
	<array>
	  <string>http://blog-imgs-26.fc2.com/t/a/k/takeshi1911/20110110141557a7c.jpg</string>
	</array>
	<key>80838</key>
	<array>
	  <string>http://kotori-sings.up.seesaa.net/image/16_kashiwagi_yosuke.jpg</string>
	</array>
	<key>80836</key>
	<array>
	  <string>http://kashiwagiyukigazou48.up.seesaa.net/image/E69F8FE69CA8E794B1E7B480228E38080E9AB98E794BBE8B3AAE794BBE5838FE383BBE58699E79C9FE383BBE5A381E7B499.jpg</string>
	</array>
	<key>80835</key>
	<array>
	  <string>http://livedoor.blogimg.jp/theoryofhimo/imgs/1/f/1fb30d11.jpg</string>
	</array>
	<key>80834</key>
	<array>
	  <string>http://www.safetv.me/image/VJJscONxzc0/default.jpg</string>
	</array>
	<key>80833</key>
	<array>
	  <string>http://24.media.tumblr.com/tumblr_lmymi2CTby1qzc1oko1_400.jpg</string>
	</array>
	<key>80831</key>
	<array>
	  <string>http://art24.photozou.jp/pub/72/396072/photo/38914082.jpg</string>
	</array>
	<key>80832</key>
	<array>
	  <string>http://i.ytimg.com/vi/0rEg4IxJRtU/hqdefault.jpg</string>
	</array>
	<key>80830</key>
	<array>
	  <string>http://ubuchan.img.jugem.jp/20110508_2110361.jpg</string>
	</array>
	<key>80829</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_286/miyazawakasiwagi/m_E5AEAEE6BEA4E4BD90E6B19F01.jpg</string>
	</array>
	<key>80828</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/fe/01/minto10417/folder/271205/img_271205_2548752_0?1302351834</string>
	</array>
	<key>80827</key>
	<array>
	  <string>http://www.myopensystem.jp/ji/1341_1.jpg</string>
	</array>
	<key>80826</key>
	<array>
	  <string>http://blog-imgs-46.fc2.com/a/k/b/akb48fans/5f6992b2-s.jpg</string>
	</array>
	<key>80825</key>
	<array>
	  <string>http://akb48gazou48.up.seesaa.net/image/kashiwagiyuki21.jpg</string>
	</array>
	<key>80824</key>
	<array>
	  <string>http://hbc-net.com/images/talent/kashiwagi_m.jpg</string>
	</array>
	<key>80823</key>
	<array>
	  <string>http://auction.thumbnail.image.rakuten.co.jp/@0_auc/image40/9d/6c/00011199340/32/ed/img00296539205.jpg?_ex=700x700&amp;amp;s=2&amp;amp;r=1</string>
	</array>
	<key>80822</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/6A/1o69zf.jpeg</string>
	</array>
	<key>80821</key>
	<array>
	  <string>http://www.soccer-king.jp/files/topics/6125_ext_03_0.jpg</string>
	</array>
	<key>80820</key>
	<array>
	  <string>http://nipvre.img.jugem.jp/20110128_1633773.jpg</string>
	</array>
	<key>80819</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51%2Br%2BExiLuL._SL500_AA300_.jpg</string>
	</array>
	<key>80818</key>
	<array>
	  <string>http://www.stardust.co.jp/upload/talent/photo/5/560.L.jpg</string>
	</array>
	<key>80817</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/1d/ac/85dbc9c04f1366292d2efee55c09afa7.jpg</string>
	</array>
	<key>80816</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20110417/20/40/80/j/o032002401303040964047.jpg</string>
	</array>
	<key>80815</key>
	<array>
	  <string>http://s448.photobucket.com/albums/qq205/Afro_Stud/AKB48/Verbatim/Kashiwagi%20Yuki/21_062_06.jpg</string>
	</array>
	<key>80814</key>
	<array>
	  <string>http://akb48mati.carlsonics.com/img/kashiyuki.jpg</string>
	</array>
	<key>80812</key>
	<array>
	  <string>http://gazo.micore.jp/img/0004w_319/%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80_l.jpeg</string>
	</array>
	<key>80813</key>
	<array>
	  <string>http://blog-imgs-46.fc2.com/a/k/b/akb48fans/41_10.jpg</string>
	</array>
	<key>80811</key>
	<array>
	  <string>http://j-cutie.com/wp-content/uploads/2011/04/topqueen_jp_gv38-480.jpg</string>
	</array>
	<key>80810</key>
	<array>
	  <string>http://images-jp.amazon.com/images/P/4863360851.09.MAIN._SCLZZZZZZZ_.jpg</string>
	</array>
	<key>80809</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/31D7CSQZ16L._SL500_SS75_.jpg</string>
	</array>
	<key>80808</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/a/k/b/akb48gazou48/blog_import_4d75cb11df43c.jpg</string>
	</array>
	<key>80807</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/201104/02/78/d0230978_18123486.jpg</string>
	</array>
	<key>80806</key>
	<array>
	  <string>http://blog.livedoor.jp/send_a_little_love/image/20110516_05.jpg</string>
	</array>
	<key>80805</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100419/11/yosuke-kashiwagi/f0/be/j/o0800106710502732580.jpg</string>
	</array>
	<key>80803</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_lk24kfBb1P1qcopqzo1_500.png</string>
	</array>
	<key>80804</key>
	<array>
	  <string>http://www.miyakan-h.com/cgi/mt-static/FileUpload/pics/GM/05/2011%2003%2025%20%E6%9F%8F%E6%9C%A8%E3%81%95%E3%82%93.jpg</string>
	</array>
	<key>80802</key>
	<array>
	  <string>http://static.flickr.com/5020/5505602149_4f7314a98c.jpg</string>
	</array>
	<key>80801</key>
	<array>
	  <string>http://nigaoe-sagaso.com/img/special/002710-159.jpg</string>
	</array>
	<key>80800</key>
	<array>
	  <string>http://miracleboys.jp/blog/%E6%9F%8F%E6%9C%A8%20%E5%AE%8F%E4%BB%81.JPG</string>
	</array>
	<key>80799</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/a/k/b/akb48gazou48/blog_import_4d75cb209c373.jpg</string>
	</array>
	<key>80798</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_ll4z2e8iCx1qcopqzo1_500.png</string>
	</array>
	<key>80797</key>
	<array>
	  <string>http://tn-skr2.smilevideo.jp/smile?i=10458653</string>
	</array>
	<key>80796</key>
	<array>
	  <string>http://www.tomisalon.com/salon-blog-02/%E6%9F%8F%E6%9C%A8%E5%8F%8C%E8%91%89.JPG</string>
	</array>
	<key>80795</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/entnews/images/20091016_05_000.jpg</string>
	</array>
</array>
</plist>
