<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>34415</key>
	<array>
	  <string>http://www.763.fm/album/okapa/2010/100403ske48.jpg</string>
	</array>
	<key>34414</key>
	<array>
	  <string>http://blog-imgs-40.fc2.com/l/u/l/lulalakagaku/SKE48.jpg</string>
	</array>
	<key>34413</key>
	<array>
	  <string>http://blog.satindollweb.com/wp-content/uploads/2011/02/ske48.jpg</string>
	</array>
	<key>34412</key>
	<array>
	  <string>http://i472.photobucket.com/albums/rr90/zen0802/AKB48%20WP/matsuijurina-5.jpg</string>
	</array>
	<key>34411</key>
	<array>
	  <string>http://img818.imageshack.us/img818/5872/101116ske48konohentrave.jpg</string>
	</array>
	<key>34410</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20091202/20091202020400.png</string>
	</array>
	<key>34409</key>
	<array>
	  <string>http://cdn3.staztic.com/screenshots/ske48-100-1.jpg</string>
	</array>
	<key>34408</key>
	<array>
	  <string>http://cdn2.staztic.com/screenshots/ske48-100-2.jpg</string>
	</array>
	<key>34407</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201007/20/ske48.jpg</string>
	</array>
	<key>34406</key>
	<array>
	  <string>http://www.pref.aichi.jp/cmsfiles/contents/0000030/30078/0823.jpg</string>
	</array>
	<key>34405</key>
	<array>
	  <string>http://kira090.up.seesaa.net/image/A3C1A3CBA3C2A3B4A3B8.jpg</string>
	</array>
	<key>34404</key>
	<array>
	  <string>http://images.keizai.biz/sakae_keizai/headline/1245809118_photo.jpg</string>
	</array>
	<key>34403</key>
	<array>
	  <string>http://multiply.com/mu/kojz/image/jQUbJGoHr3GUtOadVEnOtA/photos/1M/orig/400/ske48venus1.jpg?et=JEtF%2CvXlOdp0P0EIpyuEcw&amp;amp;nmid=0</string>
	</array>
	<key>34401</key>
	<array>
	  <string>http://stage48.net/studio48/images/single_ske48_02_b.jpg</string>
	</array>
	<key>34402</key>
	<array>
	  <string>http://news.music.biglobe.ne.jp/files/15/46/1121/20101021114615_0.jpg</string>
	</array>
	<key>34400</key>
	<array>
	  <string>http://www.deview.co.jp/interview/image09/090731ske48Main.jpg</string>
	</array>
	<key>34399</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201010/21/ske48_cover.jpg</string>
	</array>
	<key>34398</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/k/a/n/kanami91/2011013016440879b.jpg</string>
	</array>
	<key>34397</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/1/c/1c1215b4d77f0314b958f21c4a79a021.jpg</string>
	</array>
	<key>34396</key>
	<array>
	  <string>http://blog.shinseido.co.jp/tokuten/2009/SKE48_0428.JPG</string>
	</array>
	<key>34395</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20100301/20100301173405.jpg</string>
	</array>
	<key>34394</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/5b/8c/65b4ce0f88c596996661a04becdbb7cb.jpg</string>
	</array>
	<key>34393</key>
	<array>
	  <string>http://www.girlsnews.tv/wp-content/uploads/sk4-8.jpg</string>
	</array>
	<key>34392</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201008/20/ske48_0819.jpg</string>
	</array>
	<key>34391</key>
	<array>
	  <string>http://blog.shinseido.co.jp/tokuten/2011/SKE48venus.jpg</string>
	</array>
	<key>34390</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0c/25/maeda_atuko3/folder/387038/img_387038_9410919_0?1233649515</string>
	</array>
	<key>34389</key>
	<array>
	  <string>http://www.fmmie.jp/program/single30/SKE48.JPG</string>
	</array>
	<key>34388</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/019/288/50/N000/000/000/126793715084816410237_SKE48.jpg</string>
	</array>
	<key>34387</key>
	<array>
	  <string>http://i472.photobucket.com/albums/rr90/zen0802/AKB48%20WP/SKE48-4.jpg?t=1267704514</string>
	</array>
	<key>34386</key>
	<array>
	  <string>http://lh5.ggpht.com/-iP7G9aym8gs/SOdTcAVJCWI/AAAAAAAAAHs/Hql3qhaFnqc/up0077.jpg</string>
	</array>
	<key>34384</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/0d/39/495ae96efdf687ae735f04063100131c.jpg</string>
	</array>
	<key>34385</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201008/20/ske48_0819_02.jpg</string>
	</array>
	<key>34383</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/6/4/64607_130_2010041301_01.jpg</string>
	</array>
	<key>34382</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/33185675/SKE48.png</string>
	</array>
	<key>34381</key>
	<array>
	  <string>http://net.blt.tv/goods/kuradashi/img/photo_ske48_06_01.jpg</string>
	</array>
	<key>34380</key>
	<array>
	  <string>http://mori-saki.com/diary/image/dvd/DVD_SKE48_20091225NagoyaIkki_02.jpg</string>
	</array>
	<key>34379</key>
	<array>
	  <string>http://sakurapoptarts.files.wordpress.com/2010/11/ske48-b.jpg?w=300&amp;amp;h=300</string>
	</array>
	<key>34378</key>
	<array>
	  <string>http://www.hotexpress.co.jp/interview/100707_ske48/img/100707_ske48_top.jpg</string>
	</array>
	<key>34377</key>
	<array>
	  <string>http://www.kansenzyuku.com/8tai/blog/data/upfile/74-2.jpg</string>
	</array>
	<key>34376</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201007/20/ske48_03.jpg</string>
	</array>
	<key>34375</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/entnews/images/20081014_02_000.jpg</string>
	</array>
	<key>34374</key>
	<array>
	  <string>http://blog-imgs-33.fc2.com/g/o/e/goemonseisaku/SKE48teamS-Seifuku_no_Me.jpg</string>
	</array>
	<key>34373</key>
	<array>
	  <string>http://supermerlion.com/wp-content/uploads/2010/06/ske48_keymembers.jpg</string>
	</array>
	<key>34372</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/m/o/n/monma2/2010-03-30-ske48.jpg</string>
	</array>
	<key>34371</key>
	<array>
	  <string>http://lh5.ggpht.com/_TdDXt3zqN-U/S-uF2QSY-EI/AAAAAAAAHvc/pY2sIF0JJ1U/61Ue+tFENjL._SS500_%5B2%5D.jpg</string>
	</array>
	<key>34370</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51L0T0kqZpL._SL500_AA300_.jpg</string>
	</array>
	<key>34369</key>
	<array>
	  <string>http://blog-imgs-36.fc2.com/j/i/d/jidolpics/WPB_net_119_SKE48_Chapter1.jpg</string>
	</array>
	<key>34368</key>
	<array>
	  <string>http://i.listen.jp/img/news/20090223/26198_1.jpg</string>
	</array>
	<key>34367</key>
	<array>
	  <string>http://lh6.ggpht.com/-wMFMXOT0w5w/SP6bk6ocTGI/AAAAAAAAALk/tmHmAXbguVs/SKE48-1280x800b.jpg</string>
	</array>
	<key>34366</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201010/21/ske48_pv.jpg</string>
	</array>
	<key>34365</key>
	<array>
	  <string>http://gazo.galman.jp/img/013rx_28241/AKB48%E3%80%80SKE48%E3%80%80%E5%89%8D%E7%94%B0%E4%BA%9C%E7%BE%8E%E2%97%8E%E6%9D%BE%E4%BA%95%E7%8F%A0%E7%90%86%E5%A5%88.jpeg</string>
	</array>
	<key>34364</key>
	<array>
	  <string>http://image.portphoto.com/img/00001_2843/%E6%9D%BE%E4%BA%95%E7%8F%A0%E7%90%86%E5%A5%88%E3%80%80SKE48.jpg</string>
	</array>
	<key>34363</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20100414/20100414191452.jpg</string>
	</array>
	<key>34362</key>
	<array>
	  <string>http://kira090.up.seesaa.net/image/SKE48.jpg</string>
	</array>
	<key>34360</key>
	<array>
	  <string>http://www.fmotor.jp/news/photo/2010/ske48.jpg</string>
	</array>
	<key>34361</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/57/f0/f90d0fa94ea436597d0ce218db3aac54.jpg</string>
	</array>
	<key>34359</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090507/10/akb48akb48akb48/51/53/j/o0390028410177053434.jpg</string>
	</array>
	<key>34358</key>
	<array>
	  <string>http://eiganavi.csgyao.com/music/images/2010/03/11/ske48.jpg</string>
	</array>
	<key>34357</key>
	<array>
	  <string>http://www5.nikkansports.com/entertainment/akb48/column/img/ske48-100430-00.jpg</string>
	</array>
	<key>34355</key>
	<array>
	  <string>http://img52.imageshack.us/img52/2590/36780445.jpg</string>
	</array>
	<key>34356</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201004/30/ske48.jpg</string>
	</array>
	<key>34354</key>
	<array>
	  <string>http://img97.imageshack.us/img97/2220/teamk2a.jpg</string>
	</array>
	<key>34353</key>
	<array>
	  <string>http://areya.in/up/201007/04/02/100704-1944020488.jpg</string>
	</array>
	<key>34352</key>
	<array>
	  <string>http://1.bp.blogspot.com/_NKm51q9FEMA/S6A77n2EbmI/AAAAAAAABpo/7Vt9mSCwOYg/s400/ske+kenkyuuseis.jpg</string>
	</array>
	<key>34351</key>
	<array>
	  <string>http://www.blog-door.com/img/ske48.jpg</string>
	</array>
	<key>34350</key>
	<array>
	  <string>http://www.selcy.co.jp/blog/wp-content/uploads/2010/03/e38090ae58699e38091-ske48e3808ce99d92e7a9bae78987e683b3e38184e3808d-300x226.jpg</string>
	</array>
	<key>34349</key>
	<array>
	  <string>http://sportskart.com/blog/wp-content/uploads/2010/10/SKE48.jpg</string>
	</array>
	<key>34348</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/99717.jpg</string>
	</array>
	<key>34347</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/5/0/507c68cf959ee8418b6e4a92b8e448cc.jpg</string>
	</array>
	<key>34346</key>
	<array>
	  <string>http://guide.jp.real.com/editor/realmusic/100312images/100325_ske48.jpg</string>
	</array>
	<key>34345</key>
	<array>
	  <string>http://image.pia.jp/images/news/img/ORG_20100311000701.jpg</string>
	</array>
	<key>34344</key>
	<array>
	  <string>http://i.listen.jp/img/news/20090804/27525_2.jpg</string>
	</array>
	<key>34343</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/32851179/SKE48+00.jpg</string>
	</array>
	<key>34342</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090613/14/natsumikango/23/8e/j/o0610040710196055725.jpg</string>
	</array>
	<key>34341</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201007/06/ske48.jpg</string>
	</array>
	<key>34340</key>
	<array>
	  <string>http://www.hephall.com/blog/wp-content/uploads/2010/04/100521_bn.jpg</string>
	</array>
	<key>34338</key>
	<array>
	  <string>http://komantarebu.up.seesaa.net/image/SKE48.jpg</string>
	</array>
	<key>34339</key>
	<array>
	  <string>http://net.blt.tv/goods/img/photo_ske48_calendar2010_01.jpg</string>
	</array>
	<key>34337</key>
	<array>
	  <string>http://2.bp.blogspot.com/_ViN8ILTkg8c/S4QatC1vMmI/AAAAAAAAQN4/wOHL_Y_nlmk/s400/ske48+team.jpg</string>
	</array>
	<key>34335</key>
	<array>
	  <string>http://img101.imageshack.us/img101/500/seifukunomecover.jpg</string>
	</array>
	<key>34336</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51tP32nslaL._SL500_AA300_.jpg</string>
	</array>
	<key>34334</key>
	<array>
	  <string>http://image.pia.jp/images/news/img/ORG_20100413000001.jpg</string>
	</array>
	<key>34332</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201003/03/ske48.jpg</string>
	</array>
	<key>34333</key>
	<array>
	  <string>http://net.blt.tv/goods/img/photo_ske48_01.jpg</string>
	</array>
	<key>34330</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/99572.jpg</string>
	</array>
	<key>34331</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/16/0000206016/76/imgc812c919zik7zj.jpeg</string>
	</array>
	<key>34329</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000058893/302.jpg</string>
	</array>
	<key>34328</key>
	<array>
	  <string>http://blog.pia.jp/livelog/100316_SKE48.jpg</string>
	</array>
	<key>34327</key>
	<array>
	  <string>http://3.bp.blogspot.com/_Coa80dWoDc4/TDGPvm2VXYI/AAAAAAAAAZk/f_xflT2SP1I/s1600/SKE48+-+Gomen+ne+SUMMER+3.jpg</string>
	</array>
	<key>34326</key>
	<array>
	  <string>http://blog-imgs-31.fc2.com/p/e/r/perfumeperfect/news_large_SKE48_2ndsg_tsujo.jpg</string>
	</array>
	<key>34325</key>
	<array>
	  <string>http://as-news01.up.seesaa.net/image/SKE48.jpg</string>
	</array>
	<key>34324</key>
	<array>
	  <string>http://blog.shinseido.co.jp/tokuten/2009/SKE48%E3%80%8C%E5%88%B6%E6%9C%8D%E3%81%AE%E8%8A%BD%E3%80%8D.jpg</string>
	</array>
	<key>34322</key>
	<array>
	  <string>http://j.mycom.jp/articles/2010/11/26/kinect/images/001l.jpg</string>
	</array>
	<key>34323</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_a1b/ske48-t/ske48.jpg</string>
	</array>
	<key>34321</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/economy/business/101120/biz1011201115005-p1.jpg</string>
	</array>
	<key>34320</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/region/kanto/tokyo/100918/tky1009181411001-p3.jpg</string>
	</array>
	<key>34319</key>
	<array>
	  <string>http://ascii.jp/elem/000/000/544/544283/01_c_900x600.jpg</string>
	</array>
	<key>34318</key>
	<array>
	  <string>http://ascii.jp/elem/000/000/573/573635/deraSKE-1_c_600x819.jpg</string>
	</array>
	<key>34317</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/economy/business/100918/biz1009181334003-p3.jpg</string>
	</array>
	<key>34316</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100919/gnf1009190532000-p1.jpg</string>
	</array>
	<key>34315</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100918/gnj1009181549010-p1.jpg</string>
	</array>
	<key>34314</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/108839.jpg</string>
	</array>
	<key>34313</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000064133/p1.jpg</string>
	</array>
	<key>34312</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/119523.jpg</string>
	</array>
	<key>34311</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/16/022/images/001l.jpg</string>
	</array>
	<key>34310</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100410/tnr1004100826001-p1.jpg</string>
	</array>
	<key>34309</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/108838.jpg</string>
	</array>
	<key>34308</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/108837.jpg</string>
	</array>
	<key>34307</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/101004/tnr1010040740002-p4.jpg</string>
	</array>
	<key>34306</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/100313/msc1003131151000-p1.jpg</string>
	</array>
	<key>34304</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/119522.jpg</string>
	</array>
	<key>34305</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/110719.jpg</string>
	</array>
	<key>34303</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/110721.jpg</string>
	</array>
	<key>34302</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/11/23/026/images/001l.jpg</string>
	</array>
	<key>34301</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/119521.jpg</string>
	</array>
	<key>34300</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/119520.jpg</string>
	</array>
	<key>34299</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100831/gnj1008310600014-p1.jpg</string>
	</array>
	<key>34298</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/110720.jpg</string>
	</array>
	<key>34297</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100910/gnj1009101951026-p1.jpg</string>
	</array>
	<key>34296</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100911/gnj1009110501001-p1.jpg</string>
	</array>
	<key>34295</key>
	<array>
	  <string>http://118.67.80.132/media/0912/1226/extra/news_large_SKE48_live091225b.jpg</string>
	</array>
	<key>34294</key>
	<array>
	  <string>http://118.67.80.132/media/0912/1226/extra/news_large_SKE48_live091225a.jpg</string>
	</array>
	<key>34293</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/29659001/SKE48+S01.jpg</string>
	</array>
	<key>34292</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/entnews/images/20081014_02_000.jpg</string>
	</array>
	<key>34291</key>
	<array>
	  <string>http://natalie.mu/media/0909/0918/SKE48/extra/news_large_SKE48_09.jpg</string>
	</array>
	<key>34290</key>
	<array>
	  <string>http://www.yomiuri.co.jp/photo/20101006-954606-1-L.jpg</string>
	</array>
	<key>34289</key>
	<array>
	  <string>http://farm5.static.flickr.com/4062/4299626531_52bf5fbe42.jpg</string>
	</array>
	<key>34288</key>
	<array>
	  <string>http://images.keizai.biz/sakae_keizai/headline/1245809118_photo.jpg</string>
	</array>
	<key>34287</key>
	<array>
	  <string>http://natalie.mu/media/0909/0918/SKE48/extra/news_large_SKE48_08.jpg</string>
	</array>
	<key>34286</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/29560423/SKE48+20080922215724_00_400.jpg</string>
	</array>
	<key>34285</key>
	<array>
	  <string>http://natalie.mu/media/0909/0918/SKE48/extra/news_large_SKE48_04.jpg</string>
	</array>
	<key>34284</key>
	<array>
	  <string>http://natalie.mu/media/1008/0820/extra/news_large_SKE48_jingu1.jpg</string>
	</array>
	<key>34283</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000061917/ske1_s.jpg</string>
	</array>
	<key>34282</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/29659019/SKE48+S02.jpg</string>
	</array>
	<key>34281</key>
	<array>
	  <string>http://farm3.static.flickr.com/2561/4059683320_25ab20f2cc.jpg</string>
	</array>
	<key>34279</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000053238/barks_photo11.jpg</string>
	</array>
	<key>34280</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000064133/p2.jpg</string>
	</array>
	<key>34278</key>
	<array>
	  <string>http://natalie.mu/media/1011/1128/SKE48/extra/news_large_SKE48_live03.jpg</string>
	</array>
	<key>34277</key>
	<array>
	  <string>http://natalie.mu/media/0909/0918/SKE48/extra/news_large_SKE48_10.jpg</string>
	</array>
	<key>34276</key>
	<array>
	  <string>http://farm3.static.flickr.com/2750/4299627175_df9725fd92.jpg</string>
	</array>
	<key>34274</key>
	<array>
	  <string>http://natalie.mu/media/1008/0801/SKE48/extra/news_large_ske48_setlist30_01.jpg</string>
	</array>
	<key>34275</key>
	<array>
	  <string>http://www.fmotor.jp/news/photo/2010/ske48.jpg</string>
	</array>
	<key>34273</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20101021/81249_201010210647991001287629361c.jpg</string>
	</array>
	<key>34272</key>
	<array>
	  <string>http://natalie.mu/media/1011/1128/SKE48/extra/news_large_SKE48_live09.jpg</string>
	</array>
	<key>34271</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/33185675/SKE48.png</string>
	</array>
	<key>34270</key>
	<array>
	  <string>http://natalie.mu/media/0907/0722/extra/news_large_SKE48.jpg</string>
	</array>
	<key>34269</key>
	<array>
	  <string>http://natalie.mu/media/1012/1217/SKE48_DVD/extra/news_large_SKE48_kobe03.jpg</string>
	</array>
	<key>34268</key>
	<array>
	  <string>http://118.67.80.132/media/0909/0930/extra/news_large_ske48_teamS.jpg</string>
	</array>
	<key>34267</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/entnews/images/20090626_05_000.jpg</string>
	</array>
	<key>34266</key>
	<array>
	  <string>http://natalie.mu/media/1003/0303/extra/news_large_SKE48_2ndsg_art0303.jpg</string>
	</array>
	<key>34265</key>
	<array>
	  <string>http://blog.pia.jp/livelog/100316_SKE48.jpg</string>
	</array>
	<key>34264</key>
	<array>
	  <string>http://natalie.mu/media/1010/1021/SKE48/extra/news_large_SKE48_tsujoB_JK.jpg</string>
	</array>
	<key>34263</key>
	<array>
	  <string>http://natalie.mu/media/1006/0616/extra/news_large_SKE48_art100616.jpg</string>
	</array>
	<key>34261</key>
	<array>
	  <string>http://natalie.mu/media/1011/1124/SKE48_idol/extra/news_large_SKE48_idol4.jpg</string>
	</array>
	<key>34262</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/16101235/SKE48.jpg</string>
	</array>
	<key>34260</key>
	<array>
	  <string>http://image.pia.jp/images/news/img/ORG_20090729000501.jpg</string>
	</array>
	<key>34259</key>
	<array>
	  <string>http://blog.shinseido.co.jp/tokuten/2009/SKE48%E3%80%8C%E5%88%B6%E6%9C%8D%E3%81%AE%E8%8A%BD%E3%80%8D.jpg</string>
	</array>
	<key>34258</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/45687741/SKE48+SKE.jpg</string>
	</array>
	<key>34257</key>
	<array>
	  <string>http://natalie.mu/media/0907/0722/extra/news_large_SKE48_LACM4638.jpg</string>
	</array>
	<key>34256</key>
	<array>
	  <string>http://news.walkerplus.com/2010/0413/2/20100413031243_00_400.jpg</string>
	</array>
	<key>34255</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_kocx5bIv0O1qzhnmzo1_500.jpg</string>
	</array>
	<key>34254</key>
	<array>
	  <string>http://i.listen.jp/img/news/20090804/27525_2.jpg</string>
	</array>
	<key>34253</key>
	<array>
	  <string>http://natalie.mu/media/1006/0616/extra/news_large_SKE48_3rdsg_typeA.jpg</string>
	</array>
	<key>34252</key>
	<array>
	  <string>http://natalie.mu/media/1008/0830/idol_fes/extra/news_large_DSC_1081.jpg</string>
	</array>
	<key>34251</key>
	<array>
	  <string>http://natalie.mu/media/1102/0207/SKE48/extra/news_large_SKE48_Venus_JK_tsujoB.jpg</string>
	</array>
	<key>34250</key>
	<array>
	  <string>http://natalie.mu/media/1003/0303/extra/news_large_SKE48_2ndsg_tsujo.jpg</string>
	</array>
	<key>34249</key>
	<array>
	  <string>http://natalie.mu/media/1010/1021/SKE48/extra/news_large_SKE48_20101021.jpg</string>
	</array>
	<key>34248</key>
	<array>
	  <string>http://118.67.80.132/media/0912/1226/extra/news_large_SKE48_teamS_2nd.jpg</string>
	</array>
	<key>34247</key>
	<array>
	  <string>http://news.walkerplus.com/2009/1104/10/20091104155516_03_400.jpg</string>
	</array>
	<key>34246</key>
	<array>
	  <string>http://natalie.mu/media/1102/0207/SKE48/extra/news_large_SKE48_20110207.jpg</string>
	</array>
	<key>34244</key>
	<array>
	  <string>http://natalie.mu/media/1003/0303/extra/news_large_SKE48_2ndsg_gekijo.jpg</string>
	</array>
	<key>34245</key>
	<array>
	  <string>http://farm3.static.flickr.com/2502/4211776122_4166bac6be.jpg</string>
	</array>
	<key>34243</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20101021/81249_201010210664723001287629361c.jpg</string>
	</array>
	<key>34242</key>
	<array>
	  <string>http://news.walkerplus.com/2011/0216/3/20110215223852_00_400.jpg</string>
	</array>
	<key>34241</key>
	<array>
	  <string>http://natalie.mu/media/1102/0207/SKE48/extra/news_large_SKE48_Venus_JK_tsujoA.jpg</string>
	</array>
	<key>34240</key>
	<array>
	  <string>http://news.walkerplus.com/2009/1021/22/20091021165840_00_400.jpg</string>
	</array>
	<key>34416</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000061917/ske1_s.jpg</string>
	</array>
	<key>34417</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201007/20/ske48_02.jpg</string>
	</array>
	<key>34418</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090607/14/akb48akb48akb48/b8/38/j/o0390028410192855499.jpg</string>
	</array>
	<key>34419</key>
	<array>
	  <string>http://stage48.net/studio48/images/single_ske48_02_a.jpg</string>
	</array>
	<key>34420</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20100301/20100301173327.jpg</string>
	</array>
	<key>34421</key>
	<array>
	  <string>http://blog-imgs-33.fc2.com/g/o/e/goemonseisaku/SKE48_teamS-Te_wo_tsunaginagara.jpg</string>
	</array>
	<key>34422</key>
	<array>
	  <string>http://i981.photobucket.com/albums/ae298/ekyism/AKB48/SKE48-2.jpg</string>
	</array>
	<key>34423</key>
	<array>
	  <string>http://news.walkerplus.com/2008/0922/10/20080922215724_00_400.jpg</string>
	</array>
	<key>34424</key>
	<array>
	  <string>http://www.sundayfolk.com/livlog/6wfh0ti/SKE48.jpg</string>
	</array>
	<key>34425</key>
	<array>
	  <string>http://www.hotexpress.co.jp/interview/110309_SKE48/img/110309_SKE48_top.jpg</string>
	</array>
	<key>34426</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201008/20/ske48_0819_03.jpg</string>
	</array>
	<key>34427</key>
	<array>
	  <string>http://blog-imgs-44-origin.fc2.com/c/a/p/cap1234/happy20100712-16.jpg</string>
	</array>
	<key>34428</key>
	<array>
	  <string>http://img687.imageshack.us/img687/7207/110610ske48buttsukeske4n.jpg</string>
	</array>
	<key>34429</key>
	<array>
	  <string>http://ysaitou.blog.so-net.ne.jp/_images/blog/_fc2/ysaitou/SKE48E38080E69DBEE4BA95E78FA0E79086E5A588E2978EE79FA2E7A59EE4B985E7BE8E_l.jpeg</string>
	</array>
	<key>34430</key>
	<array>
	  <string>http://infinityfx35.ru/img/3f/3f0/SKE48_SKE48.jpg</string>
	</array>
	<key>34431</key>
	<array>
	  <string>http://www.virtuatennis4.ru/img/8d/8dc/SKE48____Rena_Matsui_____S3_NEW.jpg</string>
	</array>
	<key>34432</key>
	<array>
	  <string>http://www.hotexpress.co.jp/artist/907/images/ske48_110207_ap.jpg</string>
	</array>
	<key>34433</key>
	<array>
	  <string>http://infinityfx35.ru/img/6e/6e7/SKE48_2011_4_13_______________.jpg</string>
	</array>
	<key>34434</key>
	<array>
	  <string>http://img.ske48.co.jp/topics/201006302124_04332.jpg</string>
	</array>
	<key>34435</key>
	<array>
	  <string>http://cdn3.staztic.com/screenshots/ske-fan-ske48-040-1.jpg</string>
	</array>
	<key>34436</key>
	<array>
	  <string>http://www.charabred.com/idol/imgs/ske48.jpg</string>
	</array>
	<key>34437</key>
	<array>
	  <string>http://blog-imgs-31.fc2.com/p/e/r/perfumeperfect/ske48_takayanagi_03.jpg</string>
	</array>
	<key>34438</key>
	<array>
	  <string>http://www.downloaddude.info/images/ogaku-Music-MP3/ske48-pareowa-emeralds.jpg</string>
	</array>
	<key>34439</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2010/06/11/eb1006110012.jpg</string>
	</array>
</dict>
</plist>
