<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>26168</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/49/76/2c878f76df3505a32b0cec7cf364db73.jpg</string>
	</array>
	<key>26166</key>
	<array>
	  <string>http://exo.jp/keypersonq/images10/vidal20082.jpg</string>
	</array>
	<key>26167</key>
	<array>
	  <string>http://i.listen.jp/img/news/20080501/23675_2.jpg</string>
	</array>
	<key>26165</key>
	<array>
	  <string>http://blog-imgs-13.fc2.com/8/m/o/8movie/amuro000.jpg</string>
	</array>
	<key>26164</key>
	<array>
	  <string>http://www.japanforever.net/namie%20amuro3.jpg</string>
	</array>
	<key>26163</key>
	<array>
	  <string>http://img05.ti-da.net/usr/tuxhair/vtZWh5Zkfof41gghGAQMlR3Ro1_1280%5B1%5D.jpg</string>
	</array>
	<key>26162</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/e1/c1/mukuro_hibari_guardiano/folder/413920/img_413920_2827676_4?1226395286</string>
	</array>
	<key>26161</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000046908/amuro1_s.jpg</string>
	</array>
	<key>26160</key>
	<array>
	  <string>http://image.portphoto.com/img/028x8_18127/%E5%AE%89%E5%AE%A4%E5%A5%88%E7%BE%8E%E6%81%B5.jpeg</string>
	</array>
	<key>26159</key>
	<array>
	  <string>http://friend-tomo.com/amuro-red/_src/sc37/2582886209_f737497e1a_o.jpg</string>
	</array>
	<key>26158</key>
	<array>
	  <string>http://blog-imgs-37-origin.fc2.com/i/p/o/ipod9/A004.jpg</string>
	</array>
	<key>26157</key>
	<array>
	  <string>http://carview-img02.bmcdn.jp/minkara/photo/000/001/802/638/1802638/p3.jpg</string>
	</array>
	<key>26156</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/l/a/b/labelsakusei/20090525003235f35.jpg</string>
	</array>
	<key>26155</key>
	<array>
	  <string>http://asahilabel.1616bbs.com/bbs/data/asahilabel/img/203_757299f37d.jpg</string>
	</array>
	<key>26153</key>
	<array>
	  <string>http://farm1.static.flickr.com/16/22327897_9597c27c47_o.jpg</string>
	</array>
	<key>26152</key>
	<array>
	  <string>http://blog-imgs-21-origin.fc2.com/u/z/i/uzic/n-a_02.jpg</string>
	</array>
	<key>26151</key>
	<array>
	  <string>http://farm4.static.flickr.com/3135/2713902746_4bbb54aa5a.jpg</string>
	</array>
	<key>26150</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/94/03/bump_of_chicken_mikko/folder/1407241/img_1407241_26888861_0?1281966659</string>
	</array>
	<key>26145</key>
	<array>
	  <string>http://friend-tomo.com/amuro-green/_src/sc676/sign.jpg</string>
	</array>
	<key>26144</key>
	<array>
	  <string>http://blog-imgs-38.fc2.com/i/k/u/ikura02/amuro2.jpg</string>
	</array>
	<key>26143</key>
	<array>
	  <string>http://img02.ti-da.net/usr/ryukyudohonpo/%E5%AE%89%E5%AE%A4%E5%A5%88%E7%BE%8E%E6%81%B5.jpg</string>
	</array>
	<key>26142</key>
	<array>
	  <string>http://blog-imgs-18.fc2.com/t/k/5/tk56/glamorous045_convert_20090317222701.jpg</string>
	</array>
	<key>26141</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/3e/22/goody_tree/folder/896218/img_896218_21900035_0?1214236771</string>
	</array>
	<key>26140</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/l/a/b/labelsakusei/20091214231148668.jpg</string>
	</array>
	<key>26139</key>
	<array>
	  <string>http://blog-imgs-26.fc2.com/s/u/b/subarur4/amuro.jpg</string>
	</array>
	<key>26138</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/w/o/m/womans076/msc0912150651000-p1.jpeg</string>
	</array>
	<key>26137</key>
	<array>
	  <string>http://x58img.peps.jp/uimg/m/momokoyuiamuro/7/13/cuao7hmzwiA.jpg</string>
	</array>
	<key>26136</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/2008_08/image/g2008081501amuro_b.jpg</string>
	</array>
	<key>26135</key>
	<array>
	  <string>http://storage.canalblog.com/32/00/58047/22202823.jpg</string>
	</array>
	<key>26134</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/l/a/b/labelsakusei/20090525003219af0.jpg</string>
	</array>
	<key>26133</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51MtwW%2B5s8L._SS500_.jpg</string>
	</array>
	<key>26132</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/511gOmTfWvL.jpg</string>
	</array>
	<key>26131</key>
	<array>
	  <string>http://friend-tomo.com/amuro-green/_src/sc489/200407150123_00.jpg</string>
	</array>
	<key>26130</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/2158889.jpg</string>
	</array>
	<key>26129</key>
	<array>
	  <string>http://www.beatfreak.jp/wp-content/uploads/01int.jpg</string>
	</array>
	<key>26128</key>
	<array>
	  <string>http://livedoor.blogimg.jp/kotaroblack/imgs/b/9/b9480444.jpg</string>
	</array>
	<key>26127</key>
	<array>
	  <string>http://www.vibe-net.com/image/biography/BEAEB331.jpg</string>
	</array>
	<key>26126</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/38/ee/letmeride731/folder/1801028/img_1801028_61826128_3?1287158152</string>
	</array>
	<key>26125</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/a/m/u/amuronamie920/amurokotolove.jpg</string>
	</array>
	<key>26124</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/k/a/g/kagisippo80/WS000109.jpg</string>
	</array>
	<key>26123</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200709/14/90/f0081290_21492722.jpg</string>
	</array>
	<key>26122</key>
	<array>
	  <string>http://c3st.jp.msn.com/entertainment/images/1/W97-0620-091015_l.jpg</string>
	</array>
	<key>26121</key>
	<array>
	  <string>http://love-deer.cocolog-nifty.com/photos/uncategorized/2009/01/28/photo_2.jpg</string>
	</array>
	<key>26120</key>
	<array>
	  <string>http://atky.cocolog-nifty.com/photos/uncategorized/artistp1.jpg</string>
	</array>
	<key>26119</key>
	<array>
	  <string>http://masekiongako.img.jugem.jp/20080816_410801.jpg</string>
	</array>
	<key>26118</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/20/d5/2bdfd57187313aa3a97db52c7f7e2930.jpg</string>
	</array>
	<key>26117</key>
	<array>
	  <string>http://china.image.wablog.com/page/825.jpg</string>
	</array>
	<key>26116</key>
	<array>
	  <string>http://kenji5.com/images/namieamuro890.jpg</string>
	</array>
	<key>26115</key>
	<array>
	  <string>http://blog-imgs-31-origin.fc2.com/u/z/i/uzic/09-04.jpg</string>
	</array>
	<key>26114</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/e2/4d/otarunosusi/folder/1512298/img_1512298_64361281_0?1306893396</string>
	</array>
	<key>26113</key>
	<array>
	  <string>http://utauouji.up.seesaa.net/image/mb-cgi1706-1.jpg</string>
	</array>
	<key>26112</key>
	<array>
	  <string>http://www.blog-door.com/images/blog/amuro3.jpg</string>
	</array>
	<key>26111</key>
	<array>
	  <string>http://2.bp.blogspot.com/_-tj4kOX2cyk/SLUugtuc2OI/AAAAAAAAATA/3RBiEJzXSHI/s400/%E5%AE%89%E5%AE%A4%E5%A5%88%E7%BE%8E%E6%81%B5+Best+Fiction2.jpg</string>
	</array>
	<key>26110</key>
	<array>
	  <string>http://files.hangame.co.jp/blog/2009/52/14a5d26b/08/30/24232374/14a5d26b_1251630908122.jpg</string>
	</array>
	<key>26109</key>
	<array>
	  <string>http://music.goo.ne.jp/special/amuro_090909/img/top.jpg</string>
	</array>
	<key>26108</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/252/17300397.jpg</string>
	</array>
	<key>26107</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/7f/f3/10141824025.jpg</string>
	</array>
	<key>26106</key>
	<array>
	  <string>http://img219.imageshack.us/img219/4139/v05blf3.jpg</string>
	</array>
	<key>26105</key>
	<array>
	  <string>http://jmjiykul.blog.so-net.ne.jp/_images/blog/_e18/jmjiykul/E5AE89E5AEA4E5A588E7BE8EE681B52.jpg</string>
	</array>
	<key>26104</key>
	<array>
	  <string>http://witchrainbow202.up.seesaa.net/image/amuro_photo2.JPG</string>
	</array>
	<key>26103</key>
	<array>
	  <string>http://blog-imgs-26-origin.fc2.com/a/m/u/amuronamie920/amuro_with_supermonkeys.jpg</string>
	</array>
	<key>26102</key>
	<array>
	  <string>http://gatinnkoseleblog.up.seesaa.net/image/721.jpg</string>
	</array>
	<key>26101</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/c6/fc/jyurihime115/folder/464232/img_464232_22414578_0?1233548942</string>
	</array>
	<key>26100</key>
	<array>
	  <string>http://www.hotexpress.co.jp/interview/amuronamie/image/amuro_queenofhippop.jpg</string>
	</array>
	<key>26099</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000057706/amuro001_s_www_barks_jp.jpg</string>
	</array>
	<key>26098</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/06/d6/asicreate/folder/673181/img_673181_45689848_0?1224735565</string>
	</array>
	<key>26097</key>
	<array>
	  <string>http://blog-imgs-41.fc2.com/m/o/t/motelu/01_ph01.jpg</string>
	</array>
	<key>26096</key>
	<array>
	  <string>http://wtg-celebrity.up.seesaa.net/image/B0C2BCBCC6E0C8FEB7C3C0B0B7C1A1A9.jpg</string>
	</array>
	<key>26095</key>
	<array>
	  <string>http://blog-imgs-46.fc2.com/n/e/o/neoonepiece/AVCD-23651.jpg</string>
	</array>
	<key>26094</key>
	<array>
	  <string>http://img.news.goo.ne.jp/talent/MW-W97-0620.jpg</string>
	</array>
	<key>26093</key>
	<array>
	  <string>http://blog-imgs-37-origin.fc2.com/i/p/o/ipod9/A003.jpg</string>
	</array>
	<key>26092</key>
	<array>
	  <string>http://blog-imgs-27-origin.fc2.com/w/a/l/wallpapermania/200906091832532c9.jpg</string>
	</array>
	<key>26091</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/32/0001160932/19/img1232871bzikdzj.jpeg</string>
	</array>
	<key>26090</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200902/26/04/f0189904_0255325.jpg</string>
	</array>
	<key>26089</key>
	<array>
	  <string>http://4147angelheart.up.seesaa.net/image/E5AE89E5AEA4E5A588E7BE8EE681B5.jpg</string>
	</array>
	<key>26088</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/r/reirei01/20080710/20080710010739.jpg</string>
	</array>
	<key>26087</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/76/b0/e_vegetables/folder/178150/img_178150_3131325_0?1303077972</string>
	</array>
	<key>26086</key>
	<array>
	  <string>http://image.portphoto.com/img/00001_68/%E5%AE%89%E5%AE%A4%E5%A5%88%E7%BE%8E%E6%81%B5.jpg</string>
	</array>
	<key>26085</key>
	<array>
	  <string>http://www.saicole.com/data/302/image01.png</string>
	</array>
	<key>26084</key>
	<array>
	  <string>http://image.pia.jp/images/news/img/ORG_20090326000201.jpg</string>
	</array>
	<key>26083</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/a/y/a/ayametrack/08091814.jpg</string>
	</array>
	<key>26082</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000038818/amuro_s.jpg</string>
	</array>
	<key>26081</key>
	<array>
	  <string>http://jpopcdcovers.files.wordpress.com/2009/03/bestfictionbv1hm0.jpg</string>
	</array>
	<key>26080</key>
	<array>
	  <string>http://blog-imgs-44-origin.fc2.com/g/e/i/geinounewstokudane/amuro.jpg</string>
	</array>
	<key>26079</key>
	<array>
	  <string>http://kirei.xsrv.jp/douga/amurokogao.jpg</string>
	</array>
	<key>26078</key>
	<array>
	  <string>http://blog-imgs-23.fc2.com/m/i/s/misschibi/amuro5.jpg</string>
	</array>
	<key>26076</key>
	<array>
	  <string>http://women.stareastasia.com/wp-content/uploads/2006/12/namie-amuro-pic-0001.jpg</string>
	</array>
	<key>26077</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/53/37/number_9633/folder/785716/img_785716_24112420_0?1290394148</string>
	</array>
	<key>26075</key>
	<array>
	  <string>http://komechan.konjiki.jp/amuronamie/coca2.jpg</string>
	</array>
	<key>26073</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000032709/amuro05_s.jpg</string>
	</array>
	<key>26074</key>
	<array>
	  <string>http://blog-imgs-24.fc2.com/t/k/5/tk56/image2or1.jpg</string>
	</array>
	<key>26072</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/a/y/a/ayametrack/08091811.jpg</string>
	</array>
	<key>26071</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/22/b7/masonry666to/folder/350850/img_350850_22852775_1?1303233591</string>
	</array>
	<key>26070</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_b5f/amuronamiv/E5AE89E5AEA4E5A588E7BE8EE681B5.jpg</string>
	</array>
	<key>26069</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_lm2i7oF8qy1qjtktwo1_400.jpg</string>
	</array>
	<key>26068</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/f3/e8/zhangtingmediajp/folder/907157/img_907157_31637747_2?1260950236</string>
	</array>
	<key>26067</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/amuro614.jpg</string>
	</array>
	<key>26066</key>
	<array>
	  <string>http://www.aki73.jp/amurotour.jpg</string>
	</array>
	<key>26065</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/a/m/u/amuronamie920/namie0amuro.jpg</string>
	</array>
	<key>26064</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/ba/c5/exile12080930/folder/248468/img_248468_1585186_1?1243409246</string>
	</array>
	<key>26063</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/18/00/ebe65a32def61af8fa97fc18dfa2dfa5.jpg</string>
	</array>
	<key>26062</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/n/a/m/namie920/941568624534240017.jpg</string>
	</array>
	<key>26061</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/41olEoqNg4L._SL500_AA300_.jpg</string>
	</array>
	<key>26060</key>
	<array>
	  <string>http://blog-imgs-24.fc2.com/t/k/5/tk56/image1af5.jpg</string>
	</array>
	<key>26059</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/a/y/a/ayametrack/08091812.jpg</string>
	</array>
	<key>26057</key>
	<array>
	  <string>http://www.aki73.jp/amuro.jpg</string>
	</array>
	<key>26058</key>
	<array>
	  <string>http://i.listen.jp/img/news/20080701/24235_1.jpg</string>
	</array>
	<key>26056</key>
	<array>
	  <string>http://area2.sakura.ne.jp/star/amuro/amuronamie1.jpg</string>
	</array>
	<key>26055</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100127/tnr1001272312011-p1.jpg</string>
	</array>
	<key>26054</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/201003/100324_okinawa_main.jpg</string>
	</array>
	<key>26053</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000063320/amuro1_s.jpg</string>
	</array>
	<key>26052</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/economy/business/100215/biz1002151939017-p1.jpg</string>
	</array>
	<key>26051</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/080805/msc0808051021001-p1.jpg</string>
	</array>
	<key>26050</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/080325/msc0803251621002-p1.jpg</string>
	</array>
	<key>26049</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100614/tnr1006140749002-p1.jpg</string>
	</array>
	<key>26048</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/101007/tnr1010070603001-p1.jpg</string>
	</array>
	<key>26047</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100106/tnr1001060726000-p1.jpg</string>
	</array>
	<key>26045</key>
	<array>
	  <string>http://contents.oricon.co.jp/music/interview/images/091215_amuro/p/l/img08.jpg</string>
	</array>
	<key>26046</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/07/22/020/images/001l.jpg</string>
	</array>
	<key>26044</key>
	<array>
	  <string>http://farm4.static.flickr.com/3291/2852221539_1e12ff9f5b.jpg</string>
	</array>
	<key>26043</key>
	<array>
	  <string>http://natalie.mu/media/1012/1216/extra/news_large_amuro_tour2010DVD.jpg</string>
	</array>
	<key>26042</key>
	<array>
	  <string>http://farm4.static.flickr.com/3470/3376969682_ae28b5e738.jpg</string>
	</array>
	<key>26041</key>
	<array>
	  <string>http://www.asiatopidols.com/idols/Namie-Amuro/wallpapers/b1.jpg</string>
	</array>
	<key>26040</key>
	<array>
	  <string>http://farm3.static.flickr.com/2012/2417302749_83f4cb00e0.jpg</string>
	</array>
	<key>26039</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110208/84647_201102080541932001297154689c.jpg</string>
	</array>
	<key>26038</key>
	<array>
	  <string>http://farm2.static.flickr.com/1129/1450521571_3812858b97.jpg</string>
	</array>
	<key>26037</key>
	<array>
	  <string>http://jp.ibtimes.com/files/general/2010052008221624.jpg</string>
	</array>
	<key>26035</key>
	<array>
	  <string>http://farm3.static.flickr.com/2251/2316369504_b3d9102c84.jpg</string>
	</array>
	<key>26036</key>
	<array>
	  <string>http://farm3.static.flickr.com/2418/2459805224_75c240f206.jpg</string>
	</array>
	<key>26034</key>
	<array>
	  <string>http://farm4.static.flickr.com/3130/2852452389_4dd4cf1310.jpg</string>
	</array>
	<key>26033</key>
	<array>
	  <string>http://natalie.mu/media/1012/1216/extra/news_large_amuronamie_tour0201.jpg</string>
	</array>
	<key>26032</key>
	<array>
	  <string>http://farm4.static.flickr.com/3182/2798920611_04c8b82c62.jpg</string>
	</array>
	<key>26031</key>
	<array>
	  <string>http://www.avexnet.or.jp/amuro/images/artistimage.jpg</string>
	</array>
	<key>26030</key>
	<array>
	  <string>http://farm2.static.flickr.com/1150/1450522531_fd0219ca39.jpg</string>
	</array>
	<key>26029</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100721/78368_201007210111568001279709334c.jpg</string>
	</array>
	<key>26028</key>
	<array>
	  <string>http://farm4.static.flickr.com/3093/2817128638_9ba11b9b71.jpg</string>
	</array>
	<key>26027</key>
	<array>
	  <string>http://farm4.static.flickr.com/3093/2853249400_3bb762e8b8.jpg</string>
	</array>
	<key>26026</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/53767329/3707446865_7a5ae73821_o.png</string>
	</array>
	<key>26025</key>
	<array>
	  <string>http://farm3.static.flickr.com/2257/2442665814_09d8afee05.jpg</string>
	</array>
	<key>26024</key>
	<array>
	  <string>http://farm3.static.flickr.com/2130/2447202505_120881faec.jpg</string>
	</array>
	<key>26023</key>
	<array>
	  <string>http://www.oricon.co.jp/music/special/images/amuro051109/amuro_02.jpg</string>
	</array>
	<key>26022</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20091221/71830_200912210579201001261399082c.jpg</string>
	</array>
	<key>26021</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100601/76784_201006010111836001275363001c.jpg</string>
	</array>
	<key>26020</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000062829/amuro1_s.jpg</string>
	</array>
	<key>26019</key>
	<array>
	  <string>http://farm4.static.flickr.com/3135/2713902746_4bbb54aa5a.jpg</string>
	</array>
	<key>26018</key>
	<array>
	  <string>http://contents.oricon.co.jp/music/interview/images/091215_amuro/p/l/img10.jpg</string>
	</array>
	<key>26017</key>
	<array>
	  <string>http://farm2.static.flickr.com/1142/1450521001_b12581d12f.jpg</string>
	</array>
	<key>26016</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/53767441/3708250262_a00b339109_o.png</string>
	</array>
	<key>26015</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100520/gnj1005200506014-p1.jpg</string>
	</array>
	<key>26014</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110208/84647_201102080550928001297154689c.jpg</string>
	</array>
	<key>26012</key>
	<array>
	  <string>http://contents.oricon.co.jp/music/interview/images/091215_amuro/p/l/img05.jpg</string>
	</array>
	<key>26013</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/53767351/3707469877_db553dbd63_o_2.png</string>
	</array>
	<key>26011</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20090126/62471_200901260951690001232962989c.jpg</string>
	</array>
	<key>26010</key>
	<array>
	  <string>http://farm4.static.flickr.com/3199/2611173382_d9910141fb.jpg</string>
	</array>
	<key>26009</key>
	<array>
	  <string>http://www.hotexpress.co.jp/interview/amuronamie/image/amuro_artist_02.jpg</string>
	</array>
	<key>26008</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100520/gnj1005200506014-p3.jpg</string>
	</array>
	<key>26007</key>
	<array>
	  <string>http://farm4.static.flickr.com/3096/2713090183_bf25e2620e.jpg</string>
	</array>
	<key>26006</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/54428575/default+cropped.png</string>
	</array>
	<key>26005</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000057706/amuro005_s_www_barks_jp.jpg</string>
	</array>
	<key>26004</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110208/84647_201102080559929001297154689c.jpg</string>
	</array>
	<key>26003</key>
	<array>
	  <string>http://farm4.static.flickr.com/3092/2852452277_f5a26c2439.jpg</string>
	</array>
	<key>26002</key>
	<array>
	  <string>http://contents.oricon.co.jp/music/interview/images/091215_amuro/p/l/img09.jpg</string>
	</array>
	<key>26001</key>
	<array>
	  <string>http://www.kanteiya.com/famousepeople/images/AmuroNamie/photo4.jpg</string>
	</array>
	<key>26154</key>
	<array>
	  <string>http://img02.hamazo.tv/usr/happylife/DVC00133.jpg</string>
	</array>
	<key>26149</key>
	<array>
	  <string>http://img6.zozo.jp/people/108371/article/600387.pimg?w=640&amp;amp;h=640</string>
	</array>
	<key>26148</key>
	<array>
	  <string>http://image.pia.jp/images/news/img/RSZ_20090326000201.jpg</string>
	</array>
	<key>26147</key>
	<array>
	  <string>http://livedoor.blogimg.jp/b7f/imgs/d/8/d83da29a.JPG</string>
	</array>
	<key>26146</key>
	<array>
	  <string>http://blog-imgs-19.fc2.com/b/o/u/bouncetrack/style.jpg</string>
	</array>
	<key>26169</key>
	<array>
	  <string>http://www.waiwai-sumairu.com/img/amuronami.jpg</string>
	</array>
	<key>26170</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/ef/b9/skxpkax_hp/folder/766843/img_766843_4548019_10?20070430175717</string>
	</array>
	<key>26171</key>
	<array>
	  <string>http://img15.shop-pro.jp/PA01089/295/product/17334538.jpg</string>
	</array>
	<key>26172</key>
	<array>
	  <string>http://edu.beelink.com.cn/20081117/20081117174106.jpg</string>
	</array>
	<key>26173</key>
	<array>
	  <string>http://lh5.ggpht.com/_fnJex_mkCYc/SoZobX1RlMI/AAAAAAAAABs/T5uw-HsF7Vw/dmm02.jpg</string>
	</array>
	<key>26174</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/Bg/ehc9Qb_480.jpeg</string>
	</array>
	<key>26175</key>
	<array>
	  <string>http://music.goo.ne.jp/special/amuro_091216/img/03.jpg</string>
	</array>
	<key>26176</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000042265/p1.jpg</string>
	</array>
	<key>26177</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/014/204/55/N000/000/002/125169767180916418270.jpg</string>
	</array>
	<key>26178</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/r/reirei01/20080710/20080710010743.jpg</string>
	</array>
	<key>26179</key>
	<array>
	  <string>http://x37img.peps.jp/uimg/a/airwave75/11/cr6iywxr5oA.jpg</string>
	</array>
	<key>26180</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/amuro004.jpg</string>
	</array>
	<key>26181</key>
	<array>
	  <string>http://music.goo.ne.jp/special/amuro_091216/img/top.jpg</string>
	</array>
	<key>26182</key>
	<array>
	  <string>http://blog-imgs-36.fc2.com/n/a/1/na1space/ar201002.jpg</string>
	</array>
	<key>26183</key>
	<array>
	  <string>http://yaplog.jp/cv/years86fun/img/420/namiehaare_p.jpg</string>
	</array>
	<key>26184</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1004/20090907/00080286e07a0c0ee3430f.jpg</string>
	</array>
	<key>26185</key>
	<array>
	  <string>http://revorevo607.cocolog-nifty.com/photos/uncategorized/00.jpg</string>
	</array>
	<key>26186</key>
	<array>
	  <string>http://www.hotexpress.co.jp/interview/amuronamie/image/amuro_artist_02.jpg</string>
	</array>
	<key>26187</key>
	<array>
	  <string>http://nigaoe-sagaso.com/img/special/002142-107.jpg</string>
	</array>
	<key>26188</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090430/11/sugiuranaruki/55/00/j/o0450060010173290085.jpg</string>
	</array>
	<key>26189</key>
	<array>
	  <string>http://www.blog-door.com/img/aiamuro.jpg</string>
	</array>
	<key>26190</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/9c/26/shin3no5/folder/693854/img_693854_7626974_0?1231702871</string>
	</array>
	<key>26191</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200803/12/46/b0052646_17562692.jpg</string>
	</array>
	<key>26192</key>
	<array>
	  <string>http://static.flickr.com/1150/1450522531_fd0219ca39.jpg</string>
	</array>
	<key>26193</key>
	<array>
	  <string>http://blog-imgs-26.fc2.com/a/y/a/ayacas/57965_200810210179849001224515698c.jpg</string>
	</array>
	<key>26194</key>
	<array>
	  <string>http://www.blog-door.com/images/blog/0730ver7.jpg</string>
	</array>
	<key>26195</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/8f/4a/chimenoheya/folder/534477/img_534477_34388241_0?1265539451</string>
	</array>
	<key>26196</key>
	<array>
	  <string>http://art3.photozou.jp/pub/123/180123/photo/8572066.jpg</string>
	</array>
	<key>26197</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/w/a/l/wallpapermania/20100202210947d80.jpg</string>
	</array>
	<key>26198</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200602/28/90/f0081290_13533289.jpg</string>
	</array>
	<key>26199</key>
	<array>
	  <string>http://img6.zozo.jp/people/108371/article/1476508.pimg?w=640&amp;amp;h=640</string>
	</array>
	<key>26200</key>
	<array>
	  <string>http://www.inmusic.jp/img/100129amuro.jpg</string>
	</array>
</array>
</plist>
