<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>81054</key>
	<array>
	  <string>http://kashiwagiyukigazou48.up.seesaa.net/image/E69F8FE69CA8E794B1E7B480201E38080E9AB98E794BBE8B3AAE794BBE5838FE383BBE58699E79C9FE383BBE5A381E7B499.jpg</string>
	</array>
	<key>81053</key>
	<array>
	  <string>http://x62img.peps.jp/uimg/s/shinatsukimi/114/3/czvxpi7c51A.jpg</string>
	</array>
	<key>81051</key>
	<array>
	  <string>http://syunnaonnnanoko.up.seesaa.net/image/1273269655.jpg</string>
	</array>
	<key>81052</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100101/17/camaro-z28/f0/69/j/o0800060010361018577.jpg</string>
	</array>
	<key>81050</key>
	<array>
	  <string>http://www.stereosound.co.jp/hivi/idol/1002/05.jpg</string>
	</array>
	<key>81049</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/f7/82/january_twenty_nine_ryo/folder/228828/img_228828_1070808_0?1278314832</string>
	</array>
	<key>81048</key>
	<array>
	  <string>http://kashiwagi0cup.blog.so-net.ne.jp/_images/blog/_8b0/kashiwagi0cup/E38090AKB48E383BBE69F8FE69CA8E794B1E7B480E381AEE382ABE38383E38397E58B95E794BBE3818CE280A6E38091.jpg</string>
	</array>
	<key>81047</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/32/0001193732/77/imgec33de3czik3zj.jpeg</string>
	</array>
	<key>81046</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/e8/28/hakozaki725/folder/1290758/img_1290758_61382071_14?1276270057</string>
	</array>
	<key>81044</key>
	<array>
	  <string>http://blog.so-net.ne.jp/_images/blog/_539/kame_kame_kame/ono_erena_21(1).jpg</string>
	</array>
	<key>81045</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20091215/23/08/e5/j/o040006001260888818581.jpg</string>
	</array>
	<key>81043</key>
	<array>
	  <string>http://blog-imgs-23.fc2.com/a/n/t/antihuman/es666tk-img346x465-1185157058kashiwagi-up.jpg</string>
	</array>
	<key>81042</key>
	<array>
	  <string>http://www.p-city.info/uploads/allimg/110613/0035424L2-0.jpg</string>
	</array>
	<key>81041</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/1c/5a/berryz_risako_199444/folder/598417/img_598417_10879633_0?1262022005</string>
	</array>
	<key>81040</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100114/17/camaro-z28/99/5d/j/o0800060010375804525.jpg</string>
	</array>
	<key>81039</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/da/c2/mayu48_yossy2301/folder/385325/img_385325_4138503_3?1307800593</string>
	</array>
	<key>81038</key>
	<array>
	  <string>http://gazo.galman.jp/img/013r7_11640/AKB48+%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80.jpeg</string>
	</array>
	<key>81037</key>
	<array>
	  <string>http://2.bp.blogspot.com/_ipu4Kfc4ZEw/TQrstSWU8fI/AAAAAAAAARY/m2suxE0FZj4/s1600/Yuki%2BKashiwagi.jpeg</string>
	</array>
	<key>81036</key>
	<array>
	  <string>http://carview-img02.bmcdn.jp/minkara/photo/000/001/900/335/1900335/p6.jpg</string>
	</array>
	<key>81035</key>
	<array>
	  <string>http://popspace5.com/img/idol/akb48/kashiwagiyuki_img/004.jpg</string>
	</array>
	<key>81034</key>
	<array>
	  <string>http://ascii.jp/elem/000/000/513/513815/01_200x.jpg</string>
	</array>
	<key>81032</key>
	<array>
	  <string>http://blog-imgs-43-origin.fc2.com/a/k/b/akbimage/lewjrdaeec.jpg</string>
	</array>
	<key>81033</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/09/12/3b7d7a0bcabee8494df50a8f105f60a6.png</string>
	</array>
	<key>81031</key>
	<array>
	  <string>http://img02.hamazo.tv/usr/videosellerhougawa/TeamsBs-sKashiwagisYuki.jpg</string>
	</array>
	<key>81028</key>
	<array>
	  <string>http://livedoor.blogimg.jp/capjirou/imgs/0/4/04000c0b.jpg</string>
	</array>
	<key>81029</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/be/2e/nomochinn/folder/139599/img_139599_1560599_3?1296389173</string>
	</array>
	<key>81030</key>
	<array>
	  <string>http://auction.thumbnail.image.rakuten.co.jp/@0_auc/image25/28/7a/00011193425/89/8e/img00317411776.jpg</string>
	</array>
	<key>81027</key>
	<array>
	  <string>http://24.media.tumblr.com/tumblr_l1acounTra1qzc1oko1_500.jpg</string>
	</array>
	<key>81026</key>
	<array>
	  <string>http://blog-imgs-44-origin.fc2.com/c/a/p/cap1234/hexagon20100526-13.jpg</string>
	</array>
	<key>81025</key>
	<array>
	  <string>http://images.blogcn.com/2009/10/15/9/rose_fruit</string>
	</array>
	<key>81023</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100712/18/ponet2009/7e/9b/j/o0800120510636205025.jpg</string>
	</array>
	<key>81024</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/w/i/z/wizardsroom/692_20090907065206.jpg</string>
	</array>
	<key>81022</key>
	<array>
	  <string>http://gazo.galman.jp/img/019h9_135349/AKB48+%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80+%E3%82%86%E3%81%8D%E3%82%8A%E3%82%93_l.jpeg</string>
	</array>
	<key>81021</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/62/0001210262/92/imgae13482dzik5zj.jpeg</string>
	</array>
	<key>81020</key>
	<array>
	  <string>http://blog-imgs-29.fc2.com/b/l/u/blueforestandoyster/201003201516435e3.jpg</string>
	</array>
	<key>81019</key>
	<array>
	  <string>http://japan.orzzso.com/img/photo/1/5296-1.jpg</string>
	</array>
	<key>81018</key>
	<array>
	  <string>http://26.media.tumblr.com/tumblr_l0x61tABBI1qzc1oko1_500.jpg</string>
	</array>
	<key>81017</key>
	<array>
	  <string>http://img121.imageshack.us/img121/127/gnj0909230504014p11.jpg</string>
	</array>
	<key>81016</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51%2Br%2BExiLuL._SL500_AA300_.jpg</string>
	</array>
	<key>81015</key>
	<array>
	  <string>http://www.dailymotion.com/thumbnail/video/xagmm6</string>
	</array>
	<key>81014</key>
	<array>
	  <string>http://japan.orzzso.com/img/photo/1/5303-1.jpg</string>
	</array>
	<key>81013</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_kt3sn76aXE1qappn7o1_500.jpg</string>
	</array>
	<key>81012</key>
	<array>
	  <string>http://gazo.galman.jp/img/019h9_135338/AKB48+%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80+%E3%82%86%E3%81%8D%E3%82%8A%E3%82%93.jpeg</string>
	</array>
	<key>81011</key>
	<array>
	  <string>http://files.hangame.co.jp/blog/2011/50/e05d4257/02/14/34137139/e05d4257_1297669324176.jpg</string>
	</array>
	<key>81010</key>
	<array>
	  <string>http://www.zakzak.co.jp/entertainment/ent-news/images/20100422/enn1004221612005-p1.jpg</string>
	</array>
	<key>81009</key>
	<array>
	  <string>http://mpwalker.up.seesaa.net/image/E69F8FE69CA8E794B1E7B4804.jpg</string>
	</array>
	<key>81008</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101226/22/l-l-l-l/30/5a/j/t02200165_0800060010942719999.jpg</string>
	</array>
	<key>81005</key>
	<array>
	  <string>http://gazo.micore.jp/img/0004w_318/%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80_l.jpeg</string>
	</array>
	<key>81006</key>
	<array>
	  <string>http://img521.imageshack.us/img521/7604/yukirin12.jpg</string>
	</array>
	<key>81007</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/cd/6f/b0kun0taiy0u/folder/228709/img_228709_950899_0?1297956735</string>
	</array>
	<key>81004</key>
	<array>
	  <string>http://s448.photobucket.com/albums/qq205/Afro_Stud/AKB48/Verbatim/Kashiwagi%20Yuki/21_055_16.jpg</string>
	</array>
	<key>81003</key>
	<array>
	  <string>http://blog-imgs-35.fc2.com/a/k/b/akb48/yukirin.jpg</string>
	</array>
	<key>81002</key>
	<array>
	  <string>http://ichigo-latte.com/kanon/src/strawberry0803.jpg</string>
	</array>
	<key>81001</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090924/15/nomi0112/22/d6/j/o0720048010260459713.jpg</string>
	</array>
	<key>81000</key>
	<array>
	  <string>http://1.bp.blogspot.com/-QvyHt4o5KIk/ThQVT4rqeMI/AAAAAAAAAAg/JlWeiNLeE8M/s1600/tumblr_ld7yxiSQWq1qc9o2eo1_500.jpg</string>
	</array>
	<key>80998</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/c7/84/step_by_step_jumping/folder/911173/img_911173_12272843_0?1273436240</string>
	</array>
	<key>80999</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/k/o/j/kojiharu48/20100629214250a7f.jpg</string>
	</array>
	<key>80996</key>
	<array>
	  <string>http://akb48girlsdiary.up.seesaa.net/image/img_911352_22385742_5.jpg</string>
	</array>
	<key>80997</key>
	<array>
	  <string>http://www.bjin.me/images/pic25329.jpg</string>
	</array>
	<key>80994</key>
	<array>
	  <string>http://akb48picture.sitemix.jp/wp-content/uploads/2011/03/20091007_141800_12548912111.jpg</string>
	</array>
	<key>80995</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/06/20110624_yuki_26.jpg</string>
	</array>
	<key>80993</key>
	<array>
	  <string>http://livedoor.blogimg.jp/aidle_images2/imgs/f/b/fb43df2a.jpg</string>
	</array>
	<key>80992</key>
	<array>
	  <string>http://f.hatena.ne.jp/images/fotolife/m/mirror3/20091113/20091113010554.jpg</string>
	</array>
	<key>80990</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110118/10/l-l-l-l/eb/50/j/t02200165_0800060010990365839.jpg</string>
	</array>
	<key>80991</key>
	<array>
	  <string>http://www.watanabepro.co.jp/mypage/artist/yuki_photo.jpg</string>
	</array>
	<key>80989</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/akakb/imgs/b/6/b69d8af6.jpg</string>
	</array>
	<key>80986</key>
	<array>
	  <string>http://s448.photobucket.com/albums/qq205/Afro_Stud/AKB48/Verbatim/Kashiwagi%20Yuki/21_051_06.jpg</string>
	</array>
	<key>80987</key>
	<array>
	  <string>http://www.bjin.me/images/pic25319.jpg</string>
	</array>
	<key>80988</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_kzzi0mcHqF1qaypvho1_500.jpg</string>
	</array>
	<key>80985</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100412/21/yamabiko141/fb/0c/j/o0600090010493858867.jpg</string>
	</array>
	<key>80984</key>
	<array>
	  <string>http://popspace5.com/img/idol/akb48/kashiwagiyuki_img/001.jpg</string>
	</array>
	<key>80983</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/f7/82/january_twenty_nine_ryo/folder/228828/img_228828_1052537_2?1278239995</string>
	</array>
	<key>80982</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0d/db/hikkii2006/folder/799794/img_799794_25142514_4?1277485204</string>
	</array>
	<key>80981</key>
	<array>
	  <string>http://28.media.tumblr.com/tumblr_l5k0jcy1vx1qzylkuo1_500.jpg</string>
	</array>
	<key>80979</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/5129vDFSLAL._SL500_AA300_.jpg</string>
	</array>
	<key>80980</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100109/20/camaro-z28/c5/ab/j/o0800060010370139292.jpg</string>
	</array>
	<key>80978</key>
	<array>
	  <string>http://image.portphoto.com/img/0eblt_81595/%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80.jpeg</string>
	</array>
	<key>80976</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/c/a/p/cap123/hiru20091228-01.jpg</string>
	</array>
	<key>80977</key>
	<array>
	  <string>http://1.bp.blogspot.com/-6H1UvYmsE3Y/ThQVHDVZfaI/AAAAAAAAAAc/Dxo66uLAeYk/s1600/20091229_16ec497786e175f3c1a7VapjUyrfpEnF.jpg</string>
	</array>
	<key>80975</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100114/17/camaro-z28/71/65/j/o0800060010375806026.jpg</string>
	</array>
	<key>80974</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110529/18/tatsuya0827/36/a4/j/o0300045011258368954.jpg</string>
	</array>
	<key>80973</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/b0/33/hacchann91/folder/486105/img_486105_8386887_0?1308490901</string>
	</array>
	<key>80972</key>
	<array>
	  <string>http://img3.imageshack.us/img3/6055/9kashiwagiyuki04.jpg</string>
	</array>
	<key>80970</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/f-et-091010-3302-ns.jpg</string>
	</array>
	<key>80971</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/entnews/images/20091016_05_000.jpg</string>
	</array>
	<key>80969</key>
	<array>
	  <string>http://pmd.yimg.jp/videotopics/pyramid/2009/10/13/topics_news_business_image_1255399744.jpg</string>
	</array>
	<key>80968</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/f-et-0411-0001-ns.jpg</string>
	</array>
	<key>80966</key>
	<array>
	  <string>http://www.stereosound.co.jp/hivi/idol/683/01.jpg</string>
	</array>
	<key>80967</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100101/01/ponet2009/34/c6/j/o0400060210360319492.jpg</string>
	</array>
	<key>80965</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0d/db/hikkii2006/folder/799794/img_799794_24993160_6?1276286518</string>
	</array>
	<key>80964</key>
	<array>
	  <string>http://files.hangame.co.jp/blog/2010/62/1cb5f99/07/30/30959007/1cb5f99_1280441921829.jpg</string>
	</array>
	<key>80963</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/dd/17/tuyosibs/folder/328669/img_328669_4894402_6?1287238927</string>
	</array>
	<key>80961</key>
	<array>
	  <string>http://i.yimg.jp/images/4b/contents/1004/idol/image_idol201.jpg</string>
	</array>
	<key>80962</key>
	<array>
	  <string>http://www.bjin.me/images/pic25308.jpg</string>
	</array>
	<key>80960</key>
	<array>
	  <string>http://curly-rudy.com/images/akb48/201011215.jpg</string>
	</array>
	<key>80959</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100801/00/kuchinicha/8f/2f/j/o0800120510668832834.jpg</string>
	</array>
	<key>80958</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100108/23/ponet2009/9d/73/j/o0400060210369268573.jpg</string>
	</array>
	<key>80957</key>
	<array>
	  <string>http://x40img.peps.jp/uimg/b/burninghammer/25/cz8tjrjyvmA.jpg</string>
	</array>
	<key>80956</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/w/i/z/wizardsroom/692_20090907065330.jpg</string>
	</array>
	<key>80953</key>
	<array>
	  <string>http://akb48gazou.com/wp-content/uploads/4411.jpg</string>
	</array>
	<key>80954</key>
	<array>
	  <string>http://blog-imgs-46.fc2.com/y/o/1/yo19292/201006061146177b2.jpg</string>
	</array>
	<key>80955</key>
	<array>
	  <string>http://gazo.galman.jp/img/019h9_135340/AKB48+%E6%9F%8F%E6%9C%A8%E7%94%B1%E7%B4%80+%E3%82%86%E3%81%8D%E3%82%8A%E3%82%93.jpeg</string>
	</array>
	<key>80952</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/05/20110530_kashiwagiyuki_12.jpg</string>
	</array>
	<key>80951</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100108/23/ponet2009/ec/20/j/o0400060210369268576.jpg</string>
	</array>
	<key>80949</key>
	<array>
	  <string>http://i.ytimg.com/vi/3O_SP08jY9k/0.jpg</string>
	</array>
	<key>80950</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100412/21/yamabiko141/c9/61/j/o0600090010493858866.jpg</string>
	</array>
	<key>80947</key>
	<array>
	  <string>http://blog-imgs-46-origin.fc2.com/a/k/b/akbimage/pcmhdxhcif.jpg</string>
	</array>
	<key>80948</key>
	<array>
	  <string>http://www.daily.co.jp/gossip/article/02437389.jpg</string>
	</array>
	<key>80946</key>
	<array>
	  <string>http://4.bp.blogspot.com/-S9GorZxmsBg/ThQU55vHXxI/AAAAAAAAAAY/1wpnCM6Mfxc/s1600/006.jpg</string>
	</array>
	<key>80944</key>
	<array>
	  <string>http://popspace5.com/img/idol/akb48/kashiwagiyuki_img/logo.jpg</string>
	</array>
	<key>80945</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/c/a/p/cap123/yuki0906-01.jpg</string>
	</array>
	<key>80942</key>
	<array>
	  <string>http://blog-imgs-38.fc2.com/l/o/v/lovingurawareds/16.jpg</string>
	</array>
	<key>80943</key>
	<array>
	  <string>http://2.bp.blogspot.com/-AIVlB5FbYqQ/TeTnW9T5NXI/AAAAAAAAG0k/CjU3RfT4a5I/s1600/jphip69268.jpg</string>
	</array>
	<key>80941</key>
	<array>
	  <string>http://images-jp.amazon.com/images/P/4087805476.09._SCLZZZZZZZ_.jpg</string>
	</array>
	<key>80940</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/07/8d/d71c8668900ac722596c1ab941b8e8dc.jpg</string>
	</array>
	<key>80939</key>
	<array>
	  <string>http://aidorutarenntogazou.up.seesaa.net/image/o0800113510990365666.jpg</string>
	</array>
	<key>80938</key>
	<array>
	  <string>http://1.bp.blogspot.com/_g8IaLoboWLc/Sv4vyvR2WeI/AAAAAAAAK0U/7YdYClgXJi8/s400/akb1574.jpg</string>
	</array>
	<key>80937</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/32/0001193732/76/img117d0b46zik3zj.jpeg</string>
	</array>
	<key>80935</key>
	<array>
	  <string>http://static.flickr.com/4054/4308406097_940c1a1141.jpg</string>
	</array>
	<key>80936</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/53/46/sara_maeda/folder/1203728/img_1203728_32269283_3?1285434001</string>
	</array>
	<key>80934</key>
	<array>
	  <string>http://kashiwagiyukigazou48.up.seesaa.net/image/E69F8FE69CA8E794B1E7B480206E38080E9AB98E794BBE8B3AAE794BBE5838FE383BBE58699E79C9FE383BBE5A381E7B499.jpg</string>
	</array>
	<key>80932</key>
	<array>
	  <string>http://shupure-net.shueisha.co.jp/classics/images/1001kashiwagi/kashiwagi_yuki_sample03.jpg</string>
	</array>
	<key>80933</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100616/14/akb48-disk-akb48/1a/27/j/t02200267_0280034010593941419.jpg</string>
	</array>
	<key>80931</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/w/a/l/wallpapermania/20100618180906237.jpg</string>
	</array>
	<key>80930</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/%A5%B5%A1%BC%A5%AF%A5%EB%A3%CB%A5%B5%A5%F3%A5%AF%A5%B9%CD%D1%A5%DD%A5%B9%A5%C8%A5%AB%A1%BC%A5%C9-thumb.jpg</string>
	</array>
	<key>80928</key>
	<array>
	  <string>http://1.bp.blogspot.com/-wjyM2mT4_b4/TeTnVzc6PeI/AAAAAAAAG0c/dD2J7VIz0H4/s1600/jphip69266.jpg</string>
	</array>
	<key>80929</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_a13/yuikayodare/E5AEAEE6BEA4E4BD90E6B19F.jpg</string>
	</array>
	<key>80927</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/4/8/a/48akblog/yuki001.jpg</string>
	</array>
	<key>80926</key>
	<array>
	  <string>http://mpwalker.up.seesaa.net/image/E69F8FE69CA8E794B1E7B4803.jpg</string>
	</array>
	<key>80924</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/86/0001258286/87/imge8c4d097zik4zj.jpeg</string>
	</array>
	<key>80925</key>
	<array>
	  <string>http://2.bp.blogspot.com/-KuKC_GCqYUE/ThQVkwtZEbI/AAAAAAAAAAk/O7U-aWGnR_8/s640/l_4417543ce633c564223e6e60e0a9f4cb.jpg</string>
	</array>
	<key>80922</key>
	<array>
	  <string>http://blog-imgs-44-origin.fc2.com/g/e/i/geinounewstokudane/l_d1f882e6914df6ca8457e507e3087a2c.jpg</string>
	</array>
	<key>80923</key>
	<array>
	  <string>http://idoleplan.up.seesaa.net/image/AKB4820E38381E383BCE383A0B20E69F8FE69CA8E794B1E7B480.jpg</string>
	</array>
	<key>80920</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/c/a/p/cap123/hiru0909-01.jpg</string>
	</array>
	<key>80921</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_a13/yuikayodare/E69F8FE69CA8E794B1E7B480.jpg</string>
	</array>
	<key>80919</key>
	<array>
	  <string>http://wox.cc/user/rterdfasdf/o/20110419-153720.jpg</string>
	</array>
	<key>80917</key>
	<array>
	  <string>http://i.yimg.jp/images/4b/contents/1004/idol/img_photo10.jpg</string>
	</array>
	<key>80918</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/a/k/b/akb48dougagazoufan/21_063_08.jpg</string>
	</array>
	<key>80916</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/9f/c6/happybirthday2you2/folder/1499103/img_1499103_61068852_9?1306537882</string>
	</array>
	<key>80915</key>
	<array>
	  <string>http://blog-imgs-42.fc2.com/0/6/h/06history/12717746594bcdbdc34ef16_import.jpg</string>
	</array>
	<key>80911</key>
	<array>
	  <string>http://blog-imgs-44-origin.fc2.com/g/e/i/geinounewstokudane/c0201117.jpg</string>
	</array>
	<key>80912</key>
	<array>
	  <string>http://kashiwagiyukigazou48.up.seesaa.net/E69F8FE69CA8E794B1E7B48030E38080E9AB98E794BBE8B3AAE794BBE5838FE383BBE58699E79C9FE383BBE5A381E7B499.jpg</string>
	</array>
	<key>80913</key>
	<array>
	  <string>http://akb48gazou.com/wp-content/uploads/pt_01-14.jpg</string>
	</array>
	<key>80914</key>
	<array>
	  <string>http://kashiwagiyukigazou48.up.seesaa.net/E69F8FE69CA8E794B1E7B48095E38080E9AB98E794BBE8B3AAE794BBE5838FE383BBE58699E79C9FE383BBE5A381E7B499.jpg</string>
	</array>
	<key>80910</key>
	<array>
	  <string>http://blog.ap.teacup.com/yukimomimomilov/timg/middle_1310799275.jpg</string>
	</array>
	<key>80909</key>
	<array>
	  <string>http://file.tomodachi.game-ss.com/gnj0909230504014-p10.jpg</string>
	</array>
	<key>80908</key>
	<array>
	  <string>http://shupure-net.shueisha.co.jp/classics/images/1001kashiwagi/kashiwagi_yuki_sample01.jpg</string>
	</array>
	<key>80905</key>
	<array>
	  <string>http://natalie.mu/media/0907/0708/AKB48/extra/news_large_AKB35.jpg</string>
	</array>
	<key>80906</key>
	<array>
	  <string>http://image.pia.jp/images/news/img/ORG_20091030000408.jpg</string>
	</array>
	<key>80903</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/mb/20091002_215143_1254486462.jpg</string>
	</array>
	<key>80904</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091224/23/svycgbu/f7/cd/j/o0250037610352147357.jpg</string>
	</array>
	<key>80902</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/mb/20090820_100929_1250729387.jpg</string>
	</array>
	<key>80901</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/091030/gnj0910300506012-p2.jpg</string>
	</array>
	<key>80900</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091218/23/uptoboy/9f/38/j/o0300042310345428178.jpg</string>
	</array>
	<key>80898</key>
	<array>
	  <string>http://prt.iza.ne.jp/images/news/20100404/286112_c450.jpg</string>
	</array>
	<key>80899</key>
	<array>
	  <string>http://img0.photo6.ameba.jp/a/akb-minami-atsuko/org/0706q7228Swf13NSo6RoPw.jpg</string>
	</array>
	<key>80897</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100108/23/svycgbu/ad/8b/j/o0500037510369253979.jpg</string>
	</array>
	<key>80894</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/0a/51/10064615613.jpg</string>
	</array>
	<key>80895</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090325/21/dijnopistol/3f/0e/j/o0353040010156971398.jpg</string>
	</array>
	<key>80896</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/mb/20090813_114147_1250130168.jpg</string>
	</array>
	<key>80893</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090713/23/glory305/b3/58/j/o0230030010213018828.jpg</string>
	</array>
	<key>80892</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/DVC00368.jpg</string>
	</array>
	<key>80891</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/009/459/95/N000/000/001/118544872963616416735.jpg</string>
	</array>
	<key>80890</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/mb/20091006_114040_1254795381.jpg</string>
	</array>
	<key>80889</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100125/00/ranebomr/ff/3e/j/o0240032010387919807.jpg</string>
	</array>
	<key>80888</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/DVC00357.jpg</string>
	</array>
	<key>80887</key>
	<array>
	  <string>http://akamarlboro.img.jugem.jp/20090924_981351.jpg</string>
	</array>
	<key>80886</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100216/21/svycgbu/5a/58/j/o0240032010417152962.jpg</string>
	</array>
	<key>80885</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100125/00/ranebomr/e0/00/j/o0240032010387919809.jpg</string>
	</array>
	<key>80883</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100216/21/svycgbu/23/27/j/o0240032010417153353.jpg</string>
	</array>
	<key>80884</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/DVC00322.jpg</string>
	</array>
	<key>80881</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/47105475/ykrn.png</string>
	</array>
	<key>80882</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110609/88655_201106090077083001307626097c.jpg</string>
	</array>
	<key>80880</key>
	<array>
	  <string>http://natalie.mu/media/0906/0629/AKB48/extra/news_large_AKB48_06.jpg</string>
	</array>
	<key>80879</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/06/10_2/01.jpg</string>
	</array>
	<key>80878</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/mb/20091007_141800_1254891211.jpg</string>
	</array>
	<key>80877</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100125/00/ranebomr/ab/ea/j/o0240040010387919804.jpg</string>
	</array>
	<key>80875</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091218/23/uptoboy/de/76/j/o0300040010345428189.jpg</string>
	</array>
	<key>80876</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000062269/kiss002_s_www_barks_jp.jpg</string>
	</array>
	<key>80873</key>
	<array>
	  <string>http://gigazine.jp/img/2010/03/18/usj_akb_photo/DSC_0665.JPG</string>
	</array>
	<key>80874</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/DVC00359.jpg</string>
	</array>
	<key>80872</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/bQu/bBiNCd.jpeg</string>
	</array>
	<key>80870</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100708/17/camaro-z28/43/b9/j/o0800107810629555175.jpg</string>
	</array>
	<key>80871</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/091030/gnj0910300506012-p1.jpg</string>
	</array>
	<key>80869</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/bQG/fBlNg2.jpeg</string>
	</array>
	<key>80868</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/47105467/yukirin3.png</string>
	</array>
	<key>80867</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100217/06/a-kind-book/48/09/j/o0240032010417643584.jpg</string>
	</array>
	<key>80866</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/kashiwagi-110615-002-ns-big.jpg</string>
	</array>
	<key>80864</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/091012/gnj0910120504009-p1.jpg</string>
	</array>
	<key>80865</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100220/gnj1002200509015-p7.jpg</string>
	</array>
	<key>80862</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/kashiwagiyuki/archives/mb/20090831_231238_1251726708.jpg</string>
	</array>
	<key>80860</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/bRk/3BwhTe.jpeg</string>
	</array>
	<key>80861</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/bRw/6Bzjtf.jpeg</string>
	</array>
	<key>80859</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100108/01/ranebomr/10/00/j/o0298045010368336921.jpg</string>
	</array>
	<key>80858</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100217/06/a-kind-book/3d/23/j/o0240032010417643517.jpg</string>
	</array>
	<key>80857</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100217/06/a-kind-book/62/ef/j/o0240032010417643716.jpg</string>
	</array>
	<key>80855</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100217/06/a-kind-book/82/89/j/o0240032010417643515.jpg</string>
	</array>
	<key>80856</key>
	<array>
	  <string>http://www.akb48.co.jp/members/kashiwagi_yuki/img/pt_01.jpg</string>
	</array>
</dict>
</plist>
