<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>138765</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/03/07_4/10.jpg</string>
	</array>
	<key>138766</key>
	<array>
	  <string>http://www.akb48.co.jp/members/yokoyama_yui/img/pt_01.jpg</string>
	</array>
	<key>138767</key>
	<array>
	  <string>http://dijpistol.pussycat.jp/p07708.jpg</string>
	</array>
	<key>138768</key>
	<array>
	  <string>http://contents.oricon.co.jp/music/interview/2011/notyet0316/images/p/l/016.jpg</string>
	</array>
	<key>138769</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20101011/21/6e/e0/j/o048008001286801081664.jpg</string>
	</array>
	<key>138770</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/03/07_4/06.jpg</string>
	</array>
	<key>138771</key>
	<array>
	  <string>http://contents.oricon.co.jp/music/interview/2011/notyet0316/images/p/l/017.jpg</string>
	</array>
	<key>138772</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100906/00/buffaloeschu/b6/7c/j/o0317047610732981749.jpg</string>
	</array>
	<key>138773</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_l8ftioJosw1qa6pr6o1_500.jpg</string>
	</array>
	<key>138774</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101209/21/buffaloeschu/12/05/j/o0480085410908122768.jpg</string>
	</array>
	<key>138775</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110126/84232_201101260605530001296049581c.jpg</string>
	</array>
	<key>138776</key>
	<array>
	  <string>http://defumon.blog.so-net.ne.jp/_images/blog/_3db/defumon/yuihan03.jpg</string>
	</array>
	<key>138777</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110307/85500_201103070966721001299498577c.jpg</string>
	</array>
	<key>138778</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100906/00/buffaloeschu/50/e9/j/o0381063510732981760.jpg</string>
	</array>
	<key>138779</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101208/22/buffaloeschu/eb/5c/j/o0307047010906378568.jpg</string>
	</array>
	<key>138780</key>
	<array>
	  <string>http://defumon.blog.so-net.ne.jp/_images/blog/_3db/defumon/tumblr_l7cnpgcuaH1qzylkuo1_500.jpg</string>
	</array>
	<key>138781</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101208/00/11akb11/90/cd/j/o0480080010904816981.jpg</string>
	</array>
	<key>138782</key>
	<array>
	  <string>http://defumon.blog.so-net.ne.jp/_images/blog/_3db/defumon/yuihan02.jpg</string>
	</array>
	<key>138783</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101208/22/buffaloeschu/81/39/j/o0230038310906377975.jpg</string>
	</array>
	<key>138784</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_leeif5ljva1qey6s7o1_500.jpg</string>
	</array>
	<key>138785</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20091208/00/h-7k2pvh/c1/32/j/o0280034010333375651.jpg</string>
	</array>
	<key>138786</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101209/21/buffaloeschu/c3/42/j/o0480080010908122766.jpg</string>
	</array>
	<key>138787</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100906/00/buffaloeschu/79/31/j/o0381063510732981743.jpg</string>
	</array>
	<key>138788</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100605/14/tomochhhin/7f/aa/j/o0480085410575854281.jpg</string>
	</array>
	<key>138789</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100917/11/buffaloeschu/a1/9c/j/o0275040010751944937.jpg</string>
	</array>
	<key>138790</key>
	<array>
	  <string>http://shigumogura.up.seesaa.net/image/E6A8AAE5B1B1E794B1E4BE9D-4f388.jpg</string>
	</array>
	<key>138791</key>
	<array>
	  <string>http://blog-imgs-44-origin.fc2.com/w/i/l/willowvalley/cc9c3dee.jpg</string>
	</array>
	<key>138792</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/d/2/d2d8d_760_20110126_231719_large_854.jpg</string>
	</array>
	<key>138793</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/a/k/b/akb48machiuke/5_20110225215320.jpg</string>
	</array>
	<key>138794</key>
	<array>
	  <string>http://gazo.galman.jp/img/054rv_198147/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138795</key>
	<array>
	  <string>http://www.bjin.me/images/pic48045.jpg</string>
	</array>
	<key>138796</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/n/e/o/neoneet1112/376.jpg</string>
	</array>
	<key>138797</key>
	<array>
	  <string>http://gazo.galman.jp/img/096ub_286567/AKB48+%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138798</key>
	<array>
	  <string>http://image.portphoto.com/img/0fjqk_177051/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9DAKB.jpeg</string>
	</array>
	<key>138799</key>
	<array>
	  <string>http://image.portphoto.com/img/0dxwo_173774/AKB48%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D_l.jpeg</string>
	</array>
	<key>138800</key>
	<array>
	  <string>http://www.bjin.me/images/pic28940.jpg</string>
	</array>
	<key>138801</key>
	<array>
	  <string>http://blog-imgs-46-origin.fc2.com/a/k/b/akbimage/xjkngbfmah.jpeg</string>
	</array>
	<key>138802</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_lfbtfgOUXZ1qcpdiyo1_500.jpg</string>
	</array>
	<key>138803</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/a/k/b/akbimage/qmhfcogbrh.jpg</string>
	</array>
	<key>138804</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/4/8/a/48akblog/yui001.jpg</string>
	</array>
	<key>138805</key>
	<array>
	  <string>http://yokoyamayuikappu1.cocolog-nifty.com/photos/uncategorized/2011/06/11/3965e4a5.jpg</string>
	</array>
	<key>138806</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/mossari21/imgs/0/6/065f6551.jpg</string>
	</array>
	<key>138807</key>
	<array>
	  <string>http://gazo.galman.jp/img/096ub_286568/AKB48+%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138808</key>
	<array>
	  <string>http://pixiv.blogimg.jp/yokoyamayui/imgs/6/9/6947e82c.jpg</string>
	</array>
	<key>138809</key>
	<array>
	  <string>http://image.portphoto.com/img/03lqd_145675/AKB48+%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D_l.jpeg</string>
	</array>
	<key>138810</key>
	<array>
	  <string>http://yokoyamayuikappu1.cocolog-nifty.com/photos/uncategorized/2011/06/11/bcd8d005.jpg</string>
	</array>
	<key>138811</key>
	<array>
	  <string>http://pics.dmm.com/digital/akb48/profile/yokoyama_yui.jpg</string>
	</array>
	<key>138812</key>
	<array>
	  <string>http://www.bjin.me/images/pic28942.jpg</string>
	</array>
	<key>138813</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_loivg49FVv1qizy61o1_500.jpg</string>
	</array>
	<key>138814</key>
	<array>
	  <string>http://yokoyamayui.cocolog-nifty.com/blog/images/2011/05/26/photo.jpg</string>
	</array>
	<key>138815</key>
	<array>
	  <string>http://image.excite.co.jp/feed/news/Natalie/Natalie_11350_1_s.jpg</string>
	</array>
	<key>138816</key>
	<array>
	  <string>http://himuralight.tumblr.com/photo/1280/6897621298/1/tumblr_lnc058tT7w1qj4bmo</string>
	</array>
	<key>138817</key>
	<array>
	  <string>http://gazo.galman.jp/img/095rq_286389/%E3%83%A6%E3%83%8B%E3%83%83%E3%83%88%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138818</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20110618/20110618004013.jpg</string>
	</array>
	<key>138819</key>
	<array>
	  <string>http://image.portphoto.com/img/03lqd_145757/AKB48+%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D_l.jpeg</string>
	</array>
	<key>138820</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20110618/20110618004010.jpg</string>
	</array>
	<key>138821</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110326/00/aroaros/57/75/j/t02200391_0357063511125731304.jpg</string>
	</array>
	<key>138822</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110326/00/aroaros/bf/0e/j/t02200367_0300050011125731500.jpg</string>
	</array>
	<key>138823</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110525/11/nikomesae/af/3e/j/t02200391_0220039111249536129.jpg</string>
	</array>
	<key>138824</key>
	<array>
	  <string>http://yokoyamayuikappu1.cocolog-nifty.com/photos/uncategorized/2011/06/11/179b844b.jpg</string>
	</array>
	<key>138825</key>
	<array>
	  <string>http://26.media.tumblr.com/tumblr_lkm8t4oHMI1qzc1oko1_500.jpg</string>
	</array>
	<key>138826</key>
	<array>
	  <string>http://livedoor.blogimg.jp/kirup/imgs/d/a/da1f902a.jpg</string>
	</array>
	<key>138827</key>
	<array>
	  <string>http://gazo.galman.jp/img/08sza_281076/AKB48%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D_l.jpeg</string>
	</array>
	<key>138828</key>
	<array>
	  <string>http://akb.48lover.com/img/Topic/7/image.jpg</string>
	</array>
	<key>138829</key>
	<array>
	  <string>http://akb48yokoyamayui2.cocolog-nifty.com/photos/uncategorized/2011/06/05/a906c56c.jpg</string>
	</array>
	<key>138830</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20110618/20110618004016.jpg</string>
	</array>
	<key>138831</key>
	<array>
	  <string>http://24.media.tumblr.com/tumblr_ln6cfvzqMr1qkm5qmo1_500.jpg</string>
	</array>
	<key>138832</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/bIL/4zhWO0_220.jpeg</string>
	</array>
	<key>138833</key>
	<array>
	  <string>http://3.bp.blogspot.com/-qYO7Dgrm2lI/Tia-6V5FBDI/AAAAAAAAAuY/3NQIEJsZnDA/s320/03.jpg</string>
	</array>
	<key>138834</key>
	<array>
	  <string>http://art35.photozou.jp/pub/448/755448/photo/52554359.jpg</string>
	</array>
	<key>138835</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110620/17/nikomesae/1e/0d/j/t02200165_0220016511302420628.jpg</string>
	</array>
	<key>138836</key>
	<array>
	  <string>http://image.portphoto.com/img/03lqd_145758/AKB48+%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D_l.jpeg</string>
	</array>
	<key>138837</key>
	<array>
	  <string>http://gazo.galman.jp/img/08l2w_264430/AKB48%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138838</key>
	<array>
	  <string>http://livedoor.blogimg.jp/onlyjust/imgs/0/3/031f991f.jpg</string>
	</array>
	<key>138839</key>
	<array>
	  <string>http://i.mnews.gree.jp/img/article/77/95/627795_220_01.jpg</string>
	</array>
	<key>138840</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20110713/20110713235941.jpg</string>
	</array>
	<key>138841</key>
	<array>
	  <string>http://josup.xrea.jp/src/up4021.jpg</string>
	</array>
	<key>138842</key>
	<array>
	  <string>http://26.media.tumblr.com/tumblr_lmt42wHI5F1qkm5qmo1_500.jpg</string>
	</array>
	<key>138843</key>
	<array>
	  <string>http://gazo.galman.jp/img/08w5l_258221/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138844</key>
	<array>
	  <string>http://yokoyamayuiburogu.blog.so-net.ne.jp/_images/blog/_b37/yokoyamayuiburogu/54212680-8cd27.jpg</string>
	</array>
	<key>138845</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/37/b4/186f57951a48e4bbfb86aa1cf17352fe.jpg</string>
	</array>
	<key>138846</key>
	<array>
	  <string>http://24.media.tumblr.com/tumblr_ljbo5qE1sV1qekxqbo1_500.jpg</string>
	</array>
	<key>138847</key>
	<array>
	  <string>http://yokoyamayuiburogu.blog.so-net.ne.jp/_images/blog/_b37/yokoyamayuiburogu/cc45366f.jpg</string>
	</array>
	<key>138848</key>
	<array>
	  <string>http://29.media.tumblr.com/tumblr_lmgh220Gfy1qkm5qmo1_500.jpg</string>
	</array>
	<key>138849</key>
	<array>
	  <string>http://gazo.galman.jp/img/08sza_250165/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D%E3%82%86%E3%81%84%E3%81%AF%E3%82%93.jpeg</string>
	</array>
	<key>138850</key>
	<array>
	  <string>http://tn-skr1.smilevideo.jp/smile?i=14901524</string>
	</array>
	<key>138851</key>
	<array>
	  <string>http://art23.photozou.jp/pub/473/1283473/photo/77638716.jpg</string>
	</array>
	<key>138852</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/surugaya-a-too/cabinet/0699/g8847794m.jpg?_ex=128x128</string>
	</array>
	<key>138853</key>
	<array>
	  <string>http://img88.imageshack.us/img88/3676/87757544.jpg</string>
	</array>
	<key>138854</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/07/20110718_yokoyama_00.jpg</string>
	</array>
	<key>138855</key>
	<array>
	  <string>http://farm6.static.flickr.com/5296/5538860820_153f6f5c00.jpg</string>
	</array>
	<key>138856</key>
	<array>
	  <string>http://gazo.galman.jp/img/08sza_246190/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9DAKB48TeamK.jpeg</string>
	</array>
	<key>138857</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/f/e/fef97_185_news_thumb_sata_pv_akb_yokoyama.jpg</string>
	</array>
	<key>138858</key>
	<array>
	  <string>http://x85img.peps.jp/uimg/a/asukashin/1/di3hdg5h77A.jpg</string>
	</array>
	<key>138859</key>
	<array>
	  <string>http://4.bp.blogspot.com/-s69higioBPg/TcNj5FAe-tI/AAAAAAAAIhA/ysqNljfM8h0/s400/1.jpg</string>
	</array>
	<key>138860</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/b7l/2Fqt67_220.jpeg</string>
	</array>
	<key>138861</key>
	<array>
	  <string>http://livedoor.blogimg.jp/kirup/imgs/4/e/4e449810.jpg</string>
	</array>
	<key>138862</key>
	<array>
	  <string>http://www004.upp.so-net.ne.jp/hpk/photo/yy-y415f.jpg</string>
	</array>
	<key>138863</key>
	<array>
	  <string>http://gazo.galman.jp/img/095rq_285950/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9DVol%EF%BC%8E2.jpeg</string>
	</array>
	<key>138864</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/43/0001236643/94/img292a046czikfzj.jpeg</string>
	</array>
	<key>138865</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_lmsdileMMN1qkm5qmo1_500.jpg</string>
	</array>
	<key>138866</key>
	<array>
	  <string>http://26.media.tumblr.com/tumblr_lmffliJWAf1qjp7m2o1_500.jpg</string>
	</array>
	<key>138867</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_lno9ifgTo01qa4hylo1_500.jpg</string>
	</array>
	<key>138868</key>
	<array>
	  <string>http://akbsongs.blog.so-net.ne.jp/_images/blog/_d4e/akbsongs/E38286E38184E381AFE38293E382B1E383AA.gif</string>
	</array>
	<key>138869</key>
	<array>
	  <string>http://1.bp.blogspot.com/-SAcCf5jW7Lo/TdCPUeTJcuI/AAAAAAAAANo/_KC7V7BAIZ0/s320/1.jpg</string>
	</array>
	<key>138870</key>
	<array>
	  <string>http://gazo.galman.jp/img/08l2w_264431/AKB48%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138871</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/71/0001252171/45/imgaabca252zikczj.jpeg</string>
	</array>
	<key>138872</key>
	<array>
	  <string>http://livedoor.blogimg.jp/moe2010-idol/imgs/f/1/f1d41cda.jpg</string>
	</array>
	<key>138873</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_lmmsuvT9kF1qi86p1o1_500.jpg</string>
	</array>
	<key>138874</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/15/65/hagu_0201_home/folder/34250/img_34250_65968_0?1310995286</string>
	</array>
	<key>138875</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_lhiv5nqeWr1qha3s8o1_250.jpg</string>
	</array>
	<key>138876</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20110630/16/8c/df/j/o048003841309419242219.jpg</string>
	</array>
	<key>138877</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_lmmsrzfVQf1qi86p1o1_500.jpg</string>
	</array>
	<key>138878</key>
	<array>
	  <string>http://gazo.galman.jp/img/054rv_204613/%E6%B8%A1%E8%BE%BA%E9%BA%BB%E5%8F%8B+%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138879</key>
	<array>
	  <string>http://yokoyamayuiburogu.blog.so-net.ne.jp/_images/blog/_b37/yokoyamayuiburogu/3999d7a0s-e1905.jpg</string>
	</array>
	<key>138880</key>
	<array>
	  <string>http://image.portphoto.com/img/0fjqk_177051/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9DAKB_l.jpeg</string>
	</array>
	<key>138881</key>
	<array>
	  <string>http://himuralight.tumblr.com/photo/1280/6897623428/1/tumblr_lnc04fSCWz1qj4bmo</string>
	</array>
	<key>138882</key>
	<array>
	  <string>http://img01.taifon.net/thumb/ea/3e/ea3e76890b71c73f.jpg?072203</string>
	</array>
	<key>138883</key>
	<array>
	  <string>http://img.7netshopping.jp/bks/images/h0/1301118310.jpg</string>
	</array>
	<key>138884</key>
	<array>
	  <string>http://blog.technomaestro.com/photos/uncategorized/2011/05/04/11050400391rz3.jpg</string>
	</array>
	<key>138885</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110730/20/notyet-oosimayuuko-god/21/e6/j/t02200405_0800147111383751944.jpg</string>
	</array>
	<key>138886</key>
	<array>
	  <string>http://tn-skr1.smilevideo.jp/smile?i=14784180</string>
	</array>
	<key>138887</key>
	<array>
	  <string>http://hbb.afl.rakuten.co.jp/hgb/?pc=http%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fsurugaya-a-too-plus%2Fcabinet%2F0643%2F608007658m.jpg%3F_ex%3D128x128&amp;amp;m=http%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fsurugaya-a-too-plus%2Fca</string>
	</array>
	<key>138888</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/b6S/fFiMC8_480.jpeg</string>
	</array>
	<key>138889</key>
	<array>
	  <string>http://im2-a.mbokimg.dena.ne.jp/1/6/345/311270345.1.jpg</string>
	</array>
	<key>138890</key>
	<array>
	  <string>http://im10-a.mbokimg.dena.ne.jp/2/6/413/301391413.1.jpg</string>
	</array>
	<key>138891</key>
	<array>
	  <string>http://blog-imgs-44-origin.fc2.com/c/a/p/cap1234/ari20100608-01.jpg</string>
	</array>
	<key>138892</key>
	<array>
	  <string>http://3.bp.blogspot.com/-OWJH4beJwcA/TdOHn_wu8qI/AAAAAAAAHj4/c20BIUUzeHw/s320/1.jpeg</string>
	</array>
	<key>138893</key>
	<array>
	  <string>http://officiallyjd.s3.amazonaws.com/2011/07/20110718_yokoyama_01-82x100.jpg</string>
	</array>
	<key>138894</key>
	<array>
	  <string>http://loda.jp/bonyari/?id=7.jpg</string>
	</array>
	<key>138895</key>
	<array>
	  <string>http://img.7netshopping.jp/bks/images/i0/1301118310.jpg</string>
	</array>
	<key>138896</key>
	<array>
	  <string>http://akb48yokoyamayui2.cocolog-nifty.com/photos/uncategorized/2011/06/05/06ce4596s.jpg</string>
	</array>
	<key>138897</key>
	<array>
	  <string>http://gazo.galman.jp/img/096ub_286569/AKB48+%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138898</key>
	<array>
	  <string>http://akb.48lover.com/img/Topic/165/image_104x104_crop.jpg</string>
	</array>
	<key>138899</key>
	<array>
	  <string>http://gazo.melga.jp/img/01eia_394908/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D_l.jpeg</string>
	</array>
	<key>138900</key>
	<array>
	  <string>http://livedoor.blogimg.jp/moe2010-idol/imgs/9/2/92e792e2.jpg</string>
	</array>
	<key>138901</key>
	<array>
	  <string>http://news.nicovideo.jp/photo2/16831p.jpg</string>
	</array>
	<key>138902</key>
	<array>
	  <string>http://blog-imgs-43.fc2.com/w/w/e/wwe2006/io.jpg</string>
	</array>
	<key>138903</key>
	<array>
	  <string>http://29.media.tumblr.com/tumblr_lmpn4cuHJE1qkm5qmo1_500.jpg</string>
	</array>
	<key>138904</key>
	<array>
	  <string>http://img.iina.tv/m/imagebbs/_nosync/179/959/268287/org.jpeg</string>
	</array>
	<key>138905</key>
	<array>
	  <string>http://dl8.getuploader.com/g/48akb/336/48akb_336.jpg</string>
	</array>
	<key>138906</key>
	<array>
	  <string>http://28.media.tumblr.com/tumblr_lgx5jcUIsJ1qcopqzo1_500.jpg</string>
	</array>
	<key>138907</key>
	<array>
	  <string>http://yokoyamasimazaki.blog.so-net.ne.jp/_images/blog/_f06/yokoyamasimazaki/179b844bs-8fa8b.jpg</string>
	</array>
	<key>138908</key>
	<array>
	  <string>http://gazo.galman.jp/img/095rq_291620/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D%E3%82%86%E3%81%84%E3%81%AF%E3%82%93.jpeg</string>
	</array>
	<key>138909</key>
	<array>
	  <string>http://isearch.c.yimg.jp/image?id=cf5fbf2666e99270d909b9a1a23bd406</string>
	</array>
	<key>138910</key>
	<array>
	  <string>http://livedoor.blogimg.jp/akakb/imgs/c/3/c39710dd.jpg</string>
	</array>
	<key>138911</key>
	<array>
	  <string>http://mori-saki.com/diary/image/official/AKB48/2010/20100420_-12-11d65.jpg</string>
	</array>
	<key>138912</key>
	<array>
	  <string>http://im5-a.mbokimg.dena.ne.jp/2/6/853/302343853.1.jpg</string>
	</array>
	<key>138913</key>
	<array>
	  <string>http://image.portphoto.com/img/0fjqk_177183/%E6%B8%A1%E8%BE%BA%E9%BA%BB%E5%8F%8B%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9DAKB.jpeg</string>
	</array>
	<key>138914</key>
	<array>
	  <string>http://thumb.sweetnote.com:8080/akb48hon/static/thumbs/20110525220215478080.jpg</string>
	</array>
	<key>138915</key>
	<array>
	  <string>http://thumb.sweetnote.com:8080/akb48hon/static/thumbs/20110620212021459104.jpg</string>
	</array>
	<key>138916</key>
	<array>
	  <string>http://officiallyjd.s3.amazonaws.com/2011/07/20110718_yokoyama_33-86x100.jpg</string>
	</array>
	<key>138917</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_lgieytShgE1qey6s7o1_500.jpg</string>
	</array>
	<key>138918</key>
	<array>
	  <string>http://gazo.galman.jp/img/07cbn_271478/%E5%A4%A7%E5%B3%B6%E5%84%AA%E5%AD%90%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D_l.jpeg</string>
	</array>
	<key>138919</key>
	<array>
	  <string>http://auction.thumbnail.image.rakuten.co.jp/@0_auc/image44/9b/c2/00011274544/8d/ec/img00303905160.jpg?_ex=700x700&amp;amp;s=2&amp;amp;r=1</string>
	</array>
	<key>138920</key>
	<array>
	  <string>http://livedoor.blogimg.jp/akakb/imgs/c/d/cd4cac41.jpg</string>
	</array>
	<key>138921</key>
	<array>
	  <string>http://image1.shopserve.jp/recyclekan.ja.shopserve.jp/pic-labo/simg/imgs4170.jpg</string>
	</array>
	<key>138922</key>
	<array>
	  <string>http://infomation-akb.jp/sp/member/akb/teamK/img/yokoyama.jpg</string>
	</array>
	<key>138923</key>
	<array>
	  <string>http://amd.c.yimg.jp/im_siggs3tP8mm4Xmn5EssUybz1cw---x174-y200-q90/amd/20110219-00000801-bark-000-0-thumb.jpg</string>
	</array>
	<key>138924</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20110211/00/6c/c0/j/o058009671297353355144.jpg</string>
	</array>
	<key>138925</key>
	<array>
	  <string>http://thumb.sweetnote.com:8080/akb48hon/static/thumbs/20110417084412982498.jpg</string>
	</array>
	<key>138926</key>
	<array>
	  <string>http://entamax.blog.so-net.ne.jp/_images/blog/_b52/entamax/E6A8AAE5B1B1E794B1E4BE9DEFBD82.jpg</string>
	</array>
	<key>138927</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_lodx5nfl841qeefo8o1_500.jpg</string>
	</array>
	<key>138928</key>
	<array>
	  <string>http://gazo.galman.jp/img/096ub_290478/AKB48+%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138929</key>
	<array>
	  <string>http://karenschocolate.net/wp-content/uploads/2011/08/thumb_c3mcb4xf-1-230x129.jpg</string>
	</array>
	<key>138930</key>
	<array>
	  <string>http://www.bbspoink.com/slideshow/images/yokoyama_yui/atsa00007.jpg</string>
	</array>
	<key>138931</key>
	<array>
	  <string>http://24.media.tumblr.com/tumblr_lkbkj3zY221qjp7m2o1_500.jpg</string>
	</array>
	<key>138932</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/da/c2/mayu48_yossy2301/folder/221365/img_221365_4646002_3?1310133024</string>
	</array>
	<key>138933</key>
	<array>
	  <string>http://pic.yipev.com/data/img12/20110802065041/view_66cc3wua.jpg</string>
	</array>
	<key>138934</key>
	<array>
	  <string>http://blog-imgs-46-origin.fc2.com/a/k/b/akb48top/img_yokoyama_2011_4.jpg</string>
	</array>
	<key>138935</key>
	<array>
	  <string>http://blog.technomaestro.com/photos/uncategorized/2011/05/04/11050323371rz30.jpg</string>
	</array>
	<key>138936</key>
	<array>
	  <string>http://topmusic.up.seesaa.net/image/E6A8AAE5B1B1E794B1E4BE9DE5B1B1E5B48EE38391E383B3E5B7A5E5A0B4E38390E382A4E38388E5A5BDE6849FE5BAA6E4B88AE3818CE3828B2-thumbnail2.jpg</string>
	</array>
	<key>138937</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/bnt/0tuBn7_240full.jpeg</string>
	</array>
	<key>138938</key>
	<array>
	  <string>http://gazo.galman.jp/img/08sza_285963/AKB48%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D%E5%8C%97%E5%8E%9F%E9%87%8C%E8%8B%B1_l.jpeg</string>
	</array>
	<key>138939</key>
	<array>
	  <string>http://img.serend.net/user_image/community_icon/9119/9119144448/bigQmPwHNLu.jpg</string>
	</array>
	<key>138940</key>
	<array>
	  <string>http://stat.group.ameba.jp/group_images/20110612/17/30/c1/j/o01150140u10black1307868188525.jpg</string>
	</array>
	<key>138941</key>
	<array>
	  <string>http://akb.48lover.com/img/Topic/165/image_120x120_crop.jpg</string>
	</array>
	<key>138942</key>
	<array>
	  <string>http://josup.xrea.jp/src/up5040.jpg</string>
	</array>
	<key>138943</key>
	<array>
	  <string>http://msp.c.yimg.jp/image?q=tbn:ANd9GcTBIYAPrn6Gyf8ANR1X2eAv6YEKcoGbqUwZpcyGLHDBjIk6o_UKaqjYSVo:http://shigumogura.up.seesaa.net/image/E6A8AAE5B1B1E794B1E4BE9D-4f388.jpg</string>
	</array>
	<key>138944</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/1c/5a/berryz_risako_199444/folder/629346/img_629346_19700767_0?1306045885</string>
	</array>
	<key>138945</key>
	<array>
	  <string>http://entamax.blog.so-net.ne.jp/_images/blog/_b52/entamax/m_E6A8AAE5B1B1E794B1E4BE9DEFBD82.jpg</string>
	</array>
	<key>138946</key>
	<array>
	  <string>http://blog-imgs-15-origin.fc2.com/a/k/b/akb48machiuke/5_20110403213418.jpg</string>
	</array>
	<key>138947</key>
	<array>
	  <string>http://image1.shopserve.jp/recyclekan.ja.shopserve.jp/pic-labo/limg/img450.jpg</string>
	</array>
	<key>138948</key>
	<array>
	  <string>http://gazo.galman.jp/img/08sza_243241/%E5%A4%A7%E5%B3%B6%E5%84%AA%E5%AD%90%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138949</key>
	<array>
	  <string>http://28.media.tumblr.com/tumblr_lgat6z6sk61qzc1oko1_500.jpg</string>
	</array>
	<key>138950</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/519EkNfev%2BL.jpg</string>
	</array>
	<key>138951</key>
	<array>
	  <string>http://machiuke-world.com/img/contents/akb48_yokoyama_yui/0001.jpg</string>
	</array>
	<key>138952</key>
	<array>
	  <string>http://im0-a.mbokimg.dena.ne.jp/1/6/730/300200730.1.jpg</string>
	</array>
	<key>138953</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/h/a/l/haloblog/tumblr_ljhwecABM71qd4v7io1_400.jpg</string>
	</array>
	<key>138954</key>
	<array>
	  <string>http://farm6.static.flickr.com/5190/5683278013_01623b3be5.jpg</string>
	</array>
	<key>138955</key>
	<array>
	  <string>http://blog-imgs-42-origin.fc2.com/g/a/z/gazoudaisuki/201103071449495ecs.jpg</string>
	</array>
	<key>138956</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/bE1/fyjqs4_220.jpeg</string>
	</array>
	<key>138957</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/06/11_4/01.jpg</string>
	</array>
	<key>138958</key>
	<array>
	  <string>http://gazo.galman.jp/img/08w5l_258219/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D.jpeg</string>
	</array>
	<key>138959</key>
	<array>
	  <string>http://image.portphoto.com/img/03lqd_145673/AKB48+%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9D_l.jpeg</string>
	</array>
	<key>138960</key>
	<array>
	  <string>http://moemoe.zitaku.org/thm/1304881511_988641480b4e04847091f34a008a280f.jpg</string>
	</array>
	<key>138961</key>
	<array>
	  <string>http://livedoor.blogimg.jp/kyanews/imgs/7/8/78ff0c9e-s.jpg?72e318a4</string>
	</array>
	<key>138962</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/02/20110213_yokoyamayui_06.jpg</string>
	</array>
	<key>138963</key>
	<array>
	  <string>http://wing.mobile.yahoo.co.jp/%E6%A8%AA%E5%B1%B1%E7%94%B1%E4%BE%9DAKB.jpeg?furl=http%3A%2F%2Fmsp.c.yimg.jp%2Fimage%3Fq%3Dtbn%3AANd9GcRbDHTFpfFF7gya-do2it47fTJlHL-O_fZFNU4RjnRJi4XFYrUjdaXKQm2A%3Ahttp%3A%2F%2Fimage.portphoto.com%2Fimg%2F0fjqk_177051%2F%252</string>
	</array>
	<key>138964</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/1/c/1c74428e2e553439c7dcc65d1747a973.JPG</string>
	</array>
</array>
</plist>
