<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>43040</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/rainbow_mickey/imgs/a/c/acbc4cdb.jpg</string>
	</array>
	<key>43041</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/rainbow_mickey/imgs/f/d/fd6f9b0e.JPG</string>
	</array>
	<key>43042</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/rainbow_mickey/imgs/3/0/3079343d.jpg</string>
	</array>
	<key>43043</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/rainbow_mickey/imgs/d/8/d8bbcc27.jpg</string>
	</array>
	<key>43044</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/rainbow_mickey/imgs/2/3/2300695b.JPG</string>
	</array>
	<key>43045</key>
	<array>
	  <string>http://farm3.static.flickr.com/2033/2193891653_9818200f70.jpg</string>
	</array>
	<key>43046</key>
	<array>
	  <string>http://farm4.static.flickr.com/3258/2700472341_754f9ca5dd.jpg</string>
	</array>
	<key>43047</key>
	<array>
	  <string>http://farm4.static.flickr.com/3092/2700593339_d399d61cd1.jpg</string>
	</array>
	<key>43048</key>
	<array>
	  <string>http://farm4.static.flickr.com/3133/2792129370_4bf02097d2.jpg</string>
	</array>
	<key>43049</key>
	<array>
	  <string>http://farm4.static.flickr.com/3244/2716671396_50b4bfa808.jpg</string>
	</array>
	<key>43050</key>
	<array>
	  <string>http://farm4.static.flickr.com/3028/2730729753_3c08125e8f.jpg</string>
	</array>
	<key>43051</key>
	<array>
	  <string>http://farm4.static.flickr.com/3131/2700318625_b78df81f79.jpg</string>
	</array>
	<key>43052</key>
	<array>
	  <string>http://farm4.static.flickr.com/3180/2784837042_ddcfcdb0fd.jpg</string>
	</array>
	<key>43053</key>
	<array>
	  <string>http://farm3.static.flickr.com/2214/2194307062_57154e7b50.jpg</string>
	</array>
	<key>43054</key>
	<array>
	  <string>http://farm4.static.flickr.com/3285/2709533880_e328562ebd.jpg</string>
	</array>
	<key>43055</key>
	<array>
	  <string>http://farm4.static.flickr.com/3280/2701076592_5fbdf83e37.jpg</string>
	</array>
	<key>43056</key>
	<array>
	  <string>http://farm3.static.flickr.com/2113/2245836734_452c550406.jpg</string>
	</array>
	<key>43057</key>
	<array>
	  <string>http://farm4.static.flickr.com/3171/2708488871_41be74828b.jpg</string>
	</array>
	<key>43058</key>
	<array>
	  <string>http://farm3.static.flickr.com/2138/2194583042_3dc6e3b831.jpg</string>
	</array>
	<key>43059</key>
	<array>
	  <string>http://farm4.static.flickr.com/3068/2708980432_99a67e5a05.jpg</string>
	</array>
	<key>43060</key>
	<array>
	  <string>http://farm3.static.flickr.com/2215/2193560931_64abb1a89c.jpg</string>
	</array>
	<key>43061</key>
	<array>
	  <string>http://farm4.static.flickr.com/3257/2709953764_46c36290cc.jpg</string>
	</array>
	<key>43062</key>
	<array>
	  <string>http://farm4.static.flickr.com/3140/2730310075_cfd4f1c805.jpg</string>
	</array>
	<key>43063</key>
	<array>
	  <string>http://farm3.static.flickr.com/2320/2193642147_29d8cce19a.jpg</string>
	</array>
	<key>43064</key>
	<array>
	  <string>http://farm4.static.flickr.com/3006/2701454930_8e9f940e1f.jpg</string>
	</array>
	<key>43065</key>
	<array>
	  <string>http://farm3.static.flickr.com/2341/2194440158_dfd4a1fdf1.jpg</string>
	</array>
	<key>43066</key>
	<array>
	  <string>http://farm4.static.flickr.com/3170/2716671264_5f764543ef.jpg</string>
	</array>
	<key>43067</key>
	<array>
	  <string>http://farm3.static.flickr.com/2183/2193891925_09c6bd210c.jpg</string>
	</array>
	<key>43068</key>
	<array>
	  <string>http://farm4.static.flickr.com/3097/2718844204_e343d0c786.jpg</string>
	</array>
	<key>43069</key>
	<array>
	  <string>http://farm4.static.flickr.com/3276/2716496646_9aa8de3a3f.jpg</string>
	</array>
	<key>43070</key>
	<array>
	  <string>http://farm4.static.flickr.com/3213/2715601803_4b13e3c2f2.jpg</string>
	</array>
	<key>43071</key>
	<array>
	  <string>http://farm3.static.flickr.com/2257/2194688558_96f30f684f.jpg</string>
	</array>
	<key>43072</key>
	<array>
	  <string>http://farm3.static.flickr.com/2125/2193898059_a33d6f8d2f.jpg</string>
	</array>
	<key>43073</key>
	<array>
	  <string>http://farm4.static.flickr.com/3228/2744388324_c311cdce94.jpg</string>
	</array>
	<key>43074</key>
	<array>
	  <string>http://farm3.static.flickr.com/2158/2194282972_9d202e01b0.jpg</string>
	</array>
	<key>43075</key>
	<array>
	  <string>http://farm4.static.flickr.com/3158/2743458291_1ecf5e04e3.jpg</string>
	</array>
	<key>43076</key>
	<array>
	  <string>http://farm4.static.flickr.com/3076/2708484789_ff05e5d41a.jpg</string>
	</array>
	<key>43077</key>
	<array>
	  <string>http://farm3.static.flickr.com/2216/2194662478_f2be359787.jpg</string>
	</array>
	<key>43078</key>
	<array>
	  <string>http://farm3.static.flickr.com/2255/2194686532_8bf8fe80db.jpg</string>
	</array>
	<key>43079</key>
	<array>
	  <string>http://farm3.static.flickr.com/2237/2194350946_ea91a7962c.jpg</string>
	</array>
	<key>43080</key>
	<array>
	  <string>http://farm3.static.flickr.com/2057/2193638423_e5bea954fa.jpg</string>
	</array>
	<key>43081</key>
	<array>
	  <string>http://farm3.static.flickr.com/2197/2193634471_12301af0df.jpg</string>
	</array>
	<key>43082</key>
	<array>
	  <string>http://farm4.static.flickr.com/3004/2776540527_3a85cd455f.jpg</string>
	</array>
	<key>43083</key>
	<array>
	  <string>http://farm3.static.flickr.com/2115/2194332444_47f98dd2e1.jpg</string>
	</array>
	<key>43084</key>
	<array>
	  <string>http://farm3.static.flickr.com/2025/2193895887_40e554ddac.jpg</string>
	</array>
	<key>43085</key>
	<array>
	  <string>http://farm3.static.flickr.com/2405/2194690792_f9bf54038e.jpg</string>
	</array>
	<key>43086</key>
	<array>
	  <string>http://farm3.static.flickr.com/2183/2194695020_d313c62b8a.jpg</string>
	</array>
	<key>43087</key>
	<array>
	  <string>http://farm4.static.flickr.com/3120/2701285772_9cf8afaf59.jpg</string>
	</array>
	<key>43088</key>
	<array>
	  <string>http://farm4.static.flickr.com/3176/2708165647_b51e902713.jpg</string>
	</array>
	<key>43089</key>
	<array>
	  <string>http://farm3.static.flickr.com/2308/2193899507_ea795f3c7a.jpg</string>
	</array>
	<key>43090</key>
	<array>
	  <string>http://farm3.static.flickr.com/2303/2193901177_6652d0c417.jpg</string>
	</array>
	<key>43091</key>
	<array>
	  <string>http://farm3.static.flickr.com/2331/2193896133_c51eb89ba0.jpg</string>
	</array>
	<key>43092</key>
	<array>
	  <string>http://farm3.static.flickr.com/2347/2194314556_b92ec5f326.jpg</string>
	</array>
	<key>43093</key>
	<array>
	  <string>http://farm3.static.flickr.com/2386/2193507423_f3162dc4e8.jpg</string>
	</array>
	<key>43094</key>
	<array>
	  <string>http://farm4.static.flickr.com/3289/2731278150_4527bd803f.jpg</string>
	</array>
	<key>43095</key>
	<array>
	  <string>http://farm3.static.flickr.com/2219/2194416710_6a603733ce.jpg</string>
	</array>
	<key>43096</key>
	<array>
	  <string>http://farm3.static.flickr.com/2037/2193499253_f290f3e767.jpg</string>
	</array>
	<key>43097</key>
	<array>
	  <string>http://farm3.static.flickr.com/2308/2193799563_700c4c5443.jpg</string>
	</array>
	<key>43098</key>
	<array>
	  <string>http://farm3.static.flickr.com/2052/2193503145_1db4e41f5e.jpg</string>
	</array>
	<key>43099</key>
	<array>
	  <string>http://farm4.static.flickr.com/3228/2718053989_6b429664f2.jpg</string>
	</array>
	<key>43100</key>
	<array>
	  <string>http://farm3.static.flickr.com/2187/2193892601_945f90f1eb.jpg</string>
	</array>
	<key>43101</key>
	<array>
	  <string>http://farm4.static.flickr.com/3075/2731057488_1aed25cc46.jpg</string>
	</array>
	<key>43102</key>
	<array>
	  <string>http://farm3.static.flickr.com/2040/2194688826_229950a53e.jpg</string>
	</array>
	<key>43103</key>
	<array>
	  <string>http://www.aplus-japan.com/img/talent/shiratoriyuriko1.jpg</string>
	</array>
	<key>43104</key>
	<array>
	  <string>http://farm4.static.flickr.com/3113/2709923442_188aaf3974.jpg</string>
	</array>
	<key>43105</key>
	<array>
	  <string>http://imga-a.dena.ne.jp/exa1/cb/10/4431530/3/92109907_1.jpg</string>
	</array>
	<key>43106</key>
	<array>
	  <string>http://f.hatena.ne.jp/images/fotolife/a/aurora-sauce/20070529/20070529095758.jpg</string>
	</array>
	<key>43107</key>
	<array>
	  <string>http://tokuby.web.fc2.com/gazou/shiratori/8.jpg</string>
	</array>
	<key>43108</key>
	<array>
	  <string>http://images.amazon.com/images/P/B000I0RB2W.09.LZZZZZZZ.jpg</string>
	</array>
	<key>43109</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/55/3a/57fe5be882067dfe5917b82fbe42e4de.jpg</string>
	</array>
	<key>43110</key>
	<array>
	  <string>http://siratoriyuriko0714.cocolog-nifty.com/photos/uncategorized/photo.jpg</string>
	</array>
	<key>43111</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/57/0000613757/26/imga178a956zikczj.jpeg</string>
	</array>
	<key>43112</key>
	<array>
	  <string>http://okuni.blog.so-net.ne.jp/blog/_images/blog/_e73/okuni/7898125.jpg</string>
	</array>
	<key>43113</key>
	<array>
	  <string>http://www.spt-plan.biz/images/20080930-00000000-oric-ent-view-000.jpg</string>
	</array>
	<key>43114</key>
	<array>
	  <string>http://file.size.blog.shinobi.jp/Img/1185366216/</string>
	</array>
	<key>43115</key>
	<array>
	  <string>http://yui-life.com/gallery/d/45615-1/028.jpg</string>
	</array>
	<key>43116</key>
	<array>
	  <string>http://imgl-a.dena.ne.jp/exl3/20090831/166/152483038_1.jpg</string>
	</array>
	<key>43117</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200907/31/53/a0118453_3365692.jpg</string>
	</array>
	<key>43118</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200907/31/53/a0118453_3382495.jpg</string>
	</array>
	<key>43119</key>
	<array>
	  <string>http://movie.seedsun.com/media/2009071111002.jpg</string>
	</array>
	<key>43120</key>
	<array>
	  <string>http://ocn.bb.goo.ne.jp/special/idolcarnival/contents/shiratori-yuriko/gallery/01/01.jpg</string>
	</array>
	<key>43121</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/52/0000583952/41/img3505f445zik1zj.jpeg</string>
	</array>
	<key>43122</key>
	<array>
	  <string>http://kamekamesatuei.up.seesaa.net/image/DSC_0013.JPG</string>
	</array>
	<key>43123</key>
	<array>
	  <string>http://bb.goo.ne.jp/special/idolcarnival/contents/shiratori-yuriko/gallery/02/01.jpg</string>
	</array>
	<key>43124</key>
	<array>
	  <string>http://blog-imgs-14.fc2.com/t/v/n/tvnews3939/akiyama_rina.jpg</string>
	</array>
	<key>43125</key>
	<array>
	  <string>http://c-taku.img.jugem.jp/20080525_221959.jpg</string>
	</array>
	<key>43126</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/g/geinou_pics/20070123/20070123145742.jpg</string>
	</array>
	<key>43127</key>
	<array>
	  <string>http://farm4.static.flickr.com/3028/2730729753_3c08125e8f.jpg</string>
	</array>
	<key>43128</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/201003/31/71/d0113571_15244022.jpg</string>
	</array>
	<key>43129</key>
	<array>
	  <string>http://yui-life.com/gallery/d/45561-1/005.jpg</string>
	</array>
	<key>43130</key>
	<array>
	  <string>http://livedoor.blogimg.jp/hayamimitrend/imgs/9/d/9dad964e.JPG</string>
	</array>
	<key>43131</key>
	<array>
	  <string>http://www.mask28.com/images/hana.jpg</string>
	</array>
	<key>43132</key>
	<array>
	  <string>http://shiratori-yuriko.cocolog-nifty.com/photos/uncategorized/photo.jpg</string>
	</array>
	<key>43133</key>
	<array>
	  <string>http://yaplog.jp/cv/ta-a/img/1664/shiratori_p.jpg</string>
	</array>
	<key>43134</key>
	<array>
	  <string>http://livedoor.blogimg.jp/hayamimitrend/imgs/a/9/a9cbdbf3.jpg</string>
	</array>
	<key>43135</key>
	<array>
	  <string>http://lh5.ggpht.com/_0gLQ7a1YZJ8/SUT3VtR-6pI/AAAAAAAAGCc/EkReemx3M_k/24.jpg</string>
	</array>
	<key>43136</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/0b/f8/6c5c4f32f1becc452abe6daea966486d.jpg</string>
	</array>
	<key>43137</key>
	<array>
	  <string>http://farm4.static.flickr.com/3163/2776613601_1f16163fac.jpg</string>
	</array>
	<key>43138</key>
	<array>
	  <string>http://file.embraer170.blog.shinobi.jp/20090207.jpg</string>
	</array>
	<key>43139</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/81/0000084881/94/imgd35739abzikdzj.jpeg</string>
	</array>
	<key>43140</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/516PuAwwikL._SL500_AA300_.jpg</string>
	</array>
	<key>43141</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/000/327/39/N000/000/000/c3352070.jpg</string>
	</array>
	<key>43142</key>
	<array>
	  <string>http://8ch-club.com/jos/images/stories/blog_musio/20070807.jpg</string>
	</array>
	<key>43143</key>
	<array>
	  <string>http://siratori-yuriko.up.seesaa.net/image/siratori1A4CEA5B3A5D4A1BC.jpg</string>
	</array>
	<key>43144</key>
	<array>
	  <string>http://yui-life.com/gallery/d/45991-1/23.jpg</string>
	</array>
	<key>43145</key>
	<array>
	  <string>http://27.media.tumblr.com/hXmeK5bHnodw3uvqoTk7UWs5o1_400.jpg</string>
	</array>
	<key>43146</key>
	<array>
	  <string>http://www.tic.jp/bomsite/toreca/shiratori/limited/part1/img/shiratori400_600.jpg</string>
	</array>
	<key>43147</key>
	<array>
	  <string>http://25.media.tumblr.com/JOd0Mot9lcllm8m3F0AUK187_500.jpg</string>
	</array>
	<key>43148</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/g/geinou_pics/20061107/20061107064540.jpg</string>
	</array>
	<key>43149</key>
	<array>
	  <string>http://30.media.tumblr.com/9coDbboLvnmru7cz6FiLfdrQo1_500.jpg</string>
	</array>
	<key>43150</key>
	<array>
	  <string>http://portable.easylife.tw/pic/files/1/200811/YurikoShiratori/025.jpg</string>
	</array>
	<key>43151</key>
	<array>
	  <string>http://bb.goo.ne.jp/contents/program/cap0129/img/cap0129_l.jpg</string>
	</array>
	<key>43152</key>
	<array>
	  <string>http://www3.hp-ez.com/img/faiz/b_89123_1.jpg</string>
	</array>
	<key>43153</key>
	<array>
	  <string>http://dl.amisoft.net/dimg/AMIG00909/003.jpg</string>
	</array>
	<key>43154</key>
	<array>
	  <string>http://yui-life.com/gallery/d/45995-1/25.jpg</string>
	</array>
	<key>43155</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/73/0000489673/07/img32817d20zikbzj.jpeg</string>
	</array>
	<key>43156</key>
	<array>
	  <string>http://livedoor.blogimg.jp/rainbow_mickey/imgs/f/5/f55d6352.jpg</string>
	</array>
	<key>43157</key>
	<array>
	  <string>http://file.embraer170.blog.shinobi.jp/20110612_1.jpeg</string>
	</array>
	<key>43158</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/g/geinou_pics/20060907/20060907135945.jpg</string>
	</array>
	<key>43159</key>
	<array>
	  <string>http://blog-imgs-23.fc2.com/k/r/t/krtek7/20070414000225.jpg</string>
	</array>
	<key>43160</key>
	<array>
	  <string>http://lh6.ggpht.com/_0gLQ7a1YZJ8/SUT3NginDCI/AAAAAAAAGCA/1OUE6L9y_hI/18.jpg</string>
	</array>
	<key>43161</key>
	<array>
	  <string>http://bb.goo.ne.jp/special/idolcarnival/contents/shiratori-yuriko/gallery/03/01.jpg</string>
	</array>
	<key>43162</key>
	<array>
	  <string>http://24.media.tumblr.com/12754972_500.jpg</string>
	</array>
	<key>43163</key>
	<array>
	  <string>http://toy-box-purasu.cocolog-nifty.com/photos/uncategorized/tcidl0420.jpg</string>
	</array>
	<key>43164</key>
	<array>
	  <string>http://yui-life.com/gallery/d/45571-1/009.jpg</string>
	</array>
	<key>43165</key>
	<array>
	  <string>http://nothingwalker.up.seesaa.net/image/04.jpg</string>
	</array>
	<key>43166</key>
	<array>
	  <string>http://27.media.tumblr.com/12754943_500.jpg</string>
	</array>
	<key>43167</key>
	<array>
	  <string>http://file.embraer170.blog.shinobi.jp/20110504_1.jpg</string>
	</array>
	<key>43168</key>
	<array>
	  <string>http://2ndimpact.sakura.ne.jp/sun_hour/gimr/photo/63_de83095c.jpg</string>
	</array>
	<key>43169</key>
	<array>
	  <string>http://lh4.ggpht.com/_0gLQ7a1YZJ8/SUT3jo0VGfI/AAAAAAAAGDM/Sfzkpu_gH4s/34.jpg</string>
	</array>
	<key>43170</key>
	<array>
	  <string>http://shiratori-yuriko.cocolog-nifty.com/photos/uncategorized/photo_1.jpg</string>
	</array>
	<key>43171</key>
	<array>
	  <string>http://farm4.static.flickr.com/3257/2743522043_327e38668c.jpg</string>
	</array>
	<key>43172</key>
	<array>
	  <string>http://img.pics.livedoor.com/002/6/f/6f96736097ba61c235b9-M.jpg</string>
	</array>
	<key>43173</key>
	<array>
	  <string>http://yui-life.com/gallery/d/45770-10/syur2big01.jpg</string>
	</array>
	<key>43174</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/h/hamao/20070310/20070310162924.jpg</string>
	</array>
	<key>43175</key>
	<array>
	  <string>http://img.pics.livedoor.com/002/6/f/6f96736097ba61c235b9-LL.jpg</string>
	</array>
	<key>43176</key>
	<array>
	  <string>http://lh6.ggpht.com/_fjMuP7WW3Mc/Rf-Ag-Tj-eI/AAAAAAAAArw/V05hBqIPrAw/Yuriko35.jpg</string>
	</array>
	<key>43177</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/60/93/10072333412.jpg</string>
	</array>
	<key>43178</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/2a/c4/386e57f13bd3a27b392c832f440275fa.jpg</string>
	</array>
	<key>43179</key>
	<array>
	  <string>http://rider-denou.joho1.net/%E7%99%BD%E9%B3%A5.jpg</string>
	</array>
	<key>43180</key>
	<array>
	  <string>http://shiratori-yuriko.cocolog-nifty.com/photos/uncategorized/2.jpg</string>
	</array>
	<key>43181</key>
	<array>
	  <string>http://himitukiti.jp/hot/ftp-box/img20090425222837.png</string>
	</array>
	<key>43182</key>
	<array>
	  <string>http://yui-life.com/gallery/d/46005-1/30.jpg</string>
	</array>
	<key>43183</key>
	<array>
	  <string>http://lh6.ggpht.com/_0gLQ7a1YZJ8/SHyWxUcM6QI/AAAAAAAACso/7UZDG_oOfl8/yuriko_shiratori_252.jpg</string>
	</array>
	<key>43184</key>
	<array>
	  <string>http://blog-imgs-14.fc2.com/t/v/n/tvnews3939/shiratori_yuriko.jpg</string>
	</array>
	<key>43185</key>
	<array>
	  <string>http://img.pics.livedoor.com/005/7/9/796490cbc691a6158410-LL.jpg</string>
	</array>
	<key>43186</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/M/MAO1124/20061218/20061218185840.jpg</string>
	</array>
	<key>43187</key>
	<array>
	  <string>http://bb.goo.ne.jp/special/grapro/photo/talent/yuriko_shiratori.jpg</string>
	</array>
	<key>43188</key>
	<array>
	  <string>http://27.media.tumblr.com/13077757_500.jpg</string>
	</array>
	<key>43189</key>
	<array>
	  <string>http://lh3.ggpht.com/_0gLQ7a1YZJ8/SHyXLFASFxI/AAAAAAAACvc/YkwHL7AAyVs/yuriko_shiratori_296.jpg</string>
	</array>
	<key>43190</key>
	<array>
	  <string>http://yui-life.com/gallery/d/45609-1/025.jpg</string>
	</array>
	<key>43191</key>
	<array>
	  <string>http://www.bmshop.jp/photo/bomb0709_1.jpg</string>
	</array>
	<key>43192</key>
	<array>
	  <string>http://blog-imgs-30.fc2.com/b/a/b/babolbabol/20080222095554.jpg</string>
	</array>
	<key>43193</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/05/db/aquamarineblueblue/folder/1503126/img_1503126_63167648_0?1272549839</string>
	</array>
	<key>43194</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_kw6q8tk4MO1qzkb51o1_500.jpg</string>
	</array>
	<key>43195</key>
	<array>
	  <string>http://lh5.ggpht.com/_fjMuP7WW3Mc/RzBJURW7XMI/AAAAAAAADZs/COUZUatF9N0/syur3big06.jpg</string>
	</array>
	<key>43196</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/C/CYCLES/20070203/20070203165142.jpg</string>
	</array>
	<key>43197</key>
	<array>
	  <string>http://deliver.vector.co.jp/goo/SR159565_S.jpg</string>
	</array>
	<key>43198</key>
	<array>
	  <string>http://3.media.tumblr.com/AZjwJJiyzmboqxqbJJ6mjiH2o1_500.jpg</string>
	</array>
	<key>43199</key>
	<array>
	  <string>http://i.ytimg.com/vi/CWzH7WkXWDY/hqdefault.jpg</string>
	</array>
	<key>43200</key>
	<array>
	  <string>http://lh5.ggpht.com/_fjMuP7WW3Mc/RzBI0RW7WmI/AAAAAAAADU4/8LMuHKVW978/syuribig09.jpg</string>
	</array>
	<key>43201</key>
	<array>
	  <string>http://yui-life.com/gallery/d/45882-9/syur3big14.jpg</string>
	</array>
	<key>43202</key>
	<array>
	  <string>http://blog-imgs-18.fc2.com/s/t/a/starlog2monk4mossad/1168927157783.jpg</string>
	</array>
	<key>43203</key>
	<array>
	  <string>http://livedoor.blogimg.jp/hayamimitrend/imgs/f/d/fd0facf4.jpg</string>
	</array>
	<key>43204</key>
	<array>
	  <string>http://i.ytimg.com/vi/kajozGTTBNs/0.jpg</string>
	</array>
	<key>43205</key>
	<array>
	  <string>http://lh6.ggpht.com/-B24Tq9DStbo/SUT3qIZxNlI/AAAAAAAAGDk/SpllIIT3_Uo/4.jpg</string>
	</array>
	<key>43206</key>
	<array>
	  <string>http://yaplog.jp/cv/okiraku-mash/img/957/img20071204_p.jpg</string>
	</array>
	<key>43207</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/C/CYCLES/20070203/20070203165211.jpg</string>
	</array>
	<key>43208</key>
	<array>
	  <string>http://dino206.blog.hobidas.com/image/df93994d.jpg</string>
	</array>
	<key>43209</key>
	<array>
	  <string>http://file.shiratoriyuriko.blog.shinobi.jp/Img/1236257449/</string>
	</array>
	<key>43210</key>
	<array>
	  <string>http://lh3.ggpht.com/_0gLQ7a1YZJ8/SHyXLlb0KuI/AAAAAAAACvg/IdqiZFIzUOY/yuriko_shiratori_297.jpg</string>
	</array>
	<key>43211</key>
	<array>
	  <string>http://yui-life.com/gallery/d/45557-1/003.jpg</string>
	</array>
	<key>43212</key>
	<array>
	  <string>http://i3.ytimg.com/vi/QU0Wg7NB_Hg/0.jpg</string>
	</array>
	<key>43213</key>
	<array>
	  <string>http://livedoor.blogimg.jp/reiber/imgs/6/c/6ccb288b.jpg</string>
	</array>
	<key>43214</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/0a/5e/10042492918_s.jpg</string>
	</array>
	<key>43215</key>
	<array>
	  <string>http://yaplog.jp/cv/ta-a/img/1417/img20071028_p.jpg</string>
	</array>
	<key>43216</key>
	<array>
	  <string>http://lh5.ggpht.com/_0gLQ7a1YZJ8/SHyXMw1FyDI/AAAAAAAACvs/zqS8DO8R0dI/yuriko_shiratori_300.jpg</string>
	</array>
	<key>43217</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/g/geinou_pics/20061107/20061107064538.jpg</string>
	</array>
	<key>43218</key>
	<array>
	  <string>http://img.pics.livedoor.com/001/5/d/5dc6a9e19ddb1e782d76-M.jpg</string>
	</array>
	<key>43219</key>
	<array>
	  <string>http://28.media.tumblr.com/tumblr_kq2h4qs3iN1qa3kspo1_500.jpg</string>
	</array>
	<key>43220</key>
	<array>
	  <string>http://livedoor.blogimg.jp/hayamimitrend/imgs/5/7/571d5f86.jpg</string>
	</array>
	<key>43221</key>
	<array>
	  <string>http://lh5.ggpht.com/_fjMuP7WW3Mc/RzBJeRW7XYI/AAAAAAAADbQ/_ZzfYTyFmuo/syur3big16.jpg</string>
	</array>
	<key>43222</key>
	<array>
	  <string>http://24.media.tumblr.com/tumblr_kwh3xpWzvw1qzv5tyo1_r1_500.jpg</string>
	</array>
	<key>43223</key>
	<array>
	  <string>http://image.blogmura.com/user/24/118879/lyy15cil.jpg</string>
	</array>
	<key>43224</key>
	<array>
	  <string>http://kobe-collection.com/fashionista/yuriko01.jpg</string>
	</array>
	<key>43225</key>
	<array>
	  <string>http://lh5.ggpht.com/_SJ5Kn2FP7Mw/R7-6T2g61VI/AAAAAAAADqI/zDnzbfl2-mc/s200710240002.jpg</string>
	</array>
	<key>43226</key>
	<array>
	  <string>http://farm1.static.flickr.com/163/402097441_91e8248b69.jpg</string>
	</array>
	<key>43227</key>
	<array>
	  <string>http://livedoor.blogimg.jp/reiber/imgs/b/1/b1f897c1.jpg</string>
	</array>
	<key>43228</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/g/geinou_pics/20070123/20070123145742_120.jpg</string>
	</array>
	<key>43229</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200705/19/53/f0136753_0241553.jpg</string>
	</array>
	<key>43230</key>
	<array>
	  <string>http://yui-life.com/gallery/d/45555-1/002.jpg</string>
	</array>
	<key>43231</key>
	<array>
	  <string>http://19.media.tumblr.com/13077696_500.jpg</string>
	</array>
	<key>43232</key>
	<array>
	  <string>http://2.bp.blogspot.com/_pAj2HTcp6fQ/TD1Uhl8U0pI/AAAAAAAAAKE/8Am1qxZ6rsE/s1600/sy012.jpg</string>
	</array>
	<key>43233</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/311FGCNh3IL._SL500_AA300_.jpg</string>
	</array>
	<key>43234</key>
	<array>
	  <string>http://midori-mirorin.up.269g.net/image/midori-mirorin-2006-11-23T00:20:34-1.jpg</string>
	</array>
	<key>43235</key>
	<array>
	  <string>http://blog-imgs-19.fc2.com/m/a/i/maikblog/20090213020952.jpg</string>
	</array>
	<key>43236</key>
	<array>
	  <string>http://i.ytimg.com/vi/8Supr178Ob0/hqdefault.jpg</string>
	</array>
	<key>43237</key>
	<array>
	  <string>http://jp.orzz.me/img/971.jpg</string>
	</array>
	<key>43238</key>
	<array>
	  <string>http://blog-imgs-17.fc2.com/g/i/v/giveahint/shiratori.jpg</string>
	</array>
	<key>43239</key>
	<array>
	  <string>http://bb.goo.ne.jp/special/idolcarnival/contents/shiratori-yuriko/img/thum_02.jpg</string>
	</array>
</dict>
</plist>
