<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>143164</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/02/73/N0027310.jpg</string>
	</array>
	<key>143163</key>
	<array>
	  <string>http://mainichi.jp/enta/geinou/news/images/20110714mog00m200028000p_size5.jpg</string>
	</array>
	<key>143162</key>
	<array>
	  <string>http://star.nibi.jp/ji/wink56/diary/images/060906101316.jpg</string>
	</array>
	<key>143161</key>
	<array>
	  <string>http://www.zakzak.co.jp/entertainment/ent-news/images/20110528/enn1105281445003-n1.jpg</string>
	</array>
	<key>143160</key>
	<array>
	  <string>http://news.nicovideo.jp/photo2/73196p.jpg</string>
	</array>
	<key>143159</key>
	<array>
	  <string>http://file.pinoko.jp/miku_pic201106/kandasayaka_web.jpg</string>
	</array>
	<key>143158</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/j/yamano_4111021576</string>
	</array>
	<key>143157</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/i/hmv_3997329</string>
	</array>
	<key>143156</key>
	<array>
	  <string>http://mainichi.jp/life/kirei/news/images/20110721mog00m200020000p_size5.jpg</string>
	</array>
	<key>143155</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/ams0364/imgs/7/6/7689edf8.jpg</string>
	</array>
	<key>143154</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/03/25/N0032583.jpg</string>
	</array>
	<key>143153</key>
	<array>
	  <string>http://blog.watanabepro.co.jp/showimg.php?src=http://blog.watanabepro.co.jp/abeasami//archives/mb/Image020.jpg&amp;amp;w=240</string>
	</array>
	<key>143152</key>
	<array>
	  <string>http://kandasayaka.img.jugem.jp/20110702_2132383.jpg</string>
	</array>
	<key>143151</key>
	<array>
	  <string>http://2.bp.blogspot.com/-G9r2cqxnRKc/TbKjqEjFntI/AAAAAAAACBQ/Qa34PSyl3Vw/s1600/%25E7%25A5%259E%25E7%2594%25B0%25E6%25B2%2599%25E4%25B9%259F%25E5%258A%25A0+-+LIBERTY.jpg</string>
	</array>
	<key>143149</key>
	<array>
	  <string>http://vsearch.c.yimg.jp/image?id=4b0fb67b4b50159b59b7424c7a75687b</string>
	</array>
	<key>143150</key>
	<array>
	  <string>http://wox.cc/user/wyrtyertye/o/20110201-153903.jpg</string>
	</array>
	<key>143148</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_gold/rdownload/img/610000000/album/20110420/al0000251956_large.jpg?_ex=128x128</string>
	</array>
	<key>143147</key>
	<array>
	  <string>http://www.asahi.com/showbiz/stage/spotlight/images/TKY200811170022.jpg</string>
	</array>
	<key>143146</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110422/gnj1104220506011-n1.jpg</string>
	</array>
	<key>143145</key>
	<array>
	  <string>http://blog.so-net.ne.jp/_images/blog/_dc4/tasirosayakanau/m_E7A59EE794B0E6B299E4B99FE58AA0.jpg</string>
	</array>
	<key>143144</key>
	<array>
	  <string>http://blog-imgs-32-origin.fc2.com/s/a/i/saintkid/ya5.jpg</string>
	</array>
	<key>143143</key>
	<array>
	  <string>http://www.livetaiwan.jp/news/newsc/img/b261222502a.jpg</string>
	</array>
	<key>143142</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/2011/08/13/20110813dog00m200024000c_250.jpg</string>
	</array>
	<key>143141</key>
	<array>
	  <string>http://www.daily.co.jp/gossip/article/b_03731696.jpg</string>
	</array>
	<key>143140</key>
	<array>
	  <string>http://proflist.jp/icon/index.php?url=http%3A%2F%2Fwww.h3.dion.ne.jp%2F~potipoti%2FLOVELOG_IMG%2FSAYAKA8DB996EB8D81.jpg&amp;amp;x=240</string>
	</array>
	<key>143139</key>
	<array>
	  <string>http://www.poke.co.jp/assets_c/2010/09/eventid_840_pic2_2-thumb-276x190-2989.jpg</string>
	</array>
	<key>143138</key>
	<array>
	  <string>http://blog.so-net.ne.jp/_images/blog/_996/yamazakiikuzaburou/m_E5B1B1E5B48EE882B2E4B889E9838E.jpg</string>
	</array>
	<key>143137</key>
	<array>
	  <string>http://yamazakiikuzaburou.blog.so-net.ne.jp/_images/blog/_996/yamazakiikuzaburou/E5B1B1E5B48EE882B2E4B889E9838E.jpg</string>
	</array>
	<key>143136</key>
	<array>
	  <string>http://stat.news.ameba.jp/news_images/20110130/14/e2/75/j/o040002480130sayaka.jpg</string>
	</array>
	<key>143135</key>
	<array>
	  <string>http://news.nicovideo.jp/photo2/73195p.jpg</string>
	</array>
	<key>143134</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090814/17/sayaka-kanda/52/9d/j/t02200391_0480085410232868063.jpg</string>
	</array>
	<key>143133</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000069199/301.jpg</string>
	</array>
	<key>143132</key>
	<array>
	  <string>http://eihokaku.com/blogimages/tabikkiri01.jpg</string>
	</array>
	<key>143131</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000070161/301.jpg</string>
	</array>
	<key>143130</key>
	<array>
	  <string>http://stat.news.ameba.jp/news_images/20110524/20/06/7f/j/o04500300org_20110524000901.jpg</string>
	</array>
	<key>143129</key>
	<array>
	  <string>http://219.94.194.237/image?mode=show_image&amp;amp;cb_image_id=32196&amp;amp;rand=839614b590d7ffb57f439557cbbe7bf0&amp;amp;w=100&amp;amp;h=</string>
	</array>
	<key>143128</key>
	<array>
	  <string>http://blog-imgs-40.fc2.com/w/o/r/work24/g060954l.jpg</string>
	</array>
	<key>143127</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20091230/12/sayaka-kanda/80/00/j/t02200293_0480064010358158089.jpg</string>
	</array>
	<key>143126</key>
	<array>
	  <string>http://livedoor.blogimg.jp/funs/imgs/8/8/88950973.jpg</string>
	</array>
	<key>143125</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100107/17/sayaka-kanda/11/ba/j/t02200293_0480064010367751283.jpg</string>
	</array>
	<key>143124</key>
	<array>
	  <string>http://data.ting3.com/spic/201007/586/01Jul2010113021ES22.jpg.big.jpg</string>
	</array>
	<key>143123</key>
	<array>
	  <string>http://kanndasayakaa.cocolog-nifty.com/photos/uncategorized/2011/04/15/photo.jpg</string>
	</array>
	<key>143122</key>
	<array>
	  <string>http://image.eiga.k-img.com/images/person/32936/264x.jpg?4184</string>
	</array>
	<key>143121</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090814/23/sayaka-kanda/19/cd/j/o0480085410233092283.jpg</string>
	</array>
	<key>143120</key>
	<array>
	  <string>http://rwhawrhawer.cocolog-nifty.com/photos/uncategorized/2007/09/07/1.jpg</string>
	</array>
	<key>143119</key>
	<array>
	  <string>http://blog-imgs-32-origin.fc2.com/s/a/i/saintkid/ya12.jpg</string>
	</array>
	<key>143118</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100107/21/sayaka-kanda/c6/71/j/o0480064010367996784.jpg</string>
	</array>
	<key>143117</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/02/86/N0028666.jpg</string>
	</array>
	<key>143116</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/news/20070206-2.jpg</string>
	</array>
	<key>143115</key>
	<array>
	  <string>http://proflist.jp/icon/index.php?url=http%3A%2F%2Ffile.toshi1444.blog.shinobi.jp%2Fhuman.jpg&amp;amp;x=240</string>
	</array>
	<key>143114</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/et-20110422-013-ns300.jpg</string>
	</array>
	<key>143113</key>
	<array>
	  <string>http://wakaweb.com/blog/wp-content/uploads/2007/08/sayablo.jpg</string>
	</array>
	<key>143112</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/416mXCqxLAL._SL160_.jpg</string>
	</array>
	<key>143111</key>
	<array>
	  <string>http://chin-ya.moe-nifty.com/photos/uncategorized/eversince.jpg</string>
	</array>
	<key>143110</key>
	<array>
	  <string>http://img3.woopie.jp/getdata.php?pid=1801e38q1f1c2</string>
	</array>
	<key>143109</key>
	<array>
	  <string>http://blog-imgs-27-origin.fc2.com/s/a/i/saintkid/ha3.jpg</string>
	</array>
	<key>143108</key>
	<array>
	  <string>http://image.rakuten.co.jp/tocopacific/cabinet/00841729/img56517510.jpg</string>
	</array>
	<key>143107</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_kplz37GteK1qzdkkno1_500.jpg</string>
	</array>
	<key>143106</key>
	<array>
	  <string>http://img.news.goo.ne.jp/talent/MW-W03-0276.jpg</string>
	</array>
	<key>143105</key>
	<array>
	  <string>http://honeybunch-00.img.jugem.jp/20090417_649856.jpg</string>
	</array>
	<key>143104</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/P2011052602403_sayaka-ns300.jpg</string>
	</array>
	<key>143103</key>
	<array>
	  <string>http://www.theater-forum.com/07p/midnight/img/705th31000705310010000121.jpg</string>
	</array>
	<key>143101</key>
	<array>
	  <string>http://blog-imgs-44-origin.fc2.com/1/0/0/100331/sayaka_485.jpg</string>
	</array>
	<key>143102</key>
	<array>
	  <string>http://blog-imgs-30-origin.fc2.com/s/a/i/saintkid/sayaka2.jpg</string>
	</array>
	<key>143100</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/2007_02/image/g2007022112seiko.jpg</string>
	</array>
	<key>143099</key>
	<array>
	  <string>http://www.tocopacific.co.jp/images/080627_03.jpg</string>
	</array>
	<key>143098</key>
	<array>
	  <string>http://stat.group.ameba.jp/group_images/20100507/09/02/5f/j/o01400140sayaka-kanda1273193738435.jpg</string>
	</array>
	<key>143096</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100320/23/sayaka-kanda/68/e2/j/o0480085410459793104.jpg</string>
	</array>
	<key>143097</key>
	<array>
	  <string>http://blog-imgs-37.fc2.com/a/n/a/anatet/Masuda-0626AW.jpg</string>
	</array>
	<key>143095</key>
	<array>
	  <string>http://www.asahicom.jp/showbiz/stage/theater/images/TKY201001220271.jpg</string>
	</array>
	<key>143094</key>
	<array>
	  <string>http://www.sankei.co.jp/enak/2007/nov/jpeg/05sayaka.jpg</string>
	</array>
	<key>143093</key>
	<array>
	  <string>http://www.news24.jp/entertainment/news/pictures/photo1_8079.jpg</string>
	</array>
	<key>143092</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200801/080111_japanese.sub2.jpg</string>
	</array>
	<key>143091</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100207/13/sayaka-kanda/06/ca/j/o0480064010404429053.jpg</string>
	</array>
	<key>143090</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/2006_09/image/g2006092214sayaka.jpg</string>
	</array>
	<key>143089</key>
	<array>
	  <string>http://justwannabe.com/blog/wp-content/uploads/2011/06/%E7%A5%9E%E7%94%B0%E6%B2%99%E4%B9%9F%E5%8A%A0-LIBERTY-115x115.jpg</string>
	</array>
	<key>143088</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20090915/00/sayaka-kanda/6b/cc/j/o0800106710253764579.jpg</string>
	</array>
	<key>143087</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20100604/00/9e/03/j/o048006801275580733640.jpg</string>
	</array>
	<key>143086</key>
	<array>
	  <string>http://123go.dothostpro.com/images/jp23/21.jpg</string>
	</array>
	<key>143085</key>
	<array>
	  <string>http://www.yomiuri.co.jp/entertainment/photo/ET20090708162209421L0.jpg</string>
	</array>
	<key>143084</key>
	<array>
	  <string>http://grannyrina.img.jugem.jp/20100811_50172.jpg</string>
	</array>
	<key>143083</key>
	<array>
	  <string>http://www.news24.jp/entertainment/news/pictures/photo1_6541.jpg</string>
	</array>
	<key>143082</key>
	<array>
	  <string>http://image.pia.jp/images/news/img/ORG_20090625000105.jpg</string>
	</array>
	<key>143081</key>
	<array>
	  <string>http://www.theaterguide.co.jp/theater_news/2007/06/img/22.jpg</string>
	</array>
	<key>143080</key>
	<array>
	  <string>http://www.mymeinv.com/uploads/allimg/090522/0637210.jpg</string>
	</array>
	<key>143079</key>
	<array>
	  <string>http://i.yimg.jp/images/image-search/noimage_500.png</string>
	</array>
	<key>143078</key>
	<array>
	  <string>http://image.pia.jp/images/news/img/ORG_20090625000108.jpg</string>
	</array>
	<key>143077</key>
	<array>
	  <string>http://blog-imgs-23-origin.fc2.com/g/a/z/gazoudaisuki/201001271132071ef.jpg</string>
	</array>
	<key>143076</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/49/5c/pink_tanpopo119/folder/972183/img_972183_19936011_0?1247279164</string>
	</array>
	<key>143075</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100317/14/sayaka-kanda/04/79/j/t02200391_0480085410455001412.jpg</string>
	</array>
	<key>143074</key>
	<array>
	  <string>http://img.hitolog.jp/resize/200x200/tdb/2000045162.jpg</string>
	</array>
	<key>143073</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/5/3/53e73_58_66472-2640.jpg</string>
	</array>
	<key>143072</key>
	<array>
	  <string>http://www.asahi.com/showbiz/stage/spotlight/images/OSK201009240060.jpg</string>
	</array>
	<key>143071</key>
	<array>
	  <string>http://blogc.fujitv.co.jp/simg/profile/28550/100311413/4630_pcl.jpg</string>
	</array>
	<key>143070</key>
	<array>
	  <string>http://www.zakzak.co.jp/entertainment/ent-news/images/20091019/enn0910191619013-n1.jpg</string>
	</array>
	<key>143069</key>
	<array>
	  <string>http://www.keshigomu.info/images/img_cast_kanda.jpg</string>
	</array>
	<key>143068</key>
	<array>
	  <string>http://talkingjapan.blog.ocn.ne.jp/photos/uncategorized/2009/06/24/tj112_kanda.jpg</string>
	</array>
	<key>143067</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100108/16/sayaka-kanda/41/3e/j/t02200293_0480064010368760716.jpg</string>
	</array>
	<key>143066</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/thumbnail/78386.jpg</string>
	</array>
	<key>143065</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_6c4/kandasayaka/m_E7A59EE794B0E6B299E4B99FE58AA002-74d37.jpg</string>
	</array>
	<key>143064</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100109/10/sayaka-kanda/27/86/j/t02200293_0480064010369597552.jpg</string>
	</array>
	<key>143063</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/f-et-081019-3302-ns.jpg</string>
	</array>
	<key>143062</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/07/20110716_nisei_19.jpg</string>
	</array>
	<key>143061</key>
	<array>
	  <string>http://livedoor.blogimg.jp/hagiwata/imgs/b/5/b5b0730c.jpg</string>
	</array>
	<key>143060</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090929/12/sayaka-kanda/13/f6/j/o0800106710263913737.jpg</string>
	</array>
	<key>143059</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/37/29/132acf687e9c019bc89df0e080c2ca15.jpg</string>
	</array>
	<key>143058</key>
	<array>
	  <string>http://bz1111.com/d/0/1/20/2006110805571121432.jpg</string>
	</array>
	<key>143057</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/28/0000974728/60/imgad2aea2dzik8zj.jpeg</string>
	</array>
	<key>143056</key>
	<array>
	  <string>http://image.rakuten.co.jp/tocopacific/cabinet/080627_01.jpg</string>
	</array>
	<key>143055</key>
	<array>
	  <string>http://www.news24.jp/entertainment/news/pictures/photo1_8689.jpg</string>
	</array>
	<key>143054</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_dc4/tasirosayakanau/E7A59EE794B0E6B299E4B99FE58AA0.jpg</string>
	</array>
	<key>143053</key>
	<array>
	  <string>http://i.yimg.jp/images/evt/weekly/special_den_o/movie_cast_p9.jpg</string>
	</array>
	<key>143052</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/b/8/b85a2_58_c7a6172ee89e063cd949c963777c6ace-m.jpg</string>
	</array>
	<key>143051</key>
	<array>
	  <string>http://vi1-2.vision.ameba.jp/jpg/2008/04/26/3fnwncrydob0x_2.jpg</string>
	</array>
	<key>143050</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090815/20/sayaka-kanda/34/bd/j/t02200391_0480085410233639770.jpg</string>
	</array>
	<key>143049</key>
	<array>
	  <string>http://www.asaikikaku.co.jp/mt-static/FileUpload/pics/sekinemari/Gokigenyo2.jpg</string>
	</array>
	<key>143048</key>
	<array>
	  <string>http://img.xiami.com/images/artist//12354566023371_2.jpg</string>
	</array>
	<key>143047</key>
	<array>
	  <string>http://www.sankei.co.jp/enak/2007/sep/jpeg/03music_sayaka02.jpg</string>
	</array>
	<key>143046</key>
	<array>
	  <string>http://fc.renasasamoto.jp/photos/uncategorized/2009/02/18/image0016_3.jpg</string>
	</array>
	<key>143045</key>
	<array>
	  <string>http://www.ddd-dance.com/special/%E5%AE%9F_DSC9839.jpg</string>
	</array>
	<key>143043</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/78386.jpg</string>
	</array>
	<key>143044</key>
	<array>
	  <string>http://www.kissport.or.jp/hureai/0906/img/photo_01.jpg</string>
	</array>
	<key>143042</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/4f/b2/jicho2724ech/folder/1389571/img_1389571_59884548_0?1246263134</string>
	</array>
	<key>143041</key>
	<array>
	  <string>http://kannda0907.cocolog-nifty.com/blog/images/2008/02/09/et0702072ns_2.jpg</string>
	</array>
	<key>143040</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090915/14/sayaka-kanda/ca/2a/j/o0800106710254021414.jpg</string>
	</array>
	<key>143039</key>
	<array>
	  <string>http://www.sankei.co.jp/enak/2007/sep/jpeg/03music_sayaka01.jpg</string>
	</array>
	<key>143038</key>
	<array>
	  <string>http://etheatrix01-eplus.up.seesaa.net/image/kanda.jpg</string>
	</array>
	<key>143037</key>
	<array>
	  <string>http://images.nipponcinema.com/tag/sayaka-kanda.jpg</string>
	</array>
	<key>143036</key>
	<array>
	  <string>http://www.h3.dion.ne.jp/~potipoti/LOVELOG_IMG/SAYAKA8DB996EB8D81.jpg</string>
	</array>
	<key>143035</key>
	<array>
	  <string>http://blog-imgs-26-origin.fc2.com/g/a/z/gazoudaisuki/20090420174142108.jpg</string>
	</array>
	<key>143034</key>
	<array>
	  <string>http://img02.ti-da.net/usr/lohaslove/kandasayakaokasan.jpg</string>
	</array>
	<key>143033</key>
	<array>
	  <string>http://fsm.vip2ch.com/-/hirame/hira032877.jpg</string>
	</array>
	<key>143032</key>
	<array>
	  <string>http://www.ikyu.com/magazine/cocolo/12/p3_3.jpg</string>
	</array>
	<key>143030</key>
	<array>
	  <string>http://hyoukin-zoku.up.seesaa.net/image/sayaka.jpg</string>
	</array>
	<key>143031</key>
	<array>
	  <string>http://www.fujitv.co.jp/events/photo/sta_miserables15_f_091120.jpg</string>
	</array>
	<key>143029</key>
	<array>
	  <string>http://info.p1.bindsite.jp/amebro-geinoujin/_src/sc802/90_93c8DB996E789C1.jpg</string>
	</array>
	<key>143028</key>
	<array>
	  <string>http://www.sanspo.com/geino/idol/ka/photo/kanda-sayaka.jpg</string>
	</array>
	<key>143027</key>
	<array>
	  <string>http://www.sayaka-kanda.net/images/prof_pic.jpg</string>
	</array>
	<key>143026</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090604/23/tinkpink-ayano/fa/ce/j/o0381028610191542347.jpg</string>
	</array>
	<key>143025</key>
	<array>
	  <string>http://hyoukin-zoku.up.seesaa.net/image/sayaka-2.jpg</string>
	</array>
	<key>143024</key>
	<array>
	  <string>http://file.toshi1444.blog.shinobi.jp/4377-1.jpg</string>
	</array>
	<key>143023</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/ef/93/10123682932.jpg</string>
	</array>
	<key>143022</key>
	<array>
	  <string>http://www.ikyu.com/magazine/cocolo/12/hd1.jpg</string>
	</array>
	<key>143021</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/1/7/17a1d_188_46677b4685df34425754fc054690d847.jpg</string>
	</array>
	<key>143020</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_c65/mahkun/gnj0901150503013-p1.jpg</string>
	</array>
	<key>143019</key>
	<array>
	  <string>http://blog-imgs-30-origin.fc2.com/s/a/i/saintkid/sayaka1.jpg</string>
	</array>
	<key>143018</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20091231/12/sayaka-kanda/e0/6d/j/t02200293_0480064010359322102.jpg</string>
	</array>
	<key>143017</key>
	<array>
	  <string>http://www.ikyu.com/magazine/cocolo/12/p1_2.jpg</string>
	</array>
	<key>143016</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/d/e/n/dentuu/index1seiko.jpg</string>
	</array>
	<key>143015</key>
	<array>
	  <string>http://blog-imgs-43.fc2.com/s/a/c/sachi0yo1kmtjo/MW-W03-0276.jpg</string>
	</array>
	<key>143014</key>
	<array>
	  <string>http://blog-imgs-12.fc2.com/1/0/2/10231023/10030358994_s.jpg</string>
	</array>
	<key>143013</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/s/j/2008-10-20/U3284P28T3D2212816F326DT20081020144459.jpg</string>
	</array>
	<key>143012</key>
	<array>
	  <string>http://file.toshi1444.blog.shinobi.jp/human.jpg</string>
	</array>
	<key>143010</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/119561.jpg</string>
	</array>
	<key>143011</key>
	<array>
	  <string>http://doraku.asahi.com/hito/interview/html/img/071015_img_1.jpg</string>
	</array>
	<key>143009</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/119562.jpg</string>
	</array>
	<key>143008</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100817/gnj1008170502000-p1.jpg</string>
	</array>
	<key>143007</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/119560.jpg</string>
	</array>
	<key>143006</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090311/18/sayaka-kanda/9a/b7/j/o0480085410151075990.jpg</string>
	</array>
	<key>143005</key>
	<array>
	  <string>http://www.h3.dion.ne.jp/%7Epotipoti/LOVELOG_IMG/SAYAKA8DB996EB8D81.jpg</string>
	</array>
	<key>143004</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110111/83789_201101110481966001294726280c.jpg</string>
	</array>
	<key>143003</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090320/01/sayaka-kanda/a4/d0/j/o0480085410154529061.jpg</string>
	</array>
	<key>143002</key>
	<array>
	  <string>http://www.sankei.co.jp/enak/2007/sep/jpeg/03music_sayaka02.jpg</string>
	</array>
	<key>143001</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101107/15/sayaka-kanda/f9/d7/j/o0480085410845474116.jpg</string>
	</array>
	<key>143000</key>
	<array>
	  <string>http://www.sankei.co.jp/enak/2007/sep/jpeg/03music_sayaka01.jpg</string>
	</array>
	<key>142999</key>
	<array>
	  <string>http://www.ikyu.com/magazine/cocolo/12/p3_1.jpg</string>
	</array>
	<key>142998</key>
	<array>
	  <string>http://www.sponichi.co.jp/entertainment/flash/images/KFullFlash20100816055_l.jpg</string>
	</array>
	<key>142997</key>
	<array>
	  <string>http://www.ikyu.com/magazine/cocolo/12/p2_2.jpg</string>
	</array>
	<key>142996</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200801/080111_japanese.sub2.jpg</string>
	</array>
	<key>142995</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110130/84335_201101300222441001296385771c.jpg</string>
	</array>
	<key>142994</key>
	<array>
	  <string>http://www.sayaka-kanda.net/imgs/prof_pic.jpg</string>
	</array>
	<key>142993</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/f1/07/10147341033.jpg</string>
	</array>
	<key>142992</key>
	<array>
	  <string>http://www.kitakyushu-performingartscenter.or.jp/event/2008/images/0607_sayaka.jpg</string>
	</array>
	<key>142991</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090406/15/sayaka-kanda/98/ba/j/o0480085410162244254.jpg</string>
	</array>
	<key>142990</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110413/86613_201104130153237001302688161c.jpg</string>
	</array>
	<key>142989</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/2f/2e/10141380593.jpg</string>
	</array>
	<key>142988</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20080426/54107_200804260316347001209210897c.jpg</string>
	</array>
	<key>142986</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/02/99/N0029956_l.jpg</string>
	</array>
	<key>142987</key>
	<array>
	  <string>http://www.geocities.jp/ninjintei/onetyan/image3734.jpg</string>
	</array>
	<key>142985</key>
	<array>
	  <string>http://www.oricon.co.jp/upimg/news/20090708/67521_200907080182565001247031487c.jpg</string>
	</array>
	<key>142984</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090407/18/sayaka-kanda/17/82/j/o0480085410162779743.jpg</string>
	</array>
	<key>142983</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090305/00/sayaka-kanda/0c/dc/j/o0480085410148459211.jpg</string>
	</array>
	<key>142982</key>
	<array>
	  <string>http://www.sanspo.com/geino/idol/ka/photo/kanda-sayaka.jpg</string>
	</array>
	<key>142981</key>
	<array>
	  <string>http://image.pia.jp/images/news/img/ORG_20091027000401.jpg</string>
	</array>
	<key>142980</key>
	<array>
	  <string>http://www.ikyu.com/magazine/cocolo/12/p2_3.jpg</string>
	</array>
	<key>142979</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100816/79093_201008160363845001281934053c.jpg</string>
	</array>
	<key>142978</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110413/86613_201104130162488001302688161c.jpg</string>
	</array>
	<key>142977</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20070529/45010_1.JPG</string>
	</array>
	<key>142976</key>
	<array>
	  <string>http://www.geocities.jp/ninjintei/onetyan/image3732.jpg</string>
	</array>
	<key>142975</key>
	<array>
	  <string>http://doraku.asahi.com/hito/interview/html/img/071015_img_1.jpg</string>
	</array>
	<key>142974</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100528/14/sayaka-kanda/ef/fb/j/o0800060010562964425.jpg</string>
	</array>
	<key>142973</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101027/11/sayaka-kanda/37/8a/j/o0480085410824291454.jpg</string>
	</array>
	<key>142972</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20081004/58717_200810040022353001223092322c.jpg</string>
	</array>
	<key>142971</key>
	<array>
	  <string>http://www.ikyu.com/magazine/cocolo/12/p4_3.jpg</string>
	</array>
	<key>142970</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100205/17/sayaka-kanda/37/70/j/o0480064010402095012.jpg</string>
	</array>
	<key>142969</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/1e/d6/10059020600.jpg</string>
	</array>
	<key>142968</key>
	<array>
	  <string>http://www.geocities.jp/ninjintei/onetyan/image3689.jpg</string>
	</array>
	<key>142967</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20090806/68246_200908060089172001249552100c.jpg</string>
	</array>
	<key>142966</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101109/19/sayaka-kanda/b7/e9/j/o0480085410849709276.jpg</string>
	</array>
	<key>142965</key>
	<array>
	  <string>http://www.sayaka-kanda.net/images/prof_pic.jpg</string>
	</array>
</dict>
</plist>
