<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>19601</key>
	<array>
	  <string>http://data.ifensi.com/star/starphoto/0/1/14/1476/1476_big.jpg</string>
	</array>
	<key>19602</key>
	<array>
	  <string>http://www.chuanwen.com.cn/picture/1001469/6749/20071210131638988.gif</string>
	</array>
	<key>19603</key>
	<array>
	  <string>http://www.sznews.com/ent/images/attachement/jpg/site3/20081224/0014224750740abbcc0227.jpg</string>
	</array>
	<key>19604</key>
	<array>
	  <string>http://data.yule.sohu.com/star/pic/star/1/1488/default.jpg</string>
	</array>
	<key>19605</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2009/03/13/qlyl09031305.jpg</string>
	</array>
	<key>19606</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/2007/08/101717_200708061459392.jpg</string>
	</array>
	<key>19607</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/04/003618705547.jpg</string>
	</array>
	<key>19608</key>
	<array>
	  <string>http://www.moorburn.com/oto/d/901-1/382e19ec-6909-42db-a8f3-f942952ce913.jpg</string>
	</array>
	<key>19609</key>
	<array>
	  <string>http://img.sdchina.com/news/20090830/c01_20090830094903470500.jpg</string>
	</array>
	<key>19610</key>
	<array>
	  <string>http://newpic.jxnews.com.cn/0/11/16/39/11163902_382721.jpg</string>
	</array>
	<key>19611</key>
	<array>
	  <string>http://www.qikuqi.com/uploads/allimg/090409/1419010.jpg</string>
	</array>
	<key>19612</key>
	<array>
	  <string>http://www.luojia.net/uploadfile/meinv/uploadfile/201010/20101015113024168.jpg</string>
	</array>
	<key>19613</key>
	<array>
	  <string>http://news.nen.com.cn/imagelist/09/45/7o1k8304hg05.jpg</string>
	</array>
	<key>19615</key>
	<array>
	  <string>http://www.huanqiu.com/attachment/080428/da1c77935c.jpg</string>
	</array>
	<key>19616</key>
	<array>
	  <string>http://ent.cctv.com/20080320/images/1206000060937_601150019_1.jpg</string>
	</array>
	<key>19617</key>
	<array>
	  <string>http://p.yoho.cn/6262541.jpg</string>
	</array>
	<key>19618</key>
	<array>
	  <string>http://mingxing.dabaoku.com/gangtainv/zhaoyazhi/009ai.jpg</string>
	</array>
	<key>19619</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2007/08/14/yljj20078134ryuyt.jpg</string>
	</array>
	<key>19620</key>
	<array>
	  <string>http://www.lady8844.com/h003/h95/img200901211359170.jpg</string>
	</array>
	<key>19621</key>
	<array>
	  <string>http://www.meili.cn/UploadFiles/beauty/2009/3/200903201040122652.jpg</string>
	</array>
	<key>19622</key>
	<array>
	  <string>http://www.cnnb.com.cn/pic/0/00/55/21/552129_930757.jpg</string>
	</array>
	<key>19623</key>
	<array>
	  <string>http://upload.konggu.net/image/200908/20090812000829453.jpg</string>
	</array>
	<key>19624</key>
	<array>
	  <string>http://img155.poco.cn/mypoco/myphoto/20091014/20/20091014202129_2258909857.jpg</string>
	</array>
	<key>19625</key>
	<array>
	  <string>http://photocdn.sohu.com/20081103/Img260396499.jpg</string>
	</array>
	<key>19626</key>
	<array>
	  <string>http://cimg2.163.com/lady/2007/11/1/20071101112441929bc.jpg</string>
	</array>
	<key>19627</key>
	<array>
	  <string>http://photo.store.qq.com/http_imgload.cgi?/rurl2=c6963b233e817b0b367728e439d5dbb10d0c2bf6e4335e3aa416d155ebfaaa03b1af989dc28a259bfa2b59028999d8087f8d02a7ecf2f895588816fb9b01c2f19a46cbb61f8560d417c8006c74914088fb4a0fd9</string>
	</array>
	<key>19628</key>
	<array>
	  <string>http://www.hanliumm.cn/upimg/allimg/081021/1441070.jpg</string>
	</array>
	<key>19629</key>
	<array>
	  <string>http://fashion.cqnews.net/cq/200906/W020090601467665214626.jpg</string>
	</array>
	<key>19630</key>
	<array>
	  <string>http://images.jrj.com.cn/2008/12/20081230094448070.jpg</string>
	</array>
	<key>19631</key>
	<array>
	  <string>http://www.zhaoyazhi.org/UploadFiles/2008/07/200807291906489715.jpg</string>
	</array>
	<key>19632</key>
	<array>
	  <string>http://b16.photo.store.qq.com/http_imgload.cgi?/rurl4_b=6aac2de7b51fe9fabeee640f391adb72a819b6f8c64315cbab92ae3011d1b0bf0aec6fdd90d2bbdbb28b1341a08eef8cdb224e46fdda7e2238d228580346278630f2407d6d8f7059285eb6de46ec5b827d998371</string>
	</array>
	<key>19633</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2007/03/23/em070322051.jpg</string>
	</array>
	<key>19634</key>
	<array>
	  <string>http://img.9eye.cn/artist/4748.jpg</string>
	</array>
	<key>19635</key>
	<array>
	  <string>http://img.article.onlylady.com/00/03/16/35/U1978P28T3D1985035F326DT20080413195145.jpg</string>
	</array>
	<key>19636</key>
	<array>
	  <string>http://www.beelink.com/20090120/pl09012002.jpg</string>
	</array>
	<key>19637</key>
	<array>
	  <string>http://img.ifeng.com/res/200801/0117_297908.jpg</string>
	</array>
	<key>19638</key>
	<array>
	  <string>http://photocdn.sohu.com/20081103/Img260396501.jpg</string>
	</array>
	<key>19639</key>
	<array>
	  <string>http://www.hb.xinhuanet.com/photo/2009-01/21/xin_5330106211629703306221.jpg</string>
	</array>
	<key>19640</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/04/034110767111.jpg</string>
	</array>
	<key>19641</key>
	<array>
	  <string>http://star.1ting.com/Picture/2275/5100/91981_2.jpg</string>
	</array>
	<key>19642</key>
	<array>
	  <string>http://cimg2.163.com/ent/2007/8/20/2007082010441465f5f.jpg</string>
	</array>
	<key>19643</key>
	<array>
	  <string>http://www.ejfeng.com/pic/images/2008/0202/1201934651691/1.jpg</string>
	</array>
	<key>19644</key>
	<array>
	  <string>http://news.brandcn.com/UploadFiles_9359/200809/20080924153939597.jpg</string>
	</array>
	<key>19645</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/2006-04-27/U1527P28T3D1066559F328DT20060427094819.jpg</string>
	</array>
	<key>19646</key>
	<array>
	  <string>http://www.gog.com.cn/pic/0/10/18/49/10184999_920811.jpg</string>
	</array>
	<key>19647</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090408/0Q634314C3_small.jpg</string>
	</array>
	<key>19648</key>
	<array>
	  <string>http://www.huanbohainews.com.cn/pic/0/10/32/77/10327753_932030.jpg</string>
	</array>
	<key>19649</key>
	<array>
	  <string>http://photocdn.sohu.com/20081210/Img261117683.jpg</string>
	</array>
	<key>19650</key>
	<array>
	  <string>http://www.cnr.cn/zgsp/wyrd/200910/W020091016380456840300.jpg</string>
	</array>
	<key>19651</key>
	<array>
	  <string>http://ent.cctv.com/20090719/images/1247965918216_1247962692372_109868.jpg</string>
	</array>
	<key>19652</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2009/05/06/E09050617.jpg</string>
	</array>
	<key>19653</key>
	<array>
	  <string>http://www.zjol.com.cn/pic/0/02/31/62/2316213_011286.jpg</string>
	</array>
	<key>19654</key>
	<array>
	  <string>http://www.hbjjrb.com/Jiaju/UploadFiles_7273/200903/20090313155313116.jpg</string>
	</array>
	<key>19655</key>
	<array>
	  <string>http://www.xymxjj.com/admin/products_pic/2010102219151350061.jpg</string>
	</array>
	<key>19656</key>
	<array>
	  <string>http://cimg2.163.com/lady/2007/6/15/20070615140752b4d62.jpg</string>
	</array>
	<key>19657</key>
	<array>
	  <string>http://www.sxjzwb.com/shh/UploadFiles_5980/200806/20080621104100566.jpg</string>
	</array>
	<key>19658</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/2006-04-27/U1527P28T3D1066559F329DT20060427094819.jpg</string>
	</array>
	<key>19659</key>
	<array>
	  <string>http://www.meizhuang5.com/uploads/allimg/110313/211A21019-0.jpg</string>
	</array>
	<key>19660</key>
	<array>
	  <string>http://www.sznews.com/ent/images/attachement/jpg/site3/20080729/00142247507409f8a7840d.jpg</string>
	</array>
	<key>19661</key>
	<array>
	  <string>http://photocdn.sohu.com/20081210/Img261117684.jpg</string>
	</array>
	<key>19662</key>
	<array>
	  <string>http://www.17mr.org/up_files/image/Article/2009/03/03/84313662.jpg</string>
	</array>
	<key>19663</key>
	<array>
	  <string>http://www.gxdfzx.com/uploadfile/2009-11/34763238392.jpg</string>
	</array>
	<key>19664</key>
	<array>
	  <string>http://hnimg.focus.cn/upload/photos/270595/dtXxxIve.jpg</string>
	</array>
	<key>19665</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200901/29/12/622196467946539896.jpg</string>
	</array>
	<key>19666</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2008/11/21/ea081121021.jpg</string>
	</array>
	<key>19667</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/U1358P28T3D2085818F326DT20080703092439.jpg</string>
	</array>
	<key>19668</key>
	<array>
	  <string>http://img.blog.163.com/photo/MBclpi013wgGtqOU7l7k2Q==/443604563296781197.jpg</string>
	</array>
	<key>19669</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1804f43qbec2b</string>
	</array>
	<key>19670</key>
	<array>
	  <string>http://photo.sohu.com/20/57/Img213985720.jpg</string>
	</array>
	<key>19671</key>
	<array>
	  <string>http://msn.ent.ynet.com/img.db?41932009+s(400)</string>
	</array>
	<key>19672</key>
	<array>
	  <string>http://pic.newssc.org/0/10/24/79/10247958_469050.jpg</string>
	</array>
	<key>19673</key>
	<array>
	  <string>http://oepic.oeeee.com/200904/30/37/5016321627526880365.jpg</string>
	</array>
	<key>19674</key>
	<array>
	  <string>http://image.rayli.com.cn/0003/2009-04-01/images/20094113915624.jpg</string>
	</array>
	<key>19675</key>
	<array>
	  <string>http://www.gg88.com/a001/Wallpapers/F001W/G0914/6_GG88_COM.jpg</string>
	</array>
	<key>19676</key>
	<array>
	  <string>http://www.jxgdw.com/jxgd/lady/mlmt/hf/images/00136714.jpg</string>
	</array>
	<key>19677</key>
	<array>
	  <string>http://cimg2.163.com/lady/2006/4/18/20060418153733f2325.jpg</string>
	</array>
	<key>19678</key>
	<array>
	  <string>http://www.stnn.cc/ent_focus/200811/W020081124515728289067.jpg</string>
	</array>
	<key>19679</key>
	<array>
	  <string>http://www.nfdaily.cn/ent/vision_era/content/images/attachement/jpg/site88/20080728/001bb9d8875409f7bd0a3b.jpg</string>
	</array>
	<key>19680</key>
	<array>
	  <string>http://www.hb.xinhuanet.com/photo/2008-07/28/xinsrc_573070528165887551052.jpg</string>
	</array>
	<key>19681</key>
	<array>
	  <string>http://space.hunantv.com/attachments/2009/03/24/810086_200903241050261nZaW.jpg</string>
	</array>
	<key>19682</key>
	<array>
	  <string>http://pic.jxnews.com.cn/0/02/37/21/2372113_998210.jpg</string>
	</array>
	<key>19683</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/s/p/2009-07-19/U1584P28T3D2616615F346DT20090719134548.jpg</string>
	</array>
	<key>19684</key>
	<array>
	  <string>http://pic.jxnews.com.cn/0/02/37/21/2372114_489018.jpg</string>
	</array>
	<key>19685</key>
	<array>
	  <string>http://img.blog.163.com/photo/5LwFk34X2THSXD78X1348A==/922112023704564260.jpg</string>
	</array>
	<key>19686</key>
	<array>
	  <string>http://www.southcn.com/ent/celeb3/zhaoyazhi/gallery3/200505110685_1010373.jpg</string>
	</array>
	<key>19687</key>
	<array>
	  <string>http://images.xooob.com/20090523/1247387865435.jpg</string>
	</array>
	<key>19688</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/11/4/1104_483736.jpg</string>
	</array>
	<key>19689</key>
	<array>
	  <string>http://idoimg.3mt.com.cn/Article/upload/200711/071123173865530.jpg</string>
	</array>
	<key>19690</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/10/16/gaoge/1255660989349_34248.jpg</string>
	</array>
	<key>19691</key>
	<array>
	  <string>http://img109.icxo.com/20093/20093104911.jpg</string>
	</array>
	<key>19692</key>
	<array>
	  <string>http://www.luckup.net/upload/2009-01/09012010135965.jpg</string>
	</array>
	<key>19693</key>
	<array>
	  <string>http://space.hunantv.com/attachments/2009/01/21/857657_200901211009093cidO.jpg</string>
	</array>
	<key>19694</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/13/2539416_9052.jpg</string>
	</array>
	<key>19695</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1801015q10e311</string>
	</array>
	<key>19696</key>
	<array>
	  <string>http://news.xinhuanet.com/gangao/2008-07/23/xinsrc_5720705230936546130794.jpg</string>
	</array>
	<key>19697</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2007-01/31/xin_572010431084431210571.jpg</string>
	</array>
	<key>19698</key>
	<array>
	  <string>http://news.sosol.com.cn/news/html/shtml/NewsImage/20080310/20080310104119205.jpg</string>
	</array>
	<key>19699</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/7/28/Img258416532.jpg</string>
	</array>
	<key>19700</key>
	<array>
	  <string>http://imgs.soufun.com/news/2010_12/14/home/1292291539351_000.jpg</string>
	</array>
	<key>19701</key>
	<array>
	  <string>http://images.xooob.com/20090319/1238035359149.jpg</string>
	</array>
	<key>19702</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200709/20070926093824804.jpg</string>
	</array>
	<key>19703</key>
	<array>
	  <string>http://pic3.nipic.com/20090511/1562745_003006646_2.jpg</string>
	</array>
	<key>19704</key>
	<array>
	  <string>http://photocdn.sohu.com/20090410/Img263313359.jpg</string>
	</array>
	<key>19705</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1f02c8qb7a25</string>
	</array>
	<key>19706</key>
	<array>
	  <string>http://www.xixik.com/info/02/194/12f63aa9f080d3d4.jpg</string>
	</array>
	<key>19707</key>
	<array>
	  <string>http://space.10jqka.com.cn/outer/news.xinhuanet.com/photo/2010-07/20/12352765_1261n.jpg</string>
	</array>
	<key>19708</key>
	<array>
	  <string>http://photocdn.sohu.com/20081103/Img260396502.jpg</string>
	</array>
	<key>19709</key>
	<array>
	  <string>http://sh.fangqq.com/UserFiles/Image/2009-08-14/1207880122118_000.jpg</string>
	</array>
	<key>19710</key>
	<array>
	  <string>http://img.article.onlylady.com/00/07/12/68/01.jpg</string>
	</array>
	<key>19711</key>
	<array>
	  <string>http://oepic.oeeee.com/200809/20/74/129560373864198174.jpg</string>
	</array>
	<key>19712</key>
	<array>
	  <string>http://life.people.com.cn/mediafile/200509/19/F2005091914113335100000.jpg</string>
	</array>
	<key>19713</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2007-06/14/xinsrc_2820604140804921678227.jpg</string>
	</array>
	<key>19714</key>
	<array>
	  <string>http://www.ccun.cn/Information/res/img/2010/9/14/img201091401344437.jpg</string>
	</array>
	<key>19715</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/04/003618579519.jpg</string>
	</array>
	<key>19716</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2009/01/035329364019.jpg</string>
	</array>
	<key>19717</key>
	<array>
	  <string>http://www.mingxing.com/upload/forumDownloadImg/201008/df41583a8e1a859e37f894128c7a97de.jpg</string>
	</array>
	<key>19718</key>
	<array>
	  <string>http://www.5dof.cn/uploads/allimg/090309/1Z6222296-1.jpg</string>
	</array>
	<key>19719</key>
	<array>
	  <string>http://www.wears.com.cn/upimg/allimg/090406/1536510.jpg</string>
	</array>
	<key>19720</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090719/1Z92T94036_small.jpg</string>
	</array>
	<key>19721</key>
	<array>
	  <string>http://ent.cctv.com/20090531/images/1243727473062_fc133e4e45.jpg</string>
	</array>
	<key>19722</key>
	<array>
	  <string>http://www.zhaoyazhi.org/UploadFiles/2008/01/200801280642208218.jpg</string>
	</array>
	<key>19723</key>
	<array>
	  <string>http://blog.china-b.com/Editor/upload/2009420131038421.jpg</string>
	</array>
	<key>19724</key>
	<array>
	  <string>http://images.star.mop.com/8gua/exposure/2008-08-28/16_3_107862_101_261_20080828102021.jpg</string>
	</array>
	<key>19725</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20090830/images/01592871.jpg</string>
	</array>
	<key>19726</key>
	<array>
	  <string>http://www.dahe.cn/xwzx/yl/W020050428303619688990.JPG</string>
	</array>
	<key>19727</key>
	<array>
	  <string>http://www.southcn.com/ent/celeb3/zhaoyazhi/gallery3/200505110684_1010375.jpg</string>
	</array>
	<key>19728</key>
	<array>
	  <string>http://img.ivsky.com/img/bizhi/img/201102/18/zhaoyazhi-010.jpg</string>
	</array>
	<key>19729</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2007-11/02/xin_4321104021034562802113.jpg</string>
	</array>
	<key>19730</key>
	<array>
	  <string>http://www.shxb.net/newspic/20091016/84.jpg</string>
	</array>
	<key>19731</key>
	<array>
	  <string>http://img.my.tv.cctv.com/attachments/2009/03/786269_200903190201581.jpg</string>
	</array>
	<key>19732</key>
	<array>
	  <string>http://kw2007.com.cn/upload/press/fe/fe31dacdcb584138b7b596cbeddce20d/5ff7cf50bc02447cb9b4ce10de0f9d9f.jpg</string>
	</array>
	<key>19733</key>
	<array>
	  <string>http://pic.chinasspp.com/News/pic/2007928164717876.jpg</string>
	</array>
	<key>19734</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20090830/images/01592870.jpg</string>
	</array>
	<key>19735</key>
	<array>
	  <string>http://pic4.nipic.com/20091212/1951702_001256846699_2.jpg</string>
	</array>
	<key>19736</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200901/2009012017391851.jpg</string>
	</array>
	<key>19737</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200901/29/33/9560220990269846809.jpg</string>
	</array>
	<key>19738</key>
	<array>
	  <string>http://images.xooob.com/20086162/2008616212527516.jpg</string>
	</array>
	<key>19739</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2005/07/20/em050720018.jpg</string>
	</array>
	<key>19740</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/11/114518592458.jpg</string>
	</array>
	<key>19741</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100209/23/556631/fd/6b/j/t02200178_0500040410407905993.jpg</string>
	</array>
	<key>19742</key>
	<array>
	  <string>http://fun.china.com/zh_cn/star/xiezhen/11051887/20090107/images/2009010710290379004000.jpg</string>
	</array>
	<key>19743</key>
	<array>
	  <string>http://news.sxxl.com/uploads/2009/0504/20090504152705-9597.jpg</string>
	</array>
	<key>19744</key>
	<array>
	  <string>http://cimg2.163.com/catchpic/3/3B/3BE787F4030A28C9525F10B4C2062FBE.jpg</string>
	</array>
	<key>19745</key>
	<array>
	  <string>http://www.fjsen.com/images/attachement/jpg/site2/20090312/00219b6755ad0b22f7595f.jpg</string>
	</array>
	<key>19746</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2009/01/31/eo090131981.jpg</string>
	</array>
	<key>19747</key>
	<array>
	  <string>http://images3.icxo.com/20092/2009218053510~.jpg</string>
	</array>
	<key>19748</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200811/17/93/18349422647053122153.jpg</string>
	</array>
	<key>19749</key>
	<array>
	  <string>http://www.zynews.com/images/2009-10/02/xin_1210060216206727752114.jpg</string>
	</array>
	<key>19750</key>
	<array>
	  <string>http://www.qinbei.com/uploadfile/2011/0311/20110311031908286.jpg</string>
	</array>
	<key>19751</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2005/07/11/em050711154.jpg</string>
	</array>
	<key>19752</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100209/23/556631/5a/20/j/o0377031510407904664.jpg</string>
	</array>
	<key>19753</key>
	<array>
	  <string>http://photo.sohu.com/35/57/Img213985735.jpg</string>
	</array>
	<key>19754</key>
	<array>
	  <string>http://pub.bcbay.com/upload_files/20081104180652.jpg</string>
	</array>
	<key>19755</key>
	<array>
	  <string>http://img3.pclady.com.cn/pclady/0903/03/372225_200960114838143.jpg</string>
	</array>
	<key>19756</key>
	<array>
	  <string>http://view.gzonline.net/image/2009/200903/20090312/20090312143232_41613.jpg</string>
	</array>
	<key>19757</key>
	<array>
	  <string>http://www.zhaoyazhi.org/UploadFiles/2009/03/200903071902323826.jpg</string>
	</array>
	<key>19758</key>
	<array>
	  <string>http://pic2.nipic.com/20090414/1562745_011750303_2.jpg</string>
	</array>
	<key>19759</key>
	<array>
	  <string>http://www.smmeirong.com/userfiles/image/caizhuang/huazhuang/200901/s3532afe.jpg</string>
	</array>
	<key>19760</key>
	<array>
	  <string>http://ent.cqnews.net/ylove/200907/W020090708561023262245.jpg</string>
	</array>
	<key>19761</key>
	<array>
	  <string>http://www.huanbohainews.com.cn/pic/0/10/08/73/10087398_029120.jpg</string>
	</array>
	<key>19762</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200901/20/89/2543640929192041773.jpg</string>
	</array>
	<key>19763</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200811/20081117093345160.jpg</string>
	</array>
	<key>19764</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090719/1Z92Z33130_small.jpg</string>
	</array>
	<key>19765</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/x/2006-05-15/5e25149b84d7a4b2cfc0efea2513aea5.jpg</string>
	</array>
	<key>19766</key>
	<array>
	  <string>http://pic.newssc.org/0/11/37/51/11375191_712702.jpg</string>
	</array>
	<key>19767</key>
	<array>
	  <string>http://img.soufun.com/news/2008_04/28/1209353627595.jpg</string>
	</array>
	<key>19768</key>
	<array>
	  <string>http://images.xooob.com/20081233/1230900947328.jpg</string>
	</array>
	<key>19769</key>
	<array>
	  <string>http://news.yule.com.cn/html/UploadPic/2009-10/2009101710301486725.jpg</string>
	</array>
	<key>19770</key>
	<array>
	  <string>http://sh.sinaimg.cn/2009/0813/2009813135317.jpg</string>
	</array>
	<key>19771</key>
	<array>
	  <string>http://img.zyu8.com/newspic/2008/09/12/1150564211.jpg</string>
	</array>
	<key>19772</key>
	<array>
	  <string>http://himg2.huanqiu.com/attachment/080718/2c8fea17b3.jpg</string>
	</array>
	<key>19773</key>
	<array>
	  <string>http://www.chachaba.com/news/uploads/101213/22_101355_1.jpg</string>
	</array>
	<key>19774</key>
	<array>
	  <string>http://image.jmrb.com/UploadImages/2008/03/09/imagesNT_20080309_103334_59595.jpg</string>
	</array>
	<key>19775</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20070819/images/01048074.jpg</string>
	</array>
	<key>19776</key>
	<array>
	  <string>http://i1.360quan.cn/b368dwjga/album.static/f0/f2/e9/f0f2e90a649438a7bdae27790563e08b.jpg</string>
	</array>
	<key>19777</key>
	<array>
	  <string>http://www.tu888.cn/guoneinvxing/zhaoyazhi/zyzd68.jpg</string>
	</array>
	<key>19778</key>
	<array>
	  <string>http://img2.yxlady.com/beautify/UploadFiles_3551/200712/20071220142737846.jpg</string>
	</array>
	<key>19779</key>
	<array>
	  <string>http://www.fjsen.com/images/attachement/jpg/site2/20090312/00219b6755ad0b22f76961.jpg</string>
	</array>
	<key>19780</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/s/h/p/2008-06-24/U2519P28T3D2073007F326DT20080624130118.jpg</string>
	</array>
	<key>19781</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/01/03/47/1034715_999049.jpg</string>
	</array>
	<key>19782</key>
	<array>
	  <string>http://img9.zol.com.cn/desk_pic/big_381/380614.jpg</string>
	</array>
	<key>19783</key>
	<array>
	  <string>http://oepic.oeeee.com/200905/01/87/9617306851902771811.jpg</string>
	</array>
	<key>19784</key>
	<array>
	  <string>http://www.showsee.cn/img/%E8%B5%B5%E9%9B%85%E8%8A%9D.jpg</string>
	</array>
	<key>19785</key>
	<array>
	  <string>http://i02.c.aliimg.com/blog/upload/2008/06/11/077781589d83a0a34438e2ebe4575eec.jpg</string>
	</array>
	<key>19786</key>
	<array>
	  <string>http://www.cnwnews.com/uploads/allimg/090117/1545070.jpg</string>
	</array>
	<key>19787</key>
	<array>
	  <string>http://g4.ykimg.com/0100641F464D62229BA68A013970890A290EEB-4838-6C8C-CB1C-D2CB150DEC38</string>
	</array>
	<key>19788</key>
	<array>
	  <string>http://photocdn.sohu.com/20080111/Img254598327.jpg</string>
	</array>
	<key>19789</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/11/4/1104_483740.jpg</string>
	</array>
	<key>19790</key>
	<array>
	  <string>http://www.52dapei.com/Article/UploadFiles/200908/20090830214257319.jpg</string>
	</array>
	<key>19791</key>
	<array>
	  <string>http://images.xooob.com/20109813/20109813132768.jpg</string>
	</array>
	<key>19792</key>
	<array>
	  <string>http://news.xinhuanet.com/audio/2008-03/10/xinsrc_4020305100858671278728.jpg</string>
	</array>
	<key>19793</key>
	<array>
	  <string>http://www.sooxue.com/xiaoyuan/UploadFiles_8816/200904/20090415094555813.jpg</string>
	</array>
	<key>19794</key>
	<array>
	  <string>http://image.aliyiyao.com/upfiles/Image/2008/09/24/02dba051-11ec-4ff5-a2d7-65851f120fbf.jpg</string>
	</array>
	<key>19795</key>
	<array>
	  <string>http://mall.southcn.com/UploadFiles/MR/2008/7/200807241020376628.jpg</string>
	</array>
	<key>19796</key>
	<array>
	  <string>http://www.gg88.com/a001/Wallpapers/F001W/G0914/5_GG88_COM.jpg</string>
	</array>
	<key>19797</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/h/2005-04-27/U487P28T3D713359F328DT20050427211613.JPG</string>
	</array>
	<key>19798</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200907/19/F200907190956012458615040.jpg</string>
	</array>
	<key>19799</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2006/12/05/ylzfc2006120500011.jpg</string>
	</array>
	<key>19800</key>
	<array>
	  <string>http://img.blog.cctv.com/attachments/2009/01/895805_200901231116001.jpg</string>
	</array>
</array>
</plist>
