<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>60042</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/23/fb/96/pool-bar.jpg</string>
	</array>
	<key>60043</key>
	<array>
	  <string>http://brandon.fuller.name/photos/2004/2004-11-23--Pool_Bar.jpg</string>
	</array>
	<key>60044</key>
	<array>
	  <string>http://www.indianholiday.com/images/photo-gallery/goa/kenilworth-beach-resort/swimming-pool-bar1.jpg</string>
	</array>
	<key>60045</key>
	<array>
	  <string>http://www.pattayaphotoguide.com/files/images/IMG_5634.JPG</string>
	</array>
	<key>60046</key>
	<array>
	  <string>http://www.pookbar.com/images/soi_buakau_bar_photo_ladyboys.jpg</string>
	</array>
	<key>60047</key>
	<array>
	  <string>http://www.startspace.com/paginas/holidaypattaya/pook-lady-boy-bar.jpg</string>
	</array>
	<key>60048</key>
	<array>
	  <string>http://www.shangri-la.com/uploadedImages/property/Muscat_(Barr_Al_Jissah)/dining/restaurants/pool_bars.jpg</string>
	</array>
	<key>60049</key>
	<array>
	  <string>http://www.pattaya-nightclubs.com/images/Pook_6_Up.jpg</string>
	</array>
	<key>60050</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=160383dq10dc43</string>
	</array>
	<key>60051</key>
	<array>
	  <string>http://www.leadersmag.com/issues/2008.1_jan/travel-web-images/Regent%20Palms%20-%20evening%20pool%20bar.jpg</string>
	</array>
	<key>60052</key>
	<array>
	  <string>http://www.atlanticmarcite.com/images/barmain.png</string>
	</array>
	<key>60053</key>
	<array>
	  <string>http://www.jtbonline.org/Business%20as%20usual/Sunset%20Ja%20Grande%20-%20Pool%20Bar.jpg</string>
	</array>
	<key>60054</key>
	<array>
	  <string>http://3.bp.blogspot.com/_hzeVDKj3V6E/TRtuu9qpYhI/AAAAAAAAABo/XpQ_u9UqchA/s1600/Dreams_beach_pool_bar.jpg</string>
	</array>
	<key>60055</key>
	<array>
	  <string>http://glphotels.nc/GLP-images/l&amp;#039;escapade_pool_bar.jpg</string>
	</array>
	<key>60056</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/the-zign-hotel/pic1-pool-bar.jpg</string>
	</array>
	<key>60057</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/93/0000570493/91/img57ad5175zik1zj.jpeg</string>
	</array>
	<key>60058</key>
	<array>
	  <string>http://farm4.static.flickr.com/3522/3217964105_60a9a65f6c.jpg</string>
	</array>
	<key>60059</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/00/16/18/69/pool-bar.jpg</string>
	</array>
	<key>60060</key>
	<array>
	  <string>http://www.malia.co.uk/images/000/000/002/000000002246.jpg</string>
	</array>
	<key>60061</key>
	<array>
	  <string>http://www.golfinfocyprus.com/pafos/st_george_hotel/images/st_george_hotel_golf_cyprus_pool_bar_340.jpg</string>
	</array>
	<key>60062</key>
	<array>
	  <string>http://www.gaylordhotels.com/assets/images/rotator_images/large/opryland/OP_SpaPool01_lg.jpg</string>
	</array>
	<key>60063</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/phuket/coconut-village-resort/pic1-facility.jpg</string>
	</array>
	<key>60064</key>
	<array>
	  <string>http://www.caribbeanmag.com/images/hotels/full/582/pool_bar.jpg</string>
	</array>
	<key>60065</key>
	<array>
	  <string>http://www.cruisereviews.com/images/mega/Millennium43Pictures/PoolBar.jpg</string>
	</array>
	<key>60066</key>
	<array>
	  <string>http://www.777hotels.net/Asia/Thailand/Bangkok/chatriumsuitesbkk/CTS09.jpg</string>
	</array>
	<key>60067</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/76/0001099676/46/img94b3db76zik8zj.jpeg</string>
	</array>
	<key>60068</key>
	<array>
	  <string>http://www.custompoolsmiami.com/media/pool_16.jpg</string>
	</array>
	<key>60069</key>
	<array>
	  <string>http://www.cyprus-hotels.com/images/golden_bay_pool_bar.jpg</string>
	</array>
	<key>60070</key>
	<array>
	  <string>http://www.thaihotelslinks.com/amariorchid/images/Facilities_PoolBar01.jpg</string>
	</array>
	<key>60071</key>
	<array>
	  <string>http://www.costalegre.ca/images/Sands_Pool_760.jpg</string>
	</array>
	<key>60072</key>
	<array>
	  <string>http://photocdn.spain-holiday.com/rental-homes-photos-spain/41823_2944_Benalmadena_Apartment.jpg</string>
	</array>
	<key>60073</key>
	<array>
	  <string>http://www.pollsb.com/photos/o/38577-outdoor_pool_bar.jpg</string>
	</array>
	<key>60074</key>
	<array>
	  <string>http://www.thai-anxiety.com/images/bspook.jpg</string>
	</array>
	<key>60075</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/1f/f6/c5/pool-bar.jpg</string>
	</array>
	<key>60076</key>
	<array>
	  <string>http://villeneuvette.com/images/mas_fotos_4_web_pool_bar_lo.jpg</string>
	</array>
	<key>60077</key>
	<array>
	  <string>http://www.e-hotel-phuket.com/kata/katapalm/img/pool1_bar1_v.jpg</string>
	</array>
	<key>60078</key>
	<array>
	  <string>http://www.bhungathani.com/pool%20bar/pool%20bar.jpg</string>
	</array>
	<key>60079</key>
	<array>
	  <string>http://images.agoda.com/hotels/8650/OTHERS/OTHERS_8650_17.jpg</string>
	</array>
	<key>60080</key>
	<array>
	  <string>http://www.soi6-pattaya.com/images/pook_bar_pattaya.jpg</string>
	</array>
	<key>60081</key>
	<array>
	  <string>http://photos.igougo.com/images/p163071-Cancun-Pool_Bar.jpg</string>
	</array>
	<key>60082</key>
	<array>
	  <string>http://www.cyprus-hotels.com/images/avani_pool_bar.jpg</string>
	</array>
	<key>60083</key>
	<array>
	  <string>http://www.hotelombak.com/assets/images/gallery/030---Pool-Bar.jpg</string>
	</array>
	<key>60084</key>
	<array>
	  <string>http://www.rosencentre.com/mediapress/photos/poolBar/images/poolBar.jpg</string>
	</array>
	<key>60085</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/00/18/e9/64/pool-bar-in-main-pool.jpg</string>
	</array>
	<key>60086</key>
	<array>
	  <string>http://www.sunsetbeachclub.com/images/pool%20bar.jpg</string>
	</array>
	<key>60087</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/003/470/83/N000/000/000/WaitingAtPoolBar.jpg</string>
	</array>
	<key>60088</key>
	<array>
	  <string>http://www.honeymoons-and-holidays-abroad-maldives.co.uk/Maldives-Islands/images/M-PoolBar.jpg</string>
	</array>
	<key>60089</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/phuket/centara-karon-resort-phuket-(formerly-central-karon-beach-resort)/pic1-terraces-pool-bar.jpg</string>
	</array>
	<key>60090</key>
	<array>
	  <string>http://www.cyprus44.com/hotels/clubz/pool-bar.jpg</string>
	</array>
	<key>60091</key>
	<array>
	  <string>http://www.daydreamisland.com/images/resort_information/dining_splashes.jpg</string>
	</array>
	<key>60092</key>
	<array>
	  <string>http://img.agoda.net/hotels/10914/OTHERS/OTHERS_10914_13.jpg</string>
	</array>
	<key>60093</key>
	<array>
	  <string>http://www.pattaya-discover.com/images/pook-bar-ladyboys.jpg</string>
	</array>
	<key>60094</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/00/12/89/9e/the-pool-bar-closed.jpg</string>
	</array>
	<key>60095</key>
	<array>
	  <string>http://blog-imgs-43-origin.fc2.com/x/i/n/xinchaoisv/20100313sat_ThePoolBar01.jpg</string>
	</array>
	<key>60096</key>
	<array>
	  <string>http://www.budapesthotels-budapesthotelbooking.com/hotel_pic/holiday-beach-budapest-wellness-conference-hotel-budapest/b-holiday-beach-budapest-pool-bar-holiday-beach-budapest-wellness-conference-hotel-budapest.jpg</string>
	</array>
	<key>60097</key>
	<array>
	  <string>http://www.cuti.com.my/hotel/Hotelpages/Indonesia/Bali/benoa/meliabenoa/pool-bar.jpg</string>
	</array>
	<key>60098</key>
	<array>
	  <string>http://barsegypt.com/swim-up-pool-bar.jpg</string>
	</array>
	<key>60099</key>
	<array>
	  <string>http://www.atesler.de/pic/trav_pic/turk/2008/pool_bar.jpg</string>
	</array>
	<key>60100</key>
	<array>
	  <string>http://cdn.redweek.com/photos/full/5/8/6/58614.jpg</string>
	</array>
	<key>60101</key>
	<array>
	  <string>http://www.thephoenixbelize.com/images/PoolBar.jpg</string>
	</array>
	<key>60102</key>
	<array>
	  <string>http://www.tophotelreview.info/upload/c9bc55ef8a13345013f707370f298fe9.jpg</string>
	</array>
	<key>60103</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/00/14/f3/2b/pool-bar.jpg</string>
	</array>
	<key>60104</key>
	<array>
	  <string>http://www.elysium-hotel.com/images/marenostrum/1.jpg</string>
	</array>
	<key>60105</key>
	<array>
	  <string>http://www.hotel-limnionas-bay-village.co.uk/bilder/PoolBar.png</string>
	</array>
	<key>60106</key>
	<array>
	  <string>http://www.pookswanhouse.com/Pookswanhouse/Partys/Loykratong_2007/11.jpg</string>
	</array>
	<key>60107</key>
	<array>
	  <string>http://us.cdn3.123rf.com/168nwm/pierivb/pierivb1007/pierivb100700007/7350301-beautiful-young-metis-women-drinking-cocktails-in-the-swimming-pool-bar.jpg</string>
	</array>
	<key>60108</key>
	<array>
	  <string>http://www.cancunreservations.com/hotels/cancun/gr-solaris/images/g-r-solaris-cancun-pool-bar.jpg</string>
	</array>
	<key>60109</key>
	<array>
	  <string>http://www.gallconsulting.com/main.pool.bar.JPG</string>
	</array>
	<key>60110</key>
	<array>
	  <string>http://blog-imgs-43-origin.fc2.com/x/i/n/xinchaoisv/20100313sat_ThePoolBar02.jpg</string>
	</array>
	<key>60111</key>
	<array>
	  <string>http://images.travelpod.com/users/kjdensem/2.1111945140.pool-bar.jpg</string>
	</array>
	<key>60112</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/00/16/29/96/pool-bar.jpg</string>
	</array>
	<key>60113</key>
	<array>
	  <string>http://www.tlcstoneworks.com/Pool_Bar.jpg</string>
	</array>
	<key>60114</key>
	<array>
	  <string>http://www.shangri-la.com/assets/5DEAF15C-8429-4776-8EE9-2451CC097C83.jpg</string>
	</array>
	<key>60115</key>
	<array>
	  <string>http://japan-hawaii-travel.com/images/ritz_carlton_kapalua_poolbar-_and-_cafe_jpg.jpg</string>
	</array>
	<key>60116</key>
	<array>
	  <string>http://www.nationwidepoolandspa.com/images/pool_bar.jpg</string>
	</array>
	<key>60117</key>
	<array>
	  <string>http://www.bellagio.com/images2/nightlife/LogoPoolBar.gif</string>
	</array>
	<key>60118</key>
	<array>
	  <string>http://www.bellagio.com/images2/nightlife/PoolBarThumb.jpg</string>
	</array>
	<key>60119</key>
	<array>
	  <string>http://cdn1.iofferphoto.com/img/item/195/377/366/g_american-black-8-ball-pool-bar-nine-3378-1b61d.jpg</string>
	</array>
	<key>60120</key>
	<array>
	  <string>http://jp.ioffer.com/img/1156834800/_i/13960059/1.jpg</string>
	</array>
	<key>60121</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/02/96/03/crete.jpg</string>
	</array>
	<key>60122</key>
	<array>
	  <string>http://www.mandarinoriental.com/chiangmai/Images/din_cas_col_pop.jpg</string>
	</array>
	<key>60123</key>
	<array>
	  <string>http://farm5.static.flickr.com/4117/4868448097_9fe374d867.jpg</string>
	</array>
	<key>60124</key>
	<array>
	  <string>http://img.pics.livedoor.com/012/e/0/e03fd145a990d4920b8c-LL.PNG</string>
	</array>
	<key>60125</key>
	<array>
	  <string>http://approid.jp/wp-content/uploads/Pool-Bar.jpg</string>
	</array>
	<key>60126</key>
	<array>
	  <string>http://profile.ak.fbcdn.net/hprofile-ak-snc4/174878_178187955571228_5258038_s.jpg</string>
	</array>
	<key>60127</key>
	<array>
	  <string>http://www.vacationrentalpeople.com/Resources/Prop/23575/4-2009524175459.JPG</string>
	</array>
	<key>60128</key>
	<array>
	  <string>http://www.pattaya-beerbars.com/images/Pook_Bar.jpg</string>
	</array>
	<key>60129</key>
	<array>
	  <string>http://www.buenostours.com/images/October9/deep-blue-buenos-aires-pool-bar.JPG</string>
	</array>
	<key>60130</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/00/bd/70/pool-bar.jpg</string>
	</array>
	<key>60131</key>
	<array>
	  <string>http://photo1.ganref.jp/photo/0/e63fa6835ca5015315fe73c082148a05/thumb5.jpg</string>
	</array>
	<key>60132</key>
	<array>
	  <string>http://www.allsydneyhotels.org/hotel/hotels/sunrise_hotel_pool_bar.jpg</string>
	</array>
	<key>60133</key>
	<array>
	  <string>http://nihongo.istockphoto.com/file_thumbview_approve/15785263/2/istockphoto_15785263-bartenders-working-a-pool-bar-in-mexico.jpg</string>
	</array>
	<key>60134</key>
	<array>
	  <string>http://img.pics.livedoor.com/011/b/9/b9e9ab04f5aaddf2269a-LL.PNG</string>
	</array>
	<key>60135</key>
	<array>
	  <string>http://www.rodos.com/elpida-stds/images/pool-bar.jpg</string>
	</array>
	<key>60136</key>
	<array>
	  <string>http://www.shoestringbarbados.com/images/Ocean%2011/pool2.jpg</string>
	</array>
	<key>60137</key>
	<array>
	  <string>http://princesscruise.up.seesaa.net/image/081910a.JPG</string>
	</array>
	<key>60138</key>
	<array>
	  <string>http://farm5.static.flickr.com/4081/4868420611_194c30da91.jpg</string>
	</array>
	<key>60139</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/02/da/29/pool-bar.jpg</string>
	</array>
	<key>60140</key>
	<array>
	  <string>http://www.e-hotel-phuket.com/patong/mercure/img/f_pool_bar.jpg</string>
	</array>
	<key>60141</key>
	<array>
	  <string>http://www.thailandhotels.jp/Chonburi/BestWesternPattayaPool%20Bar%20L.jpg</string>
	</array>
	<key>60142</key>
	<array>
	  <string>http://www.e-hotel-bangkok.com/siamsquare/novotel_siam/img/pool_bar.jpg</string>
	</array>
	<key>60143</key>
	<array>
	  <string>http://www.houbou-ya.com/hotel/chaweng/darasamui/img/pool_bar_l.jpg</string>
	</array>
	<key>60144</key>
	<array>
	  <string>http://image.tabelog.com/restaurant/images/Rvw/2777/150x150_square_2777296.jpg</string>
	</array>
	<key>60145</key>
	<array>
	  <string>http://www.caribbeanmag.com/images/hotels/full/1914/pool_bar.jpg</string>
	</array>
	<key>60146</key>
	<array>
	  <string>http://photo1.ganref.jp/photo/0/14b0e6788cc689d80b495c1991974007/thumb5.jpg</string>
	</array>
	<key>60147</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/c2/3d/87/pool-bar.jpg</string>
	</array>
	<key>60148</key>
	<array>
	  <string>http://img.agoda.net/hotels/68938/OTHERS/OTHERS_68938_13.jpg</string>
	</array>
	<key>60149</key>
	<array>
	  <string>http://www.torukomania.com/hotelimage/151/2/C%20AND%20H%20Hotels%20Pamukkale%20Turkey%20Pool%20Bar%20Snack%20Bar%20Photo.JPG</string>
	</array>
	<key>60150</key>
	<array>
	  <string>http://bar-navi.suntory.co.jp/img_qr/0X00128537.png</string>
	</array>
	<key>60151</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/052/382463052/preview5.jpg</string>
	</array>
	<key>60152</key>
	<array>
	  <string>http://a0.twimg.com/profile_images/750380188/ikeyu_move_normal.gif</string>
	</array>
	<key>60153</key>
	<array>
	  <string>http://4.bp.blogspot.com/_vJ44lfcA2ek/Sz2rL4d1dZI/AAAAAAAAJIg/0yHcVv-Z0b0/s320/Hayman+Island+Resort+Pool+Bar.jpg</string>
	</array>
	<key>60154</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/740/380698740/ipad_preview5.jpg</string>
	</array>
	<key>60155</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/8b/47/78/pool-bar.jpg</string>
	</array>
	<key>60156</key>
	<array>
	  <string>http://www.onlyexclusivetravel.com/AdminImages/gallery/23/bmpbs-pool&amp;amp;bar1.jpg</string>
	</array>
	<key>60157</key>
	<array>
	  <string>http://www.sunrisephangan.com/photo_gallery/images/Pool-Bar.jpg</string>
	</array>
	<key>60158</key>
	<array>
	  <string>http://30min.jp/images/item/3072/1693072_3.jpg</string>
	</array>
	<key>60159</key>
	<array>
	  <string>http://30min.jp/images/item/3072/1693072_2.jpg</string>
	</array>
	<key>60160</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/citin-garden-resort/pic1-pool-bar.jpg</string>
	</array>
	<key>60161</key>
	<array>
	  <string>http://www.ystours-aus.com/img/portsea/PoolBar2-PortSea.jpg</string>
	</array>
	<key>60162</key>
	<array>
	  <string>http://www.jtbap-mice.com/Img/Thumbnail/Resources/3229/Image/Pool%20Bar.jpg</string>
	</array>
	<key>60163</key>
	<array>
	  <string>http://www.ystours-aus.com/img/portsea/PoolBar-PortSea.jpg</string>
	</array>
	<key>60164</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/19/73/fa/pool-bar.jpg</string>
	</array>
	<key>60165</key>
	<array>
	  <string>http://fuseishoyo-roku.cocolog-nifty.com/blog/images/2009/03/26/img_2998_pool_bar.jpg</string>
	</array>
	<key>60166</key>
	<array>
	  <string>http://www.e-hotel-phuket.com/karon/theaccess/img/pool-bar.jpg</string>
	</array>
	<key>60167</key>
	<array>
	  <string>http://www.thaihotelslinks.com/peachhill/images/Facilities_PoolBar01.jpg</string>
	</array>
	<key>60168</key>
	<array>
	  <string>http://cache2.allpostersimages.com/p/MED/21/2188/V7DAD00Z/posters/%E3%82%A2%E3%82%A4%E3%82%B6%E3%83%83%E3%82%AF%E3%83%BB%E3%83%9E%E3%83%83%E3%82%AD%E3%83%B3%E3%83%AC%E3%82%A4-people-in-swimming-pool-bar-at-sunset-club-in-palmerie-marrakesh-morocco.jpg</string>
	</array>
	<key>60169</key>
	<array>
	  <string>http://www.hotelpalladium.gr/images/dining-pool-bar.jpg</string>
	</array>
	<key>60170</key>
	<array>
	  <string>http://www.crete-hotels-online.com/hotel/hotels/grand_hotel_pool_bar.jpg</string>
	</array>
	<key>60171</key>
	<array>
	  <string>http://3.bp.blogspot.com/-QLyYfu_pFkM/TbjGAH4LdXI/AAAAAAAAAZc/lUlDsM_gNnU/s320/uzima-springs-pool-bar-2.jpg</string>
	</array>
	<key>60172</key>
	<array>
	  <string>http://media.tvtrip.com/hotel-koh_samui/bhundhari-spa-resort-and-villa-samui-a-centara-koh_samui/pool_bar.jpg</string>
	</array>
	<key>60173</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/00/16/12/b3/the-pool-bar.jpg</string>
	</array>
	<key>60174</key>
	<array>
	  <string>http://www.visittoruko.com/hotelimage/147/2/richmond-thermal-hotel-pamukkale-turkey-pool-bar-photo.JPG</string>
	</array>
	<key>60175</key>
	<array>
	  <string>http://www.visittoruko.com/hotelimage/1334/2/Iris%20Hotel%20Canakkale%20Turkey%20Pool%20Bar%20Photo.jpg</string>
	</array>
	<key>60176</key>
	<array>
	  <string>http://www.e-hotel-phuket.com/patong/banthai/img/pool-bar-l.jpg</string>
	</array>
	<key>60177</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/314/408191314/ipad_preview5.jpg</string>
	</array>
	<key>60178</key>
	<array>
	  <string>http://media.tvtrip.com/hotel-hue/la-residence-hotel-and-spa-hue/pool_bar.jpg</string>
	</array>
	<key>60179</key>
	<array>
	  <string>http://media.merchantcircle.com/30027360/swimmingpoolbararizona_full.jpeg</string>
	</array>
	<key>60180</key>
	<array>
	  <string>http://www.torukomania.com/hotelimage/1239/2/The%20Green%20Park%20Hotel%20Bostanci%20Istanbul%20Turkey%20Pool%20Bar%20Photo.jpg</string>
	</array>
	<key>60181</key>
	<array>
	  <string>http://www.seastarinn.com/slideshow/guests/pp3.jpg</string>
	</array>
	<key>60182</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/2f/02/f1/view-of-pool-bar-from.jpg</string>
	</array>
	<key>60183</key>
	<array>
	  <string>http://cdn2.iofferphoto.com/img/item/195/379/482/s_american-black-8-ball-pool-bar-nine-3378-4153c.jpg</string>
	</array>
	<key>60184</key>
	<array>
	  <string>http://www.escapegame.org/2009/05/12/005_pool-bar.gif</string>
	</array>
	<key>60185</key>
	<array>
	  <string>http://a1.phobos.apple.com/us/r1000/058/Purple/f0/1a/50/mzi.diiboxvt.175x175-75.jpg</string>
	</array>
	<key>60186</key>
	<array>
	  <string>http://www.e-hotel-phuket.com/kata/sawasdeevillage/img/pool-bar.jpg</string>
	</array>
	<key>60187</key>
	<array>
	  <string>http://www.escapegame.org/assets_c/2009/05/005_pool-bar-thumb-autox120-488.gif</string>
	</array>
	<key>60188</key>
	<array>
	  <string>http://media.tvtrip.com/hotel-orlando/sheraton-safari-hotel-and-suites-lake-buena-vista-orlando/pool_bar.jpg</string>
	</array>
	<key>60189</key>
	<array>
	  <string>http://www.visittoruko.com/hotelimage/183/2/babaylon-hotel-cesme-turkey-pool-bar-photo.JPG</string>
	</array>
	<key>60190</key>
	<array>
	  <string>http://us.cdn4.123rf.com/168nwm/haveseen/haveseen0901/haveseen090100005/4100138-girl-in-tropical-pool-bar-with-cocktail.jpg</string>
	</array>
	<key>60191</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/09/ae/d1/pool-side-bar.jpg</string>
	</array>
	<key>60192</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/the-zign-hotel/pic2-pool-bar.jpg</string>
	</array>
	<key>60193</key>
	<array>
	  <string>http://www.gaylordhotels.com/assets/images/rotator_images/large/opryland/OP_SpaPool02_lg.jpg</string>
	</array>
	<key>60194</key>
	<array>
	  <string>http://www.suntory.co.jp/shop_img/s/0422202072_s4.jpg</string>
	</array>
	<key>60195</key>
	<array>
	  <string>http://japan-hawaii-travel.com/images/st._regis_princeville_resort_thumb_PoolBar1.jpg</string>
	</array>
	<key>60196</key>
	<array>
	  <string>http://www.e-hotel-phuket.com/kata/metadeeresort/img/f_pool_bar.jpg</string>
	</array>
	<key>60197</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/052/382463052/icon_75x75.jpg</string>
	</array>
	<key>60198</key>
	<array>
	  <string>http://media.tvtrip.com/hotel-koh_samui/anantara-resort-spa-samui-koh_samui/pool_bar.jpg</string>
	</array>
	<key>60199</key>
	<array>
	  <string>http://www.cyprusholidays-kyrenia.com/images/pool-bar.jpg</string>
	</array>
	<key>60200</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/1f/ec/d1/mini-grotto-and-pool.jpg</string>
	</array>
	<key>60201</key>
	<array>
	  <string>http://www.hotellaunion.com/images/hotel-la-union-pool.jpg</string>
	</array>
	<key>60202</key>
	<array>
	  <string>http://www.srilankan.co.jp/imgs/Maldive/IslandHideaway/images/Pool%20Bar%20Service%202.jpg</string>
	</array>
	<key>60203</key>
	<array>
	  <string>http://www.srilankan.co.jp/imgs/Maldive/IslandHideaway/images/Pool%20Bar%20Service.jpg</string>
	</array>
	<key>60204</key>
	<array>
	  <string>http://www.dllocal.com/media/2/20110524-DSCN0717.JPG</string>
	</array>
	<key>60205</key>
	<array>
	  <string>http://japan-hawaii-travel.com/images/koa_kea_hotel_thumb_PoolBar.jpg</string>
	</array>
	<key>60206</key>
	<array>
	  <string>http://www.e-hotel-phuket.com/kata/kataluckyvilla/img/pool-bar.jpg</string>
	</array>
	<key>60207</key>
	<array>
	  <string>http://iphone.nows.jp/wp-content/uploads/2011/02/mzl_cqnzizym_320x480-75.jpg</string>
	</array>
	<key>60208</key>
	<array>
	  <string>http://media.tvtrip.com/hotel-pattaya/sunshine-garden-resort-pattaya-pattaya/pool_bar.jpg</string>
	</array>
	<key>60209</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/27/35/65/pool-bar.jpg</string>
	</array>
	<key>60210</key>
	<array>
	  <string>http://www.robertkbrown.com/images/pool_bar.jpg</string>
	</array>
	<key>60211</key>
	<array>
	  <string>http://profile.ak.fbcdn.net/hprofile-ak-snc4/211116_194399087274076_6544077_s.jpg</string>
	</array>
	<key>60212</key>
	<array>
	  <string>http://photos-c.ak.fbcdn.net/hphotos-ak-snc6/252662_195478273831612_191612737551499_490030_2120698_s.jpg</string>
	</array>
	<key>60213</key>
	<array>
	  <string>http://www.srilankan.co.jp/imgs/srilanka/MiscHTL/images/Pool%20Bar%20-%20000949.jpg</string>
	</array>
	<key>60214</key>
	<array>
	  <string>http://photos-d.ak.fbcdn.net/hphotos-ak-snc6/251788_195878770458229_191612737551499_492492_6575177_s.jpg</string>
	</array>
	<key>60215</key>
	<array>
	  <string>http://photos-g.ak.fbcdn.net/hphotos-ak-snc6/251788_195878780458228_191612737551499_492494_2287417_s.jpg</string>
	</array>
	<key>60216</key>
	<array>
	  <string>http://www.e-hotel-phuket.com/patong/patongbayshore/img/pool_bar2_v.jpg</string>
	</array>
	<key>60217</key>
	<array>
	  <string>http://photos-h.ak.fbcdn.net/hphotos-ak-snc6/252662_195478270498279_191612737551499_490029_2111586_s.jpg</string>
	</array>
	<key>60218</key>
	<array>
	  <string>http://media.tvtrip.com/hotel-toronto/novotel-toronto-centre-toronto/pool_bar.jpg</string>
	</array>
	<key>60219</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/12/39/fd/pool-from-pool-bar.jpg</string>
	</array>
	<key>60220</key>
	<array>
	  <string>http://photos-b.ak.fbcdn.net/hphotos-ak-snc6/252662_195478263831613_191612737551499_490028_2811983_s.jpg</string>
	</array>
	<key>60221</key>
	<array>
	  <string>http://www.gaylordhotels.com/assets/images/rotator_images/large/texan/TX_Pooloutdoor_lg.jpg</string>
	</array>
	<key>60222</key>
	<array>
	  <string>http://dunasbeachresort.com/cms/dunas-beach-resort/downloads/general-resort-imagery/the-resort/pool-bar-from-bridge.jpg</string>
	</array>
	<key>60223</key>
	<array>
	  <string>http://photos-f.ak.fbcdn.net/hphotos-ak-snc6/251788_195878773791562_191612737551499_492493_3930530_s.jpg</string>
	</array>
	<key>60224</key>
	<array>
	  <string>http://www.ikuchan.or.jp/service/shop/assets_c/2011/04/Dining%20Pool%20Bar%20FURY%EF%BC%88%E3%83%95%E3%83%A5%E3%83%BC%E3%83%AA%E3%83%BC)-thumb-128xauto-2254.jpg</string>
	</array>
	<key>60225</key>
	<array>
	  <string>http://www.cancun.vacationpeople.com/img/ca_pool_bar.jpg</string>
	</array>
	<key>60226</key>
	<array>
	  <string>http://www.ewtc.eu/files/lq/Pool-Bar_1257437289.JPG</string>
	</array>
	<key>60227</key>
	<array>
	  <string>http://iphone.nows.jp/wp-content/uploads/2010/10/Pool-Bar-Online-Hustle.jpg</string>
	</array>
	<key>60228</key>
	<array>
	  <string>http://media.tvtrip.com/hotel-ciudadela/apartamentos-princesa-playa-ciudadela/pool_bar.jpg</string>
	</array>
	<key>60229</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/6a/54/0b/silia-pool-bar.jpg</string>
	</array>
	<key>60230</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/435/409137435/preview5.jpg</string>
	</array>
	<key>60231</key>
	<array>
	  <string>http://madconnection.uohp.com/mt/archives/poolbar-thumb.jpg</string>
	</array>
	<key>60232</key>
	<array>
	  <string>http://www.pookswanhouse.com/Pookswanhouse/Partys/Loykratong_2007/14.jpg</string>
	</array>
	<key>60233</key>
	<array>
	  <string>http://elounda-booking.com/common2/photos/hotels/619/589_26_0.jpg</string>
	</array>
	<key>60234</key>
	<array>
	  <string>http://inhabitat.com/files/aquapub_02.jpg</string>
	</array>
	<key>60235</key>
	<array>
	  <string>http://www.shangri-la.com/uploadedImages/property/Jakarta/dining/restaurants/gen_slh_poolbar.jpg</string>
	</array>
	<key>60236</key>
	<array>
	  <string>http://media.tvtrip.com/hotel-palma_nova/palma-nova-palma_nova/pool_bar.jpg</string>
	</array>
	<key>60237</key>
	<array>
	  <string>http://www.suntory.co.jp/shop_img/l/0X00128537_l1.jpg</string>
	</array>
	<key>60238</key>
	<array>
	  <string>http://www.suntory.co.jp/shop_img/l/0X00128537_l2.jpg</string>
	</array>
	<key>60239</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110325/17/chitanabi/ab/30/j/o0500037511124821061.jpg</string>
	</array>
	<key>60240</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110325/17/chitanabi/52/29/j/t02200165_0500037511124821066.jpg</string>
	</array>
	<key>60241</key>
	<array>
	  <string>http://photos.travelblog.org/Photos/27984/162823/f/1183644-The-Pool-Bar-at-Treasure-Island-0.jpg</string>
	</array>
</array>
</plist>
