<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>81858</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000054293/photo_05.jpg</string>
	</array>
	<key>81859</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/eb/dc/10112877471.jpg</string>
	</array>
	<key>81857</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/2010/07/12/20100712dog00m200010000c_450.jpg</string>
	</array>
	<key>81855</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091213/01/l-l-l-l/c5/39/j/o0768102410339033357.jpg</string>
	</array>
	<key>81856</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110208/84620_201102080541042001297136678c.jpg</string>
	</array>
	<key>81944</key>
	<array>
	  <string>http://files.hangame.co.jp/blog/2010/43/26e8751/07/24/30835201/26e8751_1279909577133.jpg</string>
	</array>
	<key>81943</key>
	<array>
	  <string>http://i.ytimg.com/vi/vMl9qbNkFeE/0.jpg</string>
	</array>
	<key>81942</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/22/7d/okaraking7/folder/982876/img_982876_17988397_0?1244565110</string>
	</array>
	<key>81941</key>
	<array>
	  <string>http://gazo.galman.jp/img/019g6_111136/AKB48+%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF+%E3%81%9F%E3%81%8B%E3%81%BF%E3%81%AA.jpeg</string>
	</array>
	<key>81940</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100620/20/zagyoooon/1f/98/j/t02200367_0384064010600894830.jpg</string>
	</array>
	<key>81939</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/articl/2009_11/no3b/taka.jpg</string>
	</array>
	<key>81938</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/w/a/l/wallpapermania/20100626125913447.jpg</string>
	</array>
	<key>81937</key>
	<array>
	  <string>http://3.bp.blogspot.com/_Kj87JE9RHSQ/TNfLHKI9yuI/AAAAAAAABUI/33c3oWEnuSY/s1600/02_043_07.jpg</string>
	</array>
	<key>81936</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/b0/33/hacchann91/folder/486384/img_486384_7676448_1?1306683063</string>
	</array>
	<key>81935</key>
	<array>
	  <string>http://takahasimina.img.jugem.jp/20101223_1539555.jpg</string>
	</array>
	<key>81934</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/takahashi002.jpg</string>
	</array>
	<key>81933</key>
	<array>
	  <string>http://blog-imgs-36-origin.fc2.com/g/e/i/geinounewstokudane/0056.jpg</string>
	</array>
	<key>81932</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0d/db/hikkii2006/folder/799794/img_799794_25137810_4?1277456249</string>
	</array>
	<key>81931</key>
	<array>
	  <string>http://ec3.images-amazon.com/images/I/51Q37jRc3iL.jpg</string>
	</array>
	<key>81930</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100718/23/aroaros/17/46/j/o0800120510646448068.jpg</string>
	</array>
	<key>81929</key>
	<array>
	  <string>http://takaasiminami.img.jugem.jp/20101217_1710775.jpg</string>
	</array>
	<key>81928</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/14/a0/74cfb43ea54a4a3aa73a3b909d60aa0a.jpg</string>
	</array>
	<key>81927</key>
	<array>
	  <string>http://blog-cdn.oricon.co.jp/_images/takahasiminami-1234/profile/s_6a072cd12d535ef10815b8e50e426b6d?2010-11-3013:11:45</string>
	</array>
	<key>81926</key>
	<array>
	  <string>http://f.hatena.ne.jp/images/fotolife/s/syohibi/20100402/20100402140800.jpg</string>
	</array>
	<key>81925</key>
	<array>
	  <string>http://24.media.tumblr.com/tumblr_ku33nqb5Jb1qariyko1_500.jpg</string>
	</array>
	<key>81924</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/a5/35/baron0742/folder/1463915/img_1463915_64445596_0?1307198455</string>
	</array>
	<key>81923</key>
	<array>
	  <string>http://file.tomodachi.game-ss.com/20061028000631.jpg</string>
	</array>
	<key>81922</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100501/21/t0671529/a9/d2/j/t02200313_0800113710520614835.jpg</string>
	</array>
	<key>81921</key>
	<array>
	  <string>http://www5.nikkansports.com/entertainment/akb48/column/img/akb48-100414-01.jpg</string>
	</array>
	<key>81920</key>
	<array>
	  <string>http://curly-rudy.com/images/akb48/201011182.jpg</string>
	</array>
	<key>81919</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/05/db/aquamarineblueblue/folder/1503126/img_1503126_63087108_0?1270733528</string>
	</array>
	<key>81918</key>
	<array>
	  <string>http://blog-imgs-31.fc2.com/p/e/r/perfumeperfect/02_030_01.jpg</string>
	</array>
	<key>81917</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/e6/c1/satomimasamichi/folder/580305/img_580305_17414690_0?1304507640</string>
	</array>
	<key>81916</key>
	<array>
	  <string>http://blog-imgs-45-origin.fc2.com/g/e/i/geinounewstokudane/2010111810_20110308103015.jpg</string>
	</array>
	<key>81915</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/07/20110720_minami_01.jpg</string>
	</array>
	<key>81914</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/9f/c6/happybirthday2you2/folder/1499103/img_1499103_60975895_5?1303687259</string>
	</array>
	<key>81913</key>
	<array>
	  <string>http://blog-cdn.oricon.co.jp/_images/no3b/image/m_2009-07-31T17:06:04-3.jpg</string>
	</array>
	<key>81912</key>
	<array>
	  <string>http://akbnetuai.img.jugem.jp/20100910_702420.jpg</string>
	</array>
	<key>81911</key>
	<array>
	  <string>http://x65img.peps.jp/uimg/a/akbt/108/d6epyennemA.jpg</string>
	</array>
	<key>81910</key>
	<array>
	  <string>http://curly-rudy.com/images/akb48/201011183.jpg</string>
	</array>
	<key>81909</key>
	<array>
	  <string>http://idoleplan.up.seesaa.net/image/AKB48E38381E383BCE383A0A20E9AB98E6A98BE381BFE381AAE381BF.jpg</string>
	</array>
	<key>81908</key>
	<array>
	  <string>http://blog-imgs-46.fc2.com/a/k/b/akb48ranking/20110113221915093.jpg</string>
	</array>
	<key>81907</key>
	<array>
	  <string>http://ascii.jp/elem/000/000/109/109051/akb06_c_600x900.jpg</string>
	</array>
	<key>81906</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/cf/b2/10136786506.jpg</string>
	</array>
	<key>81905</key>
	<array>
	  <string>http://image.blog.livedoor.jp/akb48plus1/imgs/3/e/3e5d12b7.jpg</string>
	</array>
	<key>81904</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/a4/5b/10113174773.jpg</string>
	</array>
	<key>81903</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/34/9a/10141732122.jpg</string>
	</array>
	<key>81902</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100610/gnj1006101715018-p1.jpg</string>
	</array>
	<key>81901</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/1b/dc/10113175348.jpg</string>
	</array>
	<key>81900</key>
	<array>
	  <string>http://natalie.mu/media/1006/0613/AKB_0613/extra/news_large_19.jpg</string>
	</array>
	<key>81899</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/07/23/015/images/009l.jpg</string>
	</array>
	<key>81897</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/07/23/015/images/007l.jpg</string>
	</array>
	<key>81898</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/2010/12/02/20101201dog00m200052000c_450.jpg</string>
	</array>
	<key>81896</key>
	<array>
	  <string>http://prt.iza.ne.jp/images/news/20110305/398173_c450.jpg</string>
	</array>
	<key>81895</key>
	<array>
	  <string>http://image.blog.livedoor.jp/donod/imgs/2/7/2730d819.jpg</string>
	</array>
	<key>81894</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/cd/30/10117621756.jpg</string>
	</array>
	<key>81893</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/8b/2a/10132941444.jpg</string>
	</array>
	<key>81892</key>
	<array>
	  <string>http://farm1.static.flickr.com/99/280486766_f80c7b839a.jpg</string>
	</array>
	<key>81891</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/69/f9/10142549871.jpg</string>
	</array>
	<key>81889</key>
	<array>
	  <string>http://farm4.static.flickr.com/3242/2295037807_c3d7462428.jpg</string>
	</array>
	<key>81890</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090407/20/akb-a/05/b5/j/o0240034510162846034.jpg</string>
	</array>
	<key>81888</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/d1/77/10127971103.jpg</string>
	</array>
	<key>81887</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/01/22/01.jpg</string>
	</array>
	<key>81886</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20081010/58905_200810100602079001223612023c.jpg</string>
	</array>
	<key>81885</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100621/77355_201006210872224001277091765c.jpg</string>
	</array>
	<key>81884</key>
	<array>
	  <string>http://news.dengeki.com/elem/000/000/142/142134/c20090225_sfmovie_13_cs1w1_400x600.jpg</string>
	</array>
	<key>81883</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/mayuyu4tomo_mi8love/imgs/0/7/07e939c1.jpg</string>
	</array>
	<key>81882</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/01/10_7/05.jpg</string>
	</array>
	<key>81881</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/05/22/001/images/005l.jpg</string>
	</array>
	<key>81880</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100805/78820_201008050590457001281007374c.jpg</string>
	</array>
	<key>81879</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110610/88685_201106100739248001307673530c.jpg</string>
	</array>
	<key>81878</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/2011/03/03/20110303dog00m200054001c_450.jpg</string>
	</array>
	<key>81877</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/mayuyu4tomo_mi8love/imgs/1/6/162ffb35.jpg</string>
	</array>
	<key>81876</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/bc/01/10133685246.jpg</string>
	</array>
	<key>81875</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100805/78820_201008050580701001281007374c.jpg</string>
	</array>
	<key>81874</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100116/12/camaro-z28/6a/df/j/o0800060010377731801.jpg</string>
	</array>
	<key>81873</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100124/19/camaro-z28/4c/70/j/o0800060010387396209.jpg</string>
	</array>
	<key>81871</key>
	<array>
	  <string>http://tsubasa.paslog.jp/image/20090914_03.jpg</string>
	</array>
	<key>81872</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100103/09/camaro-z28/4c/a8/j/o0800060010362821759.jpg</string>
	</array>
	<key>81869</key>
	<array>
	  <string>http://akb48gazou48.up.seesaa.net/image/takahashiminami22.jpg</string>
	</array>
	<key>81870</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/a3/94/10129908195.jpg</string>
	</array>
	<key>81868</key>
	<array>
	  <string>http://bany.bz/syohibi/img/3dp2fpqz7ckhf9c.jpg</string>
	</array>
	<key>81867</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20081010/58907_200810100765254001223613504c.jpg</string>
	</array>
	<key>81865</key>
	<array>
	  <string>http://satoayaka.up.seesaa.net/image/de.jpg</string>
	</array>
	<key>81866</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110403/11/nikomesae/04/84/j/o0220028411142481857.jpg</string>
	</array>
	<key>81864</key>
	<array>
	  <string>http://akb48gazou48.up.seesaa.net/image/takahashiminami14.jpg</string>
	</array>
	<key>81863</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100610/77104_201006100840463001276175936c.jpg</string>
	</array>
	<key>81862</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100107/16/camaro-z28/ea/c4/j/o0800060010367676641.jpg</string>
	</array>
	<key>81861</key>
	<array>
	  <string>http://contents.oricon.co.jp/music/special/2010/no3b1222/images/pic_l/004.jpg</string>
	</array>
	<key>81860</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100107/16/camaro-z28/ed/dd/j/o0800060010367675290.jpg</string>
	</array>
	<key>81945</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/IR/1jbuQ0_220.jpeg</string>
	</array>
	<key>81946</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20100318/01/e5/33/j/o048008541268844310643.jpg</string>
	</array>
	<key>81947</key>
	<array>
	  <string>http://1.bp.blogspot.com/_Kj87JE9RHSQ/TNfLnpmnJlI/AAAAAAAABYs/v1PJXV2cYwQ/s1600/02_060_07.jpg</string>
	</array>
	<key>81948</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_6c8/takaminadouga/E9AB98E6A98BE381BFE381AAE381BF2.jpg</string>
	</array>
	<key>81949</key>
	<array>
	  <string>http://2.bp.blogspot.com/_Kj87JE9RHSQ/TNfLVqh5y9I/AAAAAAAABWI/ysf9MFRz6DM/s1600/02_051_09.jpg</string>
	</array>
	<key>81950</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100430/14/ponet2009/80/3f/j/o0400060210518471529.jpg</string>
	</array>
	<key>81951</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/k/karashi7/20100316/20100316215903.jpg</string>
	</array>
	<key>81952</key>
	<array>
	  <string>http://i.ytimg.com/vi/IBb9GHBzuPc/0.jpg</string>
	</array>
	<key>81953</key>
	<array>
	  <string>http://gazo.galman.jp/img/019g6_111048/AKB48+%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF+%E3%81%9F%E3%81%8B%E3%81%BF%E3%81%AA.jpeg</string>
	</array>
	<key>81954</key>
	<array>
	  <string>http://www.book-trend.net/price/assets_c/2011/01/%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF1%EF%BD%93%EF%BD%94%E3%83%95%E3%82%A9%E3%83%88%E3%83%96%E3%83%83%E3%82%AF%E3%80%8E%E3%81%9F%E3%81%8B%E3%81%BF%E3%81%AA%E3%80%8F%20(%E8%AC%9B%E8%AB%87%E7%A4%BEMOO</string>
	</array>
	<key>81955</key>
	<array>
	  <string>http://takahasimi.img.jugem.jp/20110526_2070764.jpg</string>
	</array>
	<key>81956</key>
	<array>
	  <string>http://livedoor.blogimg.jp/onlyjust/imgs/0/c/0c0d5960.jpg?c46ea7c9</string>
	</array>
	<key>81957</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100228/15/hyouk/30/d4/j/t02200293_0240032010432266761.jpg</string>
	</array>
	<key>81958</key>
	<array>
	  <string>http://image.blingee.com/images18/content/output/000/000/000/737/694726067_693587.gif?4</string>
	</array>
	<key>81959</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20101117/06/b2/51/j/o043404801289944617973.jpg</string>
	</array>
	<key>81960</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20100326/20100326053924.jpg</string>
	</array>
	<key>81961</key>
	<array>
	  <string>http://blog.oricon.co.jp/_images/takahasiminami-1234/138776533.jpg</string>
	</array>
	<key>81962</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/72/0001224072/72/img079e86cdzik1zj.jpeg</string>
	</array>
	<key>81963</key>
	<array>
	  <string>http://takahaminami.cocolog-nifty.com/blog/images/2010/06/02/pt_01.jpg</string>
	</array>
	<key>81964</key>
	<array>
	  <string>http://x62img.peps.jp/uimg/s/shinatsukimi/114/4/czvxu8vr7yA.jpg</string>
	</array>
	<key>81965</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100507/02/adriano1127/35/64/j/o0240043210529758780.jpg</string>
	</array>
	<key>81966</key>
	<array>
	  <string>http://blog.ap.teacup.com/minamilov/timg/middle_1308629162.jpg</string>
	</array>
	<key>81967</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51uLtTE59KL.jpg</string>
	</array>
	<key>81968</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100622/08/natsumikango/3c/92/j/o0326044310603149126.jpg</string>
	</array>
	<key>81969</key>
	<array>
	  <string>http://3.bp.blogspot.com/_Kj87JE9RHSQ/TNfLVbOU82I/AAAAAAAABWE/cjnLlaGvSxc/s1600/02_051_08.jpg</string>
	</array>
	<key>81970</key>
	<array>
	  <string>http://gazo.galman.jp/img/019e4_67846/%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF.jpeg</string>
	</array>
	<key>81971</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_56e/takaminagazou/E9AB98E6A98BE381BFE381AAE381BF.jpg</string>
	</array>
	<key>81972</key>
	<array>
	  <string>http://fdggsdfgtd.cocolog-nifty.com/blog/images/2010/11/29/t02200440_0220044010541609425.jpg</string>
	</array>
	<key>81973</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/I6/4jfaM3.jpeg</string>
	</array>
	<key>81974</key>
	<array>
	  <string>http://www.vidibu.com/thumb.php?vid=WnljUGF4LXlEbkktXy15b3V0dWJl</string>
	</array>
	<key>81975</key>
	<array>
	  <string>http://blog-imgs-44-origin.fc2.com/c/a/p/cap1234/sec20100713-08.jpg</string>
	</array>
	<key>81976</key>
	<array>
	  <string>http://farm5.static.flickr.com/4113/4959774083_d8204909d0.jpg</string>
	</array>
	<key>81977</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100331/14/ikeguti-jin/39/65/j/t01280170_0128017010475202270.jpg</string>
	</array>
	<key>81978</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/38/56/masaman0904/folder/920247/img_920247_14470001_0?1239116543</string>
	</array>
	<key>81979</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100327/23/2008-07-19/62/41/j/t02200193_0600052610469976966.jpg</string>
	</array>
	<key>81980</key>
	<array>
	  <string>http://gazo.galman.jp/img/019g6_111137/AKB48+%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF+%E3%81%9F%E3%81%8B%E3%81%BF%E3%81%AA.jpeg</string>
	</array>
	<key>81981</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/63/f6/8e8ad43407a07aece930c3c55e6ff7c8.jpg</string>
	</array>
	<key>81982</key>
	<array>
	  <string>http://seagz.fujitv.co.jp/person/photo/W07/W07-1391.jpg</string>
	</array>
	<key>81983</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/yT/cgANI2_220.gif</string>
	</array>
	<key>81984</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100111/12/camaro-z28/ef/e4/j/o0800060010372046951.jpg</string>
	</array>
	<key>81985</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/a/k/b/akb48gazou48/blog_import_4d75ca3ec7b7a.jpg</string>
	</array>
	<key>81986</key>
	<array>
	  <string>http://yaplog.jp/cv/jj17/img/156/img20080430_p.jpg</string>
	</array>
	<key>81987</key>
	<array>
	  <string>http://image.portphoto.com/img/0c94f_105821/%EF%BC%A1%EF%BC%AB%EF%BC%A2%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF%E3%81%9F%E3%81%8B%E3%81%BF%E3%81%AA%E3%83%8E%E3%83%BC%E3%82%B9%E3%83%AA%E3%83%BC%E3%83%96%E3%82%B9_l.jpeg</string>
	</array>
	<key>81988</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/d3/05/kk_love_takamina_akb48_bnr32/folder/201096/img_201096_6807564_3?1304864950</string>
	</array>
	<key>81989</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_6c8/takaminadouga/E5A4A7E5B3B6E584AAE5AD90.jpg</string>
	</array>
	<key>81990</key>
	<array>
	  <string>http://2.bp.blogspot.com/_Ceyl0V29V-w/S7WaFlMY26I/AAAAAAAAAH4/N91KcQ7hiF0/s1600/tumblr_kuntxoKNy81qa1c7do1_400.jpg</string>
	</array>
	<key>81991</key>
	<array>
	  <string>http://majigaku.img.jugem.jp/20100313_1020665.jpg</string>
	</array>
	<key>81992</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/1c/5a/berryz_risako_199444/folder/597704/img_597704_13063132_0?1268909412</string>
	</array>
	<key>81993</key>
	<array>
	  <string>http://uyvtrwe321.cocolog-nifty.com/blog/images/2011/04/13/o0220028411142481857.jpg</string>
	</array>
	<key>81994</key>
	<array>
	  <string>http://i.ytimg.com/vi/qGkoggDE4-c/hqdefault.jpg</string>
	</array>
	<key>81995</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/m/a/y/mayuyu0202/0045.jpg</string>
	</array>
	<key>81996</key>
	<array>
	  <string>http://images.become.co.jp/imageserver/s3/107040118-100-100-5-0/%E3%80%90BOOK%E3%80%91%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF%EF%BC%91%EF%BD%93%EF%BD%94%E3%83%95%E3%82%A9%E3%83%88%E3%83%96%E3%83%83%E3%82%AF%E3%80%8E%E3%81%9F%E3%81%8B%E3%81%BF%E3%81%</string>
	</array>
	<key>81997</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20100408/22/4d/53/j/o048006401270732893256.jpg</string>
	</array>
	<key>81998</key>
	<array>
	  <string>http://ererfwwp665.cocolog-nifty.com/blog/images/2011/04/04/o0240034510162846034.jpg</string>
	</array>
	<key>81999</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000062080/303.jpg</string>
	</array>
	<key>82000</key>
	<array>
	  <string>http://image.jbook.jp/img/04030/M04030616-01.jpg</string>
	</array>
	<key>82001</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/t/tokky1203/20090831/20090831231453.jpg</string>
	</array>
	<key>82002</key>
	<array>
	  <string>http://akb48gazou48.up.seesaa.net/image/takahashiminami23.jpg</string>
	</array>
	<key>82003</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110208/22/nakata-chisato/7c/3e/j/o0480085411035599397.jpg</string>
	</array>
	<key>82004</key>
	<array>
	  <string>http://images-jp.amazon.com/images/P/4063794903.09.LZZZZZZZ.jpg</string>
	</array>
	<key>82005</key>
	<array>
	  <string>http://tn-skr4.smilevideo.jp/smile?i=10642903</string>
	</array>
	<key>82006</key>
	<array>
	  <string>http://akb48idol.web.fc2.com/akb48/takahasi_minami/003.jpg</string>
	</array>
	<key>82007</key>
	<array>
	  <string>http://images.become.co.jp/imageserver/s2/112173142-100-100-5-0/%E2%97%8F%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF+%E3%83%94%E3%83%B3%E3%82%AF+AKB48+%E3%81%9F%E3%81%8B%E3%81%BF%E3%81%AAA4%E3%82%AF%E3%83%AA%E3%82%A2%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%</string>
	</array>
	<key>82008</key>
	<array>
	  <string>http://gazo.micore.jp/img/0g1ww_84214/%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF+AKB48_l.jpeg</string>
	</array>
	<key>82009</key>
	<array>
	  <string>http://img1.woopie.jp/getdata.php?pid=1f03e7fqf7d54</string>
	</array>
	<key>82010</key>
	<array>
	  <string>http://image.portphoto.com/img/028x8_31034/%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF.jpeg</string>
	</array>
	<key>82011</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/513NLuMy1wL._SL200_.jpg</string>
	</array>
	<key>82012</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_590/takaminadeto/m_E4B8ADE8A5BFE9878CE88F9C1.jpg</string>
	</array>
	<key>82013</key>
	<array>
	  <string>http://ehfgrf999.cocolog-nifty.com/blog/images/2011/02/24/o0357063511008590884.jpg</string>
	</array>
	<key>82014</key>
	<array>
	  <string>http://gazo.micore.jp/img/0bvq9_69333/%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF_l.jpeg</string>
	</array>
	<key>82015</key>
	<array>
	  <string>http://gd.image-gmkt.com/mi/198/391/403391198.jpg</string>
	</array>
	<key>82016</key>
	<array>
	  <string>http://blog-imgs-30-origin.fc2.com/s/e/c/secretdesire/20080112_4.jpg</string>
	</array>
	<key>82017</key>
	<array>
	  <string>http://isearch.c.yimg.jp/image?id=db50919e21b7e5b8bcfa091da5fd24f7</string>
	</array>
	<key>82018</key>
	<array>
	  <string>http://kaw17th.up.seesaa.net/image/A4BFA4ABA4DFA4CA.jpg</string>
	</array>
	<key>82019</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/y6/4gDPD9_220.jpeg</string>
	</array>
	<key>82020</key>
	<array>
	  <string>http://i.ytimg.com/vi/2yEsWXFKoYs/0.jpg</string>
	</array>
	<key>82021</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_56e/takaminagazou/E9AB98E6A98BE381BFE381AAE381BFE38080E7A781E69C8D.jpg</string>
	</array>
	<key>82022</key>
	<array>
	  <string>http://livedoor.3.blogimg.jp/news4vip2/imgs/8/e/8e8aeaea-s.jpg</string>
	</array>
	<key>82023</key>
	<array>
	  <string>http://lohas.nicoseiga.jp/thumb/987380i</string>
	</array>
	<key>82024</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/513NLuMy1wL._SL160_.jpg</string>
	</array>
	<key>82025</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/2010/10/21/20101020dog00m200040000c_250.jpg</string>
	</array>
	<key>82026</key>
	<array>
	  <string>http://news.walkerplus.com/2010/0302/14/20100302174624_10_400.jpg</string>
	</array>
	<key>82027</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/bO3/6AVlEe_220.jpeg</string>
	</array>
	<key>82028</key>
	<array>
	  <string>http://img.pics.livedoor.com/011/0/f/0f17e4b7ef2284dc5719-LL.jpg</string>
	</array>
	<key>82029</key>
	<array>
	  <string>http://livedoor.blogimg.jp/potemkin01/imgs/4/c/4c280470.jpg</string>
	</array>
	<key>82030</key>
	<array>
	  <string>http://blog.oricon.co.jp/_images/takahasiminami-1234/159622058-8adc6668435f4c585411639be461e76c.4c916508-full.jpg</string>
	</array>
	<key>82031</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/g/pltbv_pxcl007-11</string>
	</array>
	<key>82032</key>
	<array>
	  <string>http://gazo.micore.jp/img/0g1ww_84217/%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF+AKB48_l.jpeg</string>
	</array>
	<key>82033</key>
	<array>
	  <string>http://www2.akb48.co.jp/members/shinoda_mariko/img/pt_01.jpg</string>
	</array>
	<key>82034</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/pltbv/cabinet/11/pxcl007-11_1.jpg?_ex=200x200&amp;amp;s=0&amp;amp;r=1</string>
	</array>
	<key>82035</key>
	<array>
	  <string>http://image.portphoto.com/img/00001_2571/%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF%E3%80%80AKB48.jpg</string>
	</array>
	<key>82036</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/auc-papermoon/cabinet/book/01679862/img63286485.jpg?_ex=250x250&amp;amp;s=0&amp;amp;r=1</string>
	</array>
	<key>82037</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/g/pltbv_msr165-11</string>
	</array>
	<key>82038</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/t/a/r/tarekomin/20110109133457afa.jpg</string>
	</array>
	<key>82039</key>
	<array>
	  <string>http://gazo.galman.jp/img/019dg_50207/AKB48+%E9%AB%98%E6%A9%8B%E3%81%BF%E3%81%AA%E3%81%BF+%E3%81%9F%E3%81%8B%E3%81%BF%E3%81%AA_l.jpeg</string>
	</array>
	<key>82040</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/g/a/z/gazoudaisuki/20101116170950af0.jpg</string>
	</array>
	<key>82041</key>
	<array>
	  <string>http://takaminaotoutogazou1.blog.so-net.ne.jp/_images/blog/_28a/takaminaotoutogazou1/tumblr_l6a0j7zfbF1qbga9no1_500.jpg</string>
	</array>
	<key>82042</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/a/k/b/akb48gazou48/blog_import_4d75ca3529bba.jpg</string>
	</array>
	<key>82043</key>
	<array>
	  <string>http://image1.shopserve.jp/recyclekan.ja.shopserve.jp/pic-labo/limg/imgs3432.jpg</string>
	</array>
	<key>82044</key>
	<array>
	  <string>http://jp.isbnlib.com/cover/4063794903/L</string>
	</array>
	<key>82045</key>
	<array>
	  <string>http://image.portphoto.com/img/0a61q_150633/%E3%81%9F%E3%81%8B%E3%81%BF%E3%81%AA_l.jpeg</string>
	</array>
	<key>82046</key>
	<array>
	  <string>http://blog-imgs-46-origin.fc2.com/a/k/b/akbimage/tssnnzldpm.jpg</string>
	</array>
	<key>82047</key>
	<array>
	  <string>http://1.bp.blogspot.com/--rC0S8esqeY/TYF_J4jCiPI/AAAAAAAAGnU/2dde2YPPX2E/s400/2.jpg</string>
	</array>
	<key>82048</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/e/e/ee85f_756_takahasimionami.jpg</string>
	</array>
	<key>82049</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1803f40q10ecc3</string>
	</array>
	<key>82050</key>
	<array>
	  <string>http://akb48gazou48.up.seesaa.net/image/takahashiminami24.jpg</string>
	</array>
	<key>82051</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_l8hgi34Z3O1qzqyeno1_500.jpg</string>
	</array>
	<key>82052</key>
	<array>
	  <string>http://www5.nikkansports.com/entertainment/akb48/column/assets_c/2010/04/akb48-100414-01-thumb-120xauto-1247.jpg</string>
	</array>
	<key>82053</key>
	<array>
	  <string>http://image.blingee.com/images18/content/output/000/000/000/74c/707301000_900902.gif?4</string>
	</array>
	<key>82054</key>
	<array>
	  <string>http://img.7netshopping.jp/bks/images/h0/1102970280.jpg</string>
	</array>
</array>
</plist>
