<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>107030</key>
	<array>
	  <string>http://farm4.static.flickr.com/3029/2764298073_6baf210621.jpg</string>
	</array>
	<key>107031</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/004/137/08/1/2.jpg</string>
	</array>
	<key>107032</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/04/21_15/09.jpg</string>
	</array>
	<key>107033</key>
	<array>
	  <string>http://hochi.yomiuri.co.jp/photo/20110101-529785-1-L.jpg</string>
	</array>
	<key>107034</key>
	<array>
	  <string>http://yaplog.jp/cv/risawhight/img/2472/ayuhike_p.jpg</string>
	</array>
	<key>107035</key>
	<array>
	  <string>http://farm1.static.flickr.com/176/483813251_b982ddd0a2.jpg</string>
	</array>
	<key>107036</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/hamasaki017.jpg</string>
	</array>
	<key>107037</key>
	<array>
	  <string>http://farm4.static.flickr.com/3051/2718607787_1216bb4bb9.jpg</string>
	</array>
	<key>107038</key>
	<array>
	  <string>http://farm4.static.flickr.com/3196/2356751683_93380122eb.jpg</string>
	</array>
	<key>107039</key>
	<array>
	  <string>http://farm1.static.flickr.com/214/483813289_ea08e876d2.jpg</string>
	</array>
	<key>107040</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110101/gnb1101010507000-p1.jpg</string>
	</array>
	<key>107041</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100630/gnj1006300505001-p1.jpg</string>
	</array>
	<key>107042</key>
	<array>
	  <string>http://img.yaplog.jp/img/03/pc/r/i/s/risawhight/14/14526.png</string>
	</array>
	<key>107043</key>
	<array>
	  <string>http://farm3.static.flickr.com/2251/2255190184_a8ffdfa5bd.jpg</string>
	</array>
	<key>107044</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20101011/80877_201010110996959001286790823c.jpg</string>
	</array>
	<key>107045</key>
	<array>
	  <string>http://farm4.static.flickr.com/3139/2375787730_e4877f11a3.jpg</string>
	</array>
	<key>107046</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000059372/ayu009_s_www_barks_jp.jpg</string>
	</array>
	<key>107047</key>
	<array>
	  <string>http://farm4.static.flickr.com/3259/2735061816_f208a31955.jpg</string>
	</array>
	<key>107048</key>
	<array>
	  <string>http://farm4.static.flickr.com/3231/2375791934_7a6a45bf72.jpg</string>
	</array>
	<key>107049</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100317/gnj1003170508008-p1.jpg</string>
	</array>
	<key>107050</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20101202/82653_201012020147585001291298038c.jpg</string>
	</array>
	<key>107051</key>
	<array>
	  <string>http://takotako.cocolog-nifty.com/photos/uncategorized/2008/03/06/hamasakiayumi1.jpg</string>
	</array>
	<key>107052</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/015/324/29/N000/000/000/125021692253016121940_img_146940_28358074_0.jpg</string>
	</array>
	<key>107053</key>
	<array>
	  <string>http://kenta.blog.ocn.ne.jp/photos/uncategorized/2010/12/14/510cgr2iivl__sl500_.jpg</string>
	</array>
	<key>107054</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000048150/ayu005_s_www_barks_jp.jpg</string>
	</array>
	<key>107055</key>
	<array>
	  <string>http://farm1.static.flickr.com/202/483813295_4a17526775.jpg</string>
	</array>
	<key>107056</key>
	<array>
	  <string>http://www.calvadoshof.com/artist/hamazakiayumi/missu02.jpg</string>
	</array>
	<key>107057</key>
	<array>
	  <string>http://farm4.static.flickr.com/3284/2764297427_a1cc1b477d.jpg</string>
	</array>
	<key>107058</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20090407/64967_200904070694237001239087682c.jpg</string>
	</array>
	<key>107059</key>
	<array>
	  <string>http://idolfreaks.com/heaven/wall_h/hamasaki_ayumi/1_1024.jpg</string>
	</array>
	<key>107060</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100317/gnj1003170508008-p2.jpg</string>
	</array>
	<key>107061</key>
	<array>
	  <string>http://www.calvadoshof.com/artist/hamazakiayumi/moments.jpg</string>
	</array>
	<key>107062</key>
	<array>
	  <string>http://super-love-kiss.com/slc.cgi/hamasaki/ayumi17.jpg</string>
	</array>
	<key>107063</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/04/21_15/04.jpg</string>
	</array>
	<key>107064</key>
	<array>
	  <string>http://contents.innolife.net/mobile/img/item/80118_l.jpg</string>
	</array>
	<key>107065</key>
	<array>
	  <string>http://farm3.static.flickr.com/2356/2471087402_f9be5ec6a5.jpg</string>
	</array>
	<key>107066</key>
	<array>
	  <string>http://img.music.yahoo.co.jp/images/magazine/pow/20070301_001/pow_gall_sp_001.jpg</string>
	</array>
	<key>107067</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000064259/ayu1_s.jpg</string>
	</array>
	<key>107068</key>
	<array>
	  <string>http://farm2.static.flickr.com/1137/1326980217_040150c7d3.jpg</string>
	</array>
	<key>107069</key>
	<array>
	  <string>http://www.calvadoshof.com/artist/hamazakiayumi/staatin02.jpg</string>
	</array>
	<key>107070</key>
	<array>
	  <string>http://farm1.static.flickr.com/190/483813287_482ddbaf8a.jpg</string>
	</array>
	<key>107071</key>
	<array>
	  <string>http://farm4.static.flickr.com/3095/2735094954_c71cbc245f.jpg</string>
	</array>
	<key>107072</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/090824/gnj0908240506001-p6.jpg</string>
	</array>
	<key>107073</key>
	<array>
	  <string>http://file.lamlam.blog.shinobi.jp/41ILoz94H8L.jpg</string>
	</array>
	<key>107074</key>
	<array>
	  <string>http://img3.douban.com/lpic/s4469032.jpg</string>
	</array>
	<key>107075</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000036233/ayu015_s_www_barks_jp.jpg</string>
	</array>
	<key>107076</key>
	<array>
	  <string>http://farm3.static.flickr.com/2352/2467589739_957c7813d9.jpg</string>
	</array>
	<key>107077</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20091118/70820_200911180550873001258552565c.jpg</string>
	</array>
	<key>107078</key>
	<array>
	  <string>http://farm4.static.flickr.com/3168/2779485201_7a789fa400.jpg</string>
	</array>
	<key>107079</key>
	<array>
	  <string>http://farm4.static.flickr.com/3103/2730751965_6cf3911eb1.jpg</string>
	</array>
	<key>107080</key>
	<array>
	  <string>http://natalie.mu/media/1009/0912/extra/news_large_AVCD-31933_A_FIX.jpg</string>
	</array>
	<key>107081</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000063796/anation12_s.jpg</string>
	</array>
	<key>107082</key>
	<array>
	  <string>http://farm4.static.flickr.com/3091/2777703520_9b2d4397c4.jpg</string>
	</array>
	<key>107083</key>
	<array>
	  <string>http://yaplog.jp/cv/risawhight/img/1710/955_p.jpg</string>
	</array>
	<key>107084</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/090728/gnj0907280507021-p2.jpg</string>
	</array>
	<key>107085</key>
	<array>
	  <string>http://farm4.static.flickr.com/3157/2731528044_11a65c3672.jpg</string>
	</array>
	<key>107086</key>
	<array>
	  <string>http://farm2.static.flickr.com/1149/1018984016_6091d245db.jpg</string>
	</array>
	<key>107087</key>
	<array>
	  <string>http://www.calvadoshof.com/artist/hamazakiayumi/INSPIRE01.jpg</string>
	</array>
	<key>107088</key>
	<array>
	  <string>http://farm4.static.flickr.com/3006/2718650472_17d3f50d58.jpg</string>
	</array>
	<key>107089</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/090824/gnj0908240506001-p7.jpg</string>
	</array>
	<key>107090</key>
	<array>
	  <string>http://farm4.static.flickr.com/3220/2652131360_d64048d80f.jpg</string>
	</array>
	<key>107091</key>
	<array>
	  <string>http://farm4.static.flickr.com/3111/2719120452_8941b66487.jpg</string>
	</array>
	<key>107092</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000059372/ayu004_s_www_barks_jp.jpg</string>
	</array>
	<key>107093</key>
	<array>
	  <string>http://farm4.static.flickr.com/3041/2467590227_c115ec41d4.jpg</string>
	</array>
	<key>107094</key>
	<array>
	  <string>http://www.calvadoshof.com/artist/hamazakiayumi/Daybreak01.jpg</string>
	</array>
	<key>107095</key>
	<array>
	  <string>http://www.calvadoshof.com/artist/hamazakiayumi/carols01.jpg</string>
	</array>
	<key>107096</key>
	<array>
	  <string>http://farm2.static.flickr.com/1118/663957515_8334f5e26e.jpg</string>
	</array>
	<key>107097</key>
	<array>
	  <string>http://farm4.static.flickr.com/3050/2779428097_52700c4ae0.jpg</string>
	</array>
	<key>107098</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000048150/ayu001_s_www_barks_jp.jpg</string>
	</array>
	<key>107099</key>
	<array>
	  <string>http://farm1.static.flickr.com/213/483813255_82d449726c.jpg</string>
	</array>
	<key>107100</key>
	<array>
	  <string>http://file.lamlam.blog.shinobi.jp/61xIGtpu94L.jpg</string>
	</array>
	<key>107101</key>
	<array>
	  <string>http://farm4.static.flickr.com/3181/2731271496_85c2c7db55.jpg</string>
	</array>
	<key>107102</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000059372/ayu005_s_www_barks_jp.jpg</string>
	</array>
	<key>107103</key>
	<array>
	  <string>http://www.calvadoshof.com/artist/hamazakiayumi/setpyou01.jpg</string>
	</array>
	<key>107104</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100809/gnj1008090504011-p1.jpg</string>
	</array>
	<key>107105</key>
	<array>
	  <string>http://farm3.static.flickr.com/2260/2325321627_dd4bcf26c3.jpg</string>
	</array>
	<key>107106</key>
	<array>
	  <string>http://farm3.static.flickr.com/2322/2200602053_cea45514df.jpg</string>
	</array>
	<key>107107</key>
	<array>
	  <string>http://farm4.static.flickr.com/3194/2580149650_c0df18ac2f.jpg</string>
	</array>
	<key>107108</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20091118/70820_200911180563513001258552565c.jpg</string>
	</array>
	<key>107109</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/hamasaki012.jpg</string>
	</array>
	<key>107110</key>
	<array>
	  <string>http://farm4.static.flickr.com/3144/2730440339_1c1fd8de60.jpg</string>
	</array>
	<key>107111</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/sam0917sam/imgs/5/e/5e68850a.jpg</string>
	</array>
	<key>107112</key>
	<array>
	  <string>http://farm4.static.flickr.com/3106/2718498709_6aee3fbab8.jpg</string>
	</array>
	<key>107113</key>
	<array>
	  <string>http://farm1.static.flickr.com/38/86542362_1f871aad7e.jpg</string>
	</array>
	<key>107114</key>
	<array>
	  <string>http://farm1.static.flickr.com/42/86544302_8b641b85c7.jpg</string>
	</array>
	<key>107115</key>
	<array>
	  <string>http://farm4.static.flickr.com/3281/2716526572_6f70f2cdef.jpg</string>
	</array>
	<key>107116</key>
	<array>
	  <string>http://farm1.static.flickr.com/38/86543481_25813f85e8.jpg</string>
	</array>
	<key>107117</key>
	<array>
	  <string>http://farm1.static.flickr.com/37/86543864_ba83993bc2.jpg</string>
	</array>
	<key>107118</key>
	<array>
	  <string>http://farm1.static.flickr.com/37/86544064_7b06c4e50d.jpg</string>
	</array>
	<key>107119</key>
	<array>
	  <string>http://farm1.static.flickr.com/6/86544441_b8b004fe6f.jpg</string>
	</array>
	<key>107120</key>
	<array>
	  <string>http://farm4.static.flickr.com/3294/2730497177_8b39050d0f.jpg</string>
	</array>
	<key>107121</key>
	<array>
	  <string>http://www.flavorcoffee.co.jp/WallArt/c-room/ha/img/WA3301.jpg</string>
	</array>
	<key>107122</key>
	<array>
	  <string>http://farm1.static.flickr.com/9/86543243_9275241967.jpg</string>
	</array>
	<key>107123</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/080630/msc0806300714000-p1.jpg</string>
	</array>
	<key>107124</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/112705.jpg</string>
	</array>
	<key>107125</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/090106/tnr0901060749002-p4.jpg</string>
	</array>
	<key>107126</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/affairs/crime/100212/crm1002121725025-p1.jpg</string>
	</array>
	<key>107127</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000064076/ayu1_s.jpg</string>
	</array>
	<key>107128</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/112706.jpg</string>
	</array>
	<key>107129</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000064259/ayu1_s.jpg</string>
	</array>
	<key>107130</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/112707.jpg</string>
	</array>
	<key>107131</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000064103/ayu1_s.jpg</string>
	</array>
	<key>107132</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100809/gnj1008090504011-p1.jpg</string>
	</array>
	<key>107133</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/080123/msc0801232012003-p1.jpg</string>
	</array>
	<key>107134</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/091223/msc0912231110000-p1.jpg</string>
	</array>
	<key>107135</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/101012/tnr1010120759001-p1.jpg</string>
	</array>
	<key>107136</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200911/091119_tinc_main.jpg</string>
	</array>
	<key>107137</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100806/gnj1008060506013-p1.jpg</string>
	</array>
	<key>107138</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/affairs/crime/090521/crm0905211328016-p1.jpg</string>
	</array>
	<key>107139</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/111409.jpg</string>
	</array>
	<key>107140</key>
	<array>
	  <string>http://blog-imgs-30-origin.fc2.com/2/c/h/2chmokomokocat/20101116-32a.jpg</string>
	</array>
	<key>107141</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0c/f6/yuko3937/folder/1040480/img_1040480_28311027_0?20110326192505</string>
	</array>
	<key>107142</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/9a/0f/kagonomushi/folder/856132/img_856132_30361572_3?1253732488</string>
	</array>
	<key>107143</key>
	<array>
	  <string>http://runasee.up.seesaa.net/image/B000BCE3IM.09.LZZZZZZZ.jpg</string>
	</array>
	<key>107144</key>
	<array>
	  <string>http://blog-imgs-15-origin.fc2.com/n/a/m/namidamenews79/hamasaki5.jpg</string>
	</array>
	<key>107145</key>
	<array>
	  <string>http://seikeigiwaku.img.jugem.jp/20061023_24549.jpg</string>
	</array>
	<key>107146</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/a/y/a/ayametrack/08120120.jpg</string>
	</array>
	<key>107147</key>
	<array>
	  <string>http://blog-imgs-45-origin.fc2.com/g/e/i/geinounewstokudane/20070727_1791.jpg</string>
	</array>
	<key>107148</key>
	<array>
	  <string>http://blog-imgs-23-origin.fc2.com/e/n/t/entertainerphoto/ayu13.jpg</string>
	</array>
	<key>107149</key>
	<array>
	  <string>http://ayuhamasaki.up.seesaa.net/image/9906387.jpg.png</string>
	</array>
	<key>107150</key>
	<array>
	  <string>http://image.blog.livedoor.jp/toerri702/imgs/1/a/1a6d6c06.jpg</string>
	</array>
	<key>107151</key>
	<array>
	  <string>http://blog-imgs-43-origin.fc2.com/v/i/c/victle/o89.jpg</string>
	</array>
	<key>107152</key>
	<array>
	  <string>http://sakura-cafe.asia/hatagaya/blog/images/%E6%B5%9C%E5%B4%8E%E3%81%82%E3%82%86%E3%81%BF.jpg</string>
	</array>
	<key>107153</key>
	<array>
	  <string>http://id-peaceb.cocolog-nifty.com/every_love_bug/images/stepyou_cd1.jpg</string>
	</array>
	<key>107154</key>
	<array>
	  <string>http://www.hamasakiayumiblog.net/wp-content/uploads/77325.jpg</string>
	</array>
	<key>107155</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/s/h/a/shanibyo/o0800111910165216633.jpg</string>
	</array>
	<key>107156</key>
	<array>
	  <string>http://blog-imgs-29.fc2.com/d/a/i/dai20061217/20090407183533f26.jpg</string>
	</array>
	<key>107157</key>
	<array>
	  <string>http://image.blog.livedoor.jp/polish2006412/imgs/a/1/a1956fa3.jpg</string>
	</array>
	<key>107158</key>
	<array>
	  <string>http://blog-imgs-40.fc2.com/t/i/n/tinatusann/20061202115804.jpg</string>
	</array>
	<key>107159</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/5b/5e/mabinogi_bitch/folder/1275042/img_1275042_31659781_1?1244015252</string>
	</array>
	<key>107160</key>
	<array>
	  <string>http://www.manabiyahonpo.com/blogimg/0801/hama1.jpg</string>
	</array>
	<key>107161</key>
	<array>
	  <string>http://www.95music.com/prod_imgs/AVCD-31274.jpg</string>
	</array>
	<key>107162</key>
	<array>
	  <string>http://nigaoe-sagaso.com/img/special/000551-94.jpg</string>
	</array>
	<key>107163</key>
	<array>
	  <string>http://emobkworm1113.files.wordpress.com/2010/07/ayumi_hamasaki1.jpg</string>
	</array>
	<key>107164</key>
	<array>
	  <string>http://img.weblio.jp/store/?url=http%3A//sankei.jp.msn.com/photos/entertainments/music/080107/msc0801070002000-p1.jpg&amp;amp;etd=2f9172243a5381d3</string>
	</array>
	<key>107165</key>
	<array>
	  <string>http://xn--hckwcp3c2c5ce5k.com/geinou/wp/wp-content/uploads/2011/07/ayu.jpg</string>
	</array>
	<key>107166</key>
	<array>
	  <string>http://blog-imgs-45-origin.fc2.com/i/c/h/ichigosokuhou/da872c98.jpg</string>
	</array>
	<key>107167</key>
	<array>
	  <string>http://4ki4.cocolog-nifty.com/photos/uncategorized/2009/04/03/028.jpg</string>
	</array>
	<key>107168</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/9a/0f/kagonomushi/folder/856132/img_856132_30361572_1?1253732488</string>
	</array>
	<key>107169</key>
	<array>
	  <string>http://seikeigiwaku.img.jugem.jp/20061023_24548.jpg</string>
	</array>
	<key>107170</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/a/y/a/ayametrack/08092502.jpg</string>
	</array>
	<key>107171</key>
	<array>
	  <string>http://navicon.jp/nimage2/002/045/GyaO_0218_CLIPRING(ayu).jpg</string>
	</array>
	<key>107172</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/s/h/a/shanibyo/hamasaki003.jpg</string>
	</array>
	<key>107173</key>
	<array>
	  <string>http://5yen-aru.com/upfile/2010-04-19584DM-0156.jpg</string>
	</array>
	<key>107174</key>
	<array>
	  <string>http://blog-imgs-29.fc2.com/a/y/u/ayulove777/mv03.jpg</string>
	</array>
	<key>107175</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091230/10/ni405/97/87/j/o0600080010358105052.jpg</string>
	</array>
	<key>107176</key>
	<array>
	  <string>http://super-love-kiss.com/slc.cgi/hamasaki/ayumi15.jpg</string>
	</array>
	<key>107177</key>
	<array>
	  <string>http://gazo.galman.jp/img/019gs_122791/%E6%B5%9C%E5%B4%8E%E3%81%82%E3%82%86%E3%81%BF.jpeg</string>
	</array>
	<key>107178</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/d3/f2/tenten64house/folder/315744/img_315744_3709460_1?1310244172</string>
	</array>
	<key>107179</key>
	<array>
	  <string>http://www.emu-spaceart.co.jp/gallery_old/jinbutsuga/images/ayumi1.jpg</string>
	</array>
	<key>107180</key>
	<array>
	  <string>http://bagukari.up.seesaa.net/image/x1p6tb9aEP1qM1oGZp7g2fpxIxZpWQDuOKw_rNVM9bH0TXl-2e2Ys8325hR8bmai9b3TL8Nfoc32-1uQLAwxEzBfy5NgTc6o8JRT4u9bvJZq3RlnBSTWfQeQw.jpg</string>
	</array>
	<key>107181</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/2a/1b/zhou1821shyuu/folder/562378/img_562378_21566687_0?1254210550</string>
	</array>
	<key>107182</key>
	<array>
	  <string>http://ec1.images-amazon.com/images/I/61xIGtpu94L.jpg</string>
	</array>
	<key>107183</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110606/03/iigokuu/36/79/j/o0400039611273546891.jpg</string>
	</array>
	<key>107184</key>
	<array>
	  <string>http://www.geinounetachou.com/wp-content/uploads/2010/10/ayu4.jpeg</string>
	</array>
	<key>107185</key>
	<array>
	  <string>http://blog-imgs-45-origin.fc2.com/g/e/i/geinounewstokudane/scr1006162101052-p2.jpg</string>
	</array>
	<key>107186</key>
	<array>
	  <string>http://urerw.cocolog-nifty.com/photos/uncategorized/2009/03/31/2009033000000018oricentview000.jpg</string>
	</array>
	<key>107187</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_399/dsdsdasdfas/E6B59CE5B48EE38182E38286E381BF.jpg</string>
	</array>
	<key>107188</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/c1/61/mikanseijinjin/folder/1515789/img_1515789_13028431_0?1184493778</string>
	</array>
	<key>107189</key>
	<array>
	  <string>http://blog.sandiegotown.com/uwasa/images/hana2.jpg</string>
	</array>
	<key>107190</key>
	<array>
	  <string>http://www8.ocn.ne.jp/~nanri/objecatayubookaru.jpg</string>
	</array>
	<key>107191</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/cd/a6/view_photograph/folder/914736/img_914736_29085994_1?1279853357</string>
	</array>
	<key>107192</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/2e/8d/takunamilove/folder/42539/img_42539_343654_1?1285210761</string>
	</array>
	<key>107193</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200608/26/90/f0081290_20473983.jpg</string>
	</array>
	<key>107194</key>
	<array>
	  <string>http://blog-imgs-27.fc2.com/a/i/r/airbrushart/i_ayu.jpg</string>
	</array>
	<key>107195</key>
	<array>
	  <string>http://images.amazon.com/images/P/B000FQ4EVU.01._SCLZZZZZZZ_.jpg</string>
	</array>
	<key>107196</key>
	<array>
	  <string>http://gazo.galman.jp/img/019gs_122785/%E6%B5%9C%E5%B4%8E%E3%81%82%E3%82%86%E3%81%BF.jpeg</string>
	</array>
	<key>107197</key>
	<array>
	  <string>http://blog-imgs-27.fc2.com/k/u/r/kurobankan/hamasaki-ayumi1.jpg</string>
	</array>
	<key>107198</key>
	<array>
	  <string>http://super-love-kiss.com/slc.cgi/hamasaki/ayumi06.jpg</string>
	</array>
	<key>107199</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/soundace/cabinet/pic03/avcd-31581.jpg</string>
	</array>
	<key>107200</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/hamasaki/img/hamasaki.jpg</string>
	</array>
	<key>107201</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/7f/8f/seira1019/folder/1602708/img_1602708_53741551_0?1309493515</string>
	</array>
	<key>107202</key>
	<array>
	  <string>http://seikeiayu.img.jugem.jp/20070718_15425.jpg</string>
	</array>
	<key>107203</key>
	<array>
	  <string>http://img.pics.livedoor.com/012/7/b/7ba4d3a966a7566a2d23-LL.jpg</string>
	</array>
	<key>107204</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200410/24/87/b0022887_23505418.jpg</string>
	</array>
	<key>107205</key>
	<array>
	  <string>http://hitorigoto2006.sakura.ne.jp/2007/04/ayu4-126.JPG</string>
	</array>
	<key>107206</key>
	<array>
	  <string>http://acvoixinad777502.cocolog-nifty.com/photos/uncategorized/jpg.jpg</string>
	</array>
	<key>107207</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51lo6kUjTQL._SL500_AA300_.jpg</string>
	</array>
	<key>107208</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/g/geinoug-818/20100318/20100318062806.jpg</string>
	</array>
	<key>107209</key>
	<array>
	  <string>http://www.airbrush.jp/sakuhin/i_ayu.jpg</string>
	</array>
	<key>107210</key>
	<array>
	  <string>http://img.pics.livedoor.com/012/4/8/4872121d17ebc486d612-LL.jpg</string>
	</array>
	<key>107211</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/5b/5e/mabinogi_bitch/folder/1275042/img_1275042_33147044_1?1251632104</string>
	</array>
	<key>107212</key>
	<array>
	  <string>http://hatuhaty.img.jugem.jp/20070716_8339.jpg</string>
	</array>
	<key>107213</key>
	<array>
	  <string>http://www.orenjin.com/blogimg/0904/hamasakiayumi.jpg</string>
	</array>
	<key>107214</key>
	<array>
	  <string>http://seikeishimasyo.up.seesaa.net/image/3F3F3F3F3F3F8FA2F03F3F3F3F3F3F8FA6E4A7B0i3F3F8FA2EC3F3F8FA2F0j.jpg</string>
	</array>
	<key>107215</key>
	<array>
	  <string>http://music.goo.ne.jp/special/ayu_100714/img/top.jpg</string>
	</array>
	<key>107216</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/12/16/de43cc826374e765bbe26c791c9427a3.jpg</string>
	</array>
	<key>107217</key>
	<array>
	  <string>http://x110img.peps.jp/uimg/k/kitesti/2/czecr2yct8A.jpg</string>
	</array>
	<key>107218</key>
	<array>
	  <string>http://ayu-marugari.img.jugem.jp/20071016_244949.jpg</string>
	</array>
	<key>107219</key>
	<array>
	  <string>http://otokuh.net/images/HS1699.jpg</string>
	</array>
	<key>107220</key>
	<array>
	  <string>http://home.rasysa.com/afloat/style/image/39731_13.jpg</string>
	</array>
	<key>107221</key>
	<array>
	  <string>http://i1.ytimg.com/vi/Bm8fkioPlLg/0.jpg</string>
	</array>
	<key>107222</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/a/y/a/ayametrack/08092512.jpg</string>
	</array>
	<key>107223</key>
	<array>
	  <string>http://img.snowrecords.com/cd/c2480.jpg</string>
	</array>
	<key>107224</key>
	<array>
	  <string>http://www.hamasakiayumiblog.net/wp-content/uploads/725623546.jpg</string>
	</array>
	<key>107225</key>
	<array>
	  <string>http://blog-imgs-45-origin.fc2.com/g/e/i/geinounewstokudane/fd33ba62.jpg</string>
	</array>
	<key>107226</key>
	<array>
	  <string>http://blog-imgs-19-origin.fc2.com/e/n/t/entertainerphoto/ayu-matsuura081231.jpg</string>
	</array>
	<key>107227</key>
	<array>
	  <string>http://image.blog.livedoor.jp/ms_06shaku/imgs/1/8/1830953e.jpg</string>
	</array>
	<key>107228</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000033583/ayu_s_www_barks_jp.jpg</string>
	</array>
	<key>107229</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/5b/5e/mabinogi_bitch/folder/1275042/img_1275042_33078000_1?1251012861</string>
	</array>
</dict>
</plist>
