<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>67251</key>
	<array>
	  <string>http://sggirlsmirror3.j37.com/sggirlsphotos/1/0/10/sgGirls.com_-_00277971.jpg</string>
	</array>
	<key>67252</key>
	<array>
	  <string>http://sggirlsmirror3.j37.com/sggirlsphotos/12/0/15/sgGirls.com_-_00183761.jpg</string>
	</array>
	<key>67253</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/16/9/8/sgGirls.com_-_00208845.jpg</string>
	</array>
	<key>67254</key>
	<array>
	  <string>http://files.myopera.com/myAtmosphere/albums/837070/thumbs/sgGirls.com_tn_-_00279710.jpg_thumb.jpg</string>
	</array>
	<key>67255</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/ajewelry/cabinet/ikou_20100326_001/img1028917705.jpg?_ex=200x200&amp;amp;s=2&amp;amp;r=1</string>
	</array>
	<key>67256</key>
	<array>
	  <string>http://files.myopera.com/hiepanh88/albums/812956/sgGirls.com_-_00079155.jpg</string>
	</array>
	<key>67257</key>
	<array>
	  <string>http://1.bp.blogspot.com/_mf-6Jxf-iUk/SVjyZT4BUuI/AAAAAAAAA58/cj1v0Wh5Axg/s400/sgGirls.com_-_00263278.jpg</string>
	</array>
	<key>67258</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/2/6/16/sgGirls.com_-_00218521.jpg</string>
	</array>
	<key>67259</key>
	<array>
	  <string>http://2.bp.blogspot.com/_UmR7PsGWAAw/SFYh3FXd3EI/AAAAAAAAEQ0/XpDsCZKhP3c/s1600/anri-sugihara-1.jpg</string>
	</array>
	<key>67260</key>
	<array>
	  <string>http://gamesnet.vo.llnwd.net/o1/gamestar/objects/406578_main.jpg</string>
	</array>
	<key>67261</key>
	<array>
	  <string>http://iheartapple.org/e/wp-content/uploads/2009/01/sggirls.png</string>
	</array>
	<key>67262</key>
	<array>
	  <string>http://sggirlsmirror3.j37.com/sggirlsphotos/3/15/3/sgGirls.com_-_00248295.jpg</string>
	</array>
	<key>67263</key>
	<array>
	  <string>http://www.eonet.ne.jp/~shu6969/sgGirls.com_-_00182911.jpg</string>
	</array>
	<key>67264</key>
	<array>
	  <string>http://lh6.ggpht.com/_G-KzNbJuilQ/SU1NQMM80TI/AAAAAAAACKc/1QDGDNlwzqo/sgGirls.com__002667422.jpg</string>
	</array>
	<key>67265</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/4/3/3/sgGirls.com_-_00165760.jpg</string>
	</array>
	<key>67266</key>
	<array>
	  <string>http://4.bp.blogspot.com/_mf-6Jxf-iUk/SVjyVuMjDVI/AAAAAAAAA50/3F8l8Bwjo_A/s400/sgGirls.com_-_00207131.jpg</string>
	</array>
	<key>67267</key>
	<array>
	  <string>http://3.bp.blogspot.com/_Mbh2if5e0ac/SzDFGb_7PZI/AAAAAAAAC5Q/qnGEXBVRoBU/s400/4916_96865889822_6020654822_2056265_2569616_n.jpg</string>
	</array>
	<key>67268</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/14/1/1/sgGirls.com_-_00281613.jpg</string>
	</array>
	<key>67269</key>
	<array>
	  <string>http://legacyentries.weheartit.netdna-cdn.com/20090610182848.jpg</string>
	</array>
	<key>67270</key>
	<array>
	  <string>http://fl2.shopmania.org/files/imeji/1466/%E4%B8%AD%E5%8F%A4ld-%E3%82%BB%E3%83%B3%E3%83%81%E3%83%A1%E3%83%B3%E3%82%BF%E3%83%AB%E3%82%B0%E3%83%A9%E3%83%95%E3%83%86%E3%82%A3-sg-girls%E2%80%99-12-all%E2%80%99s~t_1465349.jpg</string>
	</array>
	<key>67271</key>
	<array>
	  <string>http://uploads.ph/online/data/media/2/sgGirls16_2.jpg</string>
	</array>
	<key>67272</key>
	<array>
	  <string>http://sggirlsmirror3.j37.com/sggirlsphotos/9/3/16/sgGirls.com_-_00184176.jpg</string>
	</array>
	<key>67273</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/039/298767039/preview5.jpg</string>
	</array>
	<key>67274</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51JM89Y587L._SL500_AA300_.jpg</string>
	</array>
	<key>67275</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51JM89Y587L._SL160_.jpg</string>
	</array>
	<key>67276</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/3/8/18/sgGirls.com_-_00150692.jpg</string>
	</array>
	<key>67277</key>
	<array>
	  <string>http://buzz.goo.ne.jp/resize.php?width=200&amp;amp;height=200&amp;amp;file=http%3A%2F%2Fecx.images-amazon.com%2Fimages%2FI%2F51JM89Y587L.jpg</string>
	</array>
	<key>67278</key>
	<array>
	  <string>http://4.bp.blogspot.com/_Bj5ARat2Jr4/STaVa1RUPwI/AAAAAAAAAQ4/7jSGU8hy5XE/s400/sgGirls.com_-_00233921.jpg</string>
	</array>
	<key>67279</key>
	<array>
	  <string>http://pics.dmm.com/mono/movie/n_659cobc4038/n_659cobc4038ps.jpg</string>
	</array>
	<key>67280</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/tsk-eshop/cabinet/ld_anime/img56959496.jpg?_ex=200x200&amp;amp;s=0&amp;amp;r=1</string>
	</array>
	<key>67281</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/64s/38659875.jpg</string>
	</array>
	<key>67282</key>
	<array>
	  <string>http://rlv.zcache.com/sg_girls_tshirt-p235111642339515839u2o7_400.jpg</string>
	</array>
	<key>67283</key>
	<array>
	  <string>http://auction.thumbnail.image.rakuten.co.jp/@0_auc/image51/35/74/00010005151/55/94/img00300973942.jpg?_ex=300x300</string>
	</array>
	<key>67284</key>
	<array>
	  <string>http://ap.boox.jp/image/img.php?itemType=D&amp;amp;code=4988001461999&amp;amp;size=L</string>
	</array>
	<key>67285</key>
	<array>
	  <string>http://auction.thumbnail.image.rakuten.co.jp/@0_auc/image51/35/74/00010005151/55/94/img00300973942.jpg?_ex=700x700&amp;amp;s=2&amp;amp;r=1</string>
	</array>
	<key>67286</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/18/14/17/sgGirls.com_-_00171037.jpg</string>
	</array>
	<key>67287</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/039/298767039/preview3.jpg</string>
	</array>
	<key>67288</key>
	<array>
	  <string>http://1.bp.blogspot.com/_Mbh2if5e0ac/SzDE98qn3iI/AAAAAAAAC44/fjqEjc7Jre4/s400/4341_79135314822_6020654822_1788132_121598_n.jpg</string>
	</array>
	<key>67289</key>
	<array>
	  <string>http://www.vanda.co.jp/imagem/200/C/C/C_COBC-4038.jpg</string>
	</array>
	<key>67290</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/felista/cabinet/5011/00000387795.jpg?_ex=300x300&amp;amp;s=0&amp;amp;r=1</string>
	</array>
	<key>67291</key>
	<array>
	  <string>http://img.kakaku.com/images/itemview/qrcode/D0033176901.png</string>
	</array>
	<key>67292</key>
	<array>
	  <string>http://bledex.wapgem.com/images/sgGirls.com__00151905.jpg</string>
	</array>
	<key>67293</key>
	<array>
	  <string>http://files.myopera.com/myAtmosphere/albums/837070/thumbs/sgGirls.com_tn_-_00280231.jpg_thumb.jpg</string>
	</array>
	<key>67294</key>
	<array>
	  <string>http://tn-skr2.smilevideo.jp/smile?i=3603841</string>
	</array>
	<key>67295</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/7/0/13/sgGirls.com_-_00217329.jpg</string>
	</array>
	<key>67296</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/4/5/14/sgGirls.com_-_00183487.jpg</string>
	</array>
	<key>67297</key>
	<array>
	  <string>http://auction.thumbnail.image.rakuten.co.jp/@0_auc/image51/35/74/00010005151/55/94/img00300973942.jpg?_ex=93x93</string>
	</array>
	<key>67298</key>
	<array>
	  <string>http://www.eonet.ne.jp/~shu6969/sgGirls_com_-_00250487.jpg</string>
	</array>
	<key>67299</key>
	<array>
	  <string>http://sggirlsmirror3.j37.com/sggirlsphotos/15/15/14/sgGirls.com_-_00190547.jpg</string>
	</array>
	<key>67300</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/geoeshop/cabinet/133/1331a06a1.jpg?_ex=200x200&amp;amp;s=0&amp;amp;r=1</string>
	</array>
	<key>67301</key>
	<array>
	  <string>http://static.stomp.com.sg/site/servlet/linkableblob/stomp/295930/data/bald-data.jpg</string>
	</array>
	<key>67302</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/039/298767039/icon_75x75.jpg</string>
	</array>
	<key>67303</key>
	<array>
	  <string>http://anepicblog.com/blog/wp-content/uploads/2011/06/sgGirls.com_-_00272045-150x150.jpg</string>
	</array>
	<key>67304</key>
	<array>
	  <string>http://images.appshopper.com/screenshots/303/436674.jpg</string>
	</array>
	<key>67305</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/13/13/2/sgGirls.com_-_00193034.jpg</string>
	</array>
	<key>67306</key>
	<array>
	  <string>http://i573.photobucket.com/albums/ss172/quizzy_photo/schoolgirls/sgGirls_com_-_00277809.jpg</string>
	</array>
	<key>67307</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/17/3/17/sgGirls.com_-_00177686.jpg</string>
	</array>
	<key>67308</key>
	<array>
	  <string>http://www.eonet.ne.jp/~shu6969/sgGirls_com_-_00251269.jpg</string>
	</array>
	<key>67309</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/felista/cabinet/0116/00000071375.jpg?_ex=300x300&amp;amp;s=0&amp;amp;r=1</string>
	</array>
	<key>67310</key>
	<array>
	  <string>http://sggirlsmirror3.j37.com/sggirlsphotos/2/7/0/sgGirls.com_-_00253918.jpg</string>
	</array>
	<key>67311</key>
	<array>
	  <string>http://lh5.ggpht.com/_G-KzNbJuilQ/SU1SmGpHFgI/AAAAAAAACN4/oFVq_oMAXm8/sgGirls.com__002665454.jpg</string>
	</array>
	<key>67312</key>
	<array>
	  <string>http://1.bp.blogspot.com/_d9f4N51KzSs/R3avWxU9rtI/AAAAAAAADU0/ZksLP4kBZlU/s400/sgGirls.com_-_00218335.jpg</string>
	</array>
	<key>67313</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51JM89Y587L._SL160_AA115_.jpg</string>
	</array>
	<key>67314</key>
	<array>
	  <string>http://imagehost.ngobrolaja.com/files/Massacare/sgGirls_107.jpg</string>
	</array>
	<key>67315</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/16/17/11/sgGirls.com_-_00216939.jpg</string>
	</array>
	<key>67316</key>
	<array>
	  <string>http://3.bp.blogspot.com/-W5no2J0b3Ac/TdanBrYkNqI/AAAAAAAAAjI/Nagi0m2jdx8/s1600/1.jpg</string>
	</array>
	<key>67317</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/6/6/0/sgGirls.com_-_00185313.jpg</string>
	</array>
	<key>67318</key>
	<array>
	  <string>http://thumbnails.truveo.com/0018/73/1D/731D5145F6E9B922995E12.jpg</string>
	</array>
	<key>67319</key>
	<array>
	  <string>http://www.sggirls.com/sggirlsphotos/8/0/14/sgGirls.com_-_00135383.jpg</string>
	</array>
	<key>67320</key>
	<array>
	  <string>http://rlv.zcache.com/sg_girls_tshirt-p235143464142176018trlf_400.jpg</string>
	</array>
	<key>67321</key>
	<array>
	  <string>http://ahkong.net/images/sghc/02-sghc.jpg</string>
	</array>
	<key>67322</key>
	<array>
	  <string>http://1.bp.blogspot.com/_DpwNYjIga-o/S0B79S9FzQI/AAAAAAAAAM8/rQ9mdX4Uf8g/S230/SG+girls.jpg</string>
	</array>
	<key>67323</key>
	<array>
	  <string>http://lh6.ggpht.com/-M0SEqdG2yng/TJ4-HFY7mQI/AAAAAAAADeo/Sx4N7vyl1-A/sgGirls_com_-_00267532.jpg</string>
	</array>
	<key>67324</key>
	<array>
	  <string>http://i753.photobucket.com/albums/xx171/fantasy-psycho/sgGirls.jpg</string>
	</array>
	<key>67325</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/1/10/1/sgGirls.com_-_00192604.jpg</string>
	</array>
	<key>67326</key>
	<array>
	  <string>http://www.thesamplestore.sg/images/user_images/sgGirls.com_tn_-_00330838_.jpg</string>
	</array>
	<key>67327</key>
	<array>
	  <string>http://www.geocities.jp/sentouteifugi/sggirls111.jpg</string>
	</array>
	<key>67328</key>
	<array>
	  <string>http://uploads.ph/online/data/thumbnails/33/sgGirls_com_-_00218095.jpg</string>
	</array>
	<key>67329</key>
	<array>
	  <string>http://ap.boox.jp/image/img.php?itemType=D&amp;amp;code=4988001461999&amp;amp;size=S</string>
	</array>
	<key>67330</key>
	<array>
	  <string>http://lh6.ggpht.com/-OR_Q3xOMalA/TJ5ACnRJT8I/AAAAAAAADeo/Wk43emBJaTc/sgGirls_com_-_00268694.jpg</string>
	</array>
	<key>67331</key>
	<array>
	  <string>http://www.rosetti.co.uk/pi/0cba4d2f-67af-4dc8-ba10-e1c60d0c80cc/200-200-tn/Hot_Picks_Clamshell_Collectors_Pack___SG_Girls</string>
	</array>
	<key>67332</key>
	<array>
	  <string>http://1.bp.blogspot.com/_h5I5LyyWPXc/Sz8Ggz50gvI/AAAAAAAAAFc/ZykSZuRBE6M/s400/sgGirls.com_-_00231378.jpg</string>
	</array>
	<key>67333</key>
	<array>
	  <string>http://imagehost.ngobrolaja.com/files/Massacare/sgGirls_150.jpg</string>
	</array>
	<key>67334</key>
	<array>
	  <string>http://4.bp.blogspot.com/_0sCnzd24hQI/R5th_BaKqiI/AAAAAAAAAcE/P8hsSThYeyc/s400/sgGirls.com_-_00200829.jpg</string>
	</array>
	<key>67335</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/15/6/16/sgGirls.com_-_00287124.jpg</string>
	</array>
	<key>67336</key>
	<array>
	  <string>http://images.travelpod.com/tripwow/photos/ta-00fd-d34e-1676/sg-girls-n1-singapore-singapore+1152_12991264463-tpfil02aw-24305.jpg</string>
	</array>
	<key>67337</key>
	<array>
	  <string>http://lh5.ggpht.com/-FQTlGJ0m1ZY/TJ5ADkqg-OI/AAAAAAAADeo/aNjviHQ6tIU/sgGirls_com_-_00263715.jpg</string>
	</array>
	<key>67338</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/7/7/1/sgGirls.com_-_00185694.jpg</string>
	</array>
	<key>67339</key>
	<array>
	  <string>http://sand6.client.jp/m050419-5.JPG</string>
	</array>
	<key>67340</key>
	<array>
	  <string>http://img7-a.dena.ne.jp/ex74/20060920/126/74164094_1.JPG</string>
	</array>
	<key>67341</key>
	<array>
	  <string>http://downiemelrose.net/Gallery/w_SgGirlsTrip2008.jpg</string>
	</array>
	<key>67342</key>
	<array>
	  <string>http://1.bp.blogspot.com/_Mbh2if5e0ac/SzDE9DAa-hI/AAAAAAAAC4g/C5ZAGV8p04A/s400/4341_79103864822_6020654822_1787630_5791756_n.jpg</string>
	</array>
	<key>67343</key>
	<array>
	  <string>http://bookweb.kinokuniya.co.jp/imgdata/4896014146.jpg</string>
	</array>
	<key>67344</key>
	<array>
	  <string>https://www.shop.kotenha.com/ec-classic/photo/jacketcdj/3200021200.jpg</string>
	</array>
	<key>67345</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/10/9/8/sgGirls.com_-_00208839.jpg</string>
	</array>
	<key>67346</key>
	<array>
	  <string>http://media.onsugar.com/files/2010/02/06/3/734/7344071/27/sgGirls.com_-_00279782.jpg</string>
	</array>
	<key>67347</key>
	<array>
	  <string>http://dc311.4shared.com/img/lZ_N3n-w/sgGirls_com_-_00345361.jpg?async</string>
	</array>
	<key>67348</key>
	<array>
	  <string>http://3.bp.blogspot.com/_BFsNfyORMCs/TI70CWk5EII/AAAAAAAABHQ/EGdq2np-4dU/s640/sgGirls.com_-_00295156.jpg</string>
	</array>
	<key>67349</key>
	<array>
	  <string>http://i880.photobucket.com/albums/ac3/brightstartalentmodels/sgGirls_com_-_00225296.jpg</string>
	</array>
	<key>67350</key>
	<array>
	  <string>http://lh6.ggpht.com/-4ZNUFQItuC4/S90zwUdHMCI/AAAAAAAAA2Q/r2F6PhA3Dxg/sgGirls_com_-_00232176.jpg</string>
	</array>
	<key>67351</key>
	<array>
	  <string>http://bp3.blogger.com/_uTcm8US_aTU/RyG8BQrHfLI/AAAAAAAAAAM/_Fqntq9k_f8/s320/sgGirls.com_-_00210252.jpg</string>
	</array>
	<key>67352</key>
	<array>
	  <string>http://1.bp.blogspot.com/_xPLt4p5H0YE/SGNXDHLTA_I/AAAAAAAAAAw/bTZiRxVJkqc/s320/sgGirls_com_-_00196729.jpg</string>
	</array>
	<key>67353</key>
	<array>
	  <string>http://dc368.4shared.com/img/hc3uRF5Z/sgGirls_com_-_00346747.jpg?async</string>
	</array>
	<key>67354</key>
	<array>
	  <string>http://cn1.kaboodle.com/hi/img/c/0/0/3f/6/AAAADBAgRusAAAAAAD9iIQ.jpg?v=1238503171000</string>
	</array>
	<key>67355</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/3/12/12/sgGirls.com_-_00272064.jpg</string>
	</array>
	<key>67356</key>
	<array>
	  <string>http://rlv.zcache.com/sg_girls_tshirt-p235143464142176018qw5y_125.jpg</string>
	</array>
	<key>67357</key>
	<array>
	  <string>http://lh4.ggpht.com/-jaw7gz0dNhw/S90zyNEWv0I/AAAAAAAAA2Q/OY_QtRfFB4o/sgGirls_com_-_00248606.jpg</string>
	</array>
	<key>67358</key>
	<array>
	  <string>http://www.seashinemag.com/wp-content/uploads/2010/07/SG-girls-gave-blood-150x150.jpg</string>
	</array>
	<key>67359</key>
	<array>
	  <string>http://i125.photobucket.com/albums/p42/0700717320/th_sgGirls.jpg</string>
	</array>
	<key>67360</key>
	<array>
	  <string>http://www.seashinemag.com/wp-content/uploads/2010/07/SG-girls-Mary-Kay-2-150x150.jpg</string>
	</array>
	<key>67361</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/7/11/16/sgGirls.com_-_00184326.jpg</string>
	</array>
	<key>67362</key>
	<array>
	  <string>http://1.bp.blogspot.com/_BFsNfyORMCs/TI33g416qOI/AAAAAAAABFw/EZgPced4-WA/s640/sgGirls.com_-_00311988.jpg</string>
	</array>
	<key>67363</key>
	<array>
	  <string>http://imagehost.ngobrolaja.com/files/Massacare/sgGirls_80.jpg</string>
	</array>
	<key>67364</key>
	<array>
	  <string>http://lh3.ggpht.com/_dNIGIBB-oNI/TL8C9TRqeoI/AAAAAAAAABk/D49vg5t-KGg/sgGirls.com_-_00240031.jpg</string>
	</array>
	<key>67365</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/8/18/12/sgGirls.com_-_00217311.jpg</string>
	</array>
	<key>67366</key>
	<array>
	  <string>http://4.bp.blogspot.com/-QV8YoduAv_k/TZT-HQENPcI/AAAAAAAAABA/sUcD9CyYdjs/s72-c/sgGirls.com_-_00231691.jpg</string>
	</array>
	<key>67367</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/124/301980124/icon_75x75.jpg</string>
	</array>
	<key>67368</key>
	<array>
	  <string>http://www.billsfamouspizza.com/wp-content/uploads/Handsome%20Hunk.jpg</string>
	</array>
	<key>67369</key>
	<array>
	  <string>http://th880.photobucket.com/albums/ac3/brightstartalentmodels/th_sgGirls_com_-_00225296.jpg</string>
	</array>
	<key>67370</key>
	<array>
	  <string>http://l-userpic.livejournal.com/101945109/28512195</string>
	</array>
	<key>67371</key>
	<array>
	  <string>http://uploads.ph/online/data/media/33/sgGirls_com_-_00218095.jpg</string>
	</array>
	<key>67372</key>
	<array>
	  <string>http://1.bp.blogspot.com/_BFsNfyORMCs/TI32X8kytpI/AAAAAAAABFY/ZirJkloRr74/s640/sgGirls.com_-_00313441.jpg</string>
	</array>
	<key>67373</key>
	<array>
	  <string>http://www.usagi.org/doi/images/sg/icons/Imanami1.gif</string>
	</array>
	<key>67374</key>
	<array>
	  <string>http://a1.twimg.com/profile_images/442516840/sgGirls.com_-_00206699_bigger.jpg</string>
	</array>
	<key>67375</key>
	<array>
	  <string>http://static.stomp.com.sg/site/servlet/linkableblob/stomp/296390/data/brit3jpg1261464542668-data.jpg</string>
	</array>
	<key>67376</key>
	<array>
	  <string>http://www.shop.kotenha.com/ec-classic/photo/jacketcdj/3201071268.jpg</string>
	</array>
	<key>67377</key>
	<array>
	  <string>http://www.sggirls.com/sggirlsphotos/8/12/16/sgGirls.com_-_00115756.jpg</string>
	</array>
	<key>67378</key>
	<array>
	  <string>http://farm1.static.flickr.com/226/450875018_35ece73abe.jpg</string>
	</array>
	<key>67379</key>
	<array>
	  <string>http://th880.photobucket.com/albums/ac3/brightstartalentmodels/th_sgGirls_com_-_00246447.jpg</string>
	</array>
	<key>67380</key>
	<array>
	  <string>http://th04.deviantart.net/fs70/150/f/2010/023/f/0/SG_Girls__Digital__by_SGProduction.jpg</string>
	</array>
	<key>67381</key>
	<array>
	  <string>http://image.rakuten.co.jp/kantei-c/cabinet/16/4988001461999.jpg</string>
	</array>
	<key>67382</key>
	<array>
	  <string>http://auction.thumbnail.image.rakuten.co.jp/@0_auc/image51/35/74/00010005151/55/94/img00300973942.jpg</string>
	</array>
	<key>67383</key>
	<array>
	  <string>http://www.disclegend.com/images/2010/02/24/D/img419.jpg</string>
	</array>
	<key>67384</key>
	<array>
	  <string>http://www.disclegend.com/images/2010/02/24/D/img418.jpg</string>
	</array>
	<key>67385</key>
	<array>
	  <string>http://static.stomp.com.sg/site/servlet/linkableblob/stomp/496816/thumbnail/not_just_kung_fu_uncles_sg_girls_show_off_dance_moves_on_mrt-thumbnail.jpg</string>
	</array>
	<key>67386</key>
	<array>
	  <string>http://tsuchiura.cocolog-nifty.com/photos/uncategorized/2009/03/15/photo315.png</string>
	</array>
	<key>67387</key>
	<array>
	  <string>http://a2.twimg.com/profile_images/1200917854/Untitled-1_copy_bigger.jpg</string>
	</array>
	<key>67388</key>
	<array>
	  <string>http://posterous.com/getfile/files.posterous.com/apokolypsse/bFdlsirQOpW8qk4eeg6lfhQuqhZX9mzHhOL6FH9CbVsvrkmXsou4qXmAiSDU/photo.jpg.scaled.1000.jpg</string>
	</array>
	<key>67389</key>
	<array>
	  <string>http://th880.photobucket.com/albums/ac3/brightstartalentmodels/th_sgGirls_com_-_00246450.jpg</string>
	</array>
	<key>67390</key>
	<array>
	  <string>http://tn-skr4.smilevideo.jp/smile?i=4912551</string>
	</array>
	<key>67391</key>
	<array>
	  <string>http://bp1.blogger.com/_AtHEjoQ5WSk/Rx7QHo3b3BI/AAAAAAAAABU/nrHuMwkn1N0/s320/sgGirls.jpg</string>
	</array>
	<key>67392</key>
	<array>
	  <string>http://files.myopera.com/WELCOME-scenery/albums/549965/thumbs/sgGirls.com_-_00154818.jpg_thumb.jpg</string>
	</array>
	<key>67393</key>
	<array>
	  <string>http://mynameisdel.tripod.com/vivahotbabes/thumbnails/400x300/sgGirls16_2.jpg</string>
	</array>
	<key>67394</key>
	<array>
	  <string>http://dc311.4shared.com/img/dKe2dZXP/sgGirls_com_-_00336223.jpg?async</string>
	</array>
	<key>67395</key>
	<array>
	  <string>http://thumbs.myopera.com/sz/colx/hiepanh88/albums/812956/sgGirls.com_-_00079155.jpg</string>
	</array>
	<key>67396</key>
	<array>
	  <string>http://fc01.deviantart.net/fs70/f/2010/023/f/0/SG_Girls__Digital__by_SGProduction.jpg</string>
	</array>
	<key>67397</key>
	<array>
	  <string>http://th08.deviantart.net/fs70/PRE/f/2010/023/f/0/SG_Girls__Digital__by_SGProduction.jpg</string>
	</array>
	<key>67398</key>
	<array>
	  <string>http://s3.amazonaws.com/twitter_production/profile_images/183545657/sgGirls.com_tn_-_00277882_bigger.jpg</string>
	</array>
	<key>67399</key>
	<array>
	  <string>http://i38.photobucket.com/albums/e143/gsrturbo9166/sgGirls-1.jpg</string>
	</array>
	<key>67400</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/1/7/0/sgGirls.com_-_00171609.jpg</string>
	</array>
	<key>67401</key>
	<array>
	  <string>http://fdca.dateinasia.com/Members/Photos/1758621_gallery_634401597410000000.jpg</string>
	</array>
	<key>67402</key>
	<array>
	  <string>http://lh4.ggpht.com/_G-KzNbJuilQ/SU1M52rvEaI/AAAAAAAACKE/B0rGlm-5nbQ/sgGirls.com__002667192.jpg</string>
	</array>
	<key>67403</key>
	<array>
	  <string>http://nerv.freeblog.hu/Files/sgGirls.com_-_00104413.jpeg</string>
	</array>
	<key>67404</key>
	<array>
	  <string>http://a2.twimg.com/profile_images/231190795/sgGirls_com_-_00205117_normal.jpg</string>
	</array>
	<key>67405</key>
	<array>
	  <string>http://3.bp.blogspot.com/_frcxRGVofJY/SqyJg6K1rGI/AAAAAAAAABs/TsYP7Ia7iHU/s400/sgGirls_134.jpg</string>
	</array>
	<key>67406</key>
	<array>
	  <string>http://a3.twimg.com/profile_images/399370898/sgGirls.com_-_00205106_bigger.jpg</string>
	</array>
	<key>67407</key>
	<array>
	  <string>http://a0.twimg.com/profile_images/1382954647/74395888sgGirls-58_normal.jpg</string>
	</array>
	<key>67408</key>
	<array>
	  <string>http://i38.photobucket.com/albums/e143/gsrturbo9166/sgGirls-2.jpg</string>
	</array>
	<key>67409</key>
	<array>
	  <string>http://forums.hardwarezone.com.sg/image.php?u=105939&amp;amp;dateline=1304856431</string>
	</array>
	<key>67410</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/5/14/15/sgGirls.com_-_00184020.jpg</string>
	</array>
	<key>67411</key>
	<array>
	  <string>http://s3.amazonaws.com/twitter_production/profile_images/184269782/sgGirls.com_tn_-_00277472_bigger.jpg</string>
	</array>
	<key>67412</key>
	<array>
	  <string>http://a3.twimg.com/profile_images/184157211/sgGirls.com_tn_-_00277729_bigger.jpg</string>
	</array>
	<key>67413</key>
	<array>
	  <string>http://a1.twimg.com/profile_images/184159678/sgGirls.com_tn_-_00277783_bigger.jpg</string>
	</array>
	<key>67414</key>
	<array>
	  <string>http://th01.deviantart.net/fs71/150/f/2010/224/5/b/SG_v_SV_2_by_photoswithattitude.jpg</string>
	</array>
	<key>67415</key>
	<array>
	  <string>http://sgstb.msn.com/i/1C/46CB5988C4FA0E6793F86CC7C22A.jpg</string>
	</array>
	<key>67416</key>
	<array>
	  <string>https://si1.twimg.com/profile_images/1371751084/IMG-20110528-00856_-_Copy__480x640__normal.jpg</string>
	</array>
	<key>67417</key>
	<array>
	  <string>http://th192.photobucket.com/albums/z313/importeater/SG/th_sg.jpg</string>
	</array>
	<key>67418</key>
	<array>
	  <string>http://2.bp.blogspot.com/_-0IukSrl_sg/THoPEiB_yiI/AAAAAAAAAAk/eQM8c7JyVVk/S45/10837_187274652230_528712230_3409437_7103479_n.jpg</string>
	</array>
	<key>67419</key>
	<array>
	  <string>http://3.bp.blogspot.com/_bJYl0iaaKYg/S9qI8BjmICI/AAAAAAAAHYI/ZGdLoLwTabI/s1600/sgGirls_com_-_00013641.jpg</string>
	</array>
	<key>67420</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/4/13/1/sgGirls.com_-_00172087.jpg</string>
	</array>
	<key>67421</key>
	<array>
	  <string>http://www.sugagloss.co.uk/blog/wp-content/uploads/2011/04/Festival-Season.jpg</string>
	</array>
	<key>67422</key>
	<array>
	  <string>http://www.fotoshack.us/fotos/34339this%202%20rocal%20sg%20girls%20can%20make%20it.png</string>
	</array>
	<key>67423</key>
	<array>
	  <string>http://sggirlsmirror4.j37.com/sggirlsphotos/15/9/4/sgGirls.com_-_00193682.jpg</string>
	</array>
	<key>67424</key>
	<array>
	  <string>http://c4.ac-images.myspacecdn.com/images02/134/m_5ac2524d880b4ba3a58c642f6502aa0f.jpg</string>
	</array>
	<key>67425</key>
	<array>
	  <string>http://pandf.image-dist.net/itemimg/63/101705633.jpg</string>
	</array>
	<key>67426</key>
	<array>
	  <string>http://i212.photobucket.com/albums/cc81/jonalyn_18/th_ASAP_sg_Beautiful_Girls-_09Dec07.jpg</string>
	</array>
	<key>67427</key>
	<array>
	  <string>http://www.vanda.co.jp/imagem/240/IND/M/IND_MZCF-1232.jpg</string>
	</array>
	<key>67428</key>
	<array>
	  <string>http://2.bp.blogspot.com/_d9f4N51KzSs/SqtDdlQiSTI/AAAAAAAASdk/w0xfk1okHQE/s400/sgGirls.com_-_00001835.jpg</string>
	</array>
	<key>67429</key>
	<array>
	  <string>http://i192.photobucket.com/albums/z56/romie2959/HuirongCG04a.jpg</string>
	</array>
	<key>67430</key>
	<array>
	  <string>http://i1001.photobucket.com/albums/af134/ball45/sgGirls11.jpg</string>
	</array>
	<key>67431</key>
	<array>
	  <string>http://i1001.photobucket.com/albums/af134/ball45/th_sgGirls11.jpg</string>
	</array>
	<key>67432</key>
	<array>
	  <string>http://i172.photobucket.com/albums/w34/lauk4kicks/Misc/sgGirls_com_-_00295849.jpg</string>
	</array>
	<key>67433</key>
	<array>
	  <string>http://i242.photobucket.com/albums/ff177/soccer4linz3/spice%20girls/th_MVI_4559.jpg</string>
	</array>
	<key>67434</key>
	<array>
	  <string>http://2.bp.blogspot.com/_d9f4N51KzSs/R3avWBU9rrI/AAAAAAAADUk/oe595KzFIh8/s400/sgGirls.com_-_00218331.jpg</string>
	</array>
	<key>67435</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/ooie/cabinet/img56999379.jpg?_ex=400x400</string>
	</array>
	<key>67436</key>
	<array>
	  <string>http://29.media.tumblr.com/tumblr_lk90v2YtZj1qaixzwo1_100.jpg</string>
	</array>
	<key>67437</key>
	<array>
	  <string>http://nowrunning.com/gallery/Hindi/actors/amir/nAmir02.jpg</string>
	</array>
	<key>67438</key>
	<array>
	  <string>http://nowrunning.com/gallery/Hindi/actors/sharuk/sharuk16.jpg</string>
	</array>
	<key>67439</key>
	<array>
	  <string>http://lh3.ggpht.com/_pLihQz7YW_4/SYGspKHhvrI/AAAAAAAAHOg/ZY-PXov7z4k/SGGirls_thumb%5B2%5D.png</string>
	</array>
	<key>67440</key>
	<array>
	  <string>http://2.bp.blogspot.com/_h5I5LyyWPXc/Sw5_DRtcVrI/AAAAAAAAADo/Rk9-GW7ZJMc/s72-c/iPhone+SG+Girls+App+Pic.jpg</string>
	</array>
	<key>67441</key>
	<array>
	  <string>http://26.media.tumblr.com/avatar_b24d4d2c6f8a_128.png</string>
	</array>
	<key>67442</key>
	<array>
	  <string>http://sgstb.msn.com/i/9E/B948F2E76CFE5BA43B1827F7C9395B.jpg</string>
	</array>
	<key>67443</key>
	<array>
	  <string>http://profile.ak.fbcdn.net/hprofile-ak-snc4/187476_822472258_4434111_q.jpg</string>
	</array>
	<key>67444</key>
	<array>
	  <string>http://4.bp.blogspot.com/_vJaVMN_XREI/TNXvvbGKDaI/AAAAAAAAAAw/YwVBrqcALjQ/s1600/sgGirls.com_-_00341323.jpg</string>
	</array>
	<key>67445</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/15/16/15/sgGirls.com_-_00184068.jpg</string>
	</array>
	<key>67446</key>
	<array>
	  <string>http://www.sugagloss.co.uk/blog/wp-content/uploads/2011/06/Spice-Up-Your-Shower-Time.jpg</string>
	</array>
	<key>67447</key>
	<array>
	  <string>http://sggirlsmirror1.j37.com/sggirlsphotos/15/1/16/sgGirls.com_-_00142990.jpg</string>
	</array>
	<key>67448</key>
	<array>
	  <string>http://thumb6.webshots.net/s/thumb1/4/46/91/108344691fVtCEU_th.jpg</string>
	</array>
	<key>67449</key>
	<array>
	  <string>http://iheartapple.org/e/wp-content/uploads/2009/01/junda-iheartapple.jpg</string>
	</array>
	<key>67450</key>
	<array>
	  <string>http://sggirlsmirror3.j37.com/sggirlsphotos/14/9/1/sgGirls.com_-_00185739.jpg</string>
	</array>
</array>
</plist>
