<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>70851</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/2007/10/99869_200710030958381.jpg</string>
	</array>
	<key>70852</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2007-11/13/xin_55311041311053751653637.jpg</string>
	</array>
	<key>70853</key>
	<array>
	  <string>http://data.yule.sohu.com/star/pic/star/1/1315/default.jpg</string>
	</array>
	<key>70854</key>
	<array>
	  <string>http://www.beelink.com/20070604/103280.jpg</string>
	</array>
	<key>70855</key>
	<array>
	  <string>http://img.022net.com/ImgFile/201001/28/17/6172283332308173613.jpg</string>
	</array>
	<key>70856</key>
	<array>
	  <string>http://diy.mlilm.com/uploadfile/2009/0727/20090727051037813.jpg</string>
	</array>
	<key>70857</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/11/07/ylrita081107043.jpg</string>
	</array>
	<key>70858</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/liubin/2009/0223/53.jpg</string>
	</array>
	<key>70859</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/v/m/2007-02-12/U1737P28T3D1449139F326DT20070212190434.jpg</string>
	</array>
	<key>70860</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090612/120161H31L0-1.jpg</string>
	</array>
	<key>70861</key>
	<array>
	  <string>http://ent.ce.cn/tv/tvnews/dshxw/200806/20/W020080620552012468633.jpg</string>
	</array>
	<key>70862</key>
	<array>
	  <string>http://img.1626.com/images/userup/0902/231HZ4YK.jpg</string>
	</array>
	<key>70863</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200902/26/F200902261538393108129021.jpg</string>
	</array>
	<key>70864</key>
	<array>
	  <string>http://bsp1.yokacdn.com/starimg/300_400/23806730c4aeadc93e63d4e9fbd28de3.jpg</string>
	</array>
	<key>70865</key>
	<array>
	  <string>http://img.my.tv.cctv.com/attachments/2008/07/386961_200807101732124.jpg</string>
	</array>
	<key>70866</key>
	<array>
	  <string>http://img.9sky.com/artist/19717.jpg</string>
	</array>
	<key>70867</key>
	<array>
	  <string>http://www.ppzw.com/UploadFiles/200912917368652.jpg</string>
	</array>
	<key>70868</key>
	<array>
	  <string>http://media.people.com.cn/mediafile/200905/08/F200905081817538621154379.jpg</string>
	</array>
	<key>70869</key>
	<array>
	  <string>http://pic.jxnews.com.cn/0/02/12/81/2128155_762099.jpg</string>
	</array>
	<key>70870</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/05/85/58/5855871_401517.jpg</string>
	</array>
	<key>70871</key>
	<array>
	  <string>http://amuse.nen.com.cn/73749755317977088/20080720/50357_17253.jpg</string>
	</array>
	<key>70872</key>
	<array>
	  <string>http://www.sinaimg.cn/ent/y/2007-06-13/U1817P28T3D1596188F326DT20070613191110.jpg</string>
	</array>
	<key>70873</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/23/3628149_843.jpg</string>
	</array>
	<key>70874</key>
	<array>
	  <string>http://www.it.com.cn/f/notebook/0812/3/1203_nb_2.jpg</string>
	</array>
	<key>70875</key>
	<array>
	  <string>http://joy.online.sh.cn/joys/gb/content/attachement/jpg/site1/20100623/0025116ac9cd0d8b9ea525.jpg</string>
	</array>
	<key>70876</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/04/70/74/4707425_965356.jpg</string>
	</array>
	<key>70877</key>
	<array>
	  <string>http://ent.1ting.com/up_files/pic/2009/3/S9272597_20090313093807_1.jpg</string>
	</array>
	<key>70878</key>
	<array>
	  <string>http://images.enet.com.cn/2009/0317/22/2554034.jpg</string>
	</array>
	<key>70879</key>
	<array>
	  <string>http://album.jinti.com/Stars/UpFiles/FCKFiles/2137435_566169.jpg?w=140&amp;amp;h=93</string>
	</array>
	<key>70880</key>
	<array>
	  <string>http://ent.ce.cn/tv/tvnews/dshxw/200806/20/W020080620552013974733.jpg</string>
	</array>
	<key>70881</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090623/o/7FD0261A1D3A0981537812DC53B1B36E.jpg</string>
	</array>
	<key>70882</key>
	<array>
	  <string>http://ent.1ting.com/up_files/pic/2009/4/S9919668_20090417100707_1.jpg</string>
	</array>
	<key>70883</key>
	<array>
	  <string>http://www.bin-jiao.com/upload/%E9%BB%84%E6%99%93%E6%98%8E1.jpg</string>
	</array>
	<key>70884</key>
	<array>
	  <string>http://news.cctv.com/20090912/images/1252721509922_070408180fa_3.jpg</string>
	</array>
	<key>70885</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/v/m/p/2006-01-19/U1343P28T3D965559F328DT20060119131008.JPG</string>
	</array>
	<key>70886</key>
	<array>
	  <string>http://www.sinaimg.cn/ent/y/p/2007-07-11/U1817P28T3D1633658F358DT20070711104004.jpg</string>
	</array>
	<key>70887</key>
	<array>
	  <string>http://img.ifeng.com/hres/200810/28/14/0118a8cf35f69dec75914a0ae50068bc.jpg</string>
	</array>
	<key>70888</key>
	<array>
	  <string>http://www.qikuqi.com/uploads/allimg/090409/1311162.jpg</string>
	</array>
	<key>70889</key>
	<array>
	  <string>http://www.downsc.com/star_pic/star_iecool/4/21/b_img/20660.jpg</string>
	</array>
	<key>70890</key>
	<array>
	  <string>http://news.bandao.cn/news_upload/200904/20090409112308_F2OPR4PG.gif</string>
	</array>
	<key>70891</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/04/44/14/4441420_945773.jpg</string>
	</array>
	<key>70892</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/m/p/2008-04-17/U2519P28T3D1990676F326DT20080417012810.jpg</string>
	</array>
	<key>70893</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2008-07/03/xin_292070503071398410384.jpg</string>
	</array>
	<key>70894</key>
	<array>
	  <string>http://ent.sg.com.cn/uploadfiles/2007/12/3/140455.jpg</string>
	</array>
	<key>70895</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/v/m/2007-02-26/U1921P28T3D1459313F326DT20070226115714.jpg</string>
	</array>
	<key>70896</key>
	<array>
	  <string>http://img003.photo.21cn.com/photos/album/20080506/o/F9C7A63A74F56283CC96F170E0DFB3DF.jpg</string>
	</array>
	<key>70897</key>
	<array>
	  <string>http://photocdn.sohu.com/20061013/Img245782442.jpg</string>
	</array>
	<key>70898</key>
	<array>
	  <string>http://pic.anhuinews.com/0/01/34/02/1340296_102822.jpg</string>
	</array>
	<key>70899</key>
	<array>
	  <string>http://www.jj831.com/ent/UploadFiles_4409/200808/2008080810424027.jpg</string>
	</array>
	<key>70900</key>
	<array>
	  <string>http://file.iqilu.com/upimg/allimg/080717/1051430.jpg</string>
	</array>
	<key>70901</key>
	<array>
	  <string>http://oepic.oeeee.com/200902/01/0/17108478848573014032.jpg</string>
	</array>
	<key>70902</key>
	<array>
	  <string>http://www.fenggang.gov.cn/shenghuo/UploadFiles_6984/200807/20080711110812507.jpg</string>
	</array>
	<key>70903</key>
	<array>
	  <string>http://www.chinadaily.com.cn/hqyl/images/attachement/jpg/site1/20090612/00221917eae80b9c326063.jpg</string>
	</array>
	<key>70904</key>
	<array>
	  <string>http://attach.hunantv.com/uploads/images/large/20090113/13111631C63_small.jpg</string>
	</array>
	<key>70905</key>
	<array>
	  <string>http://pica.nipic.com/2008-06-27/20086279521535_2.jpg</string>
	</array>
	<key>70906</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200901/20090113071436185.JPG</string>
	</array>
	<key>70907</key>
	<array>
	  <string>http://images.xooob.com/20081289/200812893159376.jpg</string>
	</array>
	<key>70908</key>
	<array>
	  <string>http://ent.1ting.com/up_files/pic/2008/7/S6029007_20080703111354_1.jpg</string>
	</array>
	<key>70909</key>
	<array>
	  <string>http://www.qm10.cn/jueerdsm/admin/UploadFiles/20084917426813.jpg</string>
	</array>
	<key>70910</key>
	<array>
	  <string>http://img.bimg.126.net/photo/SKoVIA7uo41f8KjPnp1UHA==/5081749229534524926.jpg</string>
	</array>
	<key>70911</key>
	<array>
	  <string>http://old.jfdaily.com/gb/jfxww/xj/node25218/images/00061723.jpg</string>
	</array>
	<key>70912</key>
	<array>
	  <string>http://photocdn.sohu.com/20050704/Img226179625.jpg</string>
	</array>
	<key>70913</key>
	<array>
	  <string>http://img.blog.163.com/photo/inc_KL8LnPUWOHFnv7JjcQ==/4233946599682095188.jpg</string>
	</array>
	<key>70914</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090316/o/51589BBE6D79894AA557E21884FE3379.jpg</string>
	</array>
	<key>70915</key>
	<array>
	  <string>http://www.youth.cn/mx/tp/200901/W020090119534562062068.jpg</string>
	</array>
	<key>70916</key>
	<array>
	  <string>http://news.xatvs.com/uploadimg2/200805/8/20080508103727_3.jpg</string>
	</array>
	<key>70917</key>
	<array>
	  <string>http://www.gscn.com.cn/Up_pic/BeyondPic/2007-6/6/U1935P28T3D1584623F326DT20070606092355.jpg</string>
	</array>
	<key>70918</key>
	<array>
	  <string>http://www.shxb.net/newspic/20080704/huangyh080762.jpg</string>
	</array>
	<key>70919</key>
	<array>
	  <string>http://cimg20.163.com/ent/2008/4/6/2008040613500320b33.jpg</string>
	</array>
	<key>70920</key>
	<array>
	  <string>http://shequ.tieliu.com.cn/attachments/2008/09/04/5669_200809041305342rjEx.jpg</string>
	</array>
	<key>70921</key>
	<array>
	  <string>http://star.radio.cn/tpxw/200909/W020090926412798356827.jpg</string>
	</array>
	<key>70922</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200812/10/24/17996912799501517964.jpg</string>
	</array>
	<key>70923</key>
	<array>
	  <string>http://idoimg.3mt.com.cn/Article/upload/200901/090120014044610.jpg</string>
	</array>
	<key>70924</key>
	<array>
	  <string>http://ent.stnn.cc/ent_china/200907/W020090713547143787609.jpg</string>
	</array>
	<key>70925</key>
	<array>
	  <string>http://www.kanzhongguo.com/news/up/newsimg/20065/2006_5_23_U1171P28T3D1089862F326DT20060523080928.jpg</string>
	</array>
	<key>70926</key>
	<array>
	  <string>http://pic1a.nipic.com/20090324/2142568_004809819_2.jpg</string>
	</array>
	<key>70927</key>
	<array>
	  <string>http://cme.ce.cn/shou/cmdt/200706/14/W020070614370510096404.jpg</string>
	</array>
	<key>70928</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/v/p/2009-03-16/U3075P28T3D2422025F346DT20090316103704.jpg</string>
	</array>
	<key>70929</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090217/o/A55C3A120524A5EDAB593F324745B379.jpg</string>
	</array>
	<key>70930</key>
	<array>
	  <string>http://www.gog.com.cn/pic/0/10/30/25/10302512_242211.jpg</string>
	</array>
	<key>70931</key>
	<array>
	  <string>http://image.xinmin.cn/2009/03/16/20090316130906571495.jpg</string>
	</array>
	<key>70932</key>
	<array>
	  <string>http://space.hunantv.com/attachments/2009/03/16/785453_2009031609455910BcP.jpg</string>
	</array>
	<key>70933</key>
	<array>
	  <string>http://pic.yesky.com/picupload2/20060904/134019/423334.jpg</string>
	</array>
	<key>70934</key>
	<array>
	  <string>http://img.hc360.com/home/info/images/200811/200811041626573812.jpg</string>
	</array>
	<key>70935</key>
	<array>
	  <string>http://news.chinafilm.com/upimg/090301/0113213LT7.jpg</string>
	</array>
	<key>70936</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/v/m/p/2009-04-22/U3461P28T3D2485671F326DT20090422115428.JPG</string>
	</array>
	<key>70937</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/liubin/2009/0709/11.jpg</string>
	</array>
	<key>70938</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/2009upimg/2009319114729100.jpg</string>
	</array>
	<key>70939</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090316/1615511U627_small.jpg</string>
	</array>
	<key>70940</key>
	<array>
	  <string>http://www.stnn.cc/ent_focus/200812/W020081208810440824631.jpg</string>
	</array>
	<key>70941</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/2009upimg/200949103037436.jpg</string>
	</array>
	<key>70942</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200901/20090113071435504.jpg</string>
	</array>
	<key>70943</key>
	<array>
	  <string>http://mt0.haibao.tv/store/bigfiles/200729/1184566430.6443.jpg</string>
	</array>
	<key>70944</key>
	<array>
	  <string>http://i1.ce.cn/ent/main/movie/hydy/200810/06/W020081006421258595428.jpg</string>
	</array>
	<key>70945</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/06/05/98/6059883_503669.jpg</string>
	</array>
	<key>70946</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200903/18/7/8118198540216920043.jpg</string>
	</array>
	<key>70947</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2008/11/20/ea081120046.jpg</string>
	</array>
	<key>70948</key>
	<array>
	  <string>http://www.dahe.cn/xwzx/yl/ylyy/W020091029280973438889.jpg</string>
	</array>
	<key>70949</key>
	<array>
	  <string>http://news.yule.com.cn/html/UploadPic/2008-3/200831116341417971.jpg</string>
	</array>
	<key>70950</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20091025/o/A03CA2F22B9A82F027DE70D22ABCF16E.jpg</string>
	</array>
	<key>70951</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/11/07/ylrita081107044.jpg</string>
	</array>
	<key>70952</key>
	<array>
	  <string>http://data.ifensi.com/star/starphoto/0/1/14/1436/1436_big.jpg</string>
	</array>
	<key>70953</key>
	<array>
	  <string>http://119.img.pp.sohu.com/images/blog/2007/12/16/9/13/1177cebefb0.jpg</string>
	</array>
	<key>70954</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/zhiban1/2007/10/22/49.jpg</string>
	</array>
	<key>70955</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20071026/images/01106925.jpg</string>
	</array>
	<key>70956</key>
	<array>
	  <string>http://www.gog.com.cn/pic/0/10/19/43/10194322_076764.jpg</string>
	</array>
	<key>70957</key>
	<array>
	  <string>http://www.mychinaclub.com/files/images/20080918/20080918025413.jpg</string>
	</array>
	<key>70958</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090315/15112022I34_small.jpg</string>
	</array>
	<key>70959</key>
	<array>
	  <string>http://img.hc360.com/cloth/info/images/200906/200906170347486587.jpg</string>
	</array>
	<key>70960</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090530/o/61916FB95E1E3AC9455699AC63FD2ED1.jpg</string>
	</array>
	<key>70961</key>
	<array>
	  <string>http://images.star.mop.com/starnews/mainland/2008-09-08/16_3_109378_101_261_20080908092206.jpg</string>
	</array>
	<key>70962</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/54/6e/sj566029/folder/1768142/img_1768142_49244642_0?1233139193</string>
	</array>
	<key>70963</key>
	<array>
	  <string>http://ent.0517.com.cn/UploadFiles_7138/200806/2008062801124870.jpg</string>
	</array>
	<key>70964</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/07/091949298166.jpg</string>
	</array>
	<key>70965</key>
	<array>
	  <string>http://images.rednet.cn/articleimage/2008/04/17/929057181.jpg</string>
	</array>
	<key>70966</key>
	<array>
	  <string>http://www.hilizi.com/newsnew/attachement/jpg/site1/20090508/002197ab10740b6dcbe127.jpg</string>
	</array>
	<key>70967</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/09/10/ently20080910002.jpg</string>
	</array>
	<key>70968</key>
	<array>
	  <string>http://www.xinsilu.com/Article/UploadFiles/200709/20070908141956915.jpg</string>
	</array>
	<key>70969</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200910/26/F200910260849135485976421.jpg</string>
	</array>
	<key>70970</key>
	<array>
	  <string>http://big51.chinataiwan.org/xwzx/yshyl/200803/W020080319345811605766.jpg</string>
	</array>
	<key>70971</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/8/5/fangjinming/1249427732392_23001.jpg</string>
	</array>
	<key>70972</key>
	<array>
	  <string>http://www.sinaimg.cn/ent/s/h/2007-08-27/c2306bce5f67fa31f4e9d8ad9a52c0b1.jpg</string>
	</array>
	<key>70973</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/y/p/2008-01-13/U1513P28T3D1873859F326DT20080113195658.JPG</string>
	</array>
	<key>70974</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/541/423704541/preview2.jpg</string>
	</array>
	<key>70975</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/5/5/U996P28T3D2013106F326DT20080505102553.jpg</string>
	</array>
	<key>70976</key>
	<array>
	  <string>http://pic.jxnews.com.cn/0/02/35/54/2355442_078670.jpg</string>
	</array>
	<key>70977</key>
	<array>
	  <string>http://idoimg.3mt.com.cn/Article/upload/200702/070207010071190.jpg</string>
	</array>
	<key>70978</key>
	<array>
	  <string>http://news.hainan.net/Editor/UploadFile07/2007w9r26f/200792614386700.jpg</string>
	</array>
	<key>70979</key>
	<array>
	  <string>http://pic.chinafilm.com/upimg/080909/25_1327142941.jpg</string>
	</array>
	<key>70980</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/541/423704541/icon_75x75.jpg</string>
	</array>
	<key>70981</key>
	<array>
	  <string>http://photocdn.sohu.com/20070328/Img249043218.jpg</string>
	</array>
	<key>70982</key>
	<array>
	  <string>http://img.ivsky.com/img/bizhi/img/201106/11/huangxiaoming_gaoqing-024.jpg</string>
	</array>
	<key>70983</key>
	<array>
	  <string>http://ent.gz163.cn/images_ent/2008/12/16/2008121676B4D96AB5D14324BADC99A92CF8344F.jpg</string>
	</array>
	<key>70984</key>
	<array>
	  <string>http://images.movie.mop.com/tv/2007-07-16/28_8_19479_172_94_20070716075521.jpg</string>
	</array>
	<key>70985</key>
	<array>
	  <string>http://img.hc360.com/leather/info/images/201006/201006181459193859.jpg</string>
	</array>
	<key>70986</key>
	<array>
	  <string>http://pic.jxnews.com.cn/0/02/12/81/2128157_271587.jpg</string>
	</array>
	<key>70987</key>
	<array>
	  <string>http://images.yule.tom.com/data3/upload/912/231/12532282411748219580.jpg</string>
	</array>
	<key>70988</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200808/23/57/7605519826753259553.jpg</string>
	</array>
	<key>70989</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2007-11/11/xin_5921104110940000771012.jpg</string>
	</array>
	<key>70990</key>
	<array>
	  <string>http://img.ivsky.com/img/bizhi/img/201106/11/huangxiaoming_gaoqing-002.jpg</string>
	</array>
	<key>70991</key>
	<array>
	  <string>http://photocdn.sohu.com/20080122/Img254804520.jpg</string>
	</array>
	<key>70992</key>
	<array>
	  <string>http://oepic.oeeee.com/200809/30/82/9949510034659476882.jpg</string>
	</array>
	<key>70993</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/m/2007-04-04/U1935P28T3D1504919F326DT20070404120131.jpg</string>
	</array>
	<key>70994</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/541/423704541/preview4.jpg</string>
	</array>
	<key>70995</key>
	<array>
	  <string>http://www.cnpunk.com/uploads/allimg/080509/2055280.jpg</string>
	</array>
	<key>70996</key>
	<array>
	  <string>http://www.bj-xinhua.com/uploadfiles/2008100046.jpg</string>
	</array>
	<key>70997</key>
	<array>
	  <string>http://www.dahe.cn/xwzx/yl/mx/nd/W020071113387226259741.jpg</string>
	</array>
	<key>70998</key>
	<array>
	  <string>http://img1.efu.com.cn/upfile/news/commonly/2008/2008-01-21/dsl_aoyundsl13.jpg</string>
	</array>
	<key>70999</key>
	<array>
	  <string>http://www.chinaweblaw.com/upload/2009-01/09011823197130s.jpg</string>
	</array>
	<key>71000</key>
	<array>
	  <string>http://1.bp.blogspot.com/_0aFbVJwEBxw/S9PSz2sQghI/AAAAAAAAAv4/qWIMrroTR_8/s1600/%E9%BB%84%E6%99%93%E6%98%8E4.jpg</string>
	</array>
	<key>71001</key>
	<array>
	  <string>http://www.aimingxing.com/attachments/tuwen/huangxiaoming_5wc1nr.jpg</string>
	</array>
	<key>71002</key>
	<array>
	  <string>http://imgs.soufun.com/news/2008_04/25/1209088452078_000.jpg</string>
	</array>
	<key>71003</key>
	<array>
	  <string>http://imgn.vv8.com/editupload/20080303113453447.jpg</string>
	</array>
	<key>71004</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/v/m/2009-01-03/U1817P28T3D2325674F329DT20090103091843.jpg</string>
	</array>
	<key>71005</key>
	<array>
	  <string>http://img.ifeng.com/hres/200810/28/14/cfc6493547baf3a409f1d8d67bdfa618.jpg</string>
	</array>
	<key>71006</key>
	<array>
	  <string>http://pic3.nipic.com/20090528/1275046_132553095_2.jpg</string>
	</array>
	<key>71007</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2009-08/06/xin_3520806060825062455614.jpg</string>
	</array>
	<key>71008</key>
	<array>
	  <string>http://www.zgjrjw.com/Files/news/2008031209174761528.jpg</string>
	</array>
	<key>71009</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/39/5466159_5021.jpg</string>
	</array>
	<key>71010</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1a02b69q1180d7</string>
	</array>
	<key>71011</key>
	<array>
	  <string>http://bp2.blogger.com/_FyLq1eQoxRw/SIA1yFwQ5dI/AAAAAAAAAVk/bp7L7SzzLUU/s400/%E9%BB%84%E6%99%93%E6%98%8E2+%E6%8B%B7%E8%B4%9D.jpg</string>
	</array>
	<key>71012</key>
	<array>
	  <string>http://my.icxo.com/attachments/2011/04/4114523_201104131601282QJqa.jpg</string>
	</array>
	<key>71013</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/6/5/liuxiaojie/1244171768435_70615.jpg</string>
	</array>
	<key>71014</key>
	<array>
	  <string>http://pic.yesky.com/imagelist/07/22/3536670_m_3536672_9457.jpg</string>
	</array>
	<key>71015</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/v/m/2007-02-13/U1735P28T3D1449742F326DT20070213110016.jpg</string>
	</array>
	<key>71016</key>
	<array>
	  <string>http://news.fdc.com.cn/newsimageupload/219946/10.jpg</string>
	</array>
	<key>71017</key>
	<array>
	  <string>http://img.zyu8.com/newspic/2008/09/01/1721597031.jpg</string>
	</array>
	<key>71018</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1604b5eq10eacb</string>
	</array>
	<key>71019</key>
	<array>
	  <string>http://xiaodaoxiaoxi.meeli.cn/upload/2008/04/22/17ec4620dcbb42df8b3c6228c903770f.jpg</string>
	</array>
	<key>71020</key>
	<array>
	  <string>http://img.blog.163.com/photo/RafF8AGKDVdx06JwvojjYA==/574771902443646472.jpg</string>
	</array>
	<key>71021</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/m/p/2009-03-25/U2507P28T3D2437810F346DT20090325135125.jpg</string>
	</array>
	<key>71022</key>
	<array>
	  <string>http://www.aaaaabbbbb.com/Files/mingxing/091108/6g7x2007913142125%5B1%5D.jpg</string>
	</array>
	<key>71023</key>
	<array>
	  <string>http://www.sinaimg.cn/ent/v/p/2008-07-16/U2184P28T3D2103809F326DT20080716221108.jpg</string>
	</array>
	<key>71024</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2007-07/13/xin_1007041310484372524427.jpg</string>
	</array>
	<key>71025</key>
	<array>
	  <string>http://img.article.pchome.net/00/31/61/57/c4.jpg</string>
	</array>
	<key>71026</key>
	<array>
	  <string>http://img.ivsky.com/img/bizhi/img/201106/11/huangxiaoming_gaoqing-001.jpg</string>
	</array>
	<key>71027</key>
	<array>
	  <string>http://photocdn.sohu.com/20070330/Img249088402.jpg</string>
	</array>
	<key>71028</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200706/07/P200706071415263263859058.jpg</string>
	</array>
	<key>71029</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2008-07/17/xin_41207051708406251938129.jpg</string>
	</array>
	<key>71030</key>
	<array>
	  <string>http://imgs.meinv.cn/allimg/091218/1_121R205392Y5.jpg</string>
	</array>
	<key>71031</key>
	<array>
	  <string>http://msn.ent.ynet.com/img.db?53960143+s(450)</string>
	</array>
	<key>71032</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090316/1609462W021_small.jpg</string>
	</array>
	<key>71033</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/2009_image/200906/2009618101920399.jpg</string>
	</array>
	<key>71034</key>
	<array>
	  <string>http://imgs.soufun.com/news/2009_06/20/house/1245503678597_000.jpg</string>
	</array>
	<key>71035</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=170371aq10aa03</string>
	</array>
	<key>71036</key>
	<array>
	  <string>http://www.mychinaclub.com/files/images/20080918/20080918025545.jpg</string>
	</array>
	<key>71037</key>
	<array>
	  <string>http://res.ladyband.com/2010/04-15/00/remote_267e06882e1fe32f2dc894edcaecb650.jpeg</string>
	</array>
	<key>71038</key>
	<array>
	  <string>http://ent.hiao.com/images/attachement/jpg/site161/20090303/000d878252080b16df5503.jpg</string>
	</array>
	<key>71039</key>
	<array>
	  <string>http://huangxiaoming1.ren.csfqw.com/UploadImage/UploadFile/20100417/20090314151544.jpg</string>
	</array>
	<key>71040</key>
	<array>
	  <string>http://ww.373w.com/category/photo/2008/01/21/60100_20080121_81.jpg</string>
	</array>
	<key>71041</key>
	<array>
	  <string>http://photocdn.sohu.com/20090316/Img262812812.jpg</string>
	</array>
	<key>71042</key>
	<array>
	  <string>http://pic.newssc.org/0/10/59/01/10590154_623792.jpg</string>
	</array>
	<key>71043</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/m/p/2008-07-07/U2519P28T3D2090479F326DT20080707045118.JPG</string>
	</array>
	<key>71044</key>
	<array>
	  <string>http://ent.wst.cn/Hiwx/UploadFiles_4268/200809/20080905123125842.jpg</string>
	</array>
	<key>71045</key>
	<array>
	  <string>http://news.cctv.com/20080410/images/1207781190950_2123071816725199693.jpg</string>
	</array>
	<key>71046</key>
	<array>
	  <string>http://pic1a.nipic.com/2008-08-29/20088299271854_2.jpg</string>
	</array>
	<key>71047</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/22/3536676_m_3536678_9652.jpg</string>
	</array>
	<key>71048</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/wenjing/2009/03/0316/5.11.jpg</string>
	</array>
	<key>71049</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/54/6e/sj566029/folder/1768142/img_1768142_49244642_5?1233139193</string>
	</array>
	<key>71050</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/41/5542073_6389.jpg</string>
	</array>
</dict>
</plist>
