<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>16001</key>
	<array>
	  <string>http://a0.att.hudong.com/93/10/01200000033543115461041277193.jpg</string>
	</array>
	<key>16002</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200812/03/F200812031322131180719295.jpg</string>
	</array>
	<key>16003</key>
	<array>
	  <string>http://data.yule.sohu.com/star/pic/star/2/2208/default.jpg</string>
	</array>
	<key>16004</key>
	<array>
	  <string>http://www.cnwnews.com/uploads/allimg/080910/2106000.jpg</string>
	</array>
	<key>16005</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20070718/images/01019185.jpg</string>
	</array>
	<key>16006</key>
	<array>
	  <string>http://image.gxnews.com.cn/uploadpic/2009/02/16/9d07fa4b227b871df5a5efd261da0702.jpg</string>
	</array>
	<key>16007</key>
	<array>
	  <string>http://a4.att.hudong.com/05/99/01300000196866121704997872082.jpg</string>
	</array>
	<key>16008</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200806/17/F200806171035232122230665.jpg</string>
	</array>
	<key>16009</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20071010/images/01092688.jpg</string>
	</array>
	<key>16010</key>
	<array>
	  <string>http://cimg2.163.com/sports/2006/12/8/20061208152534f40ac.jpg</string>
	</array>
	<key>16011</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200902/17/22/9595307940326228430.jpg</string>
	</array>
	<key>16012</key>
	<array>
	  <string>http://www.zjmxw.com/upload/200910141531931825.jpg</string>
	</array>
	<key>16013</key>
	<array>
	  <string>http://pic1a.nipic.com/20090323/2121777_032721075_2.jpg</string>
	</array>
	<key>16014</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200808/20080829081950300.jpg</string>
	</array>
	<key>16015</key>
	<array>
	  <string>http://art.china.cn/huodong/dghn/attachement/jpg/site8/20100208/001ec92b90290cda141526.jpg</string>
	</array>
	<key>16016</key>
	<array>
	  <string>http://movie.runsky.com/UserFiles/Image/01.jpg</string>
	</array>
	<key>16017</key>
	<array>
	  <string>http://data.yule.baidu.com/images/10/101357.jpg</string>
	</array>
	<key>16018</key>
	<array>
	  <string>http://news.yntv.cn/category/10107/2008/06/20/images/self_20080620_138.jpg</string>
	</array>
	<key>16019</key>
	<array>
	  <string>http://www.taihainet.com/news/UploadFiles_6334/200809/20080906151121844.jpg</string>
	</array>
	<key>16020</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200809/06/45/7620171368999348129.jpg</string>
	</array>
	<key>16021</key>
	<array>
	  <string>http://pic1a.nipic.com/20090320/2121777_001556472_2.jpg</string>
	</array>
	<key>16022</key>
	<array>
	  <string>http://www.fm316.cn/Article/UploadFiles/200910/2009102200574803.jpg</string>
	</array>
	<key>16023</key>
	<array>
	  <string>http://www.star52.cn/starpics/newimages/1218941577.jpg</string>
	</array>
	<key>16024</key>
	<array>
	  <string>http://www.baidugirl.com/hairstyle/UploadFiles_2840/200804/20080410072034101.jpg</string>
	</array>
	<key>16025</key>
	<array>
	  <string>http://pic1.hebei.com.cn/0/10/50/45/10504553_976025.jpg</string>
	</array>
	<key>16026</key>
	<array>
	  <string>http://www.300hu.com/UserFiles/Image/U2520P28T3D2262730F328DT20081123155028.jpg</string>
	</array>
	<key>16027</key>
	<array>
	  <string>http://img.blog.163.com/photo/zAF3qfxwkiSA0SKRlqhJGw==/3984559770317061004.jpg</string>
	</array>
	<key>16028</key>
	<array>
	  <string>http://posters.7176.com/ren-pp/0000706/wTauMKRQu_1224492111.jpg</string>
	</array>
	<key>16029</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/f/p/2006-01-13/U1512P28T3D958398F358DT20060113094713.jpg</string>
	</array>
	<key>16030</key>
	<array>
	  <string>http://news.xinhuanet.com/lady/2008-06/18/xin_37206051114021562585036.jpg</string>
	</array>
	<key>16031</key>
	<array>
	  <string>http://oepic.oeeee.com/200811/23/20/17506038869764836932.jpg</string>
	</array>
	<key>16032</key>
	<array>
	  <string>http://www.chinanews.com/gj/kong/news/2008/06-04/U25P4T8D1272458F107DT20080604162230.jpg</string>
	</array>
	<key>16033</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1f02459q3b583</string>
	</array>
	<key>16034</key>
	<array>
	  <string>http://a3.att.hudong.com/90/10/01200000033543115461046262990.jpg</string>
	</array>
	<key>16035</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1a01230q11a062</string>
	</array>
	<key>16036</key>
	<array>
	  <string>http://news.xinhuanet.com/overseas/2007-10/30/xin_32210043009202962206514.jpg</string>
	</array>
	<key>16037</key>
	<array>
	  <string>http://image.jmrb.com/UploadImages/2007/07/10/images_20070710_145531_4477.jpg</string>
	</array>
	<key>16038</key>
	<array>
	  <string>http://img.sooe.cn/news_pic2/20080701/20080701202817113.jpg</string>
	</array>
	<key>16039</key>
	<array>
	  <string>http://ent.wst.cn/ent/UploadFiles_1055/200810/20081016150615450.jpg</string>
	</array>
	<key>16040</key>
	<array>
	  <string>http://www.gscn.com.cn/Files/2006/B0509-10/2006-6/7/U1326P28T3D1113983F329DT20060607142146.jpg</string>
	</array>
	<key>16041</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200808/23/35/10166661245198213311.jpg</string>
	</array>
	<key>16042</key>
	<array>
	  <string>http://ent.cqnews.net/ys/omdy/200810/W020081017554883884666.jpg</string>
	</array>
	<key>16043</key>
	<array>
	  <string>http://pic1a.nipic.com/20090325/2121777_033859037_2.jpg</string>
	</array>
	<key>16044</key>
	<array>
	  <string>http://www.subaonet.com/Files/2009/News/yaolimeng/8B791AE5C192084/15995664.jpg</string>
	</array>
	<key>16045</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200804/21/F200804211637371854169162.jpg</string>
	</array>
	<key>16046</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/2003-10-02/1065060728_6CaGWV.jpg</string>
	</array>
	<key>16047</key>
	<array>
	  <string>http://msn.ent.ynet.com/img.db?17867595</string>
	</array>
	<key>16048</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2008-03/31/xin_34303053110115782614524.jpg</string>
	</array>
	<key>16049</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1e02e66qc2f86</string>
	</array>
	<key>16050</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20081206/images/01454290.jpg</string>
	</array>
	<key>16051</key>
	<array>
	  <string>http://cimg2.163.com/photo/0005/2008-07-03/4FUE65D400QR0005.jpg</string>
	</array>
	<key>16052</key>
	<array>
	  <string>http://bbs.cn.yimg.com/user_img/200903/09/yingxiong999@yahoo.cn_1236562421777878.jpg</string>
	</array>
	<key>16053</key>
	<array>
	  <string>http://www.baidugirl.com/hairstyle/UploadFiles_2840/200804/20080410072034362.jpg</string>
	</array>
	<key>16054</key>
	<array>
	  <string>http://newpic.jxnews.com.cn/0/11/02/68/11026809_541754.jpg</string>
	</array>
	<key>16055</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20080421/images/01255797.jpg</string>
	</array>
	<key>16056</key>
	<array>
	  <string>http://news.xinhuanet.com/overseas/2007-11/09/xin_472110409142625008551.jpg</string>
	</array>
	<key>16057</key>
	<array>
	  <string>http://a3.att.hudong.com/45/76/01300000196866121704760256988.jpg</string>
	</array>
	<key>16058</key>
	<array>
	  <string>http://photo.sohu.com/20041101/Img222780146.jpg</string>
	</array>
	<key>16059</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200904/28/F200904281044142712301781.jpg</string>
	</array>
	<key>16060</key>
	<array>
	  <string>http://www.insun.com.cn/pu/c/y/2008-11/20081136422363073.jpg</string>
	</array>
	<key>16061</key>
	<array>
	  <string>http://i2.ce.cn/ent/mx/tp/mxpd/200910/20/W020091020281897791050.jpg</string>
	</array>
	<key>16062</key>
	<array>
	  <string>http://news.xinhuanet.com/gangao/2008-03/04/xinsrc_55203050409313121138023.jpg</string>
	</array>
	<key>16063</key>
	<array>
	  <string>http://image.jmrb.com/UploadImages/2007/12/15/images_20071215_221719_54037.jpg</string>
	</array>
	<key>16064</key>
	<array>
	  <string>http://img.blog.163.com/photo/XcqDTL2m_RupkHAi_YlgjQ==/5121155726274879927.jpg</string>
	</array>
	<key>16065</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/12/2488532_m_2488534_4646.jpg</string>
	</array>
	<key>16066</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/h/2007-03-21/U1345P28T3D1487420F326DT20070321123451.jpg</string>
	</array>
	<key>16067</key>
	<array>
	  <string>http://www.huanbohainews.com.cn/pic/0/10/28/67/10286708_894805.jpg</string>
	</array>
	<key>16068</key>
	<array>
	  <string>http://pic.anhuinews.com/0/01/63/87/1638738_019680.jpg</string>
	</array>
	<key>16069</key>
	<array>
	  <string>http://ent.yunnan.cn/images/attachement/jpg/site2/20080526/001cc435601d09a4750112.jpg</string>
	</array>
	<key>16070</key>
	<array>
	  <string>http://she.tom.com/uimg/2009/5/21/panwei/1242890567817_79421.jpg</string>
	</array>
	<key>16071</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/p/2007-05-28/U1584P28T3D1572923F326DT20070528031337.jpg</string>
	</array>
	<key>16072</key>
	<array>
	  <string>http://www.epochtimes.com/i3/2003-4-16-910-yangziqiong.jpg</string>
	</array>
	<key>16073</key>
	<array>
	  <string>http://www.xsnet.cn/news/wy/images/2007/9/5/200795112308.jpg</string>
	</array>
	<key>16074</key>
	<array>
	  <string>http://bizhi.zhuoku.com/wall/20061122/yangziqong/yangziqong013.jpg</string>
	</array>
	<key>16075</key>
	<array>
	  <string>http://bizhi.zhuoku.com/wall/20061122/yangziqong/yangziqong009.jpg</string>
	</array>
	<key>16076</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/c/2005-05-06/U1141P28T3D717280F329DT20050506120457.jpg</string>
	</array>
	<key>16077</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2007-03/22/xinsrc_0220304220933921306221.jpg</string>
	</array>
	<key>16078</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/08/29/ylhj080829009.jpg</string>
	</array>
	<key>16079</key>
	<array>
	  <string>http://photocdn.sohu.com/20070904/Img251942750.jpg</string>
	</array>
	<key>16080</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/04/030441462980.jpg</string>
	</array>
	<key>16081</key>
	<array>
	  <string>http://ent.wst.cn/ent/UploadFiles_1055/200810/20081016150615316.jpg</string>
	</array>
	<key>16082</key>
	<array>
	  <string>http://www.sinaimg.cn/dy/slidenews/4_img/2009_42/168_12330_148730.jpg</string>
	</array>
	<key>16083</key>
	<array>
	  <string>http://pic.newssc.org/0/10/43/56/10435682_706373.jpg</string>
	</array>
	<key>16084</key>
	<array>
	  <string>http://cul.shangdu.com/cul/uploads/allimg/090414/1057382.jpg</string>
	</array>
	<key>16085</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2008-04/14/xin_40304051411067342228826.jpg</string>
	</array>
	<key>16086</key>
	<array>
	  <string>http://www.chinanews.com/yl/news/2009/06-26/U149P4T8D1750847F107DT20090626140514.jpg</string>
	</array>
	<key>16087</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/c/2007-05-03/U1344P28T3D1541748F326DT20070503100331.jpg</string>
	</array>
	<key>16088</key>
	<array>
	  <string>http://pic.chinafilm.com/upimg/071112/25_094040.jpg</string>
	</array>
	<key>16089</key>
	<array>
	  <string>http://www.huanbohainews.com.cn/pic/0/10/06/89/10068909_642770.jpg</string>
	</array>
	<key>16090</key>
	<array>
	  <string>http://pic1a.nipic.com/20090319/2121777_002037146_2.jpg</string>
	</array>
	<key>16091</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2009-03/01/xin_00203060109524842206655.jpg</string>
	</array>
	<key>16092</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/08/29/ylhj0808290010.jpg</string>
	</array>
	<key>16093</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/f/p/2007-05-23/U1584P28T3D1565572F328DT20070523113120.jpg</string>
	</array>
	<key>16094</key>
	<array>
	  <string>http://pic.hsw.cn/0/10/09/58/10095886_526284.jpg</string>
	</array>
	<key>16095</key>
	<array>
	  <string>http://photocdn.sohu.com/20070321/Img248868887.jpg</string>
	</array>
	<key>16096</key>
	<array>
	  <string>http://www.lao5.com/wallpaper/720x880/t/9b/49/56a7712cd74d750980a31a2e1bc7.jpg</string>
	</array>
	<key>16097</key>
	<array>
	  <string>http://news.xinhuanet.com/photo/2007-10/01/xinsrc_56210040110032652477226.jpg</string>
	</array>
	<key>16098</key>
	<array>
	  <string>http://pic.66wz.com/0/00/31/02/310229_991175.jpg</string>
	</array>
	<key>16099</key>
	<array>
	  <string>http://img.v18.56.com/images/13/24/absuoi56olo56i56.com_1168660575_282.jpg</string>
	</array>
	<key>16100</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/f/p/2007-05-23/U1584P28T3D1565572F329DT20070523113120.jpg</string>
	</array>
	<key>16101</key>
	<array>
	  <string>http://img.zyu8.com/newspic/2008/07/29/092946281.jpg</string>
	</array>
	<key>16102</key>
	<array>
	  <string>http://data.ifensi.com/star/starphoto/0/0/3/347/347_big.jpg</string>
	</array>
	<key>16103</key>
	<array>
	  <string>http://www.tianshui.com.cn/Files207/BeyondPic/2009-2/17/15804706.jpg</string>
	</array>
	<key>16104</key>
	<array>
	  <string>http://www.chinataiwan.org/yl/mxsj/200803/W020080320306372095198.jpg</string>
	</array>
	<key>16105</key>
	<array>
	  <string>http://photocdn.sohu.com/20080123/Img254828614.jpg</string>
	</array>
	<key>16106</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/p/2007-05-22/U1825P28T3D1563269F326DT20070522004218.jpg</string>
	</array>
	<key>16107</key>
	<array>
	  <string>http://pic1a.nipic.com/20090323/2121777_033149007_2.jpg</string>
	</array>
	<key>16108</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200902/17/F200902170824223448220552.jpg</string>
	</array>
	<key>16109</key>
	<array>
	  <string>http://image1.y321.com/2008/2008-4-30/9271_2a317.jpg</string>
	</array>
	<key>16110</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/9/17/liuxiaojing/1253156031992_44564.jpg</string>
	</array>
	<key>16111</key>
	<array>
	  <string>http://www.dianying.com/images/portraits/YangZiqiong.jpg</string>
	</array>
	<key>16112</key>
	<array>
	  <string>http://www.bjshmr.com/caizhuang/UploadFiles_1853/200910/20091015111951358.jpg</string>
	</array>
	<key>16113</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/04/93/34/4933430_130928.jpg</string>
	</array>
	<key>16114</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090427/2G60A33b9_small.jpg</string>
	</array>
	<key>16115</key>
	<array>
	  <string>http://images.xooob.com/20081129/20081129153946614.jpg</string>
	</array>
	<key>16116</key>
	<array>
	  <string>http://posters.7176.com/ren-pp/0000706/cm7IvQyGK_1224492113.jpg</string>
	</array>
	<key>16117</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2008-09/13/xinsrc_29209051314271093161416.jpg</string>
	</array>
	<key>16118</key>
	<array>
	  <string>http://images.xooob.com/20081131/2008113151829124.jpg</string>
	</array>
	<key>16119</key>
	<array>
	  <string>http://pic4.nipic.com/20090824/2121777_014014686982_2.jpg</string>
	</array>
	<key>16120</key>
	<array>
	  <string>http://cimg2.163.com/lady/2007/5/23/20070523011121161a4.jpg</string>
	</array>
	<key>16121</key>
	<array>
	  <string>http://news.chinafilm.com/upimg/080527/2G0231V939.jpg</string>
	</array>
	<key>16122</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090525/o/F9F4416BF5F724727B896AE786906754.jpg</string>
	</array>
	<key>16123</key>
	<array>
	  <string>http://www.gzs.cn/upload/200710/26/1193334359781.jpg</string>
	</array>
	<key>16124</key>
	<array>
	  <string>http://imgs.ntdtv.com/pic/2009/10-14/p582155a59110271.jpg</string>
	</array>
	<key>16125</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090128/o/EFEAB7F54E6C6AECDCCF83FAD2483D18.jpg</string>
	</array>
	<key>16126</key>
	<array>
	  <string>http://liaoning.nen.com.cn/imagelist/09/23/3u2ae6s99opm.jpg</string>
	</array>
	<key>16127</key>
	<array>
	  <string>http://img3.pclady.com.cn/pclady/0902/11/365059_1.gif</string>
	</array>
	<key>16128</key>
	<array>
	  <string>http://blog.vdit.com/wp-content/uploads/2009/06/DSC_0688.jpg</string>
	</array>
	<key>16129</key>
	<array>
	  <string>http://image.jmrb.com/UploadImages/2007/12/15/images_20071215_221718_70722.jpg</string>
	</array>
	<key>16130</key>
	<array>
	  <string>http://cimg2.163.com/lady/2007/5/23/20070523011811694c7.jpg</string>
	</array>
	<key>16131</key>
	<array>
	  <string>http://www.nnwb.com/Files/image/%E9%82%9D%E6%B5%B7%E9%93%83/%E7%8E%AF%E7%90%83%E5%BD%B1%E8%A7%86/%E6%AC%A7%E7%BE%8E/0807/%E6%9D%A8%E7%B4%AB%E7%90%BC%E8%BA%AB%E7%A9%BF%E6%8A%B9%E8%83%B8%E8%93%9D%E7%BA%B1%E8%A3%99%EF%BC%8C%E9%AB%98%E8%B4%B5%E6%80%A7%E6%84%9</string>
	</array>
	<key>16132</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2008-06/11/xin_332062000110747109234608.jpg</string>
	</array>
	<key>16133</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100606/07/bukyou/66/2d/j/o0370021010577042385.jpg</string>
	</array>
	<key>16134</key>
	<array>
	  <string>http://images.xooob.com/20090523/1243479151843.jpg</string>
	</array>
	<key>16135</key>
	<array>
	  <string>http://pic1a.nipic.com/20090324/2121777_015307885_2.jpg</string>
	</array>
	<key>16136</key>
	<array>
	  <string>http://file.we54.com/pic2/20080729/yl/3/1.jpg</string>
	</array>
	<key>16137</key>
	<array>
	  <string>http://www.baidugirl.com/hairstyle/UploadFiles_2840/200804/20080410072034931.jpg</string>
	</array>
	<key>16138</key>
	<array>
	  <string>http://www.idaocao.com/uploadimage/200709/20070901120121828.jpg</string>
	</array>
	<key>16139</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090310/o/625B1075B4EAC3F26BDB79FDB4A9FF42.jpg</string>
	</array>
	<key>16140</key>
	<array>
	  <string>http://img.v157.56.com/images/26/2/nastyingmingi56olo56i56.com_zhajm_12267699650.jpg</string>
	</array>
	<key>16141</key>
	<array>
	  <string>http://film.hktdc.com/images/celebrity/Michelle%20Yeoh.JPG</string>
	</array>
	<key>16142</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100606/07/bukyou/72/2e/j/o0370045710577045907.jpg</string>
	</array>
	<key>16143</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200801/04/80/f0007580_2337319.jpg</string>
	</array>
	<key>16144</key>
	<array>
	  <string>http://image1.mop.com/images/project9/2009-06-22/12456419021278790.jpg</string>
	</array>
	<key>16145</key>
	<array>
	  <string>http://www.sd.xinhuanet.com/news/2008-01/09/xin_2930105091536484392710.jpg</string>
	</array>
	<key>16146</key>
	<array>
	  <string>http://www.hb.xinhuanet.com/fashion/2009-02/16/xinsrc_3130206161812562282430.jpg</string>
	</array>
	<key>16147</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/m/c/2008-04-30/U2398P28T3D2010424F326DT20080430182430.jpg</string>
	</array>
	<key>16148</key>
	<array>
	  <string>http://img.v140.56.com/images/20/1/xushi56i56olo56i56.com_zhajm_119764823876.jpg</string>
	</array>
	<key>16149</key>
	<array>
	  <string>http://www.lnnews.net/Files/9327F21D-09E6-4252-B51D-0AA7686358C4.jpg</string>
	</array>
	<key>16150</key>
	<array>
	  <string>http://image.rayli.com.cn/0012/2008-08-30/images/2008830144554405.jpg</string>
	</array>
	<key>16151</key>
	<array>
	  <string>http://img.yaplog.jp/img/00/pc/k/a/r/karyu-star/1/1102.png</string>
	</array>
	<key>16152</key>
	<array>
	  <string>http://img.youtube.com/vi/_MuTijX-o_U/2.jpg</string>
	</array>
	<key>16153</key>
	<array>
	  <string>http://images.rednet.cn/articleimage/2008/09/02/2234448112.jpg</string>
	</array>
	<key>16154</key>
	<array>
	  <string>http://www.jxcn.cn/mmsource/image/2008-11-11/jxcn081111q29.jpg</string>
	</array>
	<key>16155</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/p/2007-05-28/U1584P28T3D1572974F326DT20070528043905.jpg</string>
	</array>
	<key>16156</key>
	<array>
	  <string>http://news.shangdu.com/category/11001/2005/12/13/images/web_20051213_276.jpg</string>
	</array>
	<key>16157</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2009/03/03/ep090303032.jpg</string>
	</array>
	<key>16158</key>
	<array>
	  <string>http://photocdn.sohu.com/20080927/Img259776629.jpg</string>
	</array>
	<key>16159</key>
	<array>
	  <string>http://ent.sg.com.cn/uploadfiles/2008/12/8/200812880BB0F0A98384ADCAA4D91D5ED24E0C4.jpg</string>
	</array>
	<key>16160</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/08/14/8309207_m_8309209_4355.jpg</string>
	</array>
	<key>16161</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/11/30/wangfang01/1259546981161_37276.jpg</string>
	</array>
	<key>16162</key>
	<array>
	  <string>http://photocdn.sohu.com/20100910/Img274839712.jpg</string>
	</array>
	<key>16163</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/wjlmovie/2008/09/0917/28.jpg</string>
	</array>
	<key>16164</key>
	<array>
	  <string>http://img.ifeng.com/itvimg/2010/10/12/f8b8a8f1-6c4e-432d-974b-bea8ef2a2751.jpg</string>
	</array>
	<key>16165</key>
	<array>
	  <string>http://i1.6.cn/4a/82/1bd21184561099.t3.jpg</string>
	</array>
	<key>16166</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/m/c/p/2008-08-29/U3088P28T3D2149221F328DT20080829103606.jpg</string>
	</array>
	<key>16167</key>
	<array>
	  <string>http://ent.tom.com/uimg/2009/6/26/caiyingzhe/1245984794820_49770.jpg</string>
	</array>
	<key>16168</key>
	<array>
	  <string>http://img1.smgbb.cn/mz/THUMB/SHFashion/2010/03/22/SHFashion20100322220052_0.jpg</string>
	</array>
	<key>16169</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/08/14/8309195_879.jpg</string>
	</array>
	<key>16170</key>
	<array>
	  <string>http://file1.megajoy.com/0259/0901/acapricorn/Video/200906/2009/06/01/%E5%85%A8%E6%99%BA%E8%B4%A4%E8%A2%AB%E5%B0%81%E6%9D%A8%E7%B4%AB%E7%90%BC%E6%8E%A5%E7%8F%AD%E4%BA%BA%E9%A3%9E%E5%A4%A9%E7%8E%B0%E8%BA%AB1.jpg</string>
	</array>
	<key>16171</key>
	<array>
	  <string>http://www.cctd.cc/images/uploadimg/20092522373398436.jpg</string>
	</array>
	<key>16172</key>
	<array>
	  <string>http://www.zhxww.net/zhnews400/upfile/20071120153156-4.jpg</string>
	</array>
	<key>16173</key>
	<array>
	  <string>http://img.v19.56.com/images/20/3/guest1890512519i56olo56i56.com_zhajm_1173190060_829.jpg</string>
	</array>
	<key>16174</key>
	<array>
	  <string>http://tv.jxcn.cn/video/Images/2009/7/7/%E6%9E%97%E7%86%99%E8%95%BE%E6%B2%A1%E6%9C%89%E8%AE%A1%E5%88%92%E7%BB%93%E5%A9%9A%20%E4%B8%8E%E6%9D%A8%E7%B4%AB%E7%90%BC%E5%90%88%E4%BD%9C%E5%BE%88%E5%85%B4%E5%A5%8B.jpg</string>
	</array>
	<key>16175</key>
	<array>
	  <string>http://pic4.nipic.com/20090927/1951702_074731019699_2.jpg</string>
	</array>
	<key>16176</key>
	<array>
	  <string>http://www.smgbb.cn/d/file/zixun/yule/2008-07-01/e62c3a1196d23c6e463c4a04195ea8a7.jpg</string>
	</array>
	<key>16177</key>
	<array>
	  <string>http://www.huanbohainews.com.cn/pic/0/10/06/37/10063716_601560.jpg</string>
	</array>
	<key>16178</key>
	<array>
	  <string>http://pic1a.nipic.com/20090319/2121777_002312408_2.jpg</string>
	</array>
	<key>16179</key>
	<array>
	  <string>http://pic2.nipic.com/20090330/2121777_090128052_2.jpg</string>
	</array>
	<key>16180</key>
	<array>
	  <string>http://www.rmloho.com/user7/53212/upload/20087196812.jpg</string>
	</array>
	<key>16181</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/6/26/liuyanling/1245981198126_65632.jpg</string>
	</array>
	<key>16182</key>
	<array>
	  <string>http://www.bossqh.com/fuzhuang/UploadFiles_9344/200902/20090209031527212.jpg</string>
	</array>
	<key>16183</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200709/13/F200709130844202464282511.jpg</string>
	</array>
	<key>16184</key>
	<array>
	  <string>http://imgn.vv8.com/editupload/20080429013309607.jpg</string>
	</array>
	<key>16185</key>
	<array>
	  <string>http://www.lao5.com/wall/01/017dbe9dacdf1ae13bc6696c668489fd.jpg</string>
	</array>
	<key>16186</key>
	<array>
	  <string>http://ent.ce.cn/mx/xw/cywgd/200807/03/W020080703375501371174.jpg</string>
	</array>
	<key>16187</key>
	<array>
	  <string>http://pic1a.nipic.com/20090319/2121777_002430897_2.jpg</string>
	</array>
	<key>16188</key>
	<array>
	  <string>http://img3.woopie.jp/getdata.php?pid=180176q1142de</string>
	</array>
	<key>16189</key>
	<array>
	  <string>http://photocdn.sohu.com/20080927/Img259776628.jpg</string>
	</array>
	<key>16190</key>
	<array>
	  <string>http://www.shelive.net/UploadFile/2009225102446557.jpg</string>
	</array>
	<key>16191</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/c/2007-03-22/U1978P28T3D1488282F326DT20070322081224.jpg</string>
	</array>
	<key>16192</key>
	<array>
	  <string>http://img.blog.163.com/photo/0jwDpDShnd-3R-kqyOp5og==/5102578377810975232.jpg</string>
	</array>
	<key>16193</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/s/h/2009-03-26/U3075P28T3D2439344F326DT20090326082903.jpg</string>
	</array>
	<key>16194</key>
	<array>
	  <string>http://www.showsee.cn/img/%E6%9D%A8%E7%B4%AB%E7%90%BC.jpg</string>
	</array>
	<key>16195</key>
	<array>
	  <string>http://m1.aboluowang.com/ent/data/uploadfile/200804/20080409204955102.jpg</string>
	</array>
	<key>16196</key>
	<array>
	  <string>http://i1.sinaimg.cn/lx/news/p/2009/0915/U2423P8T1D912482F921DT20090914170137.jpg</string>
	</array>
	<key>16197</key>
	<array>
	  <string>http://pic2.nipic.com/20090331/2121777_042957086_2.jpg</string>
	</array>
	<key>16198</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2008-04/10/xin_352040510134814021689199.jpg</string>
	</array>
	<key>16199</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2008-09/29/xin_41309052915077962202934.jpg</string>
	</array>
	<key>16200</key>
	<array>
	  <string>http://image.hnce.com.cn/UploadFiles/Lady/201004/13/4c6cc9ee-5456-4706-8d70-5627512823b3.jpeg</string>
	</array>
</array>
</plist>
