<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>48042</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090611/20/hirolyn/09/6b/j/o0320053610195159580.jpg</string>
	</array>
	<key>48043</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/0c/99/10136385538.jpg</string>
	</array>
	<key>48044</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090611/20/hirolyn/94/ff/j/o0320050810195163261.jpg</string>
	</array>
	<key>48045</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/03/0000120403/50/imgf82260c6zik9zj.gif</string>
	</array>
	<key>48046</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090611/20/hirolyn/8d/84/j/o0320051610195163246.jpg</string>
	</array>
	<key>48047</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090611/20/hirolyn/9f/5a/j/o0320051410195158929.jpg</string>
	</array>
	<key>48048</key>
	<array>
	  <string>http://blog-cdn.oricon.co.jp/_images/marianblog/E382A2E383B3E382B8E382A7E383A9E38399E382A4E38393E383BC5.jpg</string>
	</array>
	<key>48049</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090611/20/hirolyn/03/d5/j/o0320045010195161350.jpg</string>
	</array>
	<key>48050</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/62/a3/10136377532.jpg</string>
	</array>
	<key>48051</key>
	<array>
	  <string>http://blog.oricon.co.jp/_images/marianblog/avex2-0b1d0.jpg</string>
	</array>
	<key>48052</key>
	<array>
	  <string>http://contents.syncl.jp/angela/img/upload/up_672570.jpg</string>
	</array>
	<key>48053</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/2f/5d/10136385548.jpg</string>
	</array>
	<key>48054</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090611/20/hirolyn/e9/4f/j/o0320054310195158916.jpg</string>
	</array>
	<key>48055</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/a5/b0/10136385537.jpg</string>
	</array>
	<key>48056</key>
	<array>
	  <string>http://yaplog.jp/cv/in_the_story/img/1023/img20090518_2_p.jpg</string>
	</array>
	<key>48057</key>
	<array>
	  <string>http://blog.oricon.co.jp/_images/marianblog/E382A2E383B3E382B8E382A7E383A9E38399E382A4E38393E383BC.jpg</string>
	</array>
	<key>48058</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000062754/baby1_s.jpg</string>
	</array>
	<key>48059</key>
	<array>
	  <string>http://fmvs.jp/news/music/img/img844_file.jpg</string>
	</array>
	<key>48060</key>
	<array>
	  <string>http://www.mensnonno.jp/blog/girlfriend/wp-content/uploads/g1002_8-225x300.jpg</string>
	</array>
	<key>48061</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090611/20/hirolyn/e4/4b/j/o0320055810195159570.jpg</string>
	</array>
	<key>48062</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/39/2c/10136385543.jpg</string>
	</array>
	<key>48063</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090611/20/hirolyn/47/23/j/o0320053910195161355.jpg</string>
	</array>
	<key>48064</key>
	<array>
	  <string>http://blog-cdn.oricon.co.jp/_images/marianblog/E382A2E383B3E382B8E382A7E383A9E38399E382A4E38393E383BC6.jpg</string>
	</array>
	<key>48065</key>
	<array>
	  <string>http://contents.syncl.jp/angela/img/upload/up_504241.jpg</string>
	</array>
	<key>48066</key>
	<array>
	  <string>http://natalie.mu/media/1003/0312/extra/news_large_Angelababy.jpg</string>
	</array>
	<key>48067</key>
	<array>
	  <string>http://www.mensnonno.jp/blog/girlfriend/wp-content/uploads/g1002_8.-223x300.jpg</string>
	</array>
	<key>48068</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/5a/4e/10136377538.jpg</string>
	</array>
	<key>48069</key>
	<array>
	  <string>http://blog-cdn.oricon.co.jp/_images/marianblog/E382A2E383B3E382B8E382A7E383A9E38399E382A4E38393E383BC4.jpg</string>
	</array>
	<key>48070</key>
	<array>
	  <string>http://blog-cdn.oricon.co.jp/_images/marianblog/E382A2E383B3E382B8E382A7E383A9E38399E382A4E38393E383BC3.jpg</string>
	</array>
	<key>48071</key>
	<array>
	  <string>http://blog-cdn.oricon.co.jp/_images/marianblog/E382A2E383B3E382B8E382A7E383A9E38399E382A4E38393E383BC2.jpg</string>
	</array>
	<key>48072</key>
	<array>
	  <string>http://www.mensnonno.jp/blog/girlfriend/wp-content/uploads/g1002main0121.jpg</string>
	</array>
	<key>48073</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090611/20/hirolyn/50/b9/j/o0320058910195160505.jpg</string>
	</array>
	<key>48074</key>
	<array>
	  <string>http://blog.oricon.co.jp/_images/marianblog/up_113111.jpg</string>
	</array>
	<key>48075</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090611/20/hirolyn/4a/76/j/o0320063610195158926.jpg</string>
	</array>
	<key>48076</key>
	<array>
	  <string>http://p1.xanga.com/12/c0/12c00e8609b8589fecc6de72c91c9fd85692337.jpg</string>
	</array>
	<key>48077</key>
	<array>
	  <string>http://hoo.mixfog.com/images/20080311211914_angela-baby-009.jpg</string>
	</array>
	<key>48078</key>
	<array>
	  <string>http://blog-imgs-32.fc2.com/a/v/r/avrilcom/AngelaBaby4.jpg</string>
	</array>
	<key>48079</key>
	<array>
	  <string>http://blog-imgs-32.fc2.com/a/v/r/avrilcom/Angelababy10.jpg</string>
	</array>
	<key>48080</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/201103/28/16/c0198916_20432192.jpg</string>
	</array>
	<key>48081</key>
	<array>
	  <string>http://blog-imgs-43.fc2.com/j/i/k/jikomanthaibangkok/angelababy_photo04.jpg</string>
	</array>
	<key>48082</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/c/h/i/china8/090501_angelababy_04.jpg</string>
	</array>
	<key>48083</key>
	<array>
	  <string>http://blog-imgs-35.fc2.com/a/s/i/asianflavor/angelababy8.jpg</string>
	</array>
	<key>48084</key>
	<array>
	  <string>http://blog-imgs-42-origin.fc2.com/c/h/i/china8/100310angelababy_01.jpg</string>
	</array>
	<key>48085</key>
	<array>
	  <string>http://2.bp.blogspot.com/_QcYf_8sBCik/S0FbIYBRqLI/AAAAAAAAA7g/OliROReDnkk/s640/20090813143030321.jpg</string>
	</array>
	<key>48086</key>
	<array>
	  <string>http://file.mikejaejoong.blog.shinobi.jp/255698_el080227100.jpg</string>
	</array>
	<key>48087</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/c/h/i/china8/090501_angelababy_02.jpg</string>
	</array>
	<key>48088</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/fc/b6/hp_user_2008/folder/539562/img_539562_24615532_2?1270636099</string>
	</array>
	<key>48089</key>
	<array>
	  <string>http://blog-imgs-32.fc2.com/a/v/r/avrilcom/AngelaBaby4_.jpg</string>
	</array>
	<key>48090</key>
	<array>
	  <string>http://fmvs.jp/news/music/img/img844_file.jpg</string>
	</array>
	<key>48091</key>
	<array>
	  <string>http://3.bp.blogspot.com/_hJVox6-vy_4/TRHpB5g0-6I/AAAAAAAABVo/QDFmb63XS-g/s1600/Angela%2Bbaby%2B%252817%2529.jpg</string>
	</array>
	<key>48092</key>
	<array>
	  <string>http://hoo.mixfog.com/images/20080312060559_angela-baby-019.jpg</string>
	</array>
	<key>48093</key>
	<array>
	  <string>http://lh5.ggpht.com/-MAKIZtJm3B0/TFwSrR90SZE/AAAAAAAAE0o/Ft1sUNdiisE/YangYingAngelaBabyTaiwan.jpg</string>
	</array>
	<key>48094</key>
	<array>
	  <string>http://farm4.static.flickr.com/3615/3324982118_a18ce6cd9d.jpg</string>
	</array>
	<key>48095</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/p/h/i/philvy/WindowsLiveWriter_f10e8c680525_F2C7_angelababytop_2.jpg</string>
	</array>
	<key>48096</key>
	<array>
	  <string>http://contents.syncl.jp/angela/img/upload/up_288298.JPG</string>
	</array>
	<key>48097</key>
	<array>
	  <string>http://maydaily.com/files/2010/03/Angelababy4.jpg</string>
	</array>
	<key>48098</key>
	<array>
	  <string>http://contents.syncl.jp/angela/img/upload/up_189918.jpg</string>
	</array>
	<key>48099</key>
	<array>
	  <string>http://blog-imgs-42-origin.fc2.com/c/h/i/china8/100420angelababy_01.jpg</string>
	</array>
	<key>48100</key>
	<array>
	  <string>http://www.wackynwild.com/fdt_images/angela-baby-before-and-after-plastic-surgery-photos4-1297257144.jpg</string>
	</array>
	<key>48101</key>
	<array>
	  <string>http://thehkneo.com/images/angelababy_d.jpg</string>
	</array>
	<key>48102</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090630/16/luv-happydays/8a/5f/j/o0500054810205480888.jpg</string>
	</array>
	<key>48103</key>
	<array>
	  <string>http://www.hnta.cn/Files/2009/4/7/200904071506441572.png</string>
	</array>
	<key>48104</key>
	<array>
	  <string>http://farm4.static.flickr.com/3132/2587562901_dde00b39b9_o.jpg</string>
	</array>
	<key>48105</key>
	<array>
	  <string>http://4.bp.blogspot.com/_E3mynPCICaQ/S8aBVNbHnyI/AAAAAAAACoM/msAhDXI8uOs/s400/image001.jpg</string>
	</array>
	<key>48106</key>
	<array>
	  <string>http://zhongguomingxing.up.seesaa.net/image/2-a5caa.jpg</string>
	</array>
	<key>48107</key>
	<array>
	  <string>http://www.computerlove.net/users/abaddon/images/abaddon_46c83f473a77d.jpg</string>
	</array>
	<key>48108</key>
	<array>
	  <string>http://contents.syncl.jp/angela/img/upload/up_290828.JPG</string>
	</array>
	<key>48109</key>
	<array>
	  <string>http://makeupforlife.net/wp-content/uploads/2009/04/angela-baby-2-ss-2009-campaign.jpg</string>
	</array>
	<key>48110</key>
	<array>
	  <string>http://blog-imgs-43.fc2.com/j/i/k/jikomanthaibangkok/angelababy_photo38.jpg</string>
	</array>
	<key>48111</key>
	<array>
	  <string>http://blog-imgs-23-origin.fc2.com/c/h/i/china8/100113Angelababy_01.jpg</string>
	</array>
	<key>48112</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/31/0000332431/33/img42a66096zikczj.jpeg</string>
	</array>
	<key>48113</key>
	<array>
	  <string>http://1.bp.blogspot.com/_qayrW-d7b5s/SM11tiXLzhI/AAAAAAAACz0/skjMm0s8m6A/s400/angela.jpg</string>
	</array>
	<key>48114</key>
	<array>
	  <string>http://27.media.tumblr.com/Mdchk0Qojpho2y8fZuk7zrs5o1_500.jpg</string>
	</array>
	<key>48115</key>
	<array>
	  <string>http://piaoliang2.blog.so-net.ne.jp/_images/blog/_411/piaoliang2/887EDCB4E8C39EB28AF3D5C345A687.jpg</string>
	</array>
	<key>48116</key>
	<array>
	  <string>http://photocdn.sohu.com/20080729/Img258455264.jpg</string>
	</array>
	<key>48117</key>
	<array>
	  <string>http://org35.zorpia.com/0/4228/27064812.f1673a.jpg</string>
	</array>
	<key>48118</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20091120/21/tinatina007/65/99/j/o0448067210313459455.jpg</string>
	</array>
	<key>48119</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/62/a3/10136377532_s.jpg</string>
	</array>
	<key>48120</key>
	<array>
	  <string>http://kkwu.files.wordpress.com/2008/09/w115238964.jpg</string>
	</array>
	<key>48121</key>
	<array>
	  <string>http://farm3.static.flickr.com/2512/4055093409_c1fdc69d50.jpg</string>
	</array>
	<key>48122</key>
	<array>
	  <string>http://livedoor.blogimg.jp/carleon/imgs/7/4/747402b8.jpg</string>
	</array>
	<key>48123</key>
	<array>
	  <string>http://1.bp.blogspot.com/_QM2-6hVKZbQ/TDMiOSY_hJI/AAAAAAAALb4/jyRLCck5VDE/s1600/Angelababy_before_surgery3.jpg</string>
	</array>
	<key>48124</key>
	<array>
	  <string>http://thecutestasians.com/wp-content/uploads/2010/05/angelababy-003.jpg</string>
	</array>
	<key>48125</key>
	<array>
	  <string>http://blog-imgs-24.fc2.com/m/u/t/mutekiykz/4752.jpg</string>
	</array>
	<key>48126</key>
	<array>
	  <string>http://lh4.ggpht.com/_QV6fHnQ6t8U/SuMmmrDaiUI/AAAAAAAAAM0/qbqVgTHcxF4/angelababy.jpg</string>
	</array>
	<key>48127</key>
	<array>
	  <string>http://2.bp.blogspot.com/_GBQRduje99I/TKwFgeRqI7I/AAAAAAAAHSk/ufdlUrzFy9I/s1600/angelababy_m.jpg</string>
	</array>
	<key>48128</key>
	<array>
	  <string>http://zhongguomingxing.up.seesaa.net/image/18002904.jpg</string>
	</array>
	<key>48129</key>
	<array>
	  <string>http://i.yai.bz/assets/23/931/l_p1011193123.jpg</string>
	</array>
	<key>48130</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/07/0001124807/22/imgf4439d40zik3zj.jpeg</string>
	</array>
	<key>48131</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000058934/baby004_s_www_barks_jp.jpg</string>
	</array>
	<key>48132</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2008/07/29/el080729109.jpg</string>
	</array>
	<key>48133</key>
	<array>
	  <string>http://1.bp.blogspot.com/_STVNxhtUBCM/TTwFo0aU5KI/AAAAAAAABDw/arEyU3we2Kc/s1600/angelababy_photo49.jpg</string>
	</array>
	<key>48134</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091005/12/bijinbijo/00/4f/j/t02200360_0240039310268093504.jpg</string>
	</array>
	<key>48135</key>
	<array>
	  <string>http://blog-imgs-26.fc2.com/m/u/s/mustclub/Angelababy.jpg</string>
	</array>
	<key>48136</key>
	<array>
	  <string>http://blog-imgs-23-origin.fc2.com/c/h/i/china8/091217angelababy_21.jpg</string>
	</array>
	<key>48137</key>
	<array>
	  <string>http://i2.listal.com/image/1451412/600full-angela-baby.jpg</string>
	</array>
	<key>48138</key>
	<array>
	  <string>http://4.bp.blogspot.com/_K7vDVl5sq1k/SldS79WHy7I/AAAAAAAAEFI/i3QhjGEIyzY/s400/AngelaBaby01a+copy.jpg</string>
	</array>
	<key>48139</key>
	<array>
	  <string>http://www.mf08s.com/y/f/UploadFiles_f/200907/2009072909463638.jpg</string>
	</array>
	<key>48140</key>
	<array>
	  <string>http://3.bp.blogspot.com/_6fyaIP-cj0o/S8-bVFPFvaI/AAAAAAAALo0/5oeuMxASgeQ/s1600/style+model+hunt+angelababy1.jpg</string>
	</array>
	<key>48141</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/fc/b6/hp_user_2008/folder/539562/img_539562_24615532_1?1270636099</string>
	</array>
	<key>48142</key>
	<array>
	  <string>http://img6.zozo.jp/people/101494/article/922715.pimg?w=640&amp;amp;h=640</string>
	</array>
	<key>48143</key>
	<array>
	  <string>http://26.media.tumblr.com/tumblr_l6iz5lg0ge1qznrh7o1_500.jpg</string>
	</array>
	<key>48144</key>
	<array>
	  <string>http://img11.imageshack.us/img11/8909/angelababy1md7.jpg</string>
	</array>
	<key>48145</key>
	<array>
	  <string>http://brilliant-girl.info/wp-content/uploads/2010/12/angelababy-06.jpg</string>
	</array>
	<key>48146</key>
	<array>
	  <string>http://www.rocketworks.co.jp/pocketworks/wp-content/uploads/2010/08/o0428058010269770065.jpg</string>
	</array>
	<key>48147</key>
	<array>
	  <string>http://www.akzone.com.hk/upload/fckeditor/308170/image/angelababy.JPG</string>
	</array>
	<key>48148</key>
	<array>
	  <string>http://blog-imgs-42-origin.fc2.com/c/h/i/china8/100420angelababy_03.jpg</string>
	</array>
	<key>48149</key>
	<array>
	  <string>http://www.neonpunch.com/wp-content/uploads/2009/06/angelababy.jpg</string>
	</array>
	<key>48150</key>
	<array>
	  <string>http://bbs.39.net/image/2011/01/19/20110119112556967.jpg</string>
	</array>
	<key>48151</key>
	<array>
	  <string>http://yeinjee.com/wp-content/uploads/2010/03/hong-kong-angelababy-006.jpg</string>
	</array>
	<key>48152</key>
	<array>
	  <string>http://www.wayangtimes.com/wp-content/uploads/2010/02/angelababy-hk-photo-pictures-angela-baby-09.jpg</string>
	</array>
	<key>48153</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/c/h/i/china8/090501_angelababy_01.jpg</string>
	</array>
	<key>48154</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/25/85/10056991312.jpg</string>
	</array>
	<key>48155</key>
	<array>
	  <string>http://img89.imageshack.us/img89/166/angelababy21xs6.jpg</string>
	</array>
	<key>48156</key>
	<array>
	  <string>http://ent.southcn.com/zhuanti/star/lm/Angelababyszqs/content/images/attachement/jpg/site4/20090731/00105cd994a20bdd0d1e3c.jpg</string>
	</array>
	<key>48157</key>
	<array>
	  <string>http://img.article.pchome.net/00/28/02/44/pic_lib/wm/AngelaBaby47.jpg</string>
	</array>
	<key>48158</key>
	<array>
	  <string>http://image.onlylady.com/attachments/day_080704/3_MCohXBXJHPxg.jpg</string>
	</array>
	<key>48159</key>
	<array>
	  <string>http://blog-imgs-24.fc2.com/m/u/t/mutekiykz/4751.jpg</string>
	</array>
	<key>48160</key>
	<array>
	  <string>http://www.butterboom.com/wp-content/uploads/apr09/angela1.jpg</string>
	</array>
	<key>48161</key>
	<array>
	  <string>http://files.myopera.com/NASHJK/albums/906132/angelababy_photo37.jpg</string>
	</array>
	<key>48162</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000058934/baby001_s_www_barks_jp.jpg</string>
	</array>
	<key>48163</key>
	<array>
	  <string>http://contents.syncl.jp/max/img/upload/up_155870_pc.jpg</string>
	</array>
	<key>48164</key>
	<array>
	  <string>http://i.yai.bz/assets/GalleryImage/r_g0000100212_30_01.jpg</string>
	</array>
	<key>48165</key>
	<array>
	  <string>http://prettygirl2u.com/wp-content/uploads/2009/07/angelababy_01.jpg</string>
	</array>
	<key>48166</key>
	<array>
	  <string>http://tgc.st/09AW/model/_aa/angelababy/img/pic_01.jpg</string>
	</array>
	<key>48167</key>
	<array>
	  <string>http://www.meeli.cn/upload/2008/11/06/c7bb4299e05aed95518250cc5471e61a.jpg</string>
	</array>
	<key>48168</key>
	<array>
	  <string>http://content8.flixster.com/photo/11/98/78/11987874_tml.jpg</string>
	</array>
	<key>48169</key>
	<array>
	  <string>http://i-kao.blog.so-net.ne.jp/_images/blog/_1d3/i-kao/Ms_Angelababy.jpg</string>
	</array>
	<key>48170</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091115/19/tinatina007/9a/19/j/o0574063410308097758.jpg</string>
	</array>
	<key>48171</key>
	<array>
	  <string>http://blog-imgs-32-origin.fc2.com/s/e/c/secret81/20101001110059f22.jpg</string>
	</array>
	<key>48172</key>
	<array>
	  <string>http://www.wackynwild.com/fdt_images/angela-baby-before-and-after-plastic-surgery-photos0-1297257144.jpg</string>
	</array>
	<key>48173</key>
	<array>
	  <string>http://farm3.static.flickr.com/2060/2803821126_7074884198.jpg</string>
	</array>
	<key>48174</key>
	<array>
	  <string>http://www.photo4asian.com/img/Hong-Kong-Female/Angela-Baby-Yang-Wing/full/b158884232.jpg</string>
	</array>
	<key>48175</key>
	<array>
	  <string>http://2010.photo111.com/photo/chinese/AngelaBaby/AngelaBaby068.jpg</string>
	</array>
	<key>48176</key>
	<array>
	  <string>http://3.bp.blogspot.com/_6fyaIP-cj0o/SuMDrNGxPjI/AAAAAAAADb4/LgL9yVuvBWE/s400/2010%25252Ball%25252Bwell%25252Bangelababy.jpg</string>
	</array>
	<key>48177</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/31/0000332431/40/imge44dce9bzikezj.jpeg</string>
	</array>
	<key>48178</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_kyh9wcrV431qzjc1ro1_400.png</string>
	</array>
	<key>48179</key>
	<array>
	  <string>http://www.blike.net/files/20100728News0303_AngelaBaby.jpg</string>
	</array>
	<key>48180</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100405/23/sagradafamiliacasamila/e3/35/j/t02200333_0264040010483856344.jpg</string>
	</array>
	<key>48181</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000058934/baby007_s_www_barks_jp.jpg</string>
	</array>
	<key>48182</key>
	<array>
	  <string>http://freegics.zxq.net/angelababy/009.jpg</string>
	</array>
	<key>48183</key>
	<array>
	  <string>http://d228216.mygallery.biz/albums/album182/WSL_0683_copy.jpg</string>
	</array>
	<key>48184</key>
	<array>
	  <string>http://blog-imgs-23-origin.fc2.com/c/h/i/china8/091217angelababy_20.jpg</string>
	</array>
	<key>48185</key>
	<array>
	  <string>http://1.bp.blogspot.com/_IvtUToGOO3A/TIZVlCtIhdI/AAAAAAAALww/uh9XwX8Gk7k/s1600/angela-baby-before-after-13270-1249123778-8.jpg</string>
	</array>
	<key>48186</key>
	<array>
	  <string>http://www.nitrolicious.com/blog/wp-content/uploads/2008/04/angelababy.jpg</string>
	</array>
	<key>48187</key>
	<array>
	  <string>http://blue.ap.teacup.com/bluedeco/timg/middle_1280530516.jpg</string>
	</array>
	<key>48188</key>
	<array>
	  <string>http://www.magicalmaker.com/u179/898630/mmimg/1231684864.jpg</string>
	</array>
	<key>48189</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100623/18/sui-k7/1b/f7/j/o0390028010605480330.jpg</string>
	</array>
	<key>48190</key>
	<array>
	  <string>http://2.bp.blogspot.com/_y0LzUe91Lds/TUJLd3XKjOI/AAAAAAAAD2E/3ZfpsycWzeI/s640/angelababy-gallery.jpg</string>
	</array>
	<key>48191</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/j/gaudi-inc_hb0533403939261</string>
	</array>
	<key>48192</key>
	<array>
	  <string>http://yoyoasia.files.wordpress.com/2010/02/angelababy.jpg</string>
	</array>
	<key>48193</key>
	<array>
	  <string>http://pic.pimg.tw/loveangelababy/49eeeb65939bf.jpg</string>
	</array>
	<key>48194</key>
	<array>
	  <string>http://movie.v1.cn/images/2009-8-11/20098111249975674824_385.jpg</string>
	</array>
	<key>48195</key>
	<array>
	  <string>http://www.wayangtimes.com/wp-content/uploads/2009/09/hong-kong-model-angelababy-10.jpg</string>
	</array>
	<key>48196</key>
	<array>
	  <string>http://img3.imageshack.us/img3/8527/up133215.jpg</string>
	</array>
	<key>48197</key>
	<array>
	  <string>http://keiichi-nitta.sakura.ne.jp/blog/0912ab01.jpg</string>
	</array>
	<key>48198</key>
	<array>
	  <string>http://www.wayangtimes.com/wp-content/uploads/2009/09/hong-kong-model-angelababy-01.jpg</string>
	</array>
	<key>48199</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/76/0001127476/62/img8b00a062zikezj.jpeg</string>
	</array>
	<key>48200</key>
	<array>
	  <string>http://www.butterboom.com/wp-content/uploads/apr09/angela3.jpg</string>
	</array>
	<key>48201</key>
	<array>
	  <string>http://www.517mr.com/resources/h000/h31/img20100303152047.jpg</string>
	</array>
	<key>48202</key>
	<array>
	  <string>http://www.wowbox.com.tw/blog/attachments/month_0909/p2009916162632.jpg</string>
	</array>
	<key>48203</key>
	<array>
	  <string>http://contents.syncl.jp/littlewonder/img/upload/up_650643.jpg</string>
	</array>
	<key>48204</key>
	<array>
	  <string>http://www.dianying.com/images/portraits/BabyAngela.jpg</string>
	</array>
	<key>48205</key>
	<array>
	  <string>http://yaplog.jp/cv/in_the_story/img/1023/img20090518_p.jpg</string>
	</array>
	<key>48206</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100414/11/tinatina007/07/78/j/o0640096010495840861.jpg</string>
	</array>
	<key>48207</key>
	<array>
	  <string>http://2.bp.blogspot.com/_RTRI0993zdk/TQugPSaoeqI/AAAAAAAAAWo/vwKnhGrbRlg/s1600/angelababy20.jpg</string>
	</array>
	<key>48208</key>
	<array>
	  <string>http://thumbnail2.xalo.vn/Image/?url=http://popbee.com/image/2008/02/janice-man-angela-baby-15022008.jpg&amp;amp;w=623&amp;amp;v=12fa13341ac5dbd713df7bf561430bcf</string>
	</array>
	<key>48209</key>
	<array>
	  <string>http://contents.syncl.jp/littlewonder/img/upload/up_318128.jpg</string>
	</array>
	<key>48210</key>
	<array>
	  <string>http://www.marieclairechina.com/var/mariecn/storage/fckeditor/Image/1(1479).jpg</string>
	</array>
	<key>48211</key>
	<array>
	  <string>http://1.bp.blogspot.com/_6c5pVVSpZxA/S_qKcPUsuaI/AAAAAAAACLY/zvLZsfTqTv0/s1600/angelababy-yang-wallpaper14-1600x1200.jpg</string>
	</array>
	<key>48212</key>
	<array>
	  <string>http://www.photo4asian.com/img/Hong-Kong-Female/Angela-Baby-Yang-Wing/full/1angelababy4mn2.jpg</string>
	</array>
	<key>48213</key>
	<array>
	  <string>http://farm4.static.flickr.com/3652/3324137505_3705d4f624.jpg</string>
	</array>
	<key>48214</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100405/23/sagradafamiliacasamila/2a/fc/j/t02200330_0333050010483856338.jpg</string>
	</array>
	<key>48215</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100210/09/tinatina007/5d/1b/j/o0800120010408297554.jpg</string>
	</array>
	<key>48216</key>
	<array>
	  <string>http://lh5.ggpht.com/-YXY99wqpscY/R3IgLYbBUbI/AAAAAAAABUs/fD2mF4V_mKU/DSCF5808_S.JPG</string>
	</array>
	<key>48217</key>
	<array>
	  <string>http://www.wallss.net/attachments/day_100324/1003240934b5e8456c86c23d90.jpg</string>
	</array>
	<key>48218</key>
	<array>
	  <string>http://yaplog.jp/cv/lasucre/img/534/img20090523_p.jpg</string>
	</array>
	<key>48219</key>
	<array>
	  <string>http://media.onsugar.com/files/2010/03/13/2/346/3463885/d599f4c5fcfd6a4d_angelababy_breadnbutter_presscon_2.jpg</string>
	</array>
	<key>48220</key>
	<array>
	  <string>http://0.blog.xuite.net/0/b/d/a/22481515/blog_1590876/txt/38633170/1.jpg</string>
	</array>
	<key>48221</key>
	<array>
	  <string>http://www.88news.net/wp-content/uploads/2009/09/Angela-Baby-rumored-to-be-engaged-to-William-Chan.jpg</string>
	</array>
	<key>48222</key>
	<array>
	  <string>http://www.wedding2012.com/wp-content/uploads/3/2262.jpg</string>
	</array>
	<key>48223</key>
	<array>
	  <string>http://www.photo4asian.com/img/Hong-Kong-Female/Angela-Baby-Yang-Wing/full/1686273898.jpg</string>
	</array>
	<key>48224</key>
	<array>
	  <string>http://a9.vietbao.vn/images/vi955/2010/2/55281874-1266911819-angela-baby--1-.jpg</string>
	</array>
	<key>48225</key>
	<array>
	  <string>http://pic1.dbw.cn/0/00/28/90/289086_977106.jpg</string>
	</array>
	<key>48226</key>
	<array>
	  <string>http://1.bp.blogspot.com/_6fyaIP-cj0o/S75ZcnhWklI/AAAAAAAAKZM/VdYTYdMLbVc/s1600/bmw+angelababy1.jpg</string>
	</array>
	<key>48227</key>
	<array>
	  <string>http://i2.listal.com/image/1183369/600full-angela-baby.jpg</string>
	</array>
	<key>48228</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100228/19/tinatina007/e0/93/j/o0800051110432601675.jpg</string>
	</array>
	<key>48229</key>
	<array>
	  <string>http://blog-imgs-46-origin.fc2.com/c/h/i/china8/100726Angelababy_10.jpg</string>
	</array>
	<key>48230</key>
	<array>
	  <string>http://img2.goodcar.cn/forums/day_091020/09102012483f52ba0529074f33.jpg</string>
	</array>
	<key>48231</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201003/10/angelababy.jpg</string>
	</array>
	<key>48232</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/c/h/i/china8/100926angelababy_01.jpg</string>
	</array>
	<key>48233</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_a37/eggs-pumania-life/m_090102-02.jpg</string>
	</array>
	<key>48234</key>
	<array>
	  <string>http://29.media.tumblr.com/hXmeK5bHnkqf7vo5PEFYb9Bpo1_400.jpg</string>
	</array>
	<key>48235</key>
	<array>
	  <string>http://26.media.tumblr.com/tumblr_leuibkVWwF1qcgpexo1_400.jpg</string>
	</array>
	<key>48236</key>
	<array>
	  <string>http://pic1.dbw.cn/0/00/28/90/289081_481181.jpg</string>
	</array>
	<key>48237</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/c/h/i/china8/100728angelababy_07.jpg</string>
	</array>
	<key>48238</key>
	<array>
	  <string>http://contents.syncl.jp/angela-test/img/upload/up_628761.jpg</string>
	</array>
	<key>48239</key>
	<array>
	  <string>http://s3.amazonaws.com/cogolo_faces/AngelaBaby/imgs/blog-imgs-32-origin.fc2.com/a/v/r/avrilcom/AngelaBaby4.jpg</string>
	</array>
	<key>48240</key>
	<array>
	  <string>http://kws-osaka.img.jugem.jp/20090628_1246156.jpg</string>
	</array>
	<key>48241</key>
	<array>
	  <string>http://image.rayliimg.cn/0008/2009-09-14/images/200991411017216.jpg</string>
	</array>
</dict>
</plist>
