<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>72051</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200811/18/F200811181115002481217795.jpg</string>
	</array>
	<key>72052</key>
	<array>
	  <string>http://cimg.163.com/ent/2005/11/12/20051112100527a9033.jpg</string>
	</array>
	<key>72053</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/11/12/ylrita081112048.jpg</string>
	</array>
	<key>72054</key>
	<array>
	  <string>http://hanyu.iciba.com/wiki/uploads/200907/1247935573GHZIPGDN.jpg</string>
	</array>
	<key>72055</key>
	<array>
	  <string>http://bsp1.yokacdn.com/starimg/300_400/483ae19acd04900134d6bb3200ae85a9.jpg</string>
	</array>
	<key>72056</key>
	<array>
	  <string>http://news.xinhuanet.com/overseas/2009-10/22/xinsrc_32210062209510623094710.jpg</string>
	</array>
	<key>72057</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2007-08/17/xin_530804171032171066922.jpg</string>
	</array>
	<key>72058</key>
	<array>
	  <string>http://ent.tom.com/uimg/2009/10/30/wangxuedan/1256857531942_33170.jpg</string>
	</array>
	<key>72059</key>
	<array>
	  <string>http://data.yule.sohu.com/star/pic/star/1/1512/default.jpg</string>
	</array>
	<key>72060</key>
	<array>
	  <string>http://www.cnwnews.com/uploads/allimg/080926/1936520.jpg</string>
	</array>
	<key>72061</key>
	<array>
	  <string>http://photocdn.sohu.com/20070205/Img248050233.jpg</string>
	</array>
	<key>72062</key>
	<array>
	  <string>http://pica.nipic.com/2007-11-28/20071128123018389_2.jpg</string>
	</array>
	<key>72063</key>
	<array>
	  <string>http://www.citygf.com/Snews/se_008007/SE_008007001/200903/W020090312646740302830.jpg</string>
	</array>
	<key>72064</key>
	<array>
	  <string>http://photocdn.sohu.com/20071213/Img254061638.jpg</string>
	</array>
	<key>72065</key>
	<array>
	  <string>http://img.ivsky.com/Photo/UploadFiles/2007-7-15/20077153488380.jpg</string>
	</array>
	<key>72066</key>
	<array>
	  <string>http://images.xooob.com/20086248/200862482417444.jpg</string>
	</array>
	<key>72067</key>
	<array>
	  <string>http://tv.people.com.cn/mediafile/200712/12/F200712120852174932128005.jpg</string>
	</array>
	<key>72068</key>
	<array>
	  <string>http://img.hc360.com/cloth/info/images/200909/200909081633115840.jpg</string>
	</array>
	<key>72069</key>
	<array>
	  <string>http://img2.iqilu.com/ed/09/12/24/61/42_091224092452_1.jpg</string>
	</array>
	<key>72070</key>
	<array>
	  <string>http://www.lnkp.gov.cn/huanbao/UploadFiles_9986/201004/2010040716081250.jpg</string>
	</array>
	<key>72071</key>
	<array>
	  <string>http://pic.jxnews.com.cn/0/02/12/87/2128725_785381.jpg</string>
	</array>
	<key>72072</key>
	<array>
	  <string>http://pic.wenwen.soso.com/p/20080803/20080803201903-747387721.jpg</string>
	</array>
	<key>72073</key>
	<array>
	  <string>http://images.xooob.com/20081716/20081716729127.jpg</string>
	</array>
	<key>72074</key>
	<array>
	  <string>http://photocdn.sohu.com/20051116/Img227511922.jpg</string>
	</array>
	<key>72075</key>
	<array>
	  <string>http://a3.att.hudong.com/12/77/01300000199483121688777261912.jpg</string>
	</array>
	<key>72076</key>
	<array>
	  <string>http://images.yoka.com/pic/men/wanwu/2009/U109P1T1D139867F9DT20090121132350.jpg</string>
	</array>
	<key>72077</key>
	<array>
	  <string>http://image.rayli.com.cn/0016/2007-04-24/images/200742411207398.jpg</string>
	</array>
	<key>72078</key>
	<array>
	  <string>http://www.xgccm.com/upfile/star/DanielWu.jpg</string>
	</array>
	<key>72079</key>
	<array>
	  <string>http://pica.nipic.com/2007-12-18/20071218144055225_2.jpg</string>
	</array>
	<key>72080</key>
	<array>
	  <string>http://www.nnwb.com/Files/7(251).jpg</string>
	</array>
	<key>72081</key>
	<array>
	  <string>http://images.yoka.com/pic/men/womentalk/2009/U101P1T1D223451F9DT20090715090153.jpg</string>
	</array>
	<key>72082</key>
	<array>
	  <string>http://img.ivsky.com/Photo/UploadFiles/2007-7-15/20077153472455.jpg</string>
	</array>
	<key>72083</key>
	<array>
	  <string>http://www.uasp.net/UserFiles/Image/tupian/wuyanzu.jpg</string>
	</array>
	<key>72084</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/m/c/p/2008-06-17/U2507P28T3D2062920F329DT20080617010650.jpg</string>
	</array>
	<key>72085</key>
	<array>
	  <string>http://zymr.net/wp-content/uploads/2010/02/daniel-wu.jpg</string>
	</array>
	<key>72086</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/y/p/2008-05-12/U1978P28T3D2022383F329DT20080512095229.jpg</string>
	</array>
	<key>72087</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/06/03/99/6039989_787952.jpg</string>
	</array>
	<key>72088</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/h/2005-07-12/U1145P28T3D777104F326DT20050712095757.jpg</string>
	</array>
	<key>72089</key>
	<array>
	  <string>http://pic.jxnews.com.cn/0/02/14/86/2148684_427242.jpg</string>
	</array>
	<key>72090</key>
	<array>
	  <string>http://ent.tom.com/uimg/2009/9/2/cuiyan/1251876114110_35132.jpg</string>
	</array>
	<key>72091</key>
	<array>
	  <string>http://img9.zol.com.cn/desk_pic/big_260/259092.jpg</string>
	</array>
	<key>72092</key>
	<array>
	  <string>http://www.y80s.com.cn/uploads/allimg/101111/1-101111210H3.jpg</string>
	</array>
	<key>72093</key>
	<array>
	  <string>http://stars.zaobao.com/images7/wuyanzu090331.jpg</string>
	</array>
	<key>72094</key>
	<array>
	  <string>http://newsxml.cnool.net/newspic2/2008/2008-3/2008-3-2/633400523852187500.jpg</string>
	</array>
	<key>72095</key>
	<array>
	  <string>http://photocdn.sohu.com/20080615/Img257505577.jpg</string>
	</array>
	<key>72096</key>
	<array>
	  <string>http://cimg2.163.com/photo/0003/2006-10-27/2UFLJETP00AJ0003.jpg</string>
	</array>
	<key>72097</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/s/h/2008-11-21/U996P28T3D2261674F329DT20081121165448.jpg</string>
	</array>
	<key>72098</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=110292q10be10</string>
	</array>
	<key>72099</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/2009_image/200908/20098710539244.jpg</string>
	</array>
	<key>72100</key>
	<array>
	  <string>http://cimg2.163.com/photo/0003/2006-10-27/2UFLJGHI00AJ0003.jpg</string>
	</array>
	<key>72101</key>
	<array>
	  <string>http://www.zhuomian.org/uploads/200704/f/1176453302.jpg</string>
	</array>
	<key>72102</key>
	<array>
	  <string>http://statics1.kimiss.com/upload/userfiles/image/2009-07/10/1247193121027862600.jpg</string>
	</array>
	<key>72103</key>
	<array>
	  <string>http://pic4.nipic.com/20091212/1275046_224919954478_2.jpg</string>
	</array>
	<key>72104</key>
	<array>
	  <string>http://kw2007.com.cn/upload/news/B9/B9BA28AE756344D2B05B2F4E94E54306/05C11C4D5CB341CE865F8BBD245B8ABB.jpg</string>
	</array>
	<key>72105</key>
	<array>
	  <string>http://www.xpcolor.com/wallpaper/UploadPic/2007-12/200712222034758.jpg</string>
	</array>
	<key>72106</key>
	<array>
	  <string>http://enjoy.eastday.com/eastday/enjoy/node58771/node58833/node100359/images/00491514.jpg</string>
	</array>
	<key>72107</key>
	<array>
	  <string>http://photocdn.sohu.com/20070204/Img248029912.jpg</string>
	</array>
	<key>72108</key>
	<array>
	  <string>http://images.fashion.mop.com/man/skincare/2006-10-31/8_18_2052_273_72_20061031151259.jpg</string>
	</array>
	<key>72109</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/02/20/ylhj0802200071.jpg</string>
	</array>
	<key>72110</key>
	<array>
	  <string>http://cimg2.163.com/ent/2006/6/22/2006062208192700b6e.jpg</string>
	</array>
	<key>72111</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/c/2005-08-25/U1039P28T3D821118F326DT20050825175949.jpg</string>
	</array>
	<key>72112</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200903/12/F200903120838522817539701.jpg</string>
	</array>
	<key>72113</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2009/08/225321678913.jpg</string>
	</array>
	<key>72114</key>
	<array>
	  <string>http://www.dahe.cn/xwzx/yl/yldxw/W020070410326778285719.jpg</string>
	</array>
	<key>72115</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2010-10/26/12700190_31n.JPG</string>
	</array>
	<key>72116</key>
	<array>
	  <string>http://www.mx126.com/upload_files/1%E5%90%B4%E5%BD%A6%E7%A5%96.jpg</string>
	</array>
	<key>72117</key>
	<array>
	  <string>http://photocdn.sohu.com/20051212/Img227675979.jpg</string>
	</array>
	<key>72118</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=17039eq109a6c</string>
	</array>
	<key>72119</key>
	<array>
	  <string>http://img.hc360.com/food/info/images/201007/201007261450452123.jpg</string>
	</array>
	<key>72120</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/m/p/2008-06-14/U2190P28T3D2060744F326DT20080614213032.jpg</string>
	</array>
	<key>72121</key>
	<array>
	  <string>http://www.ztmingxing.com/upfiles/2010-03/1268416073jaHJ.jpg</string>
	</array>
	<key>72122</key>
	<array>
	  <string>http://www.elanso.com/U/D/D4c/4ca104af32044c78c4b24d1011cbbaa8/128526518831789023.jpg</string>
	</array>
	<key>72123</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2009/03/31/ylrita0903031011.jpg</string>
	</array>
	<key>72124</key>
	<array>
	  <string>http://www.stnn.cc/ent_focus/200808/W020080829304338877024.jpg</string>
	</array>
	<key>72125</key>
	<array>
	  <string>http://www.ztmingxing.com/upfiles/2010-03/1268416132pvj2.jpg</string>
	</array>
	<key>72126</key>
	<array>
	  <string>http://photocdn.sohu.com/20051116/Img227515974.jpg</string>
	</array>
	<key>72127</key>
	<array>
	  <string>http://img3.douban.com/view/photo/raw/public/p648812311.jpg</string>
	</array>
	<key>72128</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1402622q107bb5</string>
	</array>
	<key>72129</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/01/85/51/1855185_652309.jpg</string>
	</array>
	<key>72130</key>
	<array>
	  <string>http://cimg2.163.com/ent/2006/3/23/2006032307404767bdb.jpg</string>
	</array>
	<key>72131</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/wjlmovie/10/1025/10.jpg</string>
	</array>
	<key>72132</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200907/07/40/14885266632711229696.jpg</string>
	</array>
	<key>72133</key>
	<array>
	  <string>http://www.zjol.com.cn/pic/0/01/98/83/1988335_555688.jpg</string>
	</array>
	<key>72134</key>
	<array>
	  <string>http://photocdn.sohu.com/20090429/Img263688711.jpg</string>
	</array>
	<key>72135</key>
	<array>
	  <string>http://pic2.chinawestnews.net/0/10/10/75/10107520_127827.jpg</string>
	</array>
	<key>72136</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2007-08/23/xinsrc_15208042309374681509327.jpg</string>
	</array>
	<key>72137</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200711/26/F200711261100331431240012.jpg</string>
	</array>
	<key>72138</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/2009_image/200909/2009910111256698.jpg</string>
	</array>
	<key>72139</key>
	<array>
	  <string>http://photo.sohu.com/61/08/Img207430861.jpg</string>
	</array>
	<key>72140</key>
	<array>
	  <string>http://exhibitionsz.com/uploads/090703/1_153640_1.jpg</string>
	</array>
	<key>72141</key>
	<array>
	  <string>http://qimg.yesky.com/uploads/images/2008-07/09/87151g27.jpg</string>
	</array>
	<key>72142</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2006-10/25/xin_5110032510022961350917.jpg</string>
	</array>
	<key>72143</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2006/09/03/ea060903120.jpg</string>
	</array>
	<key>72144</key>
	<array>
	  <string>http://photocdn.sohu.com/20070204/Img248029909.jpg</string>
	</array>
	<key>72145</key>
	<array>
	  <string>http://www.chinadaily.com.cn/hqylss/2007-03/22/xin_2903042217144532118552.jpg</string>
	</array>
	<key>72146</key>
	<array>
	  <string>http://www.nnnews.net/Files/%E5%90%B4%E5%BD%A6%E7%A5%96%E4%B8%BB%E5%8A%A8%E4%B8%8E%E5%B7%A5%E4%BD%9C%E4%BA%BA%E5%91%98%E4%BA%92%E7%9B%B8%E4%BA%A4%E6%B5%81%E5%BF%83%E5%BE%97(1).jpg</string>
	</array>
	<key>72147</key>
	<array>
	  <string>http://www.ztmingxing.com/upfiles/2010-03/1268416052WyfR.jpg</string>
	</array>
	<key>72148</key>
	<array>
	  <string>http://ent.cqnews.net/mx/gt/200903/W020090306371683925738.jpg</string>
	</array>
	<key>72149</key>
	<array>
	  <string>http://2a.zol-img.com.cn/article/4/620/liiqfGeWJIby.jpg</string>
	</array>
	<key>72150</key>
	<array>
	  <string>http://oepic.oeeee.com/200808/03/74/2368178670670306818.jpg</string>
	</array>
	<key>72151</key>
	<array>
	  <string>http://img1.qq.com/ent/pics/7275/7275287.jpg</string>
	</array>
	<key>72152</key>
	<array>
	  <string>http://www.zhengxin110.com/UserFiles/%E5%90%B4%E5%BD%A6%E7%A5%96%E5%92%8C%E5%A5%B3%E5%8F%8BLisa%E5%89%AF%E6%9C%AC.jpg</string>
	</array>
	<key>72153</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1000/20090715/001143201a3e0bc7afcc08.jpg</string>
	</array>
	<key>72154</key>
	<array>
	  <string>http://photocdn.sohu.com/20070209/Img248155889.jpg</string>
	</array>
	<key>72155</key>
	<array>
	  <string>http://ent.ynet.com/img.db?47303496+s(450x400)+part(0</string>
	</array>
	<key>72156</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/2009upimg/2009314111455807.jpg</string>
	</array>
	<key>72157</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2007-08/17/xin_310804171032468433421.jpg</string>
	</array>
	<key>72158</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/h/p/2006-10-27/U1384P28T3D1302150F329DT20061027173246.JPG</string>
	</array>
	<key>72159</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20081028/images/01426401.jpg</string>
	</array>
	<key>72160</key>
	<array>
	  <string>http://www.spacebao.com/archive/space/021/20187/%E5%90%B4%E5%BD%A6%E7%A5%963.jpg</string>
	</array>
	<key>72161</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200708/17/P200708170918172326320946.jpg</string>
	</array>
	<key>72162</key>
	<array>
	  <string>http://www.zhuomian.org/uploads/200704/f/1176453740.jpg</string>
	</array>
	<key>72163</key>
	<array>
	  <string>http://posters.7176.com/ren-pp/0437580/HMqoBdS6Z_1190045321.jpg</string>
	</array>
	<key>72164</key>
	<array>
	  <string>http://www.gg88.net/A001/F001W/G0021/001.jpg</string>
	</array>
	<key>72165</key>
	<array>
	  <string>http://www.hao-net.com/sannomiya/blog/assets_c/2010/06/chenguanxi-thumb-400x480-1683.jpg</string>
	</array>
	<key>72166</key>
	<array>
	  <string>http://spaceimg.yoka.com/Upload/2008-7-8/200807081127041386673771.jpg</string>
	</array>
	<key>72167</key>
	<array>
	  <string>http://ent.tom.com/uimg/2010/4/26/chenchao/1272238517354_31336.jpg</string>
	</array>
	<key>72168</key>
	<array>
	  <string>http://www.changsha.cn/200603ent/ent01/200605/W020060521404655310062.jpg</string>
	</array>
	<key>72169</key>
	<array>
	  <string>http://newpic.jxnews.com.cn/0/11/04/05/11040575_858085.jpg</string>
	</array>
	<key>72170</key>
	<array>
	  <string>http://image2.sina.com.cn/dy/o/2007-03-21/9a5cbc32de0c0f1deeb996d6021b2835.jpg</string>
	</array>
	<key>72171</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200712/26/F200712260854089239280497.jpg</string>
	</array>
	<key>72172</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/m/c/p/2009-03-03/U3088P28T3D2400196F329DT20090303164439.jpg</string>
	</array>
	<key>72173</key>
	<array>
	  <string>http://www.cnwnews.com/uploads/allimg/090910/0730141.jpg</string>
	</array>
	<key>72174</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/05/17/ylzlt051706.jpg</string>
	</array>
	<key>72175</key>
	<array>
	  <string>http://img9.zol.com.cn/desk_pic/big_260/259077.jpg</string>
	</array>
	<key>72176</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/am/ys/09/0721/22.jpg</string>
	</array>
	<key>72177</key>
	<array>
	  <string>http://cimg2.163.com/ent/2007/3/23/200703230943154972a.jpg</string>
	</array>
	<key>72178</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/s/h/2008-03-01/U1145P28T3D1932299F326DT20080301153706.jpg</string>
	</array>
	<key>72179</key>
	<array>
	  <string>http://cimg23.163.com/ent/2007/12/17/2007121709581199a96.jpg</string>
	</array>
	<key>72180</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200903/24/23/12109116073955853967.jpg</string>
	</array>
	<key>72181</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/7/29/20080729042844f20b2.jpg</string>
	</array>
	<key>72182</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/v/2009-08-06/U3461P28T3D2641544F346DT20090806155446.jpg</string>
	</array>
	<key>72183</key>
	<array>
	  <string>http://images.rednet.cn/articleimage/2009/06/29/2208445013.jpg</string>
	</array>
	<key>72184</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200710/15/F200710150929301717315541.jpg</string>
	</array>
	<key>72185</key>
	<array>
	  <string>http://alive.tom.com/user/7/photo_7.jpg</string>
	</array>
	<key>72186</key>
	<array>
	  <string>http://pic.66wz.com/0/00/27/86/278608_537867.jpg</string>
	</array>
	<key>72187</key>
	<array>
	  <string>http://ent.cqnews.net/ys/ent_dy/hydy/200906/W020090626631967803804.jpg</string>
	</array>
	<key>72188</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20090304/images/01503721.jpg</string>
	</array>
	<key>72189</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/07/2117308_m_2117310_3306.jpg</string>
	</array>
	<key>72190</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/m/p/2009-02-26/U1819P28T3D2392057F326DT20090226052930.jpg</string>
	</array>
	<key>72191</key>
	<array>
	  <string>http://img1.gtimg.com/ent/pics/hv1/111/28/710/46175001.jpg</string>
	</array>
	<key>72192</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/2009upimg/2009327112411970.jpg</string>
	</array>
	<key>72193</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/03/23/87/3238730_765847.jpg</string>
	</array>
	<key>72194</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/6/2/liuxiaojie/1243937483234_78160.jpg</string>
	</array>
	<key>72195</key>
	<array>
	  <string>http://www.smgbb.cn/d/file/zixun/shishang/2009-05-22/a7fc2560b066f8c8c763aac641271c95.jpg</string>
	</array>
	<key>72196</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200710/15/P200710150929373220921372.jpg</string>
	</array>
	<key>72197</key>
	<array>
	  <string>http://www.bpstar.cn/in/w0010.jpg</string>
	</array>
	<key>72198</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090409/o/2A90B6D9C4AECB264CC6331C3EA3E318.jpg</string>
	</array>
	<key>72199</key>
	<array>
	  <string>http://img.jiaodong.net/pic/0/10/70/68/10706889_365121.jpg</string>
	</array>
	<key>72200</key>
	<array>
	  <string>http://newpic.jxnews.com.cn/0/11/04/05/11040573_109839.jpg</string>
	</array>
	<key>72201</key>
	<array>
	  <string>http://www.smgbb.cn/d/file/zixun/yule/2009-07-07/2785b31a355da89ea36cc468ae396314.jpg</string>
	</array>
	<key>72202</key>
	<array>
	  <string>http://cimg20.163.com/ent/2008/3/1/20080301100204998f4.jpg</string>
	</array>
	<key>72203</key>
	<array>
	  <string>http://yeinjee.com/asianpop/wp-content/uploads/2007/09/chinese-daniel-wu.jpg</string>
	</array>
	<key>72204</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/m/c/p/2009-03-03/U3088P28T3D2400196F326DT20090303164439.jpg</string>
	</array>
	<key>72205</key>
	<array>
	  <string>http://photocdn.sohu.com/20110116/Img278892342.jpg</string>
	</array>
	<key>72206</key>
	<array>
	  <string>http://pic.wenwen.soso.com/p/20090425/20090425105833-522127890.jpg</string>
	</array>
	<key>72207</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2007-02/11/xin_2902041116577032942329.jpg</string>
	</array>
	<key>72208</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/s/m/2008-06-04/U2231P28T3D2048466F326DT20080604174648.jpg</string>
	</array>
	<key>72209</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/s/h/2006-08-22/b6699b9a14b5c6ffb2e3ee4808d60846.jpg</string>
	</array>
	<key>72210</key>
	<array>
	  <string>http://www.zzdesk.cn/d/2007-10/2007102923032883008.jpg</string>
	</array>
	<key>72211</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/m/c/2011-06-03/U2519P28T3D3325098F326DT20110603103404.jpg</string>
	</array>
	<key>72212</key>
	<array>
	  <string>http://ent.wst.cn/ent/UploadFiles_1055/200906/20090605110401422.jpg</string>
	</array>
	<key>72213</key>
	<array>
	  <string>http://www.stnn.cc/ent_focus/200811/W020081107308621945732.jpg</string>
	</array>
	<key>72214</key>
	<array>
	  <string>http://photocdn.sohu.com/20080409/Img256175290.jpg</string>
	</array>
	<key>72215</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200903/12/F200903120758003222292991.jpg</string>
	</array>
	<key>72216</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200808/29/F200808290826114228648524.jpg</string>
	</array>
	<key>72217</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/s/h/p/2010-09-19/U3904P28T3D3092894F326DT20100919181925.jpg</string>
	</array>
	<key>72218</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100419/14/miori623/ca/e9/j/t02200292_0500066410502933028.jpg</string>
	</array>
	<key>72219</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/32/00/2a56b23510b71a098b5f8d3ff489d37a.jpg</string>
	</array>
	<key>72220</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2009-01/09/xin_01301060909510781922313.jpg</string>
	</array>
	<key>72221</key>
	<array>
	  <string>http://www.gg88.com/a001/Wallpapers/F001M/G0011/GG88.NET_5.jpg</string>
	</array>
	<key>72222</key>
	<array>
	  <string>http://ent.cqnews.net/ylove/200906/W020090604518716004226.jpg</string>
	</array>
	<key>72223</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/h/2005-03-25/U564P28T3D685450F329DT20050325085239.JPG</string>
	</array>
	<key>72224</key>
	<array>
	  <string>http://cimg20.163.com/ent/2008/3/1/20080301095916234a3.jpg</string>
	</array>
	<key>72225</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/s/h/2008-03-01/U1145P28T3D1932299F358DT20080301153706.jpg</string>
	</array>
	<key>72226</key>
	<array>
	  <string>http://pic.hsw.cn/0/10/40/35/10403571_002874.jpg</string>
	</array>
	<key>72227</key>
	<array>
	  <string>http://www.zzdesk.cn/d/2007-10/2007102923033283013.jpg</string>
	</array>
	<key>72228</key>
	<array>
	  <string>http://image.xinmin.cn/2008/12/26/20081226093924772701.jpg</string>
	</array>
	<key>72229</key>
	<array>
	  <string>http://yule.tom.com/uimg/2009/7/7/caiyingzhe/1246934268333_60488.jpg</string>
	</array>
	<key>72230</key>
	<array>
	  <string>http://res.ent.ifeng.com/attachments/2010/06/29/936dc0360010fe4de39f966c4a7050ae.jpg</string>
	</array>
	<key>72231</key>
	<array>
	  <string>http://img.v165.56.com/images/9/20/huangjun430230i56olo56i56.com_sc_mp4_130137631791hd.jpg</string>
	</array>
	<key>72232</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200608/24/P200608240947237635322051.jpg</string>
	</array>
	<key>72233</key>
	<array>
	  <string>http://myarticle.enet.com.cn/images/200601/1138015765579.jpg</string>
	</array>
	<key>72234</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2008-10/25/xin_52310052511462181375023.jpg</string>
	</array>
	<key>72235</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090516/1614540Ec2_small.jpg</string>
	</array>
	<key>72236</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/m/p/2009-03-25/U3088P28T3D2436977F346DT20090325023300_small_h.jpg</string>
	</array>
	<key>72237</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/m/p/2009-03-25/U3088P28T3D2436965F346DT20090325023231_small_h.jpg</string>
	</array>
	<key>72238</key>
	<array>
	  <string>http://img.022net.com/ImgFile/201005/08/90/1154463780986274210.jpg</string>
	</array>
	<key>72239</key>
	<array>
	  <string>http://1.bp.blogspot.com/_a981YK4OAfQ/SShf_cCNoEI/AAAAAAAAAJ0/ROcmiOdISzg/s400/A4D1A11DA26C47268BBC94E9FEDDD4DE.jpg</string>
	</array>
	<key>72240</key>
	<array>
	  <string>http://www.sooxue.com/xiaoyuan/UploadFiles_8816/200904/20090429132923389.jpg</string>
	</array>
	<key>72241</key>
	<array>
	  <string>http://entimage.hunantv.com/uploads/images/large/20090722/221135149459_small.jpg</string>
	</array>
	<key>72242</key>
	<array>
	  <string>http://cimg2.163.com/photo/0003/2007-03-30/3ARO9TG200B50003.jpg</string>
	</array>
	<key>72243</key>
	<array>
	  <string>http://lady.southcn.com/6/images/attachement/jpg/site4/20110412/90fba609e4270f0e07410e.jpg</string>
	</array>
	<key>72244</key>
	<array>
	  <string>http://img.ivsky.com/Photo/UploadFiles/2007-7-15/200771534723599.jpg</string>
	</array>
	<key>72245</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/s/h/2009-01-09/U1345P28T3D2334485F329DT20090109075737.jpg</string>
	</array>
	<key>72246</key>
	<array>
	  <string>http://img9.zol.com.cn/desk_pic/big_260/259089.jpg</string>
	</array>
	<key>72247</key>
	<array>
	  <string>http://image2.sina.com.cn/lx/2004-10-27/U766P8T1D119493F913DT20041027172520.jpg</string>
	</array>
	<key>72248</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/uploadfile/2008109122226655.jpg</string>
	</array>
	<key>72249</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/m/p/2009-03-25/U3088P28T3D2436976F346DT20090325023257_small_h.jpg</string>
	</array>
	<key>72250</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/m/p/2009-03-25/U3088P28T3D2436975F346DT20090325023254_small_h.jpg</string>
	</array>
</dict>
</plist>
