<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>143337</key>
	<array>
	  <string>http://koshien.asahi.co.jp/song/img/main_song.png</string>
	</array>
	<key>143336</key>
	<array>
	  <string>http://image.excite.co.jp/feed/news/Natalie/Natalie_14069_1_s.jpg</string>
	</array>
	<key>143335</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/51/3c/chlice2006/folder/713413/img_713413_50761110_1?1276018025</string>
	</array>
	<key>143334</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110727/10/kininaru-word/76/3e/j/o0375050011376411034.jpg</string>
	</array>
	<key>143333</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201106/07/kawakami.jpg</string>
	</array>
	<key>143331</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110806/gnj1108061130012-p1.jpg</string>
	</array>
	<key>143332</key>
	<array>
	  <string>http://musico.jp/imgs/catalog/avx003314.jpg</string>
	</array>
	<key>143329</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/1/3/13e4f_760_20110606_195958_large_353-m.jpg</string>
	</array>
	<key>143330</key>
	<array>
	  <string>http://sports.nifty.com/cms_image/koshien/news/et-ns-f-et-tp0-110726-0036/f-et-tp0-110726-0036.jpg</string>
	</array>
	<key>143328</key>
	<array>
	  <string>http://img-shop.mu-mo.net/images/A/AVCD-38306A/AVCD-38306A_t_01.jpg</string>
	</array>
	<key>143327</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110807/14/juri-blo/73/76/j/o0200020011400590391.jpg</string>
	</array>
	<key>143326</key>
	<array>
	  <string>http://proflist.jp/icon/index.php?id=http%3A%2F%2Fi.ytimg.com%2Fvi%2FLGYmFVCUzsU%2F0.jpg&amp;amp;kb=1</string>
	</array>
	<key>143325</key>
	<array>
	  <string>http://cnt01.labelgate.com/photo/1200/268/014/1200268014C.jpg</string>
	</array>
	<key>143324</key>
	<array>
	  <string>http://www.inmusic.jp/img/091108juribe.jpg</string>
	</array>
	<key>143323</key>
	<array>
	  <string>http://www2.daily.co.jp/newsflash/2011/07/26/Images/b_04307021.jpg</string>
	</array>
	<key>143322</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/ebest-dvd/cabinet/767/0000001047419.jpg?_ex=128x128</string>
	</array>
	<key>143320</key>
	<array>
	  <string>http://blog.fmyokohama.jp/photos/uncategorized/2011/08/08/julia_main1.jpg</string>
	</array>
	<key>143321</key>
	<array>
	  <string>http://sports.nifty.com/cms_image/koshien/news/et-sp-kfuln20110727006008/pfuln20110727006008001.jpg</string>
	</array>
	<key>143318</key>
	<array>
	  <string>http://www.spotlight-news.net/files/786/733021647d7fa2873e2812a0eb6bac6f.jpg</string>
	</array>
	<key>143319</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110607/gnj1106070504010-n1.jpg</string>
	</array>
	<key>143317</key>
	<array>
	  <string>http://eonet.jp/tv/img/110720/cd-sam.jpg</string>
	</array>
	<key>143315</key>
	<array>
	  <string>http://img.youtube.com/vi/VkeTdPkfCYI/3.jpg</string>
	</array>
	<key>143316</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110720/23/sendai-kid/e2/5b/j/t01870187_0187018711363205658.jpg</string>
	</array>
	<key>143314</key>
	<array>
	  <string>http://amd.c.yimg.jp/im_siggQfcA3VhWRYMjeKSMsiZhmQ---x300-y450-q90/amd/20110606-00000342-oric-000-1-view.jpg</string>
	</array>
	<key>143313</key>
	<array>
	  <string>http://i.ytimg.com/vi/GGAcipXZExY/0.jpg</string>
	</array>
	<key>143312</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110727/10/kininaru-word/ac/ec/j/o0375050011376411035.jpg</string>
	</array>
	<key>143311</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/1/3/13e4f_760_20110606_195958_large_353.jpg</string>
	</array>
	<key>143309</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110723/gnj1107231114015-n1.jpg</string>
	</array>
	<key>143310</key>
	<array>
	  <string>http://www.dreamnews.jp/?action_Image=1&amp;amp;p=0000034501&amp;amp;id=bodyimage1</string>
	</array>
	<key>143307</key>
	<array>
	  <string>http://www.cdjournal.com/image/jacket/100/411009/4110090002.jpg</string>
	</array>
	<key>143308</key>
	<array>
	  <string>http://image.cau1.net/upload/item/main/d/9/c/2/7/d9c278411211c4bbd1bffcbccb793e45-1.jpeg</string>
	</array>
	<key>143306</key>
	<array>
	  <string>http://image.cau1.net/upload/item/main/4/0/2/6/2/402620c6fdcc7f6782bab4d0ec8583a4-1.jpeg</string>
	</array>
	<key>143304</key>
	<array>
	  <string>http://img.news.goo.ne.jp/picture/sanspo/ssp20110806502view.jpg?640x0</string>
	</array>
	<key>143305</key>
	<array>
	  <string>http://www2.daily.co.jp/newsflash/2011/07/26/Images/04307081.jpg</string>
	</array>
	<key>143303</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/ajewelry/cabinet/cddvd17/avcd-38306.jpg?_ex=128x128</string>
	</array>
	<key>143301</key>
	<array>
	  <string>http://www.musicman-net.com/files/2011/06/f4ded7ef713a21.jpg</string>
	</array>
	<key>143302</key>
	<array>
	  <string>http://musico.jp/imgs/catalog/avx005745.jpg</string>
	</array>
	<key>143300</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110812/22/juri-blo/f4/7e/j/t02200295_0478064011412745422.jpg</string>
	</array>
	<key>143299</key>
	<array>
	  <string>http://musico.jp/imgs/catalog/avx007125.jpg</string>
	</array>
	<key>143298</key>
	<array>
	  <string>http://i.ytimg.com/vi/45ohc9tyXL0/0.jpg</string>
	</array>
	<key>143297</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/e/e/eeb5e_620_91306493fbd803d6d82a2efb085a0525.jpg</string>
	</array>
	<key>143296</key>
	<array>
	  <string>http://vsearch.c.yimg.jp/image?id=266f8003745fb7a3a0696495fcf2a6eb</string>
	</array>
	<key>143295</key>
	<array>
	  <string>http://vsearch.c.yimg.jp/image?id=f9665e839de32a42f176f05642d77e7e</string>
	</array>
	<key>143293</key>
	<array>
	  <string>http://img02.kadokaword.jp/content/000/000/002/937/293797_170.jpg</string>
	</array>
	<key>143294</key>
	<array>
	  <string>http://www.ggking.jp/img/goods/L/a/avcd-38306.jpg</string>
	</array>
	<key>143292</key>
	<array>
	  <string>http://www.chakuchaku.com/entame/artist/4465/qr.png</string>
	</array>
	<key>143291</key>
	<array>
	  <string>http://cdn.tower.jp/za/m/9W/zaP2_G5640589W.JPG</string>
	</array>
	<key>143290</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/k/kurashinakana/20100422/20100422012026.jpg</string>
	</array>
	<key>143289</key>
	<array>
	  <string>http://p.music.jp/jpop/qr/qr.do?url=http%3A%2F%2Fp.music.jp%2Fj-search%2Fweb%2FDlRedirect.aspx%3Fat%3D39960%26bn%3Dxsearch18%26ad%3Dxsearch18</string>
	</array>
	<key>143288</key>
	<array>
	  <string>http://business.nifty.com/cms_image/business/news/sech-20110607-20110607_00001/thumb-sech-20110607-20110607_00001-world.jpg</string>
	</array>
	<key>143287</key>
	<array>
	  <string>http://amd.c.yimg.jp/im_siggaE1GSxyLPMsLJIzproP0pw---x133-y200-q90/amd/20110607-00000512-bark-000-0-thumb.jpg</string>
	</array>
	<key>143285</key>
	<array>
	  <string>http://img.youtube.com/vi/Lgje6OKKEZo/0.jpg</string>
	</array>
	<key>143286</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110727/gnj1107271623021-p1.jpg</string>
	</array>
	<key>143284</key>
	<array>
	  <string>http://blog-imgs-43-origin.fc2.com/i/c/e/icenet/20110811084140aa0.jpg</string>
	</array>
	<key>143283</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201106/07/kawakami03.jpg</string>
	</array>
	<key>143282</key>
	<array>
	  <string>http://mainichi.jp/enta/geinou/news/images/20110727mog00m010002000p_size5.jpg</string>
	</array>
	<key>143280</key>
	<array>
	  <string>http://koshien.asahi.co.jp/song/img/main_jurian.png</string>
	</array>
	<key>143281</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/felista/cabinet/5074/00001047420.jpg?_ex=128x128</string>
	</array>
	<key>143279</key>
	<array>
	  <string>http://www.ggking.jp/img/goods/L/a/avcd-38307.jpg</string>
	</array>
	<key>143278</key>
	<array>
	  <string>http://talent.c.yimg.jp/images/talent/201107/large/w10/w10-1324-110714.jpg</string>
	</array>
	<key>143277</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51WCPApF6AL._SL110_.jpg</string>
	</array>
	<key>143276</key>
	<array>
	  <string>http://3.bp.blogspot.com/-pquwyLWOPT0/TkKR6Dx-CVI/AAAAAAAACUU/cIoXzeg2VDU/s320/covera.jpg</string>
	</array>
	<key>143275</key>
	<array>
	  <string>http://img.melo-cha.com/moca/img/disc/zzz/100_AVCD-38306-B.jpg</string>
	</array>
	<key>143273</key>
	<array>
	  <string>http://www.nack5.co.jp/after5/blog_photo/03167.jpg</string>
	</array>
	<key>143274</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/d/4/d497c_211_20110606201950_00_400-m.jpg</string>
	</array>
	<key>143272</key>
	<array>
	  <string>http://seagz.fujitv.co.jp/person/photo/W10/W10-1324.jpg</string>
	</array>
	<key>143271</key>
	<array>
	  <string>http://www.nack5.co.jp/after5/blog_photo/09071.jpg</string>
	</array>
	<key>143269</key>
	<array>
	  <string>http://tn-skr2.smilevideo.jp/smile?i=8511333</string>
	</array>
	<key>143270</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110727/gnj1107271623021-n1.jpg</string>
	</array>
	<key>143268</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/o/n/e/onestepbeyooond/2011_06_07_kawakamijurian_01.jpg</string>
	</array>
	<key>143267</key>
	<array>
	  <string>http://news.nifty.com/cms_image/news/entame/wtv-20110607-22519/thumb-wtv-20110607-22519-entame.jpg</string>
	</array>
	<key>143265</key>
	<array>
	  <string>http://news.walkerplus.com/2011/0607/4/20110606201950_00_240.jpg</string>
	</array>
	<key>143266</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000070512/jbc1_s.jpg</string>
	</array>
	<key>143263</key>
	<array>
	  <string>http://i.ytimg.com/vi/7E1stOp-Mdk/0.jpg</string>
	</array>
	<key>143264</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/2011/06/07/20110607dog00m200001000c_250.jpg</string>
	</array>
	<key>143262</key>
	<array>
	  <string>http://www.cdjournal.com/image/jacket/100/Z3/Z324001173.jpg</string>
	</array>
	<key>143261</key>
	<array>
	  <string>http://www.inmusic.jp/img2/110607juribe.jpg</string>
	</array>
	<key>143260</key>
	<array>
	  <string>http://contents.syncl.jp/max/img/upload/up_106401.jpg</string>
	</array>
	<key>143259</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/jyuria-110607-003-ns300.jpg</string>
	</array>
	<key>143257</key>
	<array>
	  <string>http://blog-imgs-46.fc2.com/o/w/a/owariokasi/20110811192716c48.jpg</string>
	</array>
	<key>143258</key>
	<array>
	  <string>http://amd.c.yimg.jp/amd/20110806-00000502-sanspo-000-2-view.jpg</string>
	</array>
	<key>143256</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51WCPApF6AL._SS500_.jpg</string>
	</array>
	<key>143254</key>
	<array>
	  <string>http://img.youtube.com/vi/DL4_D6-y4DQ/0.jpg</string>
	</array>
	<key>143255</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/j/dss_avcd-38307</string>
	</array>
	<key>143253</key>
	<array>
	  <string>http://image.blog.livedoor.jp/ruroken5296/imgs/1/2/12d068fc.JPG</string>
	</array>
	<key>143252</key>
	<array>
	  <string>http://avexnet.or.jp/juribe/images/sub2.jpg</string>
	</array>
	<key>143250</key>
	<array>
	  <string>http://www.littleoslo.com/lyj/home/wp-content/uploads/2011/07/51R-300x300.jpg</string>
	</array>
	<key>143251</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/et-f-110726-02-ns300.jpg</string>
	</array>
	<key>143248</key>
	<array>
	  <string>http://i.ytimg.com/vi/HCARtN3VfcA/2.jpg</string>
	</array>
	<key>143249</key>
	<array>
	  <string>http://isearch.c.yimg.jp/image?id=e5724711d820a442f4e22560d7c09081</string>
	</array>
	<key>143247</key>
	<array>
	  <string>http://ak2.static.dailymotion.com/static/video/480/601/17106084:jpeg_preview_medium.jpg?20090816224306</string>
	</array>
	<key>143246</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/0c/e1/d2a624acafb833b704d5e60d9c7c5f60.jpg</string>
	</array>
	<key>143245</key>
	<array>
	  <string>http://img.youtube.com/vi/blX-Gwh-F9I/0.jpg</string>
	</array>
	<key>143244</key>
	<array>
	  <string>http://utaten.com/information/p/image/1136/pc.jpg</string>
	</array>
	<key>143242</key>
	<array>
	  <string>http://dreamflight.up.seesaa.net/image/P1100239-ss.jpg</string>
	</array>
	<key>143243</key>
	<array>
	  <string>http://www.mmqr.net/listen/2010/04/03/image%20/8th.jpg</string>
	</array>
	<key>143240</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/201011/07/89/d0166589_0444299.jpg</string>
	</array>
	<key>143241</key>
	<array>
	  <string>http://www.nhk-g.co.jp/program/life/2010/055/images/thu.jpg</string>
	</array>
	<key>143239</key>
	<array>
	  <string>http://st35.storage.gree.jp/album/30/52/22703052/ccf752f8_640.jpg</string>
	</array>
	<key>143238</key>
	<array>
	  <string>http://www.joqr.co.jp/satellite/archives/0917repo_1.jpg</string>
	</array>
	<key>143235</key>
	<array>
	  <string>http://www.downloaddude.info/images/ogaku-Music-MP3/kawakami-juria-(JURIAN-BEAT-CRISIS)-zuttokokokara.jpg</string>
	</array>
	<key>143236</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000052440/juri2_s.jpg</string>
	</array>
	<key>143237</key>
	<array>
	  <string>http://img.youtube.com/vi/89iINloJ1AA/0.jpg</string>
	</array>
	<key>143234</key>
	<array>
	  <string>http://i2.ytimg.com/vi/aYA9xqywt6Y/0.jpg</string>
	</array>
	<key>143233</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100406/00/ryusuke-tsuchiya/a8/38/j/o0227034010483980091.jpg</string>
	</array>
	<key>143232</key>
	<array>
	  <string>http://f.hatena.ne.jp/images/fotolife/R/River14/20090903/20090903015054.jpg</string>
	</array>
	<key>143230</key>
	<array>
	  <string>http://www.kirei40.info/gazou/jbc.jpg</string>
	</array>
	<key>143231</key>
	<array>
	  <string>http://blog.shinseido.co.jp/tokuten/2011/0810%E5%B7%9D%E4%B8%8A%E3%82%B8%E3%83%A5%E3%83%AA%E3%82%A2main%E6%A8%AA.jpg</string>
	</array>
	<key>143229</key>
	<array>
	  <string>http://blog.bayfm.jp/generation/JULIAN.JPG</string>
	</array>
	<key>143227</key>
	<array>
	  <string>http://img.youtube.com/vi/VkeTdPkfCYI/0.jpg</string>
	</array>
	<key>143228</key>
	<array>
	  <string>http://recochoku.jp/images02/music_info/index/20091117/001_20091117_008.jpg</string>
	</array>
	<key>143226</key>
	<array>
	  <string>http://blog.shinseido.co.jp/tokuten/2009/0901%E3%82%A2%E3%83%BC%E5%86%99%E3%83%A1%E3%82%A4%E3%83%B3.jpg</string>
	</array>
	<key>143225</key>
	<array>
	  <string>http://yokohama.jorf.co.jp/photos/uncategorized/2009/09/29/090929_03.jpg</string>
	</array>
	<key>143223</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100414/14/ootani-mio/1b/b2/j/t02200165_0320024010496022942.jpg</string>
	</array>
	<key>143224</key>
	<array>
	  <string>http://pakila.jp/~portal/cmstools/viewimg.php?entryname=interview&amp;amp;entryid=00350&amp;amp;fileid=00000001&amp;amp;/jurian_int.jpg</string>
	</array>
	<key>143222</key>
	<array>
	  <string>http://img.simpleapi.net/small/http://www.avexnet.or.jp/juribe/profile/</string>
	</array>
	<key>143220</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/52/0000848552/41/imgb68c48abzik7zj.jpeg</string>
	</array>
	<key>143221</key>
	<array>
	  <string>http://www.kirei40.info/gazou/jbc1.jpg</string>
	</array>
	<key>143218</key>
	<array>
	  <string>http://2.bp.blogspot.com/_cEhTCvAHdbw/TCyM3GyXiPI/AAAAAAAAAEA/eG5d_x9hauw/s1600/jurianbeatcrisis.png</string>
	</array>
	<key>143219</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090815/12/k-daimaou/5c/f5/j/t02200293_0600080010233377066.jpg</string>
	</array>
	<key>143217</key>
	<array>
	  <string>http://www.mmqr.net/listen/2009/10/23/image/Lis1022_2.jpg</string>
	</array>
	<key>143216</key>
	<array>
	  <string>http://www.digimonostation.jp/headphonegirl/backnumber/logo_96.jpg</string>
	</array>
	<key>143215</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/3/1/318f6_130_2010030909_01-m.jpg</string>
	</array>
	<key>143214</key>
	<array>
	  <string>http://itm.news2u.net/items/output/55365/1/100/w</string>
	</array>
	<key>143213</key>
	<array>
	  <string>http://www.fujitv.co.jp/events/photo/sta_2ldk13_f_100505.jpg</string>
	</array>
	<key>143212</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/c/6/c613dd0f3f34b92955c12221e44e70b6-m.jpg</string>
	</array>
	<key>143211</key>
	<array>
	  <string>http://stat100.ameba.jp/blog/img/ameba/officialblog/face/juri-blo_120.jpg</string>
	</array>
	<key>143210</key>
	<array>
	  <string>http://www.tokyo-keizai.co.jp/img/blog/100324.jpg</string>
	</array>
	<key>143209</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/014/204/55/N000/000/001/124882861709716124593.jpg</string>
	</array>
	<key>143208</key>
	<array>
	  <string>http://yokohama.jorf.co.jp/photos/uncategorized/2009/09/29/090929_01.jpg</string>
	</array>
	<key>143207</key>
	<array>
	  <string>http://blog.lacittadella.co.jp/photos/uncategorized/2010/02/25/jbc.jpg</string>
	</array>
	<key>143206</key>
	<array>
	  <string>http://i.listen.jp/img/news/20091021/28156_2.jpg</string>
	</array>
	<key>143205</key>
	<array>
	  <string>http://dorasong.up.seesaa.net/image/A3CAA3D5A3D2A3C9A3C1A3CEA3C2A3C5A3C1A3D4A3C3A3D2A3C9A3D3A3C9A3D3-thumbnail2.jpg</string>
	</array>
	<key>143203</key>
	<array>
	  <string>http://contents.syncl.jp/max/img/upload/up_106400.jpg</string>
	</array>
	<key>143204</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201002/17/jurianbeatcrisis_main.jpg</string>
	</array>
	<key>143202</key>
	<array>
	  <string>http://gyao.c.yimg.jp/im_siggi_jNamjW9X2GVNyidojXjw---x200-y150-q80/rio/00071/v07947/chTop_7947_20100216095744.jpg</string>
	</array>
	<key>143201</key>
	<array>
	  <string>http://news.utamap.com/_upimg/00300/aa330_03_0309170057.jpg</string>
	</array>
	<key>143200</key>
	<array>
	  <string>http://fmvs.jp/news/music/img/img1113_JURIAN-BEAT-CRISIS.jpg</string>
	</array>
	<key>143199</key>
	<array>
	  <string>http://nmn.nifty.com/cms_image/nmn/topics/091021028084/jbc.jpg</string>
	</array>
	<key>143196</key>
	<array>
	  <string>http://i.listen.jp/img/news/20090902/27768_2.jpg</string>
	</array>
	<key>143198</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/profile.jpg?20282</string>
	</array>
	<key>143197</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/014/204/55/N000/000/002/125124990642116217169_a-nation.jpg</string>
	</array>
	<key>143195</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000055162/jbc1_s.jpg</string>
	</array>
	<key>143193</key>
	<array>
	  <string>http://i.listen.jp/img/news/20090902/27768_3.jpg</string>
	</array>
	<key>143194</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000059071/juria1_s.jpg</string>
	</array>
	<key>143192</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_106272_pc.jpg</string>
	</array>
	<key>143191</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_139822_pc.jpg</string>
	</array>
	<key>143190</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_115846_pc.jpg</string>
	</array>
	<key>143189</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20090728/68000_200907280005529001248750586c.jpg</string>
	</array>
	<key>143188</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_108777_pc.jpg</string>
	</array>
	<key>143187</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_324743_pc.jpg</string>
	</array>
	<key>143186</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20090902/68849_200909020894184001251866415c.jpg</string>
	</array>
	<key>143184</key>
	<array>
	  <string>http://natalie.mu/media/1002/0217/extra/news_large_JURIANBEATCRISIS_tsutsumi.jpg</string>
	</array>
	<key>143185</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_107388_pc.jpg</string>
	</array>
	<key>143182</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_379239_pc.jpg</string>
	</array>
	<key>143183</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_115434_pc.jpg</string>
	</array>
	<key>143181</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000051475/pia001_s.jpg</string>
	</array>
	<key>143180</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_105656_pc.jpg</string>
	</array>
	<key>143178</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_330512_pc.jpg</string>
	</array>
	<key>143179</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000052313/nation002_s_www_barks_jp.jpg</string>
	</array>
	<key>143177</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_295583_pc.jpg</string>
	</array>
	<key>143175</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_107642_pc.jpg</string>
	</array>
	<key>143176</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_419878_pc.jpg</string>
	</array>
	<key>143174</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_105655_pc.jpg</string>
	</array>
	<key>143172</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_401893_pc.jpg</string>
	</array>
	<key>143173</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_284974_pc.jpg</string>
	</array>
	<key>143170</key>
	<array>
	  <string>http://contents.syncl.jp/juria/img/upload/up_164840_pc.jpg</string>
	</array>
	<key>143171</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20090902/68849_200909020883491001251866415c.jpg</string>
	</array>
	<key>143169</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000070512/jbc003_s_www_barks_jp.jpg</string>
	</array>
	<key>143168</key>
	<array>
	  <string>http://natalie.mu/media/1002/0217/extra/news_large_JURIANBEATCRISIS.jpg</string>
	</array>
	<key>143167</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000052313/nation001_s_www_barks_jp.jpg</string>
	</array>
	<key>143166</key>
	<array>
	  <string>http://www.daily.co.jp/gossip/article/04307781.jpg</string>
	</array>
	<key>143165</key>
	<array>
	  <string>http://www.sponichi.co.jp/entertainment/news/2011/07/27/jpeg/G20110727001288070_view.jpg</string>
	</array>
	<key>143338</key>
	<array>
	  <string>http://images-jp.amazon.com/images/P/B0053UKE8U.09.TZZZZZZZ.jpg</string>
	</array>
	<key>143339</key>
	<array>
	  <string>http://2.bp.blogspot.com/-tp0FBWMfmhE/TkND9hoiwfI/AAAAAAAACVs/OeHKGnh07BE/s1600/Jurian.jpg</string>
	</array>
	<key>143340</key>
	<array>
	  <string>http://www.cdjournal.com/image/jacket/large/411007/4110070530.jpg</string>
	</array>
	<key>143341</key>
	<array>
	  <string>http://www.cdjournal.com/image/jacket/large/411009/4110090002.jpg</string>
	</array>
	<key>143342</key>
	<array>
	  <string>http://news.searchina.ne.jp/2011/0607/entertainment_0607_001_small.jpg</string>
	</array>
	<key>143343</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201002/17/jurianbeatcrisis_tsutsumi.jpg</string>
	</array>
	<key>143344</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110723/gnj1107231114015-p1.jpg</string>
	</array>
	<key>143345</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/e/e/eeb5e_620_91306493fbd803d6d82a2efb085a0525-m.jpg</string>
	</array>
	<key>143346</key>
	<array>
	  <string>http://i.listen.jp/img/artists/1180613.jpg</string>
	</array>
	<key>143347</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2011/06/07/009/images/001.jpg</string>
	</array>
	<key>143348</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100805/07/keyword24/75/73/j/t02200145_0240015810676099778.jpg</string>
	</array>
	<key>143349</key>
	<array>
	  <string>http://2.bp.blogspot.com/-rnJj7EWGEfk/TjIOw_E6YLI/AAAAAAAAL0s/HKgDL_1r5W0/s400/1.jpg</string>
	</array>
	<key>143350</key>
	<array>
	  <string>http://wing.mobile.yahoo.co.jp/im_siggQfcA3VhWRYMjeKSMsiZhmQ---x300-y450-q90/amd/20110606-00000342-oric-000-1-view.jpg?sr.host=amd.c.yimg.jp&amp;amp;sr.pm=1&amp;amp;rw=95&amp;amp;rh=100</string>
	</array>
	<key>143351</key>
	<array>
	  <string>http://29.media.tumblr.com/tumblr_lmek229Bg71qbw5qso1_500.jpg</string>
	</array>
	<key>143352</key>
	<array>
	  <string>http://cnt01.labelgate.com/photo/1200/268/129/1200268129C.jpg</string>
	</array>
	<key>143353</key>
	<array>
	  <string>http://cnt01.labelgate.com/photo/1200/268/018/1200268018C.jpg</string>
	</array>
	<key>143354</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/201008/14/89/d0166589_0181359.jpg</string>
	</array>
	<key>143355</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110607/gnj1106070504010-p1.jpg</string>
	</array>
	<key>143356</key>
	<array>
	  <string>http://3.bp.blogspot.com/-IcLpAiFY3_I/Te2xRHd3W5I/AAAAAAAAJ8o/38NS5Qo-tgE/s400/1.jpg</string>
	</array>
	<key>143357</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100711/23/virgo-hair/b1/a2/j/o0800060010635066541.jpg</string>
	</array>
	<key>143358</key>
	<array>
	  <string>http://www.liondo.com/imagem/200/ADI/A/ADI_AVCD-38307.jpg</string>
	</array>
	<key>143359</key>
	<array>
	  <string>http://www.vanda.co.jp/imagem/200/ADI/A/ADI_AVCD-38306.jpg</string>
	</array>
	<key>143360</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110607/gnj1106070504010-p3.jpg</string>
	</array>
	<key>143361</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/c/dss_avcd-38307</string>
	</array>
	<key>143362</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110126/16/juri-blo/5b/71/j/o0800045011006994629.jpg</string>
	</array>
	<key>143363</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000056914/jbc1_s.jpg</string>
	</array>
	<key>143364</key>
	<array>
	  <string>http://talent.c.yimg.jp/images/talent/201107/medium/w10/w10-1324-110714.jpg</string>
	</array>
</array>
</plist>
