<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>6601</key>
	<array>
	  <string>http://natalie.mu/media/1007/0712/extra/news_large_YUI_art.jpg</string>
	</array>
	<key>6602</key>
	<array>
	  <string>http://natalie.mu/media/1006/0611/extra/news_large_YUI_art.jpg</string>
	</array>
	<key>6603</key>
	<array>
	  <string>http://natalie.mu/media/0808/extra/news_large_1220019620YUI.jpg</string>
	</array>
	<key>6604</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000039222/yui_a.jpg</string>
	</array>
	<key>6605</key>
	<array>
	  <string>http://www.hotexpress.co.jp/news/091021_yui/img/yui_091021_ap.jpg</string>
	</array>
	<key>6606</key>
	<array>
	  <string>http://www.hotexpress.co.jp/news/081118_yui/img/yui_081118_ap.jpg</string>
	</array>
	<key>6607</key>
	<array>
	  <string>http://farm3.static.flickr.com/2413/2266057137_611af466d4.jpg</string>
	</array>
	<key>6608</key>
	<array>
	  <string>http://farm1.static.flickr.com/147/375586600_4c41573d62.jpg</string>
	</array>
	<key>6609</key>
	<array>
	  <string>http://farm3.static.flickr.com/2049/2266056937_f9ecc4b013.jpg</string>
	</array>
	<key>6610</key>
	<array>
	  <string>http://farm4.static.flickr.com/3171/2685459210_546315e381.jpg</string>
	</array>
	<key>6611</key>
	<array>
	  <string>http://farm3.static.flickr.com/2212/2266056821_f76f292e4b.jpg</string>
	</array>
	<key>6612</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110418/86754_201104180784697001303095441c.jpg</string>
	</array>
	<key>6613</key>
	<array>
	  <string>http://farm2.static.flickr.com/1004/1232204231_0d17ae396c.jpg</string>
	</array>
	<key>6614</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20091012/69742_200910120833721001255346315c.jpg</string>
	</array>
	<key>6615</key>
	<array>
	  <string>http://farm3.static.flickr.com/2290/2266846298_88cb94983d.jpg</string>
	</array>
	<key>6616</key>
	<array>
	  <string>http://contents.oricon.co.jp/photogallery/images/101115_yui/pic_l_01.jpg</string>
	</array>
	<key>6617</key>
	<array>
	  <string>http://farm3.static.flickr.com/2383/2093552138_26446e7223.jpg</string>
	</array>
	<key>6618</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20090723/67910_200907230899189001248318799c.jpg</string>
	</array>
	<key>6619</key>
	<array>
	  <string>http://farm4.static.flickr.com/3043/2684680603_f144c4ffc4.jpg</string>
	</array>
	<key>6620</key>
	<array>
	  <string>http://farm2.static.flickr.com/1170/826870642_d5b935c74f.jpg</string>
	</array>
	<key>6621</key>
	<array>
	  <string>http://farm4.static.flickr.com/3250/2723594615_5503edbeab.jpg</string>
	</array>
	<key>6622</key>
	<array>
	  <string>http://www.oricon.co.jp/music/interview/images/070404_yui/top_04.jpg</string>
	</array>
	<key>6623</key>
	<array>
	  <string>http://natalie.mu/media/1004/0414/extra/news_large_YUI_JK_limited.jpg</string>
	</array>
	<key>6624</key>
	<array>
	  <string>http://farm1.static.flickr.com/123/375586598_549ae740c2.jpg</string>
	</array>
	<key>6625</key>
	<array>
	  <string>http://natalie.mu/media/1012/1222/extra/news_large_YUI_art.jpg</string>
	</array>
	<key>6626</key>
	<array>
	  <string>http://farm3.static.flickr.com/2279/2266846164_843be00239.jpg</string>
	</array>
	<key>6627</key>
	<array>
	  <string>http://www.hotexpress.co.jp/news/100430_yui/img/yui_100430_ap.jpg</string>
	</array>
	<key>6628</key>
	<array>
	  <string>http://contents.oricon.co.jp/photogallery/images/101115_yui/pic_l_03.jpg</string>
	</array>
	<key>6629</key>
	<array>
	  <string>http://farm1.static.flickr.com/179/375588488_fb0d4c3c8c.jpg</string>
	</array>
	<key>6630</key>
	<array>
	  <string>http://farm4.static.flickr.com/3112/2404727186_abf6714563.jpg</string>
	</array>
	<key>6631</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100125/72765_201001250267009001264419113c.jpg</string>
	</array>
	<key>6632</key>
	<array>
	  <string>http://farm2.static.flickr.com/1032/826870814_f7e10cc79b.jpg</string>
	</array>
	<key>6633</key>
	<array>
	  <string>http://natalie.mu/media/0903/0326/extra/news_large_yui_art.jpg</string>
	</array>
	<key>6634</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/10/004/images/006l.jpg</string>
	</array>
	<key>6635</key>
	<array>
	  <string>http://farm2.static.flickr.com/1068/826870766_a6fa2c47d7.jpg</string>
	</array>
	<key>6636</key>
	<array>
	  <string>http://farm1.static.flickr.com/140/375588493_051a775269.jpg</string>
	</array>
	<key>6637</key>
	<array>
	  <string>http://farm1.static.flickr.com/160/375586597_419272f8b8.jpg</string>
	</array>
	<key>6638</key>
	<array>
	  <string>http://farm3.static.flickr.com/2001/2292017283_e64b386706.jpg</string>
	</array>
	<key>6639</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000044997/580.jpg</string>
	</array>
	<key>6640</key>
	<array>
	  <string>http://farm1.static.flickr.com/156/375615699_2753436699.jpg</string>
	</array>
	<key>6641</key>
	<array>
	  <string>http://farm3.static.flickr.com/2114/2723570519_7468ecd1d7.jpg</string>
	</array>
	<key>6642</key>
	<array>
	  <string>http://farm1.static.flickr.com/174/375586610_4a80b2cfc1.jpg</string>
	</array>
	<key>6643</key>
	<array>
	  <string>http://farm1.static.flickr.com/148/375586602_a6093f9c09.jpg</string>
	</array>
	<key>6644</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110304/85453_201103040552572001299245412c.jpg</string>
	</array>
	<key>6645</key>
	<array>
	  <string>http://farm2.static.flickr.com/1254/826870878_5be3996ba5.jpg</string>
	</array>
	<key>6646</key>
	<array>
	  <string>http://farm2.static.flickr.com/1306/826870752_0bbdc13e9f.jpg</string>
	</array>
	<key>6647</key>
	<array>
	  <string>http://farm4.static.flickr.com/3295/2731484056_75c1e3c311.jpg</string>
	</array>
	<key>6648</key>
	<array>
	  <string>http://farm4.static.flickr.com/3264/2292408151_ddff87604f.jpg</string>
	</array>
	<key>6649</key>
	<array>
	  <string>http://natalie.mu/media/0912/1215/extra/news_large_yui.jpg</string>
	</array>
	<key>6650</key>
	<array>
	  <string>http://farm3.static.flickr.com/2200/2293226208_9ec2902926.jpg</string>
	</array>
	<key>6651</key>
	<array>
	  <string>http://farm3.static.flickr.com/2021/2293226220_49e9a3b7bc.jpg</string>
	</array>
	<key>6652</key>
	<array>
	  <string>http://farm4.static.flickr.com/3083/2292408161_5fc57d0f4d.jpg</string>
	</array>
	<key>6653</key>
	<array>
	  <string>http://farm1.static.flickr.com/182/375615703_e43291ba9e.jpg</string>
	</array>
	<key>6654</key>
	<array>
	  <string>http://farm2.static.flickr.com/1165/826870446_410f8cc7ee.jpg</string>
	</array>
	<key>6655</key>
	<array>
	  <string>http://farm3.static.flickr.com/2172/2292408159_13ebcc9246.jpg</string>
	</array>
	<key>6656</key>
	<array>
	  <string>http://farm4.static.flickr.com/3251/2292408163_bd48c93fe5.jpg</string>
	</array>
	<key>6657</key>
	<array>
	  <string>http://farm1.static.flickr.com/126/375588496_5c9daceb4a.jpg</string>
	</array>
	<key>6658</key>
	<array>
	  <string>http://farm3.static.flickr.com/2003/2283964548_4fae57f360.jpg</string>
	</array>
	<key>6659</key>
	<array>
	  <string>http://farm3.static.flickr.com/2286/2292408155_0cc7b78e2f.jpg</string>
	</array>
	<key>6660</key>
	<array>
	  <string>http://farm1.static.flickr.com/155/375615707_ae5d0fc799.jpg</string>
	</array>
	<key>6661</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/10/004/images/001l.jpg</string>
	</array>
	<key>6662</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/11/05/120/images/001l.jpg</string>
	</array>
	<key>6663</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/101103/msc1011031154002-p1.jpg</string>
	</array>
	<key>6664</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200610/yui_interview_main.jpg</string>
	</array>
	<key>6665</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/100617/msc1006171247001-p1.jpg</string>
	</array>
	<key>6666</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/100801/msc1008010909003-p1.jpg</string>
	</array>
	<key>6667</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100711/tnr1007110701000-p1.jpg</string>
	</array>
	<key>6668</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000066410/001.jpg</string>
	</array>
	<key>6669</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/14/062/images/001l.jpg</string>
	</array>
	<key>6670</key>
	<array>
	  <string>http://ascii.jp/elem/000/000/575/575537/05_c_600x800.jpg</string>
	</array>
	<key>6671</key>
	<array>
	  <string>http://ascii.jp/elem/000/000/575/575533/01_c_600x800.jpg</string>
	</array>
	<key>6672</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/120807.jpg</string>
	</array>
	<key>6673</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/120810.jpg</string>
	</array>
	<key>6674</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/w/a/l/wallpapermania/YUI18.jpg</string>
	</array>
	<key>6675</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/w/a/l/wallpapermania/yui19.jpg</string>
	</array>
	<key>6676</key>
	<array>
	  <string>http://img01.ti-da.net/usr/banksy/yui001.jpg</string>
	</array>
	<key>6677</key>
	<array>
	  <string>http://3.bp.blogspot.com/_lgU7ci8PH4s/TJQiUe6PCvI/AAAAAAAAAFw/JF6ZVwLJByo/s1600/YUI+-+LOVE+%26+TRUTH.jpg</string>
	</array>
	<key>6678</key>
	<array>
	  <string>http://blog-imgs-41-origin.fc2.com/y/u/i/yui0000/YUI_20090503172450.jpg</string>
	</array>
	<key>6679</key>
	<array>
	  <string>http://www.geocities.jp/michihirokazu/yui_my_short_stories_jacket_1024x768.jpg</string>
	</array>
	<key>6680</key>
	<array>
	  <string>http://blog-imgs-27.fc2.com/n/e/u/neuroses/aragaki_yui5.jpg</string>
	</array>
	<key>6681</key>
	<array>
	  <string>http://palmergroup.info/yui.jpg</string>
	</array>
	<key>6682</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/30/13/nao_everfree/folder/318446/img_318446_24782976_0?1138625024</string>
	</array>
	<key>6683</key>
	<array>
	  <string>http://blog-imgs-15-origin.fc2.com/w/a/l/wallpapermania/yui4.jpg</string>
	</array>
	<key>6684</key>
	<array>
	  <string>http://mokanba-usodakedo.blog.so-net.ne.jp/_images/blog/_76a/mokanba-usodakedo/YUI10.jpg</string>
	</array>
	<key>6685</key>
	<array>
	  <string>http://4.bp.blogspot.com/_cmrpvY9jqtA/TU8CB9ClHJI/AAAAAAAAAWY/pt6MgTFFnyQ/s1600/ux6ga4oitzz0g640.jpg</string>
	</array>
	<key>6686</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/d/r/i/driftwood/CM_YUI_Laugh_away_001.jpg</string>
	</array>
	<key>6687</key>
	<array>
	  <string>http://cawaiigirls.up.269g.net/image/f0164384200804292109365B15D.jpg</string>
	</array>
	<key>6688</key>
	<array>
	  <string>http://pr.cgiboy.com/image/421/182/12182421.jpeg</string>
	</array>
	<key>6689</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/a/m/e/amexlog/YUI.jpg</string>
	</array>
	<key>6690</key>
	<array>
	  <string>http://yui-fan.blog.so-net.ne.jp/_images/blog/_c6f/yui-fan/cover.jpg</string>
	</array>
	<key>6691</key>
	<array>
	  <string>http://hitorigoto2006.sakura.ne.jp/2007/07/yui7-111.JPG</string>
	</array>
	<key>6692</key>
	<array>
	  <string>http://www.jmusicitalia.com/gallery/albums/userpics/10003/131/yui_9~1.jpg</string>
	</array>
	<key>6693</key>
	<array>
	  <string>http://blog-cdn.oricon.co.jp/_images/magazineoriconstyle/1246/MDcwNDA2WVVJKr8.jpg</string>
	</array>
	<key>6694</key>
	<array>
	  <string>http://files.hangame.co.jp/blog/2009/63/e09e19e2/06/16/22482386/e09e19e2_1245101716268.jpg</string>
	</array>
	<key>6695</key>
	<array>
	  <string>http://akabaneouji.blog.ocn.ne.jp/photos/uncategorized/2008/09/17/yui_hvol74c.jpg</string>
	</array>
	<key>6696</key>
	<array>
	  <string>http://images.uncyc.org/ja/a/a6/YUI.jpg</string>
	</array>
	<key>6697</key>
	<array>
	  <string>http://x76img.peps.jp/uimg/k/kgfc/65/cyfo7dghulA.jpg</string>
	</array>
	<key>6698</key>
	<array>
	  <string>http://1.bp.blogspot.com/-U_vxcGXGuCY/TaCK1XA2c7I/AAAAAAAAACM/GQ4caUYdsEI/s1600/cant-buy-my-love.jpg</string>
	</array>
	<key>6699</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/417360/YUI.jpg</string>
	</array>
	<key>6700</key>
	<array>
	  <string>http://www.parousia.fr/Images/Musique/YUI.jpg</string>
	</array>
	<key>6701</key>
	<array>
	  <string>http://wallpaper.iza-yoi.net/yui_1.jpg</string>
	</array>
	<key>6702</key>
	<array>
	  <string>http://www.jpopasia.com/img/album-covers/1/5462-life-q0ch.jpg</string>
	</array>
	<key>6703</key>
	<array>
	  <string>http://akabaneouji.blog.ocn.ne.jp/photos/uncategorized/2010/04/02/yui_cddata2006_2_m.jpg</string>
	</array>
	<key>6704</key>
	<array>
	  <string>http://www.geocities.jp/michihirokazu/yui_again_special_1280x1024.jpg</string>
	</array>
	<key>6705</key>
	<array>
	  <string>http://photoplastik.files.wordpress.com/2008/01/horie_yui.jpg</string>
	</array>
	<key>6706</key>
	<array>
	  <string>http://yaplog.jp/cv/mama-1993/img/69/img20080118_1_p.jpg</string>
	</array>
	<key>6707</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/yui003.jpg</string>
	</array>
	<key>6708</key>
	<array>
	  <string>http://2.bp.blogspot.com/_ARb5t3xoyFI/TKM8hQOTxGI/AAAAAAAAAXY/PLNiIZZDFE8/s400/again_yui-300x300.jpg</string>
	</array>
	<key>6709</key>
	<array>
	  <string>http://zip-fm.co.jp/info/concert/photo/YUI.jpg</string>
	</array>
	<key>6710</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200610/yui_interview_main.jpg</string>
	</array>
	<key>6711</key>
	<array>
	  <string>http://blog-imgs-31.fc2.com/v/e/t/vetcfd2/yui24.jpg</string>
	</array>
	<key>6712</key>
	<array>
	  <string>http://glive.heavy.jp/blog/yui.jpeg</string>
	</array>
	<key>6713</key>
	<array>
	  <string>http://mediajp.up.seesaa.net/image/Yui01.gif</string>
	</array>
	<key>6714</key>
	<array>
	  <string>http://blog-imgs-27-origin.fc2.com/w/a/l/wallpapermania/yui1.jpg</string>
	</array>
	<key>6715</key>
	<array>
	  <string>http://blog-imgs-43-origin.fc2.com/p/s/p/pspnetkatuyou0224/yui2015.png</string>
	</array>
	<key>6716</key>
	<array>
	  <string>http://interact.barks.jp/image/users/1000080388/D_080124031749.jpg</string>
	</array>
	<key>6717</key>
	<array>
	  <string>http://www.yui-pv.jpn.org/loveandtruth_yui1.jpg</string>
	</array>
	<key>6718</key>
	<array>
	  <string>http://www.manabiyahonpo.com/blogimg/0804/yui1.jpg</string>
	</array>
	<key>6719</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/y/u/i/yui0000/YUI-COUNTDOWN-JAPAN2.jpg</string>
	</array>
	<key>6720</key>
	<array>
	  <string>http://yuisong.up.seesaa.net/image/yui.jpg</string>
	</array>
	<key>6721</key>
	<array>
	  <string>http://blog-imgs-43-origin.fc2.com/t/e/n/tenslives/100414_yui.jpg</string>
	</array>
	<key>6722</key>
	<array>
	  <string>http://yui.1234gorilla.com/img/yui202.jpg</string>
	</array>
	<key>6723</key>
	<array>
	  <string>http://blog-imgs-41-origin.fc2.com/y/u/i/yui0000/YUI.jpg</string>
	</array>
	<key>6724</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/w/a/l/wallpapermania/yui22.jpg</string>
	</array>
	<key>6725</key>
	<array>
	  <string>http://www11.atpages.jp/~onomatopia/wordpress/wp-content/themes/cool-gray0.1.2/img/photo/yui.jpg</string>
	</array>
	<key>6726</key>
	<array>
	  <string>http://x40img.peps.jp/uimg/y/yuriyuri725/26/c3yv30n4prB.jpg</string>
	</array>
	<key>6727</key>
	<array>
	  <string>http://blog-imgs-40.fc2.com/t/a/n/tanapapa/yui_my_short_stories_label.jpg</string>
	</array>
	<key>6728</key>
	<array>
	  <string>http://ctalde.net/files/2009/05/090529-sonymusic-yui1.jpg</string>
	</array>
	<key>6729</key>
	<array>
	  <string>http://www.www.beroncho.com/music/yui21/image/yui21.jpg</string>
	</array>
	<key>6730</key>
	<array>
	  <string>http://blog-imgs-21.fc2.com/w/e/s/westmikecat/YUI.png</string>
	</array>
	<key>6731</key>
	<array>
	  <string>http://file.diimiijapan.blog.shinobi.jp/yui.JPG</string>
	</array>
	<key>6732</key>
	<array>
	  <string>http://yui-fan.blog.so-net.ne.jp/_images/blog/_c6f/yui-fan/CD-070a6.jpg</string>
	</array>
	<key>6733</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/j/p/o/jpopwalker/51HHKNBi6tLSS500_.jpg</string>
	</array>
	<key>6734</key>
	<array>
	  <string>http://livedoor.blogimg.jp/kotaroblack/imgs/c/2/c26b11d7.jpg</string>
	</array>
	<key>6735</key>
	<array>
	  <string>http://hitorigoto2006.sakura.ne.jp/2007/07/yui7-114.jpg</string>
	</array>
	<key>6736</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/10557545/YUI+magscan17.jpg</string>
	</array>
	<key>6737</key>
	<array>
	  <string>http://yuimstation2.img.jugem.jp/20110320_2253510.jpg</string>
	</array>
	<key>6738</key>
	<array>
	  <string>http://blog-imgs-42-origin.fc2.com/y/u/i/yui0000/YUI_HOLIDAYS-IN-THE-SUN.jpg</string>
	</array>
	<key>6739</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/w/a/l/wallpapermania/yui28.jpg</string>
	</array>
	<key>6740</key>
	<array>
	  <string>http://ent2.excite.co.jp/music/special/excite10th/talk/img/img_yui.jpg</string>
	</array>
	<key>6741</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/y/u/i/yui0000/YUI-COUNTDOWN-JAPAN.jpg</string>
	</array>
	<key>6742</key>
	<array>
	  <string>http://yui-summary.img.jugem.jp/20060925_96558.jpg</string>
	</array>
	<key>6743</key>
	<array>
	  <string>http://bp2.blogger.com/_o-k9prK1XTg/R-412G3GmnI/AAAAAAAAA3s/Kk9L2ans1Pw/s320/275px-yui_life%5B1%5D.jpg</string>
	</array>
	<key>6744</key>
	<array>
	  <string>http://www.geocities.jp/michihirokazu/yui_wallpaper7_1600x900.jpg</string>
	</array>
	<key>6745</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/x/d/fc466da7bad76ee89f616105a09ccf55.jpg</string>
	</array>
	<key>6746</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/c2/0a/ryuunosuke777999/folder/475382/img_475382_9884953_0?1303080457</string>
	</array>
	<key>6747</key>
	<array>
	  <string>http://farm3.static.flickr.com/2419/2437033057_e5626658a9_o.jpg</string>
	</array>
	<key>6748</key>
	<array>
	  <string>http://taiyounokioku.cocolog-nifty.com/photos/uncategorized/yui1.jpg</string>
	</array>
	<key>6749</key>
	<array>
	  <string>http://yuisong.up.seesaa.net/image/yui2.jpg</string>
	</array>
	<key>6750</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/515q4pkpyiL.jpg</string>
	</array>
	<key>6751</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/y/u/i/yui0000/ROCK_IN_JAPAN_FESTIVAL-YUI1.jpg</string>
	</array>
	<key>6752</key>
	<array>
	  <string>http://image.excite.co.jp/jp/music/closeup/0703/yui_photo.jpg</string>
	</array>
	<key>6753</key>
	<array>
	  <string>http://oathkeeper15.files.wordpress.com/2007/03/patipati062006-3.jpg</string>
	</array>
	<key>6754</key>
	<array>
	  <string>http://www.k2.dion.ne.jp/~squeezer/img/yui_academy.jpg</string>
	</array>
	<key>6755</key>
	<array>
	  <string>http://2.bp.blogspot.com/_g8eVEuCeOP0/TSMlL_QtQuI/AAAAAAAAAX0/ZHc_vA4sMGQ/s1600/Yui_.jpg</string>
	</array>
	<key>6756</key>
	<array>
	  <string>http://guitaryui.up.seesaa.net/image/YUI1A401AV1A1A1Af1A1A1A1A1A1A1A1A-thumbnail2.jpg</string>
	</array>
	<key>6757</key>
	<array>
	  <string>http://cd.yvv.cn/attachment/0810/417c5b8c3f.jpg</string>
	</array>
	<key>6758</key>
	<array>
	  <string>http://3.bp.blogspot.com/_cmrpvY9jqtA/TU7kkUxANDI/AAAAAAAAAWQ/L-ImI5rnwQo/s1600/YUI.jpg</string>
	</array>
	<key>6759</key>
	<array>
	  <string>http://blog-imgs-26.fc2.com/s/g/r/sgroovin/YUI-A.jpg</string>
	</array>
	<key>6760</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/d/r/i/driftwood/cm_yui_again_2_01.jpg</string>
	</array>
	<key>6761</key>
	<array>
	  <string>http://www.hotexpress.co.jp/live_report/yui_20060806/img/yui_live_top.jpg</string>
	</array>
	<key>6762</key>
	<array>
	  <string>http://www.yui-lover.com/wp-content/uploads/2010/07/YUI-LOCKS-BACK-AGAIN-2010.07.12-01.jpg</string>
	</array>
	<key>6763</key>
	<array>
	  <string>http://www.jmusicitalia.com/gallery/albums/userpics/10003/131/yui_16.jpg</string>
	</array>
	<key>6764</key>
	<array>
	  <string>http://x87img.peps.jp/uimg/1/1031takashi/1/cpmf4pj2blA.jpg</string>
	</array>
	<key>6765</key>
	<array>
	  <string>http://blog-imgs-11.fc2.com/a/l/w/always1009/YUI.jpg</string>
	</array>
	<key>6766</key>
	<array>
	  <string>http://guitaryui.up.seesaa.net/image/YUI-ROCKS-Guitar.jpg</string>
	</array>
	<key>6767</key>
	<array>
	  <string>http://12x75.client.jp/image/japanese/7y/yuiCD2.gif</string>
	</array>
	<key>6768</key>
	<array>
	  <string>http://img01.ti-da.net/usr/banksy/yui006.jpg</string>
	</array>
	<key>6769</key>
	<array>
	  <string>http://neta.smart-ness.net/wp-content/uploads/2010/07/yui.jpg</string>
	</array>
	<key>6770</key>
	<array>
	  <string>http://blog-imgs-26.fc2.com/x/x/x/xxxorz/yui1.gif</string>
	</array>
	<key>6771</key>
	<array>
	  <string>http://mellow.de-blog.jp/photos/yuicapture20070929/20070929_yui_02.jpg</string>
	</array>
	<key>6772</key>
	<array>
	  <string>http://nd04.jxs.cz/930/861/c344a81afd_75502546_o2.png</string>
	</array>
	<key>6773</key>
	<array>
	  <string>http://www.yui-pv.jpn.org/yui_life.jpg</string>
	</array>
	<key>6774</key>
	<array>
	  <string>http://blog-imgs-32.fc2.com/t/a/k/takeshi1911/snapshot20090904173350.jpg</string>
	</array>
	<key>6775</key>
	<array>
	  <string>http://lh5.ggpht.com/_TdDXt3zqN-U/Si5gziusuZI/AAAAAAAAElE/bn0hB5dagBU/Japan%20music%20Yui-%20again.jpg</string>
	</array>
	<key>6776</key>
	<array>
	  <string>http://files.myopera.com/cameron_en/blog/yui.jpeg</string>
	</array>
	<key>6777</key>
	<array>
	  <string>http://yui-summary.img.jugem.jp/20100617_695992.jpg</string>
	</array>
	<key>6778</key>
	<array>
	  <string>http://gazo.galman.jp/img/019h1_129414/YUI.jpeg</string>
	</array>
	<key>6779</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/e2/70/yuma1112sk/folder/8847/img_8847_11779_0?1231929721</string>
	</array>
	<key>6780</key>
	<array>
	  <string>http://blog-imgs-15-origin.fc2.com/w/a/l/wallpapermania/yui6.jpg</string>
	</array>
	<key>6781</key>
	<array>
	  <string>http://files.hangame.co.jp/blog/2009/56/387fe108/08/27/24126206/387fe108_1251347985977.jpg</string>
	</array>
	<key>6782</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/9/9/9997b8f86097baa01e0da50b744bbaa5.jpg</string>
	</array>
	<key>6783</key>
	<array>
	  <string>http://www.moeside.net/weblog/wp-content/uploads/2006/YUIRollingStarPVout_D80C/YUI_RS4.jpg</string>
	</array>
	<key>6784</key>
	<array>
	  <string>http://img243.imageshack.us/img243/4373/image6oo4.jpg</string>
	</array>
	<key>6785</key>
	<array>
	  <string>http://picsnow.us/pics/y/yui-ichikawa/image-yui-ichikawa.jpg</string>
	</array>
	<key>6786</key>
	<array>
	  <string>http://blog-imgs-21.fc2.com/j/a/p/japanmusic/yui-ilove.jpg</string>
	</array>
	<key>6787</key>
	<array>
	  <string>http://ctalde.net/files/2009/04/090402-sonymusic-yui5.jpg</string>
	</array>
	<key>6788</key>
	<array>
	  <string>http://decojiro.net/data/2008/08/12/a8/48a11283e197d.gif</string>
	</array>
	<key>6789</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/9c/73/fgdkx347/folder/1699225/img_1699225_55446407_0?1253550163</string>
	</array>
	<key>6790</key>
	<array>
	  <string>http://blog-imgs-13.fc2.com/t/h/e/thedoriru/20070114031118.jpg</string>
	</array>
	<key>6791</key>
	<array>
	  <string>http://pspphoto.up.seesaa.net/image/yui1.jpg</string>
	</array>
	<key>6792</key>
	<array>
	  <string>http://bb.watch.impress.co.jp/cda/static/image/2005/11/09/yui.jpg</string>
	</array>
	<key>6793</key>
	<array>
	  <string>http://ctalde.net/files/2009/05/090529-sonymusic-yui4.jpg</string>
	</array>
	<key>6794</key>
	<array>
	  <string>http://waitforme.files.wordpress.com/2007/05/yui-cherry.jpg</string>
	</array>
	<key>6795</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/e5/59/ym_awes/folder/773281/img_773281_7464448_10?1264408218</string>
	</array>
	<key>6796</key>
	<array>
	  <string>http://i470.photobucket.com/albums/rr62/marimokkori/Image18.jpg</string>
	</array>
	<key>6797</key>
	<array>
	  <string>http://static.blogstorage.hi-pi.com/photos/yuko99.playmoa.fr/images/gd/1219226585/YUI-chanteuse-Jpop-et-Jrock.jpg</string>
	</array>
	<key>6798</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/415enRVf%2BTL._SL500_AA240_.jpg</string>
	</array>
	<key>6799</key>
	<array>
	  <string>http://blog-imgs-41-origin.fc2.com/y/u/i/yui0000/news_large_YUI0810main_B.jpg</string>
	</array>
	<key>6800</key>
	<array>
	  <string>http://www.jmusicitalia.com/gallery/albums/userpics/10003/131/yui_1~0.jpg</string>
	</array>
</array>
</plist>
