<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>59442</key>
	<array>
	  <string>http://www.twyggy.net/english/wp-content/uploads/pattaya.jpg</string>
	</array>
	<key>59443</key>
	<array>
	  <string>http://www.pattaya-info.com/Pattaya.jpg</string>
	</array>
	<key>59444</key>
	<array>
	  <string>http://www.retiretopattayathailand.com/pattaya.jpg</string>
	</array>
	<key>59445</key>
	<array>
	  <string>http://www.dphoto.in.th/d/real+estate+property+in+thailand+pattaya.jpg/67190/1</string>
	</array>
	<key>59446</key>
	<array>
	  <string>http://www.muaythaitrainingcamps.com/wp-content/uploads/2010/05/9.000919_Pattaya_streetscene5Tia.jpg</string>
	</array>
	<key>59447</key>
	<array>
	  <string>http://www.onlinebooktrip.com/wp-content/uploads/2010/07/pattaya.jpg</string>
	</array>
	<key>59448</key>
	<array>
	  <string>http://www.pattayapicture.com/images/Pattaya2.jpg</string>
	</array>
	<key>59449</key>
	<array>
	  <string>http://www.goway.com/asia/thailand/thai_img/pattaya-beach480c.jpg</string>
	</array>
	<key>59450</key>
	<array>
	  <string>http://www.pattayadailynews.com/images_news/008_th/0000006711/p4.jpg</string>
	</array>
	<key>59451</key>
	<array>
	  <string>http://www.newsclip.be/stay/Dusit%20Thani%20Pattaya-02.jpg</string>
	</array>
	<key>59452</key>
	<array>
	  <string>http://tourismeight.com/wp-content/uploads/2011/07/pattaya-night-life.jpg</string>
	</array>
	<key>59453</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/pattaya-park-beach-resort/pic1-pattaya-park-beach-resort.jpg</string>
	</array>
	<key>59454</key>
	<array>
	  <string>http://www.pattayavacationrental.com/pattaya-gallery/Pattaya-bay-33.jpg</string>
	</array>
	<key>59455</key>
	<array>
	  <string>http://thailand-classifieds.net/wp-content/uploads/2010/06/pattaya.jpg</string>
	</array>
	<key>59456</key>
	<array>
	  <string>http://www.bugbog.com/images/beaches/thailand-beach-pictures-krabi/thailand-beaches-large/beaches-pattaya-overview.jpg</string>
	</array>
	<key>59457</key>
	<array>
	  <string>http://www.lv32.com/img/pattaya-beach1.jpg</string>
	</array>
	<key>59458</key>
	<array>
	  <string>http://tourismobject.com/wp-content/uploads/2010/12/pattaya-in-the-night.jpg</string>
	</array>
	<key>59459</key>
	<array>
	  <string>http://cache.virtualtourist.com/1948768-Pattaya_view_from_Adriatic_Hotel-Pattaya.jpg</string>
	</array>
	<key>59460</key>
	<array>
	  <string>http://www.thailandhighlight.com/images/1201238634/Pattaya.jpg</string>
	</array>
	<key>59461</key>
	<array>
	  <string>http://blog-imgs-30.fc2.com/s/e/t/settajyuku/P1010103.jpg</string>
	</array>
	<key>59462</key>
	<array>
	  <string>http://www.muaythaitrainingcamps.com/wp-content/uploads/2010/05/gogo_bargirls_pattaya.jpg</string>
	</array>
	<key>59463</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/montien-pattaya/pic1-montien-pattaya.jpg</string>
	</array>
	<key>59464</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/6f/3b/f6/walking-st-pattaya.jpg</string>
	</array>
	<key>59465</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/16/09/24/pattaya-tower.jpg</string>
	</array>
	<key>59466</key>
	<array>
	  <string>http://www.thabiland.com/images/Pattaya-map.gif</string>
	</array>
	<key>59467</key>
	<array>
	  <string>http://www.pattaya-bars.net/images/baby%20dolls%20pattaya.JPG</string>
	</array>
	<key>59468</key>
	<array>
	  <string>http://absolutedevelopments.files.wordpress.com/2010/08/pattaya-july.jpg</string>
	</array>
	<key>59469</key>
	<array>
	  <string>http://www.barspattaya.com/pattaya-pic.jpg</string>
	</array>
	<key>59470</key>
	<array>
	  <string>http://www.happy-thailand.com/My%20Pictures/thai/pattaya.JPG</string>
	</array>
	<key>59471</key>
	<array>
	  <string>http://www.its-travel.jp/media/img/hotel/hard_rock_hotel_pattaya-1.jpg</string>
	</array>
	<key>59472</key>
	<array>
	  <string>http://propgoluxury.com/images/ArticleImages/2/2728.jpg</string>
	</array>
	<key>59473</key>
	<array>
	  <string>http://cache.virtualtourist.com/1191602-Pattaya_beach-Pattaya.jpg</string>
	</array>
	<key>59474</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/images/piyada_residence_pattaya.jpg</string>
	</array>
	<key>59475</key>
	<array>
	  <string>http://www.thailandg.com/_files/news/2010_09_03_014053_8g4hbo5g.jpg</string>
	</array>
	<key>59476</key>
	<array>
	  <string>http://www.exotiqrealestate.com/images/pattaya-home.jpg</string>
	</array>
	<key>59477</key>
	<array>
	  <string>http://www.bali-local.com/pic/hotel/thailand/dusit-d2-baraquda-pattaya-hotel-18.jpg</string>
	</array>
	<key>59478</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/crown-pattaya-beach/pic1-crown-pattaya-beach.jpg</string>
	</array>
	<key>59479</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/84/d4/d2/pattaya.jpg</string>
	</array>
	<key>59480</key>
	<array>
	  <string>http://www.its-travel.jp/media/img/hotel/cosy_beach_hotel_pattaya-1.jpg</string>
	</array>
	<key>59481</key>
	<array>
	  <string>http://www.thai-nagoya.com/pattaya.jpg</string>
	</array>
	<key>59482</key>
	<array>
	  <string>http://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Pattaya_beach_from_view_point.jpg/300px-Pattaya_beach_from_view_point.jpg</string>
	</array>
	<key>59483</key>
	<array>
	  <string>http://www.besthotelpattaya.com/wp-content/uploads/2011/07/Pattaya-Holiday-Deals-Travel-To-Pattaya.jpg</string>
	</array>
	<key>59484</key>
	<array>
	  <string>http://1.bp.blogspot.com/_9rKPI9dTaXM/S2J1bd4P1xI/AAAAAAAAADk/fZg4XoxB7sU/S660/PARA10.jpg</string>
	</array>
	<key>59485</key>
	<array>
	  <string>http://file.vustv.com/4vpiS5S3biF0f.jpg</string>
	</array>
	<key>59486</key>
	<array>
	  <string>http://www.lv32.com/img/pattaya-beach2.jpg</string>
	</array>
	<key>59487</key>
	<array>
	  <string>http://www.pattaya-location-vacances.com/pattaya/vue_pattaya.jpg</string>
	</array>
	<key>59488</key>
	<array>
	  <string>http://www.viettravelmate.com/CmsImage/anh%20DNA/pattaya-4.jpg</string>
	</array>
	<key>59489</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/20/f7/5f/pattaya.jpg</string>
	</array>
	<key>59490</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/dusit_d2_baraquda_pattaya_hotel/4.jpg</string>
	</array>
	<key>59491</key>
	<array>
	  <string>http://www.bali-local.com/pic/hotel/thailand/dusit-d2-baraquda-pattaya-hotel-11.jpg</string>
	</array>
	<key>59492</key>
	<array>
	  <string>http://www.newsclip.be/stay/Dusit%20Thani%20Pattaya-04.jpg</string>
	</array>
	<key>59493</key>
	<array>
	  <string>http://www.his-bkk.com/images/re-image/hotel-pic/pattaya/sheraton_pattaya_resort/pyxshtn-03.jpg</string>
	</array>
	<key>59494</key>
	<array>
	  <string>http://kudo-ranch.com/02landscape/0812PattayaBeachRoad700.jpg</string>
	</array>
	<key>59495</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/century-pattaya-hotel/pic1-century-pattaya-hotel.jpg</string>
	</array>
	<key>59496</key>
	<array>
	  <string>http://www.pattaya-funtown.com/AerialPattaya2794.JPG</string>
	</array>
	<key>59497</key>
	<array>
	  <string>http://www.pattaya-photos.com/images/viewpoint.jpg</string>
	</array>
	<key>59498</key>
	<array>
	  <string>http://www.daco.co.th/m/11/20090727-pattaya.jpg</string>
	</array>
	<key>59499</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/piyada_residence_pattaya/2.jpg</string>
	</array>
	<key>59500</key>
	<array>
	  <string>http://www.asiatraveltips.com/MercurePattaya/MercurePattayaPool.jpg</string>
	</array>
	<key>59501</key>
	<array>
	  <string>http://www.thailandbuddy.com/images/hotel/Hotel-Reservations-In-Pattaya.jpg</string>
	</array>
	<key>59502</key>
	<array>
	  <string>http://www.thailandnavi.net/travel/img/pattaya-map.gif</string>
	</array>
	<key>59503</key>
	<array>
	  <string>http://www.thaismile.jp/FotoGallary/ThaiPics/Pattaya/FloatingMarket/TitleImages/floating_market_pattayaF3.jpg</string>
	</array>
	<key>59504</key>
	<array>
	  <string>http://www.pattayadb.com/sites/default/files/Pattaya-Beach-1_0.jpg</string>
	</array>
	<key>59505</key>
	<array>
	  <string>http://www.pattaya-location-vacances.com/pattaya/pattaya_Beach04.jpg</string>
	</array>
	<key>59506</key>
	<array>
	  <string>http://www.pattayavillaholidays.com/sitebuilder/images/pattaya_bay_1-688x521.jpg</string>
	</array>
	<key>59507</key>
	<array>
	  <string>http://s4.splcdn.net/images/hotels/37248/pattaya-palm-grove-resort-pattaya-168100.jpg</string>
	</array>
	<key>59508</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/dusit_d2_baraquda_pattaya_hotel/2.jpg</string>
	</array>
	<key>59509</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/24/8e/4f/pattaya.jpg</string>
	</array>
	<key>59510</key>
	<array>
	  <string>http://stickyfingers0421.cocolog-nifty.com/blog/images/20060621pattaya_12_1.JPG</string>
	</array>
	<key>59511</key>
	<array>
	  <string>http://media.expedia.com/hotels/3000000/2930000/2928800/2928721/2928721_6_b.jpg</string>
	</array>
	<key>59512</key>
	<array>
	  <string>http://chiekostyle.up.seesaa.net/image/IMG_0122pattaya1.JPG</string>
	</array>
	<key>59513</key>
	<array>
	  <string>http://tours-tv.com/objects/pattaya/Pattaya2.jpg</string>
	</array>
	<key>59514</key>
	<array>
	  <string>http://www.any-travel.net/Pattaya-Night.jpg</string>
	</array>
	<key>59515</key>
	<array>
	  <string>http://kudo-ranch.com/02landscape/0810PattayaBeach01_w700.jpg</string>
	</array>
	<key>59516</key>
	<array>
	  <string>http://www.pattaya-beergarden.com/images/pattaya-beer-garden-lady.jpg</string>
	</array>
	<key>59517</key>
	<array>
	  <string>http://bangkok-nation.ru/img/07/076/__________________pattaya_songkran_2010.jpg</string>
	</array>
	<key>59518</key>
	<array>
	  <string>http://bangkok-nation.ru/img/2f/2f4/____________THAILAND_pattaya_beach_to_srirachacity.jpg</string>
	</array>
	<key>59519</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/1f/66/86/south-pattaya.jpg</string>
	</array>
	<key>59520</key>
	<array>
	  <string>http://www.thailandg.com/_files/news/2010_09_03_013718_yq63sx0g.gif</string>
	</array>
	<key>59521</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/ibis-erawan-pattaya/pic1-ibis-erawan-pattaya.jpg</string>
	</array>
	<key>59522</key>
	<array>
	  <string>http://propimg.travellerspoint.com/l_27048-1-citin-loft-pattaya.jpg</string>
	</array>
	<key>59523</key>
	<array>
	  <string>http://b-tabi.com/asia/bali/886pattaya02.JPG</string>
	</array>
	<key>59524</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/73/7329/7329845/Montien-Hotel-Pattaya-photos-Hotel-The-Montien-Hotel--Pattaya.JPEG</string>
	</array>
	<key>59525</key>
	<array>
	  <string>http://www.wired-destinations.com/images/guides/thailand/New%20Photos/Pattaya/pattaya_night_life.jpg</string>
	</array>
	<key>59526</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_5d3/janpattayaapart/pattaya.jpg</string>
	</array>
	<key>59527</key>
	<array>
	  <string>http://q.bstatic.com/images/hotel/max300/130/1302148.jpg</string>
	</array>
	<key>59528</key>
	<array>
	  <string>http://bangkok-nation.ru/img/34/346/__________pattaya_gogobar.jpg</string>
	</array>
	<key>59529</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/1f/66/85/south-pattaya.jpg</string>
	</array>
	<key>59530</key>
	<array>
	  <string>http://xn--5cko5a3b4b4b.net/mercure_hotel_pattaya/3.jpg</string>
	</array>
	<key>59531</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/grand-central-pattaya-(formerly-hyton-pattaya)/pic1-grand-central-pattaya-(formerly-hyton-pattaya).jpg</string>
	</array>
	<key>59532</key>
	<array>
	  <string>http://www.letsgopattaya.com/images/pattaya-bay-large-pic.png</string>
	</array>
	<key>59533</key>
	<array>
	  <string>http://kohsamui-kohphangan.com/images/pattaya.jpg</string>
	</array>
	<key>59534</key>
	<array>
	  <string>http://www.golfasian.com/ganet/ga_gallery/albums/destinations/pattaya/central_pattaya.jpg</string>
	</array>
	<key>59535</key>
	<array>
	  <string>http://www.thaismile.jp/FotoGallary/ThaiPics/Pattaya/Beach/PattayaBeach01.JPG</string>
	</array>
	<key>59536</key>
	<array>
	  <string>http://www.hotels2thailand.com/thailand-hotels-pic/HPY022_a.jpg</string>
	</array>
	<key>59537</key>
	<array>
	  <string>http://www.pattayaphotos.net/photo_blog/wp-content/uploads/2010/09/Pattaya_sunset-KayEss-11.jpg</string>
	</array>
	<key>59538</key>
	<array>
	  <string>http://bangkok-nation.ru/img/1c/1ce/____________beautiful_sea_Thailand_pattaya_beach.jpg</string>
	</array>
	<key>59539</key>
	<array>
	  <string>http://www.globosapiens.net/data/gallery/th/pictures_468/www.globosapiens.net--thailand--chon-buri--pattaya--id=5012.jpg</string>
	</array>
	<key>59540</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/best_western_pattaya_hotel/5.jpg</string>
	</array>
	<key>59541</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/sawasdee-pattaya-hotel/pic1-sawasdee-pattaya-hotel.jpg</string>
	</array>
	<key>59542</key>
	<array>
	  <string>http://www.pattaya-photos.com/images/pattaya-beaches.jpg</string>
	</array>
	<key>59543</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/01/24/8e/50/pattaya.jpg</string>
	</array>
	<key>59544</key>
	<array>
	  <string>http://www.ftmkeijiro.com/images/pattaya1.jpg</string>
	</array>
	<key>59545</key>
	<array>
	  <string>http://www.thabiland.com/media/img/hotel/winlmill1.jpg</string>
	</array>
	<key>59546</key>
	<array>
	  <string>http://www.bali-local.com/pic/hotel/thailand/pattaya-marriott-resort-spa.jpg</string>
	</array>
	<key>59547</key>
	<array>
	  <string>http://www.tdc-thai.com/search/pattaya.gif</string>
	</array>
	<key>59548</key>
	<array>
	  <string>http://bangkok-nation.ru/img/d4/d4b/pattaya_beerbar_2009_at_Naklua_Rd__________.jpg</string>
	</array>
	<key>59549</key>
	<array>
	  <string>http://www.pattayaphotos.net/photo_blog/wp-content/uploads/2008/10/pattaya_ladyboys.jpg</string>
	</array>
	<key>59550</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/best_western_pattaya_hotel/3.jpg</string>
	</array>
	<key>59551</key>
	<array>
	  <string>http://www.greenholiday.com.sg/bkk/pattaya.gif</string>
	</array>
	<key>59552</key>
	<array>
	  <string>http://www.thailandresor.se/pattaya/pattaya-map.gif</string>
	</array>
	<key>59553</key>
	<array>
	  <string>http://www.thaismile.jp/FotoGallary/ThaiPics/Pattaya/FloatingMarket/TitleImages/floating_market_pattayaF6.jpg</string>
	</array>
	<key>59554</key>
	<array>
	  <string>http://tropicstep.sakura.ne.jp/wp-content/uploads/2010/02/pattaya.jpg</string>
	</array>
	<key>59555</key>
	<array>
	  <string>http://blog-imgs-38.fc2.com/p/g/b/pgbangkok/mf_logo.jpg</string>
	</array>
	<key>59556</key>
	<array>
	  <string>http://asobithai.net/pattaya/sabai_lodge/img/01.jpg</string>
	</array>
	<key>59557</key>
	<array>
	  <string>http://bangkok-nation.ru/img/73/73e/pattaya_______________.jpg</string>
	</array>
	<key>59558</key>
	<array>
	  <string>http://www.partybar-pattaya.com/images/(c)%202008%20party%20bar%20soi%208%20pattaya%204.jpg</string>
	</array>
	<key>59559</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/best_western_pattaya_hotel/4.jpg</string>
	</array>
	<key>59560</key>
	<array>
	  <string>http://thebesttraveldestinations.com/wp-content/uploads/2010/11/Pattaya_Thailand_01.jpg</string>
	</array>
	<key>59561</key>
	<array>
	  <string>http://kunithai.up.seesaa.net/image/coffeeworld-pattaya-121427feb10.jpg</string>
	</array>
	<key>59562</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/g/h/5/gh51/Pattaya0218.jpg</string>
	</array>
	<key>59563</key>
	<array>
	  <string>http://www.thaismile.jp/FotoGallary/ThaiPics/Pattaya/NightRestaurant/PattayaNight01.JPG</string>
	</array>
	<key>59564</key>
	<array>
	  <string>http://www.thabiland.com/media/img/hotel/Dusit_Thani_Pattaya_7.jpg</string>
	</array>
	<key>59565</key>
	<array>
	  <string>http://www.hotelthailand.com/hotel-photos/pattaya/lantana-pattaya-(formerly-rattanasook-hotel)/pic1-lantana-pattaya-(formerly-rattanasook-hotel).jpg</string>
	</array>
	<key>59566</key>
	<array>
	  <string>http://media-cdn.tripadvisor.com/media/photo-s/00/18/f3/aa/pattaya.jpg</string>
	</array>
	<key>59567</key>
	<array>
	  <string>http://bangkok-nation.ru/img/79/79f/Pattaya_Nightlife_In_Walking_Street_Walkthrough_Full_HD.jpg</string>
	</array>
	<key>59568</key>
	<array>
	  <string>http://xn--5cko5a3b4b4b.net/mercure_hotel_pattaya/2.jpg</string>
	</array>
	<key>59569</key>
	<array>
	  <string>http://www.iguana-group.com/pattaya_heights_img/pattaya_heights_sea_view.jpg</string>
	</array>
	<key>59570</key>
	<array>
	  <string>http://www.its-travel.jp/media/img/hotel/pattaya_discovery_beach-1.jpg</string>
	</array>
	<key>59571</key>
	<array>
	  <string>http://kunithai.up.seesaa.net/image/dancers-in-pattaya.jpg</string>
	</array>
	<key>59572</key>
	<array>
	  <string>http://tourist.cpn.co.th/files/image_content/64_underwater%20world%20pattaya1.jpg</string>
	</array>
	<key>59573</key>
	<array>
	  <string>http://www.cannet-hotelbangkok.com/bukken/pattaya/images/jpg/Fraser_Resort_Pattaya-07.jpg</string>
	</array>
	<key>59574</key>
	<array>
	  <string>http://www.thainightcorner.com/wp-content/uploads/2008/12/girl-bar-pattaya.jpg</string>
	</array>
	<key>59575</key>
	<array>
	  <string>http://www.pattayaphotos.net/images/Pattaya_panorama.jpg</string>
	</array>
	<key>59576</key>
	<array>
	  <string>http://bangkok-nation.ru/img/f5/f57/PATTAYA.jpg</string>
	</array>
	<key>59577</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/crown_pattaya_beach_hotel/4.jpg</string>
	</array>
	<key>59578</key>
	<array>
	  <string>http://i3.ytimg.com/vi/yEpMSTPscvQ/0.jpg</string>
	</array>
	<key>59579</key>
	<array>
	  <string>http://blog-imgs-17.fc2.com/m/i/m/mimipopocyan/Pattaya.jpg</string>
	</array>
	<key>59580</key>
	<array>
	  <string>http://www.newsclip.be/stay/Dusit%20Thani%20Pattaya-03.jpg</string>
	</array>
	<key>59581</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/27/2707/2707753/Pattaya-Seaview-Hotel-photos-Interior.JPEG</string>
	</array>
	<key>59582</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/84/8463/8463573/Pattaya-Seaview-Hotel-photos-Facilities-Recreation-image.JPEG</string>
	</array>
	<key>59583</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/81/8160/8160717/Pattaya-Seaview-Hotel-photos-Facilities-Recreation-image.JPEG</string>
	</array>
	<key>59584</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/84/8463/8463575/Pattaya-Seaview-Hotel-photos-Hotel-meeting-room.JPEG</string>
	</array>
	<key>59585</key>
	<array>
	  <string>http://bangkok-nation.ru/img/b8/b8e/PATTAYA_THAI_2010.jpg</string>
	</array>
	<key>59586</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/crown_pattaya_beach_hotel/3.jpg</string>
	</array>
	<key>59587</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/71/7120/7120684/Pattaya-Seaview-Hotel-photos-Hotel-Exterior-view.JPEG</string>
	</array>
	<key>59588</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/crown_pattaya_beach_hotel/2.jpg</string>
	</array>
	<key>59589</key>
	<array>
	  <string>http://xn--5cko5a3b4b4b.net/mercure_hotel_pattaya/5.jpg</string>
	</array>
	<key>59590</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/piyada_residence_pattaya/3.jpg</string>
	</array>
	<key>59591</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/piyada_residence_pattaya/4.jpg</string>
	</array>
	<key>59592</key>
	<array>
	  <string>http://bangkok-nation.ru/img/47/47e/Pattaya_Park_www_thailandvacations_biz_.jpg</string>
	</array>
	<key>59593</key>
	<array>
	  <string>http://www.xn--5cko5a3b4b4b.net/dusit_d2_baraquda_pattaya_hotel/3.jpg</string>
	</array>
	<key>59594</key>
	<array>
	  <string>http://bangkok-nation.ru/img/39/39a/________________4_Night_life_in_Pattaya.jpg</string>
	</array>
	<key>59595</key>
	<array>
	  <string>http://bangkok-nation.ru/img/20/200/____________MASSAGE_IN_PATTAYA_THAILAND.jpg</string>
	</array>
	<key>59596</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/56/5662/5662815/Pattaya-Seaview-Hotel-photos-Restaurant.JPEG</string>
	</array>
	<key>59597</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/71/7120/7120689/Pattaya-Seaview-Hotel-photos-Facilities-meeting-room.JPEG</string>
	</array>
	<key>59598</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/81/8160/8160720/Pattaya-Seaview-Hotel-photos-Room-Room-view.JPEG</string>
	</array>
	<key>59599</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/84/8463/8463572/Pattaya-Seaview-Hotel-photos-Interior-Hotel-logo.JPEG</string>
	</array>
	<key>59600</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/84/8463/8463574/Pattaya-Seaview-Hotel-photos-Hotel-Exterior-view.JPEG</string>
	</array>
	<key>59601</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/84/8463/8463571/Pattaya-Seaview-Hotel-photos-Interior-Interior-image.JPEG</string>
	</array>
	<key>59602</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/84/8463/8463576/Pattaya-Seaview-Hotel-photos-Room-Room-view.JPEG</string>
	</array>
	<key>59603</key>
	<array>
	  <string>http://blog-imgs-24.fc2.com/s/a/b/sabailife/pattaya2354796.jpg</string>
	</array>
	<key>59604</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/73/7345/7345946/Best-Western-Premier-Signature-Hotel-Pattaya-photos-Hotel-Best-Western-Premier-Signature-Pattaya.JPEG</string>
	</array>
	<key>59605</key>
	<array>
	  <string>http://static.asiarooms.com/hotelphotos/laterooms/177607/gallery/nusa-playa-pattaya_180320101439563124.jpg</string>
	</array>
	<key>59606</key>
	<array>
	  <string>http://www.thaismile.jp/FotoGallary/ThaiPics/Pattaya/FloatingMarket/TitleImages/floating_market_pattayaF2.jpg</string>
	</array>
	<key>59607</key>
	<array>
	  <string>http://i3.ytimg.com/vi/-7jKtlqApCo/0.jpg</string>
	</array>
	<key>59608</key>
	<array>
	  <string>http://www.asiatraveltips.com/newspics/063/MissPattayaChinese.jpg</string>
	</array>
	<key>59609</key>
	<array>
	  <string>http://4.bp.blogspot.com/_blTuzsRTzNM/TEd2eTNFE4I/AAAAAAAAAFQ/iFiaBtj8Ki4/s1600/pattaya-nightlife3.jpg</string>
	</array>
	<key>59610</key>
	<array>
	  <string>http://www.legsclubagogo.com/gallery/albums/dancers/Legs-Club-Agogo-Bar-Pattaya-Thailand-Girls-028.JPG</string>
	</array>
	<key>59611</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/13/1346/1346438/Hard-Rock-Hotel-Pattaya-photos-Interior.JPEG</string>
	</array>
	<key>59612</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/49/4978/4978222/Hard-Rock-Hotel-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59613</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/20/2059/2059555/Hard-Rock-Hotel-Pattaya-photos-Facilities.JPEG</string>
	</array>
	<key>59614</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/20/2059/2059563/Hard-Rock-Hotel-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59615</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/20/2059/2059552/Hard-Rock-Hotel-Pattaya-photos-Facilities.JPEG</string>
	</array>
	<key>59616</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/74/7481/7481820/Hard-Rock-Hotel-Pattaya-photos-Restaurant.JPEG</string>
	</array>
	<key>59617</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/74/7481/7481821/Hard-Rock-Hotel-Pattaya-photos-Facilities.JPEG</string>
	</array>
	<key>59618</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/49/4978/4978204/Hard-Rock-Hotel-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59619</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/74/7481/7481823/Hard-Rock-Hotel-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59620</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/74/7481/7481819/Hard-Rock-Hotel-Pattaya-photos-Hotel.JPEG</string>
	</array>
	<key>59621</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/49/4978/4978246/Hard-Rock-Hotel-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59622</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/74/7481/7481818/Hard-Rock-Hotel-Pattaya-photos-Facilities.JPEG</string>
	</array>
	<key>59623</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/13/1346/1346434/Hard-Rock-Hotel-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59624</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/74/7481/7481822/Hard-Rock-Hotel-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59625</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/74/7481/7481826/Hard-Rock-Hotel-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59626</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/49/4978/4978228/Hard-Rock-Hotel-Pattaya-photos-Restaurant.JPEG</string>
	</array>
	<key>59627</key>
	<array>
	  <string>http://i1.bookcdn.com/data/Photos/LargePhoto2/49/4978/4978234/Hard-Rock-Hotel-Pattaya-photos-Facilities.JPEG</string>
	</array>
	<key>59628</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/74/7481/7481817/Hard-Rock-Hotel-Pattaya-photos-Restaurant.JPEG</string>
	</array>
	<key>59629</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/70/7041/7041914/Dusit-Thani-Pattaya-photos-Hotel.JPEG</string>
	</array>
	<key>59630</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/65/6567/6567827/Dusit-Thani-Pattaya-photos-Interior.JPEG</string>
	</array>
	<key>59631</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/65/6567/6567831/Dusit-Thani-Pattaya-photos-Restaurant.JPEG</string>
	</array>
	<key>59632</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/65/6567/6567825/Dusit-Thani-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59633</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/65/6567/6567830/Dusit-Thani-Pattaya-photos-Restaurant.JPEG</string>
	</array>
	<key>59634</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/65/6567/6567837/Dusit-Thani-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59635</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/86/8645/8645663/Dusit-Thani-Pattaya-photos-Room-Cabana-Room.JPEG</string>
	</array>
	<key>59636</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/65/6567/6567833/Dusit-Thani-Pattaya-photos-Room.JPEG</string>
	</array>
	<key>59637</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/65/6567/6567828/Dusit-Thani-Pattaya-photos-Facilities.JPEG</string>
	</array>
	<key>59638</key>
	<array>
	  <string>http://i0.bookcdn.com/data/Photos/LargePhoto2/67/6745/6745578/Montien-Hotel-Pattaya-photos-Interior.JPEG</string>
	</array>
	<key>59639</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/73/7329/7329839/Montien-Hotel-Pattaya-photos-Hotel-Photo-album.JPEG</string>
	</array>
	<key>59640</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/73/7329/7329842/Montien-Hotel-Pattaya-photos-Hotel-Photo-album.JPEG</string>
	</array>
	<key>59641</key>
	<array>
	  <string>http://i2.bookcdn.com/data/Photos/LargePhoto2/73/7329/7329848/Montien-Hotel-Pattaya-photos-Hotel-Photo-album.JPEG</string>
	</array>
</array>
</plist>
