<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>127362</key>
	<array>
	  <string>http://ja.wikizic.org/1-050-050710_22-Justin-Bieber.jpg</string>
	</array>
	<key>127361</key>
	<array>
	  <string>http://images2.fanpop.com/image/photos/9700000/Justin-Bieebr-wallpaper-justin-bieber-9736648-800-600.jpg</string>
	</array>
	<key>127360</key>
	<array>
	  <string>http://robotceleb.com/wp-content/uploads/2011/01/justin-bieber-glee.jpg</string>
	</array>
	<key>127359</key>
	<array>
	  <string>http://images2.fanpop.com/image/photos/10100000/J-Bieber-with-dog-justin-bieber-10127434-474-353.jpg</string>
	</array>
	<key>127358</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/31346275/Justin+Bieber+bieber.jpg</string>
	</array>
	<key>127357</key>
	<array>
	  <string>http://goob.mobi/slide/big-Justin_Bieber_to_take_a_month_break_to_think_pray_andgrow_up-3d35c217effcf328debeb5b5239dab96.jpg</string>
	</array>
	<key>127356</key>
	<array>
	  <string>http://www.billboard.com/photos/stylus/500915-justin-bieber-japan-617-409.jpg</string>
	</array>
	<key>127355</key>
	<array>
	  <string>http://www.mtv.com/news/photos/s/spotted/100517/08_justin_bieber.jpg</string>
	</array>
	<key>127354</key>
	<array>
	  <string>http://1.bp.blogspot.com/_vCSIyT3cQxY/TNn8Es7rsfI/AAAAAAAAHc8/r4DwAjbMh4k/s320/Justin%2BBieber%2B-%2BPray.jpg</string>
	</array>
	<key>127353</key>
	<array>
	  <string>http://allieiswired.com/wp-content/uploads/2010/05/justin-bieber-kim-kardashian.jpg</string>
	</array>
	<key>127352</key>
	<array>
	  <string>http://www.myjustinbieber.com/wp-content/gallery/justin-bieber/rihanna-justin-bieber-kiss-again.jpg</string>
	</array>
	<key>127351</key>
	<array>
	  <string>http://images2.fanpop.com/image/photos/9300000/Justin-Bieber-s-EXTREME-Lookalike-justin-bieber-9389999-2048-1536.jpg</string>
	</array>
	<key>127350</key>
	<array>
	  <string>http://www.okjapan.jp/beauty/2010/06/21/img/JUSTIN%20BIEBER1.jpg</string>
	</array>
	<key>127349</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jjr//2009/09/justin-nintendo/justin-bieber-nintendo-store-01.jpg</string>
	</array>
	<key>127348</key>
	<array>
	  <string>http://www.disnology.com/wp-content/uploads/2010/06/Justin-Bieber-NBC-Today-Show-June-4-2010.jpg</string>
	</array>
	<key>127347</key>
	<array>
	  <string>http://bieb.tv/wp-content/plugins/wp-o-matic/cache/9f2d0_justin_bieber_and_his_girlfriend_kissing.jpg</string>
	</array>
	<key>127346</key>
	<array>
	  <string>http://www.teenidols4you.com/blink/Actors/justinbieber/justinbieber_1265570146.jpg</string>
	</array>
	<key>127345</key>
	<array>
	  <string>http://cache2.allpostersimages.com/p/LRG/38/3842/QYXYF00Z/posters/justin-bieber.jpg</string>
	</array>
	<key>127344</key>
	<array>
	  <string>http://www.glamourvanity.com/images/Justin-Bieber-fun-facts.jpg</string>
	</array>
	<key>127343</key>
	<array>
	  <string>http://1.bp.blogspot.com/_FqQEHPUq6Zc/TSSMSzuXIWI/AAAAAAAAP-k/HGJvMHlVDN8/s1600/justin-bieber%2Bpic4.jpg</string>
	</array>
	<key>127342</key>
	<array>
	  <string>http://www.glamourvanity.com/wp-content/gallery/justin-bieber/Justin%20Bieber%20Photoshoot.jpg</string>
	</array>
	<key>127340</key>
	<array>
	  <string>http://content.hollywire.com/wp-content/uploads/2010/05/justin-bieber-and-kendall-jenner-are-dating-00031565.jpg</string>
	</array>
	<key>127341</key>
	<array>
	  <string>http://mycom.hs.llnwd.net/e17/cache/933/348210933/preview1.jpg</string>
	</array>
	<key>127339</key>
	<array>
	  <string>http://www.killerhiphop.com/wp-content/uploads/2010/05/EminemJustinBieber.jpg</string>
	</array>
	<key>127338</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jjr/headlines/2009/10/justin-bieber-we-day.jpg</string>
	</array>
	<key>127337</key>
	<array>
	  <string>http://blog-imgs-32-origin.fc2.com/r/a/b/rabanmama/justin-bieber-042010-4.jpg</string>
	</array>
	<key>127336</key>
	<array>
	  <string>http://www.glogster.com/media/4/15/44/97/15449746.jpg</string>
	</array>
	<key>127335</key>
	<array>
	  <string>http://img.blogdeblogs.com/lacosarosa/uploads/2010/05/justinbieber500.jpg</string>
	</array>
	<key>127334</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jjr//2010/06/justin-scream/justin-bieber-thanks-screams-13.jpg</string>
	</array>
	<key>127333</key>
	<array>
	  <string>http://image.take40.com/300x400/justin_bieber_with_t40_winner_300x400.jpg</string>
	</array>
	<key>127332</key>
	<array>
	  <string>http://content1.promiflash.de/article-images/w500/justin-bieber-erobert-twitter.jpg</string>
	</array>
	<key>127331</key>
	<array>
	  <string>http://www.hollywood-news.jp/wp-content/uploads/2010/05/Justin-Bieber1.jpg</string>
	</array>
	<key>127330</key>
	<array>
	  <string>http://3.bp.blogspot.com/_umuRpBQKDB4/TEqQk8tDZWI/AAAAAAAAAIg/O5PYnHQ0IC4/s1600/Justin_Bieber_gets_76b8.jpg</string>
	</array>
	<key>127329</key>
	<array>
	  <string>http://www.mtv.com/news/photos/b/bieber_justin_tattoo_100518/01_justin_bieber.jpg</string>
	</array>
	<key>127328</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/36330415/Justin+Bieber.jpg</string>
	</array>
	<key>127327</key>
	<array>
	  <string>http://hollywood.vidpic.net/wp-content/uploads/2011/07/justin-bieber-beach-122.jpg</string>
	</array>
	<key>127326</key>
	<array>
	  <string>http://www.contactmusic.com/pics/md/justin_beiber_bet_220310/justin_bieber_5448547.jpg</string>
	</array>
	<key>127325</key>
	<array>
	  <string>http://www.allcelebrityphotos.tk/img/justin-bieber-38.jpg</string>
	</array>
	<key>127324</key>
	<array>
	  <string>http://en.last-video.com/wp-content/uploads/2011/01/justin-bieber-interview.jpg</string>
	</array>
	<key>127323</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jjr//2010/04/justin-bieber-wombat/justin-bieber-wombat-welcome-02.jpg</string>
	</array>
	<key>127322</key>
	<array>
	  <string>http://www.india-server.com/news-images/justin-bieber-33329.jpeg</string>
	</array>
	<key>127321</key>
	<array>
	  <string>http://tv.rightcelebrity.com/wp-content/photos/Justin_Bieber_1.jpg</string>
	</array>
	<key>127320</key>
	<array>
	  <string>http://www.linezofblow.com/wp-content/uploads/2010/04/April20JustinBieberJapan002.jpg</string>
	</array>
	<key>127319</key>
	<array>
	  <string>http://www.linezofblow.com/wp-content/uploads/2010/04/April20JustinBieberJapan003.jpg</string>
	</array>
	<key>127318</key>
	<array>
	  <string>http://www.disneydreaming.com/wp-content/uploads/2009/12/Justin-Bieber-Demi-Lovato.jpg</string>
	</array>
	<key>127317</key>
	<array>
	  <string>http://www.disneydreaming.com/wp-content/uploads/2010/10/Justin-Bieber-Japan-Picture.jpg</string>
	</array>
	<key>127316</key>
	<array>
	  <string>http://3.bp.blogspot.com/_7s6-w1O-oxI/TMYO81tfDOI/AAAAAAAAAfs/61AJiwMGVlg/s1600/justin-bieber-300.jpg</string>
	</array>
	<key>127315</key>
	<array>
	  <string>http://3.bp.blogspot.com/_Ca21XCsvg58/S9XpsEdvvgI/AAAAAAAAAcU/yOkWHtPosGs/s320/justin-bieber-dishes-details.jpg</string>
	</array>
	<key>127314</key>
	<array>
	  <string>http://blog-imgs-36-origin.fc2.com/h/o/l/hollywoodcelebnews/justin-bieber-hot-gma-05.jpg</string>
	</array>
	<key>127313</key>
	<array>
	  <string>http://cdn.crushable.com/files/2009/12/iphotos224996-Justin-Bieber.jpg</string>
	</array>
	<key>127312</key>
	<array>
	  <string>http://blog.olyafirst.com/wp-content/uploads/2010/11/0fa5537dd77f280a6151cac2631913bd.jpg</string>
	</array>
	<key>127311</key>
	<array>
	  <string>http://images.starpulse.com/pictures/2010/03/29/previews/Justin%20Bieber-BBC-012355.jpg</string>
	</array>
	<key>127310</key>
	<array>
	  <string>http://acovernight.com/blog-news/wp-content/uploads/2010/08/Justin-Bieber-Boardwalk-Hall-AC-300x300.jpg</string>
	</array>
	<key>127309</key>
	<array>
	  <string>http://www.ebreviews.com/wp-content/uploads/2010/03/justin-bieber-bible2.jpg</string>
	</array>
	<key>127308</key>
	<array>
	  <string>http://1.bp.blogspot.com/-klraEdw6oxg/TZEYBzf19hI/AAAAAAAAACU/Ojrf7S9NLmM/s1600/justin-bieber-movie-40-year-old-virgin.jpg</string>
	</array>
	<key>127306</key>
	<array>
	  <string>http://www.thedailyinquirer.net/wp-content/uploads/2010/06/Justin-Bieber-justin-bieber-9461903-600-600.jpg</string>
	</array>
	<key>127307</key>
	<array>
	  <string>http://bieb.tv/wp-content/plugins/wp-o-matic/cache/2c928_hot-dude-justin-justin-bieber-9655520-650-973.jpg</string>
	</array>
	<key>127305</key>
	<array>
	  <string>http://ja.wikizic.org/1-050-050710_19-Justin-Bieber.jpg</string>
	</array>
	<key>127304</key>
	<array>
	  <string>http://www.allcelebrityphotos.tk/img/justin-bieber-37.jpg</string>
	</array>
	<key>127303</key>
	<array>
	  <string>http://justinbieberoriginal.com/wp-content/uploads/2010/09/justin-bieber-relate-mag1.jpg</string>
	</array>
	<key>127302</key>
	<array>
	  <string>http://blog-imgs-42-origin.fc2.com/f/u/w/fuwafuwamaigo/Justin+Bieber++Heart.jpg</string>
	</array>
	<key>127301</key>
	<array>
	  <string>http://coowallpapper.com/photos/large/justin-bieber-8.jpg</string>
	</array>
	<key>127300</key>
	<array>
	  <string>http://www.aolcdn.com/photogalleryassets/japanmusic/871044/justin-bieber-singer-4-1040a041910.jpg</string>
	</array>
	<key>127299</key>
	<array>
	  <string>http://1.bp.blogspot.com/-QHM2pBrei7c/Te26-z-Tr2I/AAAAAAAAASM/s-yfOpmHW-Q/s1600/Justin+Bieber+-+Mama%2527s+Boy+Lyrics.jpg</string>
	</array>
	<key>127298</key>
	<array>
	  <string>http://2.bp.blogspot.com/_KbZwjNRvI-0/S-64RnMLwpI/AAAAAAAAAeU/kyJ0PyvOrc0/s1600/justin_bieber_vmas_main.jpg</string>
	</array>
	<key>127297</key>
	<array>
	  <string>http://hairstylesarea.com/hair-pic/HLIC/c32e722e00ab02eced1fa66f1588fdb1.jpg</string>
	</array>
	<key>127296</key>
	<array>
	  <string>http://blog.zap2it.com/thedishrag/justin-bieber-gi-white-house-large.jpg</string>
	</array>
	<key>127295</key>
	<array>
	  <string>http://www.lavozlibre.com/userfiles/2a_decada/image/FOTOS%202010/03%20MARZO%202010/05%20marzo%202010/justin.jpg</string>
	</array>
	<key>127294</key>
	<array>
	  <string>http://blogimages.bloggen.be/justinbieberfan/620530-5cd22eb69cf70e958c55a8f9d6d888f2.jpg</string>
	</array>
	<key>127293</key>
	<array>
	  <string>http://i595.photobucket.com/albums/tt32/marxiamac/justin-bieber-one-time-music-video.jpg</string>
	</array>
	<key>127292</key>
	<array>
	  <string>http://1.bp.blogspot.com/_XnDwQGlpQFo/TDNqGr9JvNI/AAAAAAAAAHs/3t_xzqWVvMQ/s1600/justin-bieber-03.jpg</string>
	</array>
	<key>127291</key>
	<array>
	  <string>http://www.disneydreaming.com/wp-content/uploads/2010/04/Justin-Bieber-BET2.jpg</string>
	</array>
	<key>127290</key>
	<array>
	  <string>http://www.clbuzz.com/wp-content/uploads/2011/02/justin-bieber-justin-bieber-86999044.jpg</string>
	</array>
	<key>127289</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000063150/001.jpg</string>
	</array>
	<key>127288</key>
	<array>
	  <string>http://www.allcelebrityphotos.tk/img/justin-bieber-41.jpg</string>
	</array>
	<key>127287</key>
	<array>
	  <string>http://www.examiner.com/images/blog/EXID9259/images/JustinBieber.jpg</string>
	</array>
	<key>127286</key>
	<array>
	  <string>http://4.bp.blogspot.com/-GEtpjWb9fi4/ThtrWt7UxbI/AAAAAAAAAwU/o7-Q_KZN7eI/s1600/justin_bieber_bird_tattoo.jpg</string>
	</array>
	<key>127285</key>
	<array>
	  <string>http://bieb.tv/wp-content/plugins/wp-o-matic/cache/5cc08_Justin-Bieber-Love-Me.jpg</string>
	</array>
	<key>127284</key>
	<array>
	  <string>http://hollywood.vidpic.net/wp-content/uploads/2011/07/justin-bieber-belts-baby.jpg</string>
	</array>
	<key>127283</key>
	<array>
	  <string>http://www.smithweb.co.jp/soapbox/wp-content/uploads/2010/10/justin-bieber-8-palm-trees.jpg</string>
	</array>
	<key>127282</key>
	<array>
	  <string>http://topicden.com/wp-content/uploads/2010/06/justinbieber.gif</string>
	</array>
	<key>127281</key>
	<array>
	  <string>http://thecount.com/wp-content/uploads/katy_perry_justin_bieber.jpg</string>
	</array>
	<key>127280</key>
	<array>
	  <string>http://www.4tnz.com/files/justinbieber.jpg</string>
	</array>
	<key>127279</key>
	<array>
	  <string>http://www.justinbieberwallpaper.org/wp-content/uploads/2011/07/Justin-Bieber-argentinian-fans-justin-bieber-13066077-500-500.jpg</string>
	</array>
	<key>127278</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000059890/002.jpg</string>
	</array>
	<key>127277</key>
	<array>
	  <string>http://3.bp.blogspot.com/-FNNqtRLcyPo/TbIC4tyI5jI/AAAAAAAADLk/sn68-2F7BWs/s1600/justin%25252525252Bbieber%252525252525252Cjustin%25252525252Bbieber%25252525252Bpics%252525252525252Cjustin%25252525252Bbieber%25252525252B2011%252525252525252Cjustin%25252525</string>
	</array>
	<key>127275</key>
	<array>
	  <string>http://images.starpulse.com/pictures/2010/04/20/previews/Justin%20Bieber-RWP-004138.jpg</string>
	</array>
	<key>127276</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/h/o/l/hollywoodcelebnews/justin-bieber-letterman-show-032310-03.jpg</string>
	</array>
	<key>127273</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/34123335/Justin+Bieber+2.jpg</string>
	</array>
	<key>127274</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jjr//2010/03/justin-lucky/justin-bieber-bowling-party-01.jpg</string>
	</array>
	<key>127272</key>
	<array>
	  <string>http://www.hollywood-news.jp/wp-content/uploads/2010/03/justin-bieber-215x300.jpg</string>
	</array>
	<key>127271</key>
	<array>
	  <string>http://justinbiebertour2011.net/wp-content/uploads/2011/06/justinbiebertour2011b.jpg</string>
	</array>
	<key>127270</key>
	<array>
	  <string>http://hps.mtvjapan.com/mediacms/images/5feb5885f6b97dfc17be94eb43b7d9fd.jpg</string>
	</array>
	<key>127269</key>
	<array>
	  <string>http://2.bp.blogspot.com/_aCeIoHZfiHM/TKogGgchykI/AAAAAAAAAB8/0cY5eXrQqQs/s1600/justin+bieber.jpg</string>
	</array>
	<key>127267</key>
	<array>
	  <string>http://justinbieber.info/img/wallpapers/justin-bieber-pink-wallpaper.jpg</string>
	</array>
	<key>127268</key>
	<array>
	  <string>http://4.bp.blogspot.com/_y9Xq3fH-yd0/TOQ1noEogjI/AAAAAAAAAAM/RBQpjcQUR70/s1600/4236063959_17e0cfc3c2_o.jpg</string>
	</array>
	<key>127266</key>
	<array>
	  <string>http://3.bp.blogspot.com/-vd-9MVVYgso/Te272Be4QhI/AAAAAAAAATM/4CsROgrhvkM/s1600/justin-bieber-pictures.jpg</string>
	</array>
	<key>127264</key>
	<array>
	  <string>http://www.videosclips.tk/wp-content/uploads/Justin-bieber-videos-1.jpg</string>
	</array>
	<key>127265</key>
	<array>
	  <string>http://blog.zap2it.com/thedishrag/justin-bieber-getty-450.jpg</string>
	</array>
	<key>127263</key>
	<array>
	  <string>http://www.disneydreaming.com/wp-content/uploads/2010/04/Justin-Bieber-Scooter-Braun.jpg</string>
	</array>
	<key>127261</key>
	<array>
	  <string>http://a3.mzstatic.com/us/r1000/022/Purple/76/9f/c2/mzl.vnjkxnxa.320x480-75.jpg</string>
	</array>
	<key>127262</key>
	<array>
	  <string>http://4.bp.blogspot.com/-5RRSz8YDtnc/Tafd_QzdZqI/AAAAAAAAB30/GBKMsD_IKoY/s1600/justin-bieber-1.jpg</string>
	</array>
	<key>127260</key>
	<array>
	  <string>http://fotosimagens.com/wp-content/uploads/2010/10/justin-bieber-Usher.jpg</string>
	</array>
	<key>127259</key>
	<array>
	  <string>http://www.musicrooms.net/files/artists/justin_bieber_profile_786529583.jpg</string>
	</array>
	<key>127258</key>
	<array>
	  <string>http://robotceleb.com/wp-content/uploads/2011/05/justin-bieber.jpg</string>
	</array>
	<key>127257</key>
	<array>
	  <string>http://www.justinbieberhood.com/image.axd?picture=2010%2F10%2Fbieber-japan-pics-3-p.jpg</string>
	</array>
	<key>127255</key>
	<array>
	  <string>http://justinbieberfansclub.com/wp-content/uploads/2010/11/justin-bieber-biography.jpg</string>
	</array>
	<key>127256</key>
	<array>
	  <string>http://images.starpulse.com/pictures/2009/12/16/previews/Justin%20Bieber-ADB-026777.jpg</string>
	</array>
	<key>127254</key>
	<array>
	  <string>http://1.bp.blogspot.com/_UGtqSJ_3StU/TBejNGivcQI/AAAAAAAAAEw/ltBP3mBi7cI/s1600/Justin%2525252Bbieber!.jpg</string>
	</array>
	<key>127253</key>
	<array>
	  <string>http://gossip.whyfame.com/files/2010/07/justin_bieber_lady_gaga.jpg</string>
	</array>
	<key>127252</key>
	<array>
	  <string>http://4.bp.blogspot.com/_bhQYJiRpwLY/TK8aNwLpvPI/AAAAAAAAAEk/oVnfbSpXnfs/s640/Justin-Photoshoot-justin-bieber--1.gif</string>
	</array>
	<key>127251</key>
	<array>
	  <string>http://blog-imgs-31.fc2.com/e/s/c/escape4499/justin8.jpg</string>
	</array>
	<key>127249</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000061471/601.jpg</string>
	</array>
	<key>127250</key>
	<array>
	  <string>http://blog-imgs-36-origin.fc2.com/h/o/l/hollywoodcelebnews/justin-bieber-hot-gma-04.jpg</string>
	</array>
	<key>127248</key>
	<array>
	  <string>http://www.justinbieberzone.com/wp-content/gallery/official-pictures/justin_bieber_wallpaper_album_2009.jpg</string>
	</array>
	<key>127246</key>
	<array>
	  <string>http://blog.musicskins.com/wp-content/uploads/justin-bieber-blue-shoes.jpg</string>
	</array>
	<key>127247</key>
	<array>
	  <string>http://www.tvgroove.com/blog/julie/JustinBieber02.jpg</string>
	</array>
	<key>127245</key>
	<array>
	  <string>http://3.bp.blogspot.com/__pWjSmEiEsc/TDxvZYnbKZI/AAAAAAAADsA/oGZYh_IXslE/s1600/Justin.jpg</string>
	</array>
	<key>127244</key>
	<array>
	  <string>http://www.glamourvanity.com/wp-content/gallery/justin-bieber/Justin%20bieber%20hq%20photo%202010%20profile.jpg</string>
	</array>
	<key>127243</key>
	<array>
	  <string>http://4.bp.blogspot.com/-M1zholx9k9c/TZYXmMYi8EI/AAAAAAAAAv8/VURTt2txX7A/s1600/justin+bieber+3.jpg</string>
	</array>
	<key>127242</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51gaQI1ddfL.jpg</string>
	</array>
	<key>127241</key>
	<array>
	  <string>http://www.songonlyrics.com/wp-content/uploads/2011/02/Justin-Bieber.jpg</string>
	</array>
	<key>127240</key>
	<array>
	  <string>http://topshow.biz/wp-content/uploads/2011/05/justin-bieber.jpg</string>
	</array>
	<key>127239</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000061471/300.jpg</string>
	</array>
	<key>127238</key>
	<array>
	  <string>http://api.ning.com/files/T1CPtGC9JTw2IJo6GqZXALSgqpty54IU58cwllF5rpei1KHDZo5Z3D4uQV9m*p2eiuIVN*ptEBT0GOh*9AA463yZ1xWO2Tij/Justin_Bieber_300.jpg</string>
	</array>
	<key>127237</key>
	<array>
	  <string>http://www.justinbieberoriginal.com/wp-content/uploads/2010/10/justin-bieber-syphilis1.jpg</string>
	</array>
	<key>127236</key>
	<array>
	  <string>http://www.palzoo.net/file/pic/user/Justin-Bieber.jpg</string>
	</array>
	<key>127235</key>
	<array>
	  <string>http://ilyjustinbieber.com/wp-content/uploads/2010/05/Justin-Bieber-Japan-Arrival-2.png</string>
	</array>
	<key>127233</key>
	<array>
	  <string>http://2.bp.blogspot.com/-xss4j_dfWSg/TiU0vDD2bXI/AAAAAAAAC2A/A6CHhY1NI9k/s1600/Justin-Bieber-hospitalized.jpg</string>
	</array>
	<key>127234</key>
	<array>
	  <string>http://3.bp.blogspot.com/_JiNZqyAPP_o/TErRrdCNt2I/AAAAAAAACD8/M-GyT5epZH0/s640/justin-bieber2.jpg</string>
	</array>
	<key>127232</key>
	<array>
	  <string>http://www.justinbieberwallpapers.com/wp-content/uploads/2011/02/Justin-Bieber-Favorite-Girl1.jpg</string>
	</array>
	<key>127231</key>
	<array>
	  <string>http://justinbieber.info/img/justin.jpg</string>
	</array>
	<key>127229</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091003/18/creawebshop/68/68/j/o0475037610266736282.jpg</string>
	</array>
	<key>127230</key>
	<array>
	  <string>http://justinbieberpics.net/wp-content/uploads/2010/12/justin_bieber.jpg</string>
	</array>
	<key>127228</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000059288/300.jpg</string>
	</array>
	<key>127227</key>
	<array>
	  <string>http://www.disneydreaming.com/wp-content/uploads/2010/04/Justin-Bieber-Japan.jpg</string>
	</array>
	<key>127226</key>
	<array>
	  <string>http://www.gossipgirls.jp/wp-content/uploads/2009/12/120509_justinbieber_demilovato.jpg</string>
	</array>
	<key>127224</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/44019783/Justin+Bieber++incredible.jpg</string>
	</array>
	<key>127225</key>
	<array>
	  <string>http://1.bp.blogspot.com/-TTHmoB00Ddc/Te27L-TU3uI/AAAAAAAAASU/RHjKcS1kRG4/s1600/Justin%252525252525252BBieber%252525252525252BJustinBieberJustin.png</string>
	</array>
	<key>127223</key>
	<array>
	  <string>http://2.bp.blogspot.com/-CJPSiis0eAg/TVijG0DolpI/AAAAAAAACu8/WQ6p3QbYeeE/s1600/Justin_Bieber-Justin_Bieber_Picturs-3333%252525281%25252529.png</string>
	</array>
	<key>127220</key>
	<array>
	  <string>http://www.gev.com/wp-content/uploads/2011/05/justin-bieber-somebody_to_love.jpg</string>
	</array>
	<key>127222</key>
	<array>
	  <string>http://www.glamourvanity.com/images/justin-bieber-my-world.jpg</string>
	</array>
	<key>127221</key>
	<array>
	  <string>http://3.bp.blogspot.com/_wlXX9iW3bms/TFm3P158_NI/AAAAAAAAAgI/dV5vqTFC7OY/s1600/justin-bieber-20090925-537991%5B1%5D.jpg</string>
	</array>
	<key>127219</key>
	<array>
	  <string>http://www.hollywood-news.jp/wp-content/uploads/2010/03/justin-bieber.jpg</string>
	</array>
	<key>127217</key>
	<array>
	  <string>http://img.yaplog.jp/img/06/pc/n/i/t/nititure/1/1226.jpg</string>
	</array>
	<key>127218</key>
	<array>
	  <string>http://blog-imgs-43.fc2.com/m/e/l/melozy/justin-bieber.jpg</string>
	</array>
	<key>127215</key>
	<array>
	  <string>http://ta-ka-shi.com/_src/sc2261/justin-bieber-singer-7-940a041910.jpg</string>
	</array>
	<key>127216</key>
	<array>
	  <string>http://img.thedailyblend.net/2010/06/justin-bieber.jpg</string>
	</array>
	<key>127214</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_f94/nasser/justin2520bieber2520cover.jpg</string>
	</array>
	<key>127213</key>
	<array>
	  <string>http://www.sojones.com/wordpress/wp-content/uploads/2011/02/Justin-Bieber-001.jpg</string>
	</array>
	<key>127212</key>
	<array>
	  <string>http://www.aolcdn.com/photogalleryassets/japanmusic/871044/justin-bieber-singer-3-1040a041910.jpg</string>
	</array>
	<key>127211</key>
	<array>
	  <string>http://www.visit-bcn.com/blog/wp-content/uploads/2011/03/justin-bieber-disco.jpg</string>
	</array>
	<key>127210</key>
	<array>
	  <string>http://blog-imgs-36-origin.fc2.com/h/o/l/hollywoodcelebnews/justin-bieber-cd-signing-hard-rock-cafe-111709-01.jpg</string>
	</array>
	<key>127209</key>
	<array>
	  <string>http://1.bp.blogspot.com/-mcXBZWX8flo/ThYHocmKzzI/AAAAAAAAAo8/rNaY3N2rXDY/s1600/Justin-Bieber_OTMHE.jpg</string>
	</array>
	<key>127208</key>
	<array>
	  <string>http://www.alljustin.com/wp-content/uploads/2011/06/Justin_Bieber1.jpg</string>
	</array>
	<key>127207</key>
	<array>
	  <string>http://4.bp.blogspot.com/-UsPVuy61vG0/TZr8CrCEUXI/AAAAAAAAAC4/Jux7Awuz1tk/s1600/Justin_Bieber.jpg</string>
	</array>
	<key>127206</key>
	<array>
	  <string>http://bmr.jp/common/imglib/artist/L/00001648.jpg</string>
	</array>
	<key>127205</key>
	<array>
	  <string>http://static.igossip.com/photos_2/april_2011/justin_bieber_ex_girlfriend.jpg</string>
	</array>
	<key>127203</key>
	<array>
	  <string>http://www.web-songs.com/img2/j/justin_bieber.jpg</string>
	</array>
	<key>127204</key>
	<array>
	  <string>http://2.bp.blogspot.com/-JQSu1W9cS5M/TdEvuxNvIgI/AAAAAAAAA5w/WjRgtF1DDxQ/s1600/justin%2Bbieber%2B2.jpg</string>
	</array>
	<key>127202</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000066163/001.jpg</string>
	</array>
	<key>127200</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000063150/350.jpg</string>
	</array>
	<key>127201</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000066527/301.jpg</string>
	</array>
	<key>127199</key>
	<array>
	  <string>http://socialbutterflies.files.wordpress.com/2009/11/large_justin-bieber-453.jpg</string>
	</array>
	<key>127198</key>
	<array>
	  <string>http://www.disneydreaming.com/wp-content/uploads/2009/10/Justin-Bieber.jpg</string>
	</array>
	<key>127197</key>
	<array>
	  <string>http://socialbutterflies.files.wordpress.com/2009/11/justin-bieber-justin-bieber-7011899-493-604.jpg</string>
	</array>
	<key>127196</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/37085981/Justin+Bieber+HEISSOOCUTEWHENHESQUINTS.jpg</string>
	</array>
	<key>127195</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100325/22/bluebayou0312/d3/a5/j/o0240038410467019325.jpg</string>
	</array>
	<key>127194</key>
	<array>
	  <string>http://www.elle.co.jp/var/ellejp/storage/images/ellegirl/celeb/gossip/gossip10_0308/3008114-1-jpn-JP/_1_reference.jpg</string>
	</array>
	<key>127193</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000063150/001.jpg</string>
	</array>
	<key>127192</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100627/10/banamona/51/ec/j/o0454068110611423516.jpg</string>
	</array>
	<key>127191</key>
	<array>
	  <string>http://farm5.static.flickr.com/4030/4359751501_f6ab89e872_o.jpg</string>
	</array>
	<key>127190</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100627/10/banamona/9f/af/p/o0500078710611422586.png</string>
	</array>
	<key>127189</key>
	<array>
	  <string>http://jisin.jp/image?mode=show_image&amp;amp;cb_image_id=28277&amp;amp;rand=dcbf70814199fa1066f17551fc9f987b</string>
	</array>
	<key>127188</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/37082917/Justin+Bieber+justinbieber_1256778974.jpg</string>
	</array>
	<key>127187</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/36069471/Justin+Bieber+justins2.jpg</string>
	</array>
	<key>127186</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100206/13/velonicamars/4b/e8/j/o0396059410403087986.jpg</string>
	</array>
	<key>127185</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/43514809/Justin+Bieber+My+World+20.png</string>
	</array>
	<key>127184</key>
	<array>
	  <string>http://jisin.jp/image?mode=show_image&amp;amp;cb_image_id=28278&amp;amp;rand=dcbf70814199fa1066f17551fc9f987b</string>
	</array>
	<key>127183</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20101203/82675_201012030691884001291360819c.jpg</string>
	</array>
	<key>127182</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/41190117/Justin+Bieber+151gs1ds51bg51d.jpg</string>
	</array>
	<key>127181</key>
	<array>
	  <string>http://www.timewarp.jp/images/upload/2010/03/b98089082_10.jpg</string>
	</array>
	<key>127180</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/43819189/Justin+Bieber+2.png</string>
	</array>
	<key>127179</key>
	<array>
	  <string>http://www.cdjournal.com/image/jacket/100/Z3/Z322001036.jpg</string>
	</array>
	<key>127178</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100627/10/banamona/18/fa/p/o0486036410611423517.png</string>
	</array>
	<key>127177</key>
	<array>
	  <string>http://www.asahicom.jp/showbiz/enews/images/RTR201004290007.jpg</string>
	</array>
	<key>127176</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/02/59/N0025929_l.jpg</string>
	</array>
	<key>127175</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100329/23/19811969/18/49/p/o0445042510473014853.png</string>
	</array>
	<key>127174</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100206/13/velonicamars/f3/bb/j/o0395059410403087988.jpg</string>
	</array>
	<key>127173</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/43514857/Justin+Bieber+My+World+20.png</string>
	</array>
	<key>127172</key>
	<array>
	  <string>http://storage.kanshin.com/free/img_50/507338/k42502436.jpg</string>
	</array>
	<key>127171</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/45745327/Justin+Bieber+peoplepng.png</string>
	</array>
	<key>127170</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/43514835/Justin+Bieber+My+World+20.png</string>
	</array>
	<key>127169</key>
	<array>
	  <string>http://image.eiga.k-img.com/images/buzz/23069/reuters_jb_large.jpg</string>
	</array>
	<key>127168</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100627/10/banamona/d7/2c/j/o0440059410611423082.jpg</string>
	</array>
	<key>127167</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100627/10/banamona/d8/0e/p/o0316031510611423084.png</string>
	</array>
	<key>127166</key>
	<array>
	  <string>http://www.elle.co.jp/var/ellejp/storage/images/ellegirl/community/present/justin10_0329/3065670-1-jpn-JP/5-10_reference.jpg</string>
	</array>
	<key>127165</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/40183247/Justin+Bieber+jb.jpg</string>
	</array>
	<key>127164</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100206/13/velonicamars/da/58/j/o0395059410403089821.jpg</string>
	</array>
	<key>127163</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100803/14/banamona/36/e0/j/o0433050010673068279.jpg</string>
	</array>
</array>
</plist>
