<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>146530</key>
	<array>
	  <string>http://shop.goo.ne.jp/mp/image?m=61999999&amp;amp;g=157090825&amp;amp;u=http%3A%2F%2Fimgp-a.dena.ne.jp%2Fexp4%2F20090819%2F157%2F157090825_1.JPG&amp;amp;s=3</string>
	</array>
	<key>146529</key>
	<array>
	  <string>http://mcnw.web.infoseek.co.jp/070212mcn_risa.jpg</string>
	</array>
	<key>146528</key>
	<array>
	  <string>http://goukinfan.zero-yen.com/down/idol/niigaki/ba1024.jpg</string>
	</array>
	<key>146527</key>
	<array>
	  <string>http://blog-imgs-32-origin.fc2.com/m/a/n/maniaxz/2288zc.jpg</string>
	</array>
	<key>146525</key>
	<array>
	  <string>http://www.vidibu.com/thumb.php?vid=RWxLdVBDOEtfN2MtXy15b3V0dWJl</string>
	</array>
	<key>146524</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/r/riva03-musume/20081116/20081116103207.jpg</string>
	</array>
	<key>146523</key>
	<array>
	  <string>http://blog-imgs-41.fc2.com/r/i/s/risaniigaki/090121-0.jpg</string>
	</array>
	<key>146522</key>
	<array>
	  <string>http://www.energia-risa.com/img/cap/kankeinai.jpg</string>
	</array>
	<key>146521</key>
	<array>
	  <string>http://home.c05.itscom.net/airis/mobile/mobile_niigaki_11.jpg</string>
	</array>
	<key>146520</key>
	<array>
	  <string>http://farm2.static.flickr.com/1329/1139518482_36fbdabd27.jpg</string>
	</array>
	<key>146519</key>
	<array>
	  <string>http://im10-a.mbokimg.dena.ne.jp/2/6/348/180598348.1.jpg</string>
	</array>
	<key>146518</key>
	<array>
	  <string>http://mbpdiary.web.fc2.com/images/diary/201004/image20100429_01.jpg</string>
	</array>
	<key>146517</key>
	<array>
	  <string>http://hyperhobby.jp/pickup/img/kamei01_b.jpg</string>
	</array>
	<key>146516</key>
	<array>
	  <string>http://non-stop.web.infoseek.co.jp/ji_tsu/room08/wall/niigaki06.jpg</string>
	</array>
	<key>146515</key>
	<array>
	  <string>http://www.geocities.co.jp/MusicStar-Keyboard/2372/ogawa_mako2.jpg</string>
	</array>
	<key>146514</key>
	<array>
	  <string>http://momloveu.com/risa-niigaki/index.files/image4291.jpg</string>
	</array>
	<key>146513</key>
	<array>
	  <string>http://www6.plala.or.jp/cheapcreed/risa/moikkai.jpg</string>
	</array>
	<key>146512</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/006/195/65/N000/000/000/PDVD_2973ni.JPG</string>
	</array>
	<key>146511</key>
	<array>
	  <string>http://img46.imageshack.us/img46/4796/45611714.jpg</string>
	</array>
	<key>146510</key>
	<array>
	  <string>http://farm2.static.flickr.com/1103/1138674537_3c097a5668.jpg</string>
	</array>
	<key>146509</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/252/31479137.png</string>
	</array>
	<key>146508</key>
	<array>
	  <string>http://blog-imgs-21-origin.fc2.com/m/i/r/miryokukame/f_gaki02.jpg</string>
	</array>
	<key>146506</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/ff/43/10048941467_s.jpg</string>
	</array>
	<key>146505</key>
	<array>
	  <string>http://d.hatena.ne.jp/images/diary/k/kinta1020/titleimg.jpg</string>
	</array>
	<key>146504</key>
	<array>
	  <string>http://123go.dothostpro.com/images/jp20/27.jpg</string>
	</array>
	<key>146503</key>
	<array>
	  <string>http://mbpdiary.web.fc2.com/images/diary/200806/image20080629_07.jpg</string>
	</array>
	<key>146502</key>
	<array>
	  <string>http://yaplog.jp/niigakirisa/img/15/31.jpg</string>
	</array>
	<key>146501</key>
	<array>
	  <string>http://blog-imgs-26-origin.fc2.com/g/a/z/gazoudaisuki/20090508230346da2.jpg</string>
	</array>
	<key>146500</key>
	<array>
	  <string>http://farm3.static.flickr.com/2585/4102278489_0ed997a314_o.jpg</string>
	</array>
	<key>146499</key>
	<array>
	  <string>http://x98img.peps.jp/uimg/m/mowt/3/5/chwkhn8on3A.jpg</string>
	</array>
	<key>146498</key>
	<array>
	  <string>http://img.pics.livedoor.com/003/5/6/56492eca957a138de20b-LL.jpg</string>
	</array>
	<key>146497</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/160/396558.jpg</string>
	</array>
	<key>146496</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091020/01/gaki-san/ff/85/j/t02200287_0300039210281334712.jpg</string>
	</array>
	<key>146495</key>
	<array>
	  <string>http://i3.ytimg.com/vi/AcWtBRSjiWY/0.jpg</string>
	</array>
	<key>146494</key>
	<array>
	  <string>http://www.k5.dion.ne.jp/~ai-risa/LOVELOG_IMG/90V8A_97A28DB981u83A838D83n838D81I90V8A_97A28DB98ECA905E8FW-MAHALO-81v.jpg</string>
	</array>
	<key>146493</key>
	<array>
	  <string>http://non-stop.web.infoseek.co.jp/ji_tsu/room01/wall/niigaki01.jpg</string>
	</array>
	<key>146492</key>
	<array>
	  <string>http://helloproject.cocolog-nifty.com/hello/images/Image20051020001.jpg</string>
	</array>
	<key>146491</key>
	<array>
	  <string>http://www.kantei.go.jp/jp/coolearthamb/images/073_niigaki.jpg</string>
	</array>
	<key>146490</key>
	<array>
	  <string>http://pic.pimg.tw/colors/1153323936.jpg</string>
	</array>
	<key>146489</key>
	<array>
	  <string>http://blog-imgs-42-origin.fc2.com/g/a/z/gazoudaisuki/20100323092729a6d.jpg</string>
	</array>
	<key>146488</key>
	<array>
	  <string>http://mbpdiary.web.fc2.com/images/diary/200907/image20090707_01.jpg</string>
	</array>
	<key>146487</key>
	<array>
	  <string>http://ex-osaka.up.seesaa.net/image/90V8A_97A28DB98197178DCE.jpg</string>
	</array>
	<key>146486</key>
	<array>
	  <string>http://f.hatena.ne.jp/images/fotolife/p/pocoapoco8/20061020/20061020222043.jpg</string>
	</array>
	<key>146485</key>
	<array>
	  <string>http://blog-imgs-41.fc2.com/t/a/k/takimoni/c090131_01.jpg</string>
	</array>
	<key>146484</key>
	<array>
	  <string>http://www.k5.dion.ne.jp/~ai-risa/LOVELOG_IMG/83V839383f838C838990V8A_.jpg</string>
	</array>
	<key>146483</key>
	<array>
	  <string>http://image.blog.livedoor.jp/ainoshabondama/imgs/d/a/dae1fba9.jpg</string>
	</array>
	<key>146482</key>
	<array>
	  <string>http://planroom.fc2web.com/g/551.jpg</string>
	</array>
	<key>146481</key>
	<array>
	  <string>http://birthday21gakisan.web.fc2.com/top2.jpg</string>
	</array>
	<key>146480</key>
	<array>
	  <string>http://blog-imgs-31.fc2.com/g/a/k/gakisan1020/o3202-2.jpg</string>
	</array>
	<key>146479</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/76/cc/mejiron1234/folder/114624/img_114624_546617_0?1251810529</string>
	</array>
	<key>146478</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/5f/e2/phsmayumayumi/folder/274859/img_274859_12844558_0?1237618253</string>
	</array>
	<key>146477</key>
	<array>
	  <string>http://blog.zaq.ne.jp/twinkle5/img/img_box/img20071021031204303.jpg</string>
	</array>
	<key>146476</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110608/08/lunechang2010/81/4e/p/o0207027111277569868.png</string>
	</array>
	<key>146475</key>
	<array>
	  <string>http://mbpdiary.web.fc2.com/images/diary/200810/image20081006_01.jpg</string>
	</array>
	<key>146474</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/07/20110703_wakui_24.jpg</string>
	</array>
	<key>146473</key>
	<array>
	  <string>http://img.segmee.com/11273.jpeg</string>
	</array>
	<key>146472</key>
	<array>
	  <string>http://cfs13.tistory.com/image/10/tistory/2008/12/30/12/43/495998dd0d9a6</string>
	</array>
	<key>146471</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/012/645/33/N000/000/004/124569161349016129768_gaki17.jpg</string>
	</array>
	<key>146470</key>
	<array>
	  <string>http://blog-imgs-24.fc2.com/f/r/e/freewill0507/0624_gakisan.jpg</string>
	</array>
	<key>146469</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/d/daichomaru/20060920/20060920093546.jpg</string>
	</array>
	<key>146468</key>
	<array>
	  <string>http://blog-imgs-18.fc2.com/t/a/k/takimoni/c071020_31.jpg</string>
	</array>
	<key>146467</key>
	<array>
	  <string>http://www.hello-online.org/hello/images/picboard/img20090516141853428.jpg</string>
	</array>
	<key>146466</key>
	<array>
	  <string>http://i3.ytimg.com/vi/6uZP6nRKLS0/2.jpg</string>
	</array>
	<key>146465</key>
	<array>
	  <string>http://x89img.peps.jp/uimg/r/rikachami/27/8/cl3qmj97cbA.jpg</string>
	</array>
	<key>146464</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/17/0000228217/30/imgefd005ffzik4zj.jpeg</string>
	</array>
	<key>146463</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/g/a/k/gakirena/20091023191931d78.jpg</string>
	</array>
	<key>146462</key>
	<array>
	  <string>http://img.f.hatena.ne.jp/images/fotolife/t/takahashi-ai/20091001/20091001100708_original.jpg</string>
	</array>
	<key>146461</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/006/195/65/N000/000/000/PDVD_400ni.JPG</string>
	</array>
	<key>146460</key>
	<array>
	  <string>http://images.rednet.cn/articleimage/2008/04/26/940504583.jpg</string>
	</array>
	<key>146459</key>
	<array>
	  <string>http://3.bp.blogspot.com/_R0S6uE1Heew/TBxtLCawVBI/AAAAAAAADBs/zj3riOvQM6A/s1600/41hhzHj6bDL.jpg</string>
	</array>
	<key>146458</key>
	<array>
	  <string>http://mbpdiary.web.fc2.com/images/diary/200709/image20070924_04.jpg</string>
	</array>
	<key>146457</key>
	<array>
	  <string>http://www.keibo-freeservers.com/~keibo/risa.files/CDHITS200209risa.jpg</string>
	</array>
	<key>146456</key>
	<array>
	  <string>http://www.mypress.jp/imagew/ma7360/061020niigaki.jpg</string>
	</array>
	<key>146455</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/55/0000064055/69/img60c4c11dzik9zj.jpeg</string>
	</array>
	<key>146454</key>
	<array>
	  <string>http://x64img.peps.jp/uimg/k/kamegaki/60/cudy4p40xqA.jpg</string>
	</array>
	<key>146453</key>
	<array>
	  <string>http://d.hatena.ne.jp/images/diary/t/thinkpositive/2006-06-23.jpg</string>
	</array>
	<key>146452</key>
	<array>
	  <string>http://imgp-a.dena.ne.jp/exp1/20090125/204/154762112_1.jpg</string>
	</array>
	<key>146451</key>
	<array>
	  <string>http://www.eririn.com/0616/img/top_c_gaki.jpg</string>
	</array>
	<key>146450</key>
	<array>
	  <string>http://blog-imgs-33.fc2.com/n/i/i/niigakisan/profile9.jpg</string>
	</array>
	<key>146449</key>
	<array>
	  <string>http://images.amazon.com/images/P/4847029410.01._SCMZZZZZZZ_.jpg</string>
	</array>
	<key>146448</key>
	<array>
	  <string>http://shop.wani.co.jp/viewer/imageViewer.php?p=img/img/978-4-8470-4080-1.jpg</string>
	</array>
	<key>146447</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/55/0000064055/48/img22e6e71azik8zj.jpeg</string>
	</array>
	<key>146446</key>
	<array>
	  <string>http://25.media.tumblr.com/HkRoY8IM87sqce26zfoZ2yMm_500.jpg</string>
	</array>
	<key>146445</key>
	<array>
	  <string>http://blog-imgs-26-origin.fc2.com/e/r/i/erizabesukame/img_555485_52638609_2.jpg</string>
	</array>
	<key>146444</key>
	<array>
	  <string>http://blog-imgs-23-origin.fc2.com/e/n/t/entertainerphoto/niigaki.jpg</string>
	</array>
	<key>146443</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200810/19/65/b0003265_23122141.jpg</string>
	</array>
	<key>146442</key>
	<array>
	  <string>http://farm2.static.flickr.com/1386/1139517314_f9353b677b.jpg</string>
	</array>
	<key>146441</key>
	<array>
	  <string>http://www.hello-online.org/hello/images/picboard/img20090523130731723.jpg</string>
	</array>
	<key>146440</key>
	<array>
	  <string>http://blog-imgs-33.fc2.com/n/i/i/niigakisan/aa.jpg</string>
	</array>
	<key>146439</key>
	<array>
	  <string>http://diary.kon-kon.info/img/risa/dy061221/img77_dy002.jpg</string>
	</array>
	<key>146438</key>
	<array>
	  <string>http://morkingz.blog.so-net.ne.jp/_images/blog/_09e/morkingz/E696B0E59EA3E9878CE6B29903.jpg</string>
	</array>
	<key>146437</key>
	<array>
	  <string>http://image.blog.livedoor.jp/ainoshabondama/imgs/f/7/f7a2b138.jpg</string>
	</array>
	<key>146436</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/74/4c/takuma30003002/folder/1461825/img_1461825_41215376_0?1234016615</string>
	</array>
	<key>146435</key>
	<array>
	  <string>http://contents.innolife.net/mobile/img/item/77836_l.jpg</string>
	</array>
	<key>146434</key>
	<array>
	  <string>http://apple.mo-blog.jp/photos/uncategorized/gaki2.jpg</string>
	</array>
	<key>146433</key>
	<array>
	  <string>http://blog-imgs-33.fc2.com/n/i/i/niigakisan/bb.jpg</string>
	</array>
	<key>146432</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51CAG8CSAAL._SL200_.jpg</string>
	</array>
	<key>146431</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/s/seccyan/20081221/20081221201156.jpg</string>
	</array>
	<key>146430</key>
	<array>
	  <string>http://morkingz.blog.so-net.ne.jp/_images/blog/_09e/morkingz/E696B0E59EA3E9878CE6B29902.jpg</string>
	</array>
	<key>146429</key>
	<array>
	  <string>http://usachan-peace.jpn.org/hello/image/wall/w_risa01.JPG</string>
	</array>
	<key>146428</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200610/19/92/b0069992_21301499.jpg</string>
	</array>
	<key>146427</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/55/0000064055/48/img6a363d02zikezj.jpeg</string>
	</array>
	<key>146426</key>
	<array>
	  <string>http://www.jbook.co.jp/member/img/product/03539/M03539471-01.jpg</string>
	</array>
	<key>146425</key>
	<array>
	  <string>http://rollingbeat.blog.so-net.ne.jp/blog/_images/blog/_2a6/rollingbeat/8383225.jpg</string>
	</array>
	<key>146424</key>
	<array>
	  <string>http://www.yassite.com/musume/prof/data/niigakirisa.jpg</string>
	</array>
	<key>146423</key>
	<array>
	  <string>http://hpw.up.seesaa.net/image/BFB7B3C0CEA4BABB05201024x768.jpg</string>
	</array>
	<key>146422</key>
	<array>
	  <string>http://img.bpic.jp/3937.jpeg</string>
	</array>
	<key>146421</key>
	<array>
	  <string>http://aewen.com/momusu/niigaki/img/aewen2038.jpg</string>
	</array>
	<key>146420</key>
	<array>
	  <string>http://cfs13.tistory.com/image/25/tistory/2008/12/30/12/53/49599b264f5b2</string>
	</array>
	<key>146419</key>
	<array>
	  <string>http://fun.china.com/zh_cn/star/news/11052670/20070628/images/14187270_2007062809583395666700.jpg</string>
	</array>
	<key>146418</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/r/riva03-musume/20071021/20071021023705.jpg</string>
	</array>
	<key>146417</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/17/0000228217/58/imge4b4f1f1zik7zj.jpeg</string>
	</array>
	<key>146415</key>
	<array>
	  <string>http://x54img.peps.jp/uimg/z/zexv/70/d7y3721q9rA.jpg</string>
	</array>
	<key>146416</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/007/021/75/N000/000/000/gatas_021.jpg</string>
	</array>
	<key>146414</key>
	<array>
	  <string>http://diary.kon-kon.info/img/kon/other/img684_img_060624_01.jpg</string>
	</array>
	<key>146413</key>
	<array>
	  <string>http://blog-imgs-30.fc2.com/l/a/s/lasthouseontheleft/2009082201.gif</string>
	</array>
	<key>146412</key>
	<array>
	  <string>http://blog-imgs-31.fc2.com/g/a/k/gakisan1020/6299e-2.jpg</string>
	</array>
	<key>146411</key>
	<array>
	  <string>http://www.weblio.jp/img/dict/tltdb/images/2000047163.jpg</string>
	</array>
	<key>146410</key>
	<array>
	  <string>http://blog-imgs-18.fc2.com/t/a/k/takimoni/c070905_03.jpg</string>
	</array>
	<key>146409</key>
	<array>
	  <string>http://www.energia-risa.com/contents/img/risa.jpg</string>
	</array>
	<key>146408</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/p/precious_song0526/20071018/20071018045537.jpg</string>
	</array>
	<key>146407</key>
	<array>
	  <string>http://pic.pimg.tw/tyler729/497698f64c137.jpg</string>
	</array>
	<key>146406</key>
	<array>
	  <string>http://blog-imgs-14.fc2.com/g/a/k/gakipedia/gakisan.jpg</string>
	</array>
	<key>146405</key>
	<array>
	  <string>http://blog-imgs-24.fc2.com/g/r/i/gripglory/hello_niigaki050731_00.jpg</string>
	</array>
	<key>146404</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/512DdO2M8sL._SL160_.jpg</string>
	</array>
	<key>146403</key>
	<array>
	  <string>http://mbpdiary.web.fc2.com/images/diary/200712/image20071225_03.jpg</string>
	</array>
	<key>146402</key>
	<array>
	  <string>http://www.gekidan-online.com/blog/fashionable/wp-content/uploads/2010/06/2010062518190000.jpg</string>
	</array>
	<key>146401</key>
	<array>
	  <string>http://top77.jp/i7/img/niigakirisa020.jpg</string>
	</array>
	<key>146400</key>
	<array>
	  <string>http://talent.c.yimg.jp/images/talent/201107/large/w09/w09-0061-110714.jpg</string>
	</array>
	<key>146399</key>
	<array>
	  <string>http://seagz.fujitv.co.jp/person/photo/W09/W09-0061.jpg</string>
	</array>
	<key>146398</key>
	<array>
	  <string>http://shop.wani.co.jp/viewer/imageViewer.php?p=img/img/978-4-8470-4013-9.jpg</string>
	</array>
	<key>146397</key>
	<array>
	  <string>http://blog-imgs-26.fc2.com/r/i/s/risakago1/20070317-risa10.jpg</string>
	</array>
	<key>146396</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/000/664/57/N000/000/001/122960731312216328484_20061021_246017.jpg</string>
	</array>
	<key>146395</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200709/13/65/b0003265_2102960.jpg</string>
	</array>
	<key>146394</key>
	<array>
	  <string>http://x38img.peps.jp/uimg/s/sayurishako/1/7/cwbc9ldw5xA.jpg</string>
	</array>
	<key>146393</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/k/u/r/kuroeri222/offgaki3149.jpg</string>
	</array>
	<key>146392</key>
	<array>
	  <string>http://d.hatena.ne.jp/images/diary/t/thinkpositive/2007-05-28.jpg</string>
	</array>
	<key>146391</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091019/23/hsj-chinen11/cf/6f/j/t02200298_0450061010281229046.jpg</string>
	</array>
	<key>146390</key>
	<array>
	  <string>http://www.aya-ya.net/ayaya/ayaup3/img/yonaka094.jpg</string>
	</array>
	<key>146389</key>
	<array>
	  <string>http://livedoor.blogimg.jp/sh_vakha/imgs/0/6/06695b45.JPG</string>
	</array>
	<key>146388</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/55/0000064055/07/imgd9436b3czikezj.jpeg</string>
	</array>
	<key>146387</key>
	<array>
	  <string>http://interact.barks.jp/image/users/1000099061/USER_IMAGE.jpg</string>
	</array>
	<key>146386</key>
	<array>
	  <string>http://blog-imgs-21-origin.fc2.com/m/i/r/miryokukame/f_gaki001.jpg</string>
	</array>
	<key>146385</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200710/19/65/b0003265_22585244.jpg</string>
	</array>
	<key>146384</key>
	<array>
	  <string>http://blog-imgs-12.fc2.com/f/r/e/freewill0507/gakisan03.jpg</string>
	</array>
	<key>146383</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51CAG8CSAAL._SL500_AA300_.jpg</string>
	</array>
	<key>146382</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/006/195/65/N000/000/000/video-stage6risacom_.divx_000137504.jpg</string>
	</array>
	<key>146381</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/db/1b/sarasara21820/folder/1213854/img_1213854_38335173_0?1151378082</string>
	</array>
	<key>146380</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/512DdO2M8sL._SL500_AA300_.jpg</string>
	</array>
	<key>146379</key>
	<array>
	  <string>http://cfs15.tistory.com/image/29/tistory/2008/12/30/13/10/49599f3a9fe52</string>
	</array>
	<key>146378</key>
	<array>
	  <string>http://d.hatena.ne.jp/images/diary/g/gaki32121/titleimg.jpg</string>
	</array>
	<key>146377</key>
	<array>
	  <string>http://mbpdiary.web.fc2.com/images/diary/logImage1.jpg</string>
	</array>
	<key>146376</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/p/princess19/20070510/20070510225829.jpg</string>
	</array>
	<key>146375</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200711/27/92/b0069992_23222126.jpg</string>
	</array>
	<key>146374</key>
	<array>
	  <string>http://non-stop.web.infoseek.co.jp/ji_tsu/room03/wall/niigaki02.jpg</string>
	</array>
	<key>146373</key>
	<array>
	  <string>http://26.media.tumblr.com/tumblr_l443i2Cqon1qz60rdo1_400.jpg</string>
	</array>
	<key>146372</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/012/645/33/N000/000/002/123246399677016106480_2009_01210038.JPG</string>
	</array>
	<key>146371</key>
	<array>
	  <string>http://images.amazon.com/images/P/B000P28QU4.09.LZZZZZZZ.jpg</string>
	</array>
	<key>146370</key>
	<array>
	  <string>http://www14.atwiki.jp/koniro/?cmd=upload&amp;amp;act=open&amp;amp;pageid=60&amp;amp;file=0002512.jpg</string>
	</array>
	<key>146369</key>
	<array>
	  <string>http://hpw.up.seesaa.net/image/BFB7B3C0CEA4BABB04201024x768.jpg</string>
	</array>
	<key>146368</key>
	<array>
	  <string>http://g-ec2.images-amazon.com/images/I/51XufTEOZLL._AA240_.jpg</string>
	</array>
	<key>146366</key>
	<array>
	  <string>http://shakal.info/images/risa-m11.jpg</string>
	</array>
	<key>146367</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/007/021/75/1/gaki17.jpg</string>
	</array>
	<key>146365</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200710/19/92/b0069992_1421217.jpg</string>
	</array>
	<key>146526</key>
	<array>
	  <string>http://home.c05.itscom.net/airis/mobile/mobile_niigaki_12.jpg</string>
	</array>
	<key>146564</key>
	<array>
	  <string>http://blog-imgs-21.fc2.com/r/i/s/risaniigaki/20080425230013.jpg</string>
	</array>
	<key>146563</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/b0/58/utatte_reina18/folder/1185027/img_1185027_34423457_0?1256436252</string>
	</array>
	<key>146562</key>
	<array>
	  <string>http://gallery.nihongogo.com/1234396727/gallery_3_5_108001.jpg</string>
	</array>
	<key>146561</key>
	<array>
	  <string>http://101.dtiblog.com/b/bnefyior/file/20071023002347.jpg</string>
	</array>
	<key>146560</key>
	<array>
	  <string>http://www.largevocalmix.jp/diary/2004/11/image/magicalbiyuden_risa_20041101.jpg</string>
	</array>
	<key>146559</key>
	<array>
	  <string>http://vsearch.c.yimg.jp/image?id=2711625aa1fc6397bf91d1006656eebb</string>
	</array>
	<key>146558</key>
	<array>
	  <string>http://img3.lln.crunchyroll.com/i/spire1/06052008/d/0/4/d/d04d4c8adaa400_full.jpg</string>
	</array>
	<key>146557</key>
	<array>
	  <string>http://blog-imgs-26.fc2.com/r/i/s/risakago1/chirari0479.jpg</string>
	</array>
	<key>146556</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/16/95/azukigakizou/folder/789943/img_789943_15940594_0?1241227943</string>
	</array>
	<key>146555</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/007/021/75/1/gaki08.jpg</string>
	</array>
	<key>146554</key>
	<array>
	  <string>http://farm3.static.flickr.com/2585/4102278489_6b7a2983e8.jpg</string>
	</array>
	<key>146553</key>
	<array>
	  <string>http://blog-imgs-16.fc2.com/8/j/o/8jojima/nakada03.jpg</string>
	</array>
	<key>146552</key>
	<array>
	  <string>http://image.blog.livedoor.jp/yazuki145/imgs/6/2/62d0d535.jpg</string>
	</array>
	<key>146551</key>
	<array>
	  <string>http://cfs15.tistory.com/image/17/tistory/2008/12/30/13/05/49599dfa7691e</string>
	</array>
	<key>146550</key>
	<array>
	  <string>http://images.rednet.cn/articleimage/2008/04/26/937199544.jpg</string>
	</array>
	<key>146549</key>
	<array>
	  <string>http://mlp.sylphlike.com/img/img1288_060718spnii_nii1_0.jpg</string>
	</array>
	<key>146548</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/p-et-100318-015-ns.jpg</string>
	</array>
	<key>146547</key>
	<array>
	  <string>http://pic.dc.yesky.com/imagelist/07/29/4217642_m_4217644_1957.jpg</string>
	</array>
	<key>146546</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/d/ebest-dvd_0000000906300</string>
	</array>
	<key>146544</key>
	<array>
	  <string>http://blog-imgs-42.fc2.com/r/i/s/risaniigaki/100415-0.jpg</string>
	</array>
	<key>146545</key>
	<array>
	  <string>http://123go.dothostpro.com/images/jp20/28.jpg</string>
	</array>
	<key>146543</key>
	<array>
	  <string>http://blog-imgs-34.fc2.com/s/a/n/saneisankyu/20100227234406e24.jpg</string>
	</array>
	<key>146542</key>
	<array>
	  <string>http://www.team-6.jp/try-1kg/ambassador/img/popup_photo_niigakirisa.jpg</string>
	</array>
	<key>146541</key>
	<array>
	  <string>http://blog-imgs-11.fc2.com/m/o/m/momokoharu/20070930205922.jpg</string>
	</array>
	<key>146540</key>
	<array>
	  <string>http://mbpdiary.web.fc2.com/images/diary/200810/image20081005_06.jpg</string>
	</array>
	<key>146539</key>
	<array>
	  <string>http://blog-imgs-21-origin.fc2.com/m/i/r/miryokukame/080424_06b.jpg</string>
	</array>
	<key>146538</key>
	<array>
	  <string>http://www.xlyrics.de/images/up/000/381/356/img20071230002557724_original.jpg</string>
	</array>
	<key>146537</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/15/a7/e3e08943897aedd9a038ddc9024cee74.jpg</string>
	</array>
	<key>146536</key>
	<array>
	  <string>http://sayunii.files.wordpress.com/2010/04/img201004282105289391.jpg</string>
	</array>
	<key>146535</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/6c/a4/2be2bd11541a8afbb7a33932fdc4594f.jpg</string>
	</array>
	<key>146534</key>
	<array>
	  <string>http://syu2t6happy9charmy.up.269g.net/image/gakikame2007-2.jpg</string>
	</array>
	<key>146533</key>
	<array>
	  <string>http://images-jp.amazon.com/images/P/B000P28QU4.09._SCMZZZZZZZ_.jpg</string>
	</array>
	<key>146532</key>
	<array>
	  <string>http://d.hatena.ne.jp/images/diary/g/gaki32121/2007-10-20.jpg</string>
	</array>
	<key>146531</key>
	<array>
	  <string>http://img.f.hatena.ne.jp/images/fotolife/c/charmy_shin/20070615/20070615032019.jpg</string>
	</array>
	<key>146507</key>
	<array>
	  <string>http://www5e.biglobe.ne.jp/~dabesapp/03101803.jpg</string>
	</array>
</array>
</plist>
