<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>139765</key>
	<array>
	  <string>http://cinematoday.jp/res/A0/00/19/A0001976-00.jpg</string>
	</array>
	<key>139766</key>
	<array>
	  <string>http://cinematoday.jp/res/A0/00/16/A0001697-07.jpg</string>
	</array>
	<key>139767</key>
	<array>
	  <string>http://s.cinematoday.jp/res/A0/00/20/A0002003-00.jpg</string>
	</array>
	<key>139768</key>
	<array>
	  <string>http://www.cinematopics.com/cinema/newspic/image/070702131755.jpg</string>
	</array>
	<key>139769</key>
	<array>
	  <string>http://farm1.static.flickr.com/86/273723070_f682ad3b77_o.jpg</string>
	</array>
	<key>139770</key>
	<array>
	  <string>http://www.cinema.janjan.jp/0803/0803180046/img/photo149390.jpg</string>
	</array>
	<key>139771</key>
	<array>
	  <string>http://farm1.static.flickr.com/106/273723069_84126d71bb_o.jpg</string>
	</array>
	<key>139772</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/59/0000176359/82/img7f48f42bzik4zj.jpeg</string>
	</array>
	<key>139773</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20090317/64185_200903170116827001237255589c.jpg</string>
	</array>
	<key>139774</key>
	<array>
	  <string>http://www.asahi-mullion.com/column/interview/image/200803kaneshiro1.jpg</string>
	</array>
	<key>139775</key>
	<array>
	  <string>http://news.walkerplus.com/2009/0130/10/20090130160751_01_400.jpg</string>
	</array>
	<key>139776</key>
	<array>
	  <string>http://cinematoday.jp/res/A0/00/12/A0001218-00.jpg</string>
	</array>
	<key>139777</key>
	<array>
	  <string>http://www.cinema.janjan.jp/0902/0902060941/img/photo173639.jpg</string>
	</array>
	<key>139778</key>
	<array>
	  <string>http://www.pia.co.jp/cinema/interview/081218_kaneshiro/img/photo01.jpg</string>
	</array>
	<key>139779</key>
	<array>
	  <string>http://www.ozmall.co.jp/entertainment/people/vol11/images/ph3.jpg</string>
	</array>
	<key>139780</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200902/20/32/c0066832_20255817.jpg</string>
	</array>
	<key>139781</key>
	<array>
	  <string>http://file.kaiun.blog.shinobi.jp/red.jpg</string>
	</array>
	<key>139782</key>
	<array>
	  <string>http://magabon.yomiuri.co.jp/special/voice/common/images/photo15_01.jpg</string>
	</array>
	<key>139783</key>
	<array>
	  <string>http://img.pics.livedoor.com/012/e/a/ea1e793ab54235fb9a3d-1024.jpg</string>
	</array>
	<key>139784</key>
	<array>
	  <string>http://www.pia.co.jp/cinema/tokusyu/interview/070705_drywhisky/images/photo_top.jpg</string>
	</array>
	<key>139785</key>
	<array>
	  <string>http://cinematoday.jp/res/A0/00/14/A0001443-00.jpg</string>
	</array>
	<key>139786</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200510/20/59/e0004659_1747759.jpg</string>
	</array>
	<key>139787</key>
	<array>
	  <string>http://www.cinematopics.com/cinema/c_report/pic/image/200808/080807011402.jpg</string>
	</array>
	<key>139788</key>
	<array>
	  <string>http://www.cinema.janjan.jp/0808/0808060894/img/photo160997.jpg</string>
	</array>
	<key>139789</key>
	<array>
	  <string>http://www.pia.co.jp/cinema/interview/080319_sweetrain/img/photo01.jpg</string>
	</array>
	<key>139790</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200812/21/83/e0046183_19364810.jpg</string>
	</array>
	<key>139791</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200902/090206_redcliff2_main.jpg</string>
	</array>
	<key>139792</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200707/070705_kizudarake_main.jpg</string>
	</array>
	<key>139793</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200803/080324_sweetrain.jpg</string>
	</array>
	<key>139794</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200808/080806_rc_main.jpg</string>
	</array>
	<key>139795</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200811/081127_k20_main.jpg</string>
	</array>
	<key>139796</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200812/081220_k20_main.jpg</string>
	</array>
	<key>139797</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200801/080129_shinigami_main.jpg</string>
	</array>
	<key>139798</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200803/080319_ishida_main.jpg</string>
	</array>
	<key>139799</key>
	<array>
	  <string>http://s.cinematoday.jp/res/A0/00/19/A0001976-00.jpg</string>
	</array>
	<key>139800</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/61/9a/5ee98580db0b0878da3e4d9940d01ea4.jpg</string>
	</array>
	<key>139801</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/y/u/m/yumekanau993/10608447_178599.jpg</string>
	</array>
	<key>139802</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/07/83/6086d27c505f3cd233f2e32652fd88a0.jpg</string>
	</array>
	<key>139803</key>
	<array>
	  <string>http://nikoigo.img.jugem.jp/20080629_302807.jpg</string>
	</array>
	<key>139804</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/i/k/e/ikemenjuku/kaneshiro_takeshi04.jpg</string>
	</array>
	<key>139805</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/d0/77/bluesky18bluesky/folder/593812/img_593812_5058226_1?1253539553</string>
	</array>
	<key>139806</key>
	<array>
	  <string>http://janjan.voicejapan.org/cinema/0803/0803180046/img/photo149390.jpg</string>
	</array>
	<key>139807</key>
	<array>
	  <string>http://www.cinematopics.com/cinema/newspic/image/070702131755.jpg</string>
	</array>
	<key>139808</key>
	<array>
	  <string>http://blog-imgs-27-origin.fc2.com/l/o/v/loveloveokie/takeshi_kaneshiro.jpg</string>
	</array>
	<key>139809</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2008-04/16/xin_57204051609241402927734.jpg</string>
	</array>
	<key>139810</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200504/07/46/a0015046_20232369.jpg</string>
	</array>
	<key>139811</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/y/u/m/yumekanau993/2006110204075714877.jpg</string>
	</array>
	<key>139812</key>
	<array>
	  <string>http://pic.pimg.tw/vivian88job/1309278006-97728289075fe107cbc42cd9f1f678e9.jpg</string>
	</array>
	<key>139813</key>
	<array>
	  <string>http://blog-imgs-41-origin.fc2.com/r/e/t/returner/mensuno.jpg</string>
	</array>
	<key>139814</key>
	<array>
	  <string>http://takeshing.image.wablog.com/page/176.jpg</string>
	</array>
	<key>139815</key>
	<array>
	  <string>http://yanajun.com/wp-content/uploads/kaneshiro01.jpg</string>
	</array>
	<key>139816</key>
	<array>
	  <string>http://japanese.cri.cn/mmsource/images/2008/05/26/zhw310956412.jpg</string>
	</array>
	<key>139817</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/3d/8b/f79d40a6a1633b4682d9e5752949fc37.jpg</string>
	</array>
	<key>139818</key>
	<array>
	  <string>http://movie.goo.ne.jp/special/kizu/img/interview01.jpg</string>
	</array>
	<key>139819</key>
	<array>
	  <string>http://blog-imgs-33-origin.fc2.com/k/a/n/kanetakelife/056.jpg</string>
	</array>
	<key>139820</key>
	<array>
	  <string>http://blog-imgs-44.fc2.com/b/l/i/bling030/U1512P28T3D942058F326DT20051227081641.jpg</string>
	</array>
	<key>139821</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/y/u/m/yumekanau993/006.jpg</string>
	</array>
	<key>139822</key>
	<array>
	  <string>http://pds.exblog.jp/logo/1/200409/22/43/b0030643.jpg</string>
	</array>
	<key>139823</key>
	<array>
	  <string>http://blog-imgs-27-origin.fc2.com/l/o/v/loveloveokie/A0001218-00.jpg</string>
	</array>
	<key>139824</key>
	<array>
	  <string>http://3.bp.blogspot.com/_tJUbGIVE6bo/TDirokki4UI/AAAAAAAAAr0/_gE5NBL9Xf4/s1600/takeshi_kaneshiro-with-short-spiky-hairstyle.jpg</string>
	</array>
	<key>139825</key>
	<array>
	  <string>http://www.geocities.jp/huangmu136/kaneshiro/Takashi-13.jpg</string>
	</array>
	<key>139826</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090802/01/garachan-fukuchan/93/09/j/o0400030010224784391.jpg</string>
	</array>
	<key>139827</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/01/a2/25bf87da3a97d9e4386d4fde8cd2ebe8.jpg</string>
	</array>
	<key>139828</key>
	<array>
	  <string>http://image.jmrb.com/UploadImages/2008/01/27/imagesNT_20080127_160452_91697.jpg</string>
	</array>
	<key>139829</key>
	<array>
	  <string>http://www.magabon.jp/special/voice/common/images/photo15_01.jpg</string>
	</array>
	<key>139830</key>
	<array>
	  <string>http://movie.goo.ne.jp/special/kizu/img/interview03.jpg</string>
	</array>
	<key>139831</key>
	<array>
	  <string>http://blog-imgs-21-origin.fc2.com/c/h/i/china8/2008_04_18_jinchengwu_03.jpg</string>
	</array>
	<key>139832</key>
	<array>
	  <string>http://takeshing.image.wablog.com/page/1017.jpg</string>
	</array>
	<key>139833</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/a/b/ab5e6_226_7841ffcead0a897da9145483f8665c3d.jpg</string>
	</array>
	<key>139834</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/7/3/73a73_226_bfafbfae666c479a922cc0eab766c71e-m.jpg</string>
	</array>
	<key>139835</key>
	<array>
	  <string>http://gyabo-gush.img.jugem.jp/20100402_1073548.jpg</string>
	</array>
	<key>139836</key>
	<array>
	  <string>http://janjan.voicejapan.org/cinema/0808/0808060894/img/photo160997.jpg</string>
	</array>
	<key>139837</key>
	<array>
	  <string>http://img.epochtimes.com/i6/5082647101487.jpg</string>
	</array>
	<key>139838</key>
	<array>
	  <string>http://usrimg.enpitu.ne.jp/usr2/23473/2009/Mju-900009.jpg</string>
	</array>
	<key>139839</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2008-04/16/xin_57204051609242962643035.jpg</string>
	</array>
	<key>139840</key>
	<array>
	  <string>http://yanajun.com/wp-content/uploads/kaneshiro.jpg</string>
	</array>
	<key>139841</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/1c/6d/10113194721.jpg</string>
	</array>
	<key>139842</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200606/12/75/f0004675_220549.jpg</string>
	</array>
	<key>139843</key>
	<array>
	  <string>http://blog-imgs-31.fc2.com/m/i/k/mikachu2/rolling4.jpg</string>
	</array>
	<key>139844</key>
	<array>
	  <string>http://img.recordchina.co.jp/imgout.php?m=5&amp;amp;img=cfp3908164480.jpg</string>
	</array>
	<key>139845</key>
	<array>
	  <string>http://blog-imgs-21-origin.fc2.com/c/h/i/china8/2008_04_18_jinchengwu_02.jpg</string>
	</array>
	<key>139846</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/t/k/j/tkjunkie/gq2002sep03.jpg</string>
	</array>
	<key>139847</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/60/0000022560/85/img4a152859zik4zj.jpeg</string>
	</array>
	<key>139848</key>
	<array>
	  <string>http://blog-imgs-27-origin.fc2.com/l/o/v/loveloveokie/imgb142eb65zikfzj.jpeg</string>
	</array>
	<key>139849</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/t/k/j/tkjunkie/gq2002sep02.jpg</string>
	</array>
	<key>139850</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/b0/58/10025424812.jpg</string>
	</array>
	<key>139851</key>
	<array>
	  <string>http://contents.innolife.net/mobile/img/item/86177_l.jpg</string>
	</array>
	<key>139852</key>
	<array>
	  <string>http://blog-imgs-33-origin.fc2.com/k/a/n/kanetakelife/20090907173417230.jpg</string>
	</array>
	<key>139853</key>
	<array>
	  <string>http://img2.brokore.com/imx/movieboard/upload/takeshi070704_00.jpg</string>
	</array>
	<key>139854</key>
	<array>
	  <string>http://blog-imgs-24-origin.fc2.com/t/k/j/tkjunkie/v03.jpg</string>
	</array>
	<key>139855</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/b1/3b/meiazhen/folder/799751/img_799751_44525839_0?1223226124</string>
	</array>
	<key>139856</key>
	<array>
	  <string>http://brilliantstars.up.269g.net/image/E68880E6849BE79A84E8B79DE99BA2.jpg</string>
	</array>
	<key>139857</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/41P0PHR90WL.jpg</string>
	</array>
	<key>139858</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/95/ac/10113193805.jpg</string>
	</array>
	<key>139859</key>
	<array>
	  <string>http://images.star.mop.com/people/hk_tw_star/2008-06-13/16-3-97646-3-103-261-20080613175358.jpg</string>
	</array>
	<key>139860</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/k/a/n/kanetakelife/072.jpg</string>
	</array>
	<key>139861</key>
	<array>
	  <string>http://members.at.infoseek.co.jp/felico/star.diary.black.jpg</string>
	</array>
	<key>139862</key>
	<array>
	  <string>http://s.cinematoday.jp/res/A0/00/20/A0002003-00.jpg</string>
	</array>
	<key>139863</key>
	<array>
	  <string>http://blog-imgs-19-origin.fc2.com/c/o/c/cocopleats/081027a.jpg</string>
	</array>
	<key>139864</key>
	<array>
	  <string>http://www.superblog.jp/blog/images/a42bbef66badca027dbb7191b20ebce7.jpg</string>
	</array>
	<key>139865</key>
	<array>
	  <string>http://www.citywave.com/entertainment/selection/090325/01.jpg</string>
	</array>
	<key>139866</key>
	<array>
	  <string>http://long-net.com/topics/0910/30101420.jpg</string>
	</array>
	<key>139867</key>
	<array>
	  <string>http://image.blog.livedoor.jp/kinjyoubu/imgs/8/7/87039934.jpg</string>
	</array>
	<key>139868</key>
	<array>
	  <string>http://blog-imgs-19-origin.fc2.com/c/o/c/cocopleats/081027b.jpg</string>
	</array>
	<key>139869</key>
	<array>
	  <string>http://img.article.onlylady.com/00/06/22/57/12.jpg</string>
	</array>
	<key>139870</key>
	<array>
	  <string>http://chinabbs.up.seesaa.net/image/hanguodiyimeinan2.jpg</string>
	</array>
	<key>139871</key>
	<array>
	  <string>http://www.geocities.jp/huangmu136/kaneshiro/Takashi-08.jpg</string>
	</array>
	<key>139872</key>
	<array>
	  <string>http://jjerije.blog.so-net.ne.jp/_images/blog/_d65/jjerije/yokogao-fbae0.jpg</string>
	</array>
	<key>139873</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/06/c6/a_dimple1011/folder/763350/img_763350_14073732_1?1251100748</string>
	</array>
	<key>139874</key>
	<array>
	  <string>http://www.famitsu.com/game/news/2003/03/10/h-103_11374_oni.jpg.jpg</string>
	</array>
	<key>139875</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/87/0000177687/85/img04aa833bzikfzj.jpeg</string>
	</array>
	<key>139876</key>
	<array>
	  <string>http://www.13520.org/fangdaoliang/1196/8358/129141_2.jpg</string>
	</array>
	<key>139877</key>
	<array>
	  <string>http://www.5s-music.com/images/book/bk0213.jpg</string>
	</array>
	<key>139878</key>
	<array>
	  <string>http://blog-imgs-26-origin.fc2.com/r/e/t/returner/photo15_01s.jpg</string>
	</array>
	<key>139879</key>
	<array>
	  <string>http://www.it.com.cn/f/dc/088/23/080826_olympus_jcw_03.jpg</string>
	</array>
	<key>139880</key>
	<array>
	  <string>http://blog-imgs-30-origin.fc2.com/w/h/i/whisperblog/8cd16fe8.jpg</string>
	</array>
	<key>139881</key>
	<array>
	  <string>http://hs.bafj.cn/Article/UploadFiles/200712/20071205065748383.jpg</string>
	</array>
	<key>139882</key>
	<array>
	  <string>http://isearch.c.yimg.jp/image?id=3eb296d301e1e6f92fa63009be7d2e3f</string>
	</array>
	<key>139883</key>
	<array>
	  <string>http://image.jmrb.com/UploadImages/2007/07/10/images_20070710_145353_70201.jpg</string>
	</array>
	<key>139884</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/f7/2e/johnny_a_depp2001/folder/692721/img_692721_56990451_10?1234881239</string>
	</array>
	<key>139885</key>
	<array>
	  <string>http://livedoor.blogimg.jp/imagesmovies/imgs/a/8/a8bc5c8d.jpg</string>
	</array>
	<key>139886</key>
	<array>
	  <string>http://data.yule.sohu.com/star/pic/star/1/1343/default.jpg</string>
	</array>
	<key>139887</key>
	<array>
	  <string>http://www.hao-net.com/sannomiya/blog/assets_c/2010/06/jinchengwu01-thumb-318x401-1698.jpg</string>
	</array>
	<key>139888</key>
	<array>
	  <string>http://livedoor.blogimg.jp/imagesmovies/imgs/4/0/40a997f5.jpg</string>
	</array>
	<key>139889</key>
	<array>
	  <string>http://www1.jpkabegami.com/images3/wall/20061007/jing001.jpg</string>
	</array>
	<key>139890</key>
	<array>
	  <string>http://blog-imgs-26-origin.fc2.com/t/k/j/tkjunkie/200511amy00.jpg</string>
	</array>
	<key>139891</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/t/k/j/tkjunkie/gq01.jpg</string>
	</array>
	<key>139892</key>
	<array>
	  <string>http://image.blog.livedoor.jp/kinjyoubu/imgs/b/f/bf055494.jpg</string>
	</array>
	<key>139893</key>
	<array>
	  <string>http://ent.gz163.cn/images_ent/2009/5/22/200952249153A4CB8464114AC8444B38E8BA57E.jpg</string>
	</array>
	<key>139894</key>
	<array>
	  <string>http://blog-imgs-27-origin.fc2.com/g/o/i/goinnkyo/yomiuri002.jpg</string>
	</array>
	<key>139895</key>
	<array>
	  <string>http://brilliantstars.up.269g.net/image/TAKESHI_GQ.jpg</string>
	</array>
	<key>139896</key>
	<array>
	  <string>http://www.it.com.cn/f/hotweb/058/11/jinchengwu.jpg</string>
	</array>
	<key>139897</key>
	<array>
	  <string>http://image.excite.co.jp/feed/news/Searchina/200806110570000view.jpg</string>
	</array>
	<key>139898</key>
	<array>
	  <string>http://img.recordchina.co.jp/imgout.php?m=5&amp;amp;img=cfp393695783.jpg</string>
	</array>
	<key>139899</key>
	<array>
	  <string>http://contents.innolife.net/mobile/img/item/86184_l.jpg</string>
	</array>
	<key>139900</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/00/0000780900/74/imgaecff695zikazj.jpeg</string>
	</array>
	<key>139901</key>
	<array>
	  <string>http://livedoor.2.blogimg.jp/asianentertaiment/imgs/5/3/531f495d.bmp</string>
	</array>
	<key>139902</key>
	<array>
	  <string>http://blog-imgs-41-origin.fc2.com/t/k/j/tkjunkie/marieclaire7_4.jpg</string>
	</array>
	<key>139903</key>
	<array>
	  <string>http://blog-imgs-26-origin.fc2.com/t/k/j/tkjunkie/200511amy01.jpg</string>
	</array>
	<key>139904</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/0a/f6/d153830353cacc29aa48a36a38cb9243.jpg</string>
	</array>
	<key>139905</key>
	<array>
	  <string>http://img2.brokore.com/imx/movieboard/upload/kane070704_17.jpg</string>
	</array>
	<key>139906</key>
	<array>
	  <string>http://net.videohealthy.com/ybzxiY9qdDdXA.jpg</string>
	</array>
	<key>139907</key>
	<array>
	  <string>http://blog-imgs-32.fc2.com/a/i/c/aichan1973/viewimg.jpg</string>
	</array>
	<key>139908</key>
	<array>
	  <string>http://blog-imgs-35.fc2.com/r/y/o/ryoutimon/gq3.jpg</string>
	</array>
	<key>139909</key>
	<array>
	  <string>http://blog-imgs-32.fc2.com/e/n/t/entametpop/173571ae.jpg</string>
	</array>
	<key>139910</key>
	<array>
	  <string>http://photo.sohu.com/20050119/Img224021024.jpg</string>
	</array>
	<key>139911</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200606/12/75/f0004675_21585165.jpg</string>
	</array>
	<key>139912</key>
	<array>
	  <string>http://janjan.voicejapan.org/cinema/0803/0803180046/img/photo149389.jpg</string>
	</array>
	<key>139913</key>
	<array>
	  <string>http://chinabbs.up.seesaa.net/image/hanguodiyimeinan1.jpg</string>
	</array>
	<key>139914</key>
	<array>
	  <string>http://images-jp.amazon.com/images/P/4048949160.09._SCLZZZZZZZ_.jpg</string>
	</array>
	<key>139915</key>
	<array>
	  <string>http://www.geocities.jp/huangmu136/kaneshiro/Takashi-28.jpg</string>
	</array>
	<key>139916</key>
	<array>
	  <string>http://ent.china.com/zh_cn/star/news/11052670/20071108/images/2007110814494510634200.jpg</string>
	</array>
	<key>139917</key>
	<array>
	  <string>http://blog-imgs-26-origin.fc2.com/t/k/j/tkjunkie/200511amy02.jpg</string>
	</array>
	<key>139918</key>
	<array>
	  <string>http://www.mingxing.com/upload/forumDownloadImg/201009/cf0f94d78508e536e374523ea72cb75a.jpg</string>
	</array>
	<key>139919</key>
	<array>
	  <string>http://blog-imgs-35-origin.fc2.com/t/k/j/tkjunkie/sapporo_img03.jpg</string>
	</array>
	<key>139920</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/53/64/d4cc82852002525efb32c9c789401f7a.jpg</string>
	</array>
	<key>139921</key>
	<array>
	  <string>http://mossxo.img.jugem.jp/20110616_1937605.jpg</string>
	</array>
	<key>139922</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/23/0000561923/18/img0a465fbezikezj.jpeg</string>
	</array>
	<key>139923</key>
	<array>
	  <string>http://img2.brokore.com/imx/movieboard/upload/kane070704_11.jpg</string>
	</array>
	<key>139924</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/32/57/10093755744_s.jpg</string>
	</array>
	<key>139925</key>
	<array>
	  <string>http://blog-imgs-30-origin.fc2.com/r/e/t/returner/sapporo01.jpg</string>
	</array>
	<key>139926</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/a7/97/nachiguro0206/folder/559761/img_559761_853061_0?1285316253</string>
	</array>
	<key>139927</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200610/31/93/c0103393_23144150.jpg</string>
	</array>
	<key>139928</key>
	<array>
	  <string>http://blog-imgs-35-origin.fc2.com/r/e/t/returner/men_2_1600X1200.jpg</string>
	</array>
	<key>139929</key>
	<array>
	  <string>http://farm1.static.flickr.com/106/273723069_84126d71bb_o.jpg</string>
	</array>
	<key>139930</key>
	<array>
	  <string>http://blog-imgs-41.fc2.com/m/i/s/misuzurinrin/20090420092252e91.jpg</string>
	</array>
	<key>139931</key>
	<array>
	  <string>http://www.mingxing.com/upload/forumDownloadImg/201009/2e30f51f74cdce6fd41eb32f43063f70.jpg</string>
	</array>
	<key>139932</key>
	<array>
	  <string>http://livedoor.blogimg.jp/tk_angel/imgs/0/a/0aa67613.jpg</string>
	</array>
	<key>139933</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200808/080806_rc_sub2.jpg</string>
	</array>
	<key>139934</key>
	<array>
	  <string>http://pleplemiyomi.tblog.jp/images/090730.jpg</string>
	</array>
	<key>139935</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/12/22/002/images/005.jpg</string>
	</array>
	<key>139936</key>
	<array>
	  <string>http://blog-imgs-23-origin.fc2.com/c/h/i/china8/091208jinchengwu_01.jpg</string>
	</array>
	<key>139937</key>
	<array>
	  <string>http://pic.pimg.tw/sheis7155/1309256596-29fb335b5d765c31c7f2ec1f28e7ad70.jpg</string>
	</array>
	<key>139938</key>
	<array>
	  <string>http://blog-imgs-41.fc2.com/m/i/s/misuzurinrin/20090118214843.jpg</string>
	</array>
	<key>139939</key>
	<array>
	  <string>http://contents.innolife.net/mobile/img/item/86491_l.jpg</string>
	</array>
	<key>139940</key>
	<array>
	  <string>http://blog-imgs-35-origin.fc2.com/r/e/t/returner/men_1_1600X1200.jpg</string>
	</array>
	<key>139941</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200410/12/43/b0030643_7475473.jpg</string>
	</array>
	<key>139942</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/3b/d2/10104665489.jpg</string>
	</array>
	<key>139943</key>
	<array>
	  <string>http://www.moviecollection.jp/_pimg.php/4772/NEWS2.jpg</string>
	</array>
	<key>139944</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200804/16/F200804161331119736320133.jpg</string>
	</array>
	<key>139945</key>
	<array>
	  <string>http://a248.e.akamai.net/f/248/9510/1h/www.ozmall.co.jp/entertainment/people/vol11/images/ph3.jpg</string>
	</array>
	<key>139946</key>
	<array>
	  <string>http://news.walkerplus.com/2009/0130/10/20090130160751_01_400.jpg</string>
	</array>
	<key>139947</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/01/09/N0010940_l.jpg</string>
	</array>
	<key>139948</key>
	<array>
	  <string>http://livedoor.blogimg.jp/sora_tiankong/imgs/0/b/0b0c6a02.jpg</string>
	</array>
	<key>139949</key>
	<array>
	  <string>http://ikora.tv/usr/miwa/kanetake.JPG</string>
	</array>
	<key>139950</key>
	<array>
	  <string>http://www.geocities.jp/bpaj_nagano/mag1.jpg</string>
	</array>
	<key>139951</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/k/a/n/kanetakelife/078.jpg</string>
	</array>
	<key>139952</key>
	<array>
	  <string>http://blog-imgs-19-origin.fc2.com/i/h/u/ihuru77/081109Kaneshiro1.jpg</string>
	</array>
	<key>139953</key>
	<array>
	  <string>http://blog-imgs-41-origin.fc2.com/r/e/t/returner/invi611.jpg</string>
	</array>
	<key>139954</key>
	<array>
	  <string>http://livedoor.blogimg.jp/tk_angel/imgs/7/b/7bb8ca6a.JPG</string>
	</array>
	<key>139955</key>
	<array>
	  <string>http://blog-imgs-15.fc2.com/j/o/d/jodietk/bd.jpg</string>
	</array>
	<key>139956</key>
	<array>
	  <string>http://blog.radionikkei.jp/archives/200707/016/large-1183993604.jpg</string>
	</array>
	<key>139957</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51FBKVY00FL.jpg</string>
	</array>
	<key>139958</key>
	<array>
	  <string>http://images.star.mop.com/people/hk_tw_star/2008-06-13/16_3_97646_101_261_20080613175708.jpg</string>
	</array>
	<key>139959</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/27/cf/happyman4358/folder/940633/img_940633_14215549_0?1168892553</string>
	</array>
	<key>139960</key>
	<array>
	  <string>http://livedoor.blogimg.jp/imagesmovies/imgs/8/7/87bd2eab.jpg</string>
	</array>
	<key>139961</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200811/081127_k20_sub1.jpg</string>
	</array>
	<key>139962</key>
	<array>
	  <string>http://blog-imgs-30-origin.fc2.com/r/e/t/returner/biotherm200907a.jpg</string>
	</array>
	<key>139963</key>
	<array>
	  <string>http://images.zoshow.com/image2/fckeditor/2009/01/14/12319235806781116.jpg</string>
	</array>
	<key>139964</key>
	<array>
	  <string>http://img9.zol.com.cn/desk_pic/big_224/223588.jpg</string>
	</array>
</array>
</plist>
