<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>34440</key>
	<array>
	  <string>http://www.akb48.co.jp/members/miyazawa_sae/img/pt_01.jpg</string>
	</array>
	<key>34441</key>
	<array>
	  <string>http://avexnet.or.jp/diva/profile/images/member4.jpg</string>
	</array>
	<key>34442</key>
	<array>
	  <string>http://www.edita.jp/skad/image/skad2139/imgcaf3971bzik0zj.jpeg</string>
	</array>
	<key>34443</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100910/20/tomochhhin/2a/c3/j/o0500044610740572458.jpg</string>
	</array>
	<key>34444</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100329/22/l-l-l-l/bc/8e/j/o0800119110472848832.jpg</string>
	</array>
	<key>34445</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100102/10/camaro-z28/20/00/j/o0800060010361752575.jpg</string>
	</array>
	<key>34446</key>
	<array>
	  <string>http://www.dokant.com/backnumber/ladys/77/images/main2.jpg</string>
	</array>
	<key>34447</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/03/12/N0031224_l.jpg</string>
	</array>
	<key>34448</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100512/22/akimoto100323/a3/fa/j/o0480064010538836078.jpg</string>
	</array>
	<key>34449</key>
	<array>
	  <string>http://www5.nikkansports.com/entertainment/akb48/photo/img/akb-0602-002.jpg</string>
	</array>
	<key>34450</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100911/20/tomochhhin/ec/87/j/o0362054010742325078.jpg</string>
	</array>
	<key>34451</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090812/19/akb48akb48akb48/c4/30/j/o0390055310231593197.jpg</string>
	</array>
	<key>34452</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100908/20/tomochhhin/77/f0/j/o0480064010737338062.jpg</string>
	</array>
	<key>34453</key>
	<array>
	  <string>http://ascii.jp/elem/000/000/457/457686/12_c_600x900.jpg</string>
	</array>
	<key>34454</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100911/20/tomochhhin/f3/f7/j/o0500044710742324426.jpg</string>
	</array>
	<key>34455</key>
	<array>
	  <string>http://natalie.mu/media/0906/0629/AKB48/extra/news_large_AKB48_22.jpg</string>
	</array>
	<key>34456</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/200810/image/g2008102120akb25_b.jpg</string>
	</array>
	<key>34457</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100912/20/tomochhhin/90/87/j/o0407060010744233365.jpg</string>
	</array>
	<key>34458</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100912/20/tomochhhin/5c/0e/j/o0500037710744235031.jpg</string>
	</array>
	<key>34459</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100303/23/poppys/05/21/j/o0800119110436930386.jpg</string>
	</array>
	<key>34460</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100303/23/poppys/bb/98/j/o0800119110436930434.jpg</string>
	</array>
	<key>34461</key>
	<array>
	  <string>http://office48.jp/img/miyazawa_sae.jpg</string>
	</array>
	<key>34462</key>
	<array>
	  <string>http://www.moviecollection.jp/_pimg.php/23676/koukou16.jpg</string>
	</array>
	<key>34463</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20090807/68281_200908070446243001249653014c.jpg</string>
	</array>
	<key>34464</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110110/83741_201101100630789001294642095c.jpg</string>
	</array>
	<key>34465</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100110/12/camaro-z28/db/17/j/o0800060010370827211.jpg</string>
	</array>
	<key>34466</key>
	<array>
	  <string>http://www.edita.jp/skad/image/skad2139/_h475_9784062156967naka01.jpg</string>
	</array>
	<key>34467</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/01/95/N0019524_l.jpg</string>
	</array>
	<key>34468</key>
	<array>
	  <string>http://natalie.mu/media/1006/0613/AKB_0613/extra/news_large_36.jpg</string>
	</array>
	<key>34469</key>
	<array>
	  <string>http://image.blog.livedoor.jp/donod/imgs/3/a/3ad3af4c.jpg</string>
	</array>
	<key>34470</key>
	<array>
	  <string>http://natalie.mu/media/0906/0603/AKB48/extra/news_large_AKB04.jpg</string>
	</array>
	<key>34471</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/201103/110308_kokodebut_sub11.jpg</string>
	</array>
	<key>34472</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100908/20/tomochhhin/fa/e3/j/o0322050010737337433.jpg</string>
	</array>
	<key>34473</key>
	<array>
	  <string>http://brash.glam.jp/miyazawa-masaaki/files/2010/01/DVC00006.jpg</string>
	</array>
	<key>34474</key>
	<array>
	  <string>http://image.blog.livedoor.jp/donod/imgs/8/3/83d2a1fb.jpg</string>
	</array>
	<key>34475</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100115/11/camaro-z28/00/e9/j/o0800060010376611784.jpg</string>
	</array>
	<key>34476</key>
	<array>
	  <string>http://ascii.jp/elem/000/000/169/169350/08_c_486x648.jpg</string>
	</array>
	<key>34477</key>
	<array>
	  <string>http://ascii.jp/elem/000/000/457/457681/07_c_600x900.jpg</string>
	</array>
	<key>34478</key>
	<array>
	  <string>http://images.keizai.biz/akiba_keizai/column/1220884294/1220884451.jpg</string>
	</array>
	<key>34479</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/121106.jpg</string>
	</array>
	<key>34480</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/121105.jpg</string>
	</array>
	<key>34482</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_2ed/nsrtsad/E5AEAEE6BEA4-9fe4b.jpg</string>
	</array>
	<key>34483</key>
	<array>
	  <string>http://area2.sakura.ne.jp/star/akb48/miyazawasae.jpg</string>
	</array>
	<key>34484</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/92/0001056192/98/img8c576adazik6zj.jpeg</string>
	</array>
	<key>34485</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/cf/e4/ar43050/folder/22751/img_22751_843672_1?1241510481</string>
	</array>
	<key>34486</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/06/20110616_maeda_20.jpg</string>
	</array>
	<key>34487</key>
	<array>
	  <string>http://image.blog.livedoor.jp/donod/imgs/8/3/83d2a1fb.jpg</string>
	</array>
	<key>34488</key>
	<array>
	  <string>http://gazo.galman.jp/img/019fd_94958/AKB48+%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F_l.jpeg</string>
	</array>
	<key>34489</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/8a/b7/mana18140/folder/907496/img_907496_10641058_2?1268985543</string>
	</array>
	<key>34490</key>
	<array>
	  <string>http://akihabara48.com/members/img/pt_miyazawa_sae_01.jpg</string>
	</array>
	<key>34491</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_0b1/yuriyurihousou/E69F8FE69CA8E794B1E7B480.jpg</string>
	</array>
	<key>34492</key>
	<array>
	  <string>http://gazo.galman.jp/img/019gz_128238/AKB48+%E3%83%9E%E3%82%B8%E3%81%99%E3%81%8B%E5%AD%A6%E5%9C%92+%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F.jpeg</string>
	</array>
	<key>34493</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/h/y/a/hyakugdj/20110301163250220.jpg</string>
	</array>
	<key>34494</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090821/12/crickets/3e/f5/j/o0357050010237465268.jpg</string>
	</array>
	<key>34495</key>
	<array>
	  <string>http://livedoor.blogimg.jp/w11111/imgs/2/0/20ed0eec.jpg</string>
	</array>
	<key>34496</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/21/0001263121/02/img18c06873zikezj.jpeg</string>
	</array>
	<key>34497</key>
	<array>
	  <string>http://x112img.peps.jp/uimg/a/akbtajyo/4/9/cuz3h622mzA.jpg</string>
	</array>
	<key>34498</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20090320/12/akb48akb48akb48/57/42/j/o0390028410154626699.jpg</string>
	</array>
	<key>34499</key>
	<array>
	  <string>http://blog-imgs-34.fc2.com/w/a/r/war464911/2009y12m22d_000843312.jpg</string>
	</array>
	<key>34500</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090731/05/joe-smith/47/72/j/o0302042210223619973.jpg</string>
	</array>
	<key>34501</key>
	<array>
	  <string>http://file.miyazawasae.mmo-fps.com/13.jpg</string>
	</array>
	<key>34502</key>
	<array>
	  <string>http://gazo.galman.jp/img/013sp_41703/AKB48%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F%E5%BE%8C%E3%82%8D%E3%81%AB%E9%BA%BB%E9%87%8C%E5%AD%90%E6%A7%98%E7%AC%91.jpeg</string>
	</array>
	<key>34503</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/9/2/92dc8ad48ec0d2b3bd39a177ec672b1b.JPG</string>
	</array>
	<key>34504</key>
	<array>
	  <string>http://img40.imageshack.us/img40/2703/46546546465.jpg</string>
	</array>
	<key>34505</key>
	<array>
	  <string>http://static.flickr.com/80/280486787_79926f45cf.jpg</string>
	</array>
	<key>34506</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/32/4a/43d08c25030e920992a6d920b8ebde90.jpg</string>
	</array>
	<key>34507</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/4b/9a/ab96f08d6c8d8889756c291d55dac976.jpg</string>
	</array>
	<key>34508</key>
	<array>
	  <string>http://file.miyazawasae.mmo-fps.com/12.jpg</string>
	</array>
	<key>34509</key>
	<array>
	  <string>http://kojima-haruna.ddo1.com:1008/v/data/harunyan2094.jpg</string>
	</array>
	<key>34510</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/56/0001236256/22/imgc14fa2b0zikdzj.jpeg</string>
	</array>
	<key>34511</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_2ed/nsrtsad/E5AEAEE6BEA4E38397E383AAE382AFE383A9.jpg</string>
	</array>
	<key>34512</key>
	<array>
	  <string>http://gazo.galman.jp/img/019gz_128249/AKB48%252B%E3%83%9E%E3%82%B8%E3%81%99%E3%81%8B%E5%AD%A6%E5%9C%92%252B%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F.jpeg</string>
	</array>
	<key>34513</key>
	<array>
	  <string>http://im7-a.mbokimg.dena.ne.jp/0/7/264/191702264.1.jpg</string>
	</array>
	<key>34514</key>
	<array>
	  <string>http://blog.livedoor.jp/send_a_little_love/image/20090909_04.jpg</string>
	</array>
	<key>34515</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20091124/15/33/56/j/o024003461259044017554.jpg</string>
	</array>
	<key>34516</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20100515/14/6c/62/j/o028003401273899861050.jpg</string>
	</array>
	<key>34517</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/06/c7/5dc1d57c2a8f11a131670e87bdcd9466.jpg</string>
	</array>
	<key>34518</key>
	<array>
	  <string>http://sogolink.zapto.org/idol/image/miyazawa_sae.jpg</string>
	</array>
	<key>34519</key>
	<array>
	  <string>http://curly-rudy.com/images/akb48/2010112310.jpg</string>
	</array>
	<key>34520</key>
	<array>
	  <string>http://amd.c.yimg.jp/amd/20081024-90005339-r25-000-3-view.jpg</string>
	</array>
	<key>34521</key>
	<array>
	  <string>http://livedoor.blogimg.jp/glaybz7/imgs/2/5/25649385.jpg</string>
	</array>
	<key>34522</key>
	<array>
	  <string>http://gazo.galman.jp/img/019gz_128237/AKB48+%E3%83%9E%E3%82%B8%E3%81%99%E3%81%8B%E5%AD%A6%E5%9C%92+%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F.jpeg</string>
	</array>
	<key>34523</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/meenasae/20080826/20080826000006.jpg</string>
	</array>
	<key>34524</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090606/21/skeakb/98/88/j/t02200317_0335048310192497541.jpg</string>
	</array>
	<key>34525</key>
	<array>
	  <string>http://image.portphoto.com/img/00001_2201/%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F%E3%80%80AKB48.jpg</string>
	</array>
	<key>34526</key>
	<array>
	  <string>http://miyazawasaesyasin1.blog.so-net.ne.jp/_images/blog/_502/miyazawasaesyasin1/tumblr_l03kphyKqC1qariyko1_500-de420-a479a.jpg</string>
	</array>
	<key>34527</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/01/95/N0019524.jpg</string>
	</array>
	<key>34528</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/06/0001056706/27/imgd4f7b405zikazj.jpeg</string>
	</array>
	<key>34529</key>
	<array>
	  <string>http://popspace5.com/img/idol/akb48/miyazawasae_img/logo.jpg</string>
	</array>
	<key>34530</key>
	<array>
	  <string>http://gazo.galman.jp/img/019gz_128240/AKB48+%E3%83%9E%E3%82%B8%E3%81%99%E3%81%8B%E5%AD%A6%E5%9C%92+%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F.jpeg</string>
	</array>
	<key>34531</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/ae/77/erika1126a/folder/44846/img_44846_12226062_3?1294588084</string>
	</array>
	<key>34532</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100621/12/weblog-from-foma/a1/4c/j/o0480064010601885221.jpg</string>
	</array>
	<key>34533</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100524/00/weblog-from-foma/33/35/j/o0480064010555988154.jpg</string>
	</array>
	<key>34534</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/e/5/e5a2417919f2c78774a09c4e03e93315.jpg</string>
	</array>
	<key>34535</key>
	<array>
	  <string>http://www.dokant.com/backnumber/ladys/77/images/002.jpg</string>
	</array>
	<key>34536</key>
	<array>
	  <string>http://yaplog.jp/cv/tatsuro/img/2307/img20090809_t.jpg</string>
	</array>
	<key>34537</key>
	<array>
	  <string>http://gazo.galman.jp/img/019gu_124141/AKB48+%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F+%E3%83%9E%E3%82%B8%E3%81%99%E3%81%8B%E5%AD%A6%E5%9C%92.jpeg</string>
	</array>
	<key>34538</key>
	<array>
	  <string>http://miyazawasaenetuaipic.blog.so-net.ne.jp/_images/blog/_8ed/miyazawasaenetuaipic/E5AEAEE6BEA4E4BD90E6B19F2BAKB48_l.jpeg</string>
	</array>
	<key>34539</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090604/04/alf21/97/5b/j/t02200331_0299045010191129933.jpg</string>
	</array>
	<key>34540</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/72/0001224072/99/img80226cebzik8zj.jpeg</string>
	</array>
	<key>34541</key>
	<array>
	  <string>http://29.media.tumblr.com/tumblr_l2hpm6B9ma1qazgndo1_500.jpg</string>
	</array>
	<key>34542</key>
	<array>
	  <string>http://3.bp.blogspot.com/_g8IaLoboWLc/SuW1fx2AcDI/AAAAAAAAKC4/Wbmlr8eoELc/s400/ms02_c_600x900.jpg</string>
	</array>
	<key>34543</key>
	<array>
	  <string>http://x22img.peps.jp/uimg/k/kikai46/119/cuimgplgyvA.jpg</string>
	</array>
	<key>34544</key>
	<array>
	  <string>http://gazo.galman.jp/img/013rv_26670/AKB48%E3%80%80%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F%E2%97%8E%E5%A2%97%E7%94%B0%E6%9C%89%E8%8F%AF.jpeg</string>
	</array>
	<key>34545</key>
	<array>
	  <string>http://art1.photozou.jp/pub/75/77075/photo/1205530.jpg?size=450</string>
	</array>
	<key>34546</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090312/08/akb48akb48akb48/4a/b8/j/o0390028410151325988.jpg</string>
	</array>
	<key>34547</key>
	<array>
	  <string>http://machiuke-world.com/img/contents/akb48_miyazawa_sae/0047.jpg</string>
	</array>
	<key>34548</key>
	<array>
	  <string>http://pic.pimg.tw/ringoai/normal_1200975738.jpg</string>
	</array>
	<key>34549</key>
	<array>
	  <string>http://file.miyazawasae.mmo-fps.com/9.jpg</string>
	</array>
	<key>34550</key>
	<array>
	  <string>http://img52.imageshack.us/img52/788/mai1308.jpg</string>
	</array>
	<key>34551</key>
	<array>
	  <string>http://www.fami-geki.com/nemousu2/member/date/images/miyazawasae.jpg</string>
	</array>
	<key>34552</key>
	<array>
	  <string>http://gazo.galman.jp/img/019gz_128248/AKB48+%E3%83%9E%E3%82%B8%E3%81%99%E3%81%8B%E5%AD%A6%E5%9C%92+%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F.jpeg</string>
	</array>
	<key>34553</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090320/12/akb48akb48akb48/41/1c/j/o0390028410154626319.jpg</string>
	</array>
	<key>34554</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20090812/19/akb48akb48akb48/c4/30/j/o0390055310231593197.jpg</string>
	</array>
	<key>34555</key>
	<array>
	  <string>http://f.hatena.ne.jp/images/fotolife/k/kiotama/20070329/20070329140433.jpg</string>
	</array>
	<key>34556</key>
	<array>
	  <string>http://x54img.peps.jp/uimg/r/rinda5716/1/23/d33m56hh9tA.jpg</string>
	</array>
	<key>34557</key>
	<array>
	  <string>http://image.portphoto.com/img/00001_2202/%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F%E3%80%80AKB48.jpg</string>
	</array>
	<key>34558</key>
	<array>
	  <string>http://curly-rudy.com/images/akb48/201011236.jpg</string>
	</array>
	<key>34559</key>
	<array>
	  <string>http://img359.imageshack.us/img359/7606/111qc5.png</string>
	</array>
	<key>34560</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/h/y/a/hyakugdj/20110301163248e3b.jpeg</string>
	</array>
	<key>34561</key>
	<array>
	  <string>http://akb48gazou48.up.seesaa.net/image/miyazawasae33.jpg</string>
	</array>
	<key>34562</key>
	<array>
	  <string>http://gazo.galman.jp/img/013sm_39128/%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F+%E5%A4%A7%E5%B3%B6%E5%84%AA%E5%AD%90+AKB48_l.jpeg</string>
	</array>
	<key>34563</key>
	<array>
	  <string>http://x62img.peps.jp/uimg/m/momoyuka0612/29/d6o9fmi57uA.jpg</string>
	</array>
	<key>34564</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/a/k/i/akiba70/akb-miyazawa.jpg</string>
	</array>
	<key>34565</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51asbCkaI7L._SL500_AA300_.jpg</string>
	</array>
	<key>34566</key>
	<array>
	  <string>http://blog-imgs-38.fc2.com/l/o/v/lovingurawareds/o0800060010361752572.jpg</string>
	</array>
	<key>34567</key>
	<array>
	  <string>http://blog-imgs-44-origin.fc2.com/c/a/p/cap1234/hexagon20100526-13.jpg</string>
	</array>
	<key>34568</key>
	<array>
	  <string>http://www.dokant.com/backnumber/ladys/77/images/main2.jpg</string>
	</array>
	<key>34569</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000054293/photo_13.jpg</string>
	</array>
	<key>34570</key>
	<array>
	  <string>http://x40img.peps.jp/uimg/b/burninghammer/29/cyydz9r0mkA.jpg</string>
	</array>
	<key>34571</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/f7/82/january_twenty_nine_ryo/folder/228829/img_228829_1070914_2?1278315178</string>
	</array>
	<key>34572</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/85/0001245185/99/img59a7741dzik6zj.jpeg</string>
	</array>
	<key>34573</key>
	<array>
	  <string>http://livedoor.blogimg.jp/rinarinn/imgs/0/c/0c9bd9c6.jpg</string>
	</array>
	<key>34574</key>
	<array>
	  <string>http://akb48gazou48.up.seesaa.net/image/miyazawasae34.jpg</string>
	</array>
	<key>34575</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20100501/22/3a/c6/j/o080010641272721344566.jpg</string>
	</array>
	<key>34576</key>
	<array>
	  <string>http://stat.group.ameba.jp/group_images/20100109/14/29/45/j/o00970140kantalou1263014253419.jpg</string>
	</array>
	<key>34577</key>
	<array>
	  <string>http://img337.imageshack.us/img337/2379/o0480064010298648129.jpg</string>
	</array>
	<key>34578</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090724/18/akb48akb48akb48/ee/b2/j/o0390054010219460951.jpg</string>
	</array>
	<key>34579</key>
	<array>
	  <string>http://www9.atwiki.jp/kusakaoru/?plugin=ref&amp;amp;serial=2578</string>
	</array>
	<key>34580</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/8a/b7/mana18140/folder/907496/img_907496_10641058_7?1268985543</string>
	</array>
	<key>34581</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_l41yaoleQu1qzc1oko1_500.jpg</string>
	</array>
	<key>34582</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/72/0001224072/37/imge538cdc9zik4zj.jpeg</string>
	</array>
	<key>34583</key>
	<array>
	  <string>http://x63img.peps.jp/uimg/k/ken514/4/d04jjsqqcbA.jpg</string>
	</array>
	<key>34584</key>
	<array>
	  <string>http://akb48gazou48.up.seesaa.net/image/miyazawasae45.jpg</string>
	</array>
	<key>34585</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20100225/00/c1/b3/j/o024003201267024731978.jpg</string>
	</array>
	<key>34586</key>
	<array>
	  <string>http://gazo.galman.jp/img/013rz_28882/AKB48+%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F_l.jpeg</string>
	</array>
	<key>34587</key>
	<array>
	  <string>http://popspace5.com/img/idol/akb48/miyazawasae_img/002.jpg</string>
	</array>
	<key>34588</key>
	<array>
	  <string>http://www.no-tech.com/07/images/miyazawa2.jpg</string>
	</array>
	<key>34589</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20100204/20100204140425.jpg</string>
	</array>
	<key>34590</key>
	<array>
	  <string>http://majigaku.img.jugem.jp/20100221_946439.jpg</string>
	</array>
	<key>34591</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090901/17/akb48akb48akb48/9d/96/j/o0390051410244949712.jpg</string>
	</array>
	<key>34592</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/37/0001236237/46/img62ce2aaazikczj.jpeg</string>
	</array>
	<key>34593</key>
	<array>
	  <string>http://28.media.tumblr.com/tumblr_ktd78yHLSE1qariyko1_500.jpg</string>
	</array>
	<key>34594</key>
	<array>
	  <string>http://image.portphoto.com/img/0eblt_97452/AKB48%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F.jpeg</string>
	</array>
	<key>34595</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090921/23/skeakb/42/a4/j/o0283040010258495360.jpg</string>
	</array>
	<key>34596</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20100501/15/7b/8c/j/o024003201272695508573.jpg</string>
	</array>
	<key>34597</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/meenasae/20080826/20080826004113.jpg</string>
	</array>
	<key>34598</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/e8/28/hakozaki725/folder/1290758/img_1290758_61382071_15?1276270057</string>
	</array>
	<key>34599</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/f6/c8/nana_2kumi/folder/271895/img_271895_5980199_0?1304048213</string>
	</array>
	<key>34600</key>
	<array>
	  <string>http://blog-imgs-38.fc2.com/l/o/v/lovingurawareds/o0800060010361753431.jpg</string>
	</array>
	<key>34601</key>
	<array>
	  <string>http://image.blog.livedoor.jp/deepspace009/imgs/4/e/4ef8d30e.jpg</string>
	</array>
	<key>34602</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/28/0001236328/94/img4022ee64zik1zj.jpeg</string>
	</array>
	<key>34603</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/b0/33/hacchann91/folder/486037/img_486037_7988598_0?1302274763</string>
	</array>
	<key>34604</key>
	<array>
	  <string>http://file.vustv.com/4jgcQyg_LqS8U.jpg</string>
	</array>
	<key>34605</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_l2kocxdyoG1qzc1oko1_500.jpg</string>
	</array>
	<key>34606</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20100301/09/4e/33/j/o024002401267402612309.jpg</string>
	</array>
	<key>34607</key>
	<array>
	  <string>http://blog-imgs-23.fc2.com/a/n/t/antihuman/20060918074200.jpg</string>
	</array>
	<key>34608</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_l41ycbWZY91qzc1oko1_500.jpg</string>
	</array>
	<key>34609</key>
	<array>
	  <string>http://p1qo7w.blu.livefilestore.com/y1pDEGln86QGezL9x-FiRd8v1G1t6P5UzQP5HyyOC4e8UoUU0f6PCCtvO9prQdF6qyQpoK9tNJaCeVRB2fz1lo4ZEr4_ligE01K/20100419%2004.JPG</string>
	</array>
	<key>34610</key>
	<array>
	  <string>http://images.keizai.biz/akiba_keizai/column/1220884294/1220884451.jpg</string>
	</array>
	<key>34611</key>
	<array>
	  <string>http://idoleplan.up.seesaa.net/image/AKB4820E38381E383BCE383A0K20E5AEAEE6BEA4E4BD90E6B19F.jpg</string>
	</array>
	<key>34612</key>
	<array>
	  <string>http://www.stereosound.co.jp/hivi/idol/617/04.jpg</string>
	</array>
	<key>34613</key>
	<array>
	  <string>http://blogfile.paran.com/BLOG_234105/201009/1283836202_%EC%82%AC%EB%B3%B8%20-27_055_12.jpg</string>
	</array>
	<key>34614</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/h/y/a/hyakugdj/201103011632484b8.jpeg</string>
	</array>
	<key>34615</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20100115/19/52/b7/j/o024004001263552953832.jpg</string>
	</array>
	<key>34616</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/r/reirei01/20091230/20091230130448.jpg</string>
	</array>
	<key>34617</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/FV/1iqeLa_220.jpeg</string>
	</array>
	<key>34618</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/fe/f8/kudou9192009/folder/622993/img_622993_15715574_0?1280275682</string>
	</array>
	<key>34619</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/b0/33/hacchann91/folder/486037/img_486037_8004949_8?1302274834</string>
	</array>
	<key>34620</key>
	<array>
	  <string>http://x62img.peps.jp/uimg/s/shinatsukimi/114/7/d59yzqg63wA.jpg</string>
	</array>
	<key>34621</key>
	<array>
	  <string>http://img.7netshopping.jp/bks/images/t6/08243161.jpg</string>
	</array>
	<key>34622</key>
	<array>
	  <string>http://public.blu.livefilestore.com/y1pOfuoGNN4Gx5Tl34O5VRyG-SlMEXzDDopQvE68yj1EIXY3yGhn7q3AjaLZV02uvUGQ1-p2In46xLuFpcQrD45QQ/20100419%20%2002.JPG</string>
	</array>
	<key>34623</key>
	<array>
	  <string>http://gazo.galman.jp/img/019fd_94982/AKB48+%E5%AE%AE%E6%BE%A4%E4%BD%90%E6%B1%9F.jpeg</string>
	</array>
	<key>34624</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51NBx6GP%2BtL._SL500_AA300_.jpg</string>
	</array>
	<key>34625</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_kypme98tVJ1qzywzdo1_500.jpg</string>
	</array>
	<key>34626</key>
	<array>
	  <string>http://x65img.peps.jp/uimg/a/akbt/71/cqs794c1jqA.jpg</string>
	</array>
	<key>34627</key>
	<array>
	  <string>http://popspace5.com/img/idol/akb48/miyazawasae_img/004.jpg</string>
	</array>
	<key>34628</key>
	<array>
	  <string>http://blog-imgs-31.fc2.com/k/o/s/kosuzume06/2009102105454371d.jpg</string>
	</array>
	<key>34629</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/b9/c3/komura1017/folder/253479/img_253479_2998186_7?1302248814</string>
	</array>
	<key>34630</key>
	<array>
	  <string>http://29.media.tumblr.com/HkRoY8IM8lco1rc2U4EvD7fAo1_500.jpg</string>
	</array>
	<key>34631</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_l0202phAtP1qa8t7vo1_500.jpg</string>
	</array>
	<key>34632</key>
	<array>
	  <string>http://blog-imgs-36-origin.fc2.com/s/h/e/sheg88/20081207155728.jpg</string>
	</array>
	<key>34633</key>
	<array>
	  <string>http://www.stereosound.co.jp/hivi/idol/215/01.jpg</string>
	</array>
	<key>34634</key>
	<array>
	  <string>http://public.blu.livefilestore.com/y1puDyh3DvFTyxT2xMGBFSdM8cZ0aWmO2eNymj5jjG_9mdKNlT7QY15vE2g5U20BBzmoe_bfC7TIuofc9LTOIvbAQ/20100508%2001.JPG</string>
	</array>
	<key>34635</key>
	<array>
	  <string>http://image.blog.livedoor.jp/deepspace009/imgs/8/2/82af18db.jpg</string>
	</array>
	<key>34636</key>
	<array>
	  <string>http://i.ytimg.com/vi/_aVhpwxDBOA/0.jpg</string>
	</array>
	<key>34637</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/70/75/10123394346.jpg</string>
	</array>
	<key>34638</key>
	<array>
	  <string>http://shop.tsutaya.co.jp/images/ecmd/200907/9784062156967/9784062156967_1.jpg</string>
	</array>
	<key>34639</key>
	<array>
	  <string>http://img.news.goo.ne.jp/talent/MW-W07-1414.jpg</string>
	</array>
</dict>
</plist>
