<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6418</key>
	<array>
	  <string>http://hiroandyoo.cocolog-nifty.com/photos/uncategorized/2008/12/09/kara1stminiphoto2.jpg</string>
	</array>
	<key>6417</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/8476877/Kara+normal_48.jpg</string>
	</array>
	<key>6416</key>
	<array>
	  <string>http://natalie.mu/media/1007/0720/KARA/extra/news_large_KARA_art1007.jpg</string>
	</array>
	<key>6413</key>
	<array>
	  <string>http://japanese.joins.com/upload/images/2011/01/20110119105551-1.jpg</string>
	</array>
	<key>6412</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/43514931/Kara.png</string>
	</array>
	<key>6411</key>
	<array>
	  <string>http://prt.iza.ne.jp/images/news/20110121/388413_c450.jpg</string>
	</array>
	<key>6410</key>
	<array>
	  <string>http://yaplog.jp/cv/tv_bb_21/img/10/9_p.jpg</string>
	</array>
	<key>6409</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110603/18/meso232323/6a/fb/j/o0400030011268081682.jpg</string>
	</array>
	<key>6408</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/38615165/Kara+freestyle.png</string>
	</array>
	<key>6407</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/63642735/Kara+1.png</string>
	</array>
	<key>6406</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110608/88620_201106080710735001307533247c.jpg</string>
	</array>
	<key>6404</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110602/21/shiminobu/50/3d/j/o0520039911266617710.jpg</string>
	</array>
	<key>6403</key>
	<array>
	  <string>http://prt.iza.ne.jp/images/news/20110120/388079_c450.jpg</string>
	</array>
	<key>6535</key>
	<array>
	  <string>http://blog-imgs-37.fc2.com/s/e/7/se7eriko/20091204kara2.jpg</string>
	</array>
	<key>6534</key>
	<array>
	  <string>http://1.bp.blogspot.com/-dXHGLw7INZY/TcPRzpnV2FI/AAAAAAAAAHU/YHeGoghHYiM/s1600/kara-kara-9748173-1024-768.jpg</string>
	</array>
	<key>6533</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/n/nara0033/20090309/20090309180040.jpg</string>
	</array>
	<key>6532</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/k/a/r/kara55kara/gewgew.jpg</string>
	</array>
	<key>6531</key>
	<array>
	  <string>http://www.seishinhouse.com/blog/1-047-047591_1-Kara.jpg</string>
	</array>
	<key>6530</key>
	<array>
	  <string>http://files.myopera.com/Leehyori/albums/367112/Kara%2011.jpg</string>
	</array>
	<key>6529</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_437/kara-0909/KARA_4.jpg</string>
	</array>
	<key>6528</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/66/42/mblak_mill/folder/695480/img_695480_17514061_3?1308821922</string>
	</array>
	<key>6527</key>
	<array>
	  <string>http://percussionday.img.jugem.jp/20101020_1631140.jpg</string>
	</array>
	<key>6526</key>
	<array>
	  <string>http://blog-imgs-37.fc2.com/s/m/t/smtownlovetheme/kara01_41b73b69.jpg</string>
	</array>
	<key>6525</key>
	<array>
	  <string>http://johnhoon.sakura.ne.jp/sblo_files/johnhoon/image/KARA11-10-3.jpg</string>
	</array>
	<key>6524</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/k/p/o/kpopgeneration/KARA_128.jpg</string>
	</array>
	<key>6523</key>
	<array>
	  <string>http://file.karafun.blog.shinobi.jp/KARA0001.jpg</string>
	</array>
	<key>6522</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/k/a/r/kara55kara/kara001.jpg</string>
	</array>
	<key>6521</key>
	<array>
	  <string>http://files.hangame.co.jp/blog/2011/51/a86455b2/03/27/34585180/a86455b2_1301220117774.jpg</string>
	</array>
	<key>6520</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/k/a/r/kara55kara/gwgwedsa.jpg</string>
	</array>
	<key>6519</key>
	<array>
	  <string>http://blog-imgs-36.fc2.com/n/e/u/neuroses/KaraHoney.jpg</string>
	</array>
	<key>6518</key>
	<array>
	  <string>http://livedoor.blogimg.jp/o360/imgs/1/b/1b5b3a7e.jpg</string>
	</array>
	<key>6517</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/a0/ea/mint1212masamasa/folder/361368/img_361368_6745157_0?1292769939</string>
	</array>
	<key>6516</key>
	<array>
	  <string>http://mada-anarogu.up.seesaa.net/image/kara2.bmp</string>
	</array>
	<key>6515</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_437/kara-0909/Kara2Brevolution.png</string>
	</array>
	<key>6514</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/43514931/Kara.png</string>
	</array>
	<key>6513</key>
	<array>
	  <string>http://aoyagitatamiten.blog.so-net.ne.jp/_images/blog/_e73/aoyagitatamiten/kara.jpg</string>
	</array>
	<key>6512</key>
	<array>
	  <string>http://community.pia.jp/hanryu/img/100510_kara01.jpg</string>
	</array>
	<key>6511</key>
	<array>
	  <string>http://blog-imgs-18-origin.fc2.com/b/l/u/blueskytvxq/KARA.jpg</string>
	</array>
	<key>6510</key>
	<array>
	  <string>http://blog-imgs-29.fc2.com/p/e/a/pearlsapphireblue44/kara1.jpg</string>
	</array>
	<key>6508</key>
	<array>
	  <string>http://www.edayjapan.com/kara3.jpg</string>
	</array>
	<key>6509</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/66/42/mblak_mill/folder/695480/img_695480_14629922_3?1304753970</string>
	</array>
	<key>6507</key>
	<array>
	  <string>http://japanese.joins.com/upload/images/2009/12/20091208154429-1.jpg</string>
	</array>
	<key>6506</key>
	<array>
	  <string>http://kara-news.net/kara/KARA%E3%80%80%EF%BC%95%E4%BA%BA%E6%8F%83%E3%81%A3%E3%81%A6.jpg</string>
	</array>
	<key>6505</key>
	<array>
	  <string>http://gongzone.net/xe/files/attach/images/3562/111/086/kara%20copy.jpg</string>
	</array>
	<key>6504</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/65/f8/slug_maria/folder/146987/img_146987_8274959_0?1295659770</string>
	</array>
	<key>6503</key>
	<array>
	  <string>http://blog-imgs-44.fc2.com/h/a/r/harukajejung/Kara+_newmini_004.jpg</string>
	</array>
	<key>6502</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/06/20110618_kankoku_12.jpg</string>
	</array>
	<key>6501</key>
	<array>
	  <string>http://myhappyplan.net/dance/wp-content/uploads/2011/03/KARA201.jpg</string>
	</array>
	<key>6500</key>
	<array>
	  <string>http://files.hangame.co.jp/blog/2011/39/71a00b19/02/12/34113889/71a00b19_1297496859082.jpg</string>
	</array>
	<key>6499</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/c/h/a/chachamaru200/kara.jpg</string>
	</array>
	<key>6498</key>
	<array>
	  <string>http://karanofandesu.up.seesaa.net/image/KARA20E383A1E383B3E38390E383BC.jpg</string>
	</array>
	<key>6497</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/k/p/o/kpopnomiryoku/KARA01.jpg</string>
	</array>
	<key>6496</key>
	<array>
	  <string>http://i-mode-bbs.com/wp-content/uploads/2011/03/kara9.jpg</string>
	</array>
	<key>6495</key>
	<array>
	  <string>http://blog-imgs-36.fc2.com/n/e/u/neuroses/kara605.jpg</string>
	</array>
	<key>6494</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/f9/2c/yu_cho_n_lo_ve_0709/folder/625456/img_625456_18350217_0?1309073833</string>
	</array>
	<key>6493</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_7a0/karaseisettai/KARA.jpg</string>
	</array>
	<key>6492</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/f9/2c/yu_cho_n_lo_ve_0709/folder/625456/img_625456_18350217_6?1309073833</string>
	</array>
	<key>6491</key>
	<array>
	  <string>http://ja.wikizic.org/1-047-047591-Kara.jpg</string>
	</array>
	<key>6490</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/100822/msc1008220827002-p1.jpg</string>
	</array>
	<key>6489</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/101117/tnr1011172133008-p1.jpg</string>
	</array>
	<key>6488</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/101207/tnr1012070714002-p1.jpg</string>
	</array>
	<key>6487</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/110282.jpg</string>
	</array>
	<key>6486</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/100509/msc1005091530002-p1.jpg</string>
	</array>
	<key>6484</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000066418/kara1_s.jpg</string>
	</array>
	<key>6485</key>
	<array>
	  <string>http://news.walkerplus.com/2010/0809/6/20100804133358_02_400.jpg</string>
	</array>
	<key>6483</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1215/28/20101214193947_02_400.jpg</string>
	</array>
	<key>6482</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1213/18/20101213184043_03_400.jpg</string>
	</array>
	<key>6481</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1213/18/20101213175125_01_400.jpg</string>
	</array>
	<key>6480</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1213/18/20101213184043_02_400.jpg</string>
	</array>
	<key>6479</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1213/18/20101213184043_04_400.jpg</string>
	</array>
	<key>6478</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/14/021/images/001l.jpg</string>
	</array>
	<key>6476</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/110281.jpg</string>
	</array>
	<key>6477</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/100821/msc1008210701000-p1.jpg</string>
	</array>
	<key>6475</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/20/027/images/001l.jpg</string>
	</array>
	<key>6474</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100121/tnr1001211830011-p1.jpg</string>
	</array>
	<key>6473</key>
	<array>
	  <string>http://news.walkerplus.com/2010/0809/6/20100804133358_00_400.jpg</string>
	</array>
	<key>6472</key>
	<array>
	  <string>http://news.walkerplus.com/2010/0809/6/20100804133358_01_400.jpg</string>
	</array>
	<key>6471</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/100812/msc1008121741000-p1.jpg</string>
	</array>
	<key>6470</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/100817/msc1008171647002-p1.jpg</string>
	</array>
	<key>6469</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/101214/msc1012141937001-p1.jpg</string>
	</array>
	<key>6468</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100817/gnj1008170503006-p1.jpg</string>
	</array>
	<key>6467</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/13/053/images/001l.jpg</string>
	</array>
	<key>6466</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1215/28/20101214193946_00_400.jpg</string>
	</array>
	<key>6465</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1213/18/20101213175125_00_400.jpg</string>
	</array>
	<key>6464</key>
	<array>
	  <string>http://www.asian-hana.com/assets_c/2009/12/kara4-thumb-400x600-3869.jpg</string>
	</array>
	<key>6463</key>
	<array>
	  <string>http://jokwanwoo.up.seesaa.net/image/kara3.jpg</string>
	</array>
	<key>6462</key>
	<array>
	  <string>http://jokwanwoo.up.seesaa.net/image/kara7.jpg</string>
	</array>
	<key>6461</key>
	<array>
	  <string>http://happy-pop-p.blog.so-net.ne.jp/_images/blog/_21f/k-pop_k-drama/kara-1009.jpg</string>
	</array>
	<key>6460</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/32849607/Kara+revolution.png</string>
	</array>
	<key>6459</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/38458513/Kara+01.png</string>
	</array>
	<key>6458</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/23715017/Kara+111.png</string>
	</array>
	<key>6457</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/17770475/Kara+_newmini_003.jpg</string>
	</array>
	<key>6456</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/29262637/Kara+2.png</string>
	</array>
	<key>6455</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/27290641/Kara+honeypromo.png</string>
	</array>
	<key>6454</key>
	<array>
	  <string>http://wanwon.blog.so-net.ne.jp/_images/blog/_c65/wanwon/KARA.jpg</string>
	</array>
	<key>6453</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/42147815/Kara+Lupin+Promo+Picture+PNG.png</string>
	</array>
	<key>6452</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/41057403/Kara.png</string>
	</array>
	<key>6451</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/33257509/Kara+re.png</string>
	</array>
	<key>6450</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/38458581/Kara+05.png</string>
	</array>
	<key>6449</key>
	<array>
	  <string>http://natalie.mu/media/1006/0621/KARA/extra/news_large_kara_dvd_02.jpg</string>
	</array>
	<key>6448</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/37100989/Kara+cfpromotion+png.png</string>
	</array>
	<key>6447</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/39679911/Kara+_56.jpg</string>
	</array>
	<key>6446</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/39261071/Kara+++Xmas.png</string>
	</array>
	<key>6445</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091204/15/my-own-way123/2f/bd/j/o0374028510329043129.jpg</string>
	</array>
	<key>6444</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/42394593/Kara+png.png</string>
	</array>
	<key>6443</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/41991515/Kara+lupin.png</string>
	</array>
	<key>6442</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/17770717/Kara+_newmini_004.jpg</string>
	</array>
	<key>6441</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/33211861/Kara+rev1.png</string>
	</array>
	<key>6440</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/41338575/Kara+CROWN+BAKERYPNG.png</string>
	</array>
	<key>6439</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/17747995/Kara+promo2_prettygirl.jpg</string>
	</array>
	<key>6438</key>
	<array>
	  <string>http://www.sponichi.co.jp/entertainment/news/2010/12/14/images/KFullNormal20101214074_l.jpg</string>
	</array>
	<key>6437</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/32881587/Kara+fierce.png</string>
	</array>
	<key>6436</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/13007337/Kara+20081002_.jpg</string>
	</array>
	<key>6435</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/25378363/Kara+kh.png</string>
	</array>
	<key>6433</key>
	<array>
	  <string>http://f.hatena.ne.jp/images/fotolife/x/xcorp/20090912/20090912175051.jpg</string>
	</array>
	<key>6432</key>
	<array>
	  <string>http://japanese.joins.com/upload/images/2011/04/20110407131255-1.jpg</string>
	</array>
	<key>6431</key>
	<array>
	  <string>http://www.mnetjapan.com/blogimg/image.php?changeSize=user_images/020913/Image/722626856_133.jpg</string>
	</array>
	<key>6430</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/45186755/Kara+Were+with+youHQ.png</string>
	</array>
	<key>6429</key>
	<array>
	  <string>http://hiroandyoo.cocolog-nifty.com/photos/uncategorized/2008/12/09/kara1stminiphoto3.jpg</string>
	</array>
	<key>6428</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000065608/kara001_s_www_barks_jp.jpg</string>
	</array>
	<key>6427</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/31855503/Kara+2009072007255510021.png</string>
	</array>
	<key>6425</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000067598/kara1_s.jpg</string>
	</array>
	<key>6424</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110114/83906_201101140004347001295002242c.jpg</string>
	</array>
	<key>6422</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/8515297/Kara.jpg</string>
	</array>
	<key>6421</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/56562083/Kara+misterjp.png</string>
	</array>
	<key>6420</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/39800065/Kara+CROWN+BAKERYPNG.png</string>
	</array>
	<key>6536</key>
	<array>
	  <string>http://image.blog.livedoor.jp/ibk_swbf/imgs/a/9/a9b55cb0.jpg</string>
	</array>
	<key>6537</key>
	<array>
	  <string>http://karanofandesu.up.seesaa.net/image/KARA20E3838BE382B3E383AB.jpg</string>
	</array>
	<key>6538</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/39261071/Kara+++Xmas.png</string>
	</array>
	<key>6539</key>
	<array>
	  <string>http://blog-imgs-35-origin.fc2.com/k/o/z/kozu127/kara_20100119065433.jpg</string>
	</array>
	<key>6540</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/017/909/00/N000/000/003/129730565108016313770.jpg</string>
	</array>
	<key>6541</key>
	<array>
	  <string>http://3.bp.blogspot.com/_uxdrQqNYf-w/S4VZF0q072I/AAAAAAAAEbE/nciIP_72nqI/s1600/KARA_4.jpg</string>
	</array>
	<key>6542</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/38/31/keiun1/folder/909632/img_909632_11632260_0?1282423231</string>
	</array>
	<key>6543</key>
	<array>
	  <string>http://www.zak.co.jp/artest/2009/kara/kara2.jpg</string>
	</array>
	<key>6544</key>
	<array>
	  <string>http://jokwanwoo.up.seesaa.net/image/kara7.jpg</string>
	</array>
	<key>6545</key>
	<array>
	  <string>http://suomi.blog.ocn.ne.jp/photos/uncategorized/2009/09/30/kara_jiyoun4.jpg</string>
	</array>
	<key>6546</key>
	<array>
	  <string>http://blog-imgs-36-origin.fc2.com/g/e/i/geinounewstokudane/KARA_25.jpg</string>
	</array>
	<key>6547</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/29/d9/s_s_ochi/folder/1034705/img_1034705_24133552_1?1300975796</string>
	</array>
	<key>6548</key>
	<array>
	  <string>http://yaplog.jp/cv/pinksmell/img/3472/kara_p.jpg</string>
	</array>
	<key>6549</key>
	<array>
	  <string>http://images2.fanpop.com/image/photos/9700000/kara-kara-9770845-1280-800.jpg</string>
	</array>
	<key>6550</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091028/22/snsdara/32/2c/j/o0575038310289562134.jpg</string>
	</array>
	<key>6551</key>
	<array>
	  <string>http://i68.photobucket.com/albums/i40/sundae_boy/kara7kx1.jpg</string>
	</array>
	<key>6552</key>
	<array>
	  <string>http://4.bp.blogspot.com/-hfmjUXbEWRs/TdUZxq1CUuI/AAAAAAAAARk/SKcOQWz2hNk/s1600/1920_kara.jpg</string>
	</array>
	<key>6553</key>
	<array>
	  <string>http://blog-imgs-30.fc2.com/m/f/k/mfkspark2/kara.jpg</string>
	</array>
	<key>6554</key>
	<array>
	  <string>http://community.pia.jp/hanryu/img/KARA_03.jpg</string>
	</array>
	<key>6555</key>
	<array>
	  <string>http://www.deviantart.com/download/126089170/KARA_Wallpaper_by_wbdiella.jpg</string>
	</array>
	<key>6556</key>
	<array>
	  <string>http://c.review.nate.com/img/org/8473833/review/1/2/0</string>
	</array>
	<key>6557</key>
	<array>
	  <string>http://2.bp.blogspot.com/_wzDsynRLoVE/TOzy7m8mwWI/AAAAAAAABEU/LigkAor179M/s1600/kara-dancum+13.jpg</string>
	</array>
	<key>6558</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/k/p/o/kpopnomiryoku/KARA07.jpg</string>
	</array>
	<key>6559</key>
	<array>
	  <string>http://suomi.blog.ocn.ne.jp/photos/uncategorized/2009/01/26/kara_jiyoun2.jpg</string>
	</array>
	<key>6560</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/41057403/Kara.png</string>
	</array>
	<key>6561</key>
	<array>
	  <string>http://koreaidols.files.wordpress.com/2009/07/kara-brown-eyed-girls-support-the-korean-baseball-team2.jpg</string>
	</array>
	<key>6562</key>
	<array>
	  <string>http://img2.brokore.com/imx/movieboard/upload/KARA_picture_02.jpg</string>
	</array>
	<key>6563</key>
	<array>
	  <string>http://kara-news.net/kara/KARA%E3%80%80%E3%81%84%E3%81%A4%E3%81%AE%E3%81%A0%E3%82%8D%E3%81%86.JPG</string>
	</array>
	<key>6564</key>
	<array>
	  <string>http://community.pia.jp/hanryu/img/KARA_sketch02.jpg</string>
	</array>
	<key>6565</key>
	<array>
	  <string>http://favaritewomen.up.seesaa.net/image/kara2.jpg</string>
	</array>
	<key>6566</key>
	<array>
	  <string>http://images2.fanpop.com/image/photos/9500000/KARA-kara-9584855-1024-768.jpg</string>
	</array>
	<key>6567</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/69/06/karasaikyou/folder/307335/img_307335_2794853_0?1301581524</string>
	</array>
	<key>6568</key>
	<array>
	  <string>http://img03.ti-da.net/usr/sezon/KARA5.jpg</string>
	</array>
	<key>6569</key>
	<array>
	  <string>http://blog-imgs-43.fc2.com/s/e/c/secretarykyoko/kara.jpg</string>
	</array>
	<key>6570</key>
	<array>
	  <string>http://www.showwallpaper.com/wallpaper/1005/043102.jpg</string>
	</array>
	<key>6571</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/k/p/o/kpopgeneration/KARA_meringue07.jpg</string>
	</array>
	<key>6572</key>
	<array>
	  <string>https://blog.so-net.ne.jp/_images/blog/_c65/wanwon/KARA.jpg</string>
	</array>
	<key>6573</key>
	<array>
	  <string>http://tokubyhonke.web.fc2.com/gazou/KARA/kara3.jpg</string>
	</array>
	<key>6574</key>
	<array>
	  <string>http://karanofandesu.up.seesaa.net/image/KARA20E382B8E383A8E383B3EFBC93.jpg</string>
	</array>
	<key>6575</key>
	<array>
	  <string>http://cfs15.tistory.com/image/16/tistory/2008/10/13/18/38/48f3170b5ce9c</string>
	</array>
	<key>6576</key>
	<array>
	  <string>http://blog-imgs-44.fc2.com/s/a/n/sanso133/kara100508.jpg</string>
	</array>
	<key>6577</key>
	<array>
	  <string>http://jokwanwoo.up.seesaa.net/image/kara3.jpg</string>
	</array>
	<key>6578</key>
	<array>
	  <string>http://2.bp.blogspot.com/_RefvQJ64KZM/TUp1TSqUYLI/AAAAAAAACW4/Oj-pwaD-17k/s1600/0kara.jpg</string>
	</array>
	<key>6579</key>
	<array>
	  <string>http://hiro-noel.up.seesaa.net/image/kara.jpeg</string>
	</array>
	<key>6580</key>
	<array>
	  <string>http://www.apalog.com/kurita/img/937/a2FyYaAY.jpg</string>
	</array>
	<key>6581</key>
	<array>
	  <string>http://blog-imgs-43.fc2.com/e/v/e/everithingmylove2/2044a931a0c5ef885fdf0e4c.jpg</string>
	</array>
	<key>6582</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/ae/7b/betymama1031/folder/1018713/img_1018713_26769586_0?1285347095</string>
	</array>
	<key>6583</key>
	<array>
	  <string>http://www.kpopsfan.com/home/KARA/kara4syugo.jpg</string>
	</array>
	<key>6584</key>
	<array>
	  <string>http://cdn.tower.jp/za/o/81/4988131702481.jpg</string>
	</array>
	<key>6585</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/65/f8/slug_maria/folder/57442/img_57442_2635006_0?1281505186</string>
	</array>
	<key>6586</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/p/o/p/popo0304/KARA.jpg</string>
	</array>
	<key>6587</key>
	<array>
	  <string>http://pds12.egloos.com/pds/200904/05/98/b0067798_49d851d28992c.jpg</string>
	</array>
	<key>6588</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/39800065/Kara+CROWN+BAKERYPNG.png</string>
	</array>
	<key>6589</key>
	<array>
	  <string>http://imgc.appbank.net/c/wp-content/uploads/2010/12/KARA-01.jpg</string>
	</array>
	<key>6590</key>
	<array>
	  <string>http://blog-imgs-29.fc2.com/1/b/a/1banemono/2010-11-07-kara.jpg</string>
	</array>
	<key>6591</key>
	<array>
	  <string>http://files.myopera.com/Leehyori/albums/367112/Kara%2017.jpg</string>
	</array>
	<key>6592</key>
	<array>
	  <string>http://kara.anime-jyouhou.com/rogo/kara022.jpg</string>
	</array>
	<key>6593</key>
	<array>
	  <string>http://blog-imgs-38.fc2.com/m/y/d/mydesjj/kara.jpg</string>
	</array>
	<key>6594</key>
	<array>
	  <string>http://blogfile.paran.com/BLOG_572537/200704/1176587624_kara2.jpg</string>
	</array>
	<key>6595</key>
	<array>
	  <string>http://suomi.blog.ocn.ne.jp/photos/uncategorized/2010/02/07/kara9.jpg</string>
	</array>
	<key>6596</key>
	<array>
	  <string>http://lh3.ggpht.com/-Rxuti1j0J-M/TQu3Q304sfI/AAAAAAAAB7Q/T_r7F1mlY2I/KARA_41.jpg</string>
	</array>
	<key>6597</key>
	<array>
	  <string>http://img.yaplog.jp/img/03/pc/o/y/a/oyayan/0/323.jpg</string>
	</array>
	<key>6598</key>
	<array>
	  <string>http://blog-imgs-17-origin.fc2.com/k/o/m/komomo33/kara2007061005500034782_054607_0.jpg</string>
	</array>
	<key>6599</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/k/p/o/kpopgeneration/KARA_HAKASE_2.jpg</string>
	</array>
	<key>6600</key>
	<array>
	  <string>http://kpopnavi.com/wp/wp-content/uploads/KARA2011012110380880001.jpg</string>
	</array>
</dict>
</plist>
