<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>81647</key>
	<array>
	  <string>http://ent.gz163.cn/images_ent/2008/9/24/20089240AA0D3F71216415C946F6E45F9660EEE.jpg</string>
	</array>
	<key>81646</key>
	<array>
	  <string>http://japanese.cri.cn/mmsource/images/2010/07/11/2839ce446e0a4963a080087762c6f00a.jpg</string>
	</array>
	<key>81645</key>
	<array>
	  <string>http://himg2.huanqiu.com/attachment/090616/470d161dc5.jpg</string>
	</array>
	<key>81644</key>
	<array>
	  <string>http://www.maxam.jp/soryu-ko/images/cast02.jpg</string>
	</array>
	<key>81643</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1004/20090616/00080286e07a0ba1709a35.jpg</string>
	</array>
	<key>81642</key>
	<array>
	  <string>http://data.yule.sohu.com/star/pic/star/1/1279/default.jpg</string>
	</array>
	<key>81641</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/c/2005-07-19/U1223P28T3D784606F328DT20050719170940.JPG</string>
	</array>
	<key>81640</key>
	<array>
	  <string>http://kw2007.com.cn/upload/news/8B/8BE643691CE94D3DB2584225E89517B6/4A3C33E550D24F82B014A83B005D3EB8.jpg</string>
	</array>
	<key>81639</key>
	<array>
	  <string>http://www.quick-china.com/movie/thumb/l/dj16769l.jpg</string>
	</array>
	<key>81638</key>
	<array>
	  <string>http://www.quick-china.com/movie/thumb/l/dj16843l.jpg</string>
	</array>
	<key>81637</key>
	<array>
	  <string>http://photocdn.sohu.com/20081006/Img259867274.jpg</string>
	</array>
	<key>81636</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200907/01/88/1854954962159298460.jpg</string>
	</array>
	<key>81635</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/imghylanda/200911/25/59/1356372128003273679.jpg</string>
	</array>
	<key>81634</key>
	<array>
	  <string>http://ent.tom.com/uimg/2009/11/19/caiyingzhe/1258585854047_44179.jpg</string>
	</array>
	<key>81633</key>
	<array>
	  <string>http://images.yoka.com/pic/renren/one/2008/U10P1T1D28658F9DT20080107110349.jpg</string>
	</array>
	<key>81632</key>
	<array>
	  <string>http://www.nnrb.com.cn/Files/image/%E9%82%9D%E6%B5%B7%E9%93%83/%E5%A8%B1%E4%B9%90%E6%97%B6%E8%AE%AF/%E5%A4%A7%E5%A9%9A/%E8%83%A1%E9%9D%99%E6%90%BA%E6%96%B0%E5%A9%9A%E8%80%81%E5%85%AC%E7%94%9C%E8%9C%9C%E4%BA%AE%E7%9B%B8%E4%B8%9C%E6%96%B9%E5%8D%AB%E8%A7%86%</string>
	</array>
	<key>81631</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200903/17/58/17779809966917471966.jpg</string>
	</array>
	<key>81630</key>
	<array>
	  <string>http://www.so-net.ne.jp/adtv/img/160/SO0000003323_0003.jpg</string>
	</array>
	<key>81629</key>
	<array>
	  <string>http://img.soufun.com/news/2008_05/08/news/1210212857879_000.jpg</string>
	</array>
	<key>81628</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1004/20110404/000cf1bdd0480f03b8a205.jpg</string>
	</array>
	<key>81626</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1004/20090116/00080286e07a0ada90d228.jpg</string>
	</array>
	<key>81627</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1004/20090116/00080286e07a0ada86ff04.jpg</string>
	</array>
	<key>81625</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/94/24/10046510524.jpg</string>
	</array>
	<key>81624</key>
	<array>
	  <string>http://www.shxb.net/newspic/20081014/2/huangyh0810283.JPG</string>
	</array>
	<key>81623</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/s/p/2008-10-13/U2231P28T3D2202626F326DT20081013124528.JPG</string>
	</array>
	<key>81622</key>
	<array>
	  <string>http://pic.yesky.com/imagelist/08/43/10531695_7780.jpg</string>
	</array>
	<key>81621</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200809/28/F200809280800447297276194.jpg</string>
	</array>
	<key>81620</key>
	<array>
	  <string>http://g2.ykimg.com/0100011F4648DC92F5DFCF008523B2301FFF99-3A7B-8B3D-7D7B-CFC14E30D2D2</string>
	</array>
	<key>81619</key>
	<array>
	  <string>http://www.13520.org/fangdaoliang/37/101741_2.jpg</string>
	</array>
	<key>81618</key>
	<array>
	  <string>http://ent.cqnews.net/ylove/200908/W020090806325625620930.jpg</string>
	</array>
	<key>81617</key>
	<array>
	  <string>http://www.13520.org/fangdaoliang/37/2869/51977_1.jpg</string>
	</array>
	<key>81616</key>
	<array>
	  <string>http://www.smgbb.cn/d/file/zixun/yule/2009-11-26/825fb57427b9857482afb6eed92731da.jpg</string>
	</array>
	<key>81615</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/40/e9/10034002870.jpg</string>
	</array>
	<key>81614</key>
	<array>
	  <string>http://files.godist.cn/Upload/star/big/95cae8fc-e539-4dc5-8e5c-b42957c249d0_big.jpg</string>
	</array>
	<key>81613</key>
	<array>
	  <string>http://www.cnnb.com.cn/pic/0/00/66/62/666247_999775.jpg</string>
	</array>
	<key>81612</key>
	<array>
	  <string>http://www.tagd.com.cn/ent/UploadFiles_9903/200809/20089279272376.jpg</string>
	</array>
	<key>81611</key>
	<array>
	  <string>http://bizhi.zhuoku.com/wall/20060602/hujing004.jpg</string>
	</array>
	<key>81610</key>
	<array>
	  <string>http://pl.cqnews.net/wy/200810/W020081006503337552589.jpg</string>
	</array>
	<key>81609</key>
	<array>
	  <string>http://cimg20.163.com/ent/2008/6/4/2008060408082374804.jpg</string>
	</array>
	<key>81608</key>
	<array>
	  <string>http://img2.ifensi.com/channelimg/Image/liubin/2009/0702/32.jpg</string>
	</array>
	<key>81607</key>
	<array>
	  <string>http://s3.amazonaws.com/cogolo_faces/%E8%83%A1%E9%9D%99%E4%B9%8B/imgs/fun.china.com/zh_cn/movie/tv/11015529/20050906/images/12631110_2005090608384511243000.jpg</string>
	</array>
	<key>81606</key>
	<array>
	  <string>http://s3.amazonaws.com/cogolo_faces/%E8%83%A1%E9%9D%99%E4%B9%8B/imgs/image1.chinanews.com.cn/06p/PhotoL/060609/060609003c_3.jpg</string>
	</array>
	<key>81605</key>
	<array>
	  <string>http://s3.amazonaws.com/cogolo_faces/%E8%83%A1%E9%9D%99%E4%B9%8B/imgs/images.china.cn/attachement/jpg/site1000/20081016/0019b91ebfe20a6149cb23.jpg</string>
	</array>
	<key>81604</key>
	<array>
	  <string>http://img.txooo.com/?id=621985</string>
	</array>
	<key>81603</key>
	<array>
	  <string>http://image.hnce.com.cn/UploadFiles/Lady/201004/21/1394ad58-f371-4df5-99d3-b685cbe57466.jpg</string>
	</array>
	<key>81602</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/c/2006-07-14/U92P28T3D1158005F329DT20060714133316.jpg</string>
	</array>
	<key>81601</key>
	<array>
	  <string>http://s3.amazonaws.com/cogolo_faces/%E8%83%A1%E9%9D%99%E4%B9%8B/imgs/images.qianlong.com/mmsource/images/2008/09/09/ylhj080909006.jpg</string>
	</array>
	<key>81600</key>
	<array>
	  <string>http://imgs.soufun.com/news/2010_10/18/news/1287409462516_000.jpg</string>
	</array>
	<key>81599</key>
	<array>
	  <string>http://oepic.oeeee.com/200903/31/55/14598691131033761547.jpg</string>
	</array>
	<key>81598</key>
	<array>
	  <string>http://www3.allfang.com/allfang/upload/news_images/image523179.jpg</string>
	</array>
	<key>81597</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2009-07/08/xin_292070608081598482374.jpg</string>
	</array>
	<key>81596</key>
	<array>
	  <string>http://www.cnnb.com.cn/pic/0/02/04/32/2043270_991658.jpg</string>
	</array>
	<key>81595</key>
	<array>
	  <string>http://henmi42.cocolog-nifty.com/yijianyeye/images/2009/11/05/7_3.jpg</string>
	</array>
	<key>81594</key>
	<array>
	  <string>http://s3.amazonaws.com/cogolo_faces/%E8%83%A1%E9%9D%99%E4%B9%8B/imgs/220.181.5.155/images/i1.sinaimg.cn/ent/s/h/p/2008-12-05/U2398P28T3D2281612F326DT20081205160147.jpg</string>
	</array>
	<key>81593</key>
	<array>
	  <string>http://img.blog.cctv.com/attachments/2008/09/834007_200809281002591.jpg</string>
	</array>
	<key>81592</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2007-05/21/xinsrc_082050421094221826638.jpg</string>
	</array>
	<key>81591</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/liubin/2009/0702/33.jpg</string>
	</array>
	<key>81590</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200906/16/F200906161405379296501672.jpg</string>
	</array>
	<key>81588</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2007/12/13/U1935P28T3D1833240F326DT20071213153604.jpg</string>
	</array>
	<key>81589</key>
	<array>
	  <string>http://data.yule.baidu.com/images/10/101549.jpg</string>
	</array>
	<key>81587</key>
	<array>
	  <string>http://www.chinanews.com/gj/kong/news/2008/06-04/U25P4T8D1272458F107DT20080604162230.jpg</string>
	</array>
	<key>81586</key>
	<array>
	  <string>http://www.shoujitu.com/a23/dalunvxing/Hu-Jing/Hu-Jing-618.jpg</string>
	</array>
	<key>81585</key>
	<array>
	  <string>http://i.baidu.com/yule/r/image/2008-09-27/99e1639432051b63abbd801cf92aab6d.jpg</string>
	</array>
	<key>81583</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/c/p/2006-06-08/U1171P28T3D1115703F329DT20060608183913.JPG</string>
	</array>
	<key>81584</key>
	<array>
	  <string>http://www.6to23.com/uploadfile/pic/uploadpics/200904/hujing14.jpg</string>
	</array>
	<key>81582</key>
	<array>
	  <string>http://image.hnol.net/c/2009-08/28/15/200908281559258181-2211897.jpg</string>
	</array>
	<key>81581</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/hmvjapan/cabinet/435/2664935.jpg?_ex=190x190&amp;amp;s=0&amp;amp;r=1</string>
	</array>
	<key>81580</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/05/74/39/5743902_793743.jpg</string>
	</array>
	<key>81578</key>
	<array>
	  <string>http://pic.anhuinews.com/0/01/57/84/1578400_524231.jpg</string>
	</array>
	<key>81579</key>
	<array>
	  <string>http://www.13520.org/img/new/ent/2009/4/10/20090410162925cadf4.jpg</string>
	</array>
	<key>81577</key>
	<array>
	  <string>http://liuxue.xdf.cn/Portals/49/C_Info/ImageFile/23963/teachers/b%E8%83%A1%E9%9D%99.jpg</string>
	</array>
	<key>81576</key>
	<array>
	  <string>http://www.i816.net/sucaisoso/attachments/day_090115/20090115_bb474a555b8eb6708af2MimyjokimasM.jpg</string>
	</array>
	<key>81575</key>
	<array>
	  <string>http://www.gznet.com/ent/xxbx/fw/200809/W020080909518389165423.jpg</string>
	</array>
	<key>81573</key>
	<array>
	  <string>http://x.limgs.cn/xkimgs/2009312071206194.jpg</string>
	</array>
	<key>81574</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2008-10/11/xin_47210051109235623004020.jpg</string>
	</array>
	<key>81571</key>
	<array>
	  <string>http://pic4.nipic.com/20091128/1951702_000239379005_2.jpg</string>
	</array>
	<key>81572</key>
	<array>
	  <string>http://www.13520.org/fangdaoliang/37/2870/52019_2.jpg</string>
	</array>
	<key>81570</key>
	<array>
	  <string>http://pic7.nipic.com/20100516/2048770_073436011338_2.jpg</string>
	</array>
	<key>81569</key>
	<array>
	  <string>http://www.dffy.com/upfile/20071012065528-1.jpg</string>
	</array>
	<key>81567</key>
	<array>
	  <string>http://img.hexun.com/2008-10-06/109497470.jpg</string>
	</array>
	<key>81568</key>
	<array>
	  <string>http://www.hb.xinhuanet.com/fashion/2008-09/11/xinsrc_0430905111805968158566.jpg</string>
	</array>
	<key>81566</key>
	<array>
	  <string>http://www.1000s.cn/Storage/FCKPro/Files/%E8%83%A1%E9%9D%99.jpg</string>
	</array>
	<key>81564</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2009-04/29/xin_0620406290717984190112.jpg</string>
	</array>
	<key>81565</key>
	<array>
	  <string>http://pic.sdnews.com.cn/NewsImg/2006-7-3/Img244063220.jpg</string>
	</array>
	<key>81563</key>
	<array>
	  <string>http://www.hi.chinanews.com/hnnew/2009-11-10/U57P16T1D48098F8DT20091110091626.jpg</string>
	</array>
	<key>81562</key>
	<array>
	  <string>http://oepic.oeeee.com/200904/29/43/3527208334768950599.jpg</string>
	</array>
	<key>81560</key>
	<array>
	  <string>http://www.zynews.com/images/2010-04/07/xin_30040707170568422721.JPG</string>
	</array>
	<key>81561</key>
	<array>
	  <string>http://www.tagd.com.cn/ent/UploadFiles_9903/200710/20071022143012610.jpg</string>
	</array>
	<key>81558</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/v/m/2005-07-27/U1343P28T3D793015F329DT20050727152338.JPG</string>
	</array>
	<key>81559</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200711/01/P200711011110141767886202.jpg</string>
	</array>
	<key>81557</key>
	<array>
	  <string>http://photocdn.sohu.com/20090121/Img261873106.jpg</string>
	</array>
	<key>81556</key>
	<array>
	  <string>http://www.dxw.gxnu.edu.cn/UpLoadFiles/net/2007-10/2007102420312183996.jpg</string>
	</array>
	<key>81555</key>
	<array>
	  <string>http://img2.ifensi.com/channelimg/Image/zhiban1/2008/4/1/47.jpg</string>
	</array>
	<key>81554</key>
	<array>
	  <string>http://www.hongkongfans.cn/www.99wed.com/upfile/12/picture/2_101.jpg</string>
	</array>
	<key>81553</key>
	<array>
	  <string>http://photocdn.sohu.com/20081217/Img261257719.jpg</string>
	</array>
	<key>81552</key>
	<array>
	  <string>http://imgnews.music.mop.com/yuewen/2007-11-14/27_3_26991_78_202_20071114140601.jpg</string>
	</array>
	<key>81551</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2008/09/23/ee080923052.jpg</string>
	</array>
	<key>81550</key>
	<array>
	  <string>http://www.bzbuluo.cn/view/pic/201048232949312.jpg</string>
	</array>
	<key>81549</key>
	<array>
	  <string>http://www.quick-china.com/music/jacket/mc25229.jpg</string>
	</array>
	<key>81548</key>
	<array>
	  <string>http://img.article.pchome.net/00/30/43/40//pic_lib/wm/hjbz_15.jpg</string>
	</array>
	<key>81546</key>
	<array>
	  <string>http://www.iqspeed.com/upload/Image/5(10).jpg</string>
	</array>
	<key>81547</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2008-09/26/xin_32309052609524372537319.jpg</string>
	</array>
	<key>81545</key>
	<array>
	  <string>http://www.sznews.com/ent/images/attachement/jpg/site3/20081030/0014224750740a734c0a56.jpg</string>
	</array>
	<key>81544</key>
	<array>
	  <string>http://www.13520.org/img/new/ent/2007/11/16/20071116085009af4dc.jpg</string>
	</array>
	<key>81543</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1604143qbc8c2</string>
	</array>
	<key>81542</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20071012/images/01829076.JPG</string>
	</array>
	<key>81541</key>
	<array>
	  <string>http://fashion.sg.com.cn/uploadfiles/2008/9/28/354FD752221844798E48239369AD1325.jpg</string>
	</array>
	<key>81540</key>
	<array>
	  <string>http://cache.aries.sina.com.cn/nd/infodichan/dichanpic/31/66/3616e078eff44a51ef8c28e15d957d89.jpg</string>
	</array>
	<key>81539</key>
	<array>
	  <string>http://imgs.2hua.com/upload_img/2009-12-7/Table_%E8%83%A1%E9%9D%99.jpg</string>
	</array>
	<key>81538</key>
	<array>
	  <string>http://img.article.onlylady.com/00/11/86/02/01.jpg</string>
	</array>
	<key>81537</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2009-04/24/xin_4120406240730453131486.jpg</string>
	</array>
	<key>81536</key>
	<array>
	  <string>http://kaiyun.china.com/zh_cn/geomancy/mr/11063443/20081103/images/15166959_200811031026188935600.jpg</string>
	</array>
	<key>81534</key>
	<array>
	  <string>http://img2.ifensi.com/channelimg/Image/bagua2/2/21/36/23.jpg</string>
	</array>
	<key>81535</key>
	<array>
	  <string>http://news.ppkao.com/ent/UploadPic/2008-2/2008219152310796.jpg</string>
	</array>
	<key>81533</key>
	<array>
	  <string>http://www.smweekly.com/UserFiles/fckfiles/2008/09/02/a0099deaf3404e5ba81383be05674391.jpg</string>
	</array>
	<key>81532</key>
	<array>
	  <string>http://images.hsw.cn/webimages/attachement/jpg/site2/20081013/000bcddce9e20a5ce39d01.jpg</string>
	</array>
	<key>81531</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/10/29/ylrita081029032.jpg</string>
	</array>
	<key>81530</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/v/m/p/2006-06-30/U1343P28T3D1142000F358DT20060630170237.JPG</string>
	</array>
	<key>81529</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1004/20091117/001372acd73d0c6c965f0e.jpg</string>
	</array>
	<key>81528</key>
	<array>
	  <string>http://photocdn.sohu.com/20090116/Img261785322.jpg</string>
	</array>
	<key>81527</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2008-07/21/xin_15207052109496401331114.jpg</string>
	</array>
	<key>81525</key>
	<array>
	  <string>http://www.safedom.net/uploadfile/2011/0614/20110614020339294.jpg</string>
	</array>
	<key>81526</key>
	<array>
	  <string>http://images.sz.house.sina.com.cn/cr/2008/1231/1241508635.jpg</string>
	</array>
	<key>81524</key>
	<array>
	  <string>http://oepic.oeeee.com/200904/29/0/16758060745242426724.jpg</string>
	</array>
	<key>81523</key>
	<array>
	  <string>http://www.smgbb.cn/d/file/zixun/yule/2008-10-12/3e0a88e48589d69be2f6c853f81d7ba9.jpg</string>
	</array>
	<key>81521</key>
	<array>
	  <string>http://hujing.g.ifensi.com/img/4/4944/logo.jpg</string>
	</array>
	<key>81522</key>
	<array>
	  <string>http://cimg20.163.com/ent/2008/6/4/2008060408081621241.jpg</string>
	</array>
	<key>81520</key>
	<array>
	  <string>http://www.sun116.com/images/200904/2009423162355458.jpg</string>
	</array>
	<key>81519</key>
	<array>
	  <string>http://www.southcn.com/ent/celeb/hujing/gallery2/200406290385_697498.jpg</string>
	</array>
	<key>81518</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/wanjian/2008/0529/18.jpg</string>
	</array>
	<key>81517</key>
	<array>
	  <string>http://www.kljhw.net/upfile/%E8%83%A1%E9%9D%99%E5%A9%9A%E7%A4%BC5.jpg</string>
	</array>
	<key>81515</key>
	<array>
	  <string>http://pica.nipic.com/2008-03-31/200833117648144_2.jpg</string>
	</array>
	<key>81516</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2009/11/25/20091125qianlongtpnxzxy0301.jpg</string>
	</array>
	<key>81514</key>
	<array>
	  <string>http://imgs.soufun.com/news/2010_04/08/news/1270732748380_000.jpg</string>
	</array>
	<key>81513</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=120314bq1191ba</string>
	</array>
	<key>81512</key>
	<array>
	  <string>http://www.aizhongyuan.com/upfile/image/2010/4-19/0605334066.jpg</string>
	</array>
	<key>81510</key>
	<array>
	  <string>http://www.xichan.cn/files/Content/649.jpg</string>
	</array>
	<key>81511</key>
	<array>
	  <string>http://www.cyxxg.com/web/news/2008-10/13/08101311335240083.jpg</string>
	</array>
	<key>81509</key>
	<array>
	  <string>http://news.xinhuanet.com/video/2008-10/14/xin_082100514094607802931.jpg</string>
	</array>
	<key>81508</key>
	<array>
	  <string>http://www.quick-china.com/music/thumb/l/mc25229l.jpg</string>
	</array>
	<key>81507</key>
	<array>
	  <string>http://www.zzdesk.cn/d/2008-11/20081124000345225.jpg</string>
	</array>
	<key>81506</key>
	<array>
	  <string>http://img.txooo.com/?id=621982</string>
	</array>
	<key>81504</key>
	<array>
	  <string>http://oepic.oeeee.com/200906/25/95/15913709249030837327.jpg</string>
	</array>
	<key>81505</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200903/03/62/9549271699658843158.jpg</string>
	</array>
	<key>81503</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=140494qda33a</string>
	</array>
	<key>81502</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2008/03/26/el080326180.jpg</string>
	</array>
	<key>81501</key>
	<array>
	  <string>http://www.gscn.com.cn/2008_pic/BeyondPic/2008-9/26/U25P4T8D1394422F107DT20080925163435.jpg</string>
	</array>
	<key>81500</key>
	<array>
	  <string>http://i1.itc.cn/20080909/607_f00a5819_7ae5_40aa_82f0_35fe1a6db9cf_0.jpg</string>
	</array>
	<key>81499</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2006-07/10/xin_5720703100904968028114.jpg</string>
	</array>
	<key>81498</key>
	<array>
	  <string>http://ent.cqnews.net/ylove/200908/W020090805670662024774.jpg</string>
	</array>
	<key>81497</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200809/02/F200809021645171592828611.jpg</string>
	</array>
	<key>81495</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2008/09/28/eo080928949.jpg</string>
	</array>
	<key>81496</key>
	<array>
	  <string>http://www.znol.com.cn/UploadFiles/200892810838796.jpg</string>
	</array>
	<key>81494</key>
	<array>
	  <string>http://www.sun116.com/images/200807/20087416228974.jpg</string>
	</array>
	<key>81493</key>
	<array>
	  <string>http://www.idaocao.com/daocaoeditor/2009upimg/200943103352683.jpg</string>
	</array>
	<key>81492</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/09/19/ylhj080919007.jpg</string>
	</array>
	<key>81491</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/m/c/2006-07-14/U92P28T3D1158005F328DT20060714133316.jpg</string>
	</array>
	<key>81490</key>
	<array>
	  <string>http://images.yoka.com/pic/renren/one/2008/U10P1T1D102627F9DT20080930113439.jpg</string>
	</array>
	<key>81489</key>
	<array>
	  <string>http://data.ifensi.com/star/starphoto/0/0/5/574/574_big.jpg</string>
	</array>
	<key>81488</key>
	<array>
	  <string>http://zixun.goufang.com/Images/20081007/2008100710345733.jpg</string>
	</array>
	<key>81487</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2007/11/06/el071106378.jpg</string>
	</array>
	<key>81486</key>
	<array>
	  <string>http://images.xooob.com/20083677/2008367753251.jpg</string>
	</array>
	<key>81485</key>
	<array>
	  <string>http://images.qianlong.com/mmsource/images/2008/12/23/ylrita081223024.jpg</string>
	</array>
	<key>81484</key>
	<array>
	  <string>http://www.qikuqi.com/uploads/allimg/090630/2135040.jpg</string>
	</array>
	<key>81483</key>
	<array>
	  <string>http://cimg23.163.com/ent/2007/12/14/200712141939005dd72.jpg</string>
	</array>
	<key>81482</key>
	<array>
	  <string>http://pic2.nipic.com/20090401/1951702_000041432_2.jpg</string>
	</array>
	<key>81481</key>
	<array>
	  <string>http://img.txooo.com/?id=621980</string>
	</array>
	<key>81480</key>
	<array>
	  <string>http://cms.eeju.com/ecms/upimg/allimg/20080607/1101091.jpg</string>
	</array>
	<key>81479</key>
	<array>
	  <string>http://photocdn.sohu.com/20060523/Img243372783.JPG</string>
	</array>
	<key>81478</key>
	<array>
	  <string>http://www.chinadaily.com.cn/hqyl/images/attachement/jpg/site1/20090325/00221917eae80b340a4836.jpg</string>
	</array>
	<key>81477</key>
	<array>
	  <string>http://www.letfind.com.cn/UploadFiles/2008-10/2008101114481179972.jpg</string>
	</array>
	<key>81476</key>
	<array>
	  <string>http://pic1a.nipic.com/2008-11-03/2008113174124212_2.jpg</string>
	</array>
	<key>81475</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1004/20091117/001372acd73d0c6c96580d.jpg</string>
	</array>
	<key>81474</key>
	<array>
	  <string>http://www.fenggang.gov.cn/shenghuo/UploadFiles_6984/200809/200893204239329.jpg</string>
	</array>
	<key>81473</key>
	<array>
	  <string>http://pic1a.nipic.com/2008-11-03/2008113175410356_2.jpg</string>
	</array>
	<key>81472</key>
	<array>
	  <string>http://pica.nipic.com/2008-05-07/20085795923464_2.jpg</string>
	</array>
	<key>81471</key>
	<array>
	  <string>http://news.xinhuanet.com/lady/2008-06/10/xin_17206051014266562547029.jpg</string>
	</array>
	<key>81470</key>
	<array>
	  <string>http://www.haotuku.com/nvmingxing/dalu/hujing/007ag.jpg</string>
	</array>
	<key>81469</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2008-09/09/xin_5730905090959640106262.jpg</string>
	</array>
	<key>81468</key>
	<array>
	  <string>http://cimg20.163.com/ent/2008/4/22/2008042218483207b0d.jpg</string>
	</array>
	<key>81467</key>
	<array>
	  <string>http://pic.wb0311.com/uploads/allimg/101217/4-10121G14G3-50.jpg</string>
	</array>
	<key>81466</key>
	<array>
	  <string>http://www.e23.cn/web/popten/upload/2010-8/201080900309.jpg</string>
	</array>
	<key>81465</key>
	<array>
	  <string>http://image.rayli.com.cn/0003/2009-11-12/images/2009111295812396.jpg</string>
	</array>
	<key>81464</key>
	<array>
	  <string>http://www.gdlady.com/uploads/allimg/081103/1259110.jpg</string>
	</array>
	<key>81463</key>
	<array>
	  <string>http://cms.eeju.com/ecms/upimg/allimg/20080607/1101090.jpg</string>
	</array>
	<key>81462</key>
	<array>
	  <string>http://www.brides.com.cn/image/ypl!/20091214/pic1260759378_93.jpg</string>
	</array>
	<key>81461</key>
	<array>
	  <string>http://ent.ce.cn/mx/tp/mlxzh/200708/07/W020070807340441376959.jpg</string>
	</array>
	<key>81460</key>
	<array>
	  <string>http://health.sg.com.cn/uploadfiles/2007/12/14/144260.jpg</string>
	</array>
	<key>81459</key>
	<array>
	  <string>http://www.yaolan.com/UpLoadFolder/Images/00news/0000E.jpg</string>
	</array>
	<key>81458</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/v/m/p/2006-06-30/U1343P28T3D1142000F329DT20060630170237.jpg</string>
	</array>
	<key>81456</key>
	<array>
	  <string>http://www.01mr.com/UpFile/2008111720131356.jpg</string>
	</array>
	<key>81457</key>
	<array>
	  <string>http://img3.pclady.com.cn/pclady/0712/13/231454_9/7667371.jpg</string>
	</array>
	<key>81455</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200811/24/F200811241429553100623711.jpg</string>
	</array>
	<key>81654</key>
	<array>
	  <string>http://oepic.oeeee.com/200812/23/67/11029157822186708111.jpg</string>
	</array>
	<key>81652</key>
	<array>
	  <string>http://img.022net.com/ImgFile/200902/04/56/13617244023902043596.jpg</string>
	</array>
	<key>81653</key>
	<array>
	  <string>http://image.ku6.com/image/201005/10/KU610133350x5nQHr.jpg</string>
	</array>
	<key>81651</key>
	<array>
	  <string>http://img.ttbz8.com/%E6%98%8E%E6%98%9F%E5%A3%81%E7%BA%B8/%E4%B8%AD%E5%9B%BD%E5%A5%B3%E6%98%8E%E6%98%9F/%E8%83%A1%E9%9D%99/1280x960/%E8%83%A1%E9%9D%99_008.jpg</string>
	</array>
	<key>81650</key>
	<array>
	  <string>http://i3.sinaimg.cn/dy/c/2008-12-31/U2596P1T1D16958183F23DT20081231201057.jpg</string>
	</array>
	<key>81648</key>
	<array>
	  <string>http://enjoy.eastday.com/e/20081011/images/04019012.JPG</string>
	</array>
	<key>81649</key>
	<array>
	  <string>http://www.bjmei.com/zxmr/UploadFiles_6785/200904/2009042211474900.jpg</string>
	</array>
</dict>
</plist>
