<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>146165</key>
	<array>
	  <string>http://img.yaplog.jp/img/05/pc/r/i/s/risawhight/17/17185.jpg</string>
	</array>
	<key>146166</key>
	<array>
	  <string>http://trendy.nikkeibp.co.jp/article/special/20080515/1011115/jo_03_px250.jpg</string>
	</array>
	<key>146167</key>
	<array>
	  <string>http://www.asahi.com/showbiz/gallery/101025tiff/images/tiff1058.jpg</string>
	</array>
	<key>146168</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110206/10/leesaito/8c/aa/j/o0800107911029798911.jpg</string>
	</array>
	<key>146169</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110517/16/yamabiko141/f4/0b/j/o0309045011233770457.jpg</string>
	</array>
	<key>146170</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110205/84563_201102050763691001296900264c.jpg</string>
	</array>
	<key>146171</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2010/02/images/12665743621.jpg</string>
	</array>
	<key>146172</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/05/13/008/images/005l.jpg</string>
	</array>
	<key>146173</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110425/20/g-skmtfs/f0/de/j/o0480031911187337431.jpg</string>
	</array>
	<key>146174</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/201101/110113_usotsuki_2.jpg</string>
	</array>
	<key>146175</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/02/12_5/04.jpg</string>
	</array>
	<key>146176</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/01/22_4/01.jpg</string>
	</array>
	<key>146177</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/05/13/008/images/004l.jpg</string>
	</array>
	<key>146178</key>
	<array>
	  <string>http://image.pia.jp/images/news/img/ORG_20080917000204.jpg</string>
	</array>
	<key>146179</key>
	<array>
	  <string>http://prt.iza.ne.jp/images/news/20100821/336666_c450.jpg</string>
	</array>
	<key>146180</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2008/11/images/12272496861.jpg</string>
	</array>
	<key>146181</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110317/20/piy-piy/69/e5/j/o0500069111111681214.jpg</string>
	</array>
	<key>146182</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/01/45/N0014590_l.jpg</string>
	</array>
	<key>146183</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110213/18/yamabiko141/df/98/j/o0299045011046332539.jpg</string>
	</array>
	<key>146184</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2010/02/images/12658109831.jpg</string>
	</array>
	<key>146185</key>
	<array>
	  <string>http://www.stereosound.co.jp/hivi/upload/newsheadline_1210376698_image1.jpg</string>
	</array>
	<key>146186</key>
	<array>
	  <string>http://www.stereosound.co.jp/hivi/idol/099/02.jpg</string>
	</array>
	<key>146187</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2010/04/images/12724591702.jpg</string>
	</array>
	<key>146188</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2010/04/images/12704379521.jpg</string>
	</array>
	<key>146189</key>
	<array>
	  <string>http://prt.iza.ne.jp/images/news/20101202/373734_c450.jpg</string>
	</array>
	<key>146190</key>
	<array>
	  <string>http://www.stereosound.co.jp/hivi/upload/newsheadline_1210376698_image4.jpg</string>
	</array>
	<key>146191</key>
	<array>
	  <string>http://www.cinematopics.com/cinema/newspic/image/110110144414.jpg</string>
	</array>
	<key>146192</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/66/f2/07f344c4c496ebacd1ca1af041163ff8.jpg</string>
	</array>
	<key>146193</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2008/12/images/12290392841.jpg</string>
	</array>
	<key>146194</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20070515/44632_1.jpg</string>
	</array>
	<key>146195</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2009/02/images/12340229791.jpg</string>
	</array>
	<key>146196</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2007/08/30/038/images/002l.jpg</string>
	</array>
	<key>146197</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2009/04/images/12389343132.jpg</string>
	</array>
	<key>146198</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/09/17/023/images/002l.jpg</string>
	</array>
	<key>146199</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/05/13/008/images/001l.jpg</string>
	</array>
	<key>146200</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2009/04/images/12393744221.jpg</string>
	</array>
	<key>146201</key>
	<array>
	  <string>http://img.ins.r25.jp/contents/plan/46/110000003646/img/1132008030601_im_01.jpg</string>
	</array>
	<key>146202</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2010/04/images/12703654381.jpg</string>
	</array>
	<key>146203</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110413/07/yamabiko141/15/ce/j/o0450033711163062230.jpg</string>
	</array>
	<key>146204</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2009/01/images/12330571681.jpg</string>
	</array>
	<key>146205</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/05/13/008/images/006l.jpg</string>
	</array>
	<key>146206</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2007/08/30/038/images/004l.jpg</string>
	</array>
	<key>146207</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2010/03/images/126966304713.jpg</string>
	</array>
	<key>146208</key>
	<array>
	  <string>http://idolcommentator.up.seesaa.net/image/oomasa.jpg</string>
	</array>
	<key>146209</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2010/02/images/12653736111.jpg</string>
	</array>
	<key>146210</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/11/23/002/images/001.jpg</string>
	</array>
	<key>146211</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/06/24/038/images/002l.jpg</string>
	</array>
	<key>146212</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20081125/60431_200811250353281001227609194c.jpg</string>
	</array>
	<key>146213</key>
	<array>
	  <string>http://mainichi.jp/enta/geinou/graph/200806/24_3/13.jpg</string>
	</array>
	<key>146214</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2008/11/images/122794780313.jpg</string>
	</array>
	<key>146215</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/05/13/008/images/002.jpg</string>
	</array>
	<key>146216</key>
	<array>
	  <string>http://journal.mycom.co.jp/articles/2008/07/05/oomasaaya/images/003l.jpg</string>
	</array>
	<key>146217</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/media/100207/med1002071202002-p1.jpg</string>
	</array>
	<key>146218</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/200805/080513_mimibukuro_main.jpg</string>
	</array>
	<key>146219</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1206/2/20101202214106_00_400.jpg</string>
	</array>
	<key>146220</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/d7/77/naruto_0569/folder/1789267/img_1789267_50589599_9?1252597422</string>
	</array>
	<key>146221</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/user/1208955790.jpg</string>
	</array>
	<key>146222</key>
	<array>
	  <string>http://blog-imgs-37-origin.fc2.com/g/e/t/getmoney15/imge274ad99zikczj.jpg</string>
	</array>
	<key>146223</key>
	<array>
	  <string>http://blog-imgs-26.fc2.com/n/a/n/nanandkattun/aya.jpg</string>
	</array>
	<key>146224</key>
	<array>
	  <string>http://ponnao.com/wp-content/uploads/2010/03/822_main_image_1259648978.jpg</string>
	</array>
	<key>146225</key>
	<array>
	  <string>http://www.stardust.co.jp/upload/talent/photo/0/24.L.jpg</string>
	</array>
	<key>146226</key>
	<array>
	  <string>http://oomasaayagazo.img.jugem.jp/20110112_1247330.jpg</string>
	</array>
	<key>146227</key>
	<array>
	  <string>http://file.kamekichinathan.blog.shinobi.jp/fb9fbbdb.jpg</string>
	</array>
	<key>146228</key>
	<array>
	  <string>http://www.stereosound.co.jp/hivi/upload/mini_newsheadline_1210376698_image1.jpg</string>
	</array>
	<key>146229</key>
	<array>
	  <string>http://idolsougou-ps.sakura.ne.jp/sblo_files/idolnikki/image/1An1A601A1A1A1A1AE1AD2E220(4)-r.JPG</string>
	</array>
	<key>146230</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/d2/bb/starmy_x/folder/1024421/img_1024421_31246972_0?1209955763</string>
	</array>
	<key>146231</key>
	<array>
	  <string>http://journal.mycom.co.jp/news/2008/11/23/002/images/001.jpg</string>
	</array>
	<key>146232</key>
	<array>
	  <string>http://gami1985.img.jugem.jp/20081110_401734.jpg</string>
	</array>
	<key>146233</key>
	<array>
	  <string>http://blog-imgs-37-origin.fc2.com/v/e/o/veohnavigator/AYA_OOMASA_001.jpeg</string>
	</array>
	<key>146234</key>
	<array>
	  <string>http://oomasaaya.img.jugem.jp/20110113_1259813.jpg</string>
	</array>
	<key>146235</key>
	<array>
	  <string>http://gami1985.img.jugem.jp/20081110_401732.jpg</string>
	</array>
	<key>146236</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/519F8Gb2HYL._SL500_AA300_.jpg</string>
	</array>
	<key>146237</key>
	<array>
	  <string>http://suk2.tok2.com/user/hojyo/img/2007-05-15-0.jpg</string>
	</array>
	<key>146238</key>
	<array>
	  <string>http://blog-imgs-24.fc2.com/r/a/s/raspberryblueberry00/20090616012342a91.jpg</string>
	</array>
	<key>146239</key>
	<array>
	  <string>http://i163.photobucket.com/albums/t302/henrydawson2007/other/1493-8.jpg</string>
	</array>
	<key>146240</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/d7/77/naruto_0569/folder/1789267/img_1789267_50589599_1?1252597422</string>
	</array>
	<key>146241</key>
	<array>
	  <string>http://pic.pimg.tw/albertayu773/4940a9693aa56.jpg</string>
	</array>
	<key>146242</key>
	<array>
	  <string>http://blog-imgs-29.fc2.com/g/e/n/gen68/11927151721.jpg</string>
	</array>
	<key>146243</key>
	<array>
	  <string>http://imgshr.jp/assets/web/img/5721.jpg</string>
	</array>
	<key>146244</key>
	<array>
	  <string>http://img299.imageshack.us/img299/2143/tokyogirlhu6.jpg</string>
	</array>
	<key>146245</key>
	<array>
	  <string>http://gami1985.img.jugem.jp/20100128_583954.jpg</string>
	</array>
	<key>146246</key>
	<array>
	  <string>http://www.sanspo.com/geino/idol/a/photo/oomasa-aya.jpg</string>
	</array>
	<key>146247</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/c/a/p/cap123/yama20100122-14.jpg</string>
	</array>
	<key>146248</key>
	<array>
	  <string>http://2ch.at/s/20mai00423426.jpg</string>
	</array>
	<key>146249</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/news/img/f-et-080512-8801-ns.jpg</string>
	</array>
	<key>146250</key>
	<array>
	  <string>http://seagz.fujitv.co.jp/person/photo/W08/W08-0803.jpg</string>
	</array>
	<key>146251</key>
	<array>
	  <string>http://journal.mycom.co.jp/articles/2008/07/05/oomasaaya/images/010l.jpg</string>
	</array>
	<key>146252</key>
	<array>
	  <string>http://idolsougou-ps.sakura.ne.jp/sblo_files/idolnikki/image/1An1A601A1A1A1A1AE1AD2E220(2)-r.JPG</string>
	</array>
	<key>146253</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/s/i/u/siuwai/100115-83611.jpg</string>
	</array>
	<key>146254</key>
	<array>
	  <string>http://w3.bs-tbs.co.jp/tokyogirl/img/story04_02.jpg</string>
	</array>
	<key>146255</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/30/0000890230/44/img015918cdzikazj.jpeg</string>
	</array>
	<key>146256</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/1e/89/takeshiba_luv_jyun2/folder/413565/img_413565_1985592_7?1271237223</string>
	</array>
	<key>146257</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100115/17/caqsule/94/4e/j/o0800045010376877436.jpg</string>
	</array>
	<key>146258</key>
	<array>
	  <string>http://gazo.galman.jp/img/07cbn_259202/%E5%A4%A7%E6%94%BF%E7%B5%A2_l.jpeg</string>
	</array>
	<key>146259</key>
	<array>
	  <string>http://gazo.galman.jp/img/09bs1_294475/%E5%A4%A7%E6%94%BF%E7%B5%A2_l.jpeg</string>
	</array>
	<key>146260</key>
	<array>
	  <string>http://oomasaya.cocolog-nifty.com/photos/uncategorized/2011/07/28/photo.jpg</string>
	</array>
	<key>146261</key>
	<array>
	  <string>http://www.star-studio.jp/aya/archives/2008/08/images/12195927271.jpg</string>
	</array>
	<key>146262</key>
	<array>
	  <string>http://www.jdorama.com/img_a/002432.jpg</string>
	</array>
	<key>146263</key>
	<array>
	  <string>http://blog-imgs-37-origin.fc2.com/v/e/o/veohnavigator/AYA_OOMASA_005.jpg</string>
	</array>
	<key>146264</key>
	<array>
	  <string>http://2ch.at/s/20mai00423415.jpg</string>
	</array>
	<key>146265</key>
	<array>
	  <string>http://www.nikkansports.com/entertainment/cinema/news/img/o-et-081122-0302-ns.jpg</string>
	</array>
	<key>146266</key>
	<array>
	  <string>http://d.hatena.ne.jp/images/keyword/101953.jpg</string>
	</array>
	<key>146267</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100114/17/caqsule/e1/c7/j/o0800045010375851681.jpg</string>
	</array>
	<key>146268</key>
	<array>
	  <string>http://gazo.galman.jp/img/09bs1_294476/%E5%A4%A7%E6%94%BF%E7%B5%A2_m.jpeg</string>
	</array>
	<key>146269</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20091217/10/caqsule/c5/cb/j/o0800045010343679784.jpg</string>
	</array>
	<key>146270</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/07/0000822607/40/img2b630bdbzikczj.jpeg</string>
	</array>
	<key>146271</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/entnews/images/20080626_02_000.jpg</string>
	</array>
	<key>146272</key>
	<array>
	  <string>http://blog-imgs-26.fc2.com/m/u/t/mutekiykz/8091.jpg</string>
	</array>
	<key>146273</key>
	<array>
	  <string>http://news.rocksbook.com/wp-content/uploads/2011/04/oomasaaya.jpg</string>
	</array>
	<key>146274</key>
	<array>
	  <string>http://2ch.at/s/20mai00423423.jpg</string>
	</array>
	<key>146275</key>
	<array>
	  <string>http://yamadah.img.jugem.jp/20110511_1818151.jpg</string>
	</array>
	<key>146276</key>
	<array>
	  <string>http://gazo.galman.jp/img/09bs1_294476/%E5%A4%A7%E6%94%BF%E7%B5%A2_l.jpeg</string>
	</array>
	<key>146277</key>
	<array>
	  <string>http://www.moviecollection.jp/_pimg.php/21369/usotsuki06.jpg</string>
	</array>
	<key>146278</key>
	<array>
	  <string>http://oomasaaya.cocolog-nifty.com/photos/uncategorized/2010/01/07/03.jpg</string>
	</array>
	<key>146279</key>
	<array>
	  <string>http://journal.mycom.co.jp/articles/2008/07/11/aya/images/006l.jpg</string>
	</array>
	<key>146280</key>
	<array>
	  <string>http://1.bp.blogspot.com/_F94IyP2wveg/S4-DWSh6JHI/AAAAAAAACbs/ups_pYGaIA8/s400/Audition_4_%E5%A4%A7%E6%94%BF%E7%B5%A2_4.jpg</string>
	</array>
	<key>146281</key>
	<array>
	  <string>http://3.bp.blogspot.com/-FCcP247dgSc/TdIzNXaBcyI/AAAAAAAAI8E/WwZ150yBxRI/s400/2.jpg</string>
	</array>
	<key>146282</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100408/20/pcan4cat/54/f1/j/t02200308_0230032210487908973.jpg</string>
	</array>
	<key>146283</key>
	<array>
	  <string>http://gazo.galman.jp/img/09bs1_294478/%E5%A4%A7%E6%94%BF%E7%B5%A2_l.jpeg</string>
	</array>
	<key>146284</key>
	<array>
	  <string>http://blog-cdn.oricon.co.jp/_images/zenigata/104/keWQrYJQiIc.jpg</string>
	</array>
	<key>146285</key>
	<array>
	  <string>http://livedoor.blogimg.jp/wxy117/imgs/3/c/3c400726.jpg</string>
	</array>
	<key>146286</key>
	<array>
	  <string>http://omasa1.img.jugem.jp/20110705_1837498.jpg</string>
	</array>
	<key>146287</key>
	<array>
	  <string>http://www.cinematopics.com/cinema/c_report/pic/image/200811/081123012355.jpg</string>
	</array>
	<key>146288</key>
	<array>
	  <string>http://stat.news.ameba.jp/news_images/20110214/18/54/b2/j/o040003450214omasa.jpg</string>
	</array>
	<key>146289</key>
	<array>
	  <string>http://blog-imgs-37.fc2.com/p/h/i/philki/main.jpg</string>
	</array>
	<key>146290</key>
	<array>
	  <string>http://gazo.galman.jp/img/09bs1_294477/%E5%A4%A7%E6%94%BF%E7%B5%A2_l.jpeg</string>
	</array>
	<key>146291</key>
	<array>
	  <string>http://proflist.jp/icon/index.php?url=http%3A%2F%2Fstar-studio.jp%2Faya%2Farchives%2Fuser%2F1208955790.jpg&amp;amp;x=240</string>
	</array>
	<key>146292</key>
	<array>
	  <string>http://img3.afpbb.com/jpegdata/main_photo/20080919/3353988.jpg</string>
	</array>
	<key>146293</key>
	<array>
	  <string>http://blog-imgs-43-origin.fc2.com/s/a/n/sandancekid/201101122151575df.jpg</string>
	</array>
	<key>146294</key>
	<array>
	  <string>http://www.stereosound.co.jp/hivi/idol/500/03.jpg</string>
	</array>
	<key>146295</key>
	<array>
	  <string>http://livedoor.blogimg.jp/wxy117/imgs/2/0/20ba11d3.jpg</string>
	</array>
	<key>146296</key>
	<array>
	  <string>http://stat.news.ameba.jp/news_images/20110409/13/e4/92/j/o040002620409oomasa.jpg</string>
	</array>
	<key>146297</key>
	<array>
	  <string>http://gazo.galman.jp/img/07cbn_259201/%E5%A4%A7%E6%94%BF%E7%B5%A2_l.jpeg</string>
	</array>
	<key>146298</key>
	<array>
	  <string>http://omasa1.img.jugem.jp/20110608_1779462.jpg</string>
	</array>
	<key>146299</key>
	<array>
	  <string>http://blog-imgs-29.fc2.com/g/e/n/gen68/12053314191.jpg</string>
	</array>
	<key>146300</key>
	<array>
	  <string>http://blog-imgs-19.fc2.com/c/m/w/cmwow/Omasa-CM0901.jpg</string>
	</array>
	<key>146301</key>
	<array>
	  <string>http://i-kao.blog.so-net.ne.jp/_images/blog/_1d3/i-kao/aya_omasa_ikao.jpg</string>
	</array>
	<key>146302</key>
	<array>
	  <string>http://a367.yahoofs.com/hkblog/092qNBacFxkm7NKKGo85wg--_1/blog/ap_20110202045905927.jpg?ib_____D8yaoLfPY</string>
	</array>
	<key>146303</key>
	<array>
	  <string>http://image.news.livedoor.com/newsimage/d/e/de191_749_021137323_2011_04_20_0_9829.jpg</string>
	</array>
	<key>146304</key>
	<array>
	  <string>http://miyasakonau.cocolog-nifty.com/blog/images/2011/04/06/photo.jpg</string>
	</array>
	<key>146305</key>
	<array>
	  <string>http://livedoor.blogimg.jp/idol777777_g/imgs/f/0/f071d7a6.jpg</string>
	</array>
	<key>146306</key>
	<array>
	  <string>http://stat.news.ameba.jp/news_images/20110420/17/ce/2b/j/o032904200_9829.jpg</string>
	</array>
	<key>146307</key>
	<array>
	  <string>http://miyasakonau.cocolog-nifty.com/blog/images/2011/04/06/1.jpg</string>
	</array>
	<key>146308</key>
	<array>
	  <string>http://contents.syncl.jp/opuru/img/upload/up_131568_max.jpg</string>
	</array>
	<key>146309</key>
	<array>
	  <string>http://gazo.picle.jp/img/00sij_73877/%E5%A4%A7%E6%94%BF%E7%B5%A2_l.jpeg</string>
	</array>
	<key>146310</key>
	<array>
	  <string>http://omasa1.img.jugem.jp/20110608_1779462_t.jpg</string>
	</array>
	<key>146311</key>
	<array>
	  <string>http://idolgraphic.com/img/model/oomasa-aya/oomasa-aya_gazou/017.jpg</string>
	</array>
	<key>146312</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/a/u/k/aukk/004_20090721184436.jpg</string>
	</array>
	<key>146313</key>
	<array>
	  <string>http://img.pics.livedoor.com/008/a/6/a676ca9e03b2da3fe48d-LL.PNG</string>
	</array>
	<key>146314</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110213/gnj1102130504008-p4.jpg</string>
	</array>
	<key>146315</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110213/05/axolotl/5e/dc/j/o0337045011045168378.jpg</string>
	</array>
	<key>146316</key>
	<array>
	  <string>http://proflist.jp/icon/index.php?url=http%3A%2F%2Fimg.news.goo.ne.jp%2Ftalent%2FMW-W08-0803.jpg&amp;amp;x=240</string>
	</array>
	<key>146317</key>
	<array>
	  <string>http://www.moviecollection.jp/_pimg.php/21702/ketai11.jpg</string>
	</array>
	<key>146318</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/entnews/images/20080723_10_000.jpg</string>
	</array>
	<key>146319</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/dvdoutlet/cabinet/reuse01/4988003997489.jpg?_ex=300x300&amp;amp;s=2&amp;amp;r=1</string>
	</array>
	<key>146320</key>
	<array>
	  <string>http://www.pict01.maho.jp/user/0005/367/197/200808/988_3_VR2EVTC0YS.jpg</string>
	</array>
	<key>146321</key>
	<array>
	  <string>http://img.47news.jp/PN/200904/PN2009042101000618.-.-.CI0003.jpg</string>
	</array>
	<key>146322</key>
	<array>
	  <string>http://oomasaayahousoujiko.up.seesaa.net/image/1404789955-thumbnail2.jpg</string>
	</array>
	<key>146323</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100115/17/caqsule/f5/6c/j/o0800045010376876438.jpg</string>
	</array>
	<key>146324</key>
	<array>
	  <string>http://blog.ap.teacup.com/ayaomasafirstpho/timg/middle_1293935006.jpg</string>
	</array>
	<key>146325</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100210/06/caqsule/f0/3f/j/o0800045010408200279.jpg</string>
	</array>
	<key>146326</key>
	<array>
	  <string>http://gd.image-gmkt.com/mi/406/641/405641406.jpg</string>
	</array>
	<key>146327</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/004/008/82/N000/000/000/photo3_yui_aragaki.jpg</string>
	</array>
	<key>146328</key>
	<array>
	  <string>http://2.bp.blogspot.com/-wNmWaxDfvJg/TdHJWOBa-vI/AAAAAAAAVn8/u2ZgmNUfxoI/s320/t.jpeg</string>
	</array>
	<key>146329</key>
	<array>
	  <string>http://news.nicovideo.jp/photo2/30416p.jpg</string>
	</array>
	<key>146330</key>
	<array>
	  <string>http://s.cinematoday.jp/res/N0/03/02/N0030282.jpg</string>
	</array>
	<key>146331</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/72/05/99d5a667223ef897dd8e89ac8a31ecd5.jpg</string>
	</array>
	<key>146332</key>
	<array>
	  <string>http://proflist.jp/icon/index.php?url=http%3A%2F%2Fjournal.mycom.co.jp%2Farticles%2F2008%2F07%2F05%2Foomasaaya%2Fimages%2F010l.jpg&amp;amp;x=240</string>
	</array>
	<key>146333</key>
	<array>
	  <string>http://www.star-studio.jp/aya/archives/2008/04/images/12084516781.jpg</string>
	</array>
	<key>146334</key>
	<array>
	  <string>http://4.bp.blogspot.com/-X0EpvtN11s4/TZ2hlbgTRBI/AAAAAAAAC4s/5QSy9OreqBk/s320/1.jpg</string>
	</array>
	<key>146335</key>
	<array>
	  <string>http://z1.tosp.co.jp/li/award2008/fsis/img-oomasa.jpg</string>
	</array>
	<key>146336</key>
	<array>
	  <string>http://img.pics.livedoor.com/009/6/0/600994bcce27d2723737-LL.png</string>
	</array>
	<key>146337</key>
	<array>
	  <string>http://blog-imgs-37-origin.fc2.com/b/b/k/bbkkss/omasa_aya-mazda-20110101-006.jpg</string>
	</array>
	<key>146338</key>
	<array>
	  <string>http://www.news-gate.jp/2011/0119/8/20110117193629_00_88.jpg</string>
	</array>
	<key>146339</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20091217/10/caqsule/a3/89/j/o0800045010343679794.jpg</string>
	</array>
	<key>146340</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100115/17/caqsule/7a/f3/j/o0800045010376877441.jpg</string>
	</array>
	<key>146341</key>
	<array>
	  <string>http://art48.photozou.jp/pub/264/654264/photo/73324984.jpg</string>
	</array>
	<key>146342</key>
	<array>
	  <string>http://oomasaayahousoujiko.up.seesaa.net/image/1350315697-thumbnail2.jpg</string>
	</array>
	<key>146343</key>
	<array>
	  <string>http://nomake-idol.com/girls109/wp-content/uploads/2011/01/526b74eb159437bba2d4db21f12461061.jpg</string>
	</array>
	<key>146344</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/110213/gnj1102130504008-p2.jpg</string>
	</array>
	<key>146345</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/j/mangazenkan_9784048949347</string>
	</array>
	<key>146346</key>
	<array>
	  <string>http://www.asahi.com/komimi/images/TKY200705160281.jpg</string>
	</array>
	<key>146347</key>
	<array>
	  <string>http://24.media.tumblr.com/tumblr_li8v1tiFkf1qzc1oko1_500.jpg</string>
	</array>
	<key>146348</key>
	<array>
	  <string>http://www.star-studio.jp/aya/archives/2009/07/images/12470584141.jpg</string>
	</array>
	<key>146349</key>
	<array>
	  <string>http://livedoor.blogimg.jp/wxy117/imgs/6/2/62b043c3.jpg</string>
	</array>
	<key>146350</key>
	<array>
	  <string>http://3.bp.blogspot.com/-1qeT6dCpmxc/TdYpFKleT5I/AAAAAAAAIAA/YtkXtcOZg5k/s320/1.jpg</string>
	</array>
	<key>146351</key>
	<array>
	  <string>http://blog-imgs-32-origin.fc2.com/j/e/j/jejunatvxq/fb9fbbdb_convert_20100407164810.jpg</string>
	</array>
	<key>146352</key>
	<array>
	  <string>http://image.eiga.k-img.com/images/buzz/25644/omasa64.jpg?3630</string>
	</array>
	<key>146353</key>
	<array>
	  <string>http://farm3.static.flickr.com/2762/4344076509_c35670897d.jpg</string>
	</array>
	<key>146354</key>
	<array>
	  <string>http://img.ctalde.net/2011/01/110102-rohto-oomasa1.jpg</string>
	</array>
	<key>146355</key>
	<array>
	  <string>http://img.b.hatena.ne.jp/entryimage/28446249-1295697607.jpg</string>
	</array>
	<key>146356</key>
	<array>
	  <string>http://nomake-idol.com/girls109/wp-content/uploads/2011/01/e7120762a6c1f9fb8fbfe033eefc1119.jpg</string>
	</array>
	<key>146357</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_lkqaagquai1qa23ffo1_500.jpg</string>
	</array>
	<key>146358</key>
	<array>
	  <string>http://star-studio.jp/aya/archives/2009/08/images/12495688121.jpg</string>
	</array>
	<key>146359</key>
	<array>
	  <string>http://idolcommentator.up.seesaa.net/image/ranko.jpg</string>
	</array>
	<key>146360</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_lgk6q1FNFQ1qdisq8o1_400.jpg</string>
	</array>
	<key>146361</key>
	<array>
	  <string>http://25.media.tumblr.com/tumblr_lgk6ox1xlq1qdisq8o1_400.jpg</string>
	</array>
	<key>146362</key>
	<array>
	  <string>http://gazo.galman.jp/img/054rv_186975/%E5%A4%A7%E6%94%BF%E7%B5%A2_l.jpeg</string>
	</array>
	<key>146363</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20110107/11/35/9b/j/o015001501294368649425.jpg</string>
	</array>
	<key>146364</key>
	<array>
	  <string>http://www.moviecollection.jp/_pimg.php/21367/usotsuki05.jpg</string>
	</array>
</array>
</plist>
