<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>113763</key>
	<array>
	  <string>http://www.sponichi.co.jp/gravure/special/ir_2008/ir_kobayashiyumi/images/KFullNormal20080727195_m.jpg</string>
	</array>
	<key>113764</key>
	<array>
	  <string>http://farm4.static.flickr.com/3262/2710273720_1529ea8e80.jpg</string>
	</array>
	<key>113765</key>
	<array>
	  <string>http://farm4.static.flickr.com/3033/2710151952_cdf82338da.jpg</string>
	</array>
	<key>113766</key>
	<array>
	  <string>http://farm4.static.flickr.com/3274/2701064878_6113d47cf5.jpg</string>
	</array>
	<key>113767</key>
	<array>
	  <string>http://itopix.jp/2007_07/yumi_kobayashi/images/01.jpg</string>
	</array>
	<key>113768</key>
	<array>
	  <string>http://farm4.static.flickr.com/3223/2709533970_8a2bb24b4a.jpg</string>
	</array>
	<key>113769</key>
	<array>
	  <string>http://itopix.jp/2008_10/yumi_kobayashi/images/05.jpg</string>
	</array>
	<key>113770</key>
	<array>
	  <string>http://farm4.static.flickr.com/3244/2701002876_0e7780c673.jpg</string>
	</array>
	<key>113771</key>
	<array>
	  <string>http://home.att.ne.jp/yellow/sapphire/models/images/YumiUno.jpg</string>
	</array>
	<key>113772</key>
	<array>
	  <string>http://farm4.static.flickr.com/3141/2701131720_44d7b9c332.jpg</string>
	</array>
	<key>113773</key>
	<array>
	  <string>http://farm4.static.flickr.com/3280/2700183621_0db5602316.jpg</string>
	</array>
	<key>113774</key>
	<array>
	  <string>http://farm4.static.flickr.com/3078/2897657231_5e5cc6067a.jpg</string>
	</array>
	<key>113775</key>
	<array>
	  <string>http://farm4.static.flickr.com/3267/2713300378_572d2ca6d8.jpg</string>
	</array>
	<key>113776</key>
	<array>
	  <string>http://farm4.static.flickr.com/3032/2715208555_f8a6cabb82.jpg</string>
	</array>
	<key>113777</key>
	<array>
	  <string>http://farm4.static.flickr.com/3029/2709710886_a37448306a.jpg</string>
	</array>
	<key>113778</key>
	<array>
	  <string>http://www.miss-magazine.com/semi2007/img/007_3.jpg</string>
	</array>
	<key>113779</key>
	<array>
	  <string>http://f.hatena.ne.jp/images/fotolife/m/michi0/20070227/20070227215717.jpg</string>
	</array>
	<key>113780</key>
	<array>
	  <string>http://itopix.jp/2007_01/yumi_kobayashi/images/04.jpg</string>
	</array>
	<key>113781</key>
	<array>
	  <string>http://farm4.static.flickr.com/3210/2984073264_4e2bbef7ca.jpg</string>
	</array>
	<key>113782</key>
	<array>
	  <string>http://farm4.static.flickr.com/3018/2715473249_ef4520c05c.jpg</string>
	</array>
	<key>113783</key>
	<array>
	  <string>http://farm4.static.flickr.com/3123/2713568066_29a18456cd.jpg</string>
	</array>
	<key>113784</key>
	<array>
	  <string>http://farm3.static.flickr.com/2385/2709760266_076f4a01a8.jpg</string>
	</array>
	<key>113785</key>
	<array>
	  <string>http://farm4.static.flickr.com/3114/2709476033_732e8f4483.jpg</string>
	</array>
	<key>113786</key>
	<array>
	  <string>http://farm3.static.flickr.com/2245/2700182633_ed4b1c5b93.jpg</string>
	</array>
	<key>113787</key>
	<array>
	  <string>http://farm4.static.flickr.com/3221/2730349367_0bc67f6106.jpg</string>
	</array>
	<key>113788</key>
	<array>
	  <string>http://itopix.jp/2008_10/yumi_kobayashi/images/10.jpg</string>
	</array>
	<key>113789</key>
	<array>
	  <string>http://farm4.static.flickr.com/3138/2709620918_8fb71bfc58.jpg</string>
	</array>
	<key>113790</key>
	<array>
	  <string>http://itopix.jp/2007_01/yumi_kobayashi/images/main_photo.jpg</string>
	</array>
	<key>113791</key>
	<array>
	  <string>http://farm4.static.flickr.com/3133/2799686194_e1de13e081.jpg</string>
	</array>
	<key>113792</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/j/jinke/20070120/20070120171334.jpg</string>
	</array>
	<key>113793</key>
	<array>
	  <string>http://okuni.blog.so-net.ne.jp/_images/blog/_e73/okuni/081201.jpg</string>
	</array>
	<key>113794</key>
	<array>
	  <string>http://farm3.static.flickr.com/2162/2417676477_c2fdd7d6f5.jpg</string>
	</array>
	<key>113795</key>
	<array>
	  <string>http://farm4.static.flickr.com/3010/2713836606_955bc682c8.jpg</string>
	</array>
	<key>113796</key>
	<array>
	  <string>http://farm4.static.flickr.com/3283/2716286820_668c923d1c.jpg</string>
	</array>
	<key>113797</key>
	<array>
	  <string>http://farm4.static.flickr.com/3291/2898499786_f0680cd2fa.jpg</string>
	</array>
	<key>113798</key>
	<array>
	  <string>http://farm4.static.flickr.com/3156/2700187319_544088ded4.jpg</string>
	</array>
	<key>113799</key>
	<array>
	  <string>http://www.miss-magazine.com/semi2007/img/007_2.jpg</string>
	</array>
	<key>113800</key>
	<array>
	  <string>http://farm4.static.flickr.com/3120/2701064706_b302694c59.jpg</string>
	</array>
	<key>113801</key>
	<array>
	  <string>http://farm4.static.flickr.com/3131/2708984349_0f7ef92a41.jpg</string>
	</array>
	<key>113802</key>
	<array>
	  <string>http://farm1.static.flickr.com/114/296472474_485838168d.jpg</string>
	</array>
	<key>113803</key>
	<array>
	  <string>http://farm4.static.flickr.com/3228/2716325066_3a15b631b4.jpg</string>
	</array>
	<key>113804</key>
	<array>
	  <string>http://farm4.static.flickr.com/3291/2708643707_fd12f52405.jpg</string>
	</array>
	<key>113805</key>
	<array>
	  <string>http://farm4.static.flickr.com/3053/2708906483_9b930c8543.jpg</string>
	</array>
	<key>113806</key>
	<array>
	  <string>http://farm4.static.flickr.com/3060/2715349655_d36c56299c.jpg</string>
	</array>
	<key>113807</key>
	<array>
	  <string>http://farm4.static.flickr.com/3034/2709756072_9b35f151f9.jpg</string>
	</array>
	<key>113808</key>
	<array>
	  <string>http://farm4.static.flickr.com/3198/2701113316_bec61ccb31.jpg</string>
	</array>
	<key>113809</key>
	<array>
	  <string>http://farm4.static.flickr.com/3118/2709556158_7221bb1178.jpg</string>
	</array>
	<key>113810</key>
	<array>
	  <string>http://itopix.jp/2008_10/yumi_kobayashi/images/main_photo.jpg</string>
	</array>
	<key>113811</key>
	<array>
	  <string>http://farm4.static.flickr.com/3163/2700186887_2752c59dc5.jpg</string>
	</array>
	<key>113812</key>
	<array>
	  <string>http://itopix.jp/2007_07/yumi_kobayashi/images/main_photo.jpg</string>
	</array>
	<key>113813</key>
	<array>
	  <string>http://farm4.static.flickr.com/3254/2709282819_eff6c73f62.jpg</string>
	</array>
	<key>113814</key>
	<array>
	  <string>http://farm4.static.flickr.com/3159/2715705461_3fb42fe400.jpg</string>
	</array>
	<key>113815</key>
	<array>
	  <string>http://farm4.static.flickr.com/3288/2708770483_fe74858e7c.jpg</string>
	</array>
	<key>113816</key>
	<array>
	  <string>http://farm4.static.flickr.com/3136/2715227015_02faa3fb7b.jpg</string>
	</array>
	<key>113817</key>
	<array>
	  <string>http://farm4.static.flickr.com/3195/2713771616_2b5be81ded.jpg</string>
	</array>
	<key>113818</key>
	<array>
	  <string>http://farm4.static.flickr.com/3023/2730279533_c86e6a1bcf.jpg</string>
	</array>
	<key>113819</key>
	<array>
	  <string>http://farm4.static.flickr.com/3221/2731007692_48ffb84c17.jpg</string>
	</array>
	<key>113820</key>
	<array>
	  <string>http://farm4.static.flickr.com/3273/2715511351_d5304be432.jpg</string>
	</array>
	<key>113821</key>
	<array>
	  <string>http://www.miss-magazine.com/semi2007/img/007.jpg</string>
	</array>
	<key>113822</key>
	<array>
	  <string>http://farm4.static.flickr.com/3221/2799706520_1548b9dc9d.jpg</string>
	</array>
	<key>113823</key>
	<array>
	  <string>http://www.webburning.com/yumi_kobayashi/img/kobayashi_profile.jpg</string>
	</array>
	<key>113824</key>
	<array>
	  <string>http://farm1.static.flickr.com/106/296472445_e1bf143f5f.jpg</string>
	</array>
	<key>113825</key>
	<array>
	  <string>http://farm4.static.flickr.com/3012/2418492316_de5219213e.jpg</string>
	</array>
	<key>113826</key>
	<array>
	  <string>http://farm4.static.flickr.com/3232/2700631955_4c978de8c6.jpg</string>
	</array>
	<key>113827</key>
	<array>
	  <string>http://farm4.static.flickr.com/3063/2700631663_fb963db3c3.jpg</string>
	</array>
	<key>113828</key>
	<array>
	  <string>http://farm4.static.flickr.com/3124/2731007848_5a3e3b7700.jpg</string>
	</array>
	<key>113829</key>
	<array>
	  <string>http://farm4.static.flickr.com/3282/2730484273_6878488924.jpg</string>
	</array>
	<key>113830</key>
	<array>
	  <string>http://farm4.static.flickr.com/3118/2716397224_957a800e97.jpg</string>
	</array>
	<key>113831</key>
	<array>
	  <string>http://farm3.static.flickr.com/2348/2730415513_cdcdeeaed1.jpg</string>
	</array>
	<key>113832</key>
	<array>
	  <string>http://f.hatena.ne.jp/images/fotolife/m/michi0/20070227/20070227215718.jpg</string>
	</array>
	<key>113833</key>
	<array>
	  <string>http://bb.goo.ne.jp/special/grapro/photo/movie/gravure_movie/kobayashi_yumi/l.jpg</string>
	</array>
	<key>113834</key>
	<array>
	  <string>http://farm4.static.flickr.com/3291/2730936804_bc24aa028e.jpg</string>
	</array>
	<key>113835</key>
	<array>
	  <string>http://farm4.static.flickr.com/3201/2709264049_103aaf0091.jpg</string>
	</array>
	<key>113836</key>
	<array>
	  <string>http://farm4.static.flickr.com/3131/2713869762_0fd3c8eb7d.jpg</string>
	</array>
	<key>113837</key>
	<array>
	  <string>http://farm4.static.flickr.com/3008/2712220341_077b52e4ea.jpg</string>
	</array>
	<key>113838</key>
	<array>
	  <string>http://farm4.static.flickr.com/3137/2716459270_0b4135799c.jpg</string>
	</array>
	<key>113839</key>
	<array>
	  <string>http://farm4.static.flickr.com/3086/2730430293_0641fd65e4.jpg</string>
	</array>
	<key>113840</key>
	<array>
	  <string>http://itopix.jp/2008_10/yumi_kobayashi/images/04.jpg</string>
	</array>
	<key>113841</key>
	<array>
	  <string>http://farm4.static.flickr.com/3080/2709710746_57d581d5e4.jpg</string>
	</array>
	<key>113842</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/090317/tnr0903172034014-p1.jpg</string>
	</array>
	<key>113843</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/economy/business/081201/biz0812011639008-p1.jpg</string>
	</array>
	<key>113844</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/economy/business/100103/biz1001031242002-p1.jpg</string>
	</array>
	<key>113845</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/economy/business/100108/biz1001081521021-p1.jpg</string>
	</array>
	<key>113846</key>
	<array>
	  <string>http://www.diamondblog.jp/yumi_kobayashi/wp-content/themes/yumi_kobayashi/images/prof.jpg</string>
	</array>
	<key>113847</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/71/0000458271/93/img92b9e219zik5zj.jpeg</string>
	</array>
	<key>113848</key>
	<array>
	  <string>http://www.genkosha.com/cmblog/images/%E7%AC%AC23%E4%BB%A3%E3%82%A2%E3%82%B5%E3%83%92%E3%83%93%E3%83%BC%E3%83%AB%E3%82%A4%E3%83%A1%E3%83%BC%E3%82%B8%E3%82%AD%E3%83%A3%E3%83%A9%E3%82%AF%E3%82%BF%E3%83%BC%E3%81%AE%E5%B0%8F%E6%9E%97%E5%84%AA%E7%BE%8E%E3%81%9</string>
	</array>
	<key>113849</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0d/db/hikkii2006/folder/667582/img_667582_8809173_0?1235205087</string>
	</array>
	<key>113850</key>
	<array>
	  <string>http://bcimg2-a.dena.ne.jp/bc21/u6621425/yumi1.jpg</string>
	</array>
	<key>113851</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51zLIkH9rzL._SL500_AA300_.jpg</string>
	</array>
	<key>113852</key>
	<array>
	  <string>http://www.tanteifile.com/geinou/scoop_2008/08/29_01/image/03.jpg</string>
	</array>
	<key>113853</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0d/db/hikkii2006/folder/667582/img_667582_8809173_3?1235205087</string>
	</array>
	<key>113854</key>
	<array>
	  <string>http://livedoor.blogimg.jp/nari888_ooo/imgs/2/f/2f8fadcd.jpg</string>
	</array>
	<key>113855</key>
	<array>
	  <string>http://item.rental.rakuten.co.jp/data/90/6b/1033436_l.jpg</string>
	</array>
	<key>113856</key>
	<array>
	  <string>http://livedoor.blogimg.jp/nari888_ooo/imgs/b/8/b812d230.jpg</string>
	</array>
	<key>113857</key>
	<array>
	  <string>http://www.sponichi.co.jp/gravure/special/ir_2008/ir_kobayashiyumi/images/KFullNormal20080727195_m.jpg</string>
	</array>
	<key>113858</key>
	<array>
	  <string>http://gaju.jp/img/2007/KobayashiYumi-20070707-2.jpg</string>
	</array>
	<key>113859</key>
	<array>
	  <string>http://kobe-collection.com/model/images/kobayasi.jpg</string>
	</array>
	<key>113860</key>
	<array>
	  <string>http://www.diamondblog.jp/yumi_kobayashi/wp-photos/20100331_1836.jpg</string>
	</array>
	<key>113861</key>
	<array>
	  <string>http://img.f.hatena.ne.jp/images/fotolife/R/REDDEVILS/20070107/20070107142953.jpg</string>
	</array>
	<key>113862</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51xPGnabI4L.jpg</string>
	</array>
	<key>113863</key>
	<array>
	  <string>http://okuni.blog.so-net.ne.jp/_images/blog/_e73/okuni/081201b-a35b8.jpg</string>
	</array>
	<key>113864</key>
	<array>
	  <string>http://forest.kinokuniya.co.jp/img/itemL/015/4571211592005.jpg</string>
	</array>
	<key>113865</key>
	<array>
	  <string>http://img.sina.com.hk/news/13/2008/1203/1228290898_QGcfds.jpg</string>
	</array>
	<key>113866</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/2008_07/image/g2008071814kobayashi05.jpg</string>
	</array>
	<key>113867</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0d/db/hikkii2006/folder/667582/img_667582_8809173_1?1235205087</string>
	</array>
	<key>113868</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/87/kobe-audition3/1166439066979.jpg</string>
	</array>
	<key>113869</key>
	<array>
	  <string>http://okuni.blog.so-net.ne.jp/_images/blog/_e73/okuni/081201.jpg</string>
	</array>
	<key>113870</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/2008_07/image/g2008071814kobayashi01.jpg</string>
	</array>
	<key>113871</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/016/243/67/N000/000/000/124715083847016422926.jpg</string>
	</array>
	<key>113872</key>
	<array>
	  <string>http://i.s-woman.net/pinky/sp/princess08_2/image/07.jpg</string>
	</array>
	<key>113873</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/R/REDDEVILS/20070107/20070107143011.jpg</string>
	</array>
	<key>113874</key>
	<array>
	  <string>http://28.media.tumblr.com/hXmeK5bHngbtku5al5ksL6roo1_400.jpg</string>
	</array>
	<key>113875</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/r/reirei01/20080723/20080723013028.jpg</string>
	</array>
	<key>113876</key>
	<array>
	  <string>http://imgl-a.dena.ne.jp/exl3/20100112/67/149853780_3.jpg</string>
	</array>
	<key>113877</key>
	<array>
	  <string>http://www.head-room.co.jp/photo/face/kobayashi-yumi.jpg</string>
	</array>
	<key>113878</key>
	<array>
	  <string>http://bookweb.kinokuniya.co.jp/vimgdata/4571211592005.jpg</string>
	</array>
	<key>113879</key>
	<array>
	  <string>http://blog.fmokinawa.co.jp/forpm/090511-guest.jpg</string>
	</array>
	<key>113880</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/49/0000460949/68/img50d08d87zik8zj.jpeg</string>
	</array>
	<key>113881</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/200903/image/g2009030413ashahi02.jpg</string>
	</array>
	<key>113882</key>
	<array>
	  <string>http://seagz.fujitv.co.jp/person/photo/W07/W07-1212.jpg</string>
	</array>
	<key>113883</key>
	<array>
	  <string>http://28.media.tumblr.com/8IlXhxNVZodaxpt1EniMkJXio1_400.jpg</string>
	</array>
	<key>113884</key>
	<array>
	  <string>http://img.recordchina.co.jp/imgout.php?m=5&amp;amp;img=cfp391421961.jpg&amp;amp;s=104906&amp;amp;u=</string>
	</array>
	<key>113885</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0d/db/hikkii2006/folder/667582/img_667582_8809173_2?1235205087</string>
	</array>
	<key>113886</key>
	<array>
	  <string>http://www.scramble-egg.com/artist/event07/i01/1kobayashi_yumi01.jpg</string>
	</array>
	<key>113887</key>
	<array>
	  <string>http://pics.static-showtime.jp/genre/download/20070921/g18dlt060709210107416/sample01.jpg</string>
	</array>
	<key>113888</key>
	<array>
	  <string>http://i.ytimg.com/vi/McQcYZjqdkI/0.jpg</string>
	</array>
	<key>113889</key>
	<array>
	  <string>http://www.scramble-egg.com/artist/event07/i01/1kobayashi_yumi02.jpg</string>
	</array>
	<key>113890</key>
	<array>
	  <string>http://img.movies.yahoo.co.jp/pict/rental_limg/f9/61/248246.jpg</string>
	</array>
	<key>113891</key>
	<array>
	  <string>http://img.f.hatena.ne.jp/images/fotolife/j/jinke/20070120/20070120180254.jpg</string>
	</array>
	<key>113892</key>
	<array>
	  <string>http://img.movies.yahoo.co.jp/pict/rental_limg/8a/d0/170328.jpg</string>
	</array>
	<key>113893</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/252/14753419.jpg</string>
	</array>
	<key>113894</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51hHKeCVK6L._SL500_SS100_.jpg</string>
	</array>
	<key>113895</key>
	<array>
	  <string>http://www.tsutaya.co.jp/images/jacket/00318/4949726300598_1L.jpg</string>
	</array>
	<key>113896</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/44/0000236644/67/img26559224zikbzj.jpeg</string>
	</array>
	<key>113897</key>
	<array>
	  <string>http://www.webburning.com/yumi_kobayashi/img/kobayashi_profile.jpg</string>
	</array>
	<key>113898</key>
	<array>
	  <string>http://www.asayan.com/ais/img/s18/kobayashi.jpg</string>
	</array>
	<key>113899</key>
	<array>
	  <string>http://29.media.tumblr.com/Y4gkbLOqVodakmwsfbBSx3sko1_400.jpg</string>
	</array>
	<key>113900</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51hHKeCVK6L._SL160_AA115_.jpg</string>
	</array>
	<key>113901</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/57/7c/10977dc2572574c10c2deb75b0700176.jpg</string>
	</array>
	<key>113902</key>
	<array>
	  <string>http://vsearch.c.yimg.jp/image?id=bc96c5e8ed9c9c9bb80b12a0443c4346</string>
	</array>
	<key>113903</key>
	<array>
	  <string>http://gazo.galman.jp/img/07cbn_224166/%E5%B0%8F%E6%9E%97%E5%84%AA%E7%BE%8E_l.jpeg</string>
	</array>
	<key>113904</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/51zIuiYNlJL._SS400_.jpg</string>
	</array>
	<key>113905</key>
	<array>
	  <string>http://gazo.galman.jp/img/07cbn_224163/%E5%B0%8F%E6%9E%97%E5%84%AA%E7%BE%8E_l.jpeg</string>
	</array>
	<key>113906</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/g/e-dvd-store_dmsm-7200</string>
	</array>
	<key>113907</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/R/REDDEVILS/20070107/20070107182435.jpg</string>
	</array>
	<key>113908</key>
	<array>
	  <string>http://laff.jp/old_system/ssm/images/698501.jpg</string>
	</array>
	<key>113909</key>
	<array>
	  <string>http://www.goo-net.com/goopassport/goo_mail_back/20090325/img/at_pht03.jpg</string>
	</array>
	<key>113910</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/51hHKeCVK6L._SS160_.jpg</string>
	</array>
	<key>113911</key>
	<array>
	  <string>http://1.bp.blogspot.com/-AST9fYoHG_I/TV9jy2FZowI/AAAAAAAAG6c/veuLNfsXX24/s1600/18.jpg</string>
	</array>
	<key>113912</key>
	<array>
	  <string>http://i4.ytimg.com/vi/mGtqmUsw7xQ/0.jpg</string>
	</array>
	<key>113913</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/32335.jpg</string>
	</array>
	<key>113914</key>
	<array>
	  <string>http://gazo.galman.jp/img/07cbn_204880/%E5%B0%8F%E6%9E%97%E5%84%AA%E7%BE%8E_l.jpeg</string>
	</array>
	<key>113915</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100122/18/3480853/00/00/j/t02200168_0633048410384959029.jpg</string>
	</array>
	<key>113916</key>
	<array>
	  <string>http://s3.amazonaws.com/cogolo_faces/%E5%B0%8F%E6%9E%97%E5%84%AA%E7%BE%8E/imgs/image.space.rakuten.co.jp/lg01/71/0000458271/92/img17a046c2zikazj.jpeg</string>
	</array>
	<key>113917</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/i/idolink3/20080822/20080822112017.jpg</string>
	</array>
	<key>113918</key>
	<array>
	  <string>http://www.toyamacafe.net/images/upload/ntj/000671_1.jpg</string>
	</array>
	<key>113919</key>
	<array>
	  <string>http://www.daily.co.jp/gossip/article/02397550.jpg</string>
	</array>
	<key>113920</key>
	<array>
	  <string>http://image4.photohighway.co.jp/Z062/738/photos/middle/10821884357qz1.jpg</string>
	</array>
	<key>113921</key>
	<array>
	  <string>http://image.jp.real.com/shupurenet/image/b3/p_179_576_432.jpg</string>
	</array>
	<key>113922</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/200812/image/g2008120220kobayashi01.jpg</string>
	</array>
	<key>113923</key>
	<array>
	  <string>http://gazo.galman.jp/img/07cbn_204881/%E5%B0%8F%E6%9E%97%E5%84%AA%E7%BE%8E_l.jpeg</string>
	</array>
	<key>113924</key>
	<array>
	  <string>http://shupure-net.shueisha.co.jp/classics/images/1102kobayashi/01.jpg</string>
	</array>
	<key>113925</key>
	<array>
	  <string>http://kabegami-desk.net/blog/images/20090104203209.jpg</string>
	</array>
	<key>113926</key>
	<array>
	  <string>http://ehfgrf999.cocolog-nifty.com/blog/images/2011/02/23/g2009030413ashahi01_b.jpg</string>
	</array>
	<key>113927</key>
	<array>
	  <string>http://img3.woopie.jp/getdata.php?pid=1304f18q10e1e</string>
	</array>
	<key>113928</key>
	<array>
	  <string>http://tgc.st/11SS/model/_ka/kobayashi_y/img/pic_01.jpg</string>
	</array>
	<key>113929</key>
	<array>
	  <string>http://24.media.tumblr.com/8IlXhxNVZqrjg4rmSZtRX9voo1_400.jpg</string>
	</array>
	<key>113930</key>
	<array>
	  <string>http://bb.goo.ne.jp/special/grapro/photo/movie/gravure_movie/kobayashi_yumi/l.jpg</string>
	</array>
	<key>113931</key>
	<array>
	  <string>http://gazo.galman.jp/img/07cbn_168831/%E5%B0%8F%E6%9E%97%E5%84%AA%E7%BE%8E_l.jpeg</string>
	</array>
	<key>113932</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/200903/image/g2009030413ashahi01.jpg</string>
	</array>
	<key>113933</key>
	<array>
	  <string>http://livedoor.blogimg.jp/b7f/imgs/1/2/12e851c8.PNG</string>
	</array>
	<key>113934</key>
	<array>
	  <string>http://laff.jp/old_system/ssm/images/698527.jpg</string>
	</array>
	<key>113935</key>
	<array>
	  <string>http://chiba.nohvas-juku.com/matsudo/img/p_292.jpg</string>
	</array>
	<key>113936</key>
	<array>
	  <string>http://ehfgrf999.cocolog-nifty.com/blog/images/2011/02/23/2701131720_44d7b9c332.jpg</string>
	</array>
	<key>113937</key>
	<array>
	  <string>http://www.bitway.ne.jp/search/img/1059/img_btw_11993.jpg</string>
	</array>
	<key>113938</key>
	<array>
	  <string>http://gazo.galman.jp/img/07cbn_224165/%E5%B0%8F%E6%9E%97%E5%84%AA%E7%BE%8E_l.jpeg</string>
	</array>
	<key>113939</key>
	<array>
	  <string>http://yumitime.laff.jp/blog/images/2010/03/25/2010_3_25_022.jpg</string>
	</array>
	<key>113940</key>
	<array>
	  <string>http://blog.mbc.co.jp/photos/uncategorized/2009/04/21/staff090501_1.jpg</string>
	</array>
	<key>113941</key>
	<array>
	  <string>http://www.safetv.me/image/1jj8_VlRVEo/default.jpg</string>
	</array>
	<key>113942</key>
	<array>
	  <string>http://momloveu.com/yumi-kobayashi/index.files/image3411.jpg</string>
	</array>
	<key>113943</key>
	<array>
	  <string>http://blog-imgs-15-origin.fc2.com/t/h/a/thashimoto/m-yumikobayashi0103c.jpg</string>
	</array>
	<key>113944</key>
	<array>
	  <string>http://gaju.jp/img/2007/KobayashiYumi-20070707-1.jpg</string>
	</array>
	<key>113945</key>
	<array>
	  <string>http://www.scramble-egg.com/artist/event06/i12/zkobayashi_yumi08.jpg</string>
	</array>
	<key>113946</key>
	<array>
	  <string>http://f.hatena.ne.jp/images/fotolife/m/mirror3/20101109/20101109005728.jpg</string>
	</array>
	<key>113947</key>
	<array>
	  <string>http://farm1.static.flickr.com/102/296472535_c7b7dcd473.jpg</string>
	</array>
	<key>113948</key>
	<array>
	  <string>http://taiyaki77asp.blog.so-net.ne.jp/_images/blog/_733/taiyaki77asp/E5B08FE69E97E584AAE7BE8EEFBC91-e6226.jpg</string>
	</array>
	<key>113949</key>
	<array>
	  <string>http://i.ytimg.com/vi/4XRP45oY530/default.jpg</string>
	</array>
	<key>113950</key>
	<array>
	  <string>http://www.sponichi.co.jp/osaka/ente/200903/19/images/ente05.jpg</string>
	</array>
	<key>113951</key>
	<array>
	  <string>http://image4.photohighway.co.jp/Z062/738/photos/middle/7312023753qz6.jpg</string>
	</array>
	<key>113952</key>
	<array>
	  <string>http://yipev.com/data/img2/20110415121316/thumb_maawudsv7y6roxo7z6ubmfe5.png</string>
	</array>
	<key>113953</key>
	<array>
	  <string>http://yipev.com/data/img2/20110415121316/view_maawudsv7y6roxo7z6ubmfe5.png</string>
	</array>
	<key>113954</key>
	<array>
	  <string>http://search.yoshimoto.co.jp/actor_prf/3265.jpg</string>
	</array>
	<key>113955</key>
	<array>
	  <string>http://vtps.c.yimg.jp/im_siggCvWab_e9kvD9bBOodm9m.A---x280-y210/vtps/ofpl/20110414/u4da6a325e4830f310000cf1416f5.jpg</string>
	</array>
	<key>113956</key>
	<array>
	  <string>http://www.joeufm.co.jp/today/back/parts/0903/0309.gif</string>
	</array>
	<key>113957</key>
	<array>
	  <string>http://l15img.chip.jp/uimg/t/togjgn/1/cfiwp0msgbA.jpg</string>
	</array>
	<key>113958</key>
	<array>
	  <string>http://yumitime.laff.jp/blog/images/2010/03/25/2010_3_25_017.jpg</string>
	</array>
	<key>113959</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/d/e-dvd-store_dmsm-7200</string>
	</array>
	<key>113960</key>
	<array>
	  <string>http://farm4.static.flickr.com/3141/2701131720_44d7b9c332.jpg</string>
	</array>
	<key>113961</key>
	<array>
	  <string>http://28.media.tumblr.com/tumblr_lm2a8mYLCD1qbw5qso1_500.jpg</string>
	</array>
	<key>113962</key>
	<array>
	  <string>http://www.u-side.jp/lsty/46/img/p1/p1_12.jpg</string>
	</array>
</dict>
</plist>
