<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>140365</key>
	<array>
	  <string>http://blog-imgs-44.fc2.com/s/t/u/stuartjapan/201105230901320de.jpg</string>
	</array>
	<key>140366</key>
	<array>
	  <string>http://www.sheeee.com/attachments/2009/06/12/37438_200906121236241.jpg</string>
	</array>
	<key>140367</key>
	<array>
	  <string>http://2.bp.blogspot.com/_3oyWtnQqwIs/TM4gSiTLeFI/AAAAAAAABPQ/OoTcqyDYngI/s1600/03.jpg</string>
	</array>
	<key>140368</key>
	<array>
	  <string>http://img.businesstimes.com.hk/articleimgs/82/82683-.jpg</string>
	</array>
	<key>140369</key>
	<array>
	  <string>http://www.epochtimes.com/i6/911191136031487.jpg</string>
	</array>
	<key>140370</key>
	<array>
	  <string>http://140.116.32.212/joomlamusic/images/stories/1.jpg</string>
	</array>
	<key>140371</key>
	<array>
	  <string>http://2.bp.blogspot.com/_sbBIpTDyT18/TBDSHaBW4oI/AAAAAAAAACs/25GJdpXhpLM/s1600/%E5%8A%89%E5%BE%B7%E8%8F%AF.jpg</string>
	</array>
	<key>140372</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2006/07/25/eo060725976.jpg</string>
	</array>
	<key>140373</key>
	<array>
	  <string>http://pic.pimg.tw/vbuy/4ae9c14005d95.jpg</string>
	</array>
	<key>140374</key>
	<array>
	  <string>http://www.elle.com.hk/var/ellehk/storage/images/celebrity/news/%E5%8A%89%E5%BE%B7%E8%8F%AF%E3%80%8Clove-hope%E6%84%9B%E5%BF%83%E6%8E%A2%E8%A8%AA%E3%80%8D/%E5%8A%89%E5%BE%B7%E8%8F%AFlove-hope%E6%84%9B%E5%BF%83%E6%8E%A2%E8%A8%AA/1092957-1-chi-HK/%E5%8A%89%</string>
	</array>
	<key>140375</key>
	<array>
	  <string>http://0.blog.xuite.net/0/5/9/6/20456245/blog_1188171/txt/18875080/7.jpg</string>
	</array>
	<key>140376</key>
	<array>
	  <string>http://big5.citygf.com/gate/big5/ent.gz163.cn/images/star/gtxw/2011/6/17/1A2B235B82204223B75D3175A0DB47E6.jpg</string>
	</array>
	<key>140377</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200710/17/F200710171020111074913403.jpg</string>
	</array>
	<key>140378</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2009/04/16430360917.jpg</string>
	</array>
	<key>140379</key>
	<array>
	  <string>http://big5.sznews.com/zbjd/images/attachement/jpg/site3/20090703/001558d8be910bb7e77912.jpg</string>
	</array>
	<key>140380</key>
	<array>
	  <string>http://www3.365shu.com/images3/wall/20061012/andy029.jpg</string>
	</array>
	<key>140381</key>
	<array>
	  <string>http://1811.img.pp.sohu.com.cn/images/blog/2009/8/27/18/22/12409361aa8g214.jpg</string>
	</array>
	<key>140382</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/09/145319263793.jpg</string>
	</array>
	<key>140383</key>
	<array>
	  <string>http://3.bp.blogspot.com/_sbBIpTDyT18/TBGqNLyfF2I/AAAAAAAAAC0/I_fNBHwGrTU/s1600/%E5%8A%89%E5%BE%B7%E8%8F%AF2.jpg</string>
	</array>
	<key>140384</key>
	<array>
	  <string>http://news.xinhuanet.com/audio/2010-09/17/12580085_11n.jpg</string>
	</array>
	<key>140385</key>
	<array>
	  <string>http://tw.aboluowang.com/ent/data/uploadfile/200702/20070201170504803.jpg</string>
	</array>
	<key>140386</key>
	<array>
	  <string>http://news.xinhuanet.com/audio/2008-05/12/xinsrc_552050512155326581592.jpg</string>
	</array>
	<key>140387</key>
	<array>
	  <string>http://i32.tinypic.com/2nrniv9.jpg</string>
	</array>
	<key>140388</key>
	<array>
	  <string>http://sports.sinchew-i.com/files/2008/07/26/1wahEN04_004.JPG</string>
	</array>
	<key>140389</key>
	<array>
	  <string>http://m1.aboluowang.com/news/data/uploadfile/200706/20070621183909590.jpg</string>
	</array>
	<key>140390</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200908/11/F200908110818022907124758.jpg</string>
	</array>
	<key>140391</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2009/02/10/eo090210870.jpg</string>
	</array>
	<key>140392</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/04/003630533424.jpg</string>
	</array>
	<key>140393</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2007/11/12/U2507P28T3D1775785F326DT20071103163010.jpg</string>
	</array>
	<key>140394</key>
	<array>
	  <string>http://www.csie.ntu.edu.tw/~r99922018/hw/dip/%E5%8A%89%E5%BE%B7%E8%8F%AF.jpg</string>
	</array>
	<key>140395</key>
	<array>
	  <string>http://m1.aboluowang.com/ent/data/uploadfile/200806/20080616210510932.jpg</string>
	</array>
	<key>140396</key>
	<array>
	  <string>http://news.xinhuanet.com/overseas/2006-08/31/xinsrc_1720803310802515111035.jpg</string>
	</array>
	<key>140397</key>
	<array>
	  <string>http://yn.xinhuanet.com/ent/2007-04/08/xin_370404081031171111035.jpg</string>
	</array>
	<key>140398</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/126/85147.jpg</string>
	</array>
	<key>140399</key>
	<array>
	  <string>http://www.gcpnews.com/images/pool/2009-03/5efddba3112c0df6a91026fdd7d92256.jpg</string>
	</array>
	<key>140400</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200811/18/F200811181416372686521670.jpg</string>
	</array>
	<key>140401</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/64s/3495276.jpg</string>
	</array>
	<key>140402</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/12/064137790480.jpg</string>
	</array>
	<key>140403</key>
	<array>
	  <string>http://www.ce.cn/xwzx/xwrwzhk/peoplemore/200610/31/W020061031344295013997.jpg</string>
	</array>
	<key>140404</key>
	<array>
	  <string>http://picbig5.jxnews.com.cn/0/02/25/89/2258982_579337.jpg</string>
	</array>
	<key>140405</key>
	<array>
	  <string>http://big5.sznews.com/ent/images/attachement/jpg/site3/20090417/0014224750740b52143e27.jpg</string>
	</array>
	<key>140406</key>
	<array>
	  <string>http://img.blog.cctv.com/attachments/2008/10/202635_200810122109345.jpg</string>
	</array>
	<key>140407</key>
	<array>
	  <string>http://yn.xinhuanet.com/ent/2009-04/07/xin_59304060711427181231635.jpg</string>
	</array>
	<key>140408</key>
	<array>
	  <string>http://big5.eastday.com:82/gate/big5/enjoy.eastday.com/e/20071204/images/01141799.jpg</string>
	</array>
	<key>140409</key>
	<array>
	  <string>http://www.big5.gog.com.cn/pic/0/10/42/95/10429508_013926.jpg</string>
	</array>
	<key>140410</key>
	<array>
	  <string>http://i.eimg.com.tw/d/artist/54/154.300.jpg?ver=366</string>
	</array>
	<key>140411</key>
	<array>
	  <string>http://idoimg.3mt.com.cn/Article/upload/200805/080504233041200.jpg</string>
	</array>
	<key>140412</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/64s/3803194.jpg</string>
	</array>
	<key>140413</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/image_2008/10/175227524868.jpg</string>
	</array>
	<key>140414</key>
	<array>
	  <string>http://m1.aboluowang.com/ent/data/uploadfile/200805/20080503205614119.jpg</string>
	</array>
	<key>140415</key>
	<array>
	  <string>http://news.xinhuanet.com/audio/2007-04/10/xinsrc_0420404101000984254611.jpg</string>
	</array>
	<key>140416</key>
	<array>
	  <string>http://farm2.static.flickr.com/1085/727019095_a211bd7d2e.jpg</string>
	</array>
	<key>140417</key>
	<array>
	  <string>http://big5.china.com/gate/big5/imgblog.china.com/u/080501/138502/pic/12117859350611.jpg</string>
	</array>
	<key>140418</key>
	<array>
	  <string>http://m1.aboluowang.com/ent/data/uploadfile/200712/2007121021322168.jpg</string>
	</array>
	<key>140419</key>
	<array>
	  <string>http://news.xinhuanet.com/book/2008-01/12/xinsrc_29201051214359061938212.jpg</string>
	</array>
	<key>140420</key>
	<array>
	  <string>http://vsearch.c.yimg.jp/image?id=f6986b6fb69b3bb254ced7d5355179cd</string>
	</array>
	<key>140421</key>
	<array>
	  <string>http://pic09.sdnews.com.cn/NewsImg/2009/11/10/U2423P8T1D932396F914DT20091109150033.jpg</string>
	</array>
	<key>140422</key>
	<array>
	  <string>http://www.montblanc.co.jp/media/art_culture/2003_hongkong_lau.jpg</string>
	</array>
	<key>140423</key>
	<array>
	  <string>http://big5.china.com/gate/big5/img001.photo.21cn.com/photos/album/20090422/o/6370795E8BD218C25487C1FB7B97CAD1.jpg</string>
	</array>
	<key>140424</key>
	<array>
	  <string>http://gate.sinovision.net:82/gate/big5/www.sinovision.net/attachments/2010/04/23/5531197324bd1b66e46f46.jpg</string>
	</array>
	<key>140425</key>
	<array>
	  <string>http://blog.ce.cn/sp1/blog_attachments/2007/12/102304_200712311545091.jpg</string>
	</array>
	<key>140426</key>
	<array>
	  <string>http://www.newsancai.com/images/stories/photos/2007-11-08-Fun-2.jpg</string>
	</array>
	<key>140427</key>
	<array>
	  <string>http://big5.ifeng.com/gate/big5/res.ent.ifeng.com/attachments/2010/04/12/rd_or_4e4417ecebb015c80ed18b93055ac66f.jpg</string>
	</array>
	<key>140428</key>
	<array>
	  <string>http://big5.ifeng.com/gate/big5/piaocn.com/images/201102281298886349.jpg</string>
	</array>
	<key>140429</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2009/03/05/ee090305011.jpg</string>
	</array>
	<key>140430</key>
	<array>
	  <string>http://news.cctv.com/20080228/images/1204194436002_11345181357786464501.jpg</string>
	</array>
	<key>140431</key>
	<array>
	  <string>http://shoppingimg.jchere.com/showimage.asp?imgpath=2006619102949/2006618194931107676.jpg&amp;amp;smallimg=2006619102949/2006618194931107676.jpg&amp;amp;cl=2</string>
	</array>
	<key>140432</key>
	<array>
	  <string>http://pic.big5.dbw.cn/0/00/17/87/178787_508016.jpg</string>
	</array>
	<key>140433</key>
	<array>
	  <string>http://album.udn.com/community/img/PSN_PHOTO/lms1029/f_5259241_1.jpg</string>
	</array>
	<key>140434</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1b02271q117c0a</string>
	</array>
	<key>140435</key>
	<array>
	  <string>http://img4.woopie.jp/getdata.php?pid=1a0245fq110417</string>
	</array>
	<key>140436</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/126/27841495.jpg</string>
	</array>
	<key>140437</key>
	<array>
	  <string>http://news.xinhuanet.com/tai_gang_ao/2005-11/30/xin_25211023010475931897710.jpg</string>
	</array>
	<key>140438</key>
	<array>
	  <string>http://yn.xinhuanet.com/ent/2007-04/19/xin_5904041910125932668118.jpg</string>
	</array>
	<key>140439</key>
	<array>
	  <string>http://www.epochtimes.com/i6/504242835910.jpg</string>
	</array>
	<key>140440</key>
	<array>
	  <string>http://www.elle.com.hk/var/ellehk/storage/images/celebrity/news/andy-lau-and-girlfriend-appear-together-hand-in-hand-publicly/1324498-1-chi-HK/%E5%8A%89%E5%BE%B7%E8%8F%AF%E6%AD%A3%E5%BC%8F%E6%89%BF%E8%AA%8D%E6%9C%B1%E9%BA%97%E5%80%A9%E5%9C%B0%E4%BD%8D-%E6</string>
	</array>
	<key>140441</key>
	<array>
	  <string>http://big5.eastday.com:82/gate/big5/enjoy.eastday.com/e/20070821/images/01050358.jpg</string>
	</array>
	<key>140442</key>
	<array>
	  <string>http://shoppingimg.jchere.com/showimage.asp?imgpath=200661995740/20066181741548833854.jpg&amp;amp;smallimg=200661995740/20066181741548833854.jpg&amp;amp;cl=2</string>
	</array>
	<key>140443</key>
	<array>
	  <string>http://kungfutube.info/wp-content/uploads/act/1986-LuckyStarsGoPlaces-a05.jpg</string>
	</array>
	<key>140444</key>
	<array>
	  <string>http://kungfutube.info/wp-content/uploads/act/1988-InTheBlood-a01.jpg</string>
	</array>
	<key>140445</key>
	<array>
	  <string>http://img.sina.com.hk/news/13/2008/0610/1213083938_6GhD7T.jpg</string>
	</array>
	<key>140446</key>
	<array>
	  <string>http://ksjook.com/hk/list/_lau_tw.jpg</string>
	</array>
	<key>140447</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2010/02/24/35/18092866145904100155.jpg</string>
	</array>
	<key>140448</key>
	<array>
	  <string>http://yn.xinhuanet.com/ent/2009-05/19/xin_1330506191017468161757.jpg</string>
	</array>
	<key>140449</key>
	<array>
	  <string>http://big5.china.com/gate/big5/ent.china.com/zh_cn/star/news/11052670/20080417/images/2008041713044785876500.jpg</string>
	</array>
	<key>140450</key>
	<array>
	  <string>http://pic.sdnews.com.cn/NewsImg/2006-8-31/U1223P28T3D1224129F326DT20060830212946.JPG</string>
	</array>
	<key>140451</key>
	<array>
	  <string>http://big5.eastday.com:82/gate/big5/61.129.89.199:8088/img/200902/17/91/910185600277792495.jpg</string>
	</array>
	<key>140452</key>
	<array>
	  <string>http://shoppingimg.jchere.com/showimage.asp?imgpath=200661995740/20066181742198802448.jpg&amp;amp;cl=1</string>
	</array>
	<key>140453</key>
	<array>
	  <string>http://ent.people.com.cn/mediafile/200706/20/F200706200919472380125888.jpg</string>
	</array>
	<key>140454</key>
	<array>
	  <string>http://kungfutube.info/wp-content/uploads/act/1985-TwinkleTwinkleLuckyStars-a09.jpg</string>
	</array>
	<key>140455</key>
	<array>
	  <string>http://pic.pimg.tw/enjoylivenice/49d540382baa5.jpg</string>
	</array>
	<key>140456</key>
	<array>
	  <string>http://www.appleactionews.com/images/e-paper/20071225/large/EE0705H.jpg</string>
	</array>
	<key>140457</key>
	<array>
	  <string>http://ent.sg.com.cn/uploadfiles/2008/8/22/200882240500536705643AE8AEFEAD82907CD7A.jpg</string>
	</array>
	<key>140458</key>
	<array>
	  <string>http://yn.xinhuanet.com/ent/2008-12/15/xin_26312051509510462810012.jpg</string>
	</array>
	<key>140459</key>
	<array>
	  <string>http://1nextweekly.com/blog/wp-content/themes/mimbo2/images/andylau2.jpg</string>
	</array>
	<key>140460</key>
	<array>
	  <string>http://archive.5stone.net/gameimg/8kk_1762.gif</string>
	</array>
	<key>140461</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/3/26/U2184P28T3D1961583F326DT20080326100012.jpg</string>
	</array>
	<key>140462</key>
	<array>
	  <string>http://www.geniv.com/ako888/gallery/lau_andy/1.jpg</string>
	</array>
	<key>140463</key>
	<array>
	  <string>http://pic.big5.dbw.cn/0/02/48/39/2483903_931182.jpg</string>
	</array>
	<key>140464</key>
	<array>
	  <string>http://news.xinhuanet.com/ent/2003-06/20/xin_d135d6a8df864f579707ac4c0d7cd56a.jpg</string>
	</array>
	<key>140465</key>
	<array>
	  <string>http://tw.v3.news.yimg.com/xp/yahookimo/20070704/18/3997211069.jpg</string>
	</array>
	<key>140466</key>
	<array>
	  <string>http://www.ce.cn/xwzx/gnsz/gdxw/200701/09/W020070109419725677478.jpg</string>
	</array>
	<key>140467</key>
	<array>
	  <string>http://big5.sznews.com/ent/images/attachement/jpg/site3/20080730/00142247507409fa050950.jpg</string>
	</array>
	<key>140468</key>
	<array>
	  <string>http://vsearch.c.yimg.jp/image?id=e7104ef955965cbd31b6cc97779022cf</string>
	</array>
	<key>140469</key>
	<array>
	  <string>http://specials.mingpao.com/htm/andylau/dat/int/20041229/image/4c29ma03.jpg</string>
	</array>
	<key>140470</key>
	<array>
	  <string>http://www.stnn.cc:82/ent_focus/200903/W020090326441253853274.jpg</string>
	</array>
	<key>140471</key>
	<array>
	  <string>http://images.china.cn/attachement/jpg/site1000/20070926/00115b52c3100864309503.jpg</string>
	</array>
	<key>140472</key>
	<array>
	  <string>http://www.appleactionews.com/images/e-paper/20080104/large/EE0707A.jpg</string>
	</array>
	<key>140473</key>
	<array>
	  <string>http://infinitypage.com/img/167437-%E5%8A%89%E5%BE%B7%E8%8F%AF-AndyLau--%E6%84%9B%E6%84%8F%EF%BC%88%E9%9F%93%E5%9B%BD%E7%89%88%EF%BC%89.jpg</string>
	</array>
	<key>140474</key>
	<array>
	  <string>http://i3.ytimg.com/vi/N1oXKgNDB1Y/default.jpg</string>
	</array>
	<key>140475</key>
	<array>
	  <string>http://3.bp.blogspot.com/_Cvv_ZTpamd4/SH0xEyh8O0I/AAAAAAAAAKE/AOiQPUHcNwg/s400/andylau1.jpg</string>
	</array>
	<key>140476</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1404b10qcbf17</string>
	</array>
	<key>140477</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/4/23/U1343P28T3D1999683F329DT20080423075142.jpg</string>
	</array>
	<key>140478</key>
	<array>
	  <string>http://news.xinhuanet.com/audio/2008-05/15/xinsrc_1220505150908765737717.jpg</string>
	</array>
	<key>140479</key>
	<array>
	  <string>http://yn.xinhuanet.com/ent/2008-02/21/xin_25302052112007961653931.jpg</string>
	</array>
	<key>140480</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2007/11/12/U1145P28T3D1783218F358DT20071108072843.jpg</string>
	</array>
	<key>140481</key>
	<array>
	  <string>http://farm4.static.flickr.com/5051/5508925832_7640b9dc32.jpg</string>
	</array>
	<key>140482</key>
	<array>
	  <string>http://image.uncyc.org/zh-tw/2/29/%E5%8A%89%E5%BE%B7%E8%8F%AF%E7%89%B9%E5%AF%AB%E7%85%A7.PNG</string>
	</array>
	<key>140483</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/126/3803278.jpg</string>
	</array>
	<key>140484</key>
	<array>
	  <string>http://news.xinhuanet.com/audio/2007-09/29/xinsrc_0120904290918140701820.jpg</string>
	</array>
	<key>140485</key>
	<array>
	  <string>http://tn-skr.smilevideo.jp/smile?i=6517228</string>
	</array>
	<key>140486</key>
	<array>
	  <string>http://tn-skr2.smilevideo.jp/smile?i=6516665</string>
	</array>
	<key>140487</key>
	<array>
	  <string>http://www.big5.huanbohainews.com.cn/pic/0/10/30/80/10308084_990106.jpg</string>
	</array>
	<key>140488</key>
	<array>
	  <string>http://marselip.files.wordpress.com/2009/02/2008127134242157.jpg</string>
	</array>
	<key>140489</key>
	<array>
	  <string>http://img.sina.com.hk/news/13/2009/0302/1235954349_1H9YsL.jpg</string>
	</array>
	<key>140490</key>
	<array>
	  <string>http://newpicbig5.jxnews.com.cn/0/11/04/06/11040623_154795.jpg</string>
	</array>
	<key>140491</key>
	<array>
	  <string>http://image.tpwang.net/image/%E5%8A%89/artist-%E5%8A%89%E5%BE%B7%E8%8F%AF/%E5%8A%89%E5%BE%B7%E8%8F%AF6652.jpg</string>
	</array>
	<key>140492</key>
	<array>
	  <string>http://s.verywed.com/s1/2008/12/31/1230693866_b7914288ecf0433ff54715a117c88e6b.jpeg</string>
	</array>
	<key>140493</key>
	<array>
	  <string>http://yn.xinhuanet.com/ent/2008-05/06/xin_2430505061019171876515.jpg</string>
	</array>
	<key>140494</key>
	<array>
	  <string>http://pic.big5.anhuinews.com/0/01/33/00/1330020_046548.jpg</string>
	</array>
	<key>140495</key>
	<array>
	  <string>http://i2.ytimg.com/vi/56lFKH3TFQM/default.jpg</string>
	</array>
	<key>140496</key>
	<array>
	  <string>http://i.ytimg.com/vi/br8_OBt8Jj8/default.jpg</string>
	</array>
	<key>140497</key>
	<array>
	  <string>http://tw.v3.news.yimg.com/xp/yahookimo/20070613/15/3490543398.jpg</string>
	</array>
	<key>140498</key>
	<array>
	  <string>http://www.ne.jp/asahi/betty/boop/shanghaiga2.JPG</string>
	</array>
	<key>140499</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/1f/0e/f59ce351cf00679c9db2bccd0d4f9bba.jpg</string>
	</array>
	<key>140500</key>
	<array>
	  <string>http://www11.plala.or.jp/pureluck/photo3.gif</string>
	</array>
	<key>140501</key>
	<array>
	  <string>http://kungfutube.info/wp-content/uploads/music/jcx022.jpg</string>
	</array>
	<key>140502</key>
	<array>
	  <string>http://www.vidibu.com/thumb.php?vid=UDUxUUFpNGhHZ1ktXy15b3V0dWJl</string>
	</array>
	<key>140503</key>
	<array>
	  <string>http://yn.xinhuanet.com/ent/2007-06/18/xin_420604181347968774814.jpg</string>
	</array>
	<key>140504</key>
	<array>
	  <string>http://goodcd.ocnk.net/data/goodcd/_/70726f647563742f363438303165363839362e6a70670031323000.png</string>
	</array>
	<key>140505</key>
	<array>
	  <string>http://big5.eastday.com:82/gate/big5/enjoy.eastday.com/e/20081106/images/04152009.JPG</string>
	</array>
	<key>140506</key>
	<array>
	  <string>http://i1.ce.cn/ce/kjwh/ylmb/ylysj/201004/15/W020100415416859386552.jpg</string>
	</array>
	<key>140507</key>
	<array>
	  <string>http://tn-skr1.smilevideo.jp/smile?i=7839244</string>
	</array>
	<key>140508</key>
	<array>
	  <string>http://i1.ytimg.com/vi/PtMSYSVAn2U/default.jpg</string>
	</array>
	<key>140509</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1b03814q38011</string>
	</array>
	<key>140510</key>
	<array>
	  <string>http://cq.xinhuanet.com/photonews/2007-02/02/xin_380204021025328126811.jpg</string>
	</array>
	<key>140511</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2009/1/1/U1234P28T3D2323663F329DT20081231172238.jpg</string>
	</array>
	<key>140512</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/77/15/184db2611a1c38b1757443763a95f1e0.png</string>
	</array>
	<key>140513</key>
	<array>
	  <string>http://www.safetv.me/image/PLgzUyFVfNQ/default.jpg</string>
	</array>
	<key>140514</key>
	<array>
	  <string>http://big5.china.com/gate/big5/fun.china.com/zh_cn/movie/news/205/20060724/images/13489230_2006072411211168848400.jpg</string>
	</array>
	<key>140515</key>
	<array>
	  <string>http://farm4.static.flickr.com/3304/3487535049_bae1f43292_s.jpg</string>
	</array>
	<key>140516</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2009/03/24/ee090324009.jpg</string>
	</array>
	<key>140517</key>
	<array>
	  <string>http://121.img.pp.sohu.com/images/blog/2008/2/17/22/26/118c55bbb9c.jpg</string>
	</array>
	<key>140518</key>
	<array>
	  <string>http://blog-imgs-21.fc2.com/c/h/i/chinoiserie/20080415003635.jpg</string>
	</array>
	<key>140519</key>
	<array>
	  <string>http://www.yn.xinhua.org/ent/2008-05/23/xin_5530505230922812104396.jpg</string>
	</array>
	<key>140520</key>
	<array>
	  <string>http://i2.ytimg.com/vi/owk52BjC77U/2.jpg</string>
	</array>
	<key>140521</key>
	<array>
	  <string>http://blog-imgs-44.fc2.com/s/t/u/stuartjapan/2011052223560331d.jpg</string>
	</array>
	<key>140522</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200801/04/69/a0109969_19261028.jpg</string>
	</array>
	<key>140523</key>
	<array>
	  <string>http://www.newsancai.com/images/stories/photos/angela/player/20070629-1.jpg</string>
	</array>
	<key>140524</key>
	<array>
	  <string>http://img38.pixiv.net/img/jordy/mobile/13834322_87ms.jpg</string>
	</array>
	<key>140525</key>
	<array>
	  <string>http://photos.pchome.com.tw/s03/n/a/nai900564/book11/p122315802467.jpg</string>
	</array>
	<key>140526</key>
	<array>
	  <string>http://yn.xinhuanet.com/ent/2009-08/21/xin_473080621125098465627.jpg</string>
	</array>
	<key>140527</key>
	<array>
	  <string>http://blog-imgs-47.fc2.com/a/2/a/a2a2cook/20101119232601bd9.jpg</string>
	</array>
	<key>140528</key>
	<array>
	  <string>http://specials.mingpao.com/htm/andylau/dat/int/20040812/image/12mo01.jpg</string>
	</array>
	<key>140529</key>
	<array>
	  <string>http://farm4.static.flickr.com/3342/3487549003_f638fdc189.jpg</string>
	</array>
	<key>140530</key>
	<array>
	  <string>http://farm4.static.flickr.com/3414/3488362186_3c33a1736d.jpg</string>
	</array>
	<key>140531</key>
	<array>
	  <string>http://picbig5.jxnews.com.cn/0/02/27/01/2270151_020199.jpg</string>
	</array>
	<key>140532</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/64/6595801.jpg</string>
	</array>
	<key>140533</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2007/8/6/U2223P28T3D1665233F358DT20070806101628.jpg</string>
	</array>
	<key>140534</key>
	<array>
	  <string>http://img2.brokore.com/imx/movieboard/upload/hua080821_03.jpg</string>
	</array>
	<key>140535</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/c/h/i/china8/100910shengao_37.jpg</string>
	</array>
	<key>140536</key>
	<array>
	  <string>http://masaokato.jp/img/2010/11/txwz75.jpg</string>
	</array>
	<key>140537</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/59/ea/67ebb5e1556e60b38c3ec913e408eada.jpg</string>
	</array>
	<key>140538</key>
	<array>
	  <string>http://bp3.blogger.com/_fvVnba_Cgbc/SChM3IN9bVI/AAAAAAAAAvM/s0-0RizoQmE/s320/andy.jpg</string>
	</array>
	<key>140539</key>
	<array>
	  <string>http://img.yaplog.jp/img/08/pc/p/a/r/paradoxblog/0/744.jpg</string>
	</array>
	<key>140540</key>
	<array>
	  <string>http://img.blogs.yahoo.co.jp/ybi/1/f0/4c/monkey166842000/folder/10531/img_10531_6070_0_thumb?1154952984</string>
	</array>
	<key>140541</key>
	<array>
	  <string>http://big5.eastday.com:82/gate/big5/61.129.89.199:8088/img/200901/27/51/1408264654906397487.jpg</string>
	</array>
	<key>140542</key>
	<array>
	  <string>http://www11.plala.or.jp/pureluck/photo2.gif</string>
	</array>
	<key>140543</key>
	<array>
	  <string>http://static2.dmcdn.net/static/video/885/022/20220588:jpeg_preview_medium.jpg?20100803214405</string>
	</array>
	<key>140544</key>
	<array>
	  <string>http://img.yaplog.jp/img/08/pc/p/a/r/paradoxblog/0/738.jpg</string>
	</array>
	<key>140545</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/1/25/U996P28T3D1891583F326DT20080125094834.jpg</string>
	</array>
	<key>140546</key>
	<array>
	  <string>http://big5.cnfol.com/big5/img2.cache.netease.com/ent/2009/1/22/2009012204161143509.jpg</string>
	</array>
	<key>140547</key>
	<array>
	  <string>http://www.yn.xinhuanet.com/ent/2006-10/31/xin_051003311013765291787.jpg</string>
	</array>
	<key>140548</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/thumbnail/3f/d6/baaf571c1455b37d04703ec20e654ad7_s.jpg</string>
	</array>
	<key>140549</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/thumbnail/27/cc/d0adc25f9f919fe1a6cb7c4fcaba6419_s.jpg</string>
	</array>
	<key>140550</key>
	<array>
	  <string>http://g4.ykimg.com/0100641F464BBC301B78B5000006E62FC5A472-B93A-E6B5-E9E5-00F8FCD1E63D</string>
	</array>
	<key>140551</key>
	<array>
	  <string>http://www.1001asiancelebrities.com/wp-content/uploads/2007/06/andy-lau.jpg</string>
	</array>
	<key>140552</key>
	<array>
	  <string>http://blog.udn.com/community/img/PSN_ARTICLE/MONHER/f_3322043_1.jpg</string>
	</array>
	<key>140553</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/64s/3803278.jpg</string>
	</array>
	<key>140554</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200507/18/39/c0027539_2115962.jpg</string>
	</array>
	<key>140555</key>
	<array>
	  <string>http://blog-imgs-27-origin.fc2.com/c/h/i/china8/081123_mingxingqiansheng_15.jpg</string>
	</array>
	<key>140556</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/b2/c1/chauheong/folder/1472208/img_1472208_61526658_0?1303720086</string>
	</array>
	<key>140557</key>
	<array>
	  <string>http://shinowazuri.cocolog-nifty.com/memo/images/2010/11/05/2648.jpg</string>
	</array>
	<key>140558</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/3f/01/590ad5f8c9cbd10cf9c4a0ffeb7209b3.jpg</string>
	</array>
	<key>140559</key>
	<array>
	  <string>http://news.brokore.com/filestorage/hua071107_02.jpg</string>
	</array>
	<key>140560</key>
	<array>
	  <string>http://www.geocities.jp/rerere_jmax/cast/a/Andy_Lau.jpg</string>
	</array>
	<key>140561</key>
	<array>
	  <string>http://yaplog.jp/cv/paradoxblog/img/578/img20070213_p.jpg</string>
	</array>
	<key>140562</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200507/13/44/c0042344_1814157.jpg</string>
	</array>
	<key>140563</key>
	<array>
	  <string>http://image.blog.livedoor.jp/riehk/imgs/5/b/5bad5b0f.jpg</string>
	</array>
	<key>140564</key>
	<array>
	  <string>http://tod.cocolog-nifty.com/photos/uncategorized/2008/05/18/andylau01.jpg</string>
	</array>
</dict>
</plist>
