<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>33440</key>
	<array>
	  <string>http://natalie.mu/media/1102/0210/extra/news_large_Notyet_COZA501_A.jpg</string>
	</array>
	<key>33441</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110409/03/kurosawa405/38/9c/j/o0450030011154733253.jpg</string>
	</array>
	<key>33442</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110409/03/kurosawa405/22/84/j/o0720047711154733001.jpg</string>
	</array>
	<key>33443</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110121/22/oshima-y/64/b8/j/o0800048010997231016.jpg</string>
	</array>
	<key>33444</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110409/03/kurosawa405/a5/41/j/o0478072011154732732.jpg</string>
	</array>
	<key>33445</key>
	<array>
	  <string>http://natalie.mu/media/1102/0210/extra/news_large_Notyet_COZA503_B.jpg</string>
	</array>
	<key>33446</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/05/15_3/05.jpg</string>
	</array>
	<key>33447</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110517/14/kurosawa405/a1/15/j/o0450032811233618423.jpg</string>
	</array>
	<key>33448</key>
	<array>
	  <string>http://www.sponichi.co.jp/entertainment/news/2011/05/15/jpeg/G20110515000823520_view.jpg</string>
	</array>
	<key>33449</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110323/21/furuichikazuki/12/e1/j/o0800053111121717869.jpg</string>
	</array>
	<key>33450</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110228/23/oshima-y/91/7d/j/o0800048011081798000.jpg</string>
	</array>
	<key>33451</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110323/21/furuichikazuki/f4/7c/j/o0680102411121720284.jpg</string>
	</array>
	<key>33452</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110124/84160_201101240401661001295846231c.jpg</string>
	</array>
	<key>33453</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110409/08/kurosawa405/e4/33/j/o0720047711154886279.jpg</string>
	</array>
	<key>33454</key>
	<array>
	  <string>http://natalie.mu/media/1102/0210/extra/news_large_Notyet_COCA16454_C.jpg</string>
	</array>
	<key>33455</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/05/14_12/06.jpg</string>
	</array>
	<key>33456</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/05/15_3/09.jpg</string>
	</array>
	<key>33457</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110322/18/masayuki0614/0e/44/j/o0606037911119699672.jpg</string>
	</array>
	<key>33459</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110316/22/oshima-y/03/20/j/o0800040011110700082.jpg</string>
	</array>
	<key>33460</key>
	<array>
	  <string>http://natalie.mu/media/1101/0121/extra/news_large_notyet_live1.jpg</string>
	</array>
	<key>33461</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/05/14_12/07.jpg</string>
	</array>
	<key>33462</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110517/14/kurosawa405/e7/b6/j/o0450031311233618628.jpg</string>
	</array>
	<key>33463</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110517/14/kurosawa405/d4/64/j/o0450029911233618716.jpg</string>
	</array>
	<key>33464</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110517/14/kurosawa405/59/af/j/o0450032011233618545.jpg</string>
	</array>
	<key>33465</key>
	<array>
	  <string>http://natalie.mu/media/1101/0121/extra/news_large_notyet_live3.jpg</string>
	</array>
	<key>33466</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/gallery/2011/05/14_12/05.jpg</string>
	</array>
	<key>33467</key>
	<array>
	  <string>http://natalie.mu/media/1101/0121/extra/news_large_notyet_live2.jpg</string>
	</array>
	<key>33468</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110517/14/kurosawa405/d4/1e/j/o0450029911233618880.jpg</string>
	</array>
	<key>33469</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/61lxviuwFML._SL500_AA300_.jpg</string>
	</array>
	<key>33470</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000067201/notyet_1.jpg</string>
	</array>
	<key>33471</key>
	<array>
	  <string>http://www.yomiuriland.co.jp/event/notyet.jpg</string>
	</array>
	<key>33472</key>
	<array>
	  <string>http://3.bp.blogspot.com/-SiAZllOhWU0/TWER4TkEi5I/AAAAAAAAAN0/2Vk2AuXuCHU/s1600/20110220_not_yet1.jpg</string>
	</array>
	<key>33473</key>
	<array>
	  <string>https://lh6.googleusercontent.com/-GnjcrdBmXhQ/TXDpxlTDiNI/AAAAAAAAASY/TlMNjOaX7PE/s1600/20110304_not_yet1.jpg</string>
	</array>
	<key>33474</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110121/22/oshima-y/64/b8/j/o0800048010997231016.jpg</string>
	</array>
	<key>33475</key>
	<array>
	  <string>http://sekine.dip.jp/shop_pages/aks/not%20yet%20type-b.jpg</string>
	</array>
	<key>33476</key>
	<array>
	  <string>http://4.bp.blogspot.com/-3xklUDRsu9g/TViWBerHteI/AAAAAAAAAJ8/6JMGMhEO0cA/s1600/NotYet-cover2.jpg</string>
	</array>
	<key>33477</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201101/24/notyet.jpg</string>
	</array>
	<key>33478</key>
	<array>
	  <string>http://defumon.blog.so-net.ne.jp/_images/blog/_3db/defumon/Not_yet_004-f9ab9.jpg</string>
	</array>
	<key>33479</key>
	<array>
	  <string>http://www.tokyohive.com/wp-content/uploads/2011/01/011121_notyet2.jpeg</string>
	</array>
	<key>33480</key>
	<array>
	  <string>https://lh3.googleusercontent.com/-sfZTMJW9jkQ/TXMnZUVOvSI/AAAAAAAAATU/h4AjGJjWtQE/s400/20110306_not_yet1.jpg</string>
	</array>
	<key>33481</key>
	<array>
	  <string>http://2.bp.blogspot.com/-9ANvRa3zci8/TVzkV_VDSxI/AAAAAAAAAZ0/4CQTQ8JqQFE/s1600/00.jpg</string>
	</array>
	<key>33482</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/w/a/l/wallpapermania/notyet2.jpg</string>
	</array>
	<key>33483</key>
	<array>
	  <string>http://trench56.s292.xrea.com/img/not_yet.jpg</string>
	</array>
	<key>33484</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/y/u/i/yui1208honane/B004K6.jpg</string>
	</array>
	<key>33485</key>
	<array>
	  <string>http://blog.shinseido.co.jp/tokuten/2011/0316Not%20yet%E3%82%A2%E3%83%BC%E5%86%99.jpg</string>
	</array>
	<key>33486</key>
	<array>
	  <string>http://blog-imgs-45.fc2.com/y/u/i/yui1208honane/B004K.jpg</string>
	</array>
	<key>33487</key>
	<array>
	  <string>http://1.bp.blogspot.com/-xtMczFHiMyM/TbMDg3wkB6I/AAAAAAAAAIU/jyXrNXZFFso/s1600/cover.JPG</string>
	</array>
	<key>33488</key>
	<array>
	  <string>http://blog-imgs-38-origin.fc2.com/k/a/n/kanami91/20110131152731089.jpg</string>
	</array>
	<key>33489</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/m/michinao/20110123/20110123020220.png</string>
	</array>
	<key>33490</key>
	<array>
	  <string>http://3.bp.blogspot.com/-KKkJWZCktGc/TViWsnPRR9I/AAAAAAAAAKA/REyM5vUF-fs/s1600/NotYet-cover3.jpg</string>
	</array>
	<key>33491</key>
	<array>
	  <string>http://techgarage-s4.cocolog-nifty.com/photos/uncategorized/2011/03/20/not_yet.jpg</string>
	</array>
	<key>33492</key>
	<array>
	  <string>http://www.musicman-net.com/blog/photo2/Not-yet110216.jpg</string>
	</array>
	<key>33493</key>
	<array>
	  <string>http://www.hotexpress.co.jp/news/110310_notyet/img/notyet_110310_ap.jpg</string>
	</array>
	<key>33494</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110304/23/hot-hot-summer/d2/dc/j/o0467030811090259405.jpg</string>
	</array>
	<key>33495</key>
	<array>
	  <string>http://www.downloaddude.info/images/ogaku-Music-MP3/not-yet-pv.jpg</string>
	</array>
	<key>33496</key>
	<array>
	  <string>http://columbia.jp/notyet/template/logo.png</string>
	</array>
	<key>33497</key>
	<array>
	  <string>http://stat.news.ameba.jp/news_images/20110522/07/84/69/j/o04000309img20110514notyet1.jpg</string>
	</array>
	<key>33498</key>
	<array>
	  <string>http://mantan-web.jp/assets/images/2011/01/24/20110124dog00m200014000c_250.jpg</string>
	</array>
	<key>33499</key>
	<array>
	  <string>http://image.portphoto.com/img/0etoi_160349/%EF%BC%AE%EF%BD%8F%EF%BD%94+%EF%BD%99%EF%BD%85%EF%BD%94.jpeg</string>
	</array>
	<key>33500</key>
	<array>
	  <string>http://www.littleoslo.com/lyj/home/wp-content/uploads/2011/02/003.jpg</string>
	</array>
	<key>33501</key>
	<array>
	  <string>http://www.downloaddude.info/images/Movie-MV-PV/Not-yet-naminori-rikaki-koori-Type-A-B.jpg</string>
	</array>
	<key>33502</key>
	<array>
	  <string>http://1.bp.blogspot.com/-59W8vdlFGtI/TezLySzGyAI/AAAAAAAABhY/Qk1xDlgPkDI/s1600/20110606_not_yet1.jpg</string>
	</array>
	<key>33503</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/o/n/e/onestepbeyooond/2011_01_22_notyet_01.jpg</string>
	</array>
	<key>33504</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110216/19/kamekiti39/b3/f1/j/o0500037511054034765.jpg</string>
	</array>
	<key>33505</key>
	<array>
	  <string>http://tokyonewarrival.com/img/site/notyet-110307.gif</string>
	</array>
	<key>33506</key>
	<array>
	  <string>http://popcornlove.org/wp-content/uploads/2011/03/Shuumatsu-Not-yet-Type-A-CD+DVD-Cover.jpg</string>
	</array>
	<key>33507</key>
	<array>
	  <string>http://popcornlove.org/wp-content/uploads/2011/03/Shuumatsu-Not-yet-Type-C-CD+PB-Cover.jpg</string>
	</array>
	<key>33508</key>
	<array>
	  <string>http://blog.shinseido.co.jp/tokuten/info/Not%20yet%E3%82%A2%E3%83%BC%E5%86%99.jpg</string>
	</array>
	<key>33509</key>
	<array>
	  <string>http://blog-imgs-29-origin.fc2.com/w/a/l/wallpapermania/notyet1.jpg</string>
	</array>
	<key>33510</key>
	<array>
	  <string>http://4.bp.blogspot.com/-mstoaAaxlNU/TgwZaN8lAyI/AAAAAAAABMo/C7mlXV2xl3w/s1600/Not%2BYet.jpg</string>
	</array>
	<key>33511</key>
	<array>
	  <string>http://www.tvnaviweb.jp/TVnavi_contents/201105/Not_yet.jpg</string>
	</array>
	<key>33512</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110129/21/oshima-y/3a/8a/j/o0800045011013605977.jpg</string>
	</array>
	<key>33513</key>
	<array>
	  <string>http://image.excite.co.jp/jp/music2010/check/review/1107/notyet.jpg</string>
	</array>
	<key>33514</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110302/21/mojyamojya911/cc/7e/j/o0500050011085572257.jpg</string>
	</array>
	<key>33515</key>
	<array>
	  <string>http://www.downloaddude.info/images/Movie-MV-PV/Not-yet-naminori-rikaki-koori-A.jpg</string>
	</array>
	<key>33516</key>
	<array>
	  <string>http://mfound.jp/topics/img/Notyet_main_0304.jpg</string>
	</array>
	<key>33517</key>
	<array>
	  <string>http://popcornlove.org/wp-content/uploads/2011/03/Shuumatsu-Not-yet-Type-B-CD+DVD-Cover.jpg</string>
	</array>
	<key>33518</key>
	<array>
	  <string>http://image.portphoto.com/img/03lqd_200568/Not+yet_m.jpeg</string>
	</array>
	<key>33519</key>
	<array>
	  <string>http://4.bp.blogspot.com/-UG4zTZRMs_E/Tc6T25BLmTI/AAAAAAAABZM/OMmTzDSYEYE/s1600/20110514_notyet2.jpg</string>
	</array>
	<key>33520</key>
	<array>
	  <string>http://video.eng.mx/wp-content/uploads/mvbthumbs/img_90407_akb48-not-yet-e799bae980b2.jpg</string>
	</array>
	<key>33521</key>
	<array>
	  <string>http://not-yet.up.seesaa.net/image/not-yet-2011-03-07T23:28:27-1.jpg</string>
	</array>
	<key>33522</key>
	<array>
	  <string>http://www.moviecollection.jp/_pimg.php/27550/Notyet.jpg</string>
	</array>
	<key>33523</key>
	<array>
	  <string>http://video.eng.mx/wp-content/uploads/mvbthumbs/img_112104_akb48-not-yet-e38080-e3808ce980b1e69cabnot-yete3808d-pv.jpg</string>
	</array>
	<key>33524</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/c/a/p/cap123/birth20110214-01.jpg</string>
	</array>
	<key>33525</key>
	<array>
	  <string>http://www.downloaddude.info/images/ogaku-Music-MP3/Not-yet-naminori-rikaki-koori-(Type-A-B-C).jpg</string>
	</array>
	<key>33526</key>
	<array>
	  <string>http://everyday48.net/forum/profiles/notyet.jpg</string>
	</array>
	<key>33527</key>
	<array>
	  <string>http://eiganavi.entermeitele.net/photos/uncategorized/2011/07/05/notyet.jpg</string>
	</array>
	<key>33528</key>
	<array>
	  <string>http://image.portphoto.com/img/03lqd_200567/Not+yet_m.jpeg</string>
	</array>
	<key>33529</key>
	<array>
	  <string>http://image.eiga.k-img.com/images/buzz/27945/110705notyet.jpg?3967</string>
	</array>
	<key>33530</key>
	<array>
	  <string>http://fl2.shopmania.org/files/imeji/1487/%E6%96%B0%E5%93%81%E9%82%A6%E6%A5%BDcd-not-yet-%E9%80%B1%E6%9C%ABnot-yet-dvd%E4%BB%98-type-a-%E7%94%9F%E5%86%99%E7%9C%9F%E6%AC%A0%E3%81%91~1486889.jpg</string>
	</array>
	<key>33531</key>
	<array>
	  <string>http://www.famima.com/img/goods/L/9100000027980.jpg</string>
	</array>
	<key>33532</key>
	<array>
	  <string>http://video.eng.mx/wp-content/uploads/mvbthumbs/img_140930_not-yet-e980b1e69cab-not-yet-shumatsuweekend-not-yet-pvhd.jpg</string>
	</array>
	<key>33533</key>
	<array>
	  <string>http://stat.news.ameba.jp/news_images/20110706/07/ea/20/j/o05000290notyet.jpg</string>
	</array>
	<key>33534</key>
	<array>
	  <string>http://columbia.jp/artist-info/photo/notyet02.jpg</string>
	</array>
	<key>33535</key>
	<array>
	  <string>http://www.downloaddude.info/images/ogaku-Music-MP3/Not-yet-naminori-rikaki-koori-(-Type-C-).jpg</string>
	</array>
	<key>33536</key>
	<array>
	  <string>http://fl2.shopmania.org/files/imeji/1447/%E4%B8%AD%E5%8F%A4%E9%82%A6%E6%A5%BDcd-not-yet-%E9%80%B1%E6%9C%ABnot-yet-%E9%80%9A%E5%B8%B8%E7%9B%A4-type-c-%E7%94%9F%E5%86%99%E7%9C%9F%E6%AC%A0%E3%81%91~1446278.jpg</string>
	</array>
	<key>33537</key>
	<array>
	  <string>http://desuki90.files.wordpress.com/2011/07/not-yet.png</string>
	</array>
	<key>33538</key>
	<array>
	  <string>http://blog.oricon.co.jp/_images/akb48mayuyuoshi/P1020070.JPG</string>
	</array>
	<key>33539</key>
	<array>
	  <string>http://www.vidibu.com/thumb.php?vid=QWh6MVRiT1ZzUkktXy15b3V0dWJl</string>
	</array>
	<key>33540</key>
	<array>
	  <string>http://www.littleoslo.com/lyj/home/wp-content/uploads/2011/02/51B0Y8ytc5L-300x296.jpg</string>
	</array>
	<key>33541</key>
	<array>
	  <string>https://lh5.googleusercontent.com/-XGSXa9_EtvU/TW-sMjAH4yI/AAAAAAAAARs/6OWV0ZYSwXo/s400/20110303_not_yet1.jpg</string>
	</array>
	<key>33542</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/201107/110705_notyet_main.jpg</string>
	</array>
	<key>33543</key>
	<array>
	  <string>http://stat.news.ameba.jp/news_images/20110706/07/15/6b/j/o06400371110705notyet_large.jpg</string>
	</array>
	<key>33544</key>
	<array>
	  <string>http://27.media.tumblr.com/tumblr_lhuhadl07z1qaorkyo1_500.jpg</string>
	</array>
	<key>33545</key>
	<array>
	  <string>http://3.bp.blogspot.com/-rJ88LmJXnbE/Tc6DRjVcd1I/AAAAAAAABZE/a15HvmevomU/s1600/20110514_notyet1.jpg</string>
	</array>
	<key>33546</key>
	<array>
	  <string>http://fl2.shopmania.org/files/imeji/1444/%E6%96%B0%E5%93%81%E9%82%A6%E6%A5%BDcd-not-yet-%E9%80%B1%E6%9C%ABnot-yet-dvd%E4%BB%98-type-b-%E7%94%9F%E5%86%99%E7%9C%9F%E6%AC%A0%E3%81%91~1443078.jpg</string>
	</array>
	<key>33547</key>
	<array>
	  <string>http://www.dailymotion.com/thumbnail/160x120/video/xh8e8e_not-yet-yynot-yet-yyyy_music</string>
	</array>
	<key>33548</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/c/a/p/cap123/sukkiri20110124-01.jpg</string>
	</array>
	<key>33549</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/a/akb48info/20110216/20110216190329.jpg</string>
	</array>
	<key>33550</key>
	<array>
	  <string>http://www.girlsnews.tv/reimage/w800/img20110514notyet20.jpg</string>
	</array>
	<key>33551</key>
	<array>
	  <string>http://www.girlsnews.tv/reimage/w800/img20110514notyet22.jpg</string>
	</array>
	<key>33552</key>
	<array>
	  <string>http://honane.com/img/home/headline_110215_notyet.jpg</string>
	</array>
	<key>33553</key>
	<array>
	  <string>http://www.dailymotion.com/thumbnail/160x120/video/xh5q4i_akb48-not-yet-yyyynot-yety_music</string>
	</array>
	<key>33554</key>
	<array>
	  <string>http://image.portphoto.com/img/03lqd_200569/Not+yet.jpeg</string>
	</array>
	<key>33555</key>
	<array>
	  <string>http://prtimes.jp/data/corp/2747/m/top-c3e747527d8037f54519b1699356d328.jpg.jpg</string>
	</array>
	<key>33556</key>
	<array>
	  <string>http://fl2.shopmania.org/files/imeji/1447/%E4%B8%AD%E5%8F%A4%E9%82%A6%E6%A5%BDcd-not-yet-%E9%80%B1%E6%9C%ABnot-yet-%E9%80%9A%E5%B8%B8%E7%9B%A4-type-c-%E7%94%9F%E5%86%99%E7%9C%9F%E6%AC%A0%E3%81%91~t_1446278.jpg</string>
	</array>
	<key>33557</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201106/29/notyet.jpg</string>
	</array>
	<key>33558</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/j/ebest-dvd_0000001028170</string>
	</array>
	<key>33559</key>
	<array>
	  <string>http://music.goo.ne.jp/special/notyet/img/top.jpg</string>
	</array>
	<key>33560</key>
	<array>
	  <string>http://static.flickr.com/5175/5531634676_f9c1123579.jpg</string>
	</array>
	<key>33561</key>
	<array>
	  <string>http://www.cdjournal.com/image/jacket/large/411101/4111010972.jpg</string>
	</array>
	<key>33562</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/j/starclub_coca-16454</string>
	</array>
	<key>33563</key>
	<array>
	  <string>http://image.excite.co.jp/jp/music2010/check/review/1107/notyet_jk_1.jpg</string>
	</array>
	<key>33564</key>
	<array>
	  <string>http://image.portphoto.com/img/03lqd_200568/Not+yet.jpeg</string>
	</array>
	<key>33565</key>
	<array>
	  <string>http://www.hotexpress.co.jp/artist/1066/images/201106_notyet.jpg</string>
	</array>
	<key>33566</key>
	<array>
	  <string>http://1.bp.blogspot.com/-2MfsrwktJQg/Tgk30v7aGkI/AAAAAAAAAls/Bv-k60s9u0Y/s200/Not+yet+-+%25E6%25B3%25A2%25E4%25B9%2597%25E3%2582%258A%25E3%2581%258B%25E3%2581%258D%25E6%25B0%25B7+%2528Type-A%252BB%252BC%2529+%255B%25E3%2583%2597%25E3%2583%25AD%25E3%2583%</string>
	</array>
	<key>33567</key>
	<array>
	  <string>http://www.utocity.co.jp/murayama/Not%20yet.jpg</string>
	</array>
	<key>33568</key>
	<array>
	  <string>http://okguide.okwave.jp/uploads/cafe_content/image_1/3171/notyet.jpg?1309907095</string>
	</array>
	<key>33569</key>
	<array>
	  <string>http://i919.photobucket.com/albums/ad33/itiswhatiwant/news_large_Notyet_COCA16454_C.jpg</string>
	</array>
	<key>33570</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/61lxviuwFML._AA500_.jpg</string>
	</array>
	<key>33571</key>
	<array>
	  <string>http://1.bp.blogspot.com/-6tjhhA2qh-k/Te68B_Nt66I/AAAAAAAAWCg/jk6NwJFHCwk/s1600/Not%2Byet%2BNaminori%2BKakigoori%2BT-A.jpg</string>
	</array>
	<key>33572</key>
	<array>
	  <string>http://mori-saki.com/diary/image/cd/CD_NotYet_WeekendNotYet_TheaterEdition.jpg</string>
	</array>
	<key>33573</key>
	<array>
	  <string>http://www.rcd.co.jp/_img/article/2011/mn2011021600701_g00.jpg</string>
	</array>
	<key>33574</key>
	<array>
	  <string>http://image.portphoto.com/img/03lqd_200567/Not+yet.jpeg</string>
	</array>
	<key>33575</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/a/akb48info/20110322/20110322092503.jpg</string>
	</array>
	<key>33576</key>
	<array>
	  <string>http://4.bp.blogspot.com/-mCVAJ6cWgcY/TV0zq6MBVvI/AAAAAAAAAMs/noZNatnYCQ8/s400/20110217_notyet1.jpg</string>
	</array>
	<key>33577</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/j/surpriseweb_coza-501</string>
	</array>
	<key>33578</key>
	<array>
	  <string>http://www.hotexpress.co.jp/news/110606_notyet/img/110606_notyet.jpg</string>
	</array>
	<key>33579</key>
	<array>
	  <string>http://auction.thumbnail.image.rakuten.co.jp/@0_auc/image54/31/58/00010358854/90/52/img00339534752.jpg?_ex=300x300</string>
	</array>
	<key>33580</key>
	<array>
	  <string>http://gazo.galman.jp/img/054rv_210133/Not+yet+%E5%A4%A7%E5%B3%B6%E5%84%AA%E5%AD%90_m.jpeg</string>
	</array>
	<key>33581</key>
	<array>
	  <string>http://gazo.galman.jp/img/054rv_210130/Not+yet+%E5%A4%A7%E5%B3%B6%E5%84%AA%E5%AD%90_m.jpeg</string>
	</array>
	<key>33582</key>
	<array>
	  <string>http://img05.shop-pro.jp/PA01110/636/product/26313782.jpg?20110212210719</string>
	</array>
	<key>33583</key>
	<array>
	  <string>http://sakurapoptarts.files.wordpress.com/2011/03/nt-yt.jpg?w=300&amp;amp;h=300</string>
	</array>
	<key>33584</key>
	<array>
	  <string>http://image.portphoto.com/img/0eyg4_164625/Not+yet%E3%81%A7%E3%81%99%E3%80%93%E3%80%93.jpeg</string>
	</array>
	<key>33585</key>
	<array>
	  <string>http://image.eiga.k-img.com/images/buzz/27945/110705notyet_large.jpg?2682</string>
	</array>
	<key>33586</key>
	<array>
	  <string>http://www.girlsnews.tv/reimage/w400/img20110514notyet3.jpg</string>
	</array>
	<key>33587</key>
	<array>
	  <string>http://stage48.net/studio48/images/single_notyet_01c.jpg</string>
	</array>
	<key>33588</key>
	<array>
	  <string>http://1.bp.blogspot.com/-rVcwPTF0I9I/TYgEJ_nvMRI/AAAAAAAAGuM/BqDi0zPtoGc/s400/2.jpg</string>
	</array>
	<key>33589</key>
	<array>
	  <string>http://pixbox.ws/downloadbox/images/13991027403163420738_thumb.jpg</string>
	</array>
	<key>33590</key>
	<array>
	  <string>http://www.dailymotion.com/thumbnail/160x120/video/xhpc2y_pv-akb48-not-yet-yynot-yet_music</string>
	</array>
	<key>33591</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_lhuh7hoFnH1qaorkyo1_500.jpg</string>
	</array>
	<key>33592</key>
	<array>
	  <string>http://entamax.blog.so-net.ne.jp/_images/blog/_b52/entamax/E38282E38282E38184E3828DE382AFE383ADE383BCE38390E383BCd.jpg</string>
	</array>
	<key>33593</key>
	<array>
	  <string>http://livedoor.blogimg.jp/nightpc/imgs/0/8/085480eb.jpg</string>
	</array>
	<key>33594</key>
	<array>
	  <string>http://image.portphoto.com/img/0etoi_160344/%EF%BC%AE%EF%BD%8F%EF%BD%94+%EF%BD%99%EF%BD%85%EF%BD%94.jpeg</string>
	</array>
	<key>33595</key>
	<array>
	  <string>http://img69.imageshack.us/img69/5173/61lxviuwfmlss400.jpg</string>
	</array>
	<key>33596</key>
	<array>
	  <string>http://www.girlsnews.tv/reimage/w400/img20110514notyet4.jpg</string>
	</array>
	<key>33597</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201101/24/notyet_logo.jpg</string>
	</array>
	<key>33598</key>
	<array>
	  <string>http://img.7netshopping.jp/bks/images/i7/1106043627.jpg</string>
	</array>
	<key>33599</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20110319/22/setuyakuseikatu-1/b6/ef/j/o0635034211114913594.jpg</string>
	</array>
	<key>33600</key>
	<array>
	  <string>http://1.bp.blogspot.com/-954zhkDa8o4/TYIgT9HN-bI/AAAAAAAABmY/7EbBpcDkcYw/s320/nt-yt.jpg</string>
	</array>
	<key>33601</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201107/07/notyet03.jpg</string>
	</array>
	<key>33602</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201107/07/notyet02.jpg</string>
	</array>
	<key>33603</key>
	<array>
	  <string>http://gazo.galman.jp/img/054rv_210133/Not+yet+%E5%A4%A7%E5%B3%B6%E5%84%AA%E5%AD%90.jpeg</string>
	</array>
	<key>33604</key>
	<array>
	  <string>http://image.portphoto.com/img/0eyg4_164627/Not+yet%E3%81%A7%E3%81%99%E3%80%93%E3%80%93.jpeg</string>
	</array>
	<key>33605</key>
	<array>
	  <string>http://4.bp.blogspot.com/-jC5kIqQRhQg/Tc_3zJ8lJ7I/AAAAAAAADzQ/tUKadH7PPSY/s1600/4013761-qq97nsp1-befe29354da6aa5181407e5679f780b8.jpg</string>
	</array>
	<key>33606</key>
	<array>
	  <string>http://gazo.galman.jp/img/054rv_210130/Not+yet+%E5%A4%A7%E5%B3%B6%E5%84%AA%E5%AD%90.jpeg</string>
	</array>
	<key>33607</key>
	<array>
	  <string>http://image.portphoto.com/img/0eyg4_164625/Not+yet%E3%81%A7%E3%81%99%E3%80%93%E3%80%93_m.jpeg</string>
	</array>
	<key>33608</key>
	<array>
	  <string>http://image.portphoto.com/img/0eyg4_164626/Not+yet%E3%81%A7%E3%81%99%E3%80%93%E3%80%93_m.jpeg</string>
	</array>
	<key>33609</key>
	<array>
	  <string>http://musico.jp/imgs/catalog/cme002246.jpg</string>
	</array>
	<key>33610</key>
	<array>
	  <string>http://fl2.shopmania.org/files/imeji/1492/%E4%B8%AD%E5%8F%A4%E9%82%A6%E6%A5%BDcd-not-yet-%E9%80%B1%E6%9C%ABnot-yet-dvd%E4%BB%98-type-a-%E7%94%9F%E5%86%99%E7%9C%9F%E6%AC%A0%E3%81%91~t_1491081.jpg</string>
	</array>
	<key>33611</key>
	<array>
	  <string>http://img.y8.com/system/screenshots/3174/original/He-s-Not-Yet-Dead.gif</string>
	</array>
	<key>33612</key>
	<array>
	  <string>http://image.excite.co.jp/jp/music2010/check/review/1107/notyet2.jpg</string>
	</array>
	<key>33613</key>
	<array>
	  <string>http://capture.heartrails.com/400x300?http://www.google.com/url?sa=X&amp;amp;q=http://journal.mycom.co.jp/news/2011/01/24/045/&amp;amp;ct=ga&amp;amp;cad=CAEQARgAIAAoATAAOABAhN6e6gRIAlAAWABiBWphLUpQ&amp;amp;cd=f40U0Gr6XMo&amp;amp;usg=AFQjCNEbXByNP7O5t4uvgk</string>
	</array>
	<key>33614</key>
	<array>
	  <string>http://auction.thumbnail.image.rakuten.co.jp/@0_auc/image54/31/58/00010358854/85/98/img00317295015.jpg?_ex=300x300</string>
	</array>
	<key>33615</key>
	<array>
	  <string>http://www.famima.com/img/goods/L/9100000027981.jpg</string>
	</array>
	<key>33616</key>
	<array>
	  <string>http://www.justwannabe.com/blog/wp-content/uploads/2011/06/Not-yet-%E2%80%93-%E6%B3%A2%E4%B9%97%E3%82%8A%E3%81%8B%E3%81%8D%E6%B0%B7-Type-A+B+C-%E3%83%97%E3%83%AD%E3%83%A2%E7%94%A8.jpg</string>
	</array>
	<key>33617</key>
	<array>
	  <string>http://www.hotexpress.co.jp/review/3016/images/notyet_syumatsunotyet.jpg</string>
	</array>
	<key>33618</key>
	<array>
	  <string>http://www.murauchi.com/MCJ/front/images/commodity/169/00001028169L.jpg</string>
	</array>
	<key>33619</key>
	<array>
	  <string>http://img03.ti-da.net/usr/tora3hime/Notsyet2.jpg</string>
	</array>
	<key>33620</key>
	<array>
	  <string>http://capture.heartrails.com/400x300?http://item.rakuten.co.jp/ajewelry/coca-16454/</string>
	</array>
	<key>33621</key>
	<array>
	  <string>http://akb.48lover.com/img/Topic/67/image.jpg</string>
	</array>
	<key>33622</key>
	<array>
	  <string>http://us.cdn2.123rf.com/168nwm/selhin/selhin0807/selhin080700003/3282160-time-after-noon-but-not-yet-dark-not-yet-evening-beautiful-view-on-the-grove-on-the-coast-of-the-riv.jpg</string>
	</array>
	<key>33623</key>
	<array>
	  <string>http://image.rakuten.co.jp/surprise-web/cabinet/20110214a/coza-501.jpg</string>
	</array>
	<key>33624</key>
	<array>
	  <string>http://akb.48lover.com/img/Topic/79/image.jpg</string>
	</array>
	<key>33625</key>
	<array>
	  <string>http://images.become.co.jp/imageserver/s3/107040778-100-100-5-0/%E3%80%90CD%E3%80%91Not+yet%EF%BC%8F%E9%80%B1%E6%9C%ABNot+yet+%EF%BC%88Type%EF%BC%A2%EF%BC%89_530629030</string>
	</array>
	<key>33626</key>
	<array>
	  <string>http://columbia.jp/artist-info/photo/notyet01.jpg</string>
	</array>
	<key>33627</key>
	<array>
	  <string>http://www.music-lounge.jp/v2/common/im/uf/news/201106/06/notyet.jpg</string>
	</array>
	<key>33628</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110210/19/ex-jsb-125/2b/1d/j/o0480047511039208601.jpg</string>
	</array>
	<key>33629</key>
	<array>
	  <string>http://livedoor.blogimg.jp/butch5555/imgs/9/a/9ad2ccc1.jpg</string>
	</array>
	<key>33630</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/40/78/8c3f92b1e0c123b38069e99df4073e8c.jpg</string>
	</array>
	<key>33631</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/w/wakanachan/20110318/20110318025625.jpg</string>
	</array>
	<key>33632</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/w/wakanachan/20110318/20110318025611.jpg</string>
	</array>
	<key>33633</key>
	<array>
	  <string>http://image.portphoto.com/img/0etoi_160347/%EF%BC%AE%EF%BD%8F%EF%BD%94+%EF%BD%99%EF%BD%85%EF%BD%94_m.jpeg</string>
	</array>
	<key>33634</key>
	<array>
	  <string>http://image.portphoto.com/img/0etoi_160344/%EF%BC%AE%EF%BD%8F%EF%BD%94+%EF%BD%99%EF%BD%85%EF%BD%94_m.jpeg</string>
	</array>
	<key>33635</key>
	<array>
	  <string>http://images.become.co.jp/imageserver/s1/107040786-100-100-5-0/%E3%80%90CD%E3%80%91Not+yet%EF%BC%8F%E9%80%B1%E6%9C%ABNot+yet+%EF%BC%88Type%EF%BC%A1%E3%80%9CC%E3%82%BB%E3%83%83%E3%83%88%EF%BC%89_530629031</string>
	</array>
	<key>33636</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20110316/22/2008-07-19/7f/de/j/o0591030011110638712.jpg</string>
	</array>
	<key>33637</key>
	<array>
	  <string>http://3.bp.blogspot.com/-kh7f4euU53s/ThRTB7xbdrI/AAAAAAAAAxw/D_iF8ecikYQ/s200/Not+yet+-+%25E6%25B3%25A2%25E4%25B9%2597%25E3%2582%258A%25E3%2581%258B%25E3%2581%258D%25E6%25B0%25B7%2528TYPE+A%252BB%252BC%2529+%255B2011%255D.jpg</string>
	</array>
	<key>33638</key>
	<array>
	  <string>http://akb.48lover.com/img/Topic/173/image.jpg</string>
	</array>
	<key>33639</key>
	<array>
	  <string>http://akb.48lover.com/upimg/20110607064145.jpg</string>
	</array>
</array>
</plist>
