<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>141929</key>
	<array>
	  <string>http://a1.phobos.apple.com/us/r1000/030/Music/15/d8/2f/mzi.kgbldfrd.170x170-75.jpg</string>
	</array>
	<key>141928</key>
	<array>
	  <string>http://ent.taizhou.com/Files/Pics/2008-4/26/0842614035729343.jpg</string>
	</array>
	<key>141927</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/3b/de/577b72b8d5524b3026dc5b4905b96d9d.jpg</string>
	</array>
	<key>141926</key>
	<array>
	  <string>http://img.my.tv.cctv.com/attachments/2008/06/500677_200806061710081.jpg</string>
	</array>
	<key>141925</key>
	<array>
	  <string>http://img.1ting.com/images/special/32/s300_7b5233b51337a7fd231d9bd05cc54e3a.jpg</string>
	</array>
	<key>141924</key>
	<array>
	  <string>http://www.mingxing.com/upload/forumDownloadImg/201009/e0340481254cdbdca0228be8b21c79e9.jpg</string>
	</array>
	<key>141923</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/y/2008-03-24/U1819P28T3D1959189F329DT20080324165951.JPG</string>
	</array>
	<key>141922</key>
	<array>
	  <string>http://bitex-cn.com/photo/627/songphoto3627.jpg</string>
	</array>
	<key>141921</key>
	<array>
	  <string>http://bitex-cn.com/photo/344/songphoto3344.jpg</string>
	</array>
	<key>141920</key>
	<array>
	  <string>http://photocdn.sohu.com/20090421/Img263530543.jpg</string>
	</array>
	<key>141919</key>
	<array>
	  <string>http://media.imhb.cn/homepic/2008/4/9/20080409092725_45312.jpg</string>
	</array>
	<key>141918</key>
	<array>
	  <string>http://img1.qq.com/ent/pics/1969/1969973.jpg</string>
	</array>
	<key>141917</key>
	<array>
	  <string>http://image.blogmura.com/user/60/297188/qrcode.gif</string>
	</array>
	<key>141916</key>
	<array>
	  <string>http://livedoor.blogimg.jp/hyakum/imgs/d/a/daae35dc.jpg</string>
	</array>
	<key>141915</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/b8/71/yankee_in_shanghai/folder/1456679/img_1456679_56563488_1?1214058560</string>
	</array>
	<key>141914</key>
	<array>
	  <string>http://www.sinaimg.cn/ent/y/p/2007-06-16/U1819P28T3D1600083F326DT20070616200616.JPG</string>
	</array>
	<key>141913</key>
	<array>
	  <string>http://bitex-cn.com/photo/344/wphoto2_3344.gif</string>
	</array>
	<key>141912</key>
	<array>
	  <string>http://pic.gansudaily.com.cn/0/10/62/13/10621366_813747.jpg</string>
	</array>
	<key>141911</key>
	<array>
	  <string>http://img1.woopie.jp/getdata.php?pid=1302b33qf6b18</string>
	</array>
	<key>141910</key>
	<array>
	  <string>http://img3.woopie.jp/getdata.php?pid=1b04110qc77d2</string>
	</array>
	<key>141909</key>
	<array>
	  <string>http://www.wing-gr.com/issui/images/take/04_01.jpg</string>
	</array>
	<key>141908</key>
	<array>
	  <string>http://www.wing-gr.com/issui/images/take/05_01.jpg</string>
	</array>
	<key>141907</key>
	<array>
	  <string>http://www.wing-gr.com/issui/images/02_01.jpg</string>
	</array>
	<key>141906</key>
	<array>
	  <string>http://www.wing-gr.com/issui/images/take/02_01.jpg</string>
	</array>
	<key>141905</key>
	<array>
	  <string>http://bitex-cn.com/photo/96/wphoto3_3096.gif</string>
	</array>
	<key>141904</key>
	<array>
	  <string>http://bitex-cn.com/photo/96/wphoto2_3096.gif</string>
	</array>
	<key>141903</key>
	<array>
	  <string>http://www.quick-china.com/music/thumb/l/mc31863l.jpg</string>
	</array>
	<key>141902</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100420/00/pumania1971/aa/55/j/o0410055610503817795.jpg</string>
	</array>
	<key>141901</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100420/00/pumania1971/b8/4c/j/t02200330_0400060010503817796.jpg</string>
	</array>
	<key>141900</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090906/15/tiandu/83/a8/j/t02000160_0200016010248054582.jpg</string>
	</array>
	<key>141899</key>
	<array>
	  <string>http://www.quick-china.com/music/jacket/mc31884.jpg</string>
	</array>
	<key>141898</key>
	<array>
	  <string>http://www.tokkai.biz/photo/ip633_1.jpg</string>
	</array>
	<key>141897</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090906/15/tiandu/5f/c4/j/t02000160_0200016010248054783.jpg</string>
	</array>
	<key>141896</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/j/scriptv_srt1406</string>
	</array>
	<key>141895</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/b8/71/yankee_in_shanghai/folder/1456679/img_1456679_56563488_0?1214058560</string>
	</array>
	<key>141894</key>
	<array>
	  <string>http://photocdn.sohu.com/20091225/Img269209221.jpg</string>
	</array>
	<key>141893</key>
	<array>
	  <string>http://img3.woopie.jp/getdata.php?pid=1002122q52de2</string>
	</array>
	<key>141892</key>
	<array>
	  <string>http://img4.woopie.jp/getdata.php?pid=1301f43q114d3</string>
	</array>
	<key>141891</key>
	<array>
	  <string>http://attach.hunantv.com/uploads/images/large/20090119/1041640461054-1.jpg</string>
	</array>
	<key>141890</key>
	<array>
	  <string>http://yaplog.jp/cv/nomadica/img/150/xuanzi_p.jpg</string>
	</array>
	<key>141889</key>
	<array>
	  <string>http://livedoor.blogimg.jp/hyakum/imgs/7/b/7b33ff67.jpg</string>
	</array>
	<key>141888</key>
	<array>
	  <string>http://www.gxsky.com/up_images/20106/1353675_148891.jpg</string>
	</array>
	<key>141887</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20091026/o/73407C75910F71CBE46198D1D7B604F8.jpg</string>
	</array>
	<key>141886</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/j/gaudi-inc_cm0122402777327</string>
	</array>
	<key>141885</key>
	<array>
	  <string>http://www.sinaimg.cn/ent/y/p/2007-06-16/U1819P28T3D1600086F326DT20070616200803.JPG</string>
	</array>
	<key>141884</key>
	<array>
	  <string>http://images.17173.com/news/2007/12/20/s1220xuanzi01s.jpg</string>
	</array>
	<key>141883</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/y/p/2006-12-26/U1819P28T3D1386569F358DT20061226102243.JPG</string>
	</array>
	<key>141882</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/liuxinyin/2006/ft/xianzi/1.jpg</string>
	</array>
	<key>141881</key>
	<array>
	  <string>http://image.xinmin.cn/2010/04/03/20100403112452449909.jpg</string>
	</array>
	<key>141880</key>
	<array>
	  <string>http://ent.tom.com/uimg/2010/4/30/caiyingzhe/1272620266320_18454.jpg</string>
	</array>
	<key>141879</key>
	<array>
	  <string>http://i.ytimg.com/vi/2bqtQcgltB8/0.jpg</string>
	</array>
	<key>141878</key>
	<array>
	  <string>http://www.wing-gr.com/issui/images/04_01.jpg</string>
	</array>
	<key>141877</key>
	<array>
	  <string>http://images.rednet.cn/articleimage/2008/10/25/1214585226.jpg</string>
	</array>
	<key>141876</key>
	<array>
	  <string>http://i.weather.com.cn/images/cn/life/2009/09/23/DB6B7C9D58649EC18144D4E3BDE3FEEE.jpg</string>
	</array>
	<key>141875</key>
	<array>
	  <string>http://item.shopping.c.yimg.jp/i/i/hmv_3809307</string>
	</array>
	<key>141874</key>
	<array>
	  <string>http://bitex-cn.com/photo/344/wphoto3_3344.gif</string>
	</array>
	<key>141873</key>
	<array>
	  <string>http://image2.sina.com.cn/book/ul/2007/0608/U2089P167DT20070608133929.jpg</string>
	</array>
	<key>141872</key>
	<array>
	  <string>http://i0.sinaimg.cn/ent/y/p/2009-01-11/U3349P28T3D2336479F326DT20090111152950.JPG</string>
	</array>
	<key>141871</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090621/12/tiandu/b5/81/j/t02200165_0500037510200399565.jpg</string>
	</array>
	<key>141870</key>
	<array>
	  <string>http://i00.c.aliimg.com/club/upload/user/2/b/9/1/2b91fbd33ecb77fc43996950b89c363d.jpg</string>
	</array>
	<key>141869</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/68/c3/cb824d094e3b74be364621d752f1e536.jpg</string>
	</array>
	<key>141868</key>
	<array>
	  <string>http://bitex-cn.com/photo/96/wphoto4_3096.gif</string>
	</array>
	<key>141867</key>
	<array>
	  <string>http://1.bp.blogspot.com/_0G1LP4mPkyE/SKTrYSzh9DI/AAAAAAAAAMs/G4C0Qikc8NE/s200/1638.jpg</string>
	</array>
	<key>141866</key>
	<array>
	  <string>http://img1.9sky.com/news/image/2007-06-19/u1978p28t3d1603229f329dt20070619094858.jpg</string>
	</array>
	<key>141865</key>
	<array>
	  <string>http://i.baidu.com/yule/r/image/2009-02-26/e86c929311fe2e88bd5cfaee4b913f4a.jpg</string>
	</array>
	<key>141864</key>
	<array>
	  <string>http://bbs.chinaue.com/editor/uploadfile/20081129215124417.jpg</string>
	</array>
	<key>141863</key>
	<array>
	  <string>http://club.xiaonei.com/upfiles/20070428/club__thnzhfht182354001177765735.jpg</string>
	</array>
	<key>141862</key>
	<array>
	  <string>http://img4.woopie.jp/getdata.php?pid=1401520qcf77b</string>
	</array>
	<key>141861</key>
	<array>
	  <string>http://blog-imgs-31-origin.fc2.com/j/e/r/jeruwu/17953825.jpg</string>
	</array>
	<key>141860</key>
	<array>
	  <string>http://attach.hunantv.com/uploads/images/large/20081023/2323492295I_small.jpg</string>
	</array>
	<key>141859</key>
	<array>
	  <string>http://net.videohealthy.com/P7lCyMG30LsFV.jpg</string>
	</array>
	<key>141858</key>
	<array>
	  <string>http://pic.pimg.tw/enjoyrec/1209531364.jpg</string>
	</array>
	<key>141857</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/64s/54348811.png</string>
	</array>
	<key>141856</key>
	<array>
	  <string>http://www.zjmxw.com/upload/200910140162042957.jpg</string>
	</array>
	<key>141855</key>
	<array>
	  <string>http://i.eimg.com.tw/d/article/21/2771_1.300.jpg?ver=-62170009580</string>
	</array>
	<key>141854</key>
	<array>
	  <string>http://data.yule.baidu.com/images/20/206686.jpg</string>
	</array>
	<key>141853</key>
	<array>
	  <string>http://www.gog.com.cn/pic/0/10/00/46/10004698_633340.jpg</string>
	</array>
	<key>141852</key>
	<array>
	  <string>http://www.chinesesong.org/uploads/allimg/100424/204A63022-0.jpg</string>
	</array>
	<key>141851</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/4/16/U996P28T3D1989860F326DT20080416150330.JPG</string>
	</array>
	<key>141850</key>
	<array>
	  <string>http://img.ifeng.com/res/200906/0609_650658.jpg</string>
	</array>
	<key>141849</key>
	<array>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/9b/c9/hiromasa_0521/folder/569796/img_569796_13781886_0?1271508328</string>
	</array>
	<key>141848</key>
	<array>
	  <string>http://upfile.gxtv.cn/news/soft/20091127/200911126306576672.jpg</string>
	</array>
	<key>141847</key>
	<array>
	  <string>http://i3.sinaimg.cn/ent/y/p/2009-01-11/U3349P28T3D2336479F329DT20090111152950.JPG</string>
	</array>
	<key>141845</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/23/6d/5da5a12cab362285e7a97d4b20296c2c.jpg</string>
	</array>
	<key>141846</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/y/p/2009-03-14/U1817P28T3D2420557F346DT20090314202146.JPG</string>
	</array>
	<key>141844</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200708/21/23/d0070823_210397.jpg</string>
	</array>
	<key>141843</key>
	<array>
	  <string>http://cimg2.163.com/ent/2006/12/27/200612271605387ea5f.jpg</string>
	</array>
	<key>141841</key>
	<array>
	  <string>http://www.dragoncd.jp/data/dragoncd/_/70726f647563742f636431302f7875616e7a692d63642d30332e6a70670031323000.png</string>
	</array>
	<key>141842</key>
	<array>
	  <string>http://www.68star.com/stars/xianzi/images/face.jpg</string>
	</array>
	<key>141840</key>
	<array>
	  <string>http://truth.bahamut.com.tw/s01/201106/6f7ebed502161c139b18b5106105b7c2.JPG</string>
	</array>
	<key>141839</key>
	<array>
	  <string>http://imgcache.chinayes.com/cnews/20100323/201003231101367263260.jpg</string>
	</array>
	<key>141838</key>
	<array>
	  <string>http://www.tjxumu.cn/uploads/allimg/090717/1T95645a-23.jpg</string>
	</array>
	<key>141837</key>
	<array>
	  <string>http://pica.nipic.com/2008-06-23/2008623133621124_2.jpg</string>
	</array>
	<key>141836</key>
	<array>
	  <string>http://img4.woopie.jp/getdata.php?pid=1904c3q1180f</string>
	</array>
	<key>141835</key>
	<array>
	  <string>http://www.jx.xinhuanet.com/ztdj/2007-11/08/xin_56311040809537652221613.jpg</string>
	</array>
	<key>141834</key>
	<array>
	  <string>http://www.mask9.com/sites/default/files/mt0x0000/10107/image/201007/music-aishangxuanzidiyici-poster-mask9.jpg</string>
	</array>
	<key>141833</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/4/16/U996P28T3D1989860F329DT20080416150330.jpg</string>
	</array>
	<key>141832</key>
	<array>
	  <string>http://stat.profile.ameba.jp/profile_images/20100404/02/bd/3d/j/o033405001270314384596.jpg</string>
	</array>
	<key>141831</key>
	<array>
	  <string>http://img.2u.com.cn/2u_article/40_450x337/39451.jpg</string>
	</array>
	<key>141830</key>
	<array>
	  <string>http://d.hatena.ne.jp/images/diary/k/konton/2008-02-17.jpg</string>
	</array>
	<key>141829</key>
	<array>
	  <string>http://pic2.nipic.com/20090415/1951702_213454016_2.jpg</string>
	</array>
	<key>141828</key>
	<array>
	  <string>http://pic.enorth.com.cn/0/05/85/01/5850112_047475.jpg</string>
	</array>
	<key>141827</key>
	<array>
	  <string>http://2.bp.blogspot.com/_0G1LP4mPkyE/SKTdyYmCLUI/AAAAAAAAAMY/aOdM9deXqaM/s200/genko.jpg</string>
	</array>
	<key>141826</key>
	<array>
	  <string>http://imgk.zol.com.cn/lenovo/2706/a2705269.jpg</string>
	</array>
	<key>141825</key>
	<array>
	  <string>http://img3.woopie.jp/getdata.php?pid=1402e30qf38fe</string>
	</array>
	<key>141824</key>
	<array>
	  <string>http://bitex-cn.com/photo/503/otherphotob503.jpg</string>
	</array>
	<key>141823</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/5/20/U1345P28T3D2032238F326DT20080520151319.jpg</string>
	</array>
	<key>141822</key>
	<array>
	  <string>http://1.bp.blogspot.com/_RkTj_a-Ugjg/S-wnAEM606I/AAAAAAAAAYc/Iig2IFN7Nkw/s1600/%E5%BC%A6%E5%AD%90_4.jpg</string>
	</array>
	<key>141821</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/0e/f5/5b9a57cf98b5befcffc9c37d8176a647.jpg</string>
	</array>
	<key>141820</key>
	<array>
	  <string>http://www.yandui.com/pic/2008716/11_24_40_283_.jpg</string>
	</array>
	<key>141819</key>
	<array>
	  <string>http://img.1ting.com/images/special/31/s300_d5b691b964699661f60cbeec571c9769.jpg</string>
	</array>
	<key>141818</key>
	<array>
	  <string>http://shoppingimg.jchere.com/showimage.asp?imgpath=newProduct/20086231432.jpg&amp;amp;cl=1</string>
	</array>
	<key>141817</key>
	<array>
	  <string>http://www.gxfzw.com.cn/uploadimg/200585103210.gif</string>
	</array>
	<key>141816</key>
	<array>
	  <string>http://www.xxwindow.net/klso-pic/%E5%BC%A6%E5%AD%90---%E6%8D%A8%E4%B8%8D%E5%BE%97MV.jpg</string>
	</array>
	<key>141815</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090725/19/tiandu/85/8c/j/t02200108_0696034210220142598.jpg</string>
	</array>
	<key>141813</key>
	<array>
	  <string>http://mm.allcoolmen.com/images/mini/75.jpg</string>
	</array>
	<key>141814</key>
	<array>
	  <string>http://bitex-cn.com/photo/503/otherphotoa503.jpg</string>
	</array>
	<key>141812</key>
	<array>
	  <string>http://1.bp.blogspot.com/_0G1LP4mPkyE/SKTloZxtCqI/AAAAAAAAAMg/O5uwEDBcOI8/S269/genko.jpg</string>
	</array>
	<key>141811</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/7c/89/8c7569d8adfec716c812db7ee84e1951.jpg</string>
	</array>
	<key>141810</key>
	<array>
	  <string>http://img2.laibafile.cn/laiba/images/276925/12109217360515715849/A/1/m.jpg</string>
	</array>
	<key>141809</key>
	<array>
	  <string>http://www.quick-china.com/music/thumb/l/mc26250l.jpg</string>
	</array>
	<key>141807</key>
	<array>
	  <string>http://dl.zhishi.sina.com.cn/upload/90/92/43/1167909243.5842809.jpg</string>
	</array>
	<key>141808</key>
	<array>
	  <string>http://images.17173.com/news/2008/04/24/0424xuanzi01s.jpg</string>
	</array>
	<key>141806</key>
	<array>
	  <string>http://blogimg.goo.ne.jp/user_image/0e/61/30027509edd72b4587fda04e6eedc77b.jpg</string>
	</array>
	<key>141805</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/d1/e7/10055230171_s.jpg</string>
	</array>
	<key>141804</key>
	<array>
	  <string>http://www.mingxing.com/upload/forumDownloadImg/201009/1667b7a14c2d9aeb992bc832f58f5643.jpg</string>
	</array>
	<key>141802</key>
	<array>
	  <string>http://images.17173.com/news/2007/12/06/s1206xzz01s.jpg</string>
	</array>
	<key>141803</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200601/09/43/c0022843_1484566.jpg</string>
	</array>
	<key>141801</key>
	<array>
	  <string>http://www.xlyrics.net/images/up/000/646/022/231_original.jpg</string>
	</array>
	<key>141800</key>
	<array>
	  <string>http://image.blogmura.com/user/60/297188/fdwt0oqy.jpg</string>
	</array>
	<key>141799</key>
	<array>
	  <string>http://yuebeifan.files.wordpress.com/2010/05/xian-zi-21.jpg</string>
	</array>
	<key>141798</key>
	<array>
	  <string>http://bitex-cn.com/photo/503/authorphotob503.jpg</string>
	</array>
	<key>141797</key>
	<array>
	  <string>http://image2.sina.com.cn/ent/y/p/2006-12-26/U1819P28T3D1386569F329DT20061226102243.JPG</string>
	</array>
	<key>141796</key>
	<array>
	  <string>http://img8.zol.com.cn/bbs/upload/8855/8854063_0500.jpg</string>
	</array>
	<key>141795</key>
	<array>
	  <string>http://book.17xie.com/s/2009-04-05/c683df980f</string>
	</array>
	<key>141793</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200601/09/43/c0022843_1473711.jpg</string>
	</array>
	<key>141794</key>
	<array>
	  <string>http://www.gog.com.cn/pic/0/10/00/09/10000960_189452.jpg</string>
	</array>
	<key>141792</key>
	<array>
	  <string>http://img.zhanglin.com/singers/24/32/12948.jpg</string>
	</array>
	<key>141791</key>
	<array>
	  <string>http://www.yf66.com/image/20094151726357877802.JPG</string>
	</array>
	<key>141790</key>
	<array>
	  <string>http://news.xinhuanet.com/audio/2008-04/27/xinsrc_24204052511312812400436.jpg</string>
	</array>
	<key>141789</key>
	<array>
	  <string>http://i.weather.com.cn/images/cn/life/2009/09/23/42C91B2EFC5F3D8D8DFCAC2CB168CE4F.jpg</string>
	</array>
	<key>141788</key>
	<array>
	  <string>http://i.baidu.com/yule/r/image/2008-11-14/caf8ee2ffa9682cde64f57605d1633ad.jpg</string>
	</array>
	<key>141787</key>
	<array>
	  <string>http://blog.gxsky.com/photo/20076/21072/20076645105.jpg</string>
	</array>
	<key>141786</key>
	<array>
	  <string>http://photocdn.sohu.com/20080520/Img256974879.jpg</string>
	</array>
	<key>141785</key>
	<array>
	  <string>http://www.hongname.com/jl/article/UploadPic/2008-12/2008122616392638219.jpg</string>
	</array>
	<key>141784</key>
	<array>
	  <string>http://pic.wenwen.soso.com/p/20080823/20080823170438-1820852859.jpg</string>
	</array>
	<key>141783</key>
	<array>
	  <string>http://pic.wenwen.soso.com/p/20080720/20080720130644-60510891.jpg</string>
	</array>
	<key>141782</key>
	<array>
	  <string>http://img.gamespot.com.cn/0/869/linVL3wpLL7Q_small.jpg</string>
	</array>
	<key>141781</key>
	<array>
	  <string>http://www.diggcd.com/img/album/2006/10/2407/2407.jpg</string>
	</array>
	<key>141780</key>
	<array>
	  <string>http://www.faxingw.cn/UserFiles/xuanzi.jpg</string>
	</array>
	<key>141779</key>
	<array>
	  <string>http://mm.allcoolmen.com/images/2007/12/shaonv2.jpg</string>
	</array>
	<key>141778</key>
	<array>
	  <string>http://mm.allcoolmen.com/images/2007/12/shaonv3.jpg</string>
	</array>
	<key>141777</key>
	<array>
	  <string>http://pic.pimg.tw/enjoyrec/1207914810.jpg</string>
	</array>
	<key>141776</key>
	<array>
	  <string>http://ent.ynet.com/img.db?49509886</string>
	</array>
	<key>141775</key>
	<array>
	  <string>http://gameonline.yesky.com/imagelist/2008/115/k0w6part7fhg.jpg</string>
	</array>
	<key>141774</key>
	<array>
	  <string>http://a4.att.hudong.com/41/62/01300000242103122165628017304.jpg</string>
	</array>
	<key>141773</key>
	<array>
	  <string>http://4.bp.blogspot.com/_zKcA3veihRA/SRXy_SXDxRI/AAAAAAAAA7A/9topw5TVTdY/s400/%E5%BC%A6%E5%AD%90+-+%E4%B8%8D%E6%84%9B%E6%9C%80%E5%A4%A7+-+CD+Cover+-+Small.jpg</string>
	</array>
	<key>141772</key>
	<array>
	  <string>http://1.bp.blogspot.com/_zKcA3veihRA/SRXzGbKQjXI/AAAAAAAAA7I/D9M1QRHROfU/s400/%E5%BC%A6%E5%AD%90+-+%E4%B8%8D%E6%84%9B%E6%9C%80%E5%A4%A7+-+CD+Back+-+Small.jpg</string>
	</array>
	<key>141771</key>
	<array>
	  <string>http://www.gx.xinhua.org/newscenter/2006-12/26/xin_511203261626078244957.jpg</string>
	</array>
	<key>141769</key>
	<array>
	  <string>http://www.sinaimg.cn/ent/y/p/2007-06-16/U1819P28T3D1600090F326DT20070616201002.JPG</string>
	</array>
	<key>141770</key>
	<array>
	  <string>http://cimg2.163.com/ent/2006/12/27/2006122716020907e4d.jpg</string>
	</array>
	<key>141768</key>
	<array>
	  <string>http://www.myrice.com/d/file/netgame/news/bagua/2007-12-06/small7480eb2ac802b2e3afc6f0da4f4eba44.jpg</string>
	</array>
	<key>141767</key>
	<array>
	  <string>http://data.yule.sohu.com/star/pic/star/1/1509/default.jpg</string>
	</array>
	<key>141766</key>
	<array>
	  <string>http://images.xooob.com/20081233/1230897811406.jpg</string>
	</array>
	<key>141765</key>
	<array>
	  <string>http://blog-imgs-34-origin.fc2.com/m/u/r/murocksic/img.jpg</string>
	</array>
	<key>141930</key>
	<array>
	  <string>http://thumbnail.image.rakuten.co.jp/@0_mall/tokkai/cabinet/biz3/mcd1237_1.jpg?_ex=400x400</string>
	</array>
	<key>141931</key>
	<array>
	  <string>http://dokochina.com/made_images/kasi/240/1279255402-9651_2.gif</string>
	</array>
	<key>141932</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/0e/95/10059372983_s.jpg</string>
	</array>
	<key>141933</key>
	<array>
	  <string>http://dokochina.com/made_images/kasi/240/1279255402-9651_1.gif</string>
	</array>
	<key>141934</key>
	<array>
	  <string>http://img1.qq.com/astro/pics/10626/10626692.jpg</string>
	</array>
	<key>141935</key>
	<array>
	  <string>http://img66.pixiv.net/img/hyperarmy/mobile/14497082_87ms.jpg</string>
	</array>
	<key>141936</key>
	<array>
	  <string>http://img66.pixiv.net/img/hyperarmy/mobile/14480963_87ms.jpg</string>
	</array>
	<key>141937</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/y/2008-03-28/U2223P28T3D1965628F326DT20080328172105.jpg</string>
	</array>
	<key>141938</key>
	<array>
	  <string>http://images.yiqilai.com/lyrics/150/150/images/singerlogo/1180.jpg</string>
	</array>
	<key>141939</key>
	<array>
	  <string>http://3.bp.blogspot.com/_RkTj_a-Ugjg/S-wnAhNeceI/AAAAAAAAAYk/M6O5IlhrVF4/s1600/%E5%BC%A6%E5%AD%90_3.jpg</string>
	</array>
	<key>141940</key>
	<array>
	  <string>http://cimg2.163.com/ent/2006/10/13/200610131512112e2e1.jpg</string>
	</array>
	<key>141941</key>
	<array>
	  <string>http://i.baidu.com/yule/r/image/2009-02-26/798556ac2e1db74f44d74a2f61b8a34e.jpg</string>
	</array>
	<key>141942</key>
	<array>
	  <string>http://img1.woopie.jp/getdata.php?pid=110363qd4348</string>
	</array>
	<key>141943</key>
	<array>
	  <string>http://mm.allcoolmen.com/images/2008/11/xianzi-2.jpg</string>
	</array>
	<key>141944</key>
	<array>
	  <string>http://img1.ifensi.com/channelimg/Image/t_music/2007/2007.6/6.19/38.jpg</string>
	</array>
	<key>141945</key>
	<array>
	  <string>http://www.quick-china.com/music/thumb/s/mc32078s.jpg</string>
	</array>
	<key>141946</key>
	<array>
	  <string>http://24.media.tumblr.com/tumblr_lijg79x0fX1qi714eo1_500.png</string>
	</array>
	<key>141947</key>
	<array>
	  <string>http://30.media.tumblr.com/tumblr_lkvwutm3EF1qfy8iwo1_500.jpg</string>
	</array>
	<key>141948</key>
	<array>
	  <string>http://i2.sinaimg.cn/ent/y/p/2009-01-11/U2520P28T3D2336828F326DT20090111180308.JPG</string>
	</array>
	<key>141949</key>
	<array>
	  <string>http://www.nkzg.com/bbs/UploadFile/2004-11/200411215319357.jpg</string>
	</array>
	<key>141950</key>
	<array>
	  <string>http://a1.att.hudong.com/45/21/01300000242103122170217157525_s.jpg</string>
	</array>
	<key>141951</key>
	<array>
	  <string>http://images.enet.com.cn/2010/0409/98/7979111.jpg</string>
	</array>
	<key>141952</key>
	<array>
	  <string>http://video.libertytimes.com.tw/media/fck/image/%E5%BC%A6%E5%AD%90%E7%94%9F%E6%97%A5-2.jpg</string>
	</array>
	<key>141953</key>
	<array>
	  <string>http://www.faxingw.cn/UserFiles/xuanzi2(2).jpg</string>
	</array>
	<key>141954</key>
	<array>
	  <string>http://img.9sky.com/artist/17845.jpg</string>
	</array>
	<key>141955</key>
	<array>
	  <string>http://pic.boosj.com/vi/2009-03/04/2009-0304v232117C.jpg</string>
	</array>
	<key>141956</key>
	<array>
	  <string>http://blog-imgs-24.fc2.com/a/l/l/allasia/budebuai_s.jpg</string>
	</array>
	<key>141957</key>
	<array>
	  <string>http://blog-imgs-31-origin.fc2.com/j/e/r/jeruwu/17953829.jpg</string>
	</array>
	<key>141958</key>
	<array>
	  <string>http://img.4travel.jp/img/tcs/t/pict/lrg/22/45/61/lrg_22456145.jpg?20110629181717</string>
	</array>
	<key>141959</key>
	<array>
	  <string>https://www.rakuten.co.jp/tokkai/img10182898076.jpeg</string>
	</array>
	<key>141960</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200601/09/43/c0022843_1482638.jpg</string>
	</array>
	<key>141961</key>
	<array>
	  <string>http://shoppingimg.jchere.com/showimage.asp?imgpath=newProduct/200862314338.jpg&amp;amp;smallimg=newProduct/20086231432.jpg&amp;amp;cl=2</string>
	</array>
	<key>141962</key>
	<array>
	  <string>http://www.quick-china.com/music/jacket/mc25902.jpg</string>
	</array>
	<key>141963</key>
	<array>
	  <string>http://img1.gtimg.com/gamezone/pics/hv1/125/130/528/34366475.jpg</string>
	</array>
	<key>141964</key>
	<array>
	  <string>http://www.shxb.net/newspic/20061223/yangyao0612167.jpg</string>
	</array>
</dict>
</plist>
