<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<key>6400</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/002/003/87/N000/000/001/123859159015316116390_april_fool.jpg</string>
	</array>
	<key>6399</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/008/074/87/N000/000/001/122852190974716310779.jpg</string>
	</array>
	<key>6398</key>
	<array>
	  <string>http://www.stereosound.co.jp/hivi/idol/524/01.jpg</string>
	</array>
	<key>6397</key>
	<array>
	  <string>http://img12.imageshack.us/img12/1531/akb3.jpg</string>
	</array>
	<key>6396</key>
	<array>
	  <string>http://akb48image.up.seesaa.net/image/akb48image-2011-04-13T11:34:58-1.jpg</string>
	</array>
	<key>6395</key>
	<array>
	  <string>http://akb48image.up.seesaa.net/image/akb48image-2011-05-25T11:32:51-1.jpg</string>
	</array>
	<key>6394</key>
	<array>
	  <string>http://images.keizai.biz/akiba_keizai/headline/1182919528_photo.jpg</string>
	</array>
	<key>6393</key>
	<array>
	  <string>http://www.asiatorrents.com/imagehost/images/677689A10MinamiTakahashiIMG.jpg</string>
	</array>
	<key>6392</key>
	<array>
	  <string>http://akbgazou.up.seesaa.net/image/AKB48E38080E9AB98E794BBE8B3AAE794BBE5838FE383BBE58699E79C9FE383BBE5A381E7B499245.jpg</string>
	</array>
	<key>6391</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0d/db/hikkii2006/folder/799794/img_799794_22315999_5?1259243435</string>
	</array>
	<key>6390</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/yooshima001.jpg</string>
	</array>
	<key>6389</key>
	<array>
	  <string>http://file.tomodachi.game-ss.com/20090914_03.jpg</string>
	</array>
	<key>6388</key>
	<array>
	  <string>http://akb48bu.up.seesaa.net/image/E7AFA0E794B0E9BABBE9878CE5AD90.jpg</string>
	</array>
	<key>6387</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000059728/300.jpg</string>
	</array>
	<key>6386</key>
	<array>
	  <string>http://blog.ap.teacup.com/takahiroakb48/timg/middle_1285378309.jpg</string>
	</array>
	<key>6385</key>
	<array>
	  <string>http://kenji5.com/images/minegisiminam1.jpg</string>
	</array>
	<key>6384</key>
	<array>
	  <string>http://kochinet.info/wp-content/uploads/2009/10/akb.jpg</string>
	</array>
	<key>6383</key>
	<array>
	  <string>http://1.bp.blogspot.com/_M2uiS72AkxE/S_2Txsvv9MI/AAAAAAAAF7Q/1YNW-L0cnvY/s1600/AKB6747.jpg</string>
	</array>
	<key>6382</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/o/owarenai/20060609/20060609202536.jpg</string>
	</array>
	<key>6381</key>
	<array>
	  <string>http://netachelin.com/images/100517_akb.jpg</string>
	</array>
	<key>6380</key>
	<array>
	  <string>http://cobra137.img.jugem.jp/20100612_512400.jpg?guid=ON&amp;amp;view=mobile&amp;amp;tid=7</string>
	</array>
	<key>6379</key>
	<array>
	  <string>http://blog-cdn.oricon.co.jp/_images/shinee0508/akb.jpg</string>
	</array>
	<key>6378</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/0d/db/hikkii2006/folder/799794/img_799794_21201651_1?1253774830</string>
	</array>
	<key>6377</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000062269/kiss1s.jpg</string>
	</array>
	<key>6376</key>
	<array>
	  <string>http://net.blt.tv/goods/img/img_akb48_visualbook_01.jpg</string>
	</array>
	<key>6375</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/562779.jpg</string>
	</array>
	<key>6374</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/3815275.jpg</string>
	</array>
	<key>6373</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200911/08/52/e0082852_19181657.jpg</string>
	</array>
	<key>6372</key>
	<array>
	  <string>http://catalunya48.files.wordpress.com/2010/10/single6_01.jpg</string>
	</array>
	<key>6371</key>
	<array>
	  <string>http://blog-imgs-47-origin.fc2.com/i/m/g/imggeino/1_20110118155958.jpg</string>
	</array>
	<key>6370</key>
	<array>
	  <string>http://blog-imgs-27.fc2.com/o/u/k/oukun721/20090326151620.jpg</string>
	</array>
	<key>6369</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/16/0000206016/08/img4ddef21azik9zj.jpeg</string>
	</array>
	<key>6368</key>
	<array>
	  <string>http://livedoor.blogimg.jp/black_stones_7_8_21/imgs/7/3/73aeee54.jpg</string>
	</array>
	<key>6367</key>
	<array>
	  <string>http://www.joke.jp/kabegamiblog/kojima001.jpg</string>
	</array>
	<key>6366</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/44/5c/10064287675.jpg</string>
	</array>
	<key>6365</key>
	<array>
	  <string>http://www.famitsu.com/game/coming/__icsFiles/artimage/2008/07/04/pc_fc_n_gs/shugo_shusei.jpg</string>
	</array>
	<key>6364</key>
	<array>
	  <string>http://www.edita.jp/skad/image/skad2139/img321a0cfczik5zj.jpeg</string>
	</array>
	<key>6363</key>
	<array>
	  <string>http://blog-imgs-29.fc2.com/1/b/a/1banemono/2010-04-09-akb48.jpg</string>
	</array>
	<key>6362</key>
	<array>
	  <string>http://www.scramble-egg.com/artist/event07/i06/6akb48_62.jpg</string>
	</array>
	<key>6360</key>
	<array>
	  <string>http://www.giants.jp/G/gnews/img/news1164301.jpg</string>
	</array>
	<key>6361</key>
	<array>
	  <string>http://www.officiallyjd.com/wp-content/uploads/2011/06/20110606_kojimaharuna_18.jpg</string>
	</array>
	<key>6359</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200810/15/35/e0025035_11185095.jpg</string>
	</array>
	<key>6358</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/61xzJhLXajL.jpg</string>
	</array>
	<key>6357</key>
	<array>
	  <string>http://s.cinematoday.jp/res/A0/00/14/A0001478-00.jpg</string>
	</array>
	<key>6356</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/16/0000206016/23/img45d73c9ezik7zj.jpeg</string>
	</array>
	<key>6355</key>
	<array>
	  <string>http://www.generasia.com/w/images/0/0f/AKB48_Team_K.png</string>
	</array>
	<key>6354</key>
	<array>
	  <string>http://carview-img02.bmcdn.jp/minkara/photo/000/002/085/057/2085057/p1.jpg</string>
	</array>
	<key>6353</key>
	<array>
	  <string>http://ec2.images-amazon.com/images/I/61FGVXUaCNL._SL500_AA300_.jpg</string>
	</array>
	<key>6352</key>
	<array>
	  <string>http://aidorutarenntogazou.up.seesaa.net/image/teamA_02.png</string>
	</array>
	<key>6351</key>
	<array>
	  <string>http://www.sugoneta.biz/images/teamB.jpg</string>
	</array>
	<key>6350</key>
	<array>
	  <string>http://pc.akb48-horipro.net/info/blogn/pic/1249657725948.jpg</string>
	</array>
	<key>6349</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000050727/photo600.jpg</string>
	</array>
	<key>6348</key>
	<array>
	  <string>http://dogatch.jp/blog/news/images/%EF%BC%A1%EF%BC%AB%EF%BC%A2%EF%BC%94%EF%BC%98%E7%A7%8B.jpg</string>
	</array>
	<key>6347</key>
	<array>
	  <string>http://kazutcha2.blog.so-net.ne.jp/_images/blog/_3a0/kazutcha2/m_imga945801dzikezj.jpeg</string>
	</array>
	<key>6346</key>
	<array>
	  <string>http://ecx.images-amazon.com/images/I/6185SK987AL.jpg</string>
	</array>
	<key>6345</key>
	<array>
	  <string>http://trendy.nikkeibp.co.jp/article/pickup/20080218/1007164/thumb_450_01_px450.jpg</string>
	</array>
	<key>6344</key>
	<array>
	  <string>http://gazousuteesyonn.up.seesaa.net/image/1995202253_45ebe61d_cover.jpg</string>
	</array>
	<key>6343</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/entnews/images/20080524_11_000.jpg</string>
	</array>
	<key>6342</key>
	<array>
	  <string>http://akb48.x0.com/keiji6n/file/akb_1300560521_1.jpg</string>
	</array>
	<key>6341</key>
	<array>
	  <string>http://27.media.tumblr.com/XnHbxt1Hn9xa9i5giqaZAeNH_500.jpg</string>
	</array>
	<key>6340</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100429/16/yamabiko141/3c/b5/j/o0470031310517054924.jpg</string>
	</array>
	<key>6339</key>
	<array>
	  <string>http://aidorutarenntogazou.up.seesaa.net/image/reserch_student_02.png</string>
	</array>
	<key>6338</key>
	<array>
	  <string>http://blog-imgs-37-origin.fc2.com/i/d/o/idolsukiotoko02/akb1103291.jpg</string>
	</array>
	<key>6337</key>
	<array>
	  <string>http://55doldol.hp2.jp/wp-content/uploads/2011/06/akb002.jpg</string>
	</array>
	<key>6336</key>
	<array>
	  <string>http://x83img.peps.jp/uimg/k/kankoii/2/db4jg8tn7mA.jpg</string>
	</array>
	<key>6335</key>
	<array>
	  <string>http://trendy.nikkeibp.co.jp/article/pickup/20080521/1011764/thumb_500_01_px500.jpg</string>
	</array>
	<key>6334</key>
	<array>
	  <string>http://akb48-musume.cocolog-nifty.com/photos/uncategorized/2010/07/05/akb48.jpg</string>
	</array>
	<key>6333</key>
	<array>
	  <string>http://blog-imgs-30-origin.fc2.com/n/e/w/newsssu/AKB48.jpg</string>
	</array>
	<key>6332</key>
	<array>
	  <string>http://x42img.peps.jp/uimg/j/jyuri0121/1/d1reggut1vA.jpg</string>
	</array>
	<key>6331</key>
	<array>
	  <string>http://akb48picture.sitemix.jp/wp-content/uploads/2011/01/p11.jpg</string>
	</array>
	<key>6330</key>
	<array>
	  <string>http://www.sugoneta.biz/images/teamA.jpg</string>
	</array>
	<key>6329</key>
	<array>
	  <string>http://gazousuteesyonn.up.seesaa.net/image/akb48-2.jpg</string>
	</array>
	<key>6328</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/5d/7c/butsee8857/folder/1194708/img_1194708_32350205_2?1307973059</string>
	</array>
	<key>6327</key>
	<array>
	  <string>http://image.portphoto.com/img/0epl1_114257/AKB48.jpeg</string>
	</array>
	<key>6326</key>
	<array>
	  <string>http://3.bp.blogspot.com/_oXbh4O8OrtU/SwfNL6kuthI/AAAAAAAAARs/PSy5TQy3WDA/s320/200911212012081002_1.jpg</string>
	</array>
	<key>6325</key>
	<array>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/f5/c3/theme_import_car/folder/970048/img_970048_21763699_4?1300275857</string>
	</array>
	<key>6324</key>
	<array>
	  <string>http://entertainmentmens.up.seesaa.net/image/AKB.jpg</string>
	</array>
	<key>6323</key>
	<array>
	  <string>http://heisei2100.com/wp-content/uploads/akb48mar081.jpg</string>
	</array>
	<key>6322</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1219/10/20101219170131_02_400.jpg</string>
	</array>
	<key>6321</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1219/10/20101219170131_01_400.jpg</string>
	</array>
	<key>6320</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/08/19/074/images/001l.jpg</string>
	</array>
	<key>6319</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1219/10/20101219170131_03_400.jpg</string>
	</array>
	<key>6318</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/20/017/images/001l.jpg</string>
	</array>
	<key>6317</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/101203/tnr1012031819016-p1.jpg</string>
	</array>
	<key>6316</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/101204/msc1012041415001-p1.jpg</string>
	</array>
	<key>6315</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/101218/tnr1012180131000-p1.jpg</string>
	</array>
	<key>6314</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/101003/msc1010030622000-p1.jpg</string>
	</array>
	<key>6313</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/101220/tnr1012200737002-p1.jpg</string>
	</array>
	<key>6312</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/071204/msc0712041707004-p5.jpg</string>
	</array>
	<key>6311</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/101021/tnr1010212053012-p1.jpg</string>
	</array>
	<key>6310</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100428/tnr1004281740009-p1.jpg</string>
	</array>
	<key>6308</key>
	<array>
	  <string>http://art43.photozou.jp/pub/860/283860/photo/46676374_org.jpg</string>
	</array>
	<key>6307</key>
	<array>
	  <string>http://art26.photozou.jp/pub/313/486313/photo/38957596_org.jpg</string>
	</array>
	<key>6306</key>
	<array>
	  <string>http://art26.photozou.jp/pub/313/486313/photo/38957587_org.jpg</string>
	</array>
	<key>6305</key>
	<array>
	  <string>http://art24.photozou.jp/pub/937/449937/photo/38139072_org.jpg</string>
	</array>
	<key>6304</key>
	<array>
	  <string>http://art32.photozou.jp/pub/415/335415/photo/40348122_org.jpg</string>
	</array>
	<key>6303</key>
	<array>
	  <string>http://art42.photozou.jp/pub/675/420675/photo/42284389_org.jpg</string>
	</array>
	<key>6302</key>
	<array>
	  <string>http://art41.photozou.jp/pub/222/706222/photo/43828235_org.jpg</string>
	</array>
	<key>6301</key>
	<array>
	  <string>http://www.cinemacafe.net/img/template/201006/100629_akb_main.jpg</string>
	</array>
	<key>6300</key>
	<array>
	  <string>http://s.cinematoday.jp/res/A0/00/28/A0002849-00.jpg</string>
	</array>
	<key>6299</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000063382/kiss1_s.jpg</string>
	</array>
	<key>6298</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000063216/1.jpg</string>
	</array>
	<key>6297</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000066325/akb1_s.jpg</string>
	</array>
	<key>6296</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/07/034/images/001l.jpg</string>
	</array>
	<key>6295</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100418/tnr1004181201006-p1.jpg</string>
	</array>
	<key>6294</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000066502/akb1_s.jpg</string>
	</array>
	<key>6293</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/091218/tnr0912180949006-p6.jpg</string>
	</array>
	<key>6292</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000064108/akb1_s.jpg</string>
	</array>
	<key>6291</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/121106.jpg</string>
	</array>
	<key>6290</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100410/tnr1004100826001-p1.jpg</string>
	</array>
	<key>6289</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/091009/tnr0910092045014-p1.jpg</string>
	</array>
	<key>6288</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/120872.jpg</string>
	</array>
	<key>6287</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/110306.jpg</string>
	</array>
	<key>6286</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/100412/msc1004121302002-p1.jpg</string>
	</array>
	<key>6285</key>
	<array>
	  <string>http://mainichi.jp/photo/graph/20101218/23.jpg</string>
	</array>
	<key>6284</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/economy/business/101122/biz1011221651023-p1.jpg</string>
	</array>
	<key>6282</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100702/tnr1007021705015-p1.jpg</string>
	</array>
	<key>6281</key>
	<array>
	  <string>http://response.jp/imgs/zoom/281178.jpg</string>
	</array>
	<key>6280</key>
	<array>
	  <string>http://www.rbbtoday.com/imgs/zoom/121105.jpg</string>
	</array>
	<key>6279</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/entertainers/100105/tnr1001050822002-p1.jpg</string>
	</array>
	<key>6278</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/14/006/images/001l.jpg</string>
	</array>
	<key>6277</key>
	<array>
	  <string>http://sankei.jp.msn.com/photos/entertainments/music/101111/msc1011111400001-p1.jpg</string>
	</array>
	<key>6276</key>
	<array>
	  <string>http://response.jp/imgs/zoom/281176.jpg</string>
	</array>
	<key>6275</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/20/004/images/001l.jpg</string>
	</array>
	<key>6274</key>
	<array>
	  <string>http://response.jp/imgs/zoom/281180.jpg</string>
	</array>
	<key>6273</key>
	<array>
	  <string>http://response.jp/imgs/zoom/281179.jpg</string>
	</array>
	<key>6272</key>
	<array>
	  <string>http://response.jp/imgs/zoom/281177.jpg</string>
	</array>
	<key>6271</key>
	<array>
	  <string>http://j.mycom.jp/news/2010/12/21/067/images/001l.jpg</string>
	</array>
	<key>6270</key>
	<array>
	  <string>http://news.walkerplus.com/2010/1211/14/20101211140155_01_400.jpg</string>
	</array>
	<key>6269</key>
	<array>
	  <string>http://farm1.static.flickr.com/48/111288389_21480e000f.jpg</string>
	</array>
	<key>6268</key>
	<array>
	  <string>http://prt.iza.ne.jp/images/news/20100703/317461_c450.jpg</string>
	</array>
	<key>6267</key>
	<array>
	  <string>http://farm1.static.flickr.com/49/111289314_f542f362fa.jpg</string>
	</array>
	<key>6266</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000060846/003.jpg</string>
	</array>
	<key>6264</key>
	<array>
	  <string>http://farm4.static.flickr.com/3070/2931724728_0993933653.jpg</string>
	</array>
	<key>6263</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100708/77971_201007080547453001278560275c.jpg</string>
	</array>
	<key>6262</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100708/77971_201007080536126001278560275c.jpg</string>
	</array>
	<key>6261</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000057379/001.jpg</string>
	</array>
	<key>6201</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110421/86905_201104210341758001303367547c.jpg</string>
	</array>
	<key>6202</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110421/86905_201104210407218001303367335c.jpg</string>
	</array>
	<key>6203</key>
	<array>
	  <string>http://natalie.mu/media/0908/0804/extra/news_large_AKB48_art090804.jpg</string>
	</array>
	<key>6204</key>
	<array>
	  <string>http://www.sponichi.co.jp/entertainment/news/2010/03/22/images/KFullNormal20100322108_l.jpg</string>
	</array>
	<key>6205</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110421/86905_201104210606173001303367457c.jpg</string>
	</array>
	<key>6206</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110421/86905_201104210391760001303367493c.jpg</string>
	</array>
	<key>6208</key>
	<array>
	  <string>http://farm4.static.flickr.com/3188/2551670465_3527222ab2.jpg</string>
	</array>
	<key>6209</key>
	<array>
	  <string>http://www.zakzak.co.jp/entertainment/ent-news/images/20101217/enn1012171606021-p6.jpg</string>
	</array>
	<key>6210</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/200907/image/g2009070415akb_b.jpg</string>
	</array>
	<key>6212</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110114/83899_201101140443301001295005561c.jpg</string>
	</array>
	<key>6213</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100722/78376_201007220991632001279762447c.jpg</string>
	</array>
	<key>6217</key>
	<array>
	  <string>http://farm4.static.flickr.com/3098/2600468545_e910ccf721.jpg</string>
	</array>
	<key>6218</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/090710/gnj0907100505008-p1.jpg</string>
	</array>
	<key>6220</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000034427/3.jpg</string>
	</array>
	<key>6221</key>
	<array>
	  <string>http://118.67.80.132/media/1004/0408/extra/news_large_AKB48_100407.jpg</string>
	</array>
	<key>6222</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110315/85725_201103150568371001300155236c.jpg</string>
	</array>
	<key>6224</key>
	<array>
	  <string>http://118.67.80.132/media/1007/0701/seven_eleven_akb48/extra/news_large_7eleven_akb48_s.jpg</string>
	</array>
	<key>6225</key>
	<array>
	  <string>http://natalie.mu/media/1007/0702/extra/news_large_AKB48_nemousu4_vol01a.jpg</string>
	</array>
	<key>6226</key>
	<array>
	  <string>http://img.music.yahoo.co.jp/images/magazine/rep/20081017_001/rep_key_013_l.jpg</string>
	</array>
	<key>6227</key>
	<array>
	  <string>http://natalie.mu/media/1007/0715/extra/news_large_AKB48_nemousuTV4_vol3a.jpg</string>
	</array>
	<key>6229</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110114/83899_201101140030342001295005585c.jpg</string>
	</array>
	<key>6230</key>
	<array>
	  <string>http://www.cinematoday.jp/res/N0/02/70/N0027097_l.jpg</string>
	</array>
	<key>6231</key>
	<array>
	  <string>http://farm4.static.flickr.com/3027/2601297516_f163c00827.jpg</string>
	</array>
	<key>6233</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20110114/83899_201101140057971001295005585c.jpg</string>
	</array>
	<key>6234</key>
	<array>
	  <string>http://i.listen.jp/img/news/20090630/27224_1.jpg</string>
	</array>
	<key>6235</key>
	<array>
	  <string>http://www.zakzak.co.jp/gei/200902/image/g2009020407akb_b.jpg</string>
	</array>
	<key>6236</key>
	<array>
	  <string>http://farm4.static.flickr.com/3021/2931724456_85739381a0.jpg</string>
	</array>
	<key>6237</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20090709/67583_200907090184166001247142916c.jpg</string>
	</array>
	<key>6238</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/100703/gnj1007030504011-p2.jpg</string>
	</array>
	<key>6239</key>
	<array>
	  <string>http://trendy.nikkeibp.co.jp/article/news/20060202/115240/01v.jpg</string>
	</array>
	<key>6240</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20071204/50212_200712040182597001196777764c.jpg</string>
	</array>
	<key>6243</key>
	<array>
	  <string>http://natalie.mu/media/1006/0613/AKB_0613/extra/news_large_01.jpg</string>
	</array>
	<key>6244</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100712/78018_201007120453000001278929091c.jpg</string>
	</array>
	<key>6245</key>
	<array>
	  <string>http://img.music.yahoo.co.jp/images/magazine/rep/20081017_001/rep_key_005_l.jpg</string>
	</array>
	<key>6246</key>
	<array>
	  <string>http://www.giants.jp/G/gnews/img/news1164301.jpg</string>
	</array>
	<key>6247</key>
	<array>
	  <string>http://www.sanspo.com/geino/images/091116/gnj0911161606017-p1.jpg</string>
	</array>
	<key>6249</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000034427/1.jpg</string>
	</array>
	<key>6250</key>
	<array>
	  <string>http://natalie.mu/media/1010/1004/AKB48_hikariTV/extra/news_large_DSC_1594.jpg</string>
	</array>
	<key>6251</key>
	<array>
	  <string>http://farm4.static.flickr.com/3269/2868122764_c1e18619f2.jpg</string>
	</array>
	<key>6253</key>
	<array>
	  <string>http://trendy.nikkeibp.co.jp/article/news/20060601/116948/01.jpg</string>
	</array>
	<key>6254</key>
	<array>
	  <string>http://farm4.static.flickr.com/3005/2921112159_9d381abb8b.jpg</string>
	</array>
	<key>6255</key>
	<array>
	  <string>http://img.barks.jp/image/review/1000050512/p1.jpg</string>
	</array>
	<key>6256</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20101211/82915_201012110924776001292039382c.jpg</string>
	</array>
	<key>6258</key>
	<array>
	  <string>http://blog.television.co.jp/entertainment/entnews/images/20081119_07_000.jpg</string>
	</array>
	<key>6259</key>
	<array>
	  <string>http://contents.oricon.co.jp/upimg/news/20100423/75649_201004230064769001272019268c.jpg</string>
	</array>
</array>
</plist>
