<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>50642</key>
	<array>
	  <string>http://images1.asianmediawiki.com/images/thumb/4/48/JaniceMan.jpg/250px-JaniceMan.jpg</string>
	</array>
	<key>50643</key>
	<array>
	  <string>http://wallpaper.avantzone.com/images/JaniceManGap01.jpg</string>
	</array>
	<key>50644</key>
	<array>
	  <string>http://www.hkceleb.com/pic/albums/janice-man-wing-shan/janice-man-080524-140037.jpg</string>
	</array>
	<key>50645</key>
	<array>
	  <string>http://ax3battery.com/wp-content/uploads/2011/07/airplane-wednesdays-janice-man-4.jpg</string>
	</array>
	<key>50646</key>
	<array>
	  <string>http://www.neonpunch.com/wp-content/uploads/2009/02/janiceman1.jpg</string>
	</array>
	<key>50647</key>
	<array>
	  <string>http://shanghaiist.com/attachments/shang_kenneth/janice-man-0605.jpg</string>
	</array>
	<key>50648</key>
	<array>
	  <string>http://wallpaper.avantzone.com/images/JaniceManGap02.jpg</string>
	</array>
	<key>50649</key>
	<array>
	  <string>http://4.bp.blogspot.com/_UmR7PsGWAAw/Sfoh2tvJpVI/AAAAAAAAN90/-8-GSIOKGjY/s400/Janice-Man-02.jpg</string>
	</array>
	<key>50650</key>
	<array>
	  <string>http://1.bp.blogspot.com/_UmR7PsGWAAw/Sfoh2pJKLMI/AAAAAAAAN98/d4zRju7gpLs/s400/Janice-Man-01.jpg</string>
	</array>
	<key>50651</key>
	<array>
	  <string>http://img212.imageshack.us/img212/6982/35901752.jpg</string>
	</array>
	<key>50652</key>
	<array>
	  <string>http://hoo.mixfog.com/images/20080312060559_angela-baby-019.jpg</string>
	</array>
	<key>50653</key>
	<array>
	  <string>http://www.hkcinemagic.com/en/images/people/large/janice-man_1712745e98ef3fa261e463829095c812.jpg</string>
	</array>
	<key>50654</key>
	<array>
	  <string>http://img35.imageshack.us/img35/4420/janiceman18.jpg</string>
	</array>
	<key>50655</key>
	<array>
	  <string>http://amerikajin.net/photos/people/janice_01.jpg</string>
	</array>
	<key>50656</key>
	<array>
	  <string>http://1.bp.blogspot.com/_Rxo-dVWeH5A/SgWy9XR8I7I/AAAAAAAAHek/c650s9aLQHw/s400/Janice_Man_wallpaper_6.jpg</string>
	</array>
	<key>50657</key>
	<array>
	  <string>http://gb.cri.cn/mmsource/images/2008/07/11/el080711916.jpg</string>
	</array>
	<key>50658</key>
	<array>
	  <string>http://wallpaper.avantzone.com/images/JaniceMan02.jpg</string>
	</array>
	<key>50659</key>
	<array>
	  <string>http://30.media.tumblr.com/cxoRn0WbBogecmfhvrd4JIcwo1_500.jpg</string>
	</array>
	<key>50660</key>
	<array>
	  <string>http://www.hkceleb.com/pic/albums/janice-man-wing-shan/janice-man-080524-140325.jpg</string>
	</array>
	<key>50661</key>
	<array>
	  <string>http://www.neonpunch.com/wp-content/uploads/2009/03/janice2.jpg</string>
	</array>
	<key>50662</key>
	<array>
	  <string>http://img3.lln.crunchyroll.com/i/spire2/04092008/1/0/d/1/10d18889fd4300_full.jpg</string>
	</array>
	<key>50663</key>
	<array>
	  <string>http://org83.zpcdn.com/0/4367/27953051.0a7f1a.jpg</string>
	</array>
	<key>50664</key>
	<array>
	  <string>http://foster.aweb.com.cn/upfile/uploads/20080911/U3124P28T3D2163808F326DT20080910135328.jpg</string>
	</array>
	<key>50665</key>
	<array>
	  <string>http://img.photobucket.com/albums/v247/s7ran9er/janism/JaniceManX05.jpg</string>
	</array>
	<key>50666</key>
	<array>
	  <string>http://xf3.xanga.com/7b3d814b44230147006068/w109097501.jpg</string>
	</array>
	<key>50667</key>
	<array>
	  <string>http://img104.imageshack.us/img104/2900/b176760105ji1.jpg</string>
	</array>
	<key>50668</key>
	<array>
	  <string>http://ax3battery.com/wp-content/uploads/2011/07/airplane-wednesdays-janice-man-3.jpg</string>
	</array>
	<key>50669</key>
	<array>
	  <string>http://images.wikia.com/evchk/images/4/48/JaniceMan.jpg</string>
	</array>
	<key>50670</key>
	<array>
	  <string>http://img89.imageshack.us/img89/6586/img2663anu7.jpg</string>
	</array>
	<key>50671</key>
	<array>
	  <string>http://img3.cdn.crunchyroll.com/i/spire1/08102008/d/b/c/4/dbc4936573fe70_full.jpg</string>
	</array>
	<key>50672</key>
	<array>
	  <string>http://1.bp.blogspot.com/-qp56zCqQB6M/TZqxTWIkc0I/AAAAAAAAAfs/UYHj_8KI-0w/s1600/Janice+Man+Hong+Kong.jpg</string>
	</array>
	<key>50673</key>
	<array>
	  <string>http://2.bp.blogspot.com/_Rxo-dVWeH5A/SgWy5cAVakI/AAAAAAAAHd8/XUkINU0p04M/s400/Janice_Man_wallpaper_1.jpg</string>
	</array>
	<key>50674</key>
	<array>
	  <string>http://www.lovehkfilm.com/people/bk4376/man_janice_4.jpg</string>
	</array>
	<key>50675</key>
	<array>
	  <string>http://www.hkceleb.com/pic/albums/janice-man-wing-shan/janice-man-080524-135822.jpg</string>
	</array>
	<key>50676</key>
	<array>
	  <string>http://images.17173.com/news/2008/04/19/s0419ljns02s.jpg</string>
	</array>
	<key>50677</key>
	<array>
	  <string>http://yutakis.files.wordpress.com/2010/01/janice-man-wallpaper04-1600x1200.jpg</string>
	</array>
	<key>50678</key>
	<array>
	  <string>http://img.blog.163.com/photo/sTg4ubXoNWSPir9y6_qK2g==/5138325699853777238.jpg</string>
	</array>
	<key>50679</key>
	<array>
	  <string>http://lh4.ggpht.com/-sXI7svFfhfE/SUEMJyl7eQI/AAAAAAAAcaQ/vQ1bewwHLV0/janice-man-81211001.jpg</string>
	</array>
	<key>50680</key>
	<array>
	  <string>http://next.atnext.com/images/next-photos/face/083/640pixfolder/W883-128bN/9066712.jpg</string>
	</array>
	<key>50681</key>
	<array>
	  <string>http://www.alivenotdead.com/attachments/2008/07/81225_200807060703017.jpg</string>
	</array>
	<key>50682</key>
	<array>
	  <string>http://1.bp.blogspot.com/_Rxo-dVWeH5A/SgWy6KLRHhI/AAAAAAAAHec/U4iaenZNrz4/s400/Janice_Man_wallpaper_5.jpg</string>
	</array>
	<key>50683</key>
	<array>
	  <string>http://contents.syncl.jp/angela/img/upload/up_221141.jpg</string>
	</array>
	<key>50684</key>
	<array>
	  <string>http://pic4.nipic.com/20090727/2976312_212811047_2.jpg</string>
	</array>
	<key>50685</key>
	<array>
	  <string>http://thumbnail2.xalo.vn/Image/?url=http://popbee.com/image/2008/02/janice-man-angela-baby-15022008.jpg&amp;amp;w=623&amp;amp;v=12fa13341ac5dbd713df7bf561430bcf</string>
	</array>
	<key>50686</key>
	<array>
	  <string>http://img164.imageshack.us/img164/8797/c087e1242968cb8.jpg</string>
	</array>
	<key>50687</key>
	<array>
	  <string>http://pda.atnext.com/isilo/images/next-photos/face/037/640pixfolder/W837-258N/janice_man_and_edsion.jpg</string>
	</array>
	<key>50688</key>
	<array>
	  <string>http://pic4.sdnews.com.cn/NewsImg/2008/3/20/U1982P28T3D1954960F329DT20080320114911.jpg</string>
	</array>
	<key>50689</key>
	<array>
	  <string>http://www.newfaceagency.com/jpg/Janice%20Man.jpg</string>
	</array>
	<key>50690</key>
	<array>
	  <string>http://img.sina.com.hk/news/13/2009/0514/1242259756_d5hwDc.jpg</string>
	</array>
	<key>50691</key>
	<array>
	  <string>http://x20.xanga.com/2ef8356773269147006102/w109097531.jpg</string>
	</array>
	<key>50692</key>
	<array>
	  <string>http://1.bp.blogspot.com/_Rxo-dVWeH5A/SgWy5okPbwI/AAAAAAAAHeE/_mkKciGeEIk/s400/Janice_Man_wallpaper_2.jpg</string>
	</array>
	<key>50693</key>
	<array>
	  <string>http://chinesemov.com/images/2008/see-you-in-you-tube-2008-1.jpg</string>
	</array>
	<key>50694</key>
	<array>
	  <string>http://29.media.tumblr.com/tumblr_lg461jFeM21qz9xbco1_500.png</string>
	</array>
	<key>50695</key>
	<array>
	  <string>http://blog.christinejewellers.com/wp-content/gallery/toywatchhk/janice-man.jpg</string>
	</array>
	<key>50696</key>
	<array>
	  <string>http://www.lovehkfilm.com/people/bk4376/man_janice_6.jpg</string>
	</array>
	<key>50697</key>
	<array>
	  <string>http://contents.syncl.jp/angela/img/upload/up_224877.jpg</string>
	</array>
	<key>50698</key>
	<array>
	  <string>http://www.cinespot.com/interviewsimages/interviews19g.jpg</string>
	</array>
	<key>50699</key>
	<array>
	  <string>http://i41.tinypic.com/2u5vnlw.jpg</string>
	</array>
	<key>50700</key>
	<array>
	  <string>http://farm4.static.flickr.com/3499/3924364123_c1b1b53454_o.jpg</string>
	</array>
	<key>50701</key>
	<array>
	  <string>http://www.style-tips.com/blogazine/wp-content/uploads/2009/10/swatch_chrono-automatic_10.jpg</string>
	</array>
	<key>50702</key>
	<array>
	  <string>http://1.bp.blogspot.com/_UmR7PsGWAAw/Sfoh2TxvZsI/AAAAAAAAN9k/vsHFxiDxaP4/s400/Janice-Man-04.jpg</string>
	</array>
	<key>50703</key>
	<array>
	  <string>http://babe.1626.com/wp-content/uploads/2009/05/f7a6_1600_2009030512362229769713.jpg</string>
	</array>
	<key>50704</key>
	<array>
	  <string>http://www.cnhuu.com/society/UploadFiles_4527/200807/2008070816042976.jpg</string>
	</array>
	<key>50705</key>
	<array>
	  <string>http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Janicem.jpg/220px-Janicem.jpg</string>
	</array>
	<key>50706</key>
	<array>
	  <string>http://simg.sina.com.hk/cp/0/0029/6450/2/p.jpg</string>
	</array>
	<key>50707</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1302e38q10affc</string>
	</array>
	<key>50708</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/31/0000332431/63/img65effafdzik1zj.jpeg</string>
	</array>
	<key>50709</key>
	<array>
	  <string>http://appledaily.atnext.com/images/apple-photos/apple/20071123/large/23ec5p2new.jpg</string>
	</array>
	<key>50710</key>
	<array>
	  <string>http://img231.imageshack.us/img231/6238/img2764akw6.jpg</string>
	</array>
	<key>50711</key>
	<array>
	  <string>http://appledaily.atnext.com/images/apple-photos/apple/20071123/large/23ec5p1new.jpg</string>
	</array>
	<key>50712</key>
	<array>
	  <string>http://www.yiqiyou.com/upload/00/14/49/66/1228879395063.jpg</string>
	</array>
	<key>50713</key>
	<array>
	  <string>http://allaboutleon.com/webbbs/images/main/pic10628.jpg</string>
	</array>
	<key>50714</key>
	<array>
	  <string>http://4.bp.blogspot.com/-_bpDOG-haWU/TVlGmqoyg5I/AAAAAAAAArs/3E2Zp3UayYc/s1600/27553882.de95a3.jpg</string>
	</array>
	<key>50715</key>
	<array>
	  <string>http://img3.bbs.163.com/new/20090505/tvb/zh/zhangs_wh/c8ff6f07e06fb2d19b948d8f17d13f14.jpg</string>
	</array>
	<key>50716</key>
	<array>
	  <string>http://www.alivenotdead.com/attachments/2008/07/81225_200807060703018.jpg</string>
	</array>
	<key>50717</key>
	<array>
	  <string>http://img.bimg.126.net/photo/Ajd3ES_U4U5aoypQebIu0A==/2318509383166167071.jpg</string>
	</array>
	<key>50718</key>
	<array>
	  <string>http://x5c.xanga.com/9c3c90f240232198381672/w153508145.jpg</string>
	</array>
	<key>50719</key>
	<array>
	  <string>http://images.star.mop.com/starnews/hk_tw/2008-02-05/16_3_81383_103_45_20080205142311.jpg</string>
	</array>
	<key>50720</key>
	<array>
	  <string>http://www.sodesk.com/albums/wallpapers/stars/chinese/female/janice_man/normal_1600x1200_001_166_janice_man.jpg</string>
	</array>
	<key>50721</key>
	<array>
	  <string>http://i1.sinaimg.cn/ent/m/f/p/2008-09-10/U3124P28T3D2163808F329DT20080910135328.jpg</string>
	</array>
	<key>50722</key>
	<array>
	  <string>http://blog-imgs-46-origin.fc2.com/t/e/n/tenrinrin/janis11-02.jpg</string>
	</array>
	<key>50723</key>
	<array>
	  <string>http://farm3.static.flickr.com/2434/3925151312_4e7bdfc395_o.jpg</string>
	</array>
	<key>50724</key>
	<array>
	  <string>http://4.bp.blogspot.com/_Rxo-dVWeH5A/SgWy5jcWA1I/AAAAAAAAHeM/OKlac-JbMmM/s400/Janice_Man_wallpaper_3.jpg</string>
	</array>
	<key>50725</key>
	<array>
	  <string>http://img.sina.com.hk/news/13/2008/0924/1222226689_bUqSsd.jpg</string>
	</array>
	<key>50726</key>
	<array>
	  <string>http://hk.sw.nextmedia.com/images/next-photos/SuddenWeekly/665/640pixfolder/A665-009N/a1.jpg</string>
	</array>
	<key>50727</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/Sy/elH5c6_240full.jpeg</string>
	</array>
	<key>50728</key>
	<array>
	  <string>http://img.youtube.com/vi/yMbOIuWEvpI/0.jpg</string>
	</array>
	<key>50729</key>
	<array>
	  <string>http://simg.sina.com.hk/cp/0/0026/4632/2/p.jpg</string>
	</array>
	<key>50730</key>
	<array>
	  <string>http://img.article.onlylady.com/00/03/45/76/10266735.jpg</string>
	</array>
	<key>50731</key>
	<array>
	  <string>http://img.bbs.163.com/tvb/ki/kitjianjie/398x615_53018.jpg</string>
	</array>
	<key>50732</key>
	<array>
	  <string>http://blog.fooyoh.com/attach/38/1372285028.jpg</string>
	</array>
	<key>50733</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/31/0000332431/64/imgdea9247fzikfzj.jpeg</string>
	</array>
	<key>50734</key>
	<array>
	  <string>http://www.yeycn.com/beauty/mingxing/mx2/pic/janiceman03.jpg</string>
	</array>
	<key>50735</key>
	<array>
	  <string>http://55erika.img.jugem.jp/20100824_1853005.jpg</string>
	</array>
	<key>50736</key>
	<array>
	  <string>http://4.bp.blogspot.com/_UmR7PsGWAAw/Sfoh2gf1buI/AAAAAAAAN9s/96FF5mdFfqQ/s400/Janice-Man-03.jpg</string>
	</array>
	<key>50737</key>
	<array>
	  <string>http://www.gznet.com/ent/xxbx/cjhrg/200810/W020081010418605220774.jpg</string>
	</array>
	<key>50738</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/47550887/janice2010MAGSHOOT.jpg</string>
	</array>
	<key>50739</key>
	<array>
	  <string>http://2.bp.blogspot.com/_Q_ctBwFLMeU/SfTG5nQJapI/AAAAAAAAAHo/K722Yc6Y_uY/s200/janiceman-18.jpg</string>
	</array>
	<key>50740</key>
	<array>
	  <string>http://prettygirl2u.com/wp-content/uploads/2009/07/janiceman_03.jpg</string>
	</array>
	<key>50741</key>
	<array>
	  <string>http://starsupporta.harmonouniversa.org/starj/photos/JaniceMan05.jpg</string>
	</array>
	<key>50742</key>
	<array>
	  <string>http://starsupporta.harmonouniversa.org/starj/photos/JaniceMan02.jpg</string>
	</array>
	<key>50743</key>
	<array>
	  <string>http://simg.sina.com.hk/cp/0/0044/0661/2/p.jpg</string>
	</array>
	<key>50744</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=1c03011qc6fc4</string>
	</array>
	<key>50745</key>
	<array>
	  <string>http://asianfanatics.net/gallery/archived/Hong_Kong_Female/Janice_Man_Wing_Shan/8.jpg</string>
	</array>
	<key>50746</key>
	<array>
	  <string>http://appledaily.atnext.com/images/apple-photos/apple/20080608/large/08ec2p1a.jpg</string>
	</array>
	<key>50747</key>
	<array>
	  <string>http://image1.daqi.com/pic_search/original/33769/c0e26619d9a9ff2af3ad47a73dd599dc.jpg</string>
	</array>
	<key>50748</key>
	<array>
	  <string>http://i229.photobucket.com/albums/ee8/OrientalJaniceManX08/JaniceManSweet20R.jpg?t=1240585170</string>
	</array>
	<key>50749</key>
	<array>
	  <string>http://d228216.mygallery.biz/albums/album182/WSL_0683_copy.jpg</string>
	</array>
	<key>50750</key>
	<array>
	  <string>http://www.scenicreflections.com/thumbs/cute</string>
	</array>
	<key>50751</key>
	<array>
	  <string>http://lh4.ggpht.com/-rHDFe5dgj9U/R-8iAdo_GkI/AAAAAAAAAGk/YRdWhNcykeg/102-1.jpg</string>
	</array>
	<key>50752</key>
	<array>
	  <string>http://starsupporta.harmonouniversa.org/starj/photos/JaniceMan03.jpg</string>
	</array>
	<key>50753</key>
	<array>
	  <string>http://img.youtube.com/vi/yMbOIuWEvpI/1.jpg</string>
	</array>
	<key>50754</key>
	<array>
	  <string>http://img.photobucket.com/albums/v247/s7ran9er/janism/JaniceManX04.jpg</string>
	</array>
	<key>50755</key>
	<array>
	  <string>http://www.skyalbum.com.hk/image/L/imageserver_q/q186s88/q2p32np47n211op7/5os7s750</string>
	</array>
	<key>50756</key>
	<array>
	  <string>http://img2.bbs.163.com/tvb/zt/zty_79/5b7ceec3aa99e454d7e455fc663ff258.jpg</string>
	</array>
	<key>50757</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/76/1c/10074356281_s.jpg</string>
	</array>
	<key>50758</key>
	<array>
	  <string>http://i48.photobucket.com/albums/f226/babydoll_siv/Photoshop%20Practice/JaniceManGap01.jpg</string>
	</array>
	<key>50759</key>
	<array>
	  <string>http://appledaily.atnext.com/images/apple-photos/apple/20080228/large/28ec5p6.jpg</string>
	</array>
	<key>50760</key>
	<array>
	  <string>http://4.bp.blogspot.com/_yhdBnBJsaS8/SZVSYkb2cII/AAAAAAAAAP0/6U85RKmH8Mg/s320/janice+man+before.bmp</string>
	</array>
	<key>50761</key>
	<array>
	  <string>http://simg.sina.com.hk/cp/0/0043/2337/2/p.jpg</string>
	</array>
	<key>50762</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091004/00/bijinbijo/21/06/j/t02200288_0350045810267053535.jpg</string>
	</array>
	<key>50763</key>
	<array>
	  <string>http://www.asianpopcorn.com/battle_images/Angelababy_22112009102851.jpg</string>
	</array>
	<key>50764</key>
	<array>
	  <string>http://the-sun.on.cc/cnt/entertainment/20090904/photo/0904-00470-029b2.jpg</string>
	</array>
	<key>50765</key>
	<array>
	  <string>http://img.photobucket.com/albums/v247/s7ran9er/janism/JaniceManX01.jpg</string>
	</array>
	<key>50766</key>
	<array>
	  <string>http://www.iatolife.com/hkbeauty/images/star/jul1.JPG</string>
	</array>
	<key>50767</key>
	<array>
	  <string>http://www.hkceleb.com/pic/cache/janice-man-wing-shan/janice-man-080524-140037_128_thumb.jpg</string>
	</array>
	<key>50768</key>
	<array>
	  <string>http://www.imagewa.net/img/free-wallpapers/thumb/201105/03/janice-man-wallpaper-008.jpg</string>
	</array>
	<key>50769</key>
	<array>
	  <string>http://data.whicdn.com/images/2912714/28akevr_thumb.jpg?1278568401</string>
	</array>
	<key>50770</key>
	<array>
	  <string>http://www1.hk.apple.nextmedia.com/images/apple-photos/apple/20080327/large/27ee5p6.jpg</string>
	</array>
	<key>50771</key>
	<array>
	  <string>http://img1.lln.crunchyroll.com/i/spire3/04092008/3/7/3/0/37303caceb6e50_full.jpg</string>
	</array>
	<key>50772</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20101210/23/light-zone/47/b1/p/o0616034010910297838.png</string>
	</array>
	<key>50773</key>
	<array>
	  <string>http://929.hee-ro.net/wp-content/images/2/JaniceMan08.bmp</string>
	</array>
	<key>50774</key>
	<array>
	  <string>http://www.blogcdn.com/chinese.engadget.com/media/2008/11/nokia_promo_girl_hk_20081124_06aaaa.jpg</string>
	</array>
	<key>50775</key>
	<array>
	  <string>http://4.bp.blogspot.com/_6fyaIP-cj0o/S1ZWd5eofYI/AAAAAAAAGmA/wPvPOPugRKs/s400/retribution+janice+man+anthony+wong+maggie+cheung.jpg</string>
	</array>
	<key>50776</key>
	<array>
	  <string>http://p.yoho.cn/6420566.jpg</string>
	</array>
	<key>50777</key>
	<array>
	  <string>http://www.hkceleb.com/pic/cache/janice-man-wing-shan/janice-man-080524-140325_128_thumb.jpg</string>
	</array>
	<key>50778</key>
	<array>
	  <string>http://3.bp.blogspot.com/-L5fl_I_jdA4/Tfd-P0qHxuI/AAAAAAAABLU/gNm2BuE8h6w/s640/Janice+Man+Wing+Shan+-15.jpg</string>
	</array>
	<key>50779</key>
	<array>
	  <string>http://www.imagewa.net/img/free-wallpapers/thumb/201105/03/janice-man-wallpaper-005.jpg</string>
	</array>
	<key>50780</key>
	<array>
	  <string>http://xdd.xanga.com/a8810140c5131164013694/w93404320.jpg</string>
	</array>
	<key>50781</key>
	<array>
	  <string>http://next.atnext.com/images/next-photos/face/083/640pixfolder/W883-128aN/sek01.jpg</string>
	</array>
	<key>50782</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20091004/00/bijinbijo/df/ff/j/t02200330_0800120010267053529.jpg</string>
	</array>
	<key>50783</key>
	<array>
	  <string>http://dienanhso.files.wordpress.com/2010/12/janice_man_wallpaper_6.jpg?w=300</string>
	</array>
	<key>50784</key>
	<array>
	  <string>http://www.womero.com/wp-content/uploads/Janice-Man06.jpg</string>
	</array>
	<key>50785</key>
	<array>
	  <string>http://img.woopie.jp/getdata.php?pid=110117cq97a37</string>
	</array>
	<key>50786</key>
	<array>
	  <string>http://allaboutleon.com/webbbs/images/main/pic10627.jpg</string>
	</array>
	<key>50787</key>
	<array>
	  <string>http://dienanhso.files.wordpress.com/2010/12/janice_man_wallpaper_1.jpg?w=300</string>
	</array>
	<key>50788</key>
	<array>
	  <string>http://i1.hk/u/attachments2/day_070717/20070717_997f64b25f126f7b29d342K2GdFDh8mT.jpg</string>
	</array>
	<key>50789</key>
	<array>
	  <string>http://www.gameone.com/images/pageimages/profile/pc_Janice_Man.jpg</string>
	</array>
	<key>50790</key>
	<array>
	  <string>http://data.whicdn.com/images/9155755/AngelaBabyJaniceMan-23_thumb.png?1303724138</string>
	</array>
	<key>50791</key>
	<array>
	  <string>http://blog-imgs-23-origin.fc2.com/c/h/i/china8/091009wenyongshan_04.jpg</string>
	</array>
	<key>50792</key>
	<array>
	  <string>http://d1535dk28ea235.cloudfront.net/preset_64/JaniceMan02.jpg</string>
	</array>
	<key>50793</key>
	<array>
	  <string>http://2.bp.blogspot.com/-PfsP2aLwghU/Tfd-SZwZuBI/AAAAAAAABLs/lMaKAzEdlqo/s640/Janice+Man+Wing+Shan+-06.jpg</string>
	</array>
	<key>50794</key>
	<array>
	  <string>http://3.bp.blogspot.com/_5qjGhZ7AMJs/St9zPsSrdtI/AAAAAAAAC4E/EyxB7uRjOJQ/s400/JaniceMan.jpg</string>
	</array>
	<key>50795</key>
	<array>
	  <string>http://cimg21.163.com/ent/2008/4/17/20080417224515e019f.jpg</string>
	</array>
	<key>50796</key>
	<array>
	  <string>http://www.imagewa.net/img/free-wallpapers/preview/201105/03/janice-man-wallpaper-014.jpg</string>
	</array>
	<key>50797</key>
	<array>
	  <string>http://hk.next.nextmedia.com/images/next-photos/NextMag/964/640pixfolder/E964-064N/IMG_7318.jpg</string>
	</array>
	<key>50798</key>
	<array>
	  <string>http://images.17173.com/news/2008/04/16/s0416tlbb10s.jpg</string>
	</array>
	<key>50799</key>
	<array>
	  <string>http://i1.ytimg.com/vi/ZzxnOY12EKM/1.jpg</string>
	</array>
	<key>50800</key>
	<array>
	  <string>http://farm2.static.flickr.com/1286/4675256704_dffa6a922f.jpg</string>
	</array>
	<key>50801</key>
	<array>
	  <string>http://www.imagewa.net/img/free-wallpapers/thumb/201105/03/janice-man-wallpaper-003.jpg</string>
	</array>
	<key>50802</key>
	<array>
	  <string>http://www.amerikajin.net/wp-content/themes/tomiko/images/thumbs/janice-man.jpg</string>
	</array>
	<key>50803</key>
	<array>
	  <string>http://x42.xanga.com/afad867534232132800177/z96994978.jpg</string>
	</array>
	<key>50804</key>
	<array>
	  <string>http://www.sodesk.com/albums/wallpapers/stars/chinese/female/janice_man/normal_1600x1200_005_200_janice_man.jpg</string>
	</array>
	<key>50805</key>
	<array>
	  <string>http://www.chinadaily.com.cn/hqyl/images/attachement/jpg/site1/20090824/0023ae9885da0bfc967a2a.jpg</string>
	</array>
	<key>50806</key>
	<array>
	  <string>http://3.bp.blogspot.com/_4K_-0chIgDI/SIQSnflXbCI/AAAAAAAAA-M/9VB6vQjoYGg/s400/JaniceManGap03.jpg</string>
	</array>
	<key>50807</key>
	<array>
	  <string>http://pic.prcm.jp/gazo/Sy/9lH553_240full.jpeg</string>
	</array>
	<key>50808</key>
	<array>
	  <string>http://3.bp.blogspot.com/_Q_ctBwFLMeU/SfTQMsa2QfI/AAAAAAAAAIQ/rgiCn-2j7Bg/s200/el070801873.jpg</string>
	</array>
	<key>50809</key>
	<array>
	  <string>http://4.bp.blogspot.com/_Q_ctBwFLMeU/SfTQRYMIXQI/AAAAAAAAAIY/QzNSrNZa_sw/s200/el070801877.jpg</string>
	</array>
	<key>50810</key>
	<array>
	  <string>http://x5e.xanga.com/f71c956433232205023658/b159337669.jpg</string>
	</array>
	<key>50811</key>
	<array>
	  <string>http://www.gznet.com/ent/xxbx/cjhrg/200908/W020090819370944393288.jpg</string>
	</array>
	<key>50812</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/31/0000332431/84/img5153123azik9zj.jpeg</string>
	</array>
	<key>50813</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/31/0000332431/83/img52378ca9zikazj.jpeg</string>
	</array>
	<key>50814</key>
	<array>
	  <string>http://avatarmaker.eu/free-avatars/avatars/people_230/people_03_p/cute_actress_model_janice_man_4_avatar_19775.jpg</string>
	</array>
	<key>50815</key>
	<array>
	  <string>http://th06.deviantart.net/fs35/150/f/2008/237/2/d/Janice_Man_Sig_by_CrussZ.png</string>
	</array>
	<key>50816</key>
	<array>
	  <string>http://farm4.static.flickr.com/3139/2831423358_4e41d00def.jpg</string>
	</array>
	<key>50817</key>
	<array>
	  <string>http://i1.ytimg.com/vi/xTBRIB2Bszk/1.jpg</string>
	</array>
	<key>50818</key>
	<array>
	  <string>http://i3.ytimg.com/vi/zbSiPdPAe3g/2.jpg</string>
	</array>
	<key>50819</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/31/0000332431/02/img6d497a2czik5zj.jpeg</string>
	</array>
	<key>50820</key>
	<array>
	  <string>http://www1.hk.apple.nextmedia.com/images/apple-photos/apple/20080627/large/27ed1p1n.jpg</string>
	</array>
	<key>50821</key>
	<array>
	  <string>http://i138.photobucket.com/albums/q262/ki_ni_ko/janice3.jpg</string>
	</array>
	<key>50822</key>
	<array>
	  <string>http://4.bp.blogspot.com/_yhdBnBJsaS8/SZVSYkb2cII/AAAAAAAAAP0/6U85RKmH8Mg/s72-c/janice+man+before.bmp</string>
	</array>
	<key>50823</key>
	<array>
	  <string>http://1.bp.blogspot.com/-HbeVGg1KqL4/Td051ZhWtPI/AAAAAAAABMk/CQnWpm0zVQU/s1600/Angela20BabyJaniceMan_16d2.png</string>
	</array>
	<key>50824</key>
	<array>
	  <string>http://profile.ak.fbcdn.net/hprofile-ak-snc4/41813_8488062074_223_n.jpg</string>
	</array>
	<key>50825</key>
	<array>
	  <string>http://i1.sinaimg.cn/lx/news/p/2009/0703/U2423P8T1D884707F914DT20090702181517.jpg</string>
	</array>
	<key>50826</key>
	<array>
	  <string>http://www.sodesk.com/albums/wallpapers/stars/chinese/female/janice_man/thumb_1600x1200_003_218_janice_man.jpg</string>
	</array>
	<key>50827</key>
	<array>
	  <string>http://i705.photobucket.com/albums/ww60/asiasfinestcjk/2iqo682.jpg?t=1249129955</string>
	</array>
	<key>50828</key>
	<array>
	  <string>http://img001.photo.21cn.com/photos/album/20090820/o/7B56216DBE5FAAB8A93C8601BBE2F2E8.jpg</string>
	</array>
	<key>50829</key>
	<array>
	  <string>http://img1.gtimg.com/ent/pics/20365/20365503.jpg</string>
	</array>
	<key>50830</key>
	<array>
	  <string>http://chinesemov.com/images/2011/punished-2011-1.jpg</string>
	</array>
	<key>50831</key>
	<array>
	  <string>http://www.gznet.com/ent/mmzy/yykx/200807/W020080703509751409884.jpg</string>
	</array>
	<key>50832</key>
	<array>
	  <string>http://www.kaputz.com/newkaputz/tbimgs/janice-man.jpg</string>
	</array>
	<key>50833</key>
	<array>
	  <string>http://cf1.imgobject.com/profiles/936/4df077fd5e73d642b3000936/janice-man-h632.jpg</string>
	</array>
	<key>50834</key>
	<array>
	  <string>http://th05.deviantart.net/fs38/150/f/2008/334/0/6/Janice_Man_Sig_2_by_CrussZ.png</string>
	</array>
	<key>50835</key>
	<array>
	  <string>http://images1.asianmediawiki.com/images/0/06/Punished-Janice_Man.jpg</string>
	</array>
	<key>50836</key>
	<array>
	  <string>http://simg.sina.com.hk/cp/0/0041/0171/2/p.jpg</string>
	</array>
	<key>50837</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/252/47189243.jpg</string>
	</array>
	<key>50838</key>
	<array>
	  <string>http://orientaldaily.on.cc/cnt/entertainment/20090717/photo/0717-00282-064b3.jpg</string>
	</array>
	<key>50839</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100723/14/hare1054/3a/c3/j/t02200165_0640048010654216921.jpg</string>
	</array>
	<key>50840</key>
	<array>
	  <string>http://i40.tinypic.com/2e6cxle.jpg</string>
	</array>
	<key>50841</key>
	<array>
	  <string>http://i1.hk/d/attachments/day_090903/20090903_47897167f16af38ed475ZUig9b0HlItv.jpg</string>
	</array>
</dict>
</plist>
