<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>18801</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/38914335/Amanda+Seyfried+PNG.png</string>
	</array>
	<key>18802</key>
	<array>
	  <string>http://farm4.static.flickr.com/3159/3962399823_80ac5159fb.jpg</string>
	</array>
	<key>18803</key>
	<array>
	  <string>http://blog-imgs-32-origin.fc2.com/h/e/a/heartattack507/11012201_Red_Riding_Hood_00s.jpg</string>
	</array>
	<key>18804</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100206/15/love-celeb2/96/57/j/o0399060010403257631.jpg</string>
	</array>
	<key>18805</key>
	<array>
	  <string>http://farm6.static.flickr.com/5088/5270044146_56d3d447c4.jpg</string>
	</array>
	<key>18806</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/500/38914485/Amanda+Seyfried+PNG.png</string>
	</array>
	<key>18807</key>
	<array>
	  <string>http://farm6.static.flickr.com/5299/5538311265_b0471611a9.jpg</string>
	</array>
	<key>18808</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100609/13/love-celeb2/7f/aa/j/o0433060010582401768.jpg</string>
	</array>
	<key>18809</key>
	<array>
	  <string>http://brilliant-girl.info/wp-content/uploads/2011/02/amanda-seyfried-06.jpg</string>
	</array>
	<key>18810</key>
	<array>
	  <string>http://cdn-ak.f.st-hatena.com/images/fotolife/y/ylkmxx/20110302/20110302204925.jpg</string>
	</array>
	<key>18811</key>
	<array>
	  <string>http://file.ikemendigger.blog.shinobi.jp/2aa04168.jpeg</string>
	</array>
	<key>18812</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/39036919/Amanda+Seyfried+011.jpg</string>
	</array>
	<key>18813</key>
	<array>
	  <string>http://brilliant-girl.info/wp-content/uploads/2011/02/amanda-seyfried-07.jpg</string>
	</array>
	<key>18814</key>
	<array>
	  <string>http://farm6.static.flickr.com/5052/5538311305_3419ef6d90.jpg</string>
	</array>
	<key>18815</key>
	<array>
	  <string>http://img6.zozo.jp/people/183989/article/2895584.pimg</string>
	</array>
	<key>18816</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090609/16/love-celeb2/5a/01/j/o0451060010193994505.jpg</string>
	</array>
	<key>18817</key>
	<array>
	  <string>http://brilliant-girl.info/wp-content/uploads/2011/02/amanda-seyfried-05.jpg</string>
	</array>
	<key>18818</key>
	<array>
	  <string>http://images.v1.vogue.co.jp/media/2635097/01_MainImageItems.jpg</string>
	</array>
	<key>18819</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/45609639/Amanda+Seyfried+001.jpg</string>
	</array>
	<key>18820</key>
	<array>
	  <string>http://farm6.static.flickr.com/5015/5538312317_ce720be0c7.jpg</string>
	</array>
	<key>18821</key>
	<array>
	  <string>http://news.walkerplus.com/2011/0309/14/20110309105109_01_400.jpg</string>
	</array>
	<key>18822</key>
	<array>
	  <string>http://brilliant-girl.info/wp-content/uploads/2011/02/amanda-seyfried-09.jpg</string>
	</array>
	<key>18823</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100125/16/love-celeb2/75/ab/j/o0400060010388446757.jpg</string>
	</array>
	<key>18824</key>
	<array>
	  <string>http://www.cinemacast.jp/cinema/2011/img/trailers/juliet01.jpg</string>
	</array>
	<key>18825</key>
	<array>
	  <string>http://www.timewarp.jp/images/upload/2010/05/bspnphotostwo869063-SPL179206_068-400x632.jpg</string>
	</array>
	<key>18826</key>
	<array>
	  <string>http://kovac.blog.so-net.ne.jp/_images/blog/_019/n_kovac/2573793.jpg</string>
	</array>
	<key>18827</key>
	<array>
	  <string>http://img.elle.co.jp/var/ellejp/storage/images/culture/celebcolumn/celeb-amanda-seyfried-chloe11-0527/1/4338711-2-jpn-JP/_1_image_size_500_375_dn.jpg</string>
	</array>
	<key>18828</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100609/13/love-celeb2/0c/53/j/o0443060010582401316.jpg</string>
	</array>
	<key>18829</key>
	<array>
	  <string>http://userdisk.webry.biglobe.ne.jp/021/246/69/N000/000/000/129257050127316322681_9.jpg</string>
	</array>
	<key>18830</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/16968769/Amanda+Seyfried+ewphotoshoot2008+23.jpg</string>
	</array>
	<key>18831</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100206/15/love-celeb2/60/b8/j/o0399060010403257629.jpg</string>
	</array>
	<key>18832</key>
	<array>
	  <string>http://brilliant-girl.info/wp-content/uploads/2011/02/amanda-seyfried-02.jpg</string>
	</array>
	<key>18833</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20090306/18/theocsupernatural/5b/e2/j/o0774060010149082086.jpg</string>
	</array>
	<key>18834</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/201003/09/03/d0125703_933220.jpg</string>
	</array>
	<key>18835</key>
	<array>
	  <string>http://brilliant-girl.info/wp-content/uploads/2011/02/amanda-seyfried-03.jpg</string>
	</array>
	<key>18836</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/44614357/Amanda+Seyfried+3.png</string>
	</array>
	<key>18837</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090307/21/theocsupernatural/25/5b/j/o0400060010149553770.jpg</string>
	</array>
	<key>18838</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100609/13/love-celeb2/0d/21/j/o0433060010582401767.jpg</string>
	</array>
	<key>18839</key>
	<array>
	  <string>http://www.timewarp.jp/images/upload/2010/03/b91391406_10.jpg</string>
	</array>
	<key>18840</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100425/10/yurik0614/37/9f/j/o0535080210510740200.jpg</string>
	</array>
	<key>18841</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100515/22/yurik0614/48/06/j/o0408054410543210644.jpg</string>
	</array>
	<key>18842</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/b9/5c/10079135895.jpg</string>
	</array>
	<key>18843</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/38914407/Amanda+Seyfried+PNG.png</string>
	</array>
	<key>18844</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090306/18/theocsupernatural/41/21/j/o0765100010149082093.jpg</string>
	</array>
	<key>18845</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/200902/09/90/e0067990_14233851.jpg</string>
	</array>
	<key>18846</key>
	<array>
	  <string>http://userserve-ak.last.fm/serve/_/38914347/Amanda+Seyfried+PNG.png</string>
	</array>
	<key>18847</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100215/05/yurik0614/db/60/j/o0360048010415076392.jpg</string>
	</array>
	<key>18848</key>
	<array>
	  <string>http://brilliant-girl.info/wp-content/uploads/2011/02/amanda-seyfried-04.jpg</string>
	</array>
	<key>18849</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100404/09/yurik0614/e1/cb/j/o0535077410481085973.jpg</string>
	</array>
	<key>18850</key>
	<array>
	  <string>http://image.space.rakuten.co.jp/lg01/48/0000908848/03/img44a1b357zik2zj.jpeg</string>
	</array>
	<key>18851</key>
	<array>
	  <string>http://celeb-celeb.img.jugem.jp/20110302_730444.jpg</string>
	</array>
	<key>18852</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100215/05/yurik0614/50/ad/j/o0535078910415076396.jpg</string>
	</array>
	<key>18853</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20100215/05/yurik0614/01/5d/j/o0300040010415076395.jpg</string>
	</array>
	<key>18854</key>
	<array>
	  <string>http://stat.ameba.jp/user_images/20100515/22/yurik0614/13/38/j/o0408054410543210645.jpg</string>
	</array>
	<key>18855</key>
	<array>
	  <string>http://prt.iza.ne.jp/images/news/20100309/277977_c450.jpg</string>
	</array>
	<key>18856</key>
	<array>
	  <string>http://stat001.ameba.jp/user_images/20090306/18/theocsupernatural/bb/2f/j/o0770100010149082089.jpg</string>
	</array>
	<key>18857</key>
	<array>
	  <string>http://pipocacombo.com/wp-content/uploads/2010/03/amanda-seyfried.jpg</string>
	</array>
	<key>18858</key>
	<array>
	  <string>http://upload.wikimedia.org/wikipedia/commons/thumb/7/79/AmandaSeyfried09TIFF.jpg/220px-AmandaSeyfried09TIFF.jpg</string>
	</array>
	<key>18859</key>
	<array>
	  <string>http://4.bp.blogspot.com/_Ne5Lb2SiFHg/SaQ4yO0NoRI/AAAAAAAAcPc/4C01hAGGeDY/s1600/AmandaSeyfried01.jpg</string>
	</array>
	<key>18860</key>
	<array>
	  <string>http://1.bp.blogspot.com/_Zb1LfP5mQZw/TDZt3UdPrNI/AAAAAAAADoE/RePn9OfASms/s1600/amanda-seyfried.jpg</string>
	</array>
	<key>18861</key>
	<array>
	  <string>http://static.tvfanatic.com/images/gallery/amanda-seyfried.jpg</string>
	</array>
	<key>18862</key>
	<array>
	  <string>http://2.bp.blogspot.com/_1UVeDkK9zQM/TATX1K8vsgI/AAAAAAAAC64/V7r6M-Z1wvY/s1600/Amanda%2BSeyfried3.jpg</string>
	</array>
	<key>18863</key>
	<array>
	  <string>http://images2.fanpop.com/images/photos/2800000/Amanda-Seyfried-amanda-seyfried-2805313-360-480.jpg</string>
	</array>
	<key>18864</key>
	<array>
	  <string>http://blogs.coventrytelegraph.net/passtheremote/amanda-seyfried.jpg</string>
	</array>
	<key>18865</key>
	<array>
	  <string>http://hollywoodhatesme.files.wordpress.com/2010/04/amandaseyfried.jpg</string>
	</array>
	<key>18866</key>
	<array>
	  <string>http://2.bp.blogspot.com/_P73PBT2SNQU/TSAYsc_zFXI/AAAAAAAAADo/yR9uygfId94/s1600/amanda-seyfried-20080717031630846-000.jpg</string>
	</array>
	<key>18867</key>
	<array>
	  <string>http://pds.exblog.jp/pds/1/201004/21/44/d0007144_10154472.jpg</string>
	</array>
	<key>18868</key>
	<array>
	  <string>http://1.bp.blogspot.com/-recl8EoyvDI/TWVjne6fhLI/AAAAAAAAAq8/gfnjIbfhQNw/s640/Amanda-Seyfried.jpg</string>
	</array>
	<key>18869</key>
	<array>
	  <string>http://www.wildsound-filmmaking-feedback-events.com/images/amanda_seyfried_big_love.jpg</string>
	</array>
	<key>18870</key>
	<array>
	  <string>http://images2.fanpop.com/images/photos/8400000/Amanda-Seyfried-amanda-seyfried-8467073-360-480.jpg</string>
	</array>
	<key>18871</key>
	<array>
	  <string>http://www.wallpaperweb.org/wallpaper/babes/1920x1200/amanda_seyfried_20091211_0084.jpg</string>
	</array>
	<key>18872</key>
	<array>
	  <string>http://www.dailymakeover.com/appImages/galleryImages/all_womens_looks/Amanda_Seyfried%2BFeb_22_2009.jpg</string>
	</array>
	<key>18873</key>
	<array>
	  <string>http://4.bp.blogspot.com/_0NhdcMdhvWs/TPyKmmq04HI/AAAAAAAAZXM/z29uz-4-Tlc/s1600/600f++-amanda-seyfried.jpg</string>
	</array>
	<key>18874</key>
	<array>
	  <string>http://www.tvfanatic.com/images/gallery/amanda-seyfried-as-sarah-henrickson.jpg</string>
	</array>
	<key>18875</key>
	<array>
	  <string>http://3.bp.blogspot.com/-OUqcLFI13z4/TX_RQPw5bkI/AAAAAAAAAz4/gpA6Tp5Kffo/s1600/awp_0_800.jpg</string>
	</array>
	<key>18876</key>
	<array>
	  <string>http://static.moviefanatic.com/images/gallery/amanda-seyfried.jpg</string>
	</array>
	<key>18877</key>
	<array>
	  <string>http://www.buzzine.com/wp-content/uploads/2008/07/amanda_seyfried_20080719.jpg</string>
	</array>
	<key>18878</key>
	<array>
	  <string>http://www.wildsound-filmmaking-feedback-events.com/images/amanda_seyfried_black_and_white.jpg</string>
	</array>
	<key>18879</key>
	<array>
	  <string>http://topnews.in/light/files/Amanda-Seyfried-3.jpg</string>
	</array>
	<key>18880</key>
	<array>
	  <string>http://www.altfg.com/Stars/photos/london-09-amanda-seyfried-1.JPG</string>
	</array>
	<key>18881</key>
	<array>
	  <string>http://www.meganfox.com/wp-content/uploads/2009/10/amanda-seyfried.jpg</string>
	</array>
	<key>18882</key>
	<array>
	  <string>http://delysiastyle.com/wp-content/uploads/2011/02/AmandaSeyfriedInVogueAliceinWonderland.png</string>
	</array>
	<key>18883</key>
	<array>
	  <string>http://4.bp.blogspot.com/_S87_67cFRfQ/TU8EFa8ZqAI/AAAAAAAAFp4/Rd8xxbOkX3k/s1600/Amanda%2BSeyfried3.jpg</string>
	</array>
	<key>18884</key>
	<array>
	  <string>http://upload.wikimedia.org/wikipedia/commons/2/27/Amanda_Seyfried.jpg</string>
	</array>
	<key>18885</key>
	<array>
	  <string>http://amygrindhouse.com/wp-content/uploads/2009/06/amanda-seyfried-picture-27487pcn_biglove12.jpg</string>
	</array>
	<key>18886</key>
	<array>
	  <string>http://www4.pictures.fp.zimbio.com/Amanda+Seyfried+Dominic+Cooper+Leaving+Ivy+NwlQCeQCF2Ll.jpg</string>
	</array>
	<key>18887</key>
	<array>
	  <string>http://mastcelebs.net/upload/amanda-seyfried9.jpg</string>
	</array>
	<key>18888</key>
	<array>
	  <string>http://dietrichthrall.files.wordpress.com/2010/04/seyfried-amanda.jpg</string>
	</array>
	<key>18889</key>
	<array>
	  <string>http://www.celebritygossip.com/public/celebrity_pictures/amanda_seyfried_39_46.jpg</string>
	</array>
	<key>18890</key>
	<array>
	  <string>http://stylewithanna.com/wp-content/uploads/2009/02/amanda-seyfried-red-dress-2009-oscars.jpg</string>
	</array>
	<key>18891</key>
	<array>
	  <string>http://delysiastyle.com/wp-content/uploads/2011/02/AmandaSeyfriedEmmaRobertsBlakeLivelyKristenStewartViaserenavanderwoodsen.jpg</string>
	</array>
	<key>18892</key>
	<array>
	  <string>http://www.moviegno.me/wp-content/uploads/2011/03/Amanda-Seyfried-photo.jpg</string>
	</array>
	<key>18893</key>
	<array>
	  <string>http://www.celebritywallpaperbase.com/wp-content/uploads/2010/04/amanda_seyfried_jennifers_widescreen_wallpaper.jpg</string>
	</array>
	<key>18894</key>
	<array>
	  <string>http://www.newhairandstyles.com/wp-content/plugins/wp-o-matic/images/4a0b5_amanda-seyfried.jpg</string>
	</array>
	<key>18895</key>
	<array>
	  <string>http://www.leaktainment.com/wp-content/uploads/2011/06/Amanda-Seyfried.jpg</string>
	</array>
	<key>18896</key>
	<array>
	  <string>http://www.filmofilia.com/wp-content/uploads/2010/03/Amanda-Seyfried.jpg</string>
	</array>
	<key>18897</key>
	<array>
	  <string>http://www.newhairandstyles.com/wp-content/plugins/wp-o-matic/images/4a0b5_5e258b4c7f0e0d24_amanda.jpg</string>
	</array>
	<key>18898</key>
	<array>
	  <string>http://yekwo.com/wp-content/uploads/2010/01/amanda-seyfried-necklace.jpg</string>
	</array>
	<key>18899</key>
	<array>
	  <string>http://www.go4celebrity.us/wallpapers/walls/Amanda_Seyfried_34_17477830.jpg</string>
	</array>
	<key>18900</key>
	<array>
	  <string>http://images.broadwayworld.com/upload/30075/tn-500_seyfriedwm3162974.jpg</string>
	</array>
	<key>18901</key>
	<array>
	  <string>http://farm4.static.flickr.com/3350/3420963674_29bc6cb317.jpg</string>
	</array>
	<key>18902</key>
	<array>
	  <string>http://www.celebritywallpaper.co/wallpapers/Amanda-Seyfried-wallpaper-5.jpg</string>
	</array>
	<key>18903</key>
	<array>
	  <string>http://cache2.allpostersimages.com/p/LRG/27/2774/AULTD00Z/posters/amanda-seyfried.jpg</string>
	</array>
	<key>18904</key>
	<array>
	  <string>http://blog-imgs-27-origin.fc2.com/r/o/s/rose55/teenvogue_07.jpg</string>
	</array>
	<key>18905</key>
	<array>
	  <string>http://www.celebszz.com/9372-1/amanda-seyfried-01.jpg</string>
	</array>
	<key>18906</key>
	<array>
	  <string>http://3.bp.blogspot.com/_qTbQgwy8qkk/Sq1hZfLyqMI/AAAAAAAABxw/pKoGSFSuPGA/s400/amanda-seyfried-2.jpg</string>
	</array>
	<key>18907</key>
	<array>
	  <string>http://www.boomtron.com/wp-content/uploads/2010/01/Letter-sFrom-Juliet-Amanda-seyfried-42.jpg</string>
	</array>
	<key>18908</key>
	<array>
	  <string>http://4.bp.blogspot.com/-lCMy9zFgrCY/TWVjQ8qi8iI/AAAAAAAAAqU/UwVKRlWKPmw/s1600/Amanda_Seyfried_gives_018e.jpg</string>
	</array>
	<key>18909</key>
	<array>
	  <string>http://dailygab.com/files/2010/02/amanda-seyfried.jpg</string>
	</array>
	<key>18910</key>
	<array>
	  <string>http://1.bp.blogspot.com/-Pq4RR5z5X30/TWYz_0flnOI/AAAAAAAAAC8/NGYFbE0asQw/s1600/amanda-seyfried-stewart-shining.jpg</string>
	</array>
	<key>18911</key>
	<array>
	  <string>http://www.celebrity-pictures.ca/Celebrities/Amanda-Seyfried/Amanda-Seyfried-1135600.jpg</string>
	</array>
	<key>18912</key>
	<array>
	  <string>http://redriverautographs.files.wordpress.com/2009/02/amanda_seyfried-mamma_mia1_uk_premiere_in_london.jpg</string>
	</array>
	<key>18913</key>
	<array>
	  <string>http://4.bp.blogspot.com/_V7lJdZi_T9A/SaMt69RPpwI/AAAAAAAALZ0/2nZfVdV4j6M/s400/Amanda+Seyfried+Oscars+2009.jpg</string>
	</array>
	<key>18914</key>
	<array>
	  <string>http://hollywoodhatesme.files.wordpress.com/2010/05/amanda-seyfried.jpg</string>
	</array>
	<key>18915</key>
	<array>
	  <string>http://www.hdwallpapers.in/walls/amanda_seyfried-normal5.4.jpg</string>
	</array>
	<key>18916</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jj1//2009/09/seyfried-marc/amanda-seyfried-marc-jacobs-02.jpg</string>
	</array>
	<key>18917</key>
	<array>
	  <string>http://www.filmschoolrejects.com/images/amanda-seyfried-header.jpg</string>
	</array>
	<key>18918</key>
	<array>
	  <string>http://media18.onsugar.com/files/ons1/351/3518978/34_2009/amanda-seyfried-allure-september-2009-01.jpg</string>
	</array>
	<key>18919</key>
	<array>
	  <string>http://hairstyles.thehairstyler.com/hairstyle_views/front_view_images/67/original/9962_Amanda-Seyfried_copy_2.jpg</string>
	</array>
	<key>18920</key>
	<array>
	  <string>http://1.bp.blogspot.com/-aWakjq4Xraw/TVjtQ4bH17I/AAAAAAAAAxM/z8KpnXlgjYY/s1600/amanda+seyfried+%252816%2529.jpg</string>
	</array>
	<key>18921</key>
	<array>
	  <string>http://images2.fanpop.com/images/photos/3200000/Amanda-Seyfried-amanda-seyfried-3262879-1024-768.jpg</string>
	</array>
	<key>18922</key>
	<array>
	  <string>http://www.tvfanatic.com/files/amanda-seyfried.jpg</string>
	</array>
	<key>18923</key>
	<array>
	  <string>http://media.monstersandcritics.com/articles2/1456496/article_images/amanda.jpg</string>
	</array>
	<key>18924</key>
	<array>
	  <string>http://static.moviefanatic.com/images/gallery/amanda-seyfried-in-jennifers-body.jpg</string>
	</array>
	<key>18925</key>
	<array>
	  <string>http://celeb-face.com/albums/celebrities/u/6/Amanda-Seyfried/Amanda-Seyfried-246.jpg</string>
	</array>
	<key>18926</key>
	<array>
	  <string>http://www.womenhairstylesdesign.com/hairstyles/amanda-seyfried-curly-hairstyles-2011-1.jpg</string>
	</array>
	<key>18927</key>
	<array>
	  <string>http://www.allentry24.com/wp-content/uploads/2011/04/amanda-seyfried-mamma_l.jpg</string>
	</array>
	<key>18928</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jj1//2009/09/seyfried-rope/amanda-seyfried-rope-gq-magazine-03.jpg</string>
	</array>
	<key>18929</key>
	<array>
	  <string>http://images2.fanpop.com/images/photos/5000000/Amanda-Seyfired-amanda-seyfried-5025178-334-462.jpg</string>
	</array>
	<key>18930</key>
	<array>
	  <string>http://1.bp.blogspot.com/_V7lJdZi_T9A/SW_1XyXAmYI/AAAAAAAAKio/dLMSdBWLjk8/s400/amanda+seyfried2.jpg</string>
	</array>
	<key>18931</key>
	<array>
	  <string>http://www.hollywoodactress.org/images/Amanda-Seyfried-Profile.jpg</string>
	</array>
	<key>18932</key>
	<array>
	  <string>http://www.newhairandstyles.com/wp-content/plugins/wp-o-matic/images/89fb6_unraveled_moment_News_Gossip_67237_amanda_seyfried.jpg</string>
	</array>
	<key>18933</key>
	<array>
	  <string>http://www.digitalhit.com/row/cp/amanda-seyfried.jpg</string>
	</array>
	<key>18934</key>
	<array>
	  <string>http://www.stepup21.com/wp-content/uploads/2011/04/Amanda-Seyfried-13.jpg</string>
	</array>
	<key>18935</key>
	<array>
	  <string>http://upload.wikimedia.org/wikipedia/commons/f/fc/Amanda_Seyfried_at_Jennifer&amp;#039;s_Body_TIFF_2009.jpg</string>
	</array>
	<key>18936</key>
	<array>
	  <string>http://www.modeladvice.info/blog/wp-content/uploads/2010/04/Amanda-Seyfried-photo.jpg</string>
	</array>
	<key>18937</key>
	<array>
	  <string>http://www.movieeye.com/celebrity_addresses/upl_images/scans/173057/Amanda_Seyfried-r467349.jpg</string>
	</array>
	<key>18938</key>
	<array>
	  <string>http://www.accesshollywood.com/content/images/82/230x306/82885_amanda-seyfried-arrives-at-the-big-love-season-3-premiere-in-la.jpg</string>
	</array>
	<key>18939</key>
	<array>
	  <string>http://www.hairstyles4u.com/wp-content/uploads/2009/11/jhghj.jpg</string>
	</array>
	<key>18940</key>
	<array>
	  <string>http://1.bp.blogspot.com/-NoO6oAxy4gw/TcY6oA2yhdI/AAAAAAAAAHc/OUdzSv74NLU/s1600/Amanda_Seyfried_In_Letters_To_Juliet.jpg</string>
	</array>
	<key>18941</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jj1//2009/09/seyfried-marc/amanda-seyfried-marc-jacobs-04.jpg</string>
	</array>
	<key>18942</key>
	<array>
	  <string>http://www.hollywoodreporter.com/hr/photos/stylus/124407-Amanda_Seyfried.jpg</string>
	</array>
	<key>18943</key>
	<array>
	  <string>http://delysiastyle.com/wp-content/uploads/2011/02/amanda-seyfriedViaRowijoVoidStar.jpg</string>
	</array>
	<key>18944</key>
	<array>
	  <string>http://www.celebritywallpaper.co/wallpapers/Amanda-Seyfried-wallpaper-14.jpg</string>
	</array>
	<key>18945</key>
	<array>
	  <string>http://randomoverload.com/wp-content/uploads/2009/10/f9508b1d75yfried.jpg.jpg?w=420&amp;amp;h=372</string>
	</array>
	<key>18946</key>
	<array>
	  <string>http://www.bittenandbound.com/wp-content/uploads/2009/01/amanda-seyfried-lucky-mag-feb-2009.jpg</string>
	</array>
	<key>18947</key>
	<array>
	  <string>http://www.mammamiamovie.ca/images/Amanda_Seyfried.jpg</string>
	</array>
	<key>18948</key>
	<array>
	  <string>http://www.celebszz.com/9406-1/amanda-seyfried-12.jpg</string>
	</array>
	<key>18949</key>
	<array>
	  <string>http://www.2flashgames.com/photo/file/amanda_seyfried/Amanda_Seyfried_0010.jpg</string>
	</array>
	<key>18950</key>
	<array>
	  <string>http://static.thehollywoodgossip.com/images/gallery/amanda-seyfried-shot.jpg</string>
	</array>
	<key>18951</key>
	<array>
	  <string>http://www4.pictures.fp.zimbio.com/Amanda+Seyfried+Dominic+Cooper+Leaving+Ivy+1tTIJQw9XDKl.jpg</string>
	</array>
	<key>18952</key>
	<array>
	  <string>http://www.contactmusic.com/pics/lc/chloe_premiere_3_221009/amanda_seyfried_2625300.jpg</string>
	</array>
	<key>18953</key>
	<array>
	  <string>http://cdn.thefrisky.com/images/uploads/amanda_seyfried_tattoo_m.jpg</string>
	</array>
	<key>18954</key>
	<array>
	  <string>http://marieclaire.co.uk/imageBank/a/Amanda-Seyfried-and-Dominic.jpg</string>
	</array>
	<key>18955</key>
	<array>
	  <string>http://www.hrhairstyles.com/amanda-seyfried-updos.jpg</string>
	</array>
	<key>18956</key>
	<array>
	  <string>http://ucesy-sk.happyhair.sk/celebrity_img/seyfried1m2309.jpg</string>
	</array>
	<key>18957</key>
	<array>
	  <string>http://fatpeopleandfashion.files.wordpress.com/2010/04/amanda-seyfried.jpg</string>
	</array>
	<key>18958</key>
	<array>
	  <string>http://www.dailymakeover.com/appImages/galleryImages/all_womens_looks/Amanda_Seyfried+Apr_19_2004.jpg</string>
	</array>
	<key>18959</key>
	<array>
	  <string>http://www.mypure.co.uk/newsimages/Amanda+Seyfried_2389_19599335_0_0_7010148_300.jpg</string>
	</array>
	<key>18960</key>
	<array>
	  <string>http://www.photos0.com/wp-content/uploads/2011/04/Amanda-Seyfried-Photos.jpg</string>
	</array>
	<key>18961</key>
	<array>
	  <string>http://www.dailystab.com/blog/wp-content/uploads/2009/07/amanda-seyfried.jpg</string>
	</array>
	<key>18962</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jj1//2009/09/seyfried-marc/amanda-seyfried-marc-jacobs-03.jpg</string>
	</array>
	<key>18963</key>
	<array>
	  <string>http://redriverautographs.files.wordpress.com/2009/02/amanda-seyfried-s-tiff-portraits-actresses-8150532-1533-2300.jpg</string>
	</array>
	<key>18964</key>
	<array>
	  <string>http://www.wildsound-filmmaking-feedback-events.com/images/amanda_seyfried_meryl_streep.jpg</string>
	</array>
	<key>18965</key>
	<array>
	  <string>http://cdn.showbizspy.com/static/Amanda-Seyfried.jpg</string>
	</array>
	<key>18966</key>
	<array>
	  <string>http://img.xcitefun.net/users/2009/01/21693</string>
	</array>
	<key>18967</key>
	<array>
	  <string>http://chud.com/articles/content_images/5/amanda_seyfried_12110701.jpg</string>
	</array>
	<key>18968</key>
	<array>
	  <string>http://blog-imgs-35.fc2.com/b/r/a/brandocosmefation/011610-amanda-seyfried-290.jpg</string>
	</array>
	<key>18969</key>
	<array>
	  <string>http://media19.onsugar.com/files/upl1/0/6263/44_2008/4dcdbd40349a7b6f_nerbleamandaseyfriedew0oy7.jpg</string>
	</array>
	<key>18970</key>
	<array>
	  <string>http://www.makeupfor-women.com/wp-content/uploads/amanda_seyfried_makeup.jpg</string>
	</array>
	<key>18971</key>
	<array>
	  <string>http://www.lockandmane.com/blog/wp-content/uploads/2010/02/amanda-seyfried1.jpg</string>
	</array>
	<key>18972</key>
	<array>
	  <string>http://cdn.buzznet.com/media/jjr//2010/01/bella-amanda/bella-thorne-amanda-seyfried-02.jpg</string>
	</array>
	<key>18973</key>
	<array>
	  <string>http://redriverautographs.files.wordpress.com/2009/02/amanda-seyfried-wall-small2.jpg</string>
	</array>
	<key>18974</key>
	<array>
	  <string>http://topnews.in/light/files/Amanda-Seyfried-5.jpg</string>
	</array>
	<key>18975</key>
	<array>
	  <string>http://www.teenidols4you.com/blink/Actors/AmandaSeyfried/AmandaSeyfried_1247335904.jpg</string>
	</array>
	<key>18976</key>
	<array>
	  <string>http://images2.fanpop.com/images/photos/8400000/Amanda-Seyfried-amanda-seyfried-8467065-360-480.jpg</string>
	</array>
	<key>18977</key>
	<array>
	  <string>http://themoviezones.com/wp-content/uploads/2011/03/amanda_seyfried_hot_photoshoot-normal.jpg</string>
	</array>
	<key>18978</key>
	<array>
	  <string>http://4.bp.blogspot.com/-y56l1CXuA0s/TXgGpKCJPtI/AAAAAAAAAzg/XWFyZs5uge8/s1600/amanda-seyfried.jpg</string>
	</array>
	<key>18979</key>
	<array>
	  <string>http://www.celebrity-pictures.ca/Celebrities/Amanda-Seyfried/Amanda-Seyfried-1339997.jpg</string>
	</array>
	<key>18980</key>
	<array>
	  <string>http://img2.timeinc.net/people/i/2010/stylewatch/blog/100517/amanda-seyfried-300x400.jpg</string>
	</array>
	<key>18981</key>
	<array>
	  <string>http://www.vettri.net/gallery/celeb/amanda_seyfried/Mamma-Mia-UK-Premiere/AmandaSeyfried-MammaMiaUKPremiere_Vettri.Net-01.jpg</string>
	</array>
	<key>18982</key>
	<array>
	  <string>http://www.ourvanity.com/images/Mamma-Mia-actress-Amanda-Seyfried.jpg</string>
	</array>
	<key>18983</key>
	<array>
	  <string>http://www.teenidols4you.com/blink/Actors/AmandaSeyfried/AmandaSeyfried_1260994823.jpg</string>
	</array>
	<key>18984</key>
	<array>
	  <string>http://static.tvfanatic.com/images/gallery/amanda-seyfried-on-big-love.jpg</string>
	</array>
	<key>18985</key>
	<array>
	  <string>http://www.hairstyles4u.com/wp-content/uploads/2009/11/3rtttt.jpg</string>
	</array>
	<key>18986</key>
	<array>
	  <string>http://cdn.buzznet.com/media-cdn/jj1/headlines/2009/04/dominic-cooper-amanda-seyfried-chataeu-marmont.jpg</string>
	</array>
	<key>18987</key>
	<array>
	  <string>http://www.dailymakeover.com/appImages/galleryImages/celebrity_hairstyles_ladies/Amanda_Seyfried+Jan_2007.jpg</string>
	</array>
	<key>18988</key>
	<array>
	  <string>http://ouchmagazine.com/wp-content/uploads/2011/04/amanda-seyfried-400x316.jpg</string>
	</array>
	<key>18989</key>
	<array>
	  <string>http://www.popcrunch.com/wp-content/uploads/2009/12/Amanda-Seyfried-Leaving-Big-Love-500x634.jpg</string>
	</array>
	<key>18990</key>
	<array>
	  <string>http://www.shoppingblog.com/pics/amanda_seyfried_movado.jpg</string>
	</array>
	<key>18991</key>
	<array>
	  <string>http://images.askmen.com/photos/amanda-seyfried/amanda-seyfried-88449.jpg</string>
	</array>
	<key>18992</key>
	<array>
	  <string>http://www.premiere.fr/var/premiere/storage/images/racine/star/amanda-seyfried/15324689-2-fre-FR/Amanda-Seyfried_aLaUneDiaporama.jpg</string>
	</array>
	<key>18993</key>
	<array>
	  <string>http://images.starpulse.com/pictures/2007/10/10/previews/Amanda%20Seyfried-LRS-007519.jpg</string>
	</array>
	<key>18994</key>
	<array>
	  <string>http://backseatcuddler.com/wp-content/uploads/2009/10/amanda-seyfried-autism-speaks-benefit-2.jpg</string>
	</array>
	<key>18995</key>
	<array>
	  <string>http://starsmedia.ign.com/stars/image/article/953/953437/amanda-seyfried-20090211001014996_640w.jpg</string>
	</array>
	<key>18996</key>
	<array>
	  <string>http://www.teenidols4you.com/blink/Actors/AmandaSeyfried/AmandaSeyfried_1265691593.jpg</string>
	</array>
	<key>18997</key>
	<array>
	  <string>http://www.hotflick.net/flicks/2005_Alpha_Dog/005ADG_Amanda_Seyfried_021.jpg</string>
	</array>
	<key>18998</key>
	<array>
	  <string>http://thebosh.com/upload/2009/09/30/amanda_seyfried_said_it_was_uncomfortable_kissing_megan_fox/Amanda%20Seyfried.jpg</string>
	</array>
	<key>18999</key>
	<array>
	  <string>http://images.mirror.co.uk/upl/m4/mar2010/8/7/amanda-seyfried-for-esquire-image-2-474645722.jpg</string>
	</array>
	<key>19000</key>
	<array>
	  <string>http://images.mirror.co.uk/upl/m4/jun2009/8/9/03-06-09-image-4-868524524.jpg</string>
	</array>
</dict>
</plist>
