<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>760</key>
	<array>
	  <string>BIGBANG</string>
	  <string>BIGBANG</string>
	  <string>0</string>
	  <string>http://4.bp.blogspot.com/_-AEKV94IaF4/Sw5IBOqjyUI/AAAAAAAAHLs/34sPYc9pTBo/s400/big-bang-tour.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-14 17:42:10 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>227</key>
	<array>
	  <string>古天乐</string>
	  <string>古天乐</string>
	  <string>9</string>
	  <string>http://ent.people.com.cn/mediafile/200811/18/F200811181029512269330879.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-16 17:29:49 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>3</string>
	  <string>7</string>
	  <string>7</string>
	  <string>16</string>
	</array>
	<key>745</key>
	<array>
	  <string>hyde</string>
	  <string>hyde</string>
	  <string>4</string>
	  <string>http://blog-imgs-24-origin.fc2.com/v/o/l/volleyballers/hyde2.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-14 12:32:23 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>4</string>
	  <string>5</string>
	  <string>5</string>
	  <string>16</string>
	</array>
	<key>376</key>
	<array>
	  <string>周星驰</string>
	  <string>周星驰</string>
	  <string>1</string>
	  <string>0</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 10:29:52 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>254</key>
	<array>
	  <string>織田裕二</string>
	  <string>織田裕二</string>
	  <string>2</string>
	  <string>http://image.space.rakuten.co.jp/lg01/91/0001144591/58/img7f14015bzik7zj.jpeg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-17 14:20:15 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>2</string>
	  <string>2</string>
	  <string>2</string>
	  <string>16</string>
	</array>
	<key>707</key>
	<array>
	  <string>金城武</string>
	  <string>金城武</string>
	  <string>2</string>
	  <string>http://s.cinematoday.jp/res/A0/00/19/A0001976-00.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-13 06:46:46 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>2</string>
	  <string>2</string>
	  <string>2</string>
	  <string>16</string>
	</array>
	<key>361</key>
	<array>
	  <string>胡歌</string>
	  <string>胡歌</string>
	  <string>2</string>
	  <string>http://img9.9sky.com/picture/cpfm/_V2/4/43792/43792_a.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:55:13 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>2</string>
	  <string>2</string>
	  <string>16</string>
	</array>
	<key>658</key>
	<array>
	  <string>堺雅人</string>
	  <string>堺雅人</string>
	  <string>2</string>
	  <string>http://lucia-love.img.jugem.jp/20100322_718547.gif</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-11 12:28:56 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>682</key>
	<array>
	  <string>2PM</string>
	  <string>2PM</string>
	  <string>2</string>
	  <string>http://blog-imgs-32.fc2.com/g/o/g/goguma/llll.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-12 10:52:26 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>716</key>
	<array>
	  <string>top</string>
	  <string>top</string>
	  <string>2</string>
	  <string>0</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-13 09:55:23 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>691</key>
	<array>
	  <string>2AM</string>
	  <string>2AM</string>
	  <string>5</string>
	  <string>http://upload.wikimedia.org/wikipedia/commons/thumb/1/10/2AM-2008_Korea_Food_Expo_05(crop).png/250px-2AM-2008_Korea_Food_Expo_05(crop).png</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-12 12:20:00 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>3</string>
	  <string>3</string>
	  <string>3</string>
	  <string>16</string>
	</array>
	<key>351</key>
	<array>
	  <string>向井理</string>
	  <string>向井理</string>
	  <string>11</string>
	  <string>http://stat.profile.ameba.jp/profile_images/20091225/10/e2/e1/j/o015001501261706169039.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:35:44 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>10</string>
	  <string>10</string>
	  <string>10</string>
	  <string>16</string>
	</array>
	<key>744</key>
	<array>
	  <string>上田竜也</string>
	  <string>上田竜也</string>
	  <string>0</string>
	  <string>http://stat001.ameba.jp/user_images/cc/62/10139271281.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-14 12:30:54 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>708</key>
	<array>
	  <string>増田貴久</string>
	  <string>増田貴久</string>
	  <string>1</string>
	  <string>http://x86img.peps.jp/uimg/m/masslove123/2/d1bh86n4nhA.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-13 07:02:35 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>709</key>
	<array>
	  <string>岡田准一</string>
	  <string>岡田准一</string>
	  <string>2</string>
	  <string>http://stat001.ameba.jp/user_images/2d/22/10100407185.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-13 07:06:56 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>715</key>
	<array>
	  <string>羅志祥</string>
	  <string>羅志祥</string>
	  <string>0</string>
	  <string>http://japanese.cri.cn/mmsource/images/2009/01/16/xinwen20090116ww021.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-13 09:45:21 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>710</key>
	<array>
	  <string>劉德華</string>
	  <string>劉德華</string>
	  <string>1</string>
	  <string>http://blog-imgs-44.fc2.com/s/t/u/stuartjapan/201105230901320de.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-13 07:08:57 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>711</key>
	<array>
	  <string>伍佰</string>
	  <string>伍佰</string>
	  <string>1</string>
	  <string>http://img1.ifensi.com/channelimg/Image/zsy/2007/09/0408/500.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-13 07:32:55 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>693</key>
	<array>
	  <string>炎亚纶</string>
	  <string>炎亚纶</string>
	  <string>2</string>
	  <string>http://data.yule.sohu.com/star/pic/star/20/20153/default.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-12 13:02:26 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>2</string>
	  <string>2</string>
	  <string>2</string>
	  <string>16</string>
	</array>
	<key>236</key>
	<array>
	  <string>松本潤</string>
	  <string>松本潤</string>
	  <string>3</string>
	  <string>https://blog.so-net.ne.jp/_images/blog/_07a/matujunnau/E69DBEE69CACE6BDA4.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>2011-07-17 04:44:56 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>673</key>
	<array>
	  <string>基诺李维斯</string>
	  <string>基诺李维斯</string>
	  <string>0</string>
	  <string>http://a0.att.hudong.com/20/40/16300000440507125696403344531_s.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-12 02:21:51 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>681</key>
	<array>
	  <string>金在中</string>
	  <string>金在中</string>
	  <string>2</string>
	  <string>http://data.yule.baidu.com/images/20/209905.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-12 06:24:24 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>2</string>
	  <string>2</string>
	  <string>2</string>
	  <string>16</string>
	</array>
	<key>634</key>
	<array>
	  <string>东方神起</string>
	  <string>东方神起</string>
	  <string>14</string>
	  <string>http://www.chinataiwan.org/yl/wtxx/200804/W020080402530591930702.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-10 12:23:54 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>13</string>
	  <string>13</string>
	  <string>13</string>
	  <string>16</string>
	</array>
	<key>642</key>
	<array>
	  <string>justin bieber</string>
	  <string>justin bieber</string>
	  <string>4</string>
	  <string>http://www.web-songs.com/img2/j/justin_bieber.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-11 00:20:02 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>4</string>
	  <string>4</string>
	  <string>4</string>
	  <string>16</string>
	</array>
	<key>222</key>
	<array>
	  <string>木村拓哉</string>
	  <string>木村拓哉</string>
	  <string>5</string>
	  <string>http://blog-imgs-34.fc2.com/g/e/i/geinou704/0b42ce41.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-16 16:35:41 UTC</string>
	  <string>like best!!!</string>
	  <string>bestBeauty </string>
	  <string>2011-07-17 11:13:27 UTC</string>
	  <string>1</string>
	  <string>3</string>
	  <string>3</string>
	  <string>16</string>
	</array>
	<key>267</key>
	<array>
	  <string>岡田将生</string>
	  <string>岡田将生</string>
	  <string>2</string>
	  <string>http://www.stardust.co.jp/upload/talent/photo/1/124.L.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-18 00:10:58 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>2</string>
	  <string>2</string>
	  <string>2</string>
	  <string>16</string>
	</array>
	<key>635</key>
	<array>
	  <string>CNBlue</string>
	  <string>CNBlue</string>
	  <string>3</string>
	  <string>http://blog-imgs-35-origin.fc2.com/k/o/z/kozu127/CNBLUE.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-10 12:29:48 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>362</key>
	<array>
	  <string>林峰</string>
	  <string>林峰</string>
	  <string>4</string>
	  <string>http://beingz.files.wordpress.com/2008/01/6707127.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:56:21 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>2</string>
	  <string>4</string>
	  <string>4</string>
	  <string>16</string>
	</array>
	<key>664</key>
	<array>
	  <string>飞轮海</string>
	  <string>飞轮海</string>
	  <string>1</string>
	  <string>http://blog.so-net.ne.jp/_images/blog/_88d/youji/8154907.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-11 14:57:13 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>225</key>
	<array>
	  <string>谢霆锋</string>
	  <string>谢霆锋</string>
	  <string>1</string>
	  <string>http://bigtu.eastday.com/img/201004/15/94/16632987333162155610.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>2011-07-16 17:24:26 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>659</key>
	<array>
	  <string>舘ひろし</string>
	  <string>舘ひろし</string>
	  <string>1</string>
	  <string>http://talent.c.yimg.jp/images/talent/201107/large/m93/m93-1987-110714.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-11 12:30:40 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>660</key>
	<array>
	  <string>夕輝</string>
	  <string>夕輝</string>
	  <string>0</string>
	  <string>http://yaplog.jp/cv/jutta-sd/img/591/img20090316_t.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-11 13:20:34 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>663</key>
	<array>
	  <string>棒棒堂</string>
	  <string>棒棒堂</string>
	  <string>0</string>
	  <string>http://moonheart.g.ifensi.com/img/3/3186/logo.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-11 14:53:33 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>666</key>
	<array>
	  <string>吳元斌</string>
	  <string>吳元斌</string>
	  <string>1</string>
	  <string>http://static.koreastardaily.com/2010-11-05/36541-110189.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-11 15:01:31 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>649</key>
	<array>
	  <string>武艺</string>
	  <string>武艺</string>
	  <string>0</string>
	  <string>http://entimage.hunantv.com/uploads/images/large/20100626/26225J9B26_small.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-11 02:49:35 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>650</key>
	<array>
	  <string>周杰伦</string>
	  <string>周杰伦</string>
	  <string>0</string>
	  <string>http://blog-imgs-44.fc2.com/s/t/u/stuartjapan/20110522232901258.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-11 03:06:24 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>651</key>
	<array>
	  <string>言承旭</string>
	  <string>言承旭</string>
	  <string>0</string>
	  <string>http://stat.ameba.jp/user_images/bd/9f/10027337335.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-11 03:07:22 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>252</key>
	<array>
	  <string>上地雄輔</string>
	  <string>上地雄輔</string>
	  <string>1</string>
	  <string>http://storage.kanshin.com/free/img_3/32697/1687378366.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-17 14:18:26 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>323</key>
	<array>
	  <string>BEAST</string>
	  <string>BEAST</string>
	  <string>3</string>
	  <string>0</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-20 06:36:45 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>3</string>
	  <string>3</string>
	  <string>3</string>
	  <string>16</string>
	</array>
	<key>367</key>
	<array>
	  <string>潘玮柏</string>
	  <string>潘玮柏</string>
	  <string>1</string>
	  <string>http://a4.att.hudong.com/75/80/01300000214443122026806574134.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 09:02:13 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>375</key>
	<array>
	  <string>权相宇</string>
	  <string>权相宇</string>
	  <string>3</string>
	  <string>http://fashion.people.com.cn/mediafile/200911/09/F200911091025004230262036.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 10:23:53 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>3</string>
	  <string>3</string>
	  <string>3</string>
	  <string>16</string>
	</array>
	<key>374</key>
	<array>
	  <string>Rain</string>
	  <string>Rain</string>
	  <string>0</string>
	  <string>http://star.hallyu.jp/img8/rain-20080514.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 10:22:31 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>632</key>
	<array>
	  <string>tom Felton</string>
	  <string>tom Felton</string>
	  <string>0</string>
	  <string>http://trialx.com/curetalk/wp-content/blogs.dir/7/files/2011/04/gcelebrities/Tom_Felton-1.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-08-10 11:31:24 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>266</key>
	<array>
	  <string>小栗旬</string>
	  <string>小栗旬</string>
	  <string>2</string>
	  <string>http://blog.so-net.ne.jp/_images/blog/_58e/nyan_nyan_nyan/8039670.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-18 00:09:55 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>2</string>
	  <string>2</string>
	  <string>16</string>
	</array>
	<key>365</key>
	<array>
	  <string>张智霖</string>
	  <string>张智霖</string>
	  <string>1</string>
	  <string>http://gb.cri.cn/mmsource/images/2008/01/03/el080103150.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 09:00:04 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>16</string>
	</array>
	<key>234</key>
	<array>
	  <string>甄子丹</string>
	  <string>甄子丹</string>
	  <string>2</string>
	  <string>http://blog-imgs-32.fc2.com/n/a/i/naigaiko/spl04.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>2011-07-17 04:26:29 UTC</string>
	  <string>喜欢</string>
	  <string>Beautyちゃん</string>
	  <string>2011-07-17 04:27:48 UTC</string>
	  <string>0</string>
	  <string>2</string>
	  <string>2</string>
	  <string>16</string>
	</array>
	<key>233</key>
	<array>
	  <string>周润发</string>
	  <string>周润发</string>
	  <string>1</string>
	  <string>http://attach.hunantv.com/uploads/images/large/20080729/1540370.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>2011-07-17 03:55:54 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>232</key>
	<array>
	  <string>张国荣</string>
	  <string>张国荣</string>
	  <string>0</string>
	  <string>http://blog.cntv.cn/attachments/upfiles/images/00/00/9C/55.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>2011-07-17 03:52:08 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>220</key>
	<array>
	  <string>陈冠希</string>
	  <string>陈冠希</string>
	  <string>2</string>
	  <string>data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5Ojf/2wBDAQoKCg0MDRoPDxo3JR8lNzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzf/wAARCACOALcDASIAAhEBA</string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>2011-07-16 16:24:28 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>377</key>
	<array>
	  <string>楽しんご</string>
	  <string>楽しんご</string>
	  <string>0</string>
	  <string>0</string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>2011-07-21 11:00:45 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>371</key>
	<array>
	  <string>裴勇俊</string>
	  <string>裴勇俊</string>
	  <string>0</string>
	  <string>http://data.yule.baidu.com/images/10/101267.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 10:19:18 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>372</key>
	<array>
	  <string>张东健</string>
	  <string>张东健</string>
	  <string>0</string>
	  <string>http://jnimg.focus.cn/upload/photos/150124/vaA9QJdW.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 10:20:43 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>373</key>
	<array>
	  <string>安在旭</string>
	  <string>安在旭</string>
	  <string>0</string>
	  <string>http://data.yule.sohu.com/star/pic/star/8/8526/default.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 10:21:28 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>350</key>
	<array>
	  <string>山田親太朗</string>
	  <string>山田親太朗</string>
	  <string>0</string>
	  <string>0</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:34:27 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>352</key>
	<array>
	  <string>崎本大海</string>
	  <string>崎本大海</string>
	  <string>0</string>
	  <string>http://www.tamura-pro.jp/img/sakimoto.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:37:27 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>353</key>
	<array>
	  <string>渡部篤郎</string>
	  <string>渡部篤郎</string>
	  <string>0</string>
	  <string>http://s.cinematoday.jp/res/A0/00/05/A0000563-1.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:38:35 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>354</key>
	<array>
	  <string>安住紳一郎</string>
	  <string>安住紳一郎</string>
	  <string>0</string>
	  <string>http://img04.ti-da.net/usr/wishcomestrue/ET20070314164448113L1.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:41:12 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>355</key>
	<array>
	  <string>陆毅</string>
	  <string>陆毅</string>
	  <string>0</string>
	  <string>http://data.yule.baidu.com/images/10/101002.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:48:22 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>356</key>
	<array>
	  <string>孙红雷</string>
	  <string>孙红雷</string>
	  <string>0</string>
	  <string>http://yule.tom.com/uimg/2010/6/18/wangfang01/1276841187445_24613.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:50:16 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>357</key>
	<array>
	  <string>黄晓明</string>
	  <string>黄晓明</string>
	  <string>0</string>
	  <string>http://blog.ce.cn/sp1/blog_attachments/2007/10/99869_200710030958381.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:51:11 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>358</key>
	<array>
	  <string>韩寒</string>
	  <string>韩寒</string>
	  <string>0</string>
	  <string>0</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:51:57 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>359</key>
	<array>
	  <string>胡兵</string>
	  <string>胡兵</string>
	  <string>0</string>
	  <string>http://stat001.ameba.jp/user_images/16/6a/10094884550_s.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:52:51 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>360</key>
	<array>
	  <string>邓超</string>
	  <string>邓超</string>
	  <string>1</string>
	  <string>http://www.rftgd.gov.cn/node_9/node_29/img/2006/11/23/11642512991558_1.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:53:45 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>363</key>
	<array>
	  <string>吴彦祖</string>
	  <string>吴彦祖</string>
	  <string>0</string>
	  <string>http://cimg.163.com/ent/2005/11/12/20051112100527a9033.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:57:40 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>364</key>
	<array>
	  <string>李小龙</string>
	  <string>李小龙</string>
	  <string>0</string>
	  <string>http://news.xinhuanet.com/newscenter/2003-07/19/xinsrc_c4cf60a0e262449780cc9432245a2689.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-21 08:58:33 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>322</key>
	<array>
	  <string>谷原章介</string>
	  <string>谷原章介</string>
	  <string>0</string>
	  <string>http://www.japanmusic.jp/tanihara.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-20 04:28:33 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>325</key>
	<array>
	  <string>SHINee</string>
	  <string>SHINee</string>
	  <string>0</string>
	  <string>http://img2.blogs.yahoo.co.jp/ybi/1/b1/a3/yuki_s2_tvxq_ayu/folder/179073/img_179073_978134_0%3F1241961481</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-20 06:42:52 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>251</key>
	<array>
	  <string>佐藤健</string>
	  <string>佐藤健</string>
	  <string>0</string>
	  <string>http://image.blog.livedoor.jp/dorama_rank-satotakeru/imgs/2/6/26e97802.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-17 14:17:41 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>253</key>
	<array>
	  <string>市原隼人</string>
	  <string>市原隼人</string>
	  <string>0</string>
	  <string>http://image.blog.livedoor.jp/naohide_c/imgs/a/2/a232d2fc.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-17 14:19:12 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>263</key>
	<array>
	  <string>梁朝伟</string>
	  <string>梁朝伟</string>
	  <string>0</string>
	  <string>http://art.china.cn/huodong/dghn/attachement/jpg/site8/20100208/001ec92b90290cda071937.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-17 22:13:59 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>264</key>
	<array>
	  <string>亀梨和也</string>
	  <string>亀梨和也</string>
	  <string>0</string>
	  <string>0</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-18 00:08:09 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>265</key>
	<array>
	  <string>柏原崇</string>
	  <string>柏原崇</string>
	  <string>0</string>
	  <string>http://blog-imgs-38-origin.fc2.com/i/k/e/ikemenjuku/kashiwara_takashi15.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-18 00:09:07 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>268</key>
	<array>
	  <string>山下智久</string>
	  <string>山下智久</string>
	  <string>0</string>
	  <string>http://image.space.rakuten.co.jp/lg01/18/0001214318/87/img37337e56zikazj.jpeg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-18 00:11:41 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>269</key>
	<array>
	  <string>王力宏</string>
	  <string>王力宏</string>
	  <string>0</string>
	  <string>http://blog.sorachina.jp/wp-content/uploads/2010/07/wanglihong.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-18 00:13:02 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>228</key>
	<array>
	  <string>櫻井翔</string>
	  <string>櫻井翔</string>
	  <string>0</string>
	  <string>http://image.blog.livedoor.jp/choko44/imgs/5/a/5aeaab93.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-16 17:35:55 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>230</key>
	<array>
	  <string>林志颖</string>
	  <string>林志颖</string>
	  <string>1</string>
	  <string>http://blog-imgs-44.fc2.com/s/t/u/stuartjapan/201105201322301f3.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-17 03:43:04 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>235</key>
	<array>
	  <string>二宮和也</string>
	  <string>二宮和也</string>
	  <string>1</string>
	  <string>http://kamigata.up.seesaa.net/image/nino2.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>2011-07-17 04:39:43 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>237</key>
	<array>
	  <string>大野智</string>
	  <string>大野智</string>
	  <string>0</string>
	  <string>http://fileserver.k-plaza.com/blog/Files1/and60190/newFile_80.JPG</string>
	  <string>1</string>
	  <string>1</string>
	  <string>1</string>
	  <string>2011-07-17 04:48:37 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>238</key>
	<array>
	  <string>相葉雅紀</string>
	  <string>相葉雅紀</string>
	  <string>0</string>
	  <string>http://blog-imgs-38-origin.fc2.com/i/k/e/ikemenjuku/aiba_masaki05.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-17 04:49:40 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>239</key>
	<array>
	  <string>三浦春馬</string>
	  <string>三浦春馬</string>
	  <string>0</string>
	  <string>http://img4.blogs.yahoo.co.jp/ybi/1/f6/d3/ksatr_take/folder/293425/img_293425_2691136_4%3F1301271122</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-17 05:18:40 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>240</key>
	<array>
	  <string>上川隆也</string>
	  <string>上川隆也</string>
	  <string>0</string>
	  <string>http://trendy.nikkeibp.co.jp/lc/passion/080710_01.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-17 05:22:13 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>241</key>
	<array>
	  <string>葛山信吾</string>
	  <string>葛山信吾</string>
	  <string>0</string>
	  <string>http://seagz.fujitv.co.jp/person/photo/M93/M93-0860.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-17 05:25:45 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
	<key>226</key>
	<array>
	  <string>成龙</string>
	  <string>成龙</string>
	  <string>0</string>
	  <string>http://posters.7176.com/ren-pp/0000329/mQv2eBka3_1184786016.jpg</string>
	  <string>1</string>
	  <string>1</string>
	  <string>0</string>
	  <string>2011-07-16 17:27:34 UTC</string>
	  <string></string>
	  <string></string>
	  <string></string>
	  <string>0</string>
	  <string>0</string>
	  <string>0</string>
	  <string>16</string>
	</array>
</dict>
</plist>
